[Desktop Entry]
Encoding=UTF-8
Type=Service
X-KDE-PluginInfo-Author=Dawit Alemayehu,Martin Koller
X-KDE-PluginInfo-Email=adawit@kde.org,m.koller@surfeu.at
X-KDE-PluginInfo-Name=DirFilter
X-KDE-PluginInfo-Version=3.4
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Directory Filter
Name[ar]=مرشح الدليل
Name[bg]=Филтър на папки
Name[bs]=Filter direktorijuma
Name[ca]=Filtre de directoris
Name[ca@valencia]=Filtre de directoris
Name[cs]=Filtr adresářů
Name[da]=Mappefilter
Name[de]=Ordnerfilter-Modul
Name[el]=Φίλτρο καταλόγων
Name[en_GB]=Directory Filter
Name[es]=Filtro de carpeta
Name[et]=Kataloogifilter
Name[eu]=Direktorioen iragazkia
Name[fi]=Kansiosuodatin
Name[fr]=Filtre de dossiers
Name[ga]=Scagaire Comhadlainne
Name[gl]=Filtraxe de cartafoles
Name[he]=מסנן תיקייה
Name[hne]=डिरेक्टरी फिल्टर
Name[hr]=Filtar direktorija
Name[hu]=Könyvtárszűrő
Name[ia]=Filtro de Directorio
Name[id]=Filter Direktori
Name[is]=Möppusía
Name[it]=Filtro cartella
Name[ja]=ディレクトリフィルタ
Name[kk]=Каталог сүзгісі
Name[km]=តម្រង​ថត
Name[ko]=디렉터리 필터
Name[ku]=Parzûna Peldankan
Name[lt]=Aplankų filtras
Name[lv]=Mapju filtrs
Name[mr]=संचयीका गाळणी
Name[nb]=Katalogfilter
Name[nds]=Ornerfilter
Name[nl]=Mappenfilter
Name[nn]=Mappefilter
Name[pa]=ਡਾਇਰੈਕਟਰੀ ਫਿਲਟਰ
Name[pl]=Filtr katalogu
Name[pt]=Filtro de Pastas
Name[pt_BR]=Filtro de diretório
Name[ro]=Filtru de directoare
Name[ru]=Фильтр каталогов
Name[sk]=Filter adresárov
Name[sl]=Filter map
Name[sr]=Филтер фасцикли
Name[sr@ijekavian]=Филтер фасцикли
Name[sr@ijekavianlatin]=Filter fascikli
Name[sr@latin]=Filter fascikli
Name[sv]=Katalogfilter
Name[tg]=Филтри феҳраст
Name[th]=กรองไดเรกทอรี
Name[tr]=Dizin Filtreleyici
Name[ug]=مۇندەرىجە سۈزگۈچ
Name[uk]=Фільтр каталогів
Name[wa]=Passete des ridants
Name[x-test]=xxDirectory Filterxx
Name[zh_CN]=目录过滤器
Name[zh_TW]=目錄過濾器
Comment=Filter directory view using an attribute filter
Comment[ar]=عرض مُرشِّح الدليل باستعمال مرشح الصفة
Comment[bg]=Филтриране изгледа на папките
Comment[bs]=Filtrira prikaz direktorijuma pomoću filtera atributa
Comment[ca]=Filtra la vista de directoris usant un filtre d'atributs
Comment[ca@valencia]=Filtra la vista de directoris usant un filtre d'atributs
Comment[cs]=Podle atributů filtruje zobrazení adresářů
Comment[da]=Filtrér mappevisning efter attributter.
Comment[de]=Filtert die Ordneransicht anhand von Attributen
Comment[el]=Προβολή φίλτρου καταλόγων με χρήση φιλτραρίσματος ιδιοτήτων
Comment[en_GB]=Filter directory view using an attribute filter
Comment[es]=Vista de filtro de carpeta utilizando un atributo de filtrado
Comment[et]=Kataloogivaate filtreerimine omaduste filtri abil
Comment[eu]=Iragazi direktorioen ikuspegia atributuaren iragazki bat erabiliz
Comment[fi]=Suodata kansionäkymää käyttäen attribuuttisuodatinta
Comment[fr]=Filtre d'affichage des dossiers en utilisant un filtre d'attribut
Comment[ga]=Scag an t-amharc comhadlainne le scagaire tréithe
Comment[gl]=Filtra a vista dos cartafoles usando un filtro de atributos
Comment[he]=סנן תצוגת תיקייה באמצעות מסנן תכונה
Comment[hne]=गुन छनइया के परयोग करत करत डिरेक्टरी दृस्य छनइया करव
Comment[hr]=Filtriraj prikaz direktorija koristeći atribucijski filtar
Comment[hu]=A könyvtárnézet szűrése attribútumszűrő használatával
Comment[ia]=Filtra vista de directorio usante un filtro de attributo
Comment[id]=Filter tampilan direktori menggunakan filter atribusi
Comment[is]=Sía möppusýn með eigindasíu
Comment[it]=Filtra la vista a cartella usando un filtro
Comment[ja]=属性フィルタを使ってディレクトリビューを絞り込みます
Comment[kk]=Атрибуттар сүзгісінің көмегімен каталогтың көрінісін сүзгілеу
Comment[km]=តម្រង​ទិដ្ឋភាព​ថត​ដោយ​ប្រើ​តម្រង​គុណ​លក្ខណៈ
Comment[ko]=속성 필터를 사용하여 디렉터리 보기 거르기
Comment[ku]=Parzûna dîtina peldankan bi parzûna çawanî re
Comment[lt]=Filtruoti aplanką naudojant atributų filtrą
Comment[lv]=Filtrē mapju skatu, izmantojot atribūtu filtru
Comment[nb]=Filtrer mappevisning ved å bruke et attributtfilter
Comment[nds]=Orneransicht över Attributen filtern
Comment[nl]=Filter de mapinhoud
Comment[nn]=Filtrer mappevising ved bruk av attributtfilter
Comment[pa]=ਇੱਕ ਗੁਣ ਫਿਲਟਰ ਦੀ ਵਰਤੋਂ ਕਰਕੇ ਡਾਇਰੈਕਟਰੀ ਵੇਖਣ ਫਿਲਟਰ
Comment[pl]=Filtruje widok katalogu przy użyciu filtra atrybutów
Comment[pt]=Filtra a visualização da pasta com um filtro de atributos
Comment[pt_BR]=Filtra a visualização do diretório usando um filtro de atributos
Comment[ro]=Filtrează vederea de directoare folosind un filtru de atribute
Comment[ru]=Отфильтровать каталоги по атрибуту
Comment[sk]=Podľa atribútov filtruje zobrazenie adresárov
Comment[sl]=Filtrira mape glede na izbrane lastnosti
Comment[sr]=Филтрира приказ фасцикли помоћу филтера атрибута
Comment[sr@ijekavian]=Филтрира приказ фасцикли помоћу филтера атрибута
Comment[sr@ijekavianlatin]=Filtrira prikaz fascikli pomoću filtera atributa
Comment[sr@latin]=Filtrira prikaz fascikli pomoću filtera atributa
Comment[sv]=Filtrerar katalogvyn med användning av ett egenskapsfilter
Comment[tg]=Намоиши филтри феҳраст аз рӯи хусусияти филтр
Comment[th]=กรองการแสดงไดเรกทอรี โดยใช้ตัวกรองคุณลักษณะ
Comment[tr]=Dizin görünümünü öznitelik süzgecinden geçir
Comment[ug]=خاسلىق سۈزگۈچكە ئىشلىتىلىدىغان سۈزگۈچ مۇندەرىجە كۆرۈنۈشى
Comment[uk]=Фільтрування перегляду каталогів за допомогою фільтра атрибутів
Comment[wa]=Passer al passete li vuwe e ridant e s' siervant d' en passete d' atribut
Comment[x-test]=xxFilter directory view using an attribute filterxx
Comment[zh_CN]=使用一个属性过滤器过滤目录视图
Comment[zh_TW]=使用屬性來過濾目錄檢視
Icon=view-filter
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/dirfilter/index.html
