[Desktop Entry]
Exec=kdepasswd
Icon=preferences-desktop-user-password
Type=Application
Categories=Qt;KDE;Settings;
NoDisplay=true
X-DBUS-StartupType=Unique
Name=Change Password
