[Desktop Entry]
Exec=kdepasswd
Icon=preferences-desktop-user-password
Type=Application
Categories=Qt;KDE;Settings;
NoDisplay=true
X-DBUS-StartupType=Unique
Name=Change Password
Name[af]=Verander Wagwoord
Name[ar]=غيّر كلمة السر
Name[as]=গুপ্তশব্দ সলনি কৰক
Name[ast]=Camudar la contraseña
Name[be]=Змяніць пароль
Name[be@latin]=Źmiena parola
Name[bg]=Промяна на парола
Name[bn]=পাসওয়ার্ড পরিবর্তন
Name[bn_IN]=পাসওয়ার্ড পরিবর্তন
Name[br]=Kemmañ an Tremenger
Name[bs]=Promijeni lozinku
Name[ca]=Canvia contrasenya
Name[ca@valencia]=Canvia contrasenya
Name[cs]=Změna hesla
Name[csb]=Zmieni parolã
Name[cy]=Newid Cyfrinair
Name[da]=Skift adgangskode
Name[de]=Passwort ändern
Name[el]=Αλλαγή κωδικού πρόσβασης
Name[en_GB]=Change Password
Name[eo]=Ŝanĝi la pasvorton
Name[es]=Cambiar la contraseña
Name[et]=Parooli muutmine
Name[eu]=Aldatu pasahitza
Name[fa]=تغییر اسم رمز
Name[fi]= 
Name[fr]=Modifier le mot de passe
Name[fy]=Wachtwurd wizigje
Name[ga]=Athraigh Focal Faire
Name[gl]=Mudar o contrasinal
Name[gu]=પાસવર્ડ બદલો
Name[he]=שינוי סיסמה
Name[hi]=पासवर्ड बदलें
Name[hne]=पासवर्ड बदलव
Name[hr]=Promjena lozinke
Name[hsb]=Hesło změnić
Name[hu]=Jelszóváltoztatás
Name[ia]=Cambia contrasigno
Name[id]=Ubah Sandi
Name[is]=Breyta lykilorði
Name[it]=Cambia password
Name[ja]=パスワードを変更
Name[ka]=პაროლის შეცვლა
Name[kk]=Парольді өзгерту
Name[km]=ផ្លាស់ប្ដូរ​ពាក្យ​សម្ងាត់
Name[kn]=ಗುಪ್ತಪದವನ್ನು (ಪಾಸ್ ವರ್ಡ್) ಬದಲಾಯಿಸು
Name[ko]=암호 변경
Name[ku]=Nasnavê Biguherîne
Name[lt]=Pakeiskite slaptažodį
Name[lv]=Mainīt paroli
Name[mai]=कूटशब्द बदलू
Name[mk]=Измени лозинка
Name[ml]=അടയാളവാക്ക് മാറ്റുക
Name[mr]=गुप्तशब्द बदला
Name[ms]=Ubah Kata Laluan
Name[nb]=Endre passord
Name[nds]=Passwoort ännern
Name[ne]=पासवर्ड परिवर्तन गर्नुहोस्
Name[nl]=Wachtwoord wijzigen
Name[nn]=Endra passord
Name[oc]=Modificar lo mot de pas
Name[or]=ପ୍ରବେଶ ସଂକେତ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Name[pa]=ਪਾਸਵਰਡ ਬਦਲੋ
Name[pl]=Zmień hasło
Name[pt]=Mudar a Senha
Name[pt_BR]=Alterar senha
Name[ro]=Schimbare parolă
Name[ru]=Изменить пароль
Name[se]=Rievdat beassansáni
Name[si]=රහස්පදය වෙනස් කරන්න
Name[sk]=Zmena hesla
Name[sl]=Spremeni geslo
Name[sr]=Промени лозинку
Name[sr@ijekavian]=Промијени лозинку
Name[sr@ijekavianlatin]=Promijeni lozinku
Name[sr@latin]=Promeni lozinku
Name[sv]=Ändra lösenord
Name[ta]=கடவுச்சொல்லை மாற்று
Name[te]=పాస్ వర్డు మార్చండి
Name[tg]=Ивази парол
Name[th]=เปลี่ยนรหัสผ่าน
Name[tr]=Parola Değiştir
Name[ug]=ئىم ئۆزگەرتىش
Name[uk]=Зміна пароля
Name[uz]=Maxfiy soʻzni oʻzgartirish
Name[uz@cyrillic]=Махфий сўзни ўзгартириш
Name[vi]=Đổi mật khẩu
Name[wa]=Candjî li scret
Name[x-test]=xxChange Passwordxx
Name[zh_CN]=更改密码
Name[zh_TW]=改變密碼
