[Desktop Entry]
Encoding=UTF-8
Exec=kdepasswd
Icon=password
Type=Application
Categories=Qt;KDE;Settings;
NoDisplay=true
X-DBUS-StartupType=Unique
Name=Change Password
Name[el]=Αλλαγή κωδικού πρόσβασης
Name[fr]=Modifier le mot de passe
Name[x-test]=xxChange Passwordxx
