[Desktop Entry]
Type=Service
Comment=Embeddable HTML component
Comment[gl]=Componente HTML integrábel
Comment[nds]=Inbettbor HTML-Komponent
Comment[pt]=Componente de HTML incorporada
Comment[sv]=Inbäddningsbar HTML-komponent
Comment[uk]=Вмонтований HTML-компонент
MimeType=text/html;application/xml;application/xhtml+xml;
Icon=webkit
Name=WebKit
Name[sv]=Webkit
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=webkitkdepart
InitialPreference=9
