<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="webkitpart" version="4">
<MenuBar>
 <Menu name="file"><text>&amp;File</text>
  <Action name="saveDocument" />
  <Action name="saveFrame" />
  <Separator />
  <Action name="printFrame" group="print" />
 </Menu>
 <Menu name="edit"><text>&amp;Edit</text>
  <Action name="selectAll" />
  <Separator />
  <Action name="find" />
 </Menu>
 <Menu name="view"><text>&amp;View</text>
  <Action name="incFontSizes" />
  <Action name="decFontSizes" />
  <Action name="viewDocumentSource" />
  <ActionList name="debugScriptList" />
 </Menu>
</MenuBar>
<ToolBar name="htmlToolBar" iconText="icononly" iconSize="22" hidden="true"><text>HTML Toolbar</text>
 <Action name="incFontSizes" />
 <Action name="decFontSizes" />
</ToolBar>
</kpartgui>
