[Desktop Entry]
Type=Service
Comment=Embeddable HTML component
Comment[bg]=Компонент на HTML за вграждане
Comment[da]=HTML-komponent som kan indlejres
Comment[de]=Einbettungsfähige HTML-Komponente
Comment[el]=Ενσωματώσιμο συστατικό HTML
Comment[en_GB]=Embeddable HTML component
Comment[es]=Componente de HTML empotrable
Comment[et]=Põimitav HTML-komponent
Comment[fr]=Composant HTML intégrable
Comment[ga]=Comhpháirt Inleabaithe HTML
Comment[gl]=Compoñente HTML integrábel
Comment[km]=សមាសធាតុ HTML ដែល​អាច​បង្កប់​បាន
Comment[lt]=Įdedamas HTML komponentas
Comment[ml]=എംബഡബിള്‍ ആയിട്ടുള്ള എച്ച്ടിഎംഎല്‍ ഘടകം
Comment[ms]=Komponen HTML boleh lekap
Comment[nds]=Inbettbor HTML-Komponent
Comment[nl]=Inbedbare HTML-component
Comment[nn]=Innebyggbar HTML-komponent
Comment[pa]=ਇੰਬੈੱਡਡ HTML ਭਾਗ
Comment[pt]=Componente de HTML incorporada
Comment[pt_BR]=Componente HTML que pode ser embutido
Comment[ro]=Componentă HTML înglobată
Comment[sv]=Inbäddningsbar HTML-komponent
Comment[tg]=Қисми дарунсохтшавандаи HTML
Comment[th]=องค์ประกอบ HTML ที่สามารถฝังได้
Comment[tr]=Gömülebilir HTML bileşeni
Comment[uk]=Вмонтований HTML-компонент
Comment[x-test]=xxEmbeddable HTML componentxx
Comment[zh_CN]=嵌入式 HTML 组件
Comment[zh_TW]=可內嵌的 HTML 元件
MimeType=text/html;application/xml;application/xhtml+xml;
Icon=webkit
Name=WebKit
Name[bg]=WebKit
Name[cs]=WebKit
Name[da]=WebKit
Name[de]=WebKit
Name[el]=WebKit
Name[en_GB]=WebKit
Name[es]=WebKit
Name[et]=WebKit
Name[fr]=WebKit
Name[ga]=WebKit
Name[gl]=WebKit
Name[km]=WebKit
Name[lt]=WebKit
Name[ml]=വെബ്കിറ്റ്
Name[ms]=WebKit
Name[nds]=WebKit
Name[nl]=WebKit
Name[nn]=WebKit
Name[pa]=ਵੈੱਬਕਿੱਟ
Name[pt]=WebKit
Name[pt_BR]=WebKit
Name[ro]=WebKit
Name[sv]=Webkit
Name[tg]=WebKit
Name[th]=WebKit
Name[tr]=WebKit
Name[uk]=WebKit
Name[x-test]=xxWebKitxx
Name[zh_CN]=WebKit
Name[zh_TW]=WebKit
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=webkitkdepart
InitialPreference=9
