[Desktop Entry]
Type=Service
Comment=Embeddable HTML component
MimeType=text/html;application/xml;application/xhtml+xml;
Icon=webkit
Name=WebKit
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=webkitpart
InitialPreference=9
