[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=babelfish
X-KDE-PluginInfo-Author=Kurt Granroth, Rand2342
X-KDE-PluginInfo-Email=granroth@kde.org, rand2342@yahoo.com
X-KDE-PluginInfo-Name=babelfish
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Translate
Name[ar]=ترجم
Name[be]=Перакласці
Name[bg]=Превеждане
Name[bs]=Prevedi
Name[ca]=Traducció
Name[ca@valencia]=Traducció
Name[cs]=Přeložit
Name[da]=Oversættelse
Name[de]=Übersetzen
Name[el]=Μετάφραση
Name[en_GB]=Translate
Name[eo]=Traduki
Name[es]=Traducir
Name[et]=Tõlkimine
Name[eu]=Itzuli
Name[fi]=Käännä
Name[fr]=Traduire
Name[ga]=Aistrigh
Name[gl]=Traducir
Name[he]=תרגום
Name[hne]=अनुवाद
Name[hr]=Prevedi
Name[hu]=Fordítás
Name[ia]=Traduce
Name[id]=Terjemahan
Name[is]=Þýða
Name[it]=Traduci
Name[ja]=翻訳
Name[kk]=Аудару
Name[km]=បកប្រែ​
Name[ko]=번역
Name[ku]=Wergerîne
Name[lt]=Išversti
Name[lv]=Tulkot
Name[mai]=अनुवाद
Name[mr]=भाषांतर
Name[ms]=Terjemah
Name[nb]=Oversett
Name[nds]=Översetten
Name[nl]=Vertalen
Name[nn]=Set om
Name[oc]=Revirar
Name[pa]=ਅਨੁਵਾਦ
Name[pl]=Przetłumacz
Name[pt]=Traduzir
Name[pt_BR]=Traduzir
Name[ro]=Tradu
Name[ru]=Перевести
Name[sk]=Preložiť
Name[sl]=Prevajanje
Name[sr]=Преведи
Name[sr@ijekavian]=Преведи
Name[sr@ijekavianlatin]=Prevedi
Name[sr@latin]=Prevedi
Name[sv]=Översätt
Name[tg]=Тарҷума кунед
Name[th]=แปลภาษา
Name[tr]=Çevir
Name[ug]=تەرجىمە
Name[uk]=Переклад
Name[wa]=Ratourner
Name[x-test]=xxTranslatexx
Name[zh_CN]=翻译
Name[zh_TW]=翻譯
Comment=Language translation for the current page using Google
Comment[bg]=Превеждане на текущата страница с помощта на Google
Comment[bs]=Prevod trenutne stranicu koristeći Gogle
Comment[ca]=Traducció d'idioma per a la pàgina actual usant el Google
Comment[ca@valencia]=Traducció d'idioma per a la pàgina actual usant el Google
Comment[cs]=Překlad aktuální stránky do vybraného jazyka pomocí Google
Comment[da]=Sprogoversættelse af den aktuelle side med Google
Comment[de]=Übersetzt die Sprache der aktuellen Webseite mit Hilfe von Google
Comment[el]=Μετάφραση της τρέχουσας σελίδας με χρήση Google
Comment[en_GB]=Language translation for the current page using Google
Comment[es]=Traducción de idioma para la página actual utilizando Google
Comment[et]=Aktiivse lehekülje tõlkimine Google'i abil
Comment[fi]=Nykyisen sivun kääntäminen toiselle kielelle käyttäen Googlea
Comment[fr]=Traduction de la langue de la page actuelle à l'aide de Google
Comment[gl]=Tradución da páxina actual usando Google
Comment[he]=תרגום שפת הדף הנוכחי באמצעות Google
Comment[hu]=Az aktuális oldal fordítása a Google használatával
Comment[ia]=Traduction de linguage pro le pagina currente usante Google
Comment[id]=Terjemahan bahasa untuk halaman saat ini menggunakan Google
Comment[is]=Þýða tungumál síðunnar með Google
Comment[it]=Traduzione della pagina corrente usando Google
Comment[kk]=Google-дің көмегімен ашылған бетті басқа тілге аудару
Comment[ko]=Google을 사용하여 현재 페이지의 언어를 번역하기
Comment[lt]=Šio puslapio kalbos vertimas naudojant Google
Comment[nb]=Språkoversettelse for gjeldende side, ved bruk av Google
Comment[nds]=Översetten vun de aktuelle Nettsiet mit Google
Comment[nl]=Vertaalt de huidige webpagina met behulp van Google
Comment[nn]=Omsetjing av den gjeldande sida ved bruk av Google
Comment[pa]=ਮੌਜੂਦਾ ਪੇਜ਼ ਦਾ ਗੂਗਲ ਰਾਹੀਂ ਭਾਸ਼ਾ ਅਨੁਵਾਦ
Comment[pl]=Tłumaczenia dla bieżącej strony przy użyciu Google
Comment[pt]=Traduzir a língua da página actual com o Google
Comment[pt_BR]=Tradução da página atual usando o Google
Comment[ro]=Traducerea lingvistică pentru pagina curentă folosind Google
Comment[ru]=Перевод текущей страницы с помощью Google
Comment[sk]=Preklad aktuálnej stránky pomocou Google
Comment[sl]=Prevod trenutne strani z uporabo Googla
Comment[sr]=Преведи тренутну страницу Гуглом
Comment[sr@ijekavian]=Преведи тренутну страницу Гуглом
Comment[sr@ijekavianlatin]=Prevedi trenutnu stranicu Googleom
Comment[sr@latin]=Prevedi trenutnu stranicu Googleom
Comment[sv]=Översättning av språk för den aktuella sidan med Google
Comment[tr]=Yürürlükteki sayfayı Google ile çevir
Comment[uk]=Переклад поточної сторінки за допомогою Google
Comment[x-test]=xxLanguage translation for the current page using Googlexx
Comment[zh_CN]=使用 Google 对当前页面的翻译
Comment[zh_TW]=使用 Google 對目前頁面做翻譯
Icon=babelfish
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/babel/index.html
