[Desktop Entry]
MountPoint=
Dev=
ReadOnly=0
Type=FSDevice
Icon=media-optical-recordable
Actions=Eject;
X-KDE-Priority=TopLevel
[Desktop Action Eject]
Name=Eject
Exec=kdeeject %v
