[Desktop Entry]
MountPoint=
Dev=
ReadOnly=0
Type=FSDevice
Icon=media-optical-recordable
Actions=Eject;
X-KDE-Priority=TopLevel
[Desktop Action Eject]
Name=Eject
Name[af]=Uitskiet
Name[ar]=أخرِج
Name[as]=বাহিৰ কৰক
Name[ast]=Espulsar
Name[be]=Выштурхнуць
Name[be@latin]=Vysuń
Name[bg]=Изваждане
Name[bn]=ইজেক্ট
Name[bn_IN]=বহিষ্কার
Name[br]=Stlepel
Name[bs]=Izbaci
Name[ca]=Expulsa
Name[ca@valencia]=Expulsa
Name[cs]=Vysunout
Name[csb]=Wësënie
Name[cy]=Allfwrw
Name[da]=Skub ud
Name[de]=Auswerfen
Name[el]=Εξαγωγή
Name[en_GB]=Eject
Name[eo]=Eligi
Name[es]=Expulsar
Name[et]=Väljasta
Name[eu]=Egotzi
Name[fa]=پس زدن
Name[fi]=Poista asemasta
Name[fr]=Éjecter
Name[fy]=Utsmytknop
Name[ga]=Díchuir
Name[gl]=Expulsar
Name[gu]=બહાર નીકાળો
Name[he]=שליפה
Name[hi]=बाहर करें
Name[hne]=बाहिर करव
Name[hr]=Izbaci
Name[hsb]=Wućisnyć
Name[hu]=Kidobás
Name[ia]=Expelle
Name[id]=Keluarkan
Name[is]=Henda út
Name[it]=Espelli
Name[ja]=イジェクト
Name[ka]=CD-ს ამოღება
Name[kk]=Алып-шығару
Name[km]=ច្រាន​ចេញ
Name[kn]=ಹೊರತಳ್ಳು
Name[ko]=꺼내기
Name[ku]=Biavêje
Name[lt]=Išmesti
Name[lv]=Izgrūst
Name[mai]=बाहर निकालू
Name[mk]=Извади
Name[ml]=പുറത്തെടുക്കുക
Name[mr]=बाहेर काढा
Name[ms]=Lenting
Name[nb]=Løs ut
Name[nds]=Rutfohren
Name[nl]=Uitwerpen
Name[nn]=Løys ut
Name[oc]=Ejectar
Name[or]=ବାହାର କରନ୍ତୁ
Name[pa]=ਬਾਹਰ ਕੱਢੋ
Name[pl]=Wysuń
Name[pt]=Ejectar
Name[pt_BR]=Ejetar
Name[ro]=Scoate suportul
Name[ru]=Извлечь диск
Name[se]=Bálkes olggos
Name[si]=ඉවත් කරන්න
Name[sk]=Vysunúť
Name[sl]=Izvrzi
Name[sr]=Избаци
Name[sr@ijekavian]=Избаци
Name[sr@ijekavianlatin]=Izbaci
Name[sr@latin]=Izbaci
Name[sv]=Mata ut
Name[ta]=வெளித்தள்
Name[te]=ఎజెక్ట్
Name[tg]=Баровардан
Name[th]=เอาแผ่นสื่อออก
Name[tr]=Çıkart
Name[ug]=چىقار
Name[uk]=Виштовхнути
Name[uz]=Chiqarish
Name[uz@cyrillic]=Чиқариш
Name[vi]=Đẩy ra
Name[wa]=Fé rexhe
Name[xh]=Khuphela ngaphandle
Name[x-test]=xxEjectxx
Name[zh_CN]=弹出
Name[zh_TW]=退出
Exec=kdeeject %v
