[Desktop Entry]
Encoding=UTF-8
MountPoint=
Dev=
ReadOnly=0
Type=FSDevice
Icon=cdwriter_mount
UnmountIcon=cdwriter_unmount
Actions=Eject;
X-KDE-Priority=TopLevel
[Desktop Action Eject]
Name=Eject
Name[es]=Expulsar
Name[ja]=イジェクト
Name[nl]=Uitwerpen
Name[pt]=Ejectar
Name[pt_BR]=Ejectar
Name[sv]=Mata ut
Exec=kdeeject %v
