[Desktop Entry]
Encoding=UTF-8
Name=Folder...
Name[es]=Carpeta...
Name[ja]=フォルダ...
Name[pt]=Pasta...
Name[pt_BR]=Pasta...
Name[sv]=Katalog...
Comment=Enter folder name:
Comment[es]=Introducir el nombre de la carpeta:
Comment[ja]=フォルダ名を入力:
Comment[pt]=Indique o nome da pasta:
Comment[pt_BR]=Indique o nome da pasta:
Comment[sv]=Ange katalognamn:
Type=Link
URL=.source/emptydir
Icon=folder
