[Desktop Entry]
Encoding=UTF-8
Name=Folder...
Name[af]=Gids...
Name[be]=Тэчка...
Name[br]=Renkell ...
Name[ca]=Carpeta...
Name[cy]=Plygell...
Name[da]=Mappe...
Name[eo]=Dosierujo
Name[et]=Kataloog...
Name[eu]=Karpeta...
Name[fi]=Kansio...
Name[fr]=Dossier...
Name[fy]=Map...
Name[ga]=Fillteán...
Name[gl]=Cartafol...
Name[hr]=Mapa...
Name[hu]=Könyvtár...
Name[is]=Mappa...
Name[ka]=საქაღალდე...
Name[lt]=Aplankas...
Name[lv]=Mape...
Name[mk]=Папка...
Name[nds]=Orner...
Name[ne]=फोल्डर...
Name[pl]=Katalog...
Name[ru]=Папку...
Name[ta]=அடைவு...
Name[tr]=Dizin...
Name[uk]=Тека...
Name[uz]=Жилд
Name[vi]=Thư mục...
Comment=Enter folder name:
Comment[af]=Voer gidsnaam in:
Comment[be]=Вызначце назву тэчкі:
Comment[br]=Roit un anv ar renkell :
Comment[ca]=Entra el nom de la carpeta:
Comment[cy]=Mewnosodwch enw'r plygell:
Comment[da]=Indtast mappenavn:
Comment[eo]=Enigu novan dosierujonomon:
Comment[et]=Sisesta kataloogi nimi:
Comment[eu]=Sartu karpetaren izena:
Comment[fi]=Anna kansion nimi:
Comment[fr]=Donnez le nom du dossier :
Comment[fy]=Mapname ynfiere:
Comment[ga]=Iontráil ainm an fhillteáin:
Comment[gl]=Introduza o nome do cartafol:
Comment[hr]=Unesite naziv mape:
Comment[hu]=A könyvtár neve:
Comment[is]=Sláðu inn möppunafn:
Comment[ka]=შეიყვანეთ საქაღალდის სახელი:
Comment[lt]=Įveskite aplanko vardą:
Comment[lv]=Ievadiet mapes nosaukumu:
Comment[mk]=Внесете го името на папката:
Comment[ms]=Masukkan nama folder:
Comment[nds]=Ornernaam ingeven:
Comment[ne]=फोल्डर नाम प्रविष्ट गर्नुहोस्:
Comment[pl]=Podaj nazwę katalogu:
Comment[ro]=Introduceţi numele folderului:
Comment[ru]=Введите имя папки:
Comment[ta]=அடைவின் பெயரை உள்ளிடு:
Comment[tr]=Dizin adını girin:
Comment[uk]=Введіть назву теки:
Comment[uz]=Жилднинг номини киритинг:
Comment[vi]=Điền tên thư mục:
Type=Link
URL=.source/emptydir
Icon=folder
