[Desktop Entry]
MountPoint=
Dev=
ReadOnly=false
Type=FSDevice
Icon=media-optical
Actions=Eject;
X-KDE-Priority=TopLevel
[Desktop Action Eject]
Name=Eject
Exec=kdeeject %v
