[Desktop Action Format]
Exec=kfloppy %v
# ctxt: Starts a program to format a floppy drive
Name=Format

[Desktop Entry]
Actions=Format;
MountPoint=
Dev=
ReadOnly=false
Type=FSDevice
Icon=media-floppy
X-KDE-Priority=TopLevel
