[Desktop Action Format]
Exec=kfloppy %v
# ctxt: Starts a program to format a floppy drive
Name=Format
Name[x-test]=xxFormatxx

[Desktop Entry]
Actions=Format;
MountPoint=
Dev=
ReadOnly=false
Type=FSDevice
Icon=3floppy_mount
UnmountIcon=3floppy_unmount
X-KDE-Priority=TopLevel
