[Desktop Entry]
Encoding=UTF-8
Name=HTML File...
Name[bg]=HTML файл...
Name[es]=Archivos HTML...
Name[ja]=HTML ファイル...
Name[nl]=HTML-bestand...
Name[pt]=Ficheiro HTML...
Name[pt_BR]=Ficheiro HTML...
Name[sv]=HTML-fil...
Comment=Enter HTML filename:
Comment[bg]=Въведете името на HTML файла:
Comment[es]=Introducir el nombre de archivo HTML:
Comment[ja]=HTML ファイル名を入力:
Comment[nl]=Naam van HTML-bestand invoeren:
Comment[pt]=Indique o nome do ficheiro HTML:
Comment[pt_BR]=Indique o nome do ficheiro HTML:
Comment[sv]=Ange HTML-filnamn:
Type=Link
URL=.source/HTMLFile.html
Icon=html
