[Desktop Entry]
Encoding=UTF-8
Name=HTML File...
Name[af]=HTML Lêer...
Name[ar]=ملف لغة علامات النصّ الفائق...
Name[bg]=Файл HTML...
Name[br]=Restr HTML ...
Name[ca]=Fitxer HTML...
Name[cs]=HTML soubor...
Name[cy]=Ffeil HTML...
Name[da]=HTML-fil...
Name[de]=HTML-Datei ...
Name[el]=Αρχείο HTML...
Name[eo]=HTML-dosiero...
Name[es]=Archivo HTML...
Name[et]=HTML-fail...
Name[eu]=HTML fitxategia...
Name[fa]=پروندۀ‌ زنگام...
Name[fi]=HTML-tiedosto...
Name[fr]=Fichier HTML...
Name[fy]=HTML-triem.......
Name[ga]=Comhad HTML...
Name[gl]=Ficheiro HTML...
Name[he]=קובץ HTML...
Name[hr]=HTML datoteka...
Name[hu]=HTML-fájl...
Name[is]=HTML skrá...
Name[it]=File HTML...
Name[ja]=HTML ファイル...
Name[ka]=HTML ფაილი...
Name[kk]=HTML файлы...
Name[km]=ឯកសារ HTML...
Name[lt]=HTML byla...
Name[lv]=HTML Fails...
Name[mk]=HTML датотека...
Name[ms]=Fail HTML...
Name[nb]=HTML-fil ...
Name[nds]=HTML-Datei...
Name[ne]=HTML फाइल...
Name[nl]=HTML-bestand...
Name[nn]=HTML-fil ...
Name[pa]=HTML ਫਾਇਲ...
Name[pl]=Plik HTML...
Name[pt]=Ficheiro HTML...
Name[pt_BR]=Arquivo HTML...
Name[ro]=Fişier HTML...
Name[ru]=Страница HTML...
Name[se]=HTML-fiila …
Name[sl]=Datoteka HTML ...
Name[sr]=HTML фајл...
Name[sr@Latn]=HTML fajl...
Name[sv]=HTML-fil...
Name[ta]=HTML கோப்பு...
Name[te]=హెచ్ టి ఎం ఎల్ దస్త్రం...
Name[tg]=Файли HTML...
Name[tr]=HTML Dosyası...
Name[uk]=Файл HTML...
Name[uz]=HTML-файли...
Name[x-test]=xxHTML File...xx
Name[zh_TW]=HTML 檔案...
Comment=Enter HTML filename:
Comment[af]=Voer HTML lêernaam in:
Comment[ar]=أدخل إسم ملف لغة علامات النصّ الفائق:
Comment[bg]=Въведете име на файл HTML:
Comment[br]=Roit un anv ar restr :
Comment[ca]=Entra el nom del fitxer HTML:
Comment[cs]=Zadejte název HTML souboru:
Comment[da]=Indtast HTML-filnavn:
Comment[de]=Name der HTML-Datei eingeben:
Comment[el]=Δώστε το όνομα του αρχείου HTML:
Comment[eo]=Enigu HTML-dosiernomon:
Comment[es]=Introduzca nombre de archivo HTML:
Comment[et]=Sisesta HTML-faili nimi:
Comment[eu]=Sartu HTML fitxategiaren izena:
Comment[fa]=نام پروندۀ زنگام را وارد کنید:
Comment[fi]=Anna HTML-tiedostonimi:
Comment[fr]=Donnez le nom du fichier HTML :
Comment[fy]=Namme fan HTML-triem ynfiere:
Comment[ga]=Iontráil ainm an chomhaid HTML:
Comment[gl]=Introduza o nome do ficheiro HTML:
Comment[he]=הזן שם לקובץ ה־HTML:
Comment[hr]=Unesite naziv HTML datoteke:
Comment[hu]=A HTML-fájl neve:
Comment[is]=Sláðu inn HTML skráarnafn:
Comment[it]=Immetti nome file HTML:
Comment[ja]=HTML ファイル名を入力:
Comment[ka]=HTML ფაილის სახელი შეიყვანეთ:
Comment[kk]=HTML файлын келтіріңіз:
Comment[km]=បញ្ចូល​ឈ្មោះ​ឯកសារ HTML ៖
Comment[lt]=Įveskite HTML bylos vardą:
Comment[lv]=Ievadiet HTML faila nosaukumu:
Comment[mk]=Внесете го името на HTML датотеката:
Comment[ms]=Masukkan nama fail HTML:
Comment[nb]=Skriv inn HTML-filnavn:
Comment[nds]=Naam vun de HTML-Datei ingeven:
Comment[ne]=HTML फाइलनाम प्रविष्ट गर्नुहोस्:
Comment[nl]=Naam van HTML-bestand invoeren:
Comment[nn]=Oppgje HTML-filnamn:
Comment[pa]=HTML ਫਾਇਲ ਨਾਂ ਦਿਓ:
Comment[pl]=Podaj nazwę pliku HTML:
Comment[pt]=Indique o nome do ficheiro HTML:
Comment[pt_BR]=Insira nome do arquivo HTML:
Comment[ro]=Introduceţi numele fişierului HTML:
Comment[ru]=Введите имя страницы HTML:
Comment[se]=Bija HTML-fiilanama:
Comment[sl]=Vnesite ime datoteke HTML:
Comment[sr]=Унесите име HTML фајла:
Comment[sr@Latn]=Unesite ime HTML fajla:
Comment[sv]=Ange HTML-filnamn:
Comment[ta]=HTML கோப்பு பெயரை உள்ளிடு:
Comment[te]=హెచ్ టి ఎం ఎల్ దస్త్రం పేరును వ్రాయండి:
Comment[tr]=HTML dosyasını girin:
Comment[uk]=Введіть назву файла HTML:
Comment[uz]=HTML-файлнинг номини киритинг:
Comment[x-test]=xxEnter HTML filename:xx
Comment[zh_TW]=輸入 HTML 檔案名稱：
Type=Link
URL=.source/HTMLFile.html
Icon=html
