[Desktop Entry]
Encoding=UTF-8
Name=CDWRITER Device...
Name[pt]=Gravador de CDs...
Name[pt_BR]=Gravador de CDs...
Name[sv]=Cd-brännarenhet...
Comment=New CDWRITER Device
Comment[pt]=Novo Gravador de CDs
Comment[pt_BR]=Novo Gravador de CDs
Comment[sv]=Ny cd-brännarenhet
Type=Link
URL=.source/CDWRITER-Device.desktop
Icon=cdwriter_unmount
