[Desktop Entry]
Encoding=UTF-8
Name=NFS...
Comment=New NFS Link
Comment[bg]=Нова NFS връзка
Comment[de]=Neue NFS-Verknüpfung
Comment[es]=Nuevo enlace NFS
Comment[ja]=新しい NFS リンク
Comment[nl]=Nieuwe NFS-koppeling
Comment[pt]=Nova ligação NFS
Comment[pt_BR]=Nova ligação NFS
Comment[sv]=Ny NFS-länk
Type=Link
URL=.source/NFS.desktop
Icon=nfs_unmount
