[Desktop Entry]
Name=Basic link to file or directory...
Name[et]=Lihtlink failile või kataloogile...
Name[id]=Tautan dasar ke berkas atau direktori...
Name[nds]=Eenfach Link op Datei/Orner...
Name[pt]=Ligação básica para um ficheiro ou pasta...
Name[pt_BR]=Link básico para o arquivo ou diretório...
Name[sv]=Enkel länk till fil eller katalog...
Name[uk]=Базове посилання на файл або каталог...
Name[x-test]=xxBasic link to file or directory...xx
Name[zh_TW]=到檔案或目錄的基本連結...
Comment=Enter path of file or directory:
Comment[et]=Faili või kataloogi asukoht:
Comment[id]=Masukkan alamat berkas atau direktori:
Comment[nds]=Padd na de Datei/na den Orner:
Comment[pt]=Indique a localização do ficheiro ou pasta:
Comment[pt_BR]=Digite o caminho para o arquivo ou diretório:
Comment[sv]=Skriv in sökväg till fil eller katalog
Comment[uk]=Введіть шлях до файла або каталогу:
Comment[x-test]=xxEnter path of file or directory:xx
Comment[zh_TW]=請輸入檔案或目錄的路徑：
URL=__CREATE_SYMLINK__
Type=Link
Icon=emblem-symbolic-link
