[Desktop Entry]
Encoding=UTF-8
Name=Link to Location (URL)...
Name[af]=Skakel na Ligging (URL)...
Name[ar]=رابط لموقع...
Name[bg]=Връзка към адрес...
Name[br]=Liamm ouzh ul lec'hiadur (URL) ...
Name[ca]=Enllaç a la localització (URL)...
Name[cs]=Odkaz na umístění (URL)...
Name[cy]=Cyswllt i Leoliad (URL)...
Name[da]=Internetlink (URL)...
Name[de]=Verknüpfung zu Adresse (URL) ...
Name[el]=Δεσμός με τοποθεσία (URL)...
Name[eo]=Ligo al situo (URL)...
Name[es]=Enlace a dirección (URL)...
Name[et]=Viit asukohale (URL)...
Name[eu]=Esteka kokapenari (URL)...
Name[fa]=پیوند به محل )نشانی وب(...
Name[fi]=Linkki sijaintiin (URL)...
Name[fr]=Lien vers une URL...
Name[fy]=Keppeling nei lokaasje (URL-adres)...
Name[ga]=Nasc le Suíomh (URL)...
Name[gl]=Ligazón a un Sítio (URL)...
Name[he]=קישור למיקום (URL)...
Name[hr]=Veza s lokacijom (URL)...
Name[hu]=Internet-cím (URL)...
Name[is]=Staðsetningartengill...
Name[it]=Collegamento ad un indirizzo (URL)...
Name[ja]=場所へのリンク (URL)
Name[ka]=ადგილმდებარეობის ბმული (URL)...
Name[kk]=URL-адреске сілтеме...
Name[km]=តំណ​ទៅ​ទីតាំង (URL)...
Name[lt]=Adreso nuoroda (URL)...
Name[lv]=Saite uz Vietu (URL)...
Name[mk]=Врска до локација (URL)...
Name[ms]=Paut ke Aplikasi (URL)...
Name[nb]=Lenke til nettadresse (URL) ...
Name[nds]=Link na'n Oort (URL)...
Name[ne]=स्थानमा लिङ्क गर्नुहोस् (यू आर एल)...
Name[nl]=Koppeling naar locatie (URL-adres)...
Name[nn]=Lenkje til nettadresse (URL) ...
Name[pa]=ਸਥਿਤੀ (URL) ਨਾਲ ਸੰਬੰਧ...
Name[pl]=Skrót do adresu (URL)...
Name[pt]=Atalho para Localização (URL)...
Name[pt_BR]=Link para Localização (URL)...
Name[ro]=Legătură către locaţie (URL)...
Name[ru]=Адрес Интернет...
Name[se]=Liŋka fierpmádatčujuhussii (URL) …
Name[sl]=Povezava do lokacije (URL) ...
Name[sr]=Веза ка локацији (URL)...
Name[sr@Latn]=Veza ka lokaciji (URL)...
Name[sv]=Länk till plats (URL)...
Name[ta]=இடத்திற்கு இணை (URL)...
Name[tg]=Пайванд ба макони (URL)...
Name[tr]=Konuma (URL) Bağlantı...
Name[uk]=Посилання до адреси (URL)...
Name[uz]=Мавзу билан боғ (URL)...
Name[x-test]=xxLink to Location (URL)...xx
Name[zh_TW]=到位置的連結(URL)
Comment=Enter link to location (URL):
Comment[af]=Invoer skakel na ligging (Url):
Comment[ar]=أدخل رابط لموقع:
Comment[bg]=Въведете връзка към адрес:
Comment[br]=Roit al liamm ouzh ul lec'hiadur (URL) :
Comment[ca]=Entreu un enllaç a la localització (URL):
Comment[cs]=Zadejte odkaz na umístění (URL):
Comment[cy]=Mewnosodwch cyswllt i leoliad (URL):
Comment[da]=Indtast internetlink (URL):
Comment[de]=Verknüpfung mit Adresse (URL) eingeben:
Comment[el]=Δώστε δεσμό στην τοποθεσία (URL):
Comment[eo]=Enigu ligon al situo (URL):
Comment[es]=Introduzca enlace a dirección (URL):
Comment[et]=Sisesta viit asukohale (URL):
Comment[eu]=Sartu kokapenarekiko (URL) esteka:
Comment[fa]=پیوند به محل )نشانی وب( را وارد کنید:
Comment[fi]=Anna linkki sijaintiin (URL):
Comment[fr]=Nouveau lien vers une URL :
Comment[fy]=Keppeling nei lokaasje ynfiere (URL-adres):
Comment[ga]=Iontráil nasc le suíomh (URL):
Comment[gl]=Introduza a ligazón á localización (URL):
Comment[he]=הזן את הקישור למיקום (URL):
Comment[hr]=Nova veza s lokacijom (URL)
Comment[hu]=Adja meg az internet-címet (URL-t):
Comment[is]=Gefðu upp slóð að staðsetningu:
Comment[it]=Immetti collegamento all'indirizzo (URL):
Comment[ja]=新規の場所へのリンク(URL):
Comment[ka]=შეიყვანეთ პროგრამის ბმული ბმული (URL)
Comment[kk]=URL-адресін келтіріңіз:
Comment[km]=បញ្ចូល​តំណ​ទៅ​ទីតាំង (URL) ៖
Comment[lt]=Nauja adreso nuoroda (URL)
Comment[lv]=Jauna Saite uz Vietu (URL):
Comment[mk]=Внесете врска до локацијата (URL):
Comment[ms]=Masukkan pautan ke lokasi (URL):
Comment[nb]=Ny lenke til en nettadresse:
Comment[nds]=Link na'n Oort (URL) ingeven:
Comment[ne]=स्थानमा प्रविष्टि लिङ्क गर्नुहोस् (यू आर एल):
Comment[nl]=Koppeling naar locatie invoeren (URL-adres):
Comment[nn]=Ny lenkje til Internettadresse:
Comment[pa]=ਸਥਿਤੀ (URL) ਨਾਲ ਸੰਬੰਧ ਦਿਓ:
Comment[pl]=Nowy skrót do adresu internetowego (URL):
Comment[pt]=Indique o atalho para a localização (URL):
Comment[pt_BR]=Digite o link para a localização (URL):
Comment[ro]=Introduceţi legătura către locaţie (URL):
Comment[ru]=Адрес в Интернете:
Comment[se]=Bija liŋkka fierpmádatčujuhussii (URL):
Comment[sl]=Vnesite povezavo do mesta (URL):
Comment[sr]=Унесите везу ка локацији (URL):
Comment[sr@Latn]=Unesite vezu ka lokaciji (URL):
Comment[sv]=Ange länk till plats (URL):
Comment[ta]=இடத்திற்கான இணைப்பை உள்ளிடு (URL):
Comment[tg]=Бадарғаро ба адреси (URL) ворид кунед:
Comment[tr]=Konuma bağlantıyı girin:
Comment[uk]=Введіть посилання до адреси (URL):
Comment[uz]=Мавзуга боғни (URL) киритинг:
Comment[x-test]=xxEnter link to location (URL):xx
Comment[xh]=Ngenisa ikhonkco kwindawo ekuyo (URL):
Comment[zh_TW]=輸入到位置的連結(URL)：
URL=.source/URL.desktop
Type=Link
Icon=www
