[Desktop Entry]
Encoding=UTF-8
Name=Camera Device...
Name[bg]=Фотоапарат...
Name[de]=Kameragerät ...
Name[es]=Dispositivo de cámara...
Name[et]=Kaamera...
Name[ja]=カメラデバイス...
Name[nl]=Camera...
Name[pt]=Máquina Fotográfica...
Name[pt_BR]=Máquina Fotográfica...
Name[sv]=Kameraenhet...
Comment=New camera
Comment[bg]=Нов фотоапарат
Comment[de]=Neue Kamera
Comment[es]=Cámara nueva
Comment[et]=Uus kaamera
Comment[ja]=新しいカメラ
Comment[nl]=Nieuwe camera
Comment[pt]=Nova máquina fotográfica
Comment[pt_BR]=Nova máquina fotográfica
Comment[sv]=Ny kamera
Type=Link
URL=.source/CAMERA-Device.desktop
Icon=camera_unmount
