[Desktop Entry]
Encoding=UTF-8
Name=MO Device...
Name[af]=MO Toestel...
Name[be]=Прылада MO...
Name[br]=Trobarzhell MO ...
Name[ca]=Dispositiu MO...
Name[cy]=Dyfais MO...
Name[da]=MO-enhed...
Name[el]=Συσκευή MO...
Name[eo]=Magnetdiskingo...
Name[et]=MO seade...
Name[eu]=MO gailua...
Name[fi]=MO-laite...
Name[fr]=Périphérique MO...
Name[fy]=Magnetyske skiif stasjon...
Name[ga]=Gléas MO...
Name[gl]=Dispositivo MO...
Name[hr]=MO uređaj...
Name[hu]=Magnetooptikai eszköz...
Name[is]=MO tæki...
Name[ja]=MO デバイス...
Name[ka]=MO მოწყობილობა
Name[lt]=MO įrenginys...
Name[lv]=MO Iekārta...
Name[mk]=MO Уред...
Name[ms]=Peranti MO...
Name[nds]=MO-Reedschap...
Name[ne]=MO यन्त्र...
Name[pl]=Napęd magnetooptyczny...
Name[pt]=Dispositivo MO...
Name[pt_BR]=Dispositivo MO...
Name[ro]=Dispozitiv MO...
Name[ru]=Магнитооптическое устройство...
Name[sv]=MO-enhet...
Name[ta]=MO சாதனம்...
Name[te]=ఎంఓ పరికరం...
Name[tr]=MO Aygıtı...
Name[uk]=Пристрій MO...
Name[uz]=MO ускунаси
Name[vi]=Thiết bị MO...
Name[x-test]=xxMO Device...xx
Name[zh_TW]=MO 裝置...
Comment=New MO Device
Comment[el]=Νέα συσκευή MO
Comment[ga]=Gléas Nua MO
Comment[ja]=新しい MO デバイス
Comment[nds]=Niege MO-Reedschap
Comment[pt]=Novo Dispositivo MO
Comment[pt_BR]=Novo Dispositivo MO
Comment[sv]=Ny MO-enhet
Comment[x-test]=xxNew MO Devicexx
Comment[zh_TW]=新的 MO 裝置
Type=Link
URL=.source/MO-Device.desktop
Icon=mo_unmount
