[Desktop Entry]
Encoding=UTF-8
Name=Link to Application...
Name[bg]=Връзка към програма...
Name[es]=Enlace a la aplicación...
Name[et]=Rakenduse link...
Name[ja]=アプリケーションへのリンク...
Name[nl]=Koppeling naar toepassing...
Name[pt]=Atalho para Aplicação...
Name[pt_BR]=Atalho para Aplicação...
Name[sv]=Länk till program...
Comment=New Link to Application
Comment[bg]=Нова връзка към програма
Comment[es]=Nuevo enlace a aplicación
Comment[et]=Uus link rakendusele
Comment[ja]=アプリケーションへの新しいリンク
Comment[nl]=Nieuwe koppeling naar toepassing
Comment[pt]=Novo Atalho para Aplicação
Comment[pt_BR]=Novo Atalho para Aplicação
Comment[sv]=Ny länk till program
Icon=exec
Type=Link
URL=.source/Program.desktop
