[Desktop Entry]
Encoding=UTF-8
Name=Floppy Device...
Name[ja]=フロッピーデバイス...
Name[pt]=Leitor de Disquetes...
Name[pt_BR]=Leitor de Disquetes...
Name[sv]=Diskettenhet...
Comment=New Floppy Device
Comment[ja]=新しいフロッピーデバイス
Comment[pt]=Novo leitor de disquetes
Comment[pt_BR]=Novo leitor de disquetes
Comment[sv]=Ny diskettenhet
Type=Link
URL=.source/Floppy.desktop
Icon=3floppy_unmount
