[Desktop Entry]
Encoding=UTF-8
Name=DVD-ROM Device...
Name[bg]=DVD-ROM устройство...
Name[de]=DVD-ROM-gerät ...
Name[es]=Dispositivo DVD-ROM...
Name[et]=DVD-seade...
Name[ja]=DVD-ROM デバイス...
Name[nl]=DVD-romspeler...
Name[pt]=Leitor de DVD-ROMs...
Name[pt_BR]=Leitor de DVD-ROMs...
Name[sv]=Dvdrom-enhet...
Comment=New DVD-ROM Device
Comment[bg]=Ново DVD-ROM устройство
Comment[de]=Neues DVD-ROM-Gerät
Comment[es]=Nuevo dispositivo DVD-ROM
Comment[et]=Uus DVD-seade
Comment[ja]=新しい DVD-ROM デバイス
Comment[nl]=Nieuwe DVD-romspeler
Comment[pt]=Novo leitor de DVD-ROMs
Comment[pt_BR]=Novo leitor de DVD-ROMs
Comment[sv]=Ny dvdrom-enhet
Type=Link
URL=.source/DVDROM-Device.desktop
Icon=dvd_unmount
