[Desktop Entry]
Encoding=UTF-8
Name=Link to Application...
Name[af]=Skakel na Program...
Name[ar]=رابط لتطبيق...
Name[bg]=Връзка към програма...
Name[br]=Liamm ouzh un arload ...
Name[ca]=Enllaç a aplicació...
Name[cs]=Odkaz na aplikaci...
Name[csb]=Lënk do programë...
Name[cy]=Cyswllt i Gymhwysiad...
Name[da]=Link til program...
Name[de]=Verknüpfung zu Programm ...
Name[el]=Δεσμός με εφαρμογή...
Name[eo]=Ligo al aplikaĵo...
Name[es]=Enlace a aplicación...
Name[et]=Viit rakendusele...
Name[eu]=Esteka aplikazioari...
Name[fa]=پیوند به کاربرد...
Name[fi]=Linkki sovellukseen...
Name[fr]=Lien vers une application...
Name[fy]=Keppeling nei tappasing...
Name[ga]=Nasc go Feidhmchlár...
Name[gl]=Ligazón a unha Aplicación...
Name[he]=קישור ליישום...
Name[hr]=Veza s aplikacijom...
Name[hu]=Alkalmazásra mutató link...
Name[is]=Tengja við forrit...
Name[it]=Collegamento ad un'applicazione...
Name[ja]=アプリケーションへのリンク...
Name[ka]=პროგრამის ბმული...
Name[kk]=Қолданбаға сілтеме...
Name[km]=តំណ​ទៅ​កម្មវិធី...
Name[lt]=Programos nuoroda...
Name[lv]=Saite uz Aplikāciju...
Name[mk]=Врска до апликација...
Name[ms]=Paut ke Aplikasi...
Name[nb]=Lenke til program ...
Name[nds]=Link na'n Programm...
Name[ne]=अनुप्रयोगमा लिङ्क गर्नुहोस्...
Name[nl]=Koppeling naar toepassing...
Name[nn]=Lenkje til program ...
Name[pa]=ਕਾਰਜ ਨਾਲ ਸੰਬੰਧ...
Name[pl]=Skrót do programu...
Name[pt]=Atalho para Aplicação...
Name[pt_BR]=Link para Aplicativo...
Name[ro]=Legătură către aplicaţie...
Name[ru]=Ссылка на приложение...
Name[se]=Liŋka prográmmii …
Name[sl]=Povezava do programa ...
Name[sr]=Веза ка програму...
Name[sr@Latn]=Veza ka programu...
Name[sv]=Länk till program...
Name[ta]=விண்ணப்பத்துக்கு இணை...
Name[tg]=Пайванд ба барномаи...
Name[tr]=Uygulamaya Bağlantı...
Name[uk]=Посилання на програму...
Name[uz]=Дастур билан боғ...
Name[x-test]=xxLink to Application...xx
Name[zh_TW]=應用程式連結...
Comment=New Link to Application
Comment[af]=Nuwe Skakel na Aansoek
Comment[ar]=إرتباط جديد بتطبيق
Comment[bg]=Нова връзка към програма
Comment[br]=Liamm nevez ouzh un arload ...
Comment[ca]=Nou enllaç a l'aplicació
Comment[cs]=Nový odkaz na aplikaci
Comment[csb]=Nowi lënk do programë
Comment[cy]=Cyswllt Newydd i Gymhwysiad
Comment[da]=Nyt link til program
Comment[de]=Neue Verknüpfung mit Programm
Comment[el]=Νέος δεσμός με εφαρμογή
Comment[eo]=Nova ligo al aplikaĵo
Comment[es]=Nuevo enlace a aplicación
Comment[et]=Uus viit rakendusele
Comment[eu]=Aplikazioarekiko esteka berria
Comment[fa]=پیوند جدید به کاربرد
Comment[fi]=Uusi linkki sovellukseen
Comment[fr]=Nouveau lien vers une application
Comment[fy]=Nije keppeling naar toepassing
Comment[ga]=Nasc nua go feidhmchlár
Comment[gl]=Nova Ligazón a unha Aplicación
Comment[he]=קישור חדש ליישום
Comment[hr]=Nova veza s aplikacijom
Comment[hu]=Alkalmazásra mutató új link
Comment[is]=Nýtt tengi við forrit
Comment[it]=Nuovo collegamento ad un'applicazione
Comment[ja]=新規アプリケーションリンク
Comment[ka]=პროგრამის ახალი ბმული
Comment[kk]=Қолданбаға жаңа сілтеме
Comment[km]=តំណ​ថ្មី​ទៅ​កម្មវិធី
Comment[lt]=Nauja programos nuoroda
Comment[lv]=Jauna Saite uz Aplikāciju
Comment[mk]=Нова врска до апликација
Comment[ms]=Pautan Baru ke Aplikasi
Comment[nb]=Ny lenke til program
Comment[nds]=Niegen Link na'n Programm
Comment[ne]=अनुप्रयोगमा नयाँ लिङ्क गर्नुहोस्
Comment[nl]=Nieuwe koppeling naar toepassing
Comment[nn]=Ny lenkje til program
Comment[pa]=ਕਾਰਜ ਨਾਲ ਨਵਾਂ ਸੰਬੰਧ
Comment[pl]=Nowy skrót do programu
Comment[pt]=Novo Atalho para Aplicação
Comment[pt_BR]=Novo link para Aplicativo
Comment[ro]=Legătură nouă către aplicaţie
Comment[ru]=Новая ссылка на приложение
Comment[se]=Ođđa liŋka prográmmii
Comment[sl]=Nova povezava do programa
Comment[sr]=Нова веза ка програму
Comment[sr@Latn]=Nova veza ka programu
Comment[sv]=Ny länk till program
Comment[ta]=பயன்பாட்டுக்கான புதிய இணைப்பு
Comment[tg]=Пайванди нав ба барнома
Comment[tr]=Uygulamaya Yeni Bağlantı
Comment[uk]=Нове посилання на програму
Comment[uz]=Дастур билан янги боғ
Comment[x-test]=xxNew Link to Applicationxx
Comment[xh]=Ikhonkco Elitsha Lwesicelo
Comment[zh_TW]=新建應用程式連結
Icon=exec
Type=Link
URL=.source/Program.desktop
