[Desktop Entry]
Encoding=UTF-8
Name=Floppy Device...
Name[af]=Sagteskyf Toestel...
Name[ar]=جهاز أقراص مرنة...
Name[be]=Дыскета...
Name[bg]=Флопи...
Name[br]=Trobarzhell Pladennig ...
Name[ca]=Dispositiu de disquet...
Name[cs]=Disketová jednotka...
Name[cy]=Dyfais Disg Meddal...
Name[da]=Floppy-enhed...
Name[de]=Diskettenlaufwerk ...
Name[el]=Συσκευή δισκέτας...
Name[eo]=Disketingo...
Name[es]=Unidad de disquetes...
Name[et]=Flopiseade...
Name[eu]=Diskete gailua...
Name[fa]=دستگاه فلاپی...
Name[fi]=Levykeasema...
Name[fr]=Lecteur de disquettes...
Name[fy]=Slappe skiifstasjon...
Name[ga]=Gléas Diosca Flapach...
Name[gl]=Dispositivo de Disquete...
Name[he]=התקן תקליטון...
Name[hr]=Disketni uređaj...
Name[hu]=Floppy-meghajtó...
Name[is]=Disklingadrif...
Name[it]=Dispositivo dischetti...
Name[ja]=フロッピーデバイス...
Name[ka]=დრეკადი დისკის წამყვანი
Name[kk]=Иілгіш диск...
Name[km]=ដ្រាយ​ថាស​ទន់...
Name[lt]=Diskelių įrenginys...
Name[lv]=Diskešu Iekārta...
Name[mk]=Дискетна единица...
Name[ms]=Peranti Liut...
Name[nb]=Diskettenhet ...
Name[nds]=Diskett-Reedschap...
Name[ne]=फ्लपी यन्त्र...
Name[nl]=Diskettestation...
Name[nn]=Disketteining ...
Name[pa]=ਫਲਾਪੀ ਜੰਤਰ...
Name[pl]=Stacja dyskietek...
Name[pt]=Leitor de Disquetes...
Name[pt_BR]=Dispositivo de disquete...
Name[ro]=Dispozitiv Floppy...
Name[ru]=Дисковод...
Name[se]=Dibmaskearroovttadat …
Name[sl]=Disketna naprava ...
Name[sr]=Флопи уређај...
Name[sr@Latn]=Flopi uređaj...
Name[sv]=Diskettenhet...
Name[ta]=நெகிழ்வட்டு சாதனம்...
Name[tg]=Дастгоҳи Floppy...
Name[tr]=Disket Aygıtı...
Name[uk]=Пристрій гнучкого диска...
Name[uz]=Дискет ускунаси...
Name[x-test]=xxFloppy Device...xx
Name[zh_TW]=軟碟設備...
Comment=New Floppy Device
Comment[af]=Nuwe Sagteskyf Toestel
Comment[ar]=جهاز أقراص مرنة جديد
Comment[be]=Новая дыскета
Comment[bg]=Ново флопи-дисково устройство
Comment[br]=Trobarzhell Bladennig Nevez
Comment[ca]=Dispositiu de disquet nou
Comment[cs]=Nová disketová jednotka
Comment[cy]=Dyfais Disg Meddal Newydd
Comment[da]=Ny floppy-enhed
Comment[de]=Neues Diskettenlaufwerk
Comment[el]=Νέα συσκευή δισκέτας
Comment[eo]=Nova magnetdiskingo
Comment[es]=Nueva unidad de disquetes
Comment[et]=Uus flopiseade
Comment[eu]=Diskete gailu berria
Comment[fa]=دستگاه فلاپی جدید
Comment[fi]=Uusi levykeasema
Comment[fr]=Nouveau lecteur de disquettes
Comment[fy]=Nije slappe skiifstasjon
Comment[ga]=Gléas nua diosca flapach
Comment[gl]=Nova Disqueteira
Comment[he]=התקן תקליטון חדש
Comment[hr]=Novi disketni uređaj
Comment[hu]=Új floppy-meghajtó
Comment[is]=Nýtt disklingadrif
Comment[it]=Nuovo dispositivo dischetti
Comment[ja]=新規フロッピーディスク
Comment[ka]=ახალი დრეკადი დისკის წამყვანი
Comment[kk]=Жаңа иілгіш диск құрылғысы
Comment[km]=ឧបករណ៍​ថាស​ទន់​ថ្មី
Comment[ko]=새 플로피 장치
Comment[lt]=Naujas diskelių įrenginys
Comment[lv]=Jauna Diskešu iekārta
Comment[mk]=Нова дискетна единица
Comment[ms]=Peranti Liut Baru
Comment[nb]=Ny diskettenhet
Comment[nds]=Niege Diskettreedschap
Comment[ne]=नयाँ फ्लपी यन्त्र
Comment[nl]=Nieuw diskettestation
Comment[nn]=Ny disketteining
Comment[pa]=ਨਵਾਂ ਫਲਾਪੀ ਜੰਤਰ
Comment[pl]=Nowa stacja dyskietek
Comment[pt]=Novo leitor de disquetes
Comment[pt_BR]=Novo dispositivo de disquete
Comment[ro]=Dispozitiv Floppy nou
Comment[ru]=Ссылка на устройство дисковода
Comment[se]=Ođđa dibmaskearroovttadat
Comment[sl]=Nova disketna naprava
Comment[sr]=Нови флопи уређај
Comment[sr@Latn]=Novi flopi uređaj
Comment[sv]=Ny diskettenhet
Comment[ta]=புது நெகிழ்வட்டு சாதனம்
Comment[tg]=Дастгоҳи нави Floppy
Comment[tr]=Yeni Disket Aygıtı
Comment[uk]=Новий пристрій гнучкого диска
Comment[uz]=Янги дискет ускунаси
Comment[x-test]=xxNew Floppy Devicexx
Comment[xh]=Icebo Elitsha le Floppy
Comment[zh_TW]=新軟碟設備
Type=Link
URL=.source/Floppy.desktop
Icon=3floppy_unmount
