[Desktop Entry]
Encoding=UTF-8
Name=CDWRITER Device...
Name[es]=Dispositivo de grabación de CD...
Name[ja]=CD ライターデバイス...
Name[pt]=Gravador de CDs...
Name[pt_BR]=Gravador de CDs...
Name[sv]=Cd-brännarenhet...
Comment=New CDWRITER Device
Comment[es]=Nuevo dispositivo de grabación CD
Comment[ja]=新しい CD ライターデバイス
Comment[pt]=Novo Gravador de CDs
Comment[pt_BR]=Novo Gravador de CDs
Comment[sv]=Ny cd-brännarenhet
Type=Link
URL=.source/CDWRITER-Device.desktop
Icon=cdwriter_unmount
