[Desktop Entry]
Encoding=UTF-8
Name=Hard Disc Device...
Name[ja]=ハードディスクデバイス...
Name[pt]=Disco Rígido...
Name[pt_BR]=Disco Rígido...
Name[sv]=Hårddiskenhet...
Comment=New Hard Disc
Comment[ja]=新しいハードディスク
Comment[pt]=Novo Disco Rígido
Comment[pt_BR]=Novo Disco Rígido
Comment[sv]=Ny hårddisk
Type=Link
URL=.source/HD.desktop
Icon=hdd_unmount
