[Desktop Entry]
Name=Basic link to file or directory...
Name[csb]=Spòdlowi lënk do lopka abò kataloga...
Name[en_GB]=Basic link to file or directory...
Name[eo]=Baza ligo al dosiero aŭ dosierujo...
Name[et]=Lihtlink failile või kataloogile...
Name[gl]=Ligazón básica a un ficheiro ou cartafol...
Name[hr]=Osnovna poveznica do datoteke ili direktorija …
Name[id]=Tautan dasar ke berkas atau direktori...
Name[is]=Grunntengill við skrá eða möppu...
Name[lt]=Paprasta nuoroda į failą ar aplanką...
Name[nb]=Enkel lenke til fil eller mappe …
Name[nds]=Eenfach Link op Datei/Orner...
Name[nl]=Basis koppeling naar bestand of map...
Name[pt]=Ligação básica para um ficheiro ou pasta...
Name[pt_BR]=Link básico para o arquivo ou diretório...
Name[sv]=Enkel länk till fil eller katalog...
Name[tr]=Dosya ya da dizine basit bir bağlantı...
Name[uk]=Базове посилання на файл або каталог...
Name[x-test]=xxBasic link to file or directory...xx
Name[zh_TW]=到檔案或目錄的基本連結...
Comment=Enter path of file or directory:
Comment[csb]=Wpiszë stegnã lopka abò kataloga:
Comment[en_GB]=Enter path of file or directory:
Comment[eo]=Entajpu vojon de dosiero aŭ dosierujo:
Comment[et]=Faili või kataloogi asukoht:
Comment[gl]=Indique a rota ao ficheiro ou cartafol:
Comment[hr]=Unesite putanju datoteke ili direktorija:
Comment[id]=Masukkan alamat berkas atau direktori:
Comment[is]=Settu inn slóð á skrá eða möppu:
Comment[lt]=Įašykite kelią iki failo ar aplanko:
Comment[nb]=Oppgi sti til fil eller mappe:
Comment[nds]=Padd na de Datei/na den Orner:
Comment[nl]=Voer het pad in van het bestand of de map:
Comment[pt]=Indique a localização do ficheiro ou pasta:
Comment[pt_BR]=Digite o caminho para o arquivo ou diretório:
Comment[ru]=Введите путь к файлу или папке:
Comment[sv]=Skriv in sökväg till fil eller katalog
Comment[tr]=Dosya veya dizinin adresini girin:
Comment[uk]=Введіть шлях до файла або каталогу:
Comment[x-test]=xxEnter path of file or directory:xx
Comment[zh_TW]=請輸入檔案或目錄的路徑：
URL=__CREATE_SYMLINK__
Type=Link
Icon=emblem-symbolic-link
