[Desktop Entry]
Encoding=UTF-8
Name=NFS...
Name[ar]=نظام ملفات الشبكة (NFS)...
Name[br]=NFS ...
Name[de]=NFS ...
Name[hu]=NFS-megosztás...
Name[nb]=NFS ...
Name[nn]=NFS ...
Name[ru]=Диск NFS...
Name[se]=NFS …
Name[sl]=NFS ...
Name[te]=ఎన్ ఎఫ్ ఎస్...
Name[x-test]=xxNFS...xx
Comment=New NFS Link
Comment[af]=Nuwe NFS Skakel
Comment[ar]=رابط NFS جديد
Comment[bg]=Нова връзка NFS
Comment[br]=Liamm NFS Nevez
Comment[ca]=Enllaç NFS nou
Comment[cs]=Nový NFS odkaz
Comment[csb]=Nowi lënk do NFS
Comment[cy]=Cyswllt NFS Newydd
Comment[da]=Nyt NFS-link
Comment[de]=Neue NFS-Verknüpfung
Comment[el]=Νέος δεσμός NFS
Comment[eo]=Nova NFS-ligo
Comment[es]=Nuevo enlace NFS
Comment[et]=Uus NFS viit
Comment[eu]=NFS esteka berria
Comment[fa]=پیوند NFS جدید
Comment[fi]=Uusi NFS-linkki
Comment[fr]=Nouveau lien NFS
Comment[fy]=Nije NFS-Keppeling
Comment[ga]=Nasc nua NFS
Comment[gl]=Nova Ligazón NFS
Comment[he]=קישור NFS חדש
Comment[hr]=Nova NFS veza
Comment[hu]=Új NFS-link
Comment[is]=Ný NFS tenging
Comment[it]=Nuovo collegamento NFS
Comment[ja]=新規 NFS リンク
Comment[ka]=ახალი NFS ბმული
Comment[kk]=Жаңа NFS сілтемесі
Comment[km]=តំណ NFS ថ្មី
Comment[lt]=Nauja NFS nuoroda
Comment[lv]=Jauna NFS saite
Comment[mk]=Нова NFS врска
Comment[ms]=Pautan NFS Baru
Comment[nb]=Ny NFS-lenke
Comment[nds]=Niegen NFS-Link
Comment[ne]=नयाँ NFS लिङ्क
Comment[nl]=Nieuwe NFS-koppeling
Comment[nn]=Ny NFS-lenkje
Comment[pa]=ਨਵਾਂ NFS ਸੰਬੰਧ
Comment[pl]=Nowy skrót do NFS...
Comment[pt]=Nova ligação NFS
Comment[pt_BR]=Novo Link NFS
Comment[ro]=Legătură NFS nouă
Comment[ru]=Ссылка на диск NFS
Comment[se]=Ođđa NFS-liŋka
Comment[sl]=Nova povezava NFS
Comment[sr]=Нова NFS веза
Comment[sr@Latn]=Nova NFS veza
Comment[sv]=Ny NFS-länk
Comment[ta]=புது NFS இணைப்பு
Comment[te]=కొత్త ఎన్ ఎఫ్ ఎస్ లింక్
Comment[tg]=NFS-и пайванди нав
Comment[tr]=Yeni NFS Bağlantısı
Comment[uk]=Нове посилання NFS
Comment[uz]=NFS билан янги боғ
Comment[x-test]=xxNew NFS Linkxx
Comment[zh_TW]=新 NFS 鏈結
Type=Link
URL=.source/NFS.desktop
Icon=nfs_unmount
