[Desktop Entry]
Name=DVD-ROM Device...
Name[af]=DVD-ROM Toestel
Name[be]=Прылада DVD-ROM...
Name[bg]=DVD-ROM устройство...
Name[bn]=ডিভিডি-রম ডিভাইস...
Name[bn_IN]=DVD-ROM ডিভাইস...
Name[br]=Trobarzhell DVD-ROM ...
Name[ca]=Dispositiu DVD-ROM...
Name[cs]=Zařízení DVD-ROM...
Name[csb]=Nëk DVD...
Name[cy]=Dyfais DVD-ROM...
Name[da]=Dvd-rom-enhed...
Name[de]=DVD-Laufwerk ...
Name[el]=Συσκευή DVD-ROM...
Name[eo]=DVD-legilo...
Name[es]=DVD-ROM...
Name[et]=DVD-ROM seade...
Name[eu]=DVD-ROM gailua...
Name[fi]=DVD-ROM-laite
Name[fr]=Lecteur de DVD-ROM...
Name[fy]=Dûbelskiifstasjon
Name[ga]=Gléas DVD-ROM...
Name[gl]=DVD-ROM...
Name[gu]=ડીવીડી-રોમ ઉપકરણ...
Name[hr]=CD/DVD-ROM uređaj...
Name[hu]=DVD-meghajtó...
Name[is]=DVD-ROM-drif...
Name[it]=Dispositivo DVD-ROM...
Name[ja]=DVD-ROM デバイス...
Name[ka]=DVD-ROM მოწყობილობა
Name[km]=ឧបករណ៍​ឌីវីឌីរ៉ូម...
Name[ko]=DVD-ROM 장치...
Name[ku]=Cihaza DVD-ROM...
Name[lt]=DVD-ROM įrenginys...
Name[lv]=DVD-ROM ierīce...
Name[mk]=DVD-ROM Уред...
Name[ms]=Peranti DVD-ROM...
Name[nb]=DVD-ROM-enhet …
Name[nds]=DVD-ROM-Reedschap...
Name[nl]=DVD-ROM-station...
Name[nn]=DVD-ROM-eining …
Name[oc]=Periferic DVD-ROM...
Name[pa]=DVD-ROM ਜੰਤਰ...
Name[pl]=Urządzenie DVD-ROM...
Name[pt]=DVD-ROM...
Name[pt_BR]=Dispositivo de DVD-ROM...
Name[ro]=Dispozitiv DVD-ROM...
Name[ru]=DVD-ROM...
Name[se]=DVD-ROM-ovttadat …
Name[sk]=Zariadenie DVD-ROM...
Name[sl]=Naprava DVD-ROM ...
Name[sr]=Уређај: ДВД‑РОМ...
Name[sr@latin]=Uređaj: DVD‑ROM...
Name[sv]=Dvdrom-enhet...
Name[ta]=டிவிடிராம் சாதனம்
Name[te]=డివిడి-రామ్ పరికరం...
Name[tg]=Дастгоҳи DVD-ROM...
Name[th]=อุปกรณ์ดีวีดีรอม...
Name[tr]=CD/DVD-ROM Aygıtı...
Name[uk]=Пристрій DVD-ROM...
Name[uz]=DVD-ROM uskunasi...
Name[uz@cyrillic]=DVD-ROM ускунаси...
Name[vi]=Thiết bị đọc đĩa DVD-ROM...
Name[wa]=Léjheu d' DVD...
Name[x-test]=xxDVD-ROM Device...xx
Name[zh_CN]=DVD-ROM 设备...
Name[zh_TW]=DVD 裝置
Comment=New DVD-ROM Device
Comment[af]=Nuwe DVD-ROM Toestel
Comment[be]=Новая прылада DVD-ROM
Comment[bg]=Ново DVD-ROM устройство
Comment[bn]=নতুন ডিভিডি-রম ডিভাইস
Comment[bn_IN]=নতুন DVD-ROM ডিভাইস
Comment[br]=Trobarzhell DVD-ROM Nevez
Comment[ca]=Dispositiu DVD-ROM nou
Comment[cs]=Nové DVD-ROM zařízení
Comment[csb]=Nowi nëk DVD
Comment[cy]=Dyfais DVD-ROM Newydd
Comment[da]=Ny dvd-rom enhed
Comment[de]=Neues DVD-Laufwerk
Comment[el]=Νέα συσκευή DVD-ROM
Comment[eo]=Nova DVD-legilo
Comment[es]=Nuevo dispositivo de DVD
Comment[et]=Uus DVD-ROM seade
Comment[eu]=DVD-ROM gailu berria
Comment[fi]=Uusi DVD-ROM-laite
Comment[fr]=Nouveau lecteur de DVD-ROM
Comment[fy]=Nije dûbelskiifstasjon
Comment[ga]=Gléas Nua DVD-ROM
Comment[gl]=Novo dispositivo de DVD-ROM...
Comment[gu]=નવું ડીવીડી-રોમ ઉપકરણ
Comment[hr]=Novi CD/DVD-ROM uređaj
Comment[hu]=Új DVD-meghajtó
Comment[is]=Nýtt DVD-ROM-drif
Comment[it]=Nuovo dispositivo DVD-ROM
Comment[ja]=新しい DVD-ROM デバイス
Comment[ka]=ახალი DVD-ROM მოწყობილობა
Comment[km]=ឧបករណ៍​ឌីវីឌីរ៉ូម​ថ្មី
Comment[ko]=새 DVD-ROM 장치
Comment[ku]=Cihaza DVD-ROM a Nû
Comment[lt]=Naujas DVD-ROM įrenginys
Comment[lv]=Jauna DVD-ROM ierīce
Comment[mk]=Нов DVD-ROM уред
Comment[ms]=Peranti DVD-ROM Baru
Comment[nb]=Ny DVD-ROM-enhet
Comment[nds]=Niege DVD-ROM-Reedschap
Comment[nl]=Nieuw dvd-rom-station
Comment[nn]=Ny DVD-ROM-eining
Comment[pa]=ਨਵਾਂ DVD-ROM ਜੰਤਰ
Comment[pl]=Nowe urządzenie DVD-ROM...
Comment[pt]=Novo Leitor de DVD-ROM
Comment[pt_BR]=Novo Dispositivo de DVD-ROM
Comment[ro]=Dispozitiv DVD-ROM nou
Comment[ru]=Ссылка на устройство DVD-ROM
Comment[se]=Ođđa DVD-ROM-ovttadat
Comment[sk]=Nové zariadenie DVD-ROM
Comment[sl]=Nova naprava DVD-ROM
Comment[sr]=Нови уређај, ДВД‑РОМ
Comment[sr@latin]=Novi uređaj, DVD‑ROM
Comment[sv]=Ny dvdrom-enhet
Comment[ta]=புது DVD-ROM சாதனம்
Comment[te]=కొత్త డివిడి-రామ్ పరికరం
Comment[tg]=Дастгоҳи DVD-ROM нав
Comment[th]=อุปกรณ์ดีวีดีรอมใหม่
Comment[tr]=Yeni DVD-ROM Aygıtı
Comment[uk]=Новий пристрій DVD-ROM
Comment[uz]=Yangi DVD uskunasi
Comment[uz@cyrillic]=Янги DVD ускунаси
Comment[vi]=Thiết bị đọc đĩa DVD-ROM mới
Comment[wa]=Novea léjheu d' DVD
Comment[x-test]=xxNew DVD-ROM Devicexx
Comment[zh_CN]=新建 DVD-ROM 设备
Comment[zh_TW]=新的 DVD 裝置
Type=Link
URL=.source/DVDROM-Device.desktop
Icon=media-optical
