[Desktop Entry]
Encoding=UTF-8
Name=NFS...
Comment=New NFS Link
Comment[pt]=Nova ligação NFS
Comment[pt_BR]=Nova ligação NFS
Comment[sv]=Ny NFS-länk
Type=Link
URL=.source/NFS.desktop
Icon=nfs_unmount
