[Desktop Entry]
Name=Basic link to file or directory...
Name[ar]=وصلة بسيطة إلى ملف أو مجلّد...
Name[ast]=Enllaz básicu a ficheru o carpeta...
Name[bg]=Основна препратка към файл или папка...
Name[bs]=Osnovna veza do datoteke ili fascikle...
Name[ca]=Enllaç bàsic a fitxer o directori...
Name[ca@valencia]=Enllaç bàsic a fitxer o directori...
Name[cs]=Základní odkaz na soubor nebo adresář...
Name[csb]=Spòdlowi lënk do lopka abò kataloga...
Name[da]=Basalt link til fil eller mappe...
Name[de]=Einfache Verknüpfung zu Datei oder Ordner ...
Name[el]=Βασικός σύνδεσμος σε αρχείο ή κατάλογο...
Name[en_GB]=Basic link to file or directory...
Name[eo]=Baza ligo al dosiero aŭ dosierujo...
Name[es]=Enlace básico a archivo o carpeta...
Name[et]=Lihtlink failile või kataloogile...
Name[eu]=Oinarrizko esteka fitxategi edo karpetara...
Name[fi]=Peruslinkki tiedostoon tai kansioon…
Name[fr]=Lien standard vers un fichier ou un dossier...
Name[fy]=Basis keppeling nei triem of triemtafel
Name[ga]=Nasc bunúsach le comhad nó comhadlann...
Name[gl]=Ligazón básica a un ficheiro ou cartafol...
Name[gu]=ફાઈલ અથવા ડિરેક્ટરી સાથે સામાન્ય કડી...
Name[he]=קישור בסיסי לקובץ או ספריה...
Name[hi]=फ़ाइल या डॉयरेक्ट्री को मूल कडी...
Name[hr]=Osnovni link do datoteke ili direktorija…
Name[hu]=Egyszerű link fájlra vagy könyvtárra…
Name[ia]=Ligamine basic a file o directorio
Name[id]=Tautan dasar ke berkas atau direktori...
Name[is]=Grunntengill við skrá eða möppu...
Name[it]=Collegamento di base a file o cartella...
Name[ja]=ファイルやフォルダへの基本的なリンク...
Name[kk]=Файл не қапшықтың негізгі сілтемесі...
Name[km]=តំណ​មូលដ្ឋាន​ទៅ​កាន់​ឯកសារ ឬ​ថត...
Name[kn]=ಕಡತ ಅಥವ ಕೋಶದ ಮೂಲಭೂತ ಕೊಂಡಿ...
Name[ko]=파일이나 디렉터리로 향한 기본 연결...
Name[lt]=Paprasta nuoroda į failą ar aplanką...
Name[lv]=Vienkārša saite uz failu vai mapi...
Name[mk]=Обична врска до датотека или папка...
Name[ml]=ഫയല്‍, തട്ടു് മുതലായവയിലേക്കുള്ള ലളിതമായ ലിങ്ക്
Name[mr]=फाईल किंवा संचयीकेस आधारभूत लिंक...
Name[nb]=Enkel lenke til fil eller mappe …
Name[nds]=Eenfach Link op Datei/Orner...
Name[nl]=Basis koppeling naar bestand of map...
Name[nn]=Enkel lenkje til fil eller mappe …
Name[pa]=ਫਾਇਲ ਜਾਂ ਡਾਇਰੈਕਟਰੀ ਲਈ ਬੇਸਿਕ ਲਿੰਕ...
Name[pl]=Podstawowy odnośnik do pliku lub katalogu...
Name[pt]=Ligação básica para um ficheiro ou pasta...
Name[pt_BR]=Link básico para arquivo ou pasta...
Name[ro]=Legătură simplă la fișier sau dosar...
Name[ru]=Символическую ссылку...
Name[si]=ගොනුව හෝ බහාළුමට මූලික ඈඳුතුව
Name[sk]=Odkaz na súbor alebo adresár...
Name[sl]=Osnovna povezava do datoteke ali mape ...
Name[sr]=Основна веза до фајла или фасцикле...
Name[sr@ijekavian]=Основна веза до фајла или фасцикле...
Name[sr@ijekavianlatin]=Osnovna veza do fajla ili fascikle...
Name[sr@latin]=Osnovna veza do fajla ili fascikle...
Name[sv]=Enkel länk till fil eller katalog...
Name[tg]=Алоқаи аслӣ ба файл ё феҳрист...
Name[th]=เชื่อมโยงแบบพื้นฐานไปยังแฟ้มหรือไดเรกทอรี...
Name[tr]=Dosya ya da dizine basit bir bağlantı...
Name[ug]=ھۆججەت ياكى مۇندەرىجىنىڭ ئاساسىي ئۇلىنىش…
Name[uk]=Базове посилання на файл або каталог...
Name[wa]=Hårdêye di båze viè on fitchî ou on ridant...
Name[x-test]=xxBasic link to file or directory...xx
Name[zh_CN]=到文件或目录的基本链接...
Name[zh_TW]=到檔案或目錄的基本連結...
Comment=Enter path of file or directory:
Comment[ar]=أدخل مسار الملف أو المجلّد:
Comment[ast]=Introduz camín del ficheru o carpeta:
Comment[bg]=Въведете път до файл или папка:
Comment[bs]=Unesite putanju datoteke ili fascikle:
Comment[ca]=Introduïu el camí del fitxer o directori:
Comment[ca@valencia]=Introduïu el camí del fitxer o directori:
Comment[cs]=Zadejte cestu k souboru nebo adresáři:
Comment[csb]=Wpiszë stegnã lopka abò kataloga:
Comment[da]=Angiv sti til fil eller mappe:
Comment[de]=Geben Sie den Pfad zu der Datei oder dem Ordner ein:
Comment[el]=Εισάγετε τη διαδρομή του αρχείου ή του φακέλου.
Comment[en_GB]=Enter path of file or directory:
Comment[eo]=Entajpu vojon de dosiero aŭ dosierujo:
Comment[es]=Introduzca la ruta del archivo o carpeta:
Comment[et]=Faili või kataloogi asukoht:
Comment[eu]=Sartu fitxategi edo direktorioaren bide-izena:
Comment[fi]=Kirjoita tiedoston tai kansion polku:
Comment[fr]=Saisissez l'emplacement du fichier ou du dossier :
Comment[fy]=Paad fan  triem of triemtafel ynfiere:
Comment[ga]=Iontráil conair go dtí an comhad nó an chomhadlann:
Comment[gl]=Indique a ruta ao ficheiro ou cartafol:
Comment[gu]=ફાઈલ અથવા ડિરેક્ટરીનો માર્ગ દાખલ કરો:
Comment[he]=יש להכניס נתיב לקובץ או תיקייה:
Comment[hi]=फ़ाइल या डॉयरेक्ट्री का पथ दें:
Comment[hr]=Unesite putanju datoteke ili direktorija:
Comment[hu]=Adja meg a fájl vagy könyvtár elérési útját:
Comment[ia]=Inserta le percurso del file o directorio
Comment[id]=Masukkan alamat berkas atau direktori:
Comment[is]=Settu inn slóð á skrá eða möppu:
Comment[it]=Inserisci il percorso del file o della cartella:
Comment[ja]=ファイルまたはフォルダのパスを入力:
Comment[kk]=Файл не қапшықтың жолы:
Comment[km]=បញ្ចូល​ផ្លូវ ឬ​ឯកសារ ឬ​ថត ៖
Comment[kn]=ಕಡತ ಅಥವಾ ಕಡತ ಕೋಶದ ಮಾರ್ಗವನ್ನು ಒದಗಿಸಿ:
Comment[ko]=파일이나 디렉터리 경로를 입력하십시오:
Comment[lt]=Įrašykite kelią iki failo ar aplanko:
Comment[lv]=Ievadiet ceļu uz failu vai mapi:
Comment[mk]=Внесете патека од датотека или папка:
Comment[ml]=ഫയല്‍ അല്ലെങ്കില്‍‍ തട്ടിലേയ്ക്കുള്ള വഴി നല്‍കുക:
Comment[mr]=फाईल किंवा संचयीकेचा मार्ग दाखल करा :
Comment[nb]=Oppgi sti til fil eller mappe:
Comment[nds]=Padd na de Datei/na den Orner:
Comment[nl]=Voer het pad in van het bestand of de map:
Comment[nn]=Skriv inn adressa til fila eller mappa:
Comment[pa]=ਫਾਇਲ ਜਾਂ ਡਾਇਰੈਕਟਰੀ ਲਈ ਪਾਥ ਦਿਓ:
Comment[pl]=Proszę podać ścieżkę do pliku lub katalogu:
Comment[pt]=Indique a localização do ficheiro ou pasta:
Comment[pt_BR]=Indique o caminho do arquivo ou pasta:
Comment[ro]=Introduceți calea fișierului sau dosarului:
Comment[ru]=Введите путь к файлу или папке:
Comment[si]=ගොනුව හෝ බහාළුමට මාර්ගය ඇතුළත් කරනෙන
Comment[sk]=Zadajte cestu k súboru alebo adresáru:
Comment[sl]=Vnesite pot do datoteke ali mape:
Comment[sr]=Унесите путању фајла или фасцикле:
Comment[sr@ijekavian]=Унесите путању фајла или фасцикле:
Comment[sr@ijekavianlatin]=Unesite putanju fajla ili fascikle:
Comment[sr@latin]=Unesite putanju fajla ili fascikle:
Comment[sv]=Skriv in sökväg till fil eller katalog
Comment[tg]=Макони файл ё феҳристро ворид кунед:
Comment[th]=ป้อนพาธของแฟ้มหรือไดเรกทอรี:
Comment[tr]=Dosya veya dizinin adresini girin:
Comment[ug]=ھۆججەت ياكى مۇندەرىجە يولىنى كىرگۈزۈڭ:
Comment[uk]=Введіть шлях до файла або каталогу:
Comment[wa]=Tapez l' tchimin d' on fitchî ou d' on ridant:
Comment[x-test]=xxEnter path of file or directory:xx
Comment[zh_CN]=输入文件或目录的路径：
Comment[zh_TW]=請輸入檔案或目錄的路徑：
URL=__CREATE_SYMLINK__
Type=Link
Icon=emblem-symbolic-link
