[Desktop Entry]
Name=Hard Disc Device...
Name[af]=Hardeskyf Toestel...
Name[be]=Раздзел жорсткага дыска...
Name[bg]=Твърд диск...
Name[bn]=হার্ড ডিস্ক ডিভাইস...
Name[br]=Trobarzhell Bladenn ...
Name[ca]=Dispositius de disc dur...
Name[cs]=Pevný disk...
Name[csb]=Cwiardi disk...
Name[cy]=Dyfais Disg Caled...
Name[da]=Harddisk-enhed...
Name[de]=Festplatte ...
Name[el]=Συσκευή σκληρού δίσκου...
Name[es]=Disco duro...
Name[et]=Kõvaketas...
Name[eu]=Diska gogorra...
Name[fi]=Kiintolevy...
Name[fr]=Disque dur...
Name[fy]=Fêste skiif... 
Name[ga]=Gléas Diosca Crua...
Name[gl]=Disco duro...
Name[hr]=Tvrdi disk...
Name[hu]=Merevlemez-partíció...
Name[is]=Harður diskur...
Name[it]=Dispositivo disco rigido...
Name[ja]=ハードディスクデバイス...
Name[ka]=ხისტი დისკი...
Name[km]=ឧបករណ៍​ថាសរឹង...
Name[ko]=하드 디스크 장치...
Name[lt]=Kietojo disko įrenginys...
Name[lv]=Cietais disks...
Name[mk]=Тврд диск...
Name[ms]=Peranti Cakera Keras...
Name[nb]=Harddisk-enhet …
Name[nds]=Fastplaat...
Name[nl]=Harde schijf...
Name[nn]=Harddiskeining …
Name[pa]=ਹਾਰਡ ਡਿਸਕ ਜੰਤਰ...
Name[pl]=Twardy dysk...
Name[pt]=Disco Rígido...
Name[pt_BR]=Dispositivo de Disco Rígido...
Name[ro]=Dispozitiv Hard Disc...
Name[ru]=Жёсткий диск...
Name[se]=Garraskearroovttadat …
Name[sk]=Pevný disk...
Name[sl]=Naprava trdega diska ...
Name[sr]=Уређај: хард диск...
Name[sr@latin]=Uređaj: hard disk...
Name[sv]=Hårddiskenhet...
Name[ta]=வட்டு
Name[te]=హార్డ్ డిస్క్ పరికరం...
Name[th]=อุปกรณ์ฮาร์ดดิสก์...
Name[tr]=Sabit Disk Aygıtı...
Name[uk]=Пристрій жорсткого диска...
Name[uz]=Қаттиқ диск ускунаси...
Name[vi]=Thiết bị đĩa cứng...
Name[wa]=Deure plake...
Name[x-test]=xxHard Disc Device...xx
Name[zh_CN]=硬盘设备...
Name[zh_TW]=硬碟機裝置...
Comment=New Hard Disc
Comment[af]=Nuwe Hardeskyf
Comment[be]=Новы раздзел жорсткага дыска
Comment[bg]=Нов твърд диск
Comment[bn]=নতুন হার্ড ডিস্ক
Comment[br]=Trobarzhell Bladenn Nevez
Comment[ca]=Disc dur nou
Comment[cs]=Nový pevný disk
Comment[csb]=Nowi cwiardi disk
Comment[cy]=Disg Caled Newydd
Comment[da]=Ny harddisk
Comment[de]=Neue Festplatte
Comment[el]=Νέος σκληρός δίσκος
Comment[en_GB]=New Hard Disk
Comment[es]=Nuevo disco duro
Comment[et]=Uus kõvaketas
Comment[eu]=Disko gogor berria
Comment[fi]=Uusi kiintolevy
Comment[fr]=Nouveau disque dur
Comment[fy]=Nije Fêste skiif
Comment[ga]=Diosca crua nua
Comment[gl]=Novo disco duro
Comment[hr]=Novi tvrdi disk
Comment[hu]=Új merevlemez-partíció
Comment[is]=Nýr harður diskur
Comment[it]=Nuovo disco rigido
Comment[ja]=新しいハードデスク
Comment[ka]=ახალი ხისტი დისკი
Comment[km]=ថាសរឹង​ថ្មី
Comment[ko]=새 하드 디스크
Comment[lt]=Naujas kietas diskas
Comment[lv]=Jauns cietais disks
Comment[mk]=Нов тврд диск
Comment[ms]=Cakera Keras Baru
Comment[nb]=Ny harddisk
Comment[nds]=Niege Fastplaat
Comment[nl]=Nieuwe harde schijf
Comment[nn]=Ny harddisk
Comment[pa]=ਨਵੀਂ ਹਾਰਡ ਡਿਸਕ
Comment[pl]=Nowy twardy dysk
Comment[pt]=Novo Disco Rígido
Comment[pt_BR]=Novo Disco Rígido
Comment[ro]=Hard Disc nou
Comment[ru]=Ссылка на устройство жёсткого диска
Comment[se]=Ođđa garraskearroovttadat
Comment[sk]=Nový pevný disk
Comment[sl]=Nov trdi disk
Comment[sr]=Нови уређај, хард диск
Comment[sr@latin]=Novi uređaj, hard disk
Comment[sv]=Ny hårddisk
Comment[ta]=புது வன் தகடு
Comment[te]=కొత్త హార్డ్ డిస్క్
Comment[th]=อุปกรณ์ฮาร์ดดิสก์ใหม่
Comment[tr]=Yeni Sabit Disk
Comment[uk]=Новий жорсткий диск
Comment[uz]=Янги қаттиқ диск ускунаси
Comment[vi]=Thiết bị đĩa cứng mới
Comment[wa]=Novele deure plake
Comment[x-test]=xxNew Hard Discxx
Comment[xh]=Hard Disc Entsha
Comment[zh_CN]=新建硬盘
Comment[zh_TW]=新的硬碟機裝置
Type=Link
URL=.source/HD.desktop
Icon=drive-harddisk
