[Desktop Entry]
Encoding=UTF-8
Name=CDWRITER Device...
Comment=New CDWRITER Device
Type=Link
URL=.source/CDWRITER-Device.desktop
Icon=cdwriter_unmount
