[Desktop Entry]
Encoding=UTF-8
Name=CD-ROM Device...
Name[bg]=CD-ROM устройство...
Name[de]=CD-ROM-Gerät ...
Name[es]=Dispositivo de CD-ROM...
Name[ja]=CD-ROM デバイス...
Name[nl]=CD-romspeler...
Name[pt]=Dispositivo de CD-ROM...
Name[pt_BR]=Dispositivo de CD-ROM...
Name[sv]=Cdrom-enhet...
Comment=New CD-ROM Device
Comment[bg]=Ново CD-ROM устройство
Comment[de]=Neues CD-ROM-Gerät
Comment[es]=Nuevo dispositivo de CD-ROM
Comment[ja]=新しい CD-ROM デバイス
Comment[nl]=Nieuwe cd-romspeler
Comment[pt]=Novo Dispositivo de CD-ROM
Comment[pt_BR]=Novo Dispositivo de CD-ROM
Comment[sv]=Ny cdrom-enhet
Type=Link
URL=.source/CDROM-Device.desktop
Icon=cdrom_unmount
