[Desktop Entry]
Encoding=UTF-8
Name=DVD-ROM Device...
Name[pt]=Leitor de DVD-ROMs...
Name[pt_BR]=Leitor de DVD-ROMs...
Name[sv]=Dvdrom-enhet...
Comment=New DVD-ROM Device
Comment[pt]=Novo leitor de DVD-ROMs
Comment[pt_BR]=Novo leitor de DVD-ROMs
Comment[sv]=Ny dvdrom-enhet
Type=Link
URL=.source/DVDROM-Device.desktop
Icon=dvd_unmount
