[Desktop Entry]
Encoding=UTF-8
Name=CD-ROM Device...
Name[ja]=CD-ROM デバイス...
Name[pt]=Dispositivo de CD-ROM...
Name[pt_BR]=Dispositivo de CD-ROM...
Name[sv]=Cdrom-enhet...
Comment=New CD-ROM Device
Comment[ja]=新しい CD-ROM デバイス
Comment[pt]=Novo Dispositivo de CD-ROM
Comment[pt_BR]=Novo Dispositivo de CD-ROM
Comment[sv]=Ny cdrom-enhet
Type=Link
URL=.source/CDROM-Device.desktop
Icon=cdrom_unmount
