[Desktop Entry]
Encoding=UTF-8
Name=ZIP Device...
Name[af]=ZIP Toestel...
Name[be]=Прылада ZIP...
Name[br]=Trobarzhell ZIP ...
Name[ca]=Dispositiu ZIP...
Name[cy]=Dyfais ZIP...
Name[da]=ZIP-enhed...
Name[el]=Συσκευή ZIP...
Name[eo]=ZIP-ingo...
Name[et]=ZIP seade...
Name[eu]=ZIP gailua...
Name[fi]=ZIP-laite...
Name[fr]=Lecteur ZIP...
Name[fy]=ZIP-apparaat...
Name[ga]=Gléas ZIP...
Name[gl]=Dispositivo Zip...
Name[hr]=ZIP uređaj...
Name[hu]=ZIP-meghajtó...
Name[is]=ZIP-drif...
Name[ja]=ZIP デバイス...
Name[ka]=ZIP მოწყობილობა...
Name[lt]=ZIP įrenginys...
Name[lv]=ZIP Iekārta...
Name[mk]=ZIP Уред...
Name[ms]=Peranti ZIP...
Name[nds]=ZIP-Reedschap...
Name[ne]=ZIP यन्त्र...
Name[pl]=Napęd ZIP...
Name[pt]=Dispositivo ZIP...
Name[pt_BR]=Dispositivo ZIP...
Name[ro]=Dispozitiv ZIP...
Name[ru]=ZIP...
Name[sv]=Zip-enhet...
Name[ta]=ZIP  சாதனங்கள்
Name[te]=జిప్ పరికరం...
Name[tr]=ZIP Aygıtı...
Name[uk]=Пристрій ZIP...
Name[uz]=ZIP ускунаси...
Name[vi]=Thiết bị đĩa ZIP...
Name[x-test]=xxZIP Device...xx
Name[zh_CN]=ZIP 设备
Name[zh_TW]=ZIP 裝置...
Comment=New ZIP Device
Comment[af]=Nuwe ZIP Toestel...
Comment[be]=Новая прылада ZIP
Comment[br]=Trobarzhell ZIP Nevez
Comment[ca]=Dispositiu ZIP nou
Comment[cy]=Dyfais ZIP Newydd
Comment[da]=Ny ZIP-enhed
Comment[el]=Νέα συσκευή ZIP
Comment[eo]=Nova ZIP-ingo
Comment[et]=Uus ZIP seade
Comment[eu]=ZIP gailu berria
Comment[fi]=Uusi ZIP-laite
Comment[fr]=Nouveau lecteur ZIP
Comment[fy]=Nije ZIP-apparaat
Comment[ga]=Gléas Nua ZIP
Comment[gl]=Novo Dispositivo Zip
Comment[hr]=Novi ZIP uređaj
Comment[hu]=Új ZIP-lemezes meghajtó
Comment[is]=Nýtt ZIP-drif
Comment[ja]=新しい ZIP デバイス
Comment[ka]=ახალი ZIP მოწყობილობა
Comment[lt]=Naujas ZIP įrenginys
Comment[lv]=Jauna ZIP iekārta
Comment[mk]=Нов ZIP уред
Comment[ms]=Peranti ZIP Baru
Comment[nds]=Niege ZIP-Reedschap
Comment[ne]=नयाँ ZIP यन्त्र
Comment[pl]=Nowy napęd ZIP
Comment[pt]=Novo Dispositivo ZIP
Comment[pt_BR]=Novo Dispositivo ZIP
Comment[ro]=Dispozitiv ZIP nou
Comment[ru]=Ссылка на устройство ZIP
Comment[sv]=Ny Zip-enhet
Comment[ta]=புதிய ZIP  சாதனம்
Comment[te]=కొత్త జిప్ పరికరం
Comment[tr]=Yeni ZIP Aygıtı
Comment[uk]=Новий пристрій ZIP
Comment[uz]=Янги ZIP ускунаси
Comment[vi]=Thiết bị đĩa ZIP mới
Comment[x-test]=xxNew ZIP Devicexx
Comment[zh_CN]=新建 ZIP 设备
Comment[zh_TW]=新的 ZIP 裝置
Type=Link
URL=.source/ZIP-Device.desktop
Icon=zip_unmount
