[Desktop Entry]
Encoding=UTF-8
Name=Link to Location (URL)...
Name[bg]=Връзка към местоположение (URL)...
Name[es]=Enlace a la dirección (URL)...
Name[et]=Asukoha link (URL)...
Name[ja]=場所へのリンク (URL)...
Name[nl]=Koppeling naar locatie (URL-adres)...
Name[pt]=Atalho para Localização (URL)...
Name[pt_BR]=Atalho para Localização (URL)...
Name[sv]=Länk till plats (URL)...
Comment=Enter link to location (URL):
Comment[bg]=Въведете връзката към местоположение (URL):
Comment[es]=Introducir el enlace a la dirección (URL):
Comment[et]=Asukoha link (URL):
Comment[ja]=場所への新しいリンク (URL):
Comment[nl]=Koppeling naar locatie invoeren (URL-adres):
Comment[pt]=Indique o atalho para a localização (URL):
Comment[pt_BR]=Indique o atalho para a localização (URL):
Comment[sv]=Ange länk till plats (URL):
URL=.source/URL.desktop
Type=Link
Icon=www
