[Desktop Entry]
Encoding=UTF-8
Name=Camera Device...
Name[af]=Kamera Toestel...
Name[ar]=جهاز الكاميرا...
Name[be]=Камера...
Name[bg]=Фотоапарат...
Name[br]=Trobarzhell ar gamera ...
Name[ca]=Dispositiu de càmera...
Name[cs]=Kamera...
Name[csb]=Òdjimkòwô kaméra...
Name[cy]=Dyfais Camera...
Name[da]=Kamera-enhed...
Name[de]=Kamera ...
Name[el]=Συσκευή κάμερας...
Name[eo]=kamero-aparato...
Name[es]=Cámara...
Name[et]=Kaameraseade
Name[eu]=Kamera...
Name[fa]=دستگاه دوربین...
Name[fi]=Kamerat...
Name[fr]=Appareil photo
Name[fy]=Kamera...
Name[ga]=Gléas Ceamara...
Name[gl]=Dispositivo de Cámara...
Name[he]=התקן מצלמה...
Name[hr]=Kamera...
Name[hu]=Fényképezőgép...
Name[is]=Myndavél...
Name[it]=Dispositivo macchina fotografica...
Name[ja]=カメラデバイス...
Name[ka]=კამერის მოწყობილობა 
Name[kk]=Фотокамера құрылғысы...
Name[km]=ឧបករណ៍​ម៉ាស៊ីន​ថត...
Name[lt]=Kameros įrenginys...
Name[lv]=Kameras iekārta...
Name[mk]=Камера...
Name[ms]=Peranti Kamera...
Name[nb]=Kameraenhet ...
Name[nds]=Kamera...
Name[ne]=क्यामेरा यन्त्र...
Name[nl]=Camera...
Name[nn]=Kameraeining ...
Name[pa]=ਕੈਮਰਾ ਜੰਤਰ...
Name[pl]=Aparat fotograficzny...
Name[pt]=Máquina Fotográfica...
Name[pt_BR]=Dispositivo de Câmera...
Name[ro]=Dispozitiv foto...
Name[ru]=Камера...
Name[se]=Govvenapperáhttaovttadat …
Name[sl]=Naprava kamere ...
Name[sr]=Камера...
Name[sr@Latn]=Kamera...
Name[sv]=Kameraenhet...
Name[ta]=புகைப்பட கருவி சாதனங்கள்
Name[tg]=Дастгоҳи камера...
Name[tr]=Kamera Aygıtı...
Name[uk]=Пристрій фотоапарата...
Name[uz]=Фотоапарат ускунаси...
Name[x-test]=xxCamera Device...xx
Name[zh_TW]=照相機設備...
Comment=New camera
Comment[af]=Nuwe kamera
Comment[ar]=كاميرا جديدة
Comment[be]=Новая камера
Comment[bg]=Нов фотоапарат
Comment[br]=Kamera nevez
Comment[ca]=Càmera nova
Comment[cs]=Nová kamera
Comment[csb]=Nowô òdjimkòwô kaméra
Comment[cy]=Camera Newydd
Comment[da]=Nyt kamera
Comment[de]=Neue Kamera
Comment[el]=Νέα κάμερα
Comment[eo]=Nova kamero
Comment[es]=Nueva cámara
Comment[et]=Uus kaamera
Comment[eu]=Kamera berria
Comment[fa]=دوربین جدید
Comment[fi]=Uusi kamera
Comment[fr]=Nouvel appareil photo
Comment[fy]=Nije kamera
Comment[ga]=Ceamara nua
Comment[gl]=Nova cámara
Comment[he]=מצלמה חדשה
Comment[hr]=Nova kamera
Comment[hu]=Új fényképezőgép
Comment[is]=Ný myndavél
Comment[it]=Nuova macchina fotografica
Comment[ja]=新しいカメラ
Comment[ka]=ახალი კამერა
Comment[kk]=Жаңа фотокамера
Comment[km]=ម៉ាស៊ីន​ថត​ថ្មី
Comment[lt]=Nauja kamera
Comment[lv]=Jauna kamera
Comment[mk]=Нова камера
Comment[ms]=Kamera baru
Comment[nb]=Nytt kamera
Comment[nds]=Niege Kamera
Comment[ne]=नयाँ क्यामेरा
Comment[nl]=Nieuwe camera
Comment[nn]=Nytt kamera
Comment[pa]=ਨਵਾਂ ਕੈਮਰਾ
Comment[pl]=Nowy aparat fotograficzny
Comment[pt]=Nova máquina fotográfica
Comment[pt_BR]=Nova câmera
Comment[ro]=Aparat foto nou
Comment[ru]=Ссылка на устройство цифровой камеры
Comment[se]=Ođđa govvenapperáhtta
Comment[sl]=Nov fotoaparat
Comment[sr]=Нова камера
Comment[sr@Latn]=Nova kamera
Comment[sv]=Ny kamera
Comment[ta]=புதிய புகைப்பட கருவி
Comment[tg]=Камераи нав
Comment[tr]=Yeni kamera
Comment[uk]=Новий фотоапарат
Comment[uz]=Янги фотоапарат
Comment[x-test]=xxNew cameraxx
Comment[zh_TW]=新增照相機
Type=Link
URL=.source/CAMERA-Device.desktop
Icon=camera_unmount
