[Desktop Entry]
Encoding=UTF-8
Name=MO Device...
Name[es]=Dispositivo magneto-óptico...
Name[ja]=MO デバイス...
Name[pt]=Dispositivo MO...
Name[pt_BR]=Dispositivo MO...
Name[sv]=Magneto-optisk enhet...
Comment=New MO Device
Comment[es]=Nuevo dispositivo magneto-óptico
Comment[ja]=新しい MO デバイス
Comment[pt]=Novo Dispositivo MO
Comment[pt_BR]=Novo Dispositivo MO
Comment[sv]=Ny magneto-optisk enhet
Type=Link
URL=.source/MO-Device.desktop
Icon=mo_unmount
