[Desktop Entry]
Encoding=UTF-8
Name=Hard Disc Device...
Name[es]=Dispositivo de disco duro...
Name[ja]=ハードディスクデバイス...
Name[nl]=Harde schijf...
Name[pt]=Disco Rígido...
Name[pt_BR]=Disco Rígido...
Name[sv]=Hårddiskenhet...
Comment=New Hard Disc
Comment[es]=Nuevo dispositivo de disco duro
Comment[ja]=新しいハードディスク
Comment[nl]=Nieuwe harde schijf
Comment[pt]=Novo Disco Rígido
Comment[pt_BR]=Novo Disco Rígido
Comment[sv]=Ny hårddisk
Type=Link
URL=.source/HD.desktop
Icon=hdd_unmount
