[Desktop Entry]
Encoding=UTF-8
Name=ZIP Device...
Name[af]=ZIP Toestel...
Name[ar]=جهاز ZIP...
Name[bg]=ZIP...
Name[br]=Trobarzhell ZIP ...
Name[ca]=Dispositiu ZIP...
Name[cs]=ZIP jednotka...
Name[csb]=Nëk ZIP...
Name[cy]=Dyfais ZIP...
Name[da]=ZIP-enhed...
Name[de]=ZIP-Laufwerk ...
Name[el]=Συσκευή ZIP...
Name[eo]=ZIP-ingo...
Name[es]=Unidad ZIP...
Name[et]=ZIP seade...
Name[eu]=ZIP gailua...
Name[fa]=دستگاه ZIP...
Name[fi]=ZIP-laite...
Name[fr]=Lecteur ZIP...
Name[fy]=ZIP-apparaat...
Name[ga]=Gléas Zip...
Name[gl]=Dispositivo Zip...
Name[he]=התקן ZIP...
Name[hr]=ZIP uređaj...
Name[hu]=ZIP-meghajtó...
Name[is]=ZIP-drif...
Name[it]=Dispositivo ZIP...
Name[ja]=ZIP デバイス...
Name[ka]=ZIP მოწყობილობა...
Name[kk]=ZIP құрылғысы...
Name[km]=ឧបករណ៍ ZIP...
Name[lt]=ZIP įrenginys...
Name[lv]=ZIP Iekārta...
Name[mk]=ZIP Уред...
Name[ms]=Peranti ZIP...
Name[nb]=ZIP-enhet ...
Name[nds]=ZIP-Reedschap...
Name[ne]=ZIP यन्त्र...
Name[nl]=ZIP-apparaat...
Name[nn]=ZIP-eining ...
Name[pa]=ZIP ਜੰਤਰ...
Name[pl]=Napęd ZIP...
Name[pt]=Dispositivo ZIP...
Name[pt_BR]=Dispositivo ZIP...
Name[ro]=Dispozitiv ZIP...
Name[ru]=ZIP...
Name[se]=ZIP-Ovttadat …
Name[sl]=Naprava ZIP ...
Name[sr]=ZIP Уређај...
Name[sr@Latn]=ZIP Uređaj...
Name[sv]=Zip-enhet...
Name[ta]=ZIP  சாதனங்கள்
Name[te]=జిప్ పరికరం...
Name[tg]=Дастгоҳи ZIP...
Name[tr]=ZIP Aygıtı...
Name[uk]=Пристрій ZIP...
Name[uz]=ZIP ускунаси...
Name[x-test]=xxZIP Device...xx
Name[zh_TW]=ZIP 設備...
Comment=New ZIP Device
Comment[af]=Nuwe ZIP Toestel...
Comment[ar]=جهاز ZIP جديد
Comment[bg]=Ново устройство ZIP
Comment[br]=Trobarzhell ZIP Nevez
Comment[ca]=Dispositiu ZIP nou
Comment[cs]=Nová ZIP jednotka
Comment[csb]=Nowi nëk ZIP
Comment[cy]=Dyfais ZIP Newydd
Comment[da]=Ny ZIP-enhed
Comment[de]=Neues ZIP-Laufwerk
Comment[el]=Νέα συσκευή ZIP
Comment[eo]=Nova ZIP-ingo
Comment[es]=Nueva unidad ZIP
Comment[et]=Uus ZIP seade
Comment[eu]=ZIP gailu berria
Comment[fa]=دستگاه ZIP جدید
Comment[fi]=Uusi ZIP-laite
Comment[fr]=Nouveau lecteur ZIP
Comment[fy]=Nije ZIP-apparaat
Comment[ga]=Gléas Nua Zip
Comment[gl]=Novo Dispositivo Zip
Comment[he]=התקן ZIP חדש
Comment[hr]=Novi ZIP uređaj
Comment[hu]=Új ZIP-lemezes meghajtó
Comment[is]=Nýtt ZIP-drif
Comment[it]=Nuovo dispositivo ZIP
Comment[ja]=新規 ZIP デバイス
Comment[ka]=ახალი ZIP მოწყობილობა
Comment[kk]=Жаңа ZIP құрылғысы
Comment[km]=ឧបករណ៍ ZIP ថ្មី
Comment[lt]=Naujas ZIP įrenginys
Comment[lv]=Jauna ZIP iekārta
Comment[mk]=Нов ZIP уред
Comment[ms]=Peranti ZIP Baru
Comment[nb]=Ny ZIP-enhet
Comment[nds]=Niege ZIP-Reedschap
Comment[ne]=नयाँ ZIP यन्त्र
Comment[nl]=Nieuw ZIP-apparaat
Comment[nn]=Ny ZIP-eining
Comment[pa]=ਨਵਾਂ ZIP ਜੰਤਰ
Comment[pl]=Nowy napęd ZIP
Comment[pt]=Novo dispositivo ZIP...
Comment[pt_BR]=Novo Dispositivo ZIP
Comment[ro]=Dispozitiv ZIP nou
Comment[ru]=Ссылка на устройство ZIP
Comment[se]=Ođđa ZIP-ovttadat …
Comment[sl]=Nova naprava ZIP
Comment[sr]=Нови ZIP уређај
Comment[sr@Latn]=Novi ZIP uređaj
Comment[sv]=Ny Zip-enhet
Comment[ta]=புதிய ZIP  சாதனம்
Comment[te]=కొత్త జిప్ పరికరం
Comment[tg]=Дастгоҳи нави ZIP
Comment[tr]=Yeni ZIP Aygıtı
Comment[uk]=Новий пристрій ZIP
Comment[uz]=Янги ZIP ускунаси
Comment[x-test]=xxNew ZIP Devicexx
Comment[zh_TW]=新 ZIP 設備
Type=Link
URL=.source/ZIP-Device.desktop
Icon=zip_unmount
