[Desktop Entry]
Encoding=UTF-8
Name=Camera Device...
Name[af]=Kamera Toestel...
Name[be]=Камера...
Name[br]=Trobarzhell ar gamera ...
Name[ca]=Dispositiu de càmera...
Name[cy]=Dyfais Camera...
Name[da]=Kamera-enhed...
Name[eo]=kamero-aparato...
Name[et]=Kaameraseade
Name[eu]=Kamera...
Name[fi]=Kamerat...
Name[fr]=Appareil photo
Name[fy]=Kamera...
Name[ga]=Gléas Ceamara...
Name[gl]=Dispositivo de Cámara...
Name[hr]=Kamera...
Name[hu]=Fényképezőgép...
Name[is]=Myndavél...
Name[ja]=カメラデバイス...
Name[ka]=კამერის მოწყობილობა 
Name[lt]=Kameros įrenginys...
Name[lv]=Kameras iekārta...
Name[mk]=Камера...
Name[ms]=Peranti Kamera...
Name[nds]=Kamera...
Name[ne]=क्यामेरा यन्त्र...
Name[pl]=Aparat fotograficzny...
Name[pt_BR]=Dispositivo de Câmera...
Name[ro]=Dispozitiv foto...
Name[ru]=Камера...
Name[sv]=Kameraenhet...
Name[ta]=புகைப்பட கருவி சாதனங்கள்
Name[te]=కెమెరా పరికరం...
Name[tr]=Kamera Aygıtı...
Name[uk]=Пристрій фотоапарата...
Name[uz]=Фотоапарат ускунаси...
Name[vi]=Thiết bị máy ảnh...
Name[zh_TW]=相機裝置...
Comment=New camera
Comment[af]=Nuwe kamera
Comment[be]=Новая камера
Comment[br]=Kamera nevez
Comment[ca]=Càmera nova
Comment[cy]=Camera Newydd
Comment[da]=Nyt kamera
Comment[eo]=Nova kamero
Comment[et]=Uus kaamera
Comment[eu]=Kamera berria
Comment[fi]=Uusi kamera
Comment[fr]=Nouvel appareil photo
Comment[fy]=Nije kamera
Comment[ga]=Ceamara nua
Comment[gl]=Nova cámara
Comment[hr]=Nova kamera
Comment[hu]=Új fényképezőgép
Comment[is]=Ný myndavél
Comment[ja]=新しいカメラ
Comment[ka]=ახალი კამერა
Comment[lt]=Nauja kamera
Comment[lv]=Jauna kamera
Comment[mk]=Нова камера
Comment[ms]=Kamera baru
Comment[nds]=Niege Kamera
Comment[ne]=नयाँ क्यामेरा
Comment[pl]=Nowy aparat fotograficzny
Comment[pt_BR]=Nova câmera
Comment[ro]=Aparat foto nou
Comment[ru]=Ссылка на устройство цифровой камеры
Comment[sv]=Ny kamera
Comment[ta]=புதிய புகைப்பட கருவி
Comment[te]=కొత్త కెమెరా
Comment[tr]=Yeni kamera
Comment[uk]=Новий фотоапарат
Comment[uz]=Янги фотоапарат
Comment[vi]=Máy ảnh mới
Comment[zh_TW]=新相機
Type=Link
URL=.source/CAMERA-Device.desktop
Icon=camera_unmount
