[Desktop Entry]
Encoding=UTF-8
Name=ZIP Device...
Name[el]=Συσκευή ZIP...
Name[fr]=Lecteur ZIP...
Name[x-test]=xxZIP Device...xx
Comment=New ZIP Device
Comment[el]=Νέα συσκευή ZIP
Comment[fr]=Nouveau lecteur ZIP
Comment[x-test]=xxNew ZIP Devicexx
Type=Link
URL=.source/ZIP-Device.desktop
Icon=zip_unmount
