[Desktop Entry]
Encoding=UTF-8
Name=Floppy Device...
Name[bg]=Флопи...
Name[es]=Dispositivo de disco flexible...
Name[ja]=フロッピーデバイス...
Name[nl]=Diskettestation...
Name[pt]=Leitor de Disquetes...
Name[pt_BR]=Leitor de Disquetes...
Name[sv]=Diskettenhet...
Comment=New Floppy Device
Comment[bg]=Ново флопи
Comment[es]=Nuevo dispositivo de disco flexible
Comment[ja]=新しいフロッピーデバイス
Comment[nl]=Nieuw diskettestation
Comment[pt]=Novo leitor de disquetes
Comment[pt_BR]=Novo leitor de disquetes
Comment[sv]=Ny diskettenhet
Type=Link
URL=.source/Floppy.desktop
Icon=3floppy_unmount
