[Desktop Entry]
Encoding=UTF-8
Name=Text File...
Name[el]=Αρχείο κειμένου...
Name[fr]=Fichier texte...
Name[x-test]=xxText File...xx
Comment=Enter text filename:
Comment[el]=Δώστε το όνομα του αρχείου κειμένου:
Comment[fr]=Donnez le nom du fichier de texte :
Comment[x-test]=xxEnter text filename:xx
Type=Link
URL=.source/TextFile.txt
Icon=txt
