[Desktop Entry]
Name=Text File...
Name[af]=Teks Lêer...
Name[be]=Тэкставы файл...
Name[bg]=Текстов файл...
Name[bn]=টেক্সট ফাইল...
Name[br]=Restr skrid ...
Name[ca]=Fitxer de text...
Name[cs]=Textový soubor...
Name[csb]=Tekstowi lopk...
Name[cy]=Ffeil Testun...
Name[da]=Tekstfil...
Name[de]=Textdatei ...
Name[el]=Αρχείο κειμένου...
Name[eo]=Tekstdosiero...
Name[es]=Archivo de texto...
Name[et]=Tekstifail...
Name[eu]=Testu fitxategia...
Name[fi]=Tekstitiedosto...
Name[fr]=Fichier texte...
Name[fy]=Teksttriem......
Name[ga]=Téacschomhad...
Name[gl]=Ficheiro de texto...
Name[gu]=લખાણ ફાઇલ...
Name[hr]=Tekstualna datoteka...
Name[hu]=Szöveges fájl...
Name[is]=Textaskrá...
Name[it]=File di testo...
Name[ja]=テキストファイル...
Name[ka]=ტექსტური ფაილი...
Name[km]=ឯកសារ​អត្ថបទ...
Name[ko]=텍스트 파일...
Name[ku]=Pelê Nivîsar...
Name[lt]=Teksto failas...
Name[lv]=Teksta fails...
Name[mk]=Текстуална датотека...
Name[ms]=Fail Teks...
Name[nb]=Tekstfil …
Name[nds]=Textdatei...
Name[nl]=Tekstbestand...
Name[nn]=Tekstfil …
Name[oc]=Fichièr tèxt...
Name[pa]=ਟੈਕਸਟ ਫਾਇਲ...
Name[pl]=Plik tekstowy...
Name[pt]=Ficheiro de Texto...
Name[pt_BR]=Arquivo de Texto...
Name[ro]=Fișier text...
Name[ru]=Текстовый файл...
Name[se]=Teakstafiila …
Name[sk]=Textový súbor...
Name[sl]=Besedilna datoteka ...
Name[sr]=Текстуални фајл...
Name[sr@latin]=Tekstualni fajl...
Name[sv]=Textfil...
Name[ta]=உரைக் கோப்பு
Name[te]=వచన దస్త్రం...
Name[tg]=Файли матнӣ...
Name[th]=แฟ้มข้อความ...
Name[tr]=Metin Dosyası...
Name[uk]=Текстовий файл...
Name[uz]=Матн файли...
Name[vi]=Tập tin văn bản...
Name[wa]=Fitchî tecse...
Name[x-test]=xxText File...xx
Name[zh_CN]=文本文件...
Name[zh_TW]=文字檔案...
Comment=Enter text filename:
Comment[af]=Voer teks lêernaam in:
Comment[be]=Вызначце назву тэкставага файла:
Comment[bg]=Въведете името на файла:
Comment[bn]=টেক্সট ফাইলের নাম:
Comment[br]=Roit un anv ar restr skrid :
Comment[ca]=Entra el nom del fitxer de text:
Comment[cs]=Zadejte název textového souboru...
Comment[csb]=Wpiszë miono tekstowégò lopka:
Comment[da]=Indtast tekstfilnavn:
Comment[de]=Geben Sie den Textdatei-Namen ein:
Comment[el]=Δώστε το όνομα του αρχείου κειμένου:
Comment[eo]=Enmeti la tekstodosieran nomon:
Comment[es]=Introduzca el nombre del archivo de texto:
Comment[et]=Sisesta tekstifaili nimi:
Comment[eu]=Sartu testu fitxategiaren izena
Comment[fi]=Anna tekstitiedoston nimi:
Comment[fr]=Donnez le nom du fichier de texte :
Comment[fy]=Namme fan teksttriem ynfiere:
Comment[ga]=Iontráil ainm an téacschomhaid:
Comment[gl]=Indique o nome do ficheiro de texto:
Comment[gu]=લખાણ ફાઇલનામ દાખલ કરો:
Comment[hr]=Upišite naziv tekstualne datoteke:
Comment[hu]=A szöveges fájl neve:
Comment[is]=Sláðu inn nafn á textaskrá:
Comment[it]=Inserisci il nome per il file di testo:
Comment[ja]=テキストファイルの名前を入力:
Comment[ka]=შეიყვანეთ ტექსტური ფაილის სახელი:
Comment[km]=បញ្ចូល​ឈ្មោះ​ឯកសារ​អត្ថបទ ៖
Comment[ko]=텍스트 파일 이름을 입력하십시오:
Comment[ku]=Navê pelê tekst binivîse:
Comment[lt]=Įrašykite teksto failo pavadinimą:
Comment[lv]=Ievadiet teksta faila nosaukumu:
Comment[mk]=Внесете го името на текстуалната датотека:
Comment[ms]=Masukkan nama fail teks:
Comment[nb]=Oppgi navn på tekstfila:
Comment[nds]=Naam vun de Textdatei ingeven:
Comment[nl]=Naam tekstbestand invoeren:
Comment[nn]=Skriv inn namn på tekstfil:
Comment[pa]=ਟੈਕਸਟ ਫਾਇਲ-ਨਾਂ ਦਿਓ:
Comment[pl]=Podaj nazwę pliku tekstowego:
Comment[pt]=Indique o nome do ficheiro de texto:
Comment[pt_BR]=Informe o nome do arquivo texto:
Comment[ro]=Introduceți numele fișierului text:
Comment[ru]=Введите имя тестового файла:
Comment[se]=Čális teakstafiilla nama:
Comment[sk]=Zadajte meno textového súboru:
Comment[sl]=Vnesite ime besedilne datoteke:
Comment[sr]=Унесите име текстуалног фајла:
Comment[sr@latin]=Unesite ime tekstualnog fajla:
Comment[sv]=Ange textfilnamn:
Comment[ta]=உரை கோப்பு பெயரை உள்ளிடு:
Comment[te]=వచన దస్త్రం పేరును వ్రాయండి:
Comment[th]=ใส่ชื่อแฟ้มข้อความ:
Comment[tr]=Metin dosyasının adını girin:
Comment[uk]=Введіть назву текстового файла:
Comment[uz]=Матн файлининг номини киритинг:
Comment[vi]=Điền tên tập tin văn bản:
Comment[wa]=Intrez on no d' fitchî tecse:
Comment[x-test]=xxEnter text filename:xx
Comment[zh_CN]=输入文本文件名称：
Comment[zh_TW]=輸入文字檔名：
Type=Link
URL=.source/TextFile.txt
Icon=text-plain
