[Desktop Entry]
Encoding=UTF-8
Name=Text File...
Name[es]=Archivo de texto...
Name[ja]=テキストファイル...
Name[pt]=Ficheiro de Texto...
Name[pt_BR]=Ficheiro de Texto...
Name[sv]=Textfil...
Comment=Enter text filename:
Comment[es]=Introducir el nombre del archivo de texto:
Comment[ja]=テキストファイル名を入力:
Comment[pt]=Indique o nome do ficheiro de texto:
Comment[pt_BR]=Indique o nome do ficheiro de texto:
Comment[sv]=Ange textfilnamn:
Type=Link
URL=.source/TextFile.txt
Icon=txt
