[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=rellinks
X-KDE-PluginInfo-Author=Anders Lund, Franck Quélain, Kevin Krammer, Olivier Goffart
X-KDE-PluginInfo-Email=anders@alweb.dk, shift@free.fr, kevin.krammer@gmx.at, ogoffart@kde.org
X-KDE-PluginInfo-Name=rellinks
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=view-choose
Name=Document Relations
Comment=Displays the document relations of a document
X-KDE-ParentApp=konqueror
