[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=rellinks
X-KDE-PluginInfo-Author=Anders Lund, Franck Quélain, Kevin Krammer, Olivier Goffart
X-KDE-PluginInfo-Email=anders@alweb.dk, shift@free.fr, kevin.krammer@gmx.at, ogoffart@kde.org
X-KDE-PluginInfo-Name=rellinks
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=view-choose
Name=Document Relations
Name[ca]=Relacions del document
Name[ca@valencia]=Relacions del document
Name[cs]=Vztahy v dokumentu
Name[da]=Dokumentrelationer
Name[de]=Dokumentenbeziehungen
Name[es]=Relaciones de documento
Name[et]=Dokumendi relatsioonid
Name[fi]=Asiakirjasuhteet
Name[fr]=Relations entre documents
Name[hr]=Relacije dokumenta
Name[hu]=Dokumentumkapcsolatok
Name[ia]=Relationes de documento 
Name[it]=Relazioni del documento
Name[ja]=文書の関係
Name[kk]=Құжаттың байланыстары
Name[ko]=문서 관계
Name[lt]=Dokumentų sąryšiai
Name[nb]=Dokumentrelasjoner
Name[nds]=Dokmentbetöög
Name[nl]=Documentrelaties
Name[nn]=Dokumentforhold
Name[pt]=Relações de Documentos
Name[pt_BR]=Relações do documento
Name[ru]=Связи между документами
Name[sr]=Односи документа
Name[sr@ijekavian]=Односи документа
Name[sr@ijekavianlatin]=Odnosi dokumenta
Name[sr@latin]=Odnosi dokumenta
Name[sv]=Dokumentförhållanden
Name[uk]=Зв'язок між документами
Name[x-test]=xxDocument Relationsxx
Name[zh_TW]=文件關聯
Comment=Displays the document relations of a document
Comment[ca]=Mostra les relacions de document d'un document
Comment[ca@valencia]=Mostra les relacions de document d'un document
Comment[cs]=Zobrazí vztahy dokumentu
Comment[da]=Viser dokumentrelationer for et dokument
Comment[de]=Zeigt die Dokumentbeziehungen des Dokuments an
Comment[es]=Muestra las relaciones de documento de un documento
Comment[et]=Näitab dokumendi relatsioone
Comment[fi]=Näyttä asiakirjan asiakirjasuhteet
Comment[fr]=Affiche les relations d'un document avec d'autres documents
Comment[hr]=Prikazuje odnos dokumenta s drugim dokumentima
Comment[hu]=Egy dokumentum dokumentumkapcsolatainak megjelenítése
Comment[ia]=Monstra le relationes de documento de un documento
Comment[it]=Mostra le relazioni del documento
Comment[ja]=一連の文書の中の文書の関係を表示します
Comment[kk]=Құжаттың байланыстарын көрсетеді
Comment[ko]=문서 사이의 관계 표시하기
Comment[lt]=Rodo dokumento sąryšius
Comment[nb]=Viser dokumentrelasjonene til et dokument
Comment[nds]=Wiest de Dokmentbetöög vun en Dokment
Comment[nl]=Toont de documentrelaties van een document
Comment[nn]=Viser dokumentforholda til eit dokument
Comment[pt]=Mostra as relações entre documentos para um dado documento
Comment[pt_BR]=Exibe as relações de um documento com outros documentos
Comment[ru]=Показывает связи документа
Comment[sr]=Приказује односе документа
Comment[sr@ijekavian]=Приказује односе документа
Comment[sr@ijekavianlatin]=Prikazuje odnose dokumenta
Comment[sr@latin]=Prikazuje odnose dokumenta
Comment[sv]=Visar dokumentförhållanden för ett dokument
Comment[uk]=Показ взаємозв’язку частин документа
Comment[x-test]=xxDisplays the document relations of a documentxx
Comment[zh_TW]=顯示文件中的文件關聯
X-KDE-ParentApp=konqueror
