[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=rellinks
X-KDE-PluginInfo-Author=Anders Lund, Franck Quélain, Kevin Krammer, Olivier Goffart
X-KDE-PluginInfo-Email=anders@alweb.dk, shift@free.fr, kevin.krammer@gmx.at, ogoffart@kde.org
X-KDE-PluginInfo-Name=rellinks
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=view-choose
Name=Document Relations
Name[ca]=Relacions del document
Name[cs]=Vztahy v dokumentu
Name[de]=Dokumentenbeziehungen
Name[ia]=Relationes de documento 
Name[lt]=Dokumentų sąryšiai
Name[nl]=Documentrelaties
Name[pt]=Relações de Documentos
Name[sv]=Dokumentförhållanden
Name[uk]=Зв'язок між документами
Name[x-test]=xxDocument Relationsxx
Comment=Displays the document relations of a document
Comment[ca]=Mostra les relacions de document d'un document
Comment[cs]=Zobrazí vztahy dokumentu
Comment[de]=Zeigt die Dokumentbeziehungen des Dokuments an
Comment[ia]=Monstra le relationes de documento de un documento
Comment[lt]=Rodo dokumento sąryšius
Comment[nl]=Toont de documentrelaties van een document
Comment[pt]=Mostra as relações entre documentos para um dado documento
Comment[sv]=Visar dokumentförhållanden för ett dokument
Comment[uk]=Показ взаємозв’язку частин документа
Comment[x-test]=xxDisplays the document relations of a documentxx
X-KDE-ParentApp=konqueror
