[Desktop Entry]
Type=Application
Exec=kfmclient openProfile filemanagement
Icon=user-home
Terminal=false

Name=Home

GenericName=Personal Files
Categories=Qt;KDE;Core;
OnlyShowIn=KDE;
NoDisplay=true
