[Desktop Entry]
Encoding=UTF-8
# This desktop file is the one used by KApplication::invokeBrowser
Type=Application
Exec=kfmclient openURL %u
Icon=konqueror
Terminal=false
InitialPreference=9
NoDisplay=true
Name=Konqueror
Name[ar]=كونكيورر
Name[eo]=Konkeranto
Name[lv]=Iekarotājs
Name[ne]=कन्क्वेरर
Name[pa]=ਕੋਨਕਿਉਰੋਰ
Name[sr]=К-освајач
Name[sr@latin]=K-osvajač
Name[ta]=கான்கொரர்
Name[te]=కాంకెరర్
Name[x-test]=xxKonquerorxx
X-DBUS-StartupType=None
Categories=Qt;KDE;System;
X-KDE-HasTempFileOption=true
