[Desktop Entry]
Type=Application
Exec=kfmclient openURL %u inode/directory
Icon=konqueror
Terminal=false
MimeType=inode/directory;
# Must be more than gwenview
InitialPreference=10
NoDisplay=true
Name=Konqueror
Categories=Qt;KDE;System;
