[Desktop Entry]
Encoding=UTF-8
# This desktop file is the one used by KApplication::invokeBrowser
Type=Application
Exec=kfmclient openURL %u
Icon=konqueror
Terminal=false
InitialPreference=9
NoDisplay=true
Name=Konqueror
Name[eo]=Konkeranto
Name[ko]=컹커러
Name[lv]=Iekarotājs
Name[ne]=कन्क्वेरर
Name[pa]=ਕੋਨਕਿਉਰੋਰ
Name[ta]=கான்கொரர்
Name[x-test]=xxKonquerorxx
X-DBUS-StartupType=None
Categories=Qt;KDE;System;
X-KDE-HasTempFileOption=true
