[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kfmclient openURL %u text/html
Icon=konqueror
Terminal=false
MimeType=text/html;application/xhtml+xml;application/xml;
InitialPreference=9
NoDisplay=true
Name=Konqueror
Name[ar]=كونكيورر
Name[eo]=Konkeranto
Name[ko]=컹커러
Name[lv]=Iekarotājs
Name[ne]=कन्क्वेरर
Name[pa]=ਕੋਨਕਿਉਰੋਰ
Name[ta]=கான்கொரர்
Name[te]=కాంకెరర్
Name[x-test]=xxKonquerorxx
Categories=Qt;KDE;System;
X-KDE-HasTempFileOption=true
