[Desktop Entry]
Type=Service
NoDisplay=true
Name=Konqueror
Exec=konqueror %U
Comment=KDE File Manager & Web Browser
Icon=konqueror
X-DBUS-StartupType=multi
X-KDE-StartupNotify=true
X-KDE-HasTempFileOption=true
X-KDE-Protocols=KIO
