[Desktop Entry]
Type=Application
Exec=konqueror --profile filemanagement
X-DocPath=konqueror/index.html
Icon=konqueror
X-KDE-SubstituteUID=true

Name=File Manager - Super User Mode


Categories=Qt;KDE;System;X-KDE-More;
NoDisplay=true
