[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=konqueror --profile filemanagement
DocPath=konqueror/index.html
Icon=kfm
X-KDE-SubstituteUID=true

Name=File Manager - Super User Mode
Name[af]=Lêer Bestuurder - Super Gebruiker Modus
Name[be]=Кіраўнік файлаў - рэжым адміністратара
Name[bg]=Файлов браузър - администратор
Name[br]=Merour restroù - Doare gourarveriad
Name[ca]=Gestor de fitxers (mode superusuari)
Name[cs]=Správce souborů - superuživatelský režim
Name[csb]=Menadżer lopków - trib sprôwnika
Name[cy]=Trefnydd Ffeiliau - Modd Defnyddiwr Uwch
Name[da]=Filhåndtering (superbruger-tilstand)
Name[de]=Konqueror (Systemverwaltungsmodus)
Name[el]=Διαχειριστής αρχείων - Λειτουργία ως root
Name[eo]=Dosieradministrilo (kiel sistemestro)
Name[es]=Gestor de ficheros - modo superusuario
Name[et]=Failihaldur (administraator)
Name[eu]=Fitxategi kudeatzailea (root era)
Name[fa]=مدیر پرونده - حالت ابرکاربر
Name[fi]=Tiedostonhallinta - pääkäyttäjätila
Name[fr]=Konqueror (mode superutilisateur)
Name[fy]=Triembehearder (yn systeembehearmodus)
Name[ga]=Bainisteoir Comhad - Mód Forúsáideora
Name[gl]=Xestor de Ficheiros - Modo Super-Usuario
Name[he]=מנהל קבצים - מצב משתמש־על
Name[hr]=Upravitelj datotekama - za administratora
Name[hu]=Fájlkezelő (rendszergazdai mód)
Name[is]=Skráastjóri (sem kerfisstjóri)
Name[it]=File manager - modalità super utente
Name[ja]=ファイルマネージャ - スーパーユーザモード
Name[ka]=ფაილური მენეჯერი (root-ის პრივილეგიებით)
Name[kk]=Файл менеджері (root құқықлы)
Name[km]=កម្មវិធី​គ្រប់គ្រង​ឯកសារ - របៀប​អ្នក​ប្រើ​ជាន់​ខ្ពស់
Name[lt]=Bylų tvarkyklė – super naudotojo veiksena
Name[lv]=Failu Pārvaldnieks - Super Lietotāja Režīms
Name[mk]=Менаџер на датотеки - режим root
Name[ms]=Pengurus Fail - Mod Pengguna Super
Name[nb]=Filbehandler - superbrukermodus
Name[nds]=Dateipleger, Systeempleegbedrief
Name[ne]=फाइल प्रबन्धक - सुपर प्रयोगकर्ता मोड
Name[nl]=Bestandsbeheerder (in systeembeheermodus)
Name[nn]=Filhandsamar – Superbrukarmodus
Name[pa]=ਫਾਇਲ ਮੈਨੇਜਰ - ਸੁਪਰ ਯੂਜ਼ਰ ਢੰਗ
Name[pl]=Menedżer plików - tryb administratora
Name[pt]=Gestor de Ficheiros - Modo de Super Utilizador
Name[pt_BR]=Gerenciador de Arquivos - Modo Super-Usuário
Name[ro]=Manager de fişiere - mod superutilizator
Name[ru]=Менеджер файлов (с root-привилегиями)
Name[se]=Fiilagieđahalli - Supergeavaheaddjemodus
Name[sl]=Upravitelj datotek (skrbniški način)
Name[sr]=Менаџер фајлова — режим супер корисника
Name[sr@latin]=Menadžer fajlova — režim super korisnika
Name[sv]=Filhanterare - Administratörsläge
Name[ta]=கோப்பு மேலாளர் - மீப்பயனர் முறைமை
Name[te]=దస్త్ర అభికర్త - సూపర్ యూజర్ స్థితి
Name[tg]=Мудири файл - ҳолати убури корбар
Name[tr]=Dosya Yöneticisi - Yetkili Kullanıcı
Name[uk]=Менеджер файлів (режим адміністратора)
Name[uz]=Файл бошқарувчиси (root)
Name[wa]=Manaedjeu di fitchîs - Môde super uzeu (root)
Name[x-test]=xxFile Manager - Super User Modexx
Name[xh]=Umphathi Wefayile - Indlela Ephezulu Yomsebenzisi
Name[zh_TW]=檔案總管 - 超級使用者模式


Categories=Qt;KDE;System;X-KDE-More;
