[Desktop Entry]
Encoding=UTF-8
Type=Service
NoDisplay=true
Name=Konqueror
Name[x-test]=xxKonquerorxx
Exec=konqueror %U
Comment=KDE File Manager & Web Browser
Comment[el]=Διαχειριστής αρχείων & Περιηγητής ιστού του KDE
Comment[fr]=Gestionnaire de fichiers et navigateur web de KDE
Comment[x-test]=xxKDE File Manager & Web Browserxx
Icon=konqueror
X-DBUS-StartupType=multi
X-KDE-StartupNotify=true
X-KDE-HasTempFileOption=true
