[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kfmclient openProfile webbrowsing
Icon=konqueror
X-DocPath=konqueror/index.html

Name=Konqueror
Name[ar]=كونكيورر
Name[eo]=Konkeranto
Name[lv]=Iekarotājs
Name[ne]=कन्क्वेरर
Name[pa]=ਕੋਨਕਿਉਰੋਰ
Name[ta]=கான்கொரர்
Name[te]=కాంకెరర్
Name[x-test]=xxKonquerorxx
GenericName=Web Browser
GenericName[af]=Web Blaaier
GenericName[ar]=متصفح الشبكة
GenericName[be]=Вандроўнік па Сеціве
GenericName[bg]=Уеб браузър
GenericName[br]=Furcher ar Gwiad
GenericName[ca]=Fullejador web
GenericName[cs]=WWW prohlížeč
GenericName[csb]=Przezérnik WWW
GenericName[cy]=Porydd Gwe
GenericName[da]=Browser
GenericName[de]=Web-Browser
GenericName[el]=Περιηγητής ιστού
GenericName[eo]=TTT-legilo
GenericName[es]=Navegador web
GenericName[et]=Veebilehitseja
GenericName[eu]=Web arakatzailea
GenericName[fa]=مرورگر وب‌
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur web
GenericName[fy]=Webblêder
GenericName[ga]=Brabhsálaí Lín
GenericName[gl]=Navegador Web
GenericName[he]=דפדפן אינטרנט
GenericName[hr]=Web preglednik
GenericName[hu]=Webböngésző
GenericName[is]=Vafri
GenericName[it]=Browser Web
GenericName[ja]=ウェブブラウザ
GenericName[ka]=ვებ–ბრაუზერი
GenericName[kk]=Веб браузер
GenericName[km]=កម្មវិធី​រុករក​បណ្ដាញ
GenericName[ko]=웹 브라우저
GenericName[lt]=Žiniatinklio naršyklė
GenericName[lv]=Tīmekļa Pārlūks
GenericName[mk]=Прелистувач на Интернет
GenericName[ms]=Pelayar Web
GenericName[nb]=Nettleser
GenericName[nds]=Nettkieker
GenericName[ne]=वेब ब्राउजर
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[pa]=ਵੈਬ ਝਲਕਾਰਾ
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ro]=Navigator de web
GenericName[ru]=Веб-браузер
GenericName[se]=Fierpmádatlogan
GenericName[sl]=Spletni brskalnik
GenericName[sr]=Веб прегледач
GenericName[sr@latin]=Veb pregledač
GenericName[sv]=Webbläsare
GenericName[ta]=வலை உலாவி
GenericName[te]=వెబ్ బ్రౌజర్
GenericName[tg]=Тафсиргари вэб
GenericName[th]=เว็บเบราว์เซอร์
GenericName[tr]=Web Tarayıcı
GenericName[uk]=Навігатор Тенет
GenericName[uz]=Веб-браузер
GenericName[vi]=Trình duyệt mạng
GenericName[wa]=Betchteu waibe
GenericName[x-test]=xxWeb Browserxx
GenericName[xh]=Umkhangeli zincwadi we Web
GenericName[zh_TW]=網頁瀏覽器
Categories=Qt;KDE;Network;
