[Profile]
Container0_Children=View1,View2
Container0_Orientation=Horizontal
Container0_SplitterSizes=30,100
Name=File Management
Name[af]=Lêer Bestuurder
Name[ar]=إدارة الملفات
Name[be]=Кіраванне файламі
Name[br]=Mererezh ar restroù
Name[ca]=Gestió de fitxers
Name[cs]=Správa souborů
Name[csb]=Sprôwianié lopkama
Name[cy]=Trefnu Ffeiliau
Name[da]=Filhåndtering
Name[de]=Dateiverwaltung
Name[el]=Διαχείριση αρχείων
Name[eo]=Dosieradministrilo
Name[es]=Administración de ficheros
Name[et]=Failihaldur
Name[eu]=Fitxategi kudeaketa
Name[fa]=مدیریت پرونده‌
Name[fi]=Tiedostonhallinta
Name[fr]=Gestion de fichiers
Name[fy]=Triembehear
Name[ga]=Bainisteoireacht Chomhad
Name[gl]=Xestión de Ficheiros
Name[he]=ניהול קבצים
Name[hr]=Upravitelj datotekama
Name[hu]=Fájlkezelő
Name[is]=Skráastjóri
Name[it]=Gestione file
Name[ja]=ファイルマネージメント
Name[ka]=ფაილთა მართვა
Name[kk]=Файдарды басқару
Name[km]=ការ​គ្រប់គ្រង​ឯកសារ
Name[ko]=파일 관리
Name[lt]=Bylų valdymas
Name[lv]=Failu Menedžments
Name[mk]=Менаџмент на датотеки
Name[ms]=Pengurusan Fail
Name[nb]=Filbehandling
Name[nds]=Dateipleeg
Name[ne]=फाइल व्यवस्थापन
Name[nl]=Bestandsbeheer
Name[nn]=Filhandsaming
Name[pa]=ਫਾਇਲ ਪਰਬੰਧ
Name[pl]=Zarządzanie plikami
Name[pt]=Gestão de Ficheiros
Name[pt_BR]=Gerenciamento de Arquivos
Name[ro]=Administrare fişiere
Name[ru]=Управление файлами
Name[se]=Fiilagieđaheapmi
Name[sl]=Upravljanje datotek
Name[sr]=Управљање фајловима
Name[sr@latin]=Upravljanje fajlovima
Name[sv]=Filhantering
Name[ta]=கோப்பு மேலாண்மை
Name[te]=దస్త్ర నిర్వహణ
Name[tg]=Мудирияти файл
Name[th]=การจัดการแฟ้ม
Name[tr]=Dosya Yöneticisi
Name[uk]=Керування файлами
Name[uz]=Файл бошқаруви
Name[vi]=Quản lý Tập tin
Name[wa]=Manaedjî les fitchîs
Name[x-test]=xxFile Managementxx
Name[xh]=Uphatho Lwefayile
Name[zh_TW]=檔案管理
RootItem=Container0
View1_LinkedView=true
View1_PassiveMode=true
View1_ServiceName=konq_sidebartng
View1_ServiceType=Browser/View
View1_ToggleView=true
View2_LinkedView=true
View2_PassiveMode=false
View2_ServiceName=dolphinpart
View2_ServiceType=inode/directory
View2_URL=$HOME
