[Profile]
Container0_Children=Container1,View2
Container0_Orientation=Vertical
Container0_SplitterSizes=481,87
Container1_Children=View3,View4
Container1_Orientation=Horizontal
Container1_SplitterSizes=100,100
Height=658
Name=Midnight Commander
Name[bn]=মিডনাইট কমান্ডার
Name[eo]=Meznokta komandanto
Name[fa]=فرماندۀ نیمه‌شب
Name[hi]=मिडनाइट कमांडर
Name[km]=ពាក្យ​បញ្ជា Midnight
Name[ko]=미드나잇 커맨더
Name[lv]=Pusnakts komandieris
Name[ms]=Pemberi Arahan Tengah Malam
Name[ne]=मध्यरातको कमान्डर
Name[pa]=ਮਿਡਨਾਇਟ ਕਮਾਂਡਰ
Name[sr]=Поноћни командир
Name[sr@latin]=Ponoćni komandir
Name[ta]=நடு இரவு கட்டளை
Name[tg]=Фармондиҳандаи нимаи шаб
Name[x-test]=xxMidnight Commanderxx
Name[xh]=Umyaleli Waphakathi kobusuku
XMLUIFile=konq-filemanagement.rc
HomeURL=~
RootItem=Container0
View2_LinkedView=true
View2_PassiveMode=false
View2_ServiceName=konsolepart
View2_ServiceType=Browser/View
View2_ToggleView=true
View3_LinkedView=false
View3_PassiveMode=false
View3_ServiceName=konq_detailedlistview
View3_ServiceType=inode/directory
View3_ToggleView=false
View4_LinkedView=false
View4_PassiveMode=false
View4_ServiceName=konq_detailedlistview
View4_ServiceType=inode/directory
View4_ToggleView=false
Width=600
