[Profile]
FullScreen=false
Name=Tabbed Browsing
Name[af]=Oortjie Blaaier
Name[ar]=تصفح مبوب
Name[be]=Вандроўка з укладкамі
Name[bn]=ট্যাব সম্বলিত ব্রাউজিং
Name[br]=Furchal gant bevennigoù
Name[ca]=Navegació amb pestanyes
Name[cs]=Prohlížení se záložkami
Name[csb]=Przezéranié kartama
Name[cy]=Pori Tabiedig
Name[da]=Fanebladssøgning
Name[de]=Browsing mit Unterfenstern
Name[el]=Περιήγηση με καρτέλες
Name[eo]=Langeta foliumado
Name[es]=Navegación con solapas
Name[et]=Kaartidega lehitsemine
Name[eu]=Fitxa bitarteko arakaketa
Name[fa]=مرورگر تب‌شده‌
Name[fi]=Välilehdillä varustettu selain
Name[fr]=Navigation par onglets
Name[fy]=Blêder mei ljeppers
Name[ga]=Brabhsáil le Cluaisíní
Name[gl]=Navegación por páxinas
Name[he]=גלישה בלשוניות
Name[hi]=टैब्ड ब्राउज़िंग
Name[hr]=Pregledavanje u karticama
Name[hu]=Lapozós böngésző
Name[is]=Flipað flak
Name[it]=Navigazione a schede
Name[ja]=タブブラウズ
Name[ka]=დაფებზე ჩვენება
Name[kk]=Қойындылы шолғыш
Name[km]=ការ​រុករក​ជា​ផ្ទាំង
Name[ko]=탭 브라우징
Name[ku]=Gerîna Bihilpekîn
Name[lt]=Naršymas kortelėse
Name[lv]=Tabota pārlūkošana
Name[mk]=Прелистување со ливчиња
Name[ms]=Pelayaran Bertab
Name[nb]=Nettleser med faner
Name[nds]=Nettkieken mit Paneels
Name[ne]=ट्याब गरिएको ब्राउजिङ
Name[nl]=Browser met tabbladen
Name[nn]=Nettlesar med faner
Name[pa]=ਟੈਬ ਝਲਕ
Name[pl]=Przeglądanie wielu stron w jednym oknie
Name[pt]=Navegação por Páginas
Name[pt_BR]=Navegação em Abas
Name[ro]=Navigare cu subferestre
Name[ru]=Обозреватель с вкладками
Name[se]=Fierpmádatlogan mas leat gilkorat
Name[sk]=Prehliadač s kartami
Name[sl]=Brskanje v zavihkih
Name[sr]=Прегледање са језичцима
Name[sr@latin]=Pregledanje sa jezičcima
Name[sv]=Webbläsning med flikar
Name[ta]=தத்தும் உலாவி
Name[te]=టాబ్ బ్రౌజింగ్
Name[th]=ท่องเว็บแบบใช้แท็บ
Name[tr]=Sekmeli Tarama
Name[uk]=Навігація з вкладками
Name[uz]=Табли веб кўриш
Name[vi]=Duyệt bằng cách chuyển Thẻ
Name[wa]=Naiviaedje waibe avou des linwetes
Name[x-test]=xxTabbed Browsingxx
Name[zh_CN]=标签页浏览
Name[zh_TW]=分頁瀏覽
XMLUIFile=konq-webbrowsing.rc
RootItem=Tabs0
Tabs0_Children=ViewT0,ViewT1,ViewT2,ViewT3
Tabs0_activeChildIndex=0
ViewT0_LinkedView=false
ViewT0_LockedLocation=false
ViewT0_PassiveMode=false
ViewT0_ServiceName=khtml
ViewT0_ServiceType=text/html
ViewT0_ToggleView=false
ViewT0_URL=http://www.kde.org/
ViewT1_LinkedView=false
ViewT1_LockedLocation=false
ViewT1_PassiveMode=false
ViewT1_ServiceName=khtml
ViewT1_ServiceType=text/html
ViewT1_ToggleView=false
ViewT1_URL=http://dot.kde.org/
ViewT2_LinkedView=false
ViewT2_LockedLocation=false
ViewT2_PassiveMode=false
ViewT2_ServiceName=khtml
ViewT2_ServiceType=text/html
ViewT2_ToggleView=false
ViewT2_URL=http://themes.kde.org/
ViewT3_LinkedView=false
ViewT3_LockedLocation=false
ViewT3_PassiveMode=false
ViewT3_ServiceName=khtml
ViewT3_ServiceType=text/html
ViewT3_ToggleView=false
ViewT3_URL=http://www.kde-apps.org/
Width=80%
Height=80%
