[Profile]
Name=Midnight Commander
Name[af]=Midnight Commander
Name[ar]=قائد منتصف الليل
Name[as]=Midnight Commander
Name[ast]=Midnight Commander
Name[be]=Midnight Commander
Name[be@latin]=Midnight Commander
Name[bg]=Midnight Commander
Name[bn]=মিডনাইট কমান্ডার
Name[bs]=Ponoćni komandir
Name[ca]=Midnight Commander
Name[ca@valencia]=Midnight Commander
Name[cs]=Midnight Commander
Name[csb]=Midnight Commander
Name[cy]=Midnight Commander
Name[da]=Midnight Commander
Name[de]=Midnight Commander
Name[el]=Midnight Commander
Name[en_GB]=Midnight Commander
Name[eo]=Meznokta komandanto
Name[es]=Midnight Commander
Name[eu]=Midnight Commander
Name[fa]=فرمانده نیمه‌شب
Name[fi]=Midnight Commander
Name[fr]=Midnight Commander
Name[fy]=Midnight Commander
Name[ga]=Midnight Commander
Name[gl]=Midnight Commander
Name[gu]=મિડનાઇટ કમાન્ડર
Name[he]=Midnight Commander
Name[hi]=मिडनाइट कमांडर
Name[hne]=मिडनाइट कमांडर
Name[hr]=Midnight Commander
Name[hsb]=Midnight Commander
Name[hu]=Midnight Commander
Name[ia]=Midnight Commander
Name[id]=Midnight Commander
Name[is]=Midnight Commander
Name[it]=Midnight Commander
Name[ja]=Midnight Commander
Name[ka]=Midnight Commander
Name[kk]=Midnight Commander
Name[km]=ពាក្យ​បញ្ជា Midnight
Name[kn]=ಮಿಡ್ ನೈಟ್ ಕಮಾಂಡರ್
Name[ko]=미드나잇 커맨더
Name[ku]=Midnight Commander
Name[lt]=Midnight Commander
Name[lv]=Pusnakts komandieris
Name[mai]=मिडनाइट कमांडर
Name[mk]=Midnight Commander
Name[ml]=മിഡ്നൈറ്റ് കമാന്‍ഡര്‍
Name[mr]=मिडनाइट आदेशर
Name[ms]=Pemberi Arahan Tengah Malam
Name[nb]=Midnight Commander
Name[nds]=Midnight Commander
Name[ne]=मध्यरातको कमान्डर
Name[nl]=Midnight Commander
Name[nn]=Midnight Commander
Name[or]=Midnight Commander
Name[pa]=ਮਿਡਨਾਇਟ ਕਮਾਂਡਰ
Name[pl]=Midnight Commander
Name[pt]=Midnight Commander
Name[pt_BR]=Midnight Commander
Name[ro]=Midnight Commander
Name[ru]=Midnight Commander
Name[se]=Midnight Commander
Name[si]=මධ්‍යම රාත්‍රී විධායක
Name[sk]=Midnight Commander
Name[sl]=Midnight Commander
Name[sr]=Поноћни командир
Name[sr@ijekavian]=Поноћни командир
Name[sr@ijekavianlatin]=Ponoćni komandir
Name[sr@latin]=Ponoćni komandir
Name[sv]=Midnight Commander
Name[ta]=நள்ளிரவு ஆணை
Name[te]=Midnight Commander
Name[tg]=Терминали тасвирии Миднайт
Name[th]=มิดไนท์คอมมานเดอร์ (MC)
Name[tr]=Midnight Commander
Name[ug]=Midnight Commander
Name[uk]=Midnight Commander
Name[uz]=Midnight Commander
Name[uz@cyrillic]=Midnight Commander
Name[vi]=Midnight Commander
Name[wa]=Midnight Commander
Name[xh]=Umyaleli Waphakathi kobusuku
Name[x-test]=xxMidnight Commanderxx
Name[zh_CN]=Midnight Commander
Name[zh_TW]=Midnight Commander
XMLUIFile=konqueror.rc
RootItem=Container0
Container0_Children=Tabs1,View2
Container0_Orientation=Vertical
Container0_SplitterSizes=481,87
Tabs1_Children=ContainerT0
ContainerT0_Children=View3,View4
ContainerT0_Orientation=Horizontal
ContainerT0_SplitterSizes=100,100
View2_LinkedView=true
View2_PassiveMode=false
View2_ServiceName=konsolepart
View2_ServiceType=Browser/View
View2_ToggleView=true
View2_URL[$e]=file://$HOME
View3_LinkedView=false
View3_PassiveMode=false
View3_ServiceName=dolphinpart
View3_ServiceType=inode/directory
View3_ToggleView=false
View3_URL[$e]=file://$HOME
View4_LinkedView=false
View4_PassiveMode=false
View4_ServiceName=dolphinpart
View4_ServiceType=inode/directory
View4_ToggleView=false
View4_URL[$e]=file://$HOME
Width=600
Height=658
