[Profile]
Name=Web Browsing
Name[af]=Web Blaaier
Name[ar]=تصفُّح الوِب
Name[as]=ৱেব চৰণ কৰা
Name[ast]=Navegación Web
Name[be]=Вандроўка па Сеціве
Name[be@latin]=Hartańnie sieciva
Name[bg]=Сърфиране в уеб
Name[bn]=ওয়েব ব্রাউজিং
Name[bn_IN]=ওয়েব ব্রাউজ
Name[br]=Furchal ar Gwiad
Name[bs]=Pregledanje Veba
Name[ca]=Navegació Web
Name[ca@valencia]=Navegació Web
Name[cs]=Prohlížení internetu
Name[csb]=Przezéranié netë
Name[cy]=Pori'r W?
Name[da]=Webbrowsing
Name[de]=Browsen im Web
Name[el]=Περιήγηση ιστού
Name[en_GB]=Web Browsing
Name[eo]=Reta foliumado
Name[es]=Navegación en Web
Name[et]=Veebi lehitsemine
Name[eu]=Webak arakatzea
Name[fa]=مرورگر وب‌
Name[fi]=Verkkoselaus
Name[fr]=Navigation Web
Name[fy]=Webblêdzje
Name[ga]=Brabhsáil an Ghréasáin
Name[gl]=Navegación Web
Name[gu]=વેબ બ્રાઉઝિંગ
Name[he]=גלישה באינטרנט
Name[hi]=वेब ब्राउजिंग
Name[hne]=वेब ब्राउजिंग
Name[hr]=Pretraživanje Weba
Name[hsb]=Browsowanje
Name[hu]=Webböngésző
Name[ia]=Navigation Web
Name[id]=Meramban Web
Name[is]=Flakk um vefinn
Name[it]=Navigazione Web
Name[ja]=ウェブブラウザ
Name[ka]=ვების ჩვენება
Name[kk]=Веб шолғыш
Name[km]=ការ​រុករក​បណ្ដាញ
Name[kn]=ಜಾಲ ವೀಕ್ಷಣೆ
Name[ko]=웹 브라우징
Name[ku]=Gerîna Webê
Name[lt]=Žiniatinklio naršymas
Name[lv]=Tīmekļa pārlūkošana
Name[mai]=वेब ब्राउजिंग
Name[mk]=Веб-прелистување
Name[ml]=വെബ് ബ്രൌസിങ്ങ്
Name[mr]=वेब ब्राऊजिंग
Name[ms]=Pelayaran Web
Name[nb]=Nettlesing
Name[nds]=Nettkieken
Name[ne]=वेब ब्राउजिङ
Name[nl]=Webbrowsen
Name[nn]=Vevsurfing
Name[or]=ୱେବ ବ୍ରାଉଜିଙ୍ଗ
Name[pa]=ਵੈੱਬ ਝਲਕ
Name[pl]=Przeglądanie sieci
Name[pt]=Navegação Web
Name[pt_BR]=Navegação Web
Name[ro]=Navigare WEB
Name[ru]=Веб-браузер
Name[se]=Fierpmádatgolgadeapmi
Name[si]=වෙබ් ගවේශනය
Name[sk]=Prehliadanie webu
Name[sl]=Brskanje po spletu
Name[sr]=Прегледање Веба
Name[sr@ijekavian]=Прегледање Веба
Name[sr@ijekavianlatin]=Pregledanje Weba
Name[sr@latin]=Pregledanje Weba
Name[sv]=Webbläsning
Name[ta]=இணைய உலாவி
Name[te]=వెబ్ బ్రౌజింగ్
Name[tg]=Намоиш интернетӣ
Name[th]=เรียกดูหน้าเว็บ
Name[tr]=Web Tarama
Name[ug]=تور كۆرۈش
Name[uk]=Навігація інтернетом
Name[uz]=Veb koʻrish
Name[uz@cyrillic]=Веб кўриш
Name[vi]=Duyệt Mạng
Name[wa]=Naiviaedje waibe
Name[xh]=Ukhangelo lwencwadi ze Web
Name[x-test]=xxWeb Browsingxx
Name[zh_CN]=网络浏览
Name[zh_TW]=網頁瀏覽
XMLUIFile=konqueror.rc
RootItem=View0
View0_ServiceName=konq_aboutpage
View0_ServiceType=KonqAboutPage
View0_URL=about:konqueror
Width=80%
Height=80%
