[Profile]
Name=Web Browsing
Name[af]=Web Blaaier
Name[ar]=تصفح الشبكة
Name[be]=Вандроўка па Сеціве
Name[bn]=ওয়েব ব্রাউজিং
Name[bn_IN]=ওয়েব ব্রাউজ
Name[br]=Furchal ar Gwiad
Name[ca]=Navegació Web
Name[cs]=Prohlížení internetu
Name[csb]=Przezéranié netë
Name[cy]=Pori'r W?
Name[da]=Netsøgning
Name[de]=Web-Browser
Name[el]=Περιήγηση ιστού
Name[eo]=Reta foliumado
Name[es]=Navegación en Web
Name[et]=Veebi lehitsemine
Name[eu]=Web arakaketa
Name[fa]=مرورگر وب‌
Name[fi]=WWW-selailu
Name[fr]=Navigation Web
Name[fy]=Webblêdzje
Name[ga]=Brabhsáil an Ghréasáin
Name[gl]=Navegación Web
Name[gu]=વેબ બ્રાઉઝિંગ
Name[he]=גלישה באינטרנט
Name[hi]=वेब ब्राउजिंग
Name[hr]=Pregledavanje Interneta
Name[hu]=Webböngésző
Name[is]=Flakk um vefinn
Name[it]=Navigazione Web
Name[ja]=ウェブ閲覧
Name[ka]=ვების ჩვენება
Name[kk]=Веб шолғыш
Name[km]=ការ​រុករក​បណ្ដាញ
Name[kn]=ಜಾಲ ವೀಕ್ಷಣೆ
Name[ko]=웹 브라우징
Name[ku]=Gerîna Webê
Name[lt]=Žiniatinklio naršymas
Name[lv]=Tīmekļa pārlūkošana
Name[mk]=Веб-прелистување
Name[ml]=വെബ് ബ്രൌസിങ്ങ്
Name[mr]=वेब ब्राउजिंग
Name[ms]=Pelayaran Web
Name[nb]=Nettlesing
Name[nds]=Nettkieken
Name[ne]=वेब ब्राउजिङ
Name[nl]=Webbrowsen
Name[nn]=Vevsurfing
Name[pa]=ਵੈੱਬ ਝਲਕ
Name[pl]=Przeglądanie sieci
Name[pt]=Navegação Web
Name[pt_BR]=Navegação Web
Name[ro]=Navigare WEB
Name[ru]=Просмотр Веб
Name[se]=Fierpmádatgolgadeapmi
Name[sk]=Web prehliadanie
Name[sl]=Brskanje po spletu
Name[sr]=Прегледање Веба
Name[sr@latin]=Pregledanje Veba
Name[sv]=Webbläsning
Name[ta]=இணைய உலாவி
Name[te]=వెబ్ బ్రౌజింగ్
Name[tg]=Намоишгари Интернет
Name[th]=เรียกดูหน้าเว็บ
Name[tr]=Web Tarama
Name[uk]=Навігація Тенет
Name[uz]=Veb koʻrish
Name[uz@cyrillic]=Веб кўриш
Name[vi]=Duyệt Mạng
Name[wa]=Naiviaedje waibe
Name[x-test]=xxWeb Browsingxx
Name[xh]=Ukhangelo lwencwadi ze Web
Name[zh_CN]=Web 浏览
Name[zh_TW]=網頁瀏覽
XMLUIFile=konq-webbrowsing.rc
RootItem=View0
View0_ServiceName=konq_aboutpage
View0_ServiceType=KonqAboutPage
View0_URL=about:konqueror
Width=80%
Height=80%
