[Profile]
Container0_Children=View1,Container2
Container0_Orientation=Horizontal
Container0_SplitterSizes=166,866
Container2_Children=View5,View6
Container2_Orientation=Horizontal
Container2_SplitterSizes=295,493
Height=550
Name=File Preview
Name[af]=Lêer Voorskou
Name[ar]=معاينة الملف
Name[as]=নথিপত্ৰৰ পূৰ্ব প্ৰদৰ্শন
Name[ast]=Vista previa de ficheru
Name[be]=Прагляд файлаў
Name[be@latin]=Padhlad fajłaŭ
Name[bg]=Преглед на файл
Name[bn]=ফাইল প্রাকদর্শন
Name[bn_IN]=ফাইলের পূর্বরূপ প্রদর্শন
Name[br]=Rakgwel restr
Name[bs]=Pregled datoteka
Name[ca]=Vista prèvia de fitxer
Name[ca@valencia]=Vista prèvia de fitxer
Name[cs]=Náhled souboru
Name[csb]=Pòdzérk lopków
Name[cy]=Rhagolwg Ffeil
Name[da]=Filforhåndsvisning
Name[de]=Dateivorschau
Name[el]=Προεπισκόπηση αρχείων
Name[en_GB]=File Preview
Name[eo]=Dosierantaŭrigardo
Name[es]=Vista previa de archivo
Name[eu]=Fitxategiaren aurrebista
Name[fa]=پیش‌نمایش پرونده
Name[fi]=Tiedoston esikatselu
Name[fr]=Aperçu de fichier
Name[fy]=Triem foarbyld
Name[ga]=Réamhamharc Comhaid
Name[gl]=Vista previa de ficheiros
Name[gu]=ફાઇલ પૂર્વદર્શન
Name[he]=תצוגה מקדימה של קבצים
Name[hi]=फ़ाइल पूर्वावलोकन
Name[hne]=फाइल प्रिव्यू
Name[hr]=Pregled datoteke
Name[hsb]=Přehladka dataje
Name[hu]=Fájlkezelés előnézettel
Name[ia]=Vista preliminar de file
Name[id]=Pratilik Berkas
Name[is]=Prentsýn
Name[it]=Anteprima dei file
Name[ja]=ファイルのプレビュー
Name[ka]=ფაილთა წინასწარ შეთვალიერება
Name[kk]=Файлдарды алдын-ала қарау
Name[km]=មើល​ឯកសារ​ជា​មុន
Name[kn]=ಕಡತ ಮುನ್ನೋಟ
Name[ko]=파일 미리보기
Name[ku]=Pêşdîtina Pelan
Name[lt]=Failų peržiūra
Name[lv]=Failu priekšapskate
Name[mai]=फाइल पूर्वावलोकन
Name[mk]=Преглед на датотеки
Name[ml]=ഫയല്‍ കണ്ടുനോക്കുക
Name[mr]=फाईल पूर्वावलोकन
Name[ms]=Prapapar Fail
Name[nb]=Fil-forhåndsvisning
Name[nds]=Datei-Vöransicht
Name[ne]=फाइल पूर्वावलोकन
Name[nl]=Bestandsvoorbeeld
Name[nn]=Filvising
Name[or]=ଫାଇଲ ପ୍ରାକଦର୍ଶନ
Name[pa]=ਫਾਇਲ ਝਲਕ
Name[pl]=Podgląd plików
Name[pt]=Antevisão de Ficheiros
Name[pt_BR]=Pré-visualização de arquivo
Name[ro]=Previzualizare fișiere
Name[ru]=Предварительный просмотр файлов
Name[se]=Fiilačájeheapmi
Name[si]=ගොනු පූර්‍වදසුන
Name[sk]=Prehliadanie súborov
Name[sl]=Predogled datotek
Name[sr]=Преглед фајлова
Name[sr@ijekavian]=Преглед фајлова
Name[sr@ijekavianlatin]=Pregled fajlova
Name[sr@latin]=Pregled fajlova
Name[sv]=Förhandsgranska fil
Name[ta]=கோப்பு முன்தோற்றம்
Name[te]=దస్త్ర ముందు వీక్షణ
Name[tg]=Пешнамоиши файлҳо
Name[th]=แสดงตัวอย่างแฟ้ม
Name[tr]=Dosya Ön İzlemesi
Name[ug]=ھۆججەتنى ئالدىن كۆزەت
Name[uk]=Перегляд файлів
Name[uz]=Faylni koʻrib chiqish
Name[uz@cyrillic]=Файлни кўриб чиқиш
Name[vi]=Xem thử tập tin
Name[wa]=Prévoeyaedje di fitchîs
Name[xh]=Imboniselo yasekuqaleni Yefayile
Name[x-test]=xxFile Previewxx
Name[zh_CN]=文件预览
Name[zh_TW]=檔案預覽
XMLUIFile=konqueror.rc
RootItem=Container0
View1_LinkedView=true
View1_LockedLocation=false
View1_PassiveMode=true
View1_ServiceName=konq_sidebartng
View1_ServiceType=Browser/View
View1_ToggleView=true
View1_URL=$HOME
View5_LinkedView=true
View5_LockedLocation=true
View5_PassiveMode=false
View5_ServiceName=dolphinpart
View5_ServiceType=inode/directory
View5_ToggleView=false
View5_URL=$HOME
View6_LinkedView=true
View6_LockedLocation=false
View6_PassiveMode=false
View6_ServiceName=katepart
View6_ServiceType=text/plain
View6_ToggleView=false
View6_URL=
Width=800
