[Profile]
FullScreen=false
Name=KDE Development
Name[af]=KDE Ontwikkeling
Name[ar]=تطوير كدي
Name[be]=Распрацоўка KDE
Name[bn]=কে.ডি.ই. ডেভেলপমেন্ট
Name[ca]=Desenvolupament KDE
Name[cs]=Vývoj KDE
Name[csb]=Rozwij KDE
Name[cy]=Datblygu KDE
Name[da]=KDE-Udvikling
Name[de]=KDE-Entwicklung
Name[el]=Ανάπτυξη του KDE
Name[eo]=KDE-Programado
Name[es]=Desarrollo de KDE
Name[et]=KDE arendus
Name[eu]=KDEren garapena
Name[fa]=توسعۀ KDE
Name[fi]=KDE:n kehitystyökalut
Name[fr]=Développement de KDE
Name[fy]=KDE-ûntwikkeling
Name[ga]=Forbairt KDE
Name[gl]=Desenvolvemento de KDE
Name[gu]=KDE ડેવલોપમેન્ટ
Name[he]=פיתוח של KDE
Name[hi]=केडीई डेवलपमेंट
Name[hr]=KDE razvoj
Name[hu]=KDE-s fejlesztés
Name[is]=KDE þróun
Name[it]=Sviluppo KDE
Name[ja]=KDE 開発
Name[ka]=KDE-ში პროგრამირება
Name[kk]=KDE жүйесін жетілдіру
Name[km]=ការ​អភិវឌ្ឍន៍ KDE
Name[kn]=ಕೆಡಿಇ ವಿಕಸನ
Name[ko]=KDE 개발
Name[ku]=Pêşdebirina KDE'yê
Name[lt]=KDE vystymas
Name[lv]=KDE izstrāde
Name[mk]=Развој на KDE
Name[ml]=കെഡിഇ വികസനം
Name[ms]=Pembangunan KDE
Name[nb]=KDE-utvikling
Name[nds]=KDE-Entwickeln
Name[ne]=केडीई विकास
Name[nl]=KDE-ontwikkeling
Name[nn]=KDE-utvikling
Name[pa]=KDE ਡਿਵੈਲਪਮੈਂਟ
Name[pl]=Rozwijanie KDE
Name[pt]=Desenvolvimento do KDE
Name[pt_BR]=Desenvolvimento do KDE
Name[ro]=Dezvoltare KDE
Name[ru]=Разработка в KDE
Name[se]=KDE-ovdánahttin
Name[sk]=Vývoj KDE
Name[sl]=Razvoj KDE
Name[sr]=Развој за КДЕ
Name[sr@latin]=Razvoj za KDE
Name[sv]=KDE-utveckling
Name[ta]=KDE உருவாக்கம்
Name[te]=కెడిఈ డెవలప్ మెంట్
Name[tg]=Инкишофи KDE
Name[th]=พัฒนาโปรแกรม KDE
Name[tr]=KDE Geliştirme
Name[uk]=Розробка KDE
Name[uz]=KDE учун дастурлаштириш
Name[vi]=Phát triển KDE
Name[wa]=Diswalpaedje KDE
Name[x-test]=xxKDE Developmentxx
Name[zh_CN]=KDE 开发
Name[zh_TW]=KDE 程式開發
XMLUIFile=konq-webbrowsing.rc
RootItem=Tabs0
Tabs0_Children=ViewT0,ViewT1,ViewT2,ViewT3,ViewT4
Tabs0_activeChildIndex=0
ViewT0_LinkedView=false
ViewT0_LockedLocation=false
ViewT0_PassiveMode=false
ViewT0_ServiceName=khtml
ViewT0_ServiceType=text/html
ViewT0_ToggleView=false
ViewT0_URL=http://api.kde.org/
ViewT1_LinkedView=false
ViewT1_LockedLocation=false
ViewT1_PassiveMode=false
ViewT1_ServiceName=khtml
ViewT1_ServiceType=text/html
ViewT1_ToggleView=false
ViewT1_URL=http://doc.trolltech.com/
ViewT2_LinkedView=false
ViewT2_LockedLocation=false
ViewT2_PassiveMode=false
ViewT2_ServiceName=khtml
ViewT2_ServiceType=text/html
ViewT2_ToggleView=false
ViewT2_URL=http://bugs.kde.org/
ViewT3_LinkedView=false
ViewT3_LockedLocation=false
ViewT3_PassiveMode=false
ViewT3_ServiceName=khtml
ViewT3_ServiceType=text/html
ViewT3_ToggleView=false
ViewT3_URL=man:/gcc
ViewT4_LinkedView=false
ViewT4_LockedLocation=false
ViewT4_PassiveMode=false
ViewT4_ServiceName=khtml
ViewT4_ServiceType=text/html
ViewT4_ToggleView=false
ViewT4_URL=info:/dir
Width=80%
Height=80%
