[Profile]
Name=File Management
XMLUIFile=konqueror.rc
RootItem=Container0
Container0_Children=View1,Tabs1
Container0_Orientation=Horizontal
Container0_SplitterSizes=30,100
Tabs1_Children=ViewT0
View1_LinkedView=true
View1_PassiveMode=true
View1_ServiceName=konq_sidebartng
View1_ServiceType=Browser/View
View1_ToggleView=true
ViewT0_LinkedView=true
ViewT0_PassiveMode=false
ViewT0_ServiceName=dolphinpart
ViewT0_ServiceType=inode/directory
ViewT0_URL[$e]=$HOME
