[Profile]
Name=Web Browsing
Name[af]=Web Blaaier
Name[be]=Вандроўка па Сеціве
Name[br]=Furchal ar Gwiad
Name[ca]=Navegació Web
Name[cs]=Prohlížení internetu
Name[csb]=Przezéranié netë
Name[cy]=Pori'r W?
Name[da]=Netsøgning
Name[de]=Web-Browser
Name[el]=Περιήγηση ιστού
Name[eo]=TTTumado
Name[es]=Navegación en Web
Name[et]=Veebi lehitsemine
Name[eu]=Web arakaketa
Name[fa]=مرورگر وب‌
Name[fi]=WWW-selailu
Name[fr]=Navigation web
Name[fy]=Webblêdzje
Name[ga]=Brabhsáil an Ghréasáin
Name[gl]=Navegación Web
Name[he]=גלישה באינטרנט
Name[hr]=Pregledavanje Interneta
Name[hu]=Webböngésző
Name[is]=Flakk um vefinn
Name[it]=Navigazione Web
Name[ja]=ウェブ閲覧
Name[ka]=ვების ჩვენება
Name[kk]=Веб браузер
Name[km]=ការ​រុករក​បណ្ដាញ
Name[ko]=웹 찾아가기
Name[lt]=Žiniatinklio naršymas
Name[lv]=Tīmekļa Pārlūkošana
Name[mk]=Веб-прелистување
Name[ms]=Pelayaran Web
Name[nb]=Nettlesing
Name[nds]=Nettkieken
Name[ne]=वेब ब्राउजिङ
Name[nl]=Webbrowsen
Name[nn]=Vevsurfing
Name[pa]=ਵੈੱਬ ਝਲਕ
Name[pl]=Przeglądanie sieci
Name[pt]=Navegação Web
Name[pt_BR]=Navegação Web
Name[ro]=Navigare WEB
Name[ru]=Просмотр Веб
Name[se]=Fierpmádatgolgadeapmi
Name[sl]=Brskanje po spletu
Name[sr]=Прегледање Веба
Name[sr@latin]=Pregledanje Veba
Name[sv]=Webbläsning
Name[ta]=வலை உலாவி
Name[te]=వెబ్ బ్రౌజింగ్
Name[tg]=Тафсири Вэб
Name[tr]=Web Tarama
Name[uk]=Навігація Тенет
Name[uz]=Веб кўриш
Name[wa]=Naiviaedje waibe
Name[x-test]=xxWeb Browsingxx
Name[xh]=Ukhangelo lwencwadi ze Web
Name[zh_TW]=網頁瀏覽
RootItem=View0
View0_ServiceName=konq_aboutpage
View0_ServiceType=KonqAboutPage
View0_URL=about:konqueror
Width=80%
Height=80%
