[Desktop Entry]
Name=Microformat Icon
Name[ca]=Icona de microformat
Name[cs]=Ikona mikroformátu
Name[de]=Microformat-Symbol
Name[et]=Microformati ikoon
Name[ia]=Icone de micro formato
Name[ja]=マイクロフォーマットアイコン
Name[kk]=Microformat таңбашасы
Name[lt]=Mikroformato ženkliukas
Name[nb]=Mikroformat-ikon
Name[nl]=Microformaat-pictogram
Name[nn]=Mikroformat-ikon
Name[pt]=Ícone de Micro-Formato
Name[sv]=Mikroformat-ikon
Name[uk]=Піктограма Microformat
Name[x-test]=xxMicroformat Iconxx
Name[zh_TW]=微格式圖示
Icon=user-identity
Comment=Displays an icon in the status bar if the page contains a microformat
Comment[ca]=Mostra una icona en la barra d'estat si la pàgina conté un microformat
Comment[cs]=Pokud stránka obsahuje mikroformát, zobrazí ikonu ve stavové liště
Comment[de]=Zeigt ein Symbol in der Statusleiste an, falls die Seite ein Microformat enthält
Comment[et]=Näitab olekuribal ikooni, kui lehekülg sisaldab microformatit
Comment[ia]=Monstra un icone in le barra de stato si le pagina contine un microformato
Comment[ja]=マイクロフォーマットを含むページでステータスバーにアイコンを表示します
Comment[kk]=Бетте microformat бар болса, күй-жай жолағында таңбашасы көрсетіледі
Comment[lt]=Būsenos juostoje rodo ženkliuką, jei puslapis turi mikroformatą
Comment[nb]=Viser et ikon i statuslinja hvis siden inneholder et mikroformat
Comment[nl]=Toont een pictogram in de statusbalk als de pagina een microformaat bevat
Comment[nn]=Viser eit ikon på statuslinja dersom sida inneheld eit mikroformat
Comment[pt]=Mostra um ícone na barra de estado se a página tiver um micro-formato
Comment[sv]=Visar en ikon i statusraden om sidan innehåller ett mikroformat
Comment[uk]=Показує піктограму в рядку стану, коли сторінка має microformat
Comment[x-test]=xxDisplays an icon in the status bar if the page contains a microformatxx
Comment[zh_TW]=若網頁包含一個微格式（microformat）則在狀態列中顯示圖示
Encoding=UTF-8
Type=Service
X-KDE-Library=mfkonqmficon
X-KDE-PluginInfo-Author=George Staikos
X-KDE-PluginInfo-Email=staikos@kde.org
X-KDE-PluginInfo-Name=konqmficon
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Category=Statusbar
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=konqueror
