[Desktop Entry]
Name=Microformat Icon
Name[ar]=أيقونة مايكروفورمات
Name[bg]=Икона за микроформати
Name[bs]=Ikona mikroformata
Name[ca]=Icona de microformat
Name[ca@valencia]=Icona de microformat
Name[cs]=Ikona mikroformátu
Name[da]=Microformat ikon
Name[de]=Microformat-Symbol
Name[el]=Εικονίδιο Microformat
Name[en_GB]=Microformat Icon
Name[es]=Icono de microformato
Name[et]=Microformati ikoon
Name[eu]=Mikroformatuaren ikonoa
Name[fi]=Mikromuodon kuvake
Name[fr]=Icône micro-format
Name[ga]=Deilbhín Micreafhormáide
Name[gl]=Icona de microformato
Name[he]=אייקון Microformat
Name[hne]=माइक्रोफारमेट चिनहा
Name[hr]=Ikona mikroformata
Name[hu]=Mikroformátum ikon
Name[ia]=Icone de micro formato
Name[is]=Táknmynd fyrir örsnið
Name[it]=Icona microformat
Name[ja]=マイクロフォーマットアイコン
Name[kk]=Microformat таңбашасы
Name[km]=រូប​តំណាង Microformat
Name[ko]=마이크로포맷 아이콘
Name[ku]=Ikona Mîkroformat
Name[lt]=Mikroformato ženkliukas
Name[lv]=Mikroformāta ikona
Name[mr]=Microformat चिन्ह
Name[nb]=Mikroformat-ikon
Name[nds]=Mikroformaat-Lüttbild
Name[nl]=Microformaat-pictogram
Name[nn]=Mikroformat-ikon
Name[pa]=ਮਾਈਕਰੋਫਾਰਮੈਟ ਆਈਕਾਨ
Name[pl]=Ikona Mikroformatu
Name[pt]=Ícone em Micro-Formato
Name[pt_BR]=Ícone em microformato
Name[ro]=Microformat pictogramă
Name[ru]=Значок микроформата
Name[sk]=Ikona mikro-formátu
Name[sl]=Ikona za mikroformat
Name[sr]=Икона микроформата
Name[sr@ijekavian]=Икона микроформата
Name[sr@ijekavianlatin]=Ikona mikroformata
Name[sr@latin]=Ikona mikroformata
Name[sv]=Mikroformat-ikon
Name[tg]=Нишонаи микроформат
Name[th]=ภาพไอคอน Microformat
Name[tr]=Microformat Simge
Name[ug]=مىكرو پىچىم سىنبەلگە
Name[uk]=Піктограма Microformat
Name[wa]=Imådjete Microformat
Name[x-test]=xxMicroformat Iconxx
Name[zh_CN]=微格式图标
Name[zh_TW]=微格式圖示
Icon=user-identity
Comment=Displays an icon in the status bar if the page contains a microformat
Comment[ar]=تعرض أيقونة في شريط الحالية إذا كانت الصفحة  تحوي على مايكروفورمات
Comment[bg]=Показване на икона в лентата за състояние, ако страницата съдържа микроформат
Comment[bs]=Prikazuje ikonu u traci stanja ako stranica sadrži mikroformat
Comment[ca]=Mostra una icona en la barra d'estat si la pàgina conté un microformat
Comment[ca@valencia]=Mostra una icona en la barra d'estat si la pàgina conté un microformat
Comment[cs]=Pokud stránka obsahuje mikroformát, zobrazí ikonu ve stavové liště
Comment[da]=Viser et ikon i statuslinjen hvis siden indeholder data i et microformat
Comment[de]=Zeigt ein Symbol in der Statusleiste an, falls die Seite ein Microformat enthält
Comment[el]=Εμφανίζει ένα εικονίδιο στη γραμμή κατάστασης όταν η σελίδα περιέχει microformat
Comment[en_GB]=Displays an icon in the status bar if the page contains a microformat
Comment[es]=Muestra un icono en la barra de estado si la página contiene un microformato
Comment[et]=Näitab olekuribal ikooni, kui lehekülg sisaldab microformatit
Comment[eu]=Egoera-barran ikono bat bistaratzen du orriak mikroformatu bat daukanean
Comment[fi]=Näyttää kuvakkeen tilarivillä, jos sivulle on olemassa mikromuoto
Comment[fr]=Affiche une icône dans la barre d'état si la page contient un micro-format
Comment[ga]=Taispeáin deilbhín sa bharra stádais nuair atá micreafhormáid ag an leathanach
Comment[gl]=Mostra unha icona na barra de estado se a páxina ten un microformato
Comment[he]=הצג אייקון בשורת המצב אם הדף מכיל microformat
Comment[hr]=Prikaži ikonu u statusnoj traci ako stranica sadrži mikroformat
Comment[hu]=Megjelenít egy ikont az állapotsorban, ha az oldal tartalmaz mikroformátumot
Comment[ia]=Monstra un icone in le barra de stato si le pagina contine un microformato
Comment[is]=Birtir táknmynd í stöðuslá ef síðan innigeldur örsnið (microformat)
Comment[it]=Mostra un'icona nella barra di stato se la pagina contiene un microformat
Comment[ja]=マイクロフォーマットを含むページでステータスバーにアイコンを表示します
Comment[kk]=Бетте microformat бар болса, күй-жай жолағында таңбашасы көрсетіледі
Comment[km]=បង្ហាញ​រូប​តំណាង​ក្នុង​របារ​ស្ថានភាព បើ​ទំព័រ​មាន microformat
Comment[ko]=페이지에 마이크로포맷이 들어 있을 때 상태 표시줄에 아이콘 보이기
Comment[lt]=Būsenos juostoje rodo ženkliuką, jei puslapis turi mikroformatą
Comment[lv]=Parāda statusa joslā ikonu, ja lapa satur mikroformāta datus
Comment[nb]=Viser et ikon i statuslinja hvis siden inneholder et mikroformat
Comment[nds]=Wiest en Lüttbild op den Statusbalken, wenn de Siet en Mikroformaat bargt
Comment[nl]=Toont een pictogram in de statusbalk als de pagina een microformaat bevat
Comment[nn]=Viser eit ikon på statuslinja dersom sida inneheld eit mikroformat
Comment[pa]=ਜੇ ਪੇਜ਼ ਵਿੱਚ ਮਾਈਕਰੋਫਾਰਮੈਟ ਹੋਵੇ ਤਾਂ ਹਾਲਤ-ਪੱਟੀ ਵਿੱਚ ਆਈਕਾਨ ਵੇਖਾਓ
Comment[pl]=Wyświetla ikonę na pasku stanu, jeżeli strona zawiera mikroformat
Comment[pt]=Mostra um ícone na barra de estado quando a página tem um micro-formato
Comment[pt_BR]=Exibe um ícone na barra de status se a página contém um microformato
Comment[ro]=Afișează o pictogramă în bara de stare dacă pagina conține un microformat
Comment[ru]=Отображает значок в строке состояния, если страница содержит микроформат
Comment[sk]=Pokiaľ stránka obsahuje mikro-formát, zobrazí ikonu v stavovej lište
Comment[sl]=V vrstici stanja prikaže ikono, če spletna stran vsebuje mikroformat
Comment[sr]=Приказује икону у траци стања ако страница садржи микроформат
Comment[sr@ijekavian]=Приказује икону у траци стања ако страница садржи микроформат
Comment[sr@ijekavianlatin]=Prikazuje ikonu u traci stanja ako stranica sadrži mikroformat
Comment[sr@latin]=Prikazuje ikonu u traci stanja ako stranica sadrži mikroformat
Comment[sv]=Visar en ikon i statusraden om sidan innehåller ett mikroformat
Comment[tg]=Агар микроформат дорад, ин нишона дар панели ҳолат пайдо мешавад
Comment[th]=แสดงภาพไอคอนบนแถบสถานะ หากหน้าเว็บมีส่วนของ microformat อยู่
Comment[tr]=Sayfa microformat içerdiğinde durum çubuğunda bir simge gösterir
Comment[ug]=ئەگەر بۇ بەت مىكرو پىچىمنى ئۆز ئىچىگە ئالسا ھالەت بالداقتا بىر سىنبەلگە كۆرسىتىدۇ
Comment[uk]=Показує піктограму в рядку стану, коли сторінка має microformat
Comment[wa]=Håyene ene imådjete el bår ås messaedjes s' i gn a on microformat el pådje
Comment[x-test]=xxDisplays an icon in the status bar if the page contains a microformatxx
Comment[zh_CN]=如果这个页面包含微格式，就在状态栏中显示一个图标
Comment[zh_TW]=如果頁面中包含微格式（microformat）則在狀態列中顯示圖示
Encoding=UTF-8
Type=Service
X-KDE-Library=mfkonqmficon
X-KDE-PluginInfo-Author=George Staikos
X-KDE-PluginInfo-Email=staikos@kde.org
X-KDE-PluginInfo-Name=konqmficon
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Category=Statusbar
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=konqueror
