[Desktop Entry]
Name=Microformat Icon
Name[ca]=Icona de microformat
Name[cs]=Ikona mikroformátu
Name[de]=Microformat-Symbol
Name[ia]=Icone de micro formato
Name[lt]=Mikroformato ženkliukas
Name[nl]=Microformaat-pictogram
Name[pt]=Ícone de Micro-Formato
Name[sv]=Mikroformat-ikon
Name[uk]=Піктограма Microformat
Name[x-test]=xxMicroformat Iconxx
Icon=user-identity
Comment=Displays an icon in the status bar if the page contains a microformat
Comment[ca]=Mostra una icona en la barra d'estat si la pàgina conté un microformat
Comment[cs]=Pokud stránka obsahuje mikroformát, zobrazí ikonu ve stavové liště
Comment[de]=Zeigt ein Symbol in der Statusleiste an, falls die Seite ein Microformat enthält
Comment[ia]=Monstra un icone in le barra de stato si le pagina contine un microformato
Comment[lt]=Būsenos juostoje rodo ženkliuką, jei puslapis turi mikroformatą
Comment[nl]=Toont een pictogram in de statusbalk als de pagina een microformaat bevat
Comment[pt]=Mostra um ícone na barra de estado se a página tiver um micro-formato
Comment[sv]=Visar en ikon i statusraden om sidan innehåller ett mikroformat
Comment[uk]=Показує піктограму в рядку стану, коли сторінка має microformat
Comment[x-test]=xxDisplays an icon in the status bar if the page contains a microformatxx
Encoding=UTF-8
Type=Service
X-KDE-Library=mfkonqmficon
X-KDE-PluginInfo-Author=George Staikos
X-KDE-PluginInfo-Email=staikos@kde.org
X-KDE-PluginInfo-Name=konqmficon
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Category=Statusbar
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=konqueror
