[Desktop Entry]
Encoding=UTF-8
Type=Service
Comment=Embeddable HTML component
MimeType=text/html;application/xml;application/xhtml+xml;
Name=WebKit
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libwebkitkde
