[Desktop Entry]
Type=Service
Icon=folder-favorites
Name=Tree SideBar Module
Name[ast]=Módulu de la barra llateral n'árbole
Name[ca]=Mòdul de barra lateral d'arbre
Name[ca@valencia]=Mòdul de barra lateral d'arbre
Name[es]=Módulo del panel lateral de árbol
Name[et]=Puu külgriba moodul
Name[eu]=Zuhaitz albo-barraren modulua
Name[fr]=Module de panneau latéral pour l'arborescence
Name[it]=Modulo della barra laterale ad albero
Name[ko]=트리 사이드바 모듈
Name[nl]=Zijbalkmodule voor boomstructuur
Name[nn]=Modul for tre-sidestolpe
Name[pt]=Módulo de Árvore da Barra Lateral
Name[pt_BR]=Módulo de árvore da barra lateral
Name[sv]=Sidoradsmodul med träd
Name[uk]=Модуль ієрархії тек бічної панелі
Name[x-test]=xxTree SideBar Modulexx
Name[zh_TW]=樹狀側邊列模組
X-KDE-Library=konqsidebar_tree
