[Desktop Entry]
Encoding=UTF-8
Icon=system-search
Type=Service
X-KDE-Library=searchbar
X-KDE-PluginInfo-Author=Arend van Beelen jr.
X-KDE-PluginInfo-Email=arend@auton.nl
X-KDE-PluginInfo-Name=searchbar
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Extensions
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Search Bar
Name[ar]=شريط البحث
Name[be]=Панель пошуку
Name[bg]=Лента за търсене
Name[bs]=Pretraživačka traka
Name[ca]=Barra de cerca
Name[ca@valencia]=Barra de cerca
Name[cs]=Lišta pro vyhledávání
Name[da]=Søgelinje
Name[de]=Suchleiste
Name[el]=Γραμμή αναζήτησης
Name[en_GB]=Search Bar
Name[es]=Barra de búsqueda
Name[et]=Otsimisriba
Name[eu]=Bilaketa-barra
Name[fi]=Hakurivi
Name[fr]=Barre de recherche
Name[ga]=Barra Cuardaigh
Name[gl]=Barra de buscas
Name[he]=סרגל חיפוש
Name[hne]=खोज पट्टी
Name[hr]=Traka za pretragu
Name[hu]=Keresősáv
Name[ia]=Barra de cerca
Name[is]=Leitarslá
Name[it]=Barra di ricerca
Name[ja]=検索バー
Name[kk]=Іздеу панелі
Name[km]=របារ​ស្វែងរក
Name[ko]=검색 표시줄
Name[ku]=Darikê Lêgerînê
Name[lt]=Paieškos juosta
Name[lv]=Meklēšanas josla
Name[mr]=शोध पट्टी
Name[ms]=Bar Carian
Name[nb]=Søkelinje
Name[nds]=Söökbalken
Name[nl]=Zoekbalk
Name[nn]=Søkjelinje
Name[pa]=ਖੋਜ ਪੱਟੀ
Name[pl]=Pasek wyszukiwania
Name[pt]=Barra de Procura
Name[pt_BR]=Barra de pesquisa
Name[ro]=Bară de căutare
Name[ru]=Панель поиска
Name[sk]=Lišta pre vyhľadávanie
Name[sl]=Iskalna vrstica
Name[sr]=Претраживачка трака
Name[sr@ijekavian]=Претраживачка трака
Name[sr@ijekavianlatin]=Pretraživačka traka
Name[sr@latin]=Pretraživačka traka
Name[sv]=Sökrad
Name[tg]=Панели ҷустуҷӯӣ
Name[th]=แถบการค้นหา
Name[tr]=Arama Çubuğu
Name[ug]=ئىزدەش بالدىقى
Name[uk]=Панель пошуку
Name[wa]=Båre di cweraedje
Name[x-test]=xxSearch Barxx
Name[zh_CN]=搜索栏
Name[zh_TW]=搜尋列
Comment=Provides a text box for easier access to search engines like Google.
Comment[ar]=تزود صندوق النص بنفاذ سريع لمحركات البحث مثل جوجل
Comment[bg]=Текстово поле за лесен достъп до търсачки като Гугъл
Comment[bs]=Omogućava polje za unos teksta za lakši pristup pretraživačima poput Gugla.
Comment[ca]=Proporciona un quadre de text per a un accés més fàcil als motors de cerca com el Google.
Comment[ca@valencia]=Proporciona una caixa de text per a un accés més fàcil als motors de cerca com el Google.
Comment[cs]=Poskytuje textové pole pro snazší přístup k vyhledávačům, jako je Google.
Comment[da]=Tilføjer en søgelinje der giver nem adgang til søgemaskiner som Google.
Comment[de]=Zeigt ein Eingabefeld für direkten Zugriff auf Suchmaschinen wie Google.
Comment[el]=Σας παρουσιάζει ένα πεδίο κειμένου για γρήγορη πρόσβαση σε μηχανές αναζήτησης όπως το Google.
Comment[en_GB]=Provides a text box for easier access to search engines like Google.
Comment[es]=Proporciona un cuadro de texto para facilitar el acceso a motores de búsqueda, como Google.
Comment[et]=Võimaldab kasutada tekstikasti kiireks ligipääsuks otsingumootoritele, nt. Google.
Comment[eu]=Testu-koadro bat eskaintzen du Google bezalako bilaketa-motorrak errazago atzitzeko
Comment[fi]=Hakurivi mahdollistaa Googlen tapaisten hakukoneiden helpon käytön.
Comment[fr]=Fournit une boîte de texte pour un accès simplifié aux moteurs de recherche comme Google.
Comment[ga]=Soláthraíonn sé seo bosca téacs a thugann rochtain níos fusa ar innill chuardaigh cosúil le Google.
Comment[gl]=Fornece unha caixa de texto para acceder directamente a motores de busca como Google.
Comment[he]=מספק תיבת טקסט עבור גישה קלה למנועי חיפוש דוגמת Google.
Comment[hr]=Daje tekstualno polje za lakši pristup pretraživačima kao što je Google.
Comment[hu]=Egy szövegdobozt biztosít az egyszerűbb hozzáférésért az olyan keresőmotorokhoz, mint a Google.
Comment[ia]=Forni un quadrato de texto per un accesso plus facile a motores de cerca como Google.
Comment[is]=Birtir textareit til að auðvelda aðgang að leitarvélum á borð við Google
Comment[it]=Fornisce una casella di testo per un accesso più facile ai motori di ricerca come Google.
Comment[ja]=Google のような検索エンジンに簡単にアクセスできるテキストボックスを提供します。
Comment[kk]=Google секілді іздегіштерге оңай қатынасу жолы.
Comment[km]=ផ្ដល់​ប្រអប់​អត្ថបទ​សម្រាប់​ការ​ចូល​ដំណើរ​ការ​ងាយ​ស្រួល​ដល់​ម៉ាស៊ីន​ស្វែងរក ដូច​ជា Google ។
Comment[ko]=Google과 같은 검색 엔진에 쉽게 접근하기 위한 텍스트 상자
Comment[lt]=Rodo tekstinį lauką, lengvam paieškos variklių, tokių kaip Google, naudojimui.
Comment[lv]=Nodrošina ievades lauku ērtākai meklēšanai tīmeklī ar, piemēram, Google.
Comment[mr]=गूगल सारख्या शोध इंजिना कडे सहजपणे जाण्याकरीता मजकूर पट्टी
Comment[nb]=Viser et tekstvindu som gir lett tilgang til søkemotorer slik som Google.
Comment[nds]=Stellt en Textfeld för den Direkttogriep op Söökmaschinen as "Google" praat.
Comment[nl]=Levert een tekstvak voor snelle toegang tot zoekmachines zoals Google.
Comment[nn]=Viser eit tekstvindauge som gjev enkel tilgang til søkjemotorar som Google
Comment[pa]=ਖੋਜ ਇੰਜਣ, ਜਿਵੇਂ ਕਿ ਗੂਗਲ ਦੀ ਸੌਖੀ ਵਰਤੋਂ ਲਈ ਇੱਕ ਟੈਕਸਟ-ਬਾਕਸ ਦਿੰਦਾ ਹੈ
Comment[pl]=Zapewnia pole tekstowe w celu łatwiejszego dostępu  do wyszukiwarek takich jak Google.
Comment[pt]=Dá-lhe um campo de texto para acesso directo a motores de busca como o Google.
Comment[pt_BR]=Fornece uma caixa de texto para fácil acesso aos mecanismos de busca como o Google.
Comment[ro]=Furnizează o căsuță de text pentru acces ușor la motoare de căutare cum ar fi Google.
Comment[ru]=Поле ввода для отправки запросов к поисковым машинам типа Google.
Comment[sk]=Pre jednoduchší prístup k vyhľadávačom poskytuje textové pole, ako je napríklad Google.
Comment[sl]=Besedilno polje za lažji dostop do iskalnikov, kot je Google.
Comment[sr]=Даје поље за унос текста за лакши приступ претраживачима попут Гугла.
Comment[sr@ijekavian]=Даје поље за унос текста за лакши приступ претраживачима попут Гугла.
Comment[sr@ijekavianlatin]=Daje polje za unos teksta za lakši pristup pretraživačima poput Googlea.
Comment[sr@latin]=Daje polje za unos teksta za lakši pristup pretraživačima poput Googlea.
Comment[sv]=Visar en textruta för enklare åtkomst av söktjänster som Google.
Comment[tg]=Барои ҷустуҷӯӣ кардан дар Интернет, масалан ба воситаи Google, сатри ҷустуҷӯӣ дастрас мекунад.
Comment[th]=แสดงกล่องข้อความเพื่อเรียกใช้บริการค้นหาคล้ายของกูเกิลได้ง่ายขึ้น
Comment[tr]=Google gibi arama motorloruna kolayca ulaşmak için yazı kutususu sağlar.
Comment[ug]=گۇگىلغا ئوخشاش ئىزدەش ماتورىنى زىيارەت قىلىشقا قۇلايلىق تېكىست رامكىسى بىلەن تەمىنلەيدۇ.
Comment[uk]=Надає прямий доступ до пошукових систем таких, як Google.
Comment[wa]=Dene ene boesse di tecse po moussî pus åjheymint dins des moteurs di cweraedje come Google.
Comment[x-test]=xxProvides a text box for easier access to search engines like Google.xx
Comment[zh_CN]=提供一个可以易于访问像 Google 这样的搜索引擎的文本框
Comment[zh_TW]=提供文字盒以方便使用像 Google 之類的搜尋引擎。
X-KDE-ParentApp=konqueror
