[Desktop Entry]
Encoding=UTF-8
Icon=system-search
Type=Service
X-KDE-Library=searchbar
X-KDE-PluginInfo-Author=Arend van Beelen jr.
X-KDE-PluginInfo-Email=arend@auton.nl
X-KDE-PluginInfo-Name=searchbar
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Extensions
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Search Bar
Name[ca]=Barra de cerca
Name[cs]=Lišta pro vyhledávání
Name[de]=Suchleiste
Name[ia]=Barra de cerca
Name[ja]=検索バー
Name[kk]=Іздеу панелі
Name[lt]=Paieškos juosta
Name[nl]=Zoekbalk
Name[nn]=Søkjelinje
Name[pt]=Barra de Pesquisa
Name[sv]=Sökrad
Name[uk]=Панель пошуку
Name[x-test]=xxSearch Barxx
Name[zh_TW]=搜尋列
Comment=Provides a text box for easier access to search engines like Google.
Comment[ca]=Proporciona una caixa de text per a un accés més fàcil als motors de cerca com el Google.
Comment[cs]=Poskytuje textové pole pro snazší přístup k vyhledávačům, jako je Google.
Comment[de]=Zeigt ein Eingabefeld für direkten Zugriff auf Suchmaschinen wie Google.
Comment[ia]=Forni un quadrato de texto per un accesso plus facile a motores de cerca como Google.
Comment[ja]=Google のような検索エンジンに簡単にアクセスできるテキストボックスを提供します。
Comment[kk]=Google секілді іздегіштерге оңай қатынасу жолы.
Comment[lt]=Rodo tekstinį lauką, lengvam paieškos variklių, tokių kaip Google, naudojimui.
Comment[nl]=Levert een tekstvak voor snelle toegang tot zoekmachines zoals Google.
Comment[nn]=Viser eit tekstvindauge som gjev enkel tilgang til søkjemotorar som Google
Comment[pt]=Fornece uma área de texto para aceder facilmente aos motores de busca como o Google.
Comment[sv]=Visar en textruta för enklare åtkomst av söktjänster som Google.
Comment[uk]=Надає прямий доступ до пошукових систем таких, як Google.
Comment[x-test]=xxProvides a text box for easier access to search engines like Google.xx
Comment[zh_TW]=提供文字輸入盒，方便直接在搜尋引擎（如 Google）上搜尋。
X-KDE-ParentApp=konqueror
