[Desktop Entry]
Encoding=UTF-8
Icon=system-search
Type=Service
X-KDE-Library=searchbar
X-KDE-PluginInfo-Author=Arend van Beelen jr.
X-KDE-PluginInfo-Email=arend@auton.nl
X-KDE-PluginInfo-Name=searchbar
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Extensions
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Search Bar
Comment=Provides a text box for easier access to search engines like Google.
X-KDE-ParentApp=konqueror
