[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-DocPath=kcontrol/kcmcss/index.html
Icon=preferences-desktop-theme

X-KDE-Library=kcm_konqhtml

Name=Browser Identification
Name[af]=Stelsel identifisering
Name[ar]=تعريف المتصفح
Name[as]=চৰকৰ চিনাক্তকৰণ
Name[be]=Ідэнтыфікацыя вандроўніка
Name[be@latin]=Identyfikacyja hartača
Name[bg]=Идентификация на браузъра
Name[bn]=ব্রাউজার সনাক্তকরণ
Name[bn_IN]=ব্রাউজার সনাক্তকরণ
Name[br]=Anvelezh ar furcher
Name[bs]=Identifikacija pregledača
Name[ca]=Identificació del navegador
Name[cs]=Identifikace prohlížeče
Name[csb]=Identifikacëjô przezérnika
Name[cy]=Enw'r Porwr
Name[da]=Browseridentifikation
Name[de]=Browserkennung
Name[el]=Ταυτοποίηση περιηγητή
Name[en_GB]=Browser Identification
Name[eo]=Retumila Identigo
Name[es]=Identificación del navegador
Name[et]=Brauseri identifikaator
Name[eu]=Arakatzailearen identifikazioa
Name[fa]=شناسایی مرورگر
Name[fi]=Selaimen tunnistus
Name[fy]=Blêder identifikaasje
Name[ga]=Aitheantas Brabhsálaithe
Name[gl]=Identificación do navegador
Name[gu]=બ્રાઉઝર ઓળખ
Name[hi]=ब्राउज़र पहचान
Name[hne]=ब्राउजर चिनहइया
Name[hr]=Identifikacija preglednika
Name[hsb]=Identifikacija browsera
Name[hu]=Böngészőazonosító
Name[ia]=Identification de Navigator
Name[id]=Identifikasi Peramban
Name[is]=Auðkenni vafra
Name[it]=Identificazione del browser
Name[ka]=ბრაუზერის იდენტიფიკაცია
Name[kk]=Шолғыштың өз туралы хабарлауы
Name[km]=ការ​កំណត់​អត្តសញ្ញាណ​កម្មវិធី​រុករក
Name[kn]=ವೀಕ್ಷಕದ ಗುರುತು
Name[ko]=브라우저 증명
Name[ku]=Nasnameya Gerokê
Name[lt]=Naršyklės identifikacija
Name[lv]=Pārlūka identifikācija
Name[mai]=ब्राउजर पहचान
Name[mk]=Идентификација
Name[ml]=ബ്രൌസര്‍ തിരിച്ചറിയല്‍
Name[mr]=ब्राऊजर ओळख
Name[ms]=Pengenalpastian Pelayar
Name[nds]=Nettkieker-Identiteet
Name[ne]=ब्राउजर पहिचान
Name[nl]=Browseridentificatie
Name[or]=ବ୍ରାଉଜର ପରିଚୟ
Name[pa]=ਬਰਾਊਜ਼ਰ ਪਛਾਣ
Name[pl]=Identyfikacja przeglądarki
Name[ro]=Identificare navigator web
Name[ru]=Версия браузера
Name[si]=ගවේශකය හඳුනා ගැනීම
Name[sk]=Identifikácia prehliadača
Name[sl]=Identifikacija brskalnika
Name[sv]=Webbläsaridentifikation
Name[ta]=உலாவி அடையாளம்
Name[te]=అన్వేషణి గుర్తింపు
Name[tg]=Аслшиносии браузер
Name[th]=การแสดงตัวของเบราว์เซอร์
Name[tr]=Ağ Tarayıcı Kimliği
Name[ug]=توركۆرگۈ كىملىكى
Name[uk]=Ідентифікація навігатора
Name[wa]=Idintifiaedje do betchteu
Name[xh]=Uchazo Lomkhangeli zincwadi
Name[x-test]=xxBrowser Identificationxx

Comment=Configure the user agent string
Comment[bg]=Конфигуриране на низа на user agent
Comment[ca]=Configura la cadena d'agent d'usuari
Comment[eo]=Agordi la uzant-agentan ĉenon
Comment[ia]=Configura le catena de agente de usator
Comment[it]=Configurare la stringa dello user agent
Comment[ka]=მომხმარებლის აგენტის სტრიქონის მორგება
Comment[nl]=De tekenreeks van de gebruikersagent configureren
Comment[sl]=Konfiguriraj niz uporabniškega agenta
Comment[tr]=Kullanıcı aracısı dizisini yapılandır
Comment[uk]=Налаштування рядка агента користувача
Comment[x-test]=xxConfigure the user agent stringxx
X-KDE-Keywords=konqueror,browser,html,web,www
X-KDE-Keywords[bg]=konqueror,browser,html,web,www
X-KDE-Keywords[ca]=konqueror,navegador,html,web,www
X-KDE-Keywords[ca@valencia]=konqueror,navegador,html,web,www
X-KDE-Keywords[cs]=konqueror,prohlížeč,html,web,www
X-KDE-Keywords[de]=Internet,webbrowser
X-KDE-Keywords[en_GB]=konqueror,browser,html,web,www
X-KDE-Keywords[es]=konqueror,navegador,html,web,www
X-KDE-Keywords[eu]=konqueror,arakatzaile,html,web,www
X-KDE-Keywords[fi]=konqueror,selain,html,web,verkko,www,internet
X-KDE-Keywords[fr]=konqueror, navigateur, html, Internet, www
X-KDE-Keywords[gl]=konqueror,navegador,html,web,www
X-KDE-Keywords[ia]=konqueror,browser,html,web,www
X-KDE-Keywords[it]=konqueror,browser,html,web,www
X-KDE-Keywords[ka]=konqueror,browser,html,web,www
X-KDE-Keywords[ko]=konqueror,browser,html,web,www,브라우저,웹
X-KDE-Keywords[nl]=konqueror,browser,html,web,www
X-KDE-Keywords[pl]=konqueror,przeglądarka,html,sieć,www
X-KDE-Keywords[pt]=konqueror,navegador,HTML,Web,WWW
X-KDE-Keywords[pt_BR]=konqueror,navegador,html,web,www,internet
X-KDE-Keywords[sl]=konqueror,brskalnik,html,splet,www
X-KDE-Keywords[tr]=konqueror,tarayıcı,html,web,www
X-KDE-Keywords[uk]=konqueror,browser,html,web,www,перегляд,переглядач,браузер,мережа
X-KDE-Keywords[x-test]=xxkonquerorxx,xxbrowserxx,xxhtmlxx,xxwebxx,xxwwwxx
X-KDE-Keywords[zh_CN]=konqueror,browser,html,web,www,浏览器,网络,网页,互联网,万维网,网站

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
