[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-DocPath=kcontrol/kcmcss/index.html
Icon=preferences-desktop-theme

X-KDE-Library=kcm_konqhtml

Name=Browser Identification

Comment=Configure the user agent string
X-KDE-Keywords=konqueror,browser,html,web,www

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
