[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Web Archives
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-webarchive;
X-KDE-Library=webarchivethumbnail
CacheThumbnail=true
