[Desktop Entry]
Type=Link
URL=
Icon=view-history
Name=History
Comment=This is the history of the URLs you have recently visited. You can sort them in many ways.
X-KDE-KonqSidebarModule=konqsidebar_history
X-KDE-Weight=2
