[Desktop Entry]
Type=Link
URL=~
Icon=user-home
Name=Home Folder
Comment=This folder contains your personal files
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
X-KDE-Weight=10
