[Desktop Entry]
Type=Link
Icon=folder-favorites
Name=Places
Comment=This is the list of places.
X-KDE-KonqSidebarModule=konqsidebar_places
X-KDE-Weight=5
