[Desktop Entry]
Name=Network
Icon=folder-remote
Open=false
X-KDE-TreeModule=Virtual
X-KDE-RelURL=remote
X-KDE-KonqSidebarModule=konqsidebar_tree
X-KDE-Weight=14
