[Desktop Entry]
URL=
Icon=services
Name=Services
Open=false
X-KDE-TreeModule=Virtual
X-KDE-RelURL=services
X-KDE-KonqSidebarModule=konqsidebar_tree
X-KDE-Weight=12
