[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=validators
X-KDE-PluginInfo-Author=Richard Moore, Andreas Schlapbach
X-KDE-PluginInfo-Email=rich@kde.org, schlpbch@iam.unibe.ch
X-KDE-PluginInfo-Name=validators
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Website Validators
Comment=CSS and HTML validation tools
Icon=validators
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/validators/index.html
