[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=validators
X-KDE-PluginInfo-Author=Richard Moore, Andreas Schlapbach
X-KDE-PluginInfo-Email=rich@kde.org, schlpbch@iam.unibe.ch
X-KDE-PluginInfo-Name=validators
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Website Validators
Name[ca]=Validadors de llocs web
Name[cs]=Validátory webových stránek
Name[da]=Validering af websider
Name[de]=Webseiten-Überprüfung
Name[es]=Validadores de sitios web
Name[et]=Veebilehekülje kontrollijad
Name[ia]=Validatores  de sito web
Name[it]=Convalidatori di siti web
Name[ja]=ウェブサイト検証ツール
Name[kk]=Вебсайт тексергіші
Name[lt]=Web sričių tikrinimo priemonės
Name[nb]=Nettstedsvalidering
Name[nds]=Nettsieden-Prööv
Name[nl]=Website-validatieprogramma
Name[nn]=Nettsidevalidering
Name[pt]=Validações da Página web
Name[pt_BR]=Validador de página da Internet
Name[ru]=Проверка веб-сайтов относительно веб-стандартов
Name[sr]=Оверивачи веб сајтова
Name[sr@ijekavian]=Оверивачи веб сајтова
Name[sr@ijekavianlatin]=Overivači veb sajtova
Name[sr@latin]=Overivači veb sajtova
Name[sv]=Validering av webbplatser
Name[uk]=Перевірка вебсайтів
Name[x-test]=xxWebsite Validatorsxx
Name[zh_TW]=網站驗證器
Comment=CSS and HTML validation tools
Comment[ca]=Eines de validació de CSS i HTML
Comment[cs]=Nástroje pro kontrolu HTML a CSS
Comment[da]=Valideringsværktøjer til CSS og HTML.
Comment[de]=CSS- und HTML-Überprüfungswerkzeuge
Comment[es]=Herramientas de validación de CSS y HTML
Comment[et]=CSS-i ja HTML-i kontrollimise vahendid
Comment[ia]=Instrumentos de validate de CSS e HTML
Comment[it]=Strumenti di convalida CSS e HTML
Comment[ja]=CSS と HTML を検証します
Comment[kk]=CSS және HTML тексеру құралы
Comment[lt]=CSS ir HTML tikrinimo įrankiai
Comment[nb]=Verktøy for validering av CSS og HTML
Comment[nds]=CSS- un HTML-Pröövwarktüüch
Comment[nl]=CSS- en HTML-validatiehulpmiddellen
Comment[nn]=Verktøy for validering av CSS og HTML
Comment[pt]=Ferramentas de validação do HTML e CSS
Comment[pt_BR]=Ferramentas de validação de CSS e HTML
Comment[ru]=Инструменты проверки CSS и HTML
Comment[sr]=Алатке за оверу ЦСС‑а и ХТМЛ‑а
Comment[sr@ijekavian]=Алатке за оверу ЦСС‑а и ХТМЛ‑а
Comment[sr@ijekavianlatin]=Alatke za overu CSS‑a i HTML‑a
Comment[sr@latin]=Alatke za overu CSS‑a i HTML‑a
Comment[sv]=CSS- och HTML-valideringsverktyg
Comment[uk]=Засоби перевірки CSS і HTML
Comment[x-test]=xxCSS and HTML validation toolsxx
Comment[zh_TW]=CSS 與 HTML 的驗證工具
Icon=validators
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/validators/index.html
