[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=validators
X-KDE-PluginInfo-Author=Richard Moore, Andreas Schlapbach
X-KDE-PluginInfo-Email=rich@kde.org, schlpbch@iam.unibe.ch
X-KDE-PluginInfo-Name=validators
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Website Validators
Name[ca]=Validadors de llocs web
Name[cs]=Validátory webových stránek
Name[de]=Webseiten-Überprüfung
Name[ia]=Validatores  de sito web
Name[lt]=Web sričių tikrinimo priemonės
Name[nl]=Website-validatieprogramma
Name[pt]=Validações da Página web
Name[sv]=Validering av webbplatser
Name[uk]=Перевірка веб-сайтів
Name[x-test]=xxWebsite Validatorsxx
Comment=CSS and HTML validation tools
Comment[ca]=Eines de validació de CSS i HTML
Comment[cs]=Nástroje pro kontrolu HTML a CSS
Comment[de]=CSS- und HTML-Überprüfungswerkzeuge
Comment[ia]=Instrumentos de validate de CSS e HTML
Comment[lt]=CSS ir HTML tikrinimo įrankiai
Comment[nl]=CSS- en HTML-validatiehulpmiddellen
Comment[pt]=Ferramentas de validação do HTML e CSS
Comment[sv]=CSS- och HTML-valideringsverktyg
Comment[uk]=Засоби перевірки CSS і HTML
Comment[x-test]=xxCSS and HTML validation toolsxx
Icon=validators
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/validators/index.html
