[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=keditbookmarks
NoDisplay=true
Name=Bookmark Editor
Name[nb]=Bokmerkeredigerer
Name[pt]=Editor de Favoritos
Name[uk]=Редактор закладок
Name[x-test]=xxBookmark Editorxx
Comment=Bookmark Organizer and Editor
Comment[nb]=Bokmerkeordner og redigerer
Comment[pt]=Organizador e Editor de Favoritos
Comment[uk]=Керування і редагування закладок
Comment[x-test]=xxBookmark Organizer and Editorxx
X-DocPath=konqueror/index.html#bookmarks

