[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=keditbookmarks
NoDisplay=true
Name=Bookmark Editor
Name[bg]=Редактор на отметки
Name[bn]=বুকমার্ক সম্পাদক
Name[cs]=Editor záložek
Name[de]=Lesezeichen-Editor
Name[en_GB]=Bookmark Editor
Name[es]=Editor de marcadores
Name[et]=Järjehoidjate redaktor
Name[he]=עורך הסימניות
Name[hr]=Uređivač oznaka
Name[ia]=Editor de marcator de libros
Name[id]=Penyunting Penanda
Name[is]=Bókamerkjastjóri
Name[ja]=ブックマークエディタ
Name[kk]=Бетбелгі өңдегіші
Name[km]=កម្មវិធី​កែសម្រួល​ចំណាំ
Name[lt]=Žymelių redaktorius
Name[nb]=Bokmerkeredigerer
Name[nds]=Leesteken-Editor
Name[nl]=Bladwijzerbewerker
Name[pa]=ਬੁੱਕਮਾਰਕ ਐਡੀਟਰ
Name[pt]=Editor de Favoritos
Name[pt_BR]=Editor de favoritos
Name[sk]=Editor záložiek
Name[sl]=Urejevalnik zaznamkov
Name[sv]=Bokmärkeseditor
Name[tg]=Вироиши хатчӯбмонӣ
Name[th]=เครื่องมือแก้ไขที่คั่นหน้า
Name[tr]=Yer İmleri Düzenleyicisi
Name[uk]=Редактор закладок
Name[x-test]=xxBookmark Editorxx
Name[zh_CN]=书签编辑器
Name[zh_TW]=書籤編輯器
Comment=Bookmark Organizer and Editor
Comment[bg]=Организиране и редактиране на отметки
Comment[bn]=বুকমার্ক ব্যবস্থাপনা এবং সম্পাদনা
Comment[cs]=Editor a organizátor záložek
Comment[de]=Lesezeichen-Verwaltung und -Editor
Comment[en_GB]=Bookmark Organiser and Editor
Comment[es]=Organizador y editor de marcadores
Comment[et]=Järjehoidjate korraldaja ja redaktor
Comment[he]=מארגן ועורך סימניות
Comment[hr]=Organizator i uređivač oznaka
Comment[ia]=Editor e organisator de Marcator de libros
Comment[id]=Pengorganisir dan Penyunting Penanda
Comment[is]=Bókamerkjaskipuleggjari
Comment[ja]=ブックマークの管理と編集
Comment[kk]=Бетбелгілерді реттеу мен өңдеу
Comment[km]=កម្មវិធី​រៀបចំ និង​កែសម្រួល​ចំណាំ
Comment[lt]=Žymelių organizatorius ir redaktorius
Comment[nb]=Bokmerkeordner og redigerer
Comment[nds]=Leestekenpleger un -editor
Comment[nl]=Bladwijzers organiseren en bewerken
Comment[pt]=Organizador e Editor de Favoritos
Comment[pt_BR]=Editor e organizador de favoritos
Comment[sk]=Organizér a editor záložiek
Comment[sl]=Organizator in urejevalnik zaznamkov
Comment[sv]=Bokmärkesorganisering och editor
Comment[tg]=Ташкикунанда ва вироишгари хатчӯбмониҳо
Comment[th]=เครื่องมือแก้ไขและจัดการที่คั่นหน้า
Comment[tr]=Yer İmleri Düzenleyicisi
Comment[uk]=Керування і редагування закладок
Comment[x-test]=xxBookmark Organizer and Editorxx
Comment[zh_CN]=书签组织和编辑器
Comment[zh_TW]=書籤組織編輯器
X-DocPath=konqueror/index.html#bookmarks

