[Desktop Entry]
Type=Application
Exec=keditbookmarks
NoDisplay=true
Name=Bookmark Editor
Comment=Bookmark Organizer and Editor
X-DocPath=konqueror/index.html#bookmarks
Categories=Qt;KDE;Network;WebBrowser;
