[Desktop Entry]
Name=Konqueror Feed Icon
Icon=akregator
Comment=Displays an icon in the status bar if the page contains a feed
Encoding=UTF-8
Type=Service
X-KDE-Library=akregatorkonqfeedicon
X-KDE-PluginInfo-Author=Teemu Rytilahti
X-KDE-PluginInfo-Email=tpr@d5k.net
X-KDE-PluginInfo-Name=konqfeedicon
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=http://akregator.sourceforge.net
X-KDE-PluginInfo-Category=Statusbar
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
