[Desktop Entry]
Type=Service
Icon=view-history
Name=History SideBar Module
Name[ar]=وحدة الشريط الجانبي للتاريخ
Name[ast]=Módulu de la barra llateral del historial
Name[bg]=История за страничния панел
Name[bn]=ইতিহাস সাইডবার মডিউল
Name[bs]=Bočna traka istorijata
Name[ca]=Mòdul de barra lateral d'historial
Name[ca@valencia]=Mòdul de barra lateral d'historial
Name[cs]=Modul postranního panelu historie
Name[csb]=Mòduł historëji bòczny listwë
Name[da]=Historik-modul til sidepanel
Name[de]=Module für Verlaufsbereich
Name[el]=Πλευρική μπάρα ιστορικού
Name[en_GB]=History SideBar Module
Name[eo]=Historia flankzona Modulo
Name[es]=Módulo del panel lateral del historial
Name[et]=Ajaloo külgriba moodul
Name[eu]=Historiaren albo-barraren modulua
Name[fi]=Historiasivupalkkimoduuli
Name[fr]=Module de panneau latéral pour l'historique
Name[fy]=Skiednis sydbalke module
Name[ga]=Barra Taoibh Staire
Name[gl]=Módulo da barra lateral co historial
Name[gu]=ઇતિહાસ બાજુપટ્ટી મોડ્યુલ
Name[he]=מודל סרגל היסטוריה
Name[hi]=इतिहास बाज़ूपट्टी मोड्यूल
Name[hr]=Modul povijesti za bočnu traku
Name[hu]=Előzmények oldalsávmodul
Name[ia]=Modulo de barra lateral de historia
Name[id]=Modul Batang Sisi Riwayat
Name[is]=Söguhliðarsláreining
Name[it]=Modulo della barra laterale della cronologia
Name[ja]=履歴サイドバーモジュール
Name[kk]=Бүйірдегі журнал панелінің модулі
Name[km]=ម៉ូឌុល​របារ​ចំហៀង​ប្រវត្តិ
Name[kn]=ಚರಿತ್ರೆ ಬದಿಪಟ್ಟಿ ಘಟಕ
Name[ko]=과거 기록 사이드바 모듈
Name[lt]=Istorijos šoninės juostos modulis
Name[lv]=Vēstures sānjoslas modulis
Name[mai]=इतिहास कतकापट्टी माड्यूल
Name[mk]=Модул „Лента за историја“
Name[ml]=നാള്‍വഴികള്‍ വശത്തു് കാണിയ്ക്കുന്ന ഭാഗം
Name[mr]=इतिहास बाजूचीपट्टी विभाग
Name[nb]=Modul for historie-sidestolpe
Name[nds]=Vörgeschicht-Sietpaneelmoduul
Name[nl]=Geschiedeniszijbalkmodule
Name[nn]=Logg-sidestolpe
Name[pa]=ਅਤੀਤ ਬਾਹੀ ਮੋਡੀਊਲ
Name[pl]=Moduł paska bocznego z historią
Name[pt]=Módulo de Barra Lateral do Histórico
Name[pt_BR]=Módulo da barra lateral de histórico
Name[ro]=Modul Bară laterală de istoric
Name[ru]=Модуль боковой панели журнала
Name[si]=ඉතිහාස පැති තීරු මොඩියුලය
Name[sk]=Modul bočného panelu histórie
Name[sl]=Modul stranske vrstice zgodovine
Name[sr]=Бочна трака историјата
Name[sr@ijekavian]=Бочна трака историјата
Name[sr@ijekavianlatin]=Bočna traka istorijata
Name[sr@latin]=Bočna traka istorijata
Name[sv]=Historiksidomodul
Name[tg]=Модули панели қайди таърих
Name[th]=มอดูลแถบข้างแสดงประวัติการใช้
Name[tr]=Geçmiş Yan Çubuğu Modülü
Name[ug]=تارىخى يان بالداق بۆلىكى
Name[uk]=Модуль бічної панелі журналу
Name[wa]=Module bår di costé di l' istwere
Name[x-test]=xxHistory SideBar Modulexx
Name[zh_CN]=历史侧边栏模块
Name[zh_TW]=歷史紀錄邊列模組
X-KDE-Library=konqsidebar_history
