[Desktop Entry]
Type=Service
Name=Konqueror Browser Preloader
Comment=Reduces Konqueror startup time
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=konqy_preloader
X-KDE-DBus-ModuleName=konqy_preloader
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
