[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDED Konqueror Preloader Module
Name[af]=KDED Konqueror Vroegtydige Laai Module
Name[be]=Модуль папярэдняй загрузкі Konqueror KDED
Name[ca]=Mòdul de precàrrega del Konqueror KDED
Name[cs]=KDED modul pro načítání Konqueroru
Name[csb]=Mòduł wstãpnegò wladënkù Konquerora
Name[cy]=Modiwl Cynlwytho Konqueror KDED
Name[da]=KDED Konqueror forindlæsningsmodul
Name[de]=Konqueror-Schnellstart
Name[el]=KDED άρθρωμα Προφόρτωσης του Konqueror
Name[eo]=KDED-Konkeranta antaŭŝarĝomodulo
Name[es]=Módulo de precarga de Konqueror KDED
Name[et]=KDED Konquerori eellaadimise moodul
Name[eu]=KDED Konqueror aurrekargatze modulua
Name[fa]=پیمانۀ پیش‌بارکنندۀ KDED Konqueror
Name[fi]=Konquerorin esilatausmoduuli KDED:lle
Name[fr]=Module KDED de préchargement de Konqueror
Name[fy]=KDED Konqueror Foarlaad-module
Name[ga]=Modúl Réamhluchtú Konqueror KDED
Name[gl]=Módulo KDED de Precarga de Konqueror 
Name[he]=מודול טעינה מקדימה של Konqueror עבור KDED
Name[hr]=KDED Konqueror modul pred-učitavanja
Name[hu]=KDED gyorsbetöltő modul a Konquerorhoz
Name[is]=KDED Konqueror forræsingareining
Name[it]=Modulo di KDED per precaricare Konqueror
Name[ja]=KDED Konqueror プリロードモジュール
Name[ka]=Konqueror-ის წინჩატვირთვის მოდული KDED
Name[kk]=KDED деген Konqueror-ді алдын-ала жүктеу модулі
Name[km]=ម៉ូឌុល​កម្មវិធី​ផ្ទុក​ស្រេច​របស់ KDED Konqueror 
Name[lt]=KDED Konqueror išankstinio įkrovimo modulis
Name[lv]=KDED Iekarotāja priekšielādēšanas modulis
Name[mk]=Модул на KDED за предвчитување на Konqueror
Name[ms]=Modul Pramuat Konqueror KDE
Name[nb]=KDED-modul for å forhåndslaste Konqueror
Name[nds]=KDED-Moduul för't Vörladen vun Konqueror
Name[ne]=KDED कन्क्वेरर प्रीलोडर मोड्युल
Name[nl]=KDED Konqueror Preloader-module
Name[nn]=KDED-modul for førehandslasting av Konqueror
Name[pa]=KDED ਕੋਨਕਿਉਰੋਰ ਪਹਿਲਾਂ ਲੋਡ ਮੋਡੀਊਲ
Name[pl]=Moduł KDED wstępnego wczytania Konquerora
Name[pt]=Módulo KDED de Pré-Carregamento do Konqueror
Name[pt_BR]=Módulo de Pré-carregamento do Konqueror
Name[ro]=Modul KDED de preîncărcare Konqueror
Name[ru]=Предварительная загрузка Konqueror
Name[sl]=Modul KDED za prednalaganje Konquerorja
Name[sr]=Модул за предучитавање Konqueror-а, KDED
Name[sr@latin]=Modul za predučitavanje Konqueror-a, KDED
Name[sv]=KDED Konqueror-förladdningsmodul
Name[ta]=KDED கான்கொரர் முன் ஏற்றக்கூடிய பகுதி
Name[th]=โมดูลโหลด Konqueror ล่วงหน้าของ KDED
Name[tr]=KDED Konqueror Önyükleme Modülü
Name[uk]=Модуль KDED для попереднього завантаження Konqueror
Name[vi]=Mô-đun nạp sẵn Konqueror KDED
Name[x-test]=xxKDED Konqueror Preloader Modulexx
Name[zh_TW]=KDED Konqueror 預先載入模組
Comment=Reduces Konqueror startup time
Comment[af]=Verminder Konqueror se opstart tyd
Comment[ar]= يقلّل من وقت بدء تشغيل كونكيورر
Comment[be]=Змяншае час запуску Konqueror
Comment[bg]=Намаляване на времето за стартиране на браузъра
Comment[ca]=Redueix el temps d'inici del Konqueror
Comment[cs]=Redukuje čas pro spuštění Konqueroru
Comment[csb]=Zmiészô czas zrëszaniô Konquerora
Comment[cy]=Lleihau amser ymgychwyn Konqueror
Comment[da]=Reducerer Konquerors opstartstid
Comment[de]=Lädt Konqueror im Voraus und verringert so die Ladezeit
Comment[el]=Μειώνει το χρόνο εκκίνησης του Konqueror
Comment[eo]=Mallongigas la Konkerantan starttempon
Comment[es]=Reduce el tiempo de inicio de Konqueror
Comment[et]=Kahandab Konquerori käivitamise aega
Comment[eu]=Konquerorren abiatze denbora laburtzen du
Comment[fa]=زمان راه‌اندازی Konqueror را کاهش می‌دهد
Comment[fi]=Vähentää Konquerorin käynnistysaikaa
Comment[fr]=Réduit le temps de démarrage de Konqueror
Comment[fy]=Redusearret de begjintiid fan Konqueror
Comment[ga]=Laghdaíonn sé seo an t-am chun Konqueror a thosú
Comment[gl]=Reduce o tempo de início de Konqueror
Comment[he]=מקטין את זמן הפעלת Konqueror
Comment[hr]=Ubrzava pokretanje Konquerora
Comment[hu]=A Konqueror elindulási idejének lecsökkentése
Comment[is]=Dregur úr ræsingatíma Konqueror vafrans
Comment[it]=Riduce il tempo di avvio di Konqueror
Comment[ja]=Konqueror の起動時間を短縮します
Comment[ka]=ამცირებს Konqueror-ის გაშვების დროს
Comment[kk]=Konqueror-ді жүктеу уақытын қысқартады
Comment[km]=បន្ថយ​រយៈពេល​ចាប់ផ្ដើម​របស់ Konqueror
Comment[lt]=Sutrumpina Konqueror paleidimo laiką
Comment[lv]=Samazina Iekarotāja palaišanas laiku
Comment[mk]=Го намалува времето за стартување на Konqueror
Comment[ms]=Mengurangkan masa pemulaan Konqueror
Comment[nb]=Reduserer oppstartstida for Konqueror
Comment[nds]=Bringt de Starttiet vun Konqueror daal
Comment[ne]=कन्क्वेरर सुरुआत समय घटाउँछ
Comment[nl]=Reduceert de opstarttijd van Konqueror
Comment[nn]=Reduserer oppstartstida til Konqueror
Comment[pa]=ਕੋਨਕਿਉਰੋਰ ਸ਼ੁਰੂਆਤੀ ਸਮਾਂ ਘਟਾਉਦਾ ਹੈ
Comment[pl]=Zmniejsza czas uruchomienia Konquerora
Comment[pt]=Reduz o tempo de arranque do Konqueror
Comment[pt_BR]=Reduz o tempo de inicialização do Konqueror
Comment[ro]=Reduce timpul de pornire al Konqueror
Comment[ru]=Предварительная загрузка Konqueror во время запуска KDE
Comment[se]=Unnida Konquerora álggahanáiggi
Comment[sl]=Skrajša zagonski čas Konquerorja
Comment[sr]=Смањује време потребно за покретање Konqueror-а
Comment[sr@latin]=Smanjuje vreme potrebno za pokretanje Konqueror-a
Comment[sv]=Minskar Konquerors starttid
Comment[ta]=கான்கொரர் துவக்க நேரத்தை குறைக்கிறது
Comment[te]=కాంకెరర్ మొదలు సమయాన్ని తగ్గించును
Comment[th]=ลดเวลาที่ใช้เริ่มทำงานของ Konqueror
Comment[tr]=Konqueror açılış zamanını azaltır
Comment[uk]=Зменшує час запуску Konqueror
Comment[uz]=Konqueror ишга тушиш вақтини камайтириш
Comment[vi]=Giảm thời gian khởi chạy Konqueror
Comment[x-test]=xxReduces Konqueror startup timexx
Comment[zh_TW]=減少 Konqueror 啟動時間
ServiceTypes=KDEDModule
X-KDE-Library=konqy_preloader
X-KDE-FactoryName=konqy_preloader
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
