[Desktop Entry]
Exec=konqueror --preload
Type=Application
Name=Konqueror Preloading During KDE startup
Name[af]=Vroegtydige laai van Konqueror tydens KDE opstart
Name[be]=Папярэдняя загрузка Konqueror падчас запуску KDE
Name[bg]=Зареждане на браузъра при стартиране
Name[bn]=কে.ডি.ই. আরম্ভকালীন কনকরার প্রিলোড
Name[ca]=Precàrrega del Konqueror durant l'engegada del KDE
Name[cs]=Načtení Konqueroru dopředu během spuštění KDE
Name[csb]=Wstãpny wladënk Konquerora przë zrëszaniu KDE
Name[cy]=Cynlwytho Konqueror yn ystod Ymgychwyn KDE
Name[da]=Konqueror forhåndsindlæsning ved opstart
Name[de]=Konqueror bei KDE-Start im Hintergrund laden
Name[el]=Προφόρτωση του Konqueror κατά την εκκίνηση του KDE
Name[eo]=Konkeranta antaŭŝargado dum KDE-lanĉo
Name[es]=Precargado de Konqueror durante el arranque de KDE
Name[et]=Konquerori eellaadimine KDE käivitamisel
Name[eu]=Konquerorren aurrekarga KDE abiatzen den bitartean
Name[fa]=پیش‌بارگذاری  Konqueror در طول راه‌‌‌اندازی KDE
Name[fi]=Konquerorin esilataus KDE:n käynnistyksessä
Name[fr]=Préchargement de Konqueror lors du démarrage de KDE
Name[fy]=Konqueror foarlade ûnder it begjinnen fan KDE
Name[ga]=Réamhluchtú Konqueror ag am tosaithe KDE
Name[gl]=Precarga de Konqueror durante o inicio de KDE
Name[he]=טעינה מקדימה של Konqueror בעת הפעלת KDE
Name[hi]=केडीई चालू होने के दौरान कॉन्करर प्रीलोड हो रहा है
Name[hr]=Konqueror pred-učitavanje tijekom podizanja KDE-a
Name[hu]=Konqueror-gyorsbetöltő
Name[is]=Konqueror ræsir þegar KDE ræsir
Name[it]=Precaricamento di Konqueror durante l'avvio di KDE
Name[ja]=KDE 起動時に Konqueror をプリロードします
Name[ka]=Konqueror-ის წინჩატვირთვა KDE-ს გაშვებისას
Name[kk]=KDE бастағанда Konqueror-ді алдын-ала жүктеу
Name[km]=Konqueror ដែល​ផ្ទុក​ជា​​​មុន​កំឡុង​ពេល​ចាប់​ផ្តើម KDE
Name[kn]=ಕೆಡಿಇ ಪ್ರಾರಂಭದಲ್ಲಿ ಕಾಂಕರರ್ ಮುನ್ನ ಉತ್ಥಾಪನೆ (ಪ್ರಿ ಲೋಡಿಂಗ್)
Name[ko]=KDE 시작 중 Konqueror 미리 불러오기
Name[ku]=Di destpêkirina KDE'yê de Pêşbarkirina Konquerorê
Name[lt]=Įkelti Konqueror paleidžiant KDE
Name[lv]=Konqueror priekšielāde KDE palaišanās laikā
Name[mk]=Konqueror се предвчитува за време на подигањето на KDE
Name[ms]=Prapemuatan Konqueror Semasa pemulaan KDE
Name[nb]=Forhåndslast Konqueror når KDE starter
Name[nds]=Konqueror vörladen bi't Hoochfohren vun KDE
Name[ne]=केडीई सुरुआत गर्दा पहिले लोड गरिएको कन्क्वेरर
Name[nl]=Konqueror voorladen tijdens KDE-start
Name[nn]=Førehandslast Konqueror når KDE startar
Name[pa]=ਕੋਨਕਿਉਰੋਰ ਪਹਿਲਾਂ ਹੀ KDE ਦੀ ਸ਼ੁਰੂਆਤ 'ਤੇ ਹੀ ਲੋਡ ਹੋ ਜਾਦਾ ਹੈ
Name[pl]=Wstępne wczytanie Konquerora przy uruchamianiu KDE
Name[pt]=Pré-Carregamento do Konqueror no Arranque do KDE
Name[pt_BR]=Pré-carregamento do Konqueror no início do KDE
Name[ro]=Preîncărcare Konqueror la pornirea KDE
Name[ru]=Предварительная загрузка Konqueror при запуске KDE
Name[se]=Viečča Konquerora ovdagihtii go KDE vuolgá johtui
Name[sk]=Prednahratie Konquerora počas štartu KDE
Name[sl]=Prednalaganje Konquerorja med zaganjanjem KDE
Name[sr]=Предучитавање К‑освајача при покретању КДЕ‑а
Name[sr@latin]=Predučitavanje K‑osvajača pri pokretanju KDE‑a
Name[sv]=Förladdning av Konqueror vid start av KDE
Name[ta]=கேடியி துவக்கத்தின்போது கான்கொரரை முன் ஏற்றுதல்
Name[th]=โหลด Konqueror ล่วงหน้า ขณะ KDE เริ่มทำงานริ่มทำงาน
Name[tr]=KDE açılışında Konqueror Önyüklemesi
Name[uk]=Попереднє завантаження Konqueror при старті KDE
Name[vi]=Nạp sẵn Konqueror trong lúc khởi chạy KDE
Name[wa]=Prétcherdjaedje do Konqueror tins l' enondaedje di KDE
Name[x-test]=xxKonqueror Preloading During KDE startupxx
Name[zh_CN]=在 KDE 启动时预先加载 Konqueror
Name[zh_TW]=啟動 KDE 時預先載入 Konqueror
X-KDE-autostart-condition=konquerorrc:Reusing:PreloadOnStartup:false
X-KDE-StartupNotify=false
X-KDE-autostart-phase=2
OnlyShowIn=KDE;
