[Desktop Entry]
Type=Service
Icon=bookmark
Name=Bookmarks SideBar Module
Name[ast]=Módulu de la barra llateral de Marcadores
Name[ca]=Mòdul de barra lateral d'adreces d'interès
Name[et]=Järjehoidjate külgriba moodul
Name[eu]=Laster-marken albo-barraren modulua
Name[it]=Modulo della barra laterale dei segnalibri
Name[nl]=Zijbalkmodule voor bladwijzers
Name[pt]=Módulo de Favoritos da Barra Lateral
Name[sv]=Sidoradsmodul med bokmärken
Name[uk]=Модуль закладок бічної панелі
Name[x-test]=xxBookmarks SideBar Modulexx
X-KDE-Library=konqsidebar_bookmarks
