[Desktop Entry]
Type=Service
Icon=bookmark
Name=Bookmarks SideBar Module
Name[bg]=Модул за отметки в страничния панел
Name[ca]=Mòdul de barra lateral d'adreces d'interès
Name[ca@valencia]=Mòdul de barra lateral d'adreces d'interés
Name[cs]=Modul postranního panelu záložek
Name[da]=Bogmærkemodul til sidepanel
Name[de]=Modul für Lesezeichen-Navigationsbereich
Name[el]=Άρθρωμα πλευρικής μπάρας σελιδοδεικτών
Name[en_GB]=Bookmarks SideBar Module
Name[eo]=TTT-flankzona modulo por legosignoj
Name[es]=Módulo del panel lateral de marcadores
Name[et]=Järjehoidjate külgriba moodul
Name[eu]=Laster-marken albo-barraren modulua
Name[fi]=Kirjanmerkkien sivupaneelimoduuli
Name[fr]=Module de panneau latéral pour les signets
Name[ia]=Modulo de barra lateral de marcatores de libro
Name[id]=Modul Bilah Sisi Markah
Name[it]=Modulo della barra laterale dei segnalibri
Name[ka]=სანიშნების გვერდითი პანელის მოდული
Name[ko]=책갈피 사이드바 모듈
Name[nl]=Zijbalkmodule voor bladwijzers
Name[nn]=Modul for bokmerke-sidestolpe
Name[pl]=Moduł paska bocznego zakładek
Name[pt]=Módulo de Favoritos da Barra Lateral
Name[pt_BR]=Módulo de favoritos da barra lateral
Name[ru]=Модуль боковой панели «Закладки»
Name[sk]=Modul bočného panelu záložiek
Name[sl]=Modul stranske vrstice zaznamkov
Name[sv]=Sidoradsmodul med bokmärken
Name[tr]=Yer İmleri Kenar Çubuğu Modülü
Name[uk]=Модуль закладок бічної панелі
Name[x-test]=xxBookmarks SideBar Modulexx
Name[zh_CN]=书签侧边栏模块
Name[zh_TW]=書籤側邊列模組
X-KDE-Library=konqsidebar_bookmarks
