[Desktop Entry]
Type=Service
Icon=bookmark
Name=Bookmarks SideBar Module
Name[x-test]=xxBookmarks SideBar Modulexx
X-KDE-Library=konqsidebar_bookmarks
