[Desktop Entry]
Encoding=UTF-8
Icon=stylesheet
Type=Service
ServiceTypes=KCModule
Exec=kcmshell kcmcss
DocPath=kcontrol/kcmcss/index.html


X-KDE-Library=css
X-KDE-ParentApp=kcontrol

Name=Stylesheets
Name[af]=Stylblaaie
Name[be]=Табліцы стыляў
Name[bg]=CSS стилове
Name[br]=Folennoù c'hiz
Name[ca]=Fulls d'estil
Name[cs]=Soubory se styly
Name[csb]=Bôdżi sztélów
Name[cy]=Dalennau arddull
Name[da]=Stilark
Name[de]=Stilvorlagen
Name[el]=Φύλλα στυλ
Name[eo]=Stildifinoj
Name[es]=Hojas de estilo
Name[et]=Laaditabelid
Name[eu]=Estilo orriak
Name[fa]=صفحه سبکها
Name[fi]=Tyylisivut
Name[fr]=Feuilles de style
Name[fy]=Stylblêden
Name[ga]=Stílbhileoga
Name[gl]=Follas de Estilo
Name[he]=גיליונות סגנון
Name[hr]=Stilska oblikovanja
Name[hu]=Stíluslapok
Name[is]=Stílblöð
Name[it]=Fogli di stile
Name[ja]=スタイルシート
Name[kk]=CSS стильдері
Name[km]=សន្លឹក​រចនាប័ទ្ម
Name[ko]=스타일시트
Name[lt]=Stiliaus aprašymai
Name[mk]=Дизајни на страница
Name[ms]=Lemabaran Gaya
Name[nb]=Stilsett
Name[nds]=Stilvörlagen
Name[ne]= शैलीपाना
Name[nl]=Stijlbladen
Name[nn]=Stilsett
Name[pl]=Arkusze stylów
Name[pt]=Folhas de estilo
Name[pt_BR]=Folhas de estilo
Name[ro]=Foi de stil
Name[ru]=Стили CSS
Name[se]=Stiilaárkkat
Name[sl]=Slogovne predloge
Name[sr]=Описи стилова
Name[sr@latin]=Opisi stilova
Name[sv]=Stilmallar
Name[ta]=அமைக்கும் பாணி
Name[tg]=Намуди варақа
Name[tr]=Stil Kağıtları
Name[uk]=Таблиці стилів
Name[uz]=Стайлшитлар
Name[x-test]=xxStylesheetsxx
Name[xh]=Amakhasi ohlobo oluthile
Name[zh_TW]=樣式表單
Comment=Configure the stylesheets used to render web pages
Comment[af]=Konfigureer die stylblaaie gebruik word na interpreteer web bladsye
Comment[be]=Настаўленне табліц стыляў для малявання старонак Сеціва
Comment[bg]=Настройване на използваните CSS стилове в уеб страниците
Comment[br]=Kefluniañ ar folennoù c'hiz evit ar pajennoù gwiad
Comment[ca]=Aquí podeu configurar els fulls d'estil emprats per a renderitzar les pàgines web
Comment[cs]=Zde je možné nastavit styly používané pro zobrazování HTML
Comment[csb]=Kònfigùracëjô bògów sztélów do wëskrzënianiô internetowich starnów
Comment[cy]=Ffurfweddu'r dalennau arddull sy'n trosi tudalennau gwe.
Comment[da]=Indstil stilark brugt til at vise netsider
Comment[de]=Stilvorlagen für die Anzeige von HTML-Seiten einrichten
Comment[el]=Ρυθμίστε τα φύλλα στυλ που χρησιμοποιούνται για την εμφάνιση των ιστοσελίδων
Comment[eo]=Agordo de la stildifinoj por HTML-prezento
Comment[es]=Configuración de las hojas de estilo usadas para mostrar páginas web
Comment[et]=Laaditabelite seadistamine veebilehtede renderdamiseks
Comment[eu]=Kondiguratu HTML errenderizatzeko erabilitako estilo orriak
Comment[fa]=پیکربندی صفحه سبکهای مورد استفادۀ پرداخت صفحات وب
Comment[fi]=WWW-sivuilla käytettävien tyylisivujen asetukset
Comment[fr]=Configuration des feuilles de style utilisées pour l'affichage HTML
Comment[fy]=Hjir kinne jo de stylblêden ynstelle dy brûkt wurde foar de werjefte fan websiden
Comment[ga]=Cumraigh na stílbhileoga a úsáidtear chun leathanaigh ghréasáin a rindreáil
Comment[gl]=Configurar as follas de estilo empregadas para visualizar páxinas
Comment[he]=שינוי הגדרות גיליונות הסגנון המשמשים להצגת דפי אינטרנט
Comment[hr]=Konfiguriranje stilskih oblikovanja koja se upotrebljavaju za prikaz web sadržaja
Comment[hu]=A weboldalak megjelenítéséhez használt stíluslapok beállításai
Comment[is]=Stilla stílblöð sem vinna á HTML skrám
Comment[it]=Configura i fogli di stile da usare per visualizzare le pagine web
Comment[ja]=ウェブページのレンダリングに使用するスタイルシートを設定
Comment[ka]=CSS კონფიგურაცია ვებ გვერდების ასახვისთვის
Comment[kk]=Веб-парақтарды көрсеткенде қолданатын CSS-стильдерді баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​សន្លឹក​រចនាប័ទ្ម ដែល​ប្រើ​ដើម្បី​បង្ហាញ​ទំព័រ​បណ្ដាញ
Comment[lt]=Konfigūruoti stiliaus aprašymus naudojamus tinklalapių atvaizdavimui
Comment[lv]=Konfigurēt stilus, ko izmantos tīmekļa lapu attainošanai
Comment[mk]=Конфигурирајте ги страниците со дизајн\nшто се користат за прикажување веб-страници
Comment[ms]=Konfigur lembaran gaya yang digunakan untuk merealisasikan laman web
Comment[nb]=Her kan du sette opp stilsett for visning av nettsider
Comment[nds]=Stell de Stilvörlaag in, de för't Wiesen vun Nettsieden bruukt warrt
Comment[ne]=रेन्डर वेब पृष्ठहरू प्रयोग गर्ने शैलीपाना कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de stijlbladen instellen die gebruikt worden voor de weergave van webpagina's
Comment[nn]=Oppsett av stilsett for vising av nettsider
Comment[pa]= ਵੈਬ ਸਫਿਆਂ ਨੂੰ ਪੇਸ਼ ਕਰਨ ਲਈ ਸਾਰਣੀਕਾਰ ਸ਼ੀਟਾਂ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja arkuszy stylów do wyświetlania stron internetowych
Comment[pt]=Configuração das folhas de estilo, usadas para mostrar as páginas Web
Comment[pt_BR]=Configurar as folhas de estilo utilizadas para renderizar páginas da web
Comment[ro]=Configurează foile de stil utilizate la randarea paginilor de web
Comment[ru]=Настройка стилей CSS, используемых при показа веб-страниц
Comment[se]=Heivet stiilaárkkaid mainna čájeha HTML-siidduid
Comment[sl]=Nastavite slogovne predloge za upodabljanje HTML
Comment[sr]=Подешавање стилова који се користе за приказ веб страница
Comment[sr@latin]=Podešavanje stilova koji se koriste za prikaz veb stranica
Comment[sv]=Anpassa stilmallarna som används för att visa webbsidor
Comment[ta]=வலை பக்கங்கள் நடைமுறைக்கு பயன்படுத்தப்பட்ட பாணிபட்டியல்களை வடிவமை
Comment[tg]=Танзимоти услуби CSS, дар вақти равшан созии варақаҳои вэб истифода мешаванд.
Comment[tr]=Stylesheet ayarlarını yapın
Comment[uk]=Налаштування таблиць стилів для відображення сторінок Тенет
Comment[uz]=Веб-саҳифаларни кўрсатишда ишлатиладиган CSS услубларини мослаш
Comment[x-test]=xxConfigure the stylesheets used to render web pagesxx
Comment[xh]=Qwalasela uhlobo lwamakhasi asebenziswa ukuchaza amaphepha e web
Comment[zh_TW]=設定用來顯示網頁的樣式表單

Keywords=CSS,HTML,style,stylesheet,accessibility
Keywords[be]=Стыль,табліца стыляў,даступнасць,CSS,HTML,style,stylesheet,accessibility
Keywords[bg]=Keywords=стил, стилове, страници, достъпност, CSS, HTML, style, stylesheet, accessibility
Keywords[br]=CSS,HTML,giz,folenn c'hiz,haezadusted
Keywords[ca]=CSS,HTML,estil,full d'estil,accessibilitat
Keywords[cs]=CSS,HTML,styl,style,stylesheet,zpřístupnění
Keywords[csb]=CSS,HTML,sztél,bòga sztélu,przëstãpnosc
Keywords[cy]=CSS,HTML,ardull,dalen arddull,hygyrchedd
Keywords[da]=CSS,HTML,stil,stilark,tilgængelighed
Keywords[de]=CSS,HTML,Stylesheet,Stilvorlagen,Zugangshilfen
Keywords[el]=CSS,HTML,στυλ,φύλλο στυλ,προσιτότητα
Keywords[eo]=CSS,HTML,stilo,stildifino,alirebleco
Keywords[es]=CSS,HTML,estilo,hoja de estilo,accesibilidad
Keywords[et]=CSS,HTML,stiil,laaditabel
Keywords[eu]=CSS,HTML,estiloa,estilo orria,erabilerraztasuna
Keywords[fa]=CSS، زنگام، سبک، صفحه سبک، دستیابی‌پذیری
Keywords[fi]=CSS,HTML,tyyli,tyylimäärittely,esteettömyys
Keywords[fr]=css,html,style,feuille de style,accessibilité
Keywords[fy]=CSS,HTML,styl,stylblêd,tagonklikens,stylblêden
Keywords[ga]=CSS,HTML,stíl,stílbhileog,inrochtaineacht
Keywords[gl]=CSS,HTML,estilo,follas de estilo,acesibilidade
Keywords[he]=CSS,HTML,סגנון,גיליון סגנון,נגישות,style,stylesheet,accessibility
Keywords[hr]=CSS,HTML,style,stylesheet,accessibility,stil,stilsko oblikovanje,pristupačnost
Keywords[hu]=CSS,HTML,stílus,stíluslap,elérhetőség
Keywords[is]=CSS,HTML,stíll,stílblað,aðgengi,aðgengilegheit,aðgangur
Keywords[it]=CSS,HTML,stile,fogli di stile,stylesheet,accessibilità
Keywords[ja]=CSS,HTML,スタイル,スタイルシート,アクセシビリティ
Keywords[km]=CSS HTML រចនាប័ទ្ម​ សន្លឹក​រចនាប័ទ្ម មធ្យោបាយ​ងាយ​ស្រួល
Keywords[ko]=CSS,HTML,style,stylesheet,accessibility,모양새,꼴,스타일시트
Keywords[lt]=CSS,HTML,style,stylesheet,accessibility,stilius,stiliaus aprašymas
Keywords[lv]=CSS,HTML,stils,stilusaraksts,pieejamība
Keywords[mk]=CSS,HTML,style,stylesheet,accessibility,стил,страница,дизајн,пристапност
Keywords[nb]=CSS,HTML,stil,stilsett,tilgjengelighet
Keywords[nds]=CSS,HTML,Stil,Stilvörlaag,Behinnerte
Keywords[ne]=CSS, HTML, शैली, शैलीपाना, पहुँचता
Keywords[nl]=CSS,HTML,stijl,stylesheet,toegankelijkheid,stijlbladen
Keywords[nn]=CSS,HTML,stilsett,tilgjenge,brukarstilsett
Keywords[pa]=CSS,HTML,ਸਟਾਇਲ,stylesheet,accessibility
Keywords[pl]=CSS,HTML,styl,arkusz stylu,dostępność
Keywords[pt]=CSS,HTML,estilo,stylesheet,acessibilidade
Keywords[pt_BR]=CSS,HTML,estilo,folha de estilo,acessibilidade
Keywords[ro]=CSS,HTML,stil,foi de stil,accesibilitate
Keywords[se]=CSS,HTML,stiila,stiilaárka
Keywords[sl]=CSS,HTML,slog,slogovne predloge,dostopnost
Keywords[sr]=CSS,HTML,style,stylesheet,accessibility,стил,опис стила,приступачност
Keywords[sr@latin]=CSS,HTML,style,stylesheet,accessibility,stil,opis stila,pristupačnost
Keywords[sv]=CSS,HTML,stil,stilmall,handikappstöd
Keywords[ta]=CSS,HTML,பாணிe,விரிப்பட்டியல்,அணுகல்
Keywords[tr]=CSS,HTML,style,stil,stylesheet,erişim,erişilebilirlik
Keywords[uk]=CSS,HTML,стиль,таблиця стилів,доступність
Keywords[uz]=CSS,HTML,услуб,stylesheet,қулайликлар
Keywords[x-test]=xxCSS,HTML,style,stylesheet,accessibilityxx
Keywords[xh]=CSS,HTML,uhlobo,ikhasi lohlobo oluthile,unikezelo
Keywords[zh_TW]=CSS,HTML,style,stylesheet,accessibility,風格,風格表單,可用性

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
