[Desktop Entry]
Icon=preferences-web-browser-stylesheets
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcmcss
X-DocPath=kcontrol/kcmcss/index.html


X-KDE-Library=kcm_css
X-KDE-ParentApp=kcontrol

Name=Stylesheets
Name[af]=Stylblaaie
Name[be]=Табліцы стыляў
Name[bg]=CSS стилове
Name[bn]=স্টাইলশিট
Name[br]=Folennoù c'hiz
Name[ca]=Fulls d'estil
Name[cs]=Soubory se styly
Name[csb]=Bôdżi sztélów
Name[cy]=Dalennau arddull
Name[da]=Stilark
Name[de]=Stilvorlagen
Name[el]=Φύλλα στυλ
Name[eo]=Stildifinoj
Name[es]=Hojas de estilo
Name[et]=Laaditabelid
Name[eu]=Estilo orriak
Name[fa]=صفحه سبکها
Name[fi]=Tyylisivut
Name[fr]=Feuilles de style
Name[fy]=Stylblêden
Name[ga]=Stílbhileoga
Name[gl]=Follas de estilo
Name[gu]=સ્ટાઇલશીટ્સ
Name[he]=גיליונות סגנון
Name[hi]=स्टाइलशीट
Name[hr]=Stilska oblikovanja
Name[hu]=Stíluslapok
Name[is]=Stílblöð
Name[it]=Fogli di stile
Name[ja]=スタイルシート
Name[kk]=CSS стильдері
Name[km]=សន្លឹក​រចនាប័ទ្ម
Name[kn]=ವಿನ್ಯಾಸಹಾಳೆಗಳು (ಸ್ಟೈಲ್ ಶೀಟ್)
Name[ko]=스타일시트
Name[lt]=Stiliaus aprašymai
Name[lv]=Stilutabulas
Name[mk]=Дизајни на страница
Name[ml]=സ്റ്റൈല്‍ഷീറ്റുകള്‍
Name[ms]=Lemabaran Gaya
Name[nb]=Stilsett
Name[nds]=Stilvörlagen
Name[ne]=शैलीपाना
Name[nl]=Stijlbladen
Name[nn]=Stilsett
Name[pl]=Arkusze stylów
Name[pt]=Folhas de estilo
Name[pt_BR]=Folhas de estilo
Name[ro]=Foi de stil
Name[ru]=Стили CSS
Name[se]=Stiilaárkkat
Name[sk]=Štýly
Name[sl]=Slogovne predloge
Name[sr]=Описи стилова
Name[sr@latin]=Opisi stilova
Name[sv]=Stilmallar
Name[ta]=அமைக்கும் பாணி
Name[tg]=Намуди варақа
Name[th]=สไตล์ชีต
Name[tr]=Biçim dosyaları
Name[uk]=Таблиці стилів
Name[uz]=Staylshitlar
Name[uz@cyrillic]=Стайлшитлар
Name[vi]=Kiểu dáng mẫu
Name[wa]=Foyes di stîle
Name[x-test]=xxStylesheetsxx
Name[xh]=Amakhasi ohlobo oluthile
Name[zh_CN]=样式表
Name[zh_TW]=樣式表單
Comment=Configure the stylesheets used to render web pages
Comment[af]=Konfigureer die stylblaaie vir vertoon van web bladsye
Comment[be]=Настаўленне табліц стыляў для малявання старонак Сеціва
Comment[bg]=Настройване на използваните CSS стилове в уеб страниците
Comment[bn]=ওয়েব পেজ দেখাতে ব্যবহৃত বিভিন্ন স্টাইলশিট কনফিগার করুন
Comment[br]=Kefluniañ ar folennoù c'hiz evit ar pajennoù gwiad
Comment[ca]=Aquí podeu configurar els fulls d'estil emprats per a renderitzar les pàgines web
Comment[cs]=Zde je možné nastavit styly používané pro zobrazování HTML
Comment[csb]=Kònfigùracëjô bògów sztélów do wëskrzënianiô internetowich starnów
Comment[cy]=Ffurfweddu'r dalennau arddull sy'n trosi tudalennau gwe.
Comment[da]=Indstil stilark brugt til at vise netsider
Comment[de]=Stilvorlagen für die Anzeige von HTML-Seiten einrichten
Comment[el]=Ρυθμίστε τα φύλλα στυλ που χρησιμοποιούνται για την εμφάνιση των ιστοσελίδων
Comment[eo]=Agordi la stildifinojn por HTML-prezento
Comment[es]=Configuración de las hojas de estilo usadas para mostrar páginas web
Comment[et]=Laaditabelite seadistamine veebilehtede renderdamiseks
Comment[eu]=Kondiguratu HTML errenderizatzeko erabilitako estilo orriak
Comment[fa]=پیکربندی صفحه سبکهای مورد استفادۀ پرداخت صفحات وب
Comment[fi]=Verkkosivuilla käytettävien tyylisivujen asetukset
Comment[fr]=Configuration des feuilles de style utilisées pour l'affichage HTML
Comment[fy]=Hjir kinne jo de stylblêden ynstelle dy brûkt wurde foar de werjefte fan websiden
Comment[ga]=Cumraigh na stílbhileoga a úsáidtear chun leathanaigh ghréasáin a rindreáil
Comment[gl]=Configura as follas de estilo usadas para visualizar páxinas
Comment[gu]=વેબ પાનાંઓ જોવા માટે સ્ટાઇલશીટ્સ રૂપરેખાંકિત કરો
Comment[he]=שינוי הגדרות גיליונות הסגנון המשמשים להצגת דפי אינטרנט
Comment[hi]=वेब पृष्ठ प्रस्तुत करने के लिए उपयोग में आने वाले स्टाइलशीट कॉन्फ़िगर करें
Comment[hr]=Konfiguriranje stilskih oblikovanja koja se upotrebljavaju za prikaz web sadržaja
Comment[hu]=A weboldalak megjelenítéséhez használt stíluslapok beállításai
Comment[is]=Stilla stílblöð sem vinna á HTML skrám
Comment[it]=Configura i fogli di stile da usare per visualizzare le pagine web
Comment[ja]=ウェブページのレンダリングに使用するスタイルシートを設定
Comment[ka]=CSS კონფიგურაცია ვებ გვერდების ასახვისთვის
Comment[kk]=Веб-парақтарды көрсеткенде қолданатын CSS-стильдерді баптау
Comment[km]=កំណត់​រចនា​សម្ព័ន្ធ​សន្លឹក​រចនាប័ទ្ម​ដែល​​បាន​​ប្រើ​​ដើម្បី​បង្ហាញ​ទំព័រ​បណ្ដាញ
Comment[kn]=ಜಾಲಪುಟಗಳ ನಿರೂಪಣೆಗೆ ಬಳಸುವ ಹಾಳೆ ಶೈಲಿಗಳನ್ನು (ಸ್ಟೈಲ್ ಶೀಟ್) ಸಂರಚಿಸು
Comment[ko]=웹 페이지를 나타내는 스타일시트를 설정합니다
Comment[lt]=Konfigūruoti stiliaus aprašymus naudojamus tinklalapių atvaizdavimui
Comment[lv]=Konfigurēt stilus, ko izmantot tīmekļa lapu attainošanai
Comment[mk]=Конфигурирајте ги страниците со дизајн\nшто се користат за прикажување веб-страници
Comment[ml]=വെബിലെ താളുകള്‍ കാണിയ്ക്കാനുപയോഗിയ്ക്കുന്ന സ്റ്റൈല്‍ഷീറ്റുകള്‍ ക്രമീകരിയ്ക്കുക
Comment[ms]=Konfigur lembaran gaya yang digunakan untuk merealisasikan laman web
Comment[nb]=Tilpass stilsett for visning av nettsider
Comment[nds]=Stell de Stilvörlaag in, de för't Wiesen vun Nettsieden bruukt warrt
Comment[ne]=रेन्डर वेब पृष्ठहरू प्रयोग गर्ने शैलीपाना कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de stijlbladen instellen die gebruikt worden voor de weergave van webpagina's
Comment[nn]=Oppsett av stilsett for vising av nettsider
Comment[pa]=ਰੈਂਡਰ ਵੈਬ ਸਫਿਆਂ ਵਾਸਤੇ ਸਟਾਇਲ-ਸ਼ੀਟਾਂ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja arkuszy stylów do wyświetlania stron internetowych
Comment[pt]=Configuração das folhas de estilo, usadas para mostrar as páginas Web
Comment[pt_BR]=Configurar as folhas de estilo utilizadas para renderizar páginas da web
Comment[ro]=Configurează foile de stil utilizate la randarea paginilor de web
Comment[ru]=Настройка стилей CSS, используемых при показа веб-страниц
Comment[se]=Heivet stiilaárkkaid mainna čájeha HTML-siidduid
Comment[sk]=Nastavenie štýlov používaných pre zobrazovanie HTML
Comment[sl]=Nastavite slogovne predloge za upodabljanje HTML
Comment[sr]=Подеси стилове који се користе за приказ веб страна
Comment[sr@latin]=Podesi stilove koji se koriste za prikaz veb strana
Comment[sv]=Anpassa stilmallarna som används för att visa webbsidor
Comment[ta]=வலை பக்கங்கள் நடைமுறைக்கு பயன்படுத்தப்பட்ட பாணிபட்டியல்களை வடிவமை
Comment[tg]=Танзимоти услуби CSS, дар вақти равшан созии варақаҳои вэб истифода мешаванд.
Comment[th]=ปรับแต่งสไตล์ชีตที่ใช้ในการแสดงผล HTML
Comment[tr]=Web sayfaları hazırlanırken kullanılacak biçim ayarlarını yapılandırın
Comment[uk]=Налаштування таблиць стилів для показу сторінок Тенет
Comment[uz]=Veb-sahifalarni koʻrsatishda ishlatiladigan CSS uslublarini moslash
Comment[uz@cyrillic]=Веб-саҳифаларни кўрсатишда ишлатиладиган CSS услубларини мослаш
Comment[vi]=Cấu hình kiểu dáng mẫu được dùng để vẽ trang mạng
Comment[wa]=Apontyî les foyes di stîle eployeyes ezès pådjes waibe
Comment[x-test]=xxConfigure the stylesheets used to render web pagesxx
Comment[xh]=Qwalasela uhlobo lwamakhasi asebenziswa ukuchaza amaphepha e web
Comment[zh_CN]=配置用来渲染网页的样式表
Comment[zh_TW]=設定用來顯示網頁的樣式表單

X-KDE-Keywords=CSS,HTML,style,stylesheet,accessibility
X-KDE-Keywords[be]=Стыль,табліца стыляў,даступнасць,CSS,HTML,style,stylesheet,accessibility
X-KDE-Keywords[bg]=Keywords=стил, стилове, страници, достъпност, CSS, HTML, style, stylesheet, accessibility
X-KDE-Keywords[br]=CSS,HTML,giz,folenn c'hiz,haezadusted
X-KDE-Keywords[ca]=CSS,HTML,estil,full d'estil,accessibilitat
X-KDE-Keywords[cs]=CSS,HTML,styl,style,stylesheet,zpřístupnění
X-KDE-Keywords[csb]=CSS,HTML,sztél,bòga sztélu,przëstãpnosc
X-KDE-Keywords[cy]=CSS,HTML,ardull,dalen arddull,hygyrchedd
X-KDE-Keywords[da]=CSS,HTML,stil,stilark,tilgængelighed
X-KDE-Keywords[de]=CSS,HTML,Stylesheet,Stilvorlagen,Zugangshilfen
X-KDE-Keywords[el]=CSS,HTML,στυλ,φύλλο στυλ,προσιτότητα
X-KDE-Keywords[eo]=CSS,HTML,stilo,stildifino,alirebleco
X-KDE-Keywords[es]=CSS,HTML,estilo,hoja de estilo,accesibilidad
X-KDE-Keywords[et]=CSS,HTML,stiil,laaditabel
X-KDE-Keywords[eu]=CSS,HTML,estiloa,estilo orria,erabilerraztasuna
X-KDE-Keywords[fa]=CSS، زنگام، سبک، صفحه سبک، دستیابی‌پذیری
X-KDE-Keywords[fi]=CSS,HTML,tyyli,tyylimäärittely,esteettömyys
X-KDE-Keywords[fr]=css,html,style,feuille de style,accessibilité
X-KDE-Keywords[fy]=CSS,HTML,styl,stylblêd,tagonklikens,stylblêden
X-KDE-Keywords[ga]=CSS,HTML,stíl,stílbhileog,inrochtaineacht
X-KDE-Keywords[gl]=CSS,HTML,estilo,follas de estilo,acesibilidade
X-KDE-Keywords[he]=CSS,HTML,סגנון,גיליון סגנון,נגישות,style,stylesheet,accessibility
X-KDE-Keywords[hr]=CSS,HTML,style,stylesheet,accessibility,stil,stilsko oblikovanje,pristupačnost
X-KDE-Keywords[hu]=CSS,HTML,stílus,stíluslap,elérhetőség
X-KDE-Keywords[is]=CSS,HTML,stíll,stílblað,aðgengi,aðgengilegheit,aðgangur
X-KDE-Keywords[it]=CSS,HTML,stile,fogli di stile,stylesheet,accessibilità
X-KDE-Keywords[ja]=CSS,HTML,スタイル,スタイルシート,アクセシビリティ
X-KDE-Keywords[km]=CSS HTML រចនាប័ទ្ម​ សន្លឹក​រចនាប័ទ្ម មធ្យោបាយ​ងាយ​ស្រួល
X-KDE-Keywords[ko]=CSS,HTML,스타일,stylesheet,accessibility,접근성,스타일시트
X-KDE-Keywords[lt]=CSS,HTML,style,stylesheet,accessibility,stilius,stiliaus aprašymas
X-KDE-Keywords[lv]=CSS,HTML,stils,stilusaraksts,pieejamība
X-KDE-Keywords[mk]=CSS,HTML,style,stylesheet,accessibility,стил,страница,дизајн,пристапност
X-KDE-Keywords[nb]=CSS,HTML,stil,stilsett,tilgjengelighet
X-KDE-Keywords[nds]=CSS,HTML,Stil,Stilvörlaag,Behinnerte
X-KDE-Keywords[ne]=सीएसएस, एचटीएमएल, शैली, शैलीपाना, पहुँचता
X-KDE-Keywords[nl]=CSS,HTML,stijl,stylesheet,toegankelijkheid,stijlbladen
X-KDE-Keywords[nn]=CSS,HTML,stilsett,tilgjenge,brukarstilsett
X-KDE-Keywords[pa]=CSS,HTML,ਸਟਾਇਲ,stylesheet,accessibility
X-KDE-Keywords[pl]=CSS,HTML,styl,arkusz stylu,dostępność
X-KDE-Keywords[pt]=CSS,HTML,estilo,stylesheet,acessibilidade
X-KDE-Keywords[pt_BR]=CSS,HTML,estilo,folha de estilo,acessibilidade
X-KDE-Keywords[ro]=CSS,HTML,stil,foi de stil,accesibilitate
X-KDE-Keywords[se]=CSS,HTML,stiila,stiilaárka
X-KDE-Keywords[sl]=CSS,HTML,slog,slogovne predloge,dostopnost
X-KDE-Keywords[sr]=CSS,HTML,style,stylesheet,accessibility,стил,опис стила,приступачност
X-KDE-Keywords[sr@latin]=CSS,HTML,style,stylesheet,accessibility,stil,opis stila,pristupačnost
X-KDE-Keywords[sv]=CSS,HTML,stil,stilmall,handikappstöd
X-KDE-Keywords[ta]=CSS,HTML,பாணிe,விரிப்பட்டியல்,அணுகல்
X-KDE-Keywords[tr]=CSS,HTML,style,stil,stylesheet,erişim,erişilebilirlik
X-KDE-Keywords[uk]=CSS,HTML,стиль,таблиця стилів,доступність
X-KDE-Keywords[uz]=CSS,HTML,услуб,stylesheet,қулайликлар
X-KDE-Keywords[vi]=CSS,HTML,kiểu dáng,kiểu dáng mẫu,khả năng truy cập
X-KDE-Keywords[wa]=CSS,HTML,stîle,pådje di stîle,accessibilité
X-KDE-Keywords[x-test]=xxCSS,HTML,style,stylesheet,accessibilityxx
X-KDE-Keywords[xh]=CSS,HTML,uhlobo,ikhasi lohlobo oluthile,unikezelo
X-KDE-Keywords[zh_CN]=CSS,HTML,style,stylesheet,accessibility,风格,样式表,辅助功能
X-KDE-Keywords[zh_TW]=CSS,HTML,style,stylesheet,accessibility,風格,風格表單,可用性

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
