[Desktop Entry]
Type=Service
Icon=applications-internet
Name=Web SideBar Module
Name[af]=Web kantbalk module
Name[ar]=وحدة الشريط الجانبي للوِب
Name[as]=Web SideBar Module
Name[ast]=Módulu de la barra llateral de web
Name[be]=Модуль cеціўнай бакавой панелі
Name[be@latin]=Modul bakavoj paneli dla sieciva
Name[bg]=Модул за уеб за страничния панел
Name[bn]=ওয়েব সাইডবার মডিউল
Name[bn_IN]=ওয়েব সাইড-বার মডিউল
Name[bs]=Bočna traka Veba
Name[ca]=Mòdul web SideBar
Name[ca@valencia]=Mòdul web SideBar
Name[cs]=Webový postranní panel
Name[csb]=Moduł bòczny lëstwë WWW
Name[cy]=Modiwl Bar Ochr Gwe
Name[da]=Netsidepanel-modul
Name[de]=Web-Navigationsbereich
Name[el]=Άρθρωμα πλευρικής μπάρας Ιστού
Name[en_GB]=Web SideBar Module
Name[eo]=TTT-flankzona modulo
Name[es]=Módulo de la barra lateral de web
Name[et]=Veebi külgriba moodul
Name[eu]=Webeko albo-barraren modulua
Name[fa]=پیمانه میله‌ جانبی وب
Name[fi]=Verkkosivupalkkimoduuli
Name[fr]=Module de panneau latéral pour la navigation Web
Name[fy]=Web sydbalke module
Name[ga]=Modúl Barra Taoibh Gréasáin
Name[gl]=Módulo da barra lateral web
Name[gu]=વેબ બાજુપટ્ટી મોડ્યુલ
Name[he]=מודול סרגל צדדי אינטרנטי
Name[hi]=वेब बाज़ूपट्टी मॉड्यूल
Name[hne]=वेब बाजूपट्टी माड्यूल
Name[hr]=Modul za web trake
Name[hsb]=Modul za browserowy bóčny pas
Name[hu]=Webes oldalsáv-modul
Name[ia]=Modulo de barra lateral de Web
Name[id]=Modul Batang Sisi Web
Name[is]=Vefhliðarslá
Name[it]=Modulo della barra laterale del Web
Name[ja]=ウェブサイドバーモジュール
Name[ka]=გვერდით Web დაფის მოდული
Name[kk]=Веб бүйір панель модулі
Name[km]=ម៉ូឌុល​របារ​ចំហៀង​បណ្តាញ​
Name[kn]=ಜಾಲ ಬದಿಪಟ್ಟಿ ಘಟಕ
Name[ko]=웹 사이드바 모듈
Name[ku]=Modula Darikê Kêlekê ê Webê
Name[lt]=Šoninės žiniatinklio juostos modulis
Name[lv]=Tīmekļa sānjoslas modulis
Name[mai]=वेब बाजूपट्टी मोड्यूल
Name[mk]=Модул - Веб-странична лента
Name[ml]=വെബ് പാര്‍ശ്വപട്ടാ സംയോജകം
Name[mr]=वेब बाजूचीपट्टी विभाग
Name[ms]=Modul Bar Sisi Web
Name[nb]=Modul for nett-sidestolpe
Name[nds]=Sietpaneel för de Nettnavigatschoon
Name[ne]=वेब किनरापट्टी मोड्युल
Name[nl]=Webzijbalkmodule
Name[nn]=Modul for nett-sidestolpe
Name[or]=ୱେବ ପାର୍ଶ୍ୱପଟି ଏକକାଂଶ
Name[pa]=ਵੈੱਬ ਬਾਹੀ ਮੋਡੀਊਲ
Name[pl]=Moduł paska bocznego WWW
Name[pt]=Módulo Web da Barra Lateral
Name[pt_BR]=Módulo de Internet da barra lateral
Name[ro]=Modul bară laterală web
Name[ru]=Модуль боковой панели Web
Name[se]=Neahtta-bálddalasholga moduvla
Name[si]=වෙබ් පැති පුවරු මොඩියුලය
Name[sk]=Modul bočného Web panelu
Name[sl]=Modul spletne stranske vrstice
Name[sr]=Бочна трака Веба
Name[sr@ijekavian]=Бочна трака Веба
Name[sr@ijekavianlatin]=Bočna traka Weba
Name[sr@latin]=Bočna traka Weba
Name[sv]=Webbsidoradsmodul
Name[ta]=வலை பக்கப்பட்டி பகுதி
Name[te]=వెబ్ సైడ్‌బార్ మాడ్యూల్
Name[tg]=Модули панели иловагии интернетӣ
Name[th]=มอดูลแถบข้างสำหรับเว็บ
Name[tr]=Web Yan Çubuk Modülü
Name[ug]=تور بەت يان بالداق بۆلىكى
Name[uk]=Модуль бічної панелі інтернету
Name[uz]=Veb yon paneli moduli
Name[uz@cyrillic]=Веб ён панели модули
Name[vi]=Mô đun Thanh bên Trình duyệt
Name[wa]=Module waibe del bår di costé
Name[x-test]=xxWeb SideBar Modulexx
Name[zh_CN]=网页侧边栏模块
Name[zh_TW]=網頁邊列模組
X-KDE-Library=konqsidebar_web
