[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=
Icon=www
Name=Web SideBar Module
Name[af]=Web kantbalk module
Name[ar]=وحدة شريط الشبكة الجانبي
Name[be]=Модуль cеціўнай бакавой панэлі
Name[bg]=Модул за страничния панел на браузъра
Name[ca]=Mòdul web SideBar
Name[cs]=Webový postranní panel
Name[csb]=Moduł bòczny lëstwë WWW
Name[cy]=Modiwl Bar Ochr Gwe
Name[da]=Web-sidebjælke modul
Name[de]=Web-Navigationsbereich
Name[el]=Άρθρωμα πλευρικής μπάρας Ιστού
Name[eo]=TTT-flankzona modulo
Name[es]=Módulo de la barra lateral de web
Name[et]=Veebi külgriba moodul
Name[eu]=Web-eko alboko barraren modulua
Name[fa]=پیمانۀ میله‌ جانبی وب
Name[fi]=Verkkosivupalkkimoduuli
Name[fr]=Module de barre de navigation sur le web
Name[fy]=Web sydbalke module
Name[ga]=Modúl Barra Taoibh Gréasáin
Name[gl]=Módulo da Barra Lateral Web
Name[he]=מודול שורת־צד מקוון
Name[hr]=Modul za web trake
Name[hu]=Webes oldalsáv-modul
Name[is]=Vefhliðarslá
Name[it]=Modulo barra laterale web
Name[ja]=ウェブサイドバーモジュール
Name[ka]=გვერდით Web დაფის მოდული
Name[kk]=Веб бүйір панель модулі
Name[km]=ម៉ូឌុល​របារ​បណ្ដាញ
Name[lt]=Šoninės žiniatinklio juostos modulis
Name[lv]=Tīmekļa sānjoslas modulis
Name[mk]=Модул - Веб-странична лента
Name[ms]=Modul Bar Sisi Web
Name[nb]=Modul for nett-sidestolpe
Name[nds]=Sietpaneel för de Nettnavigatschoon
Name[ne]=वेब छेउपट्टी मोड्युल
Name[nl]=Webzijbalkmodule
Name[nn]=Modul for nett-sidestolpe
Name[pa]=ਵੈੱਬ ਬਾਹੀ ਮੈਡੀਊਲ
Name[pl]=Moduł paska bocznego WWW
Name[pt]=Módulo da Barra Lateral Web
Name[pt_BR]=Módulo da Barra Lateral Web
Name[ro]=Modul bară laterală web
Name[ru]=Модуль боковой панели Web
Name[se]=Neahtta-bálddalasholga moduvla
Name[sl]=Modul spletne stranske vrstice
Name[sr]=Модул веб бочне траке
Name[sr@Latn]=Modul veb bočne trake
Name[sv]=Webbsidoradsmodul
Name[ta]=வலை பக்கப்பட்டி பகுதி
Name[tg]=Бахши навори канораи вэб
Name[tr]=Web Yan Çubuk Modülü
Name[uk]=Модуль бічної панелі Тенет
Name[uz]=Веб ён панели модули
Name[x-test]=xxWeb SideBar Modulexx
Name[zh_TW]=網頁邊列模組
Open=false
X-KDE-KonqSidebarModule=konqsidebar_web
