[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-DocPath=kcontrol/khtml-plugins/index.html
Icon=konqueror
Exec=kcmshell4 khtml_plugins

X-KDE-Library=kcm_konqhtml
X-KDE-PluginKeyword=khtml_plugins
X-KDE-Init-Library=kcminit_nsplugins
X-KDE-Init-Symbol=nsplugin
X-KDE-ParentApp=kcontrol

Name=Plugins
Comment=Configure the browser plugins
X-KDE-Keywords=konqueror,kfm,browser,html,web,www,fonts,plugins

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
