[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule,KCModuleInit
DocPath=kcontrol/khtml/index.html#kbrowse-plugins
Icon=konqueror
Exec=kcmshell khtml_plugins

X-KDE-Library=kcm_konqhtml
X-KDE-FactoryName=khtml_plugins
X-KDE-Init-Library=kcminit_nsplugins
X-KDE-Init-Symbol=kcminit_nsplugin
X-KDE-ParentApp=kcontrol

Name=Plugins
Name[af]=Inprop modules
Name[be]=Утулкі
Name[bg]=Приставки
Name[br]=Lugantoù
Name[ca]=Connectors
Name[cs]=Moduly
Name[cy]=Ategion
Name[da]=Plugin
Name[el]=Πρόσθετα
Name[eo]=Kromaĵoj
Name[et]=Pluginad
Name[eu]=Pluginak
Name[fa]=وصله‌ها
Name[fi]=Liitännäiset
Name[fr]=Modules externes
Name[ga]=Breiseáin
Name[he]=תוספים
Name[hr]=Dodaci
Name[hu]=Bővítőmodulok
Name[is]=Íforrit
Name[it]=Plugin
Name[ja]=プラグイン
Name[ka]=პლაგინები
Name[kk]=Модульдер
Name[km]=កម្មវិធី​ជំនួយ
Name[ko]=플러그인
Name[lt]=Priedai
Name[lv]=Spraudņi
Name[mk]=Приклучоци
Name[ms]=Plugin
Name[nb]=Programtillegg
Name[ne]=प्लगइन
Name[nn]=Programtillegg
Name[pa]=ਪਲੱਗਿੰਨ
Name[pl]=Wtyczki
Name[pt]='Plugins'
Name[pt_BR]=Plug-ins
Name[ro]=Module
Name[ru]=Модули
Name[se]=Lassemoduvllat
Name[sl]=Vstavki
Name[sr]=Прикључци
Name[sr@Latn]=Priključci
Name[sv]=Insticksprogram
Name[ta]=செருகல்கள்
Name[tg]=Мутассалкунандаҳо
Name[tr]=Eklentiler
Name[uk]=Втулки
Name[uz]=Плагинлар
Name[x-test]=xxPluginsxx
Name[xh]=Iiplagi ezingaphakathi
Name[zh_TW]=外掛程式
Comment=Configure the browser plugins
Comment[af]=Konfigureer die blaaier inprop modules
Comment[be]=Настаўленні модуляў вандроўніка
Comment[bg]=Настройки на приставките на браузъра
Comment[br]=Kefluniañ lugantoù ar furcher
Comment[ca]=Aquí podeu configurar els connectors del navegador
Comment[cs]=Nastavení modulů prohlížeče (pluginy)
Comment[cy]=Ffurfweddu ategion y porydd
Comment[da]=Indstil browserens plugin
Comment[de]=Plugins für Web-Browser einrichten
Comment[el]=Ρυθμίστε τα πρόσθετα του περιηγητή
Comment[eo]=Agordu la foliumilajn kromaĵojn
Comment[es]=Configuración de los plugins del navegador
Comment[et]=Veebilehitseja pluginate seadistamine
Comment[eu]=Konfiguratu arakatzailearen pluginak 
Comment[fa]=پیکربندی وصله‌های مرورگر
Comment[fi]=Muokkaa selaimen liitännäisasetuksia
Comment[fr]=Configuration des modules externes du navigateur
Comment[fy]=Hjir kinne jo de blêder-plugins ynstelle
Comment[ga]=Cumraigh na Breiseáin Brabhsálaithe
Comment[gl]=Configurar os plugins do navegador
Comment[he]=שינוי הגדרות התוספים של הדפדפן
Comment[hr]=Konfiguriranje dodataka preglednika
Comment[hu]=A böngésző bővítőmoduljainak beállításai
Comment[is]=Stilla íforrit vafra
Comment[it]=Configura i plugin del browser
Comment[ja]=ブラウザのプラグインの設定
Comment[ka]=ბრაუზერის პლაგინების კონფიგურაცია
Comment[kk]=Браузер модульдерінің баптауы
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​កម្មវិធី​ជំនួយ​របស់​កម្មវិធី​រុករក
Comment[ko]=탐색기 플러그인을 설정합니다
Comment[lt]=Konfigūruoti naršyklės priedus
Comment[lv]=Konfigurēt pārlūka spaudņus
Comment[mk]=Конфигурација на приклучоците на прелистувачот
Comment[ms]=Tetapkan plugin pelayar
Comment[nb]=Sett opp programtillegg for nettleseren
Comment[nds]=Kiekerplugins instellen
Comment[ne]=प्लगइन ब्राउजर कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de browser-plugins instellen
Comment[nn]=Set opp programtillegg for nettlesaren
Comment[pa]=ਝਲਕਾਰਾ ਪਲੱਗਿੰਨ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja wtyczek przeglądarki
Comment[pt]=Configurar os 'plugins' do navegador
Comment[pt_BR]=Configura os plug-ins do navegador
Comment[ro]=Configurează modulele de navigator de web
Comment[ru]=Настройка модулей браузера
Comment[se]=Heivet fierpmádatlogana lassemoduvllaid
Comment[sl]=Tu lahko nastavite predpomnilnik
Comment[sr]=Подешавање прикључака прегледача
Comment[sr@Latn]=Podešavanje priključaka pregledača
Comment[sv]=Anpassa insticksprogram för webbläsare
Comment[ta]= மேலோடியின் செருகல்களை வடிவமைக்கலாம்
Comment[tg]=Танзими мутассалкунандаҳои тафсир
Comment[tr]=Tarayıcı eklentilerini yapılandırın
Comment[uk]=Налаштування втулків навігатора
Comment[uz]=Браузернинг плагинларини мослаш
Comment[x-test]=xxConfigure the browser pluginsxx
Comment[xh]=Qwalasela umkhangheli zincwadi zeplagi ezingaphakathi
Comment[zh_TW]=設定瀏覽器外掛程式
Keywords=konqueror,kfm,browser,html,web,www,fonts,plugins
Keywords[be]=Вандроўнік,Сеціва,Шрыфты,Утулкі,konqueror,kfm,browser,html,web,www,fonts,plugins
Keywords[bg]=приставки, конфигуриране, браузър, уеб, шрифтове, Интернет, приставка, модул, konqueror, kfm, browser, html, web, www, fonts, plugins
Keywords[br]=konqueror,kfm,furcher,html,web,gwiad,livioù,java,javascript
Keywords[ca]=konqueror,kfm,navegador,html,web,www,fonts,connectors
Keywords[cs]=Konqueror,Kfm,Prohlížeč,HTML,Web,WWW,Písma,Moduly
Keywords[cy]=konqueror,kfm,porwr,porydd,html,gwe,www,wynebfathau,ffontiau,ategion
Keywords[da]=konqueror,kfm,browser,html,net,www,skrifttyper,plugin
Keywords[de]=Konqueror,kfm,Browser,HTML,Web,WWW,Schriften,Plugins
Keywords[el]=konqueror,kfm,περιηγητής,html,ιστός,www,γραμματοσειρές,πρόσθετα
Keywords[eo]=Konkeranto,Kfm,TTT,HTML,WWW,tiparo,koloro,Javo,Javoskripto,kursoro, kursilo,ligo,referenco,bildo,signaro,kodo
Keywords[es]=konqueror,kfm,navegador,html,web,www,fuentes,plugins
Keywords[et]=konqueror,kfm,veebilehitseja,html,veeb,www,fondid,pluginad
Keywords[eu]=konqueror,kfm,arakatzailea,html,web,www,letra-tipoak,pluginak
Keywords[fa]=konqueror، kfm، مرورگر، html، وب، www، قلمها، وصله‌ها
Keywords[fi]=konqueror,kfm,selain,html,web,www,kirjasimet,liitännäiset
Keywords[fr]=konqueror,kfm,navigateur,html,web,www,polices,plugins,modules externes
Keywords[fy]=konqueror,kfm,browser,blêder,html,web,www,fonts,lettertypen,plugins,internet,ynternet,netscape plugins
Keywords[ga]=konqueror,kfm,brabhsálaí,html,idirlíon,www,clófhoirne,breiseáin
Keywords[gl]=konqueror,kfm,navegador,html,web,www,fontes,plugins
Keywords[he]=konqueror,kfm,דפדפן,html,web,www,אינטרנט,גופנים,תוספים, fonts,plugins
Keywords[hr]=konqueror,kfm,preglednik,html,web,www,fontovi,dodaci,mreža
Keywords[hu]=Konqueror,kfm,böngésző,HTML,web,WWW,betűtípusok,bővítőmodulok
Keywords[is]=konqueror,kfm,flakkari,html,web,www,letur,íforrit,vefur
Keywords[it]=konqueror,kfm,browser,html,web,www,caratteri,plugin
Keywords[ja]=konqueror,kfm,ブラウザ,html,web,ウェブ,www,フォント,プラグイン
Keywords[km]=konqueror,kfm,កម្មវិធី​រុករក,html,បណ្ដាញ,វើលវ៉ាយវិប,ពុម្ពអក្សរ,កម្មវិធី​ជំនួយ
Keywords[lt]=konqueror,kfm,browser,html,web,www,fonts,plugins. naršyklė,tinklalapiai,šriftai,priedai
Keywords[lv]=iekarotājs,kfm,pārlūks,html,web,www,fonti,spraudņi
Keywords[mk]=konqueror,kfm,browser,html,web,www,fonts,plugins, прелистувач,веб,фонтови,приклучоци
Keywords[ms]=konqueror,kfm,pelayar,html,web,www,font,plugin
Keywords[nb]=Konqueror,KFM,nettleser,HTML,verdensveven,WWW,Internett,skrifter,programtillegg
Keywords[nds]=Konqueror,kfm,Nettkieker,HTML,web,www,Schriftoorden,Plugins
Keywords[ne]=कन्क्वेरर,kfm, ब्राउजर,html, वेब,www, फन्ट, प्लगइन
Keywords[nl]=konqueror,kfm,browser,html,web,www,fonts,lettertypen,plugins,internet,netscape plugins
Keywords[nn]=Konqueror,KFM,nettlesar,HTML,verdsveven,WWW,skrifter,programtillegg
Keywords[pa]=konqueror,kfm,browser,html,web,www,ਫੋਂਟ,ਪਲੱਗਿੰਨ,ਕੋਨਕਿਉਰਰ,ਝਲਕਾਰਾ,ਵੈਬ
Keywords[pl]=konqueror,kfm,przeglądarka,html,sieć,www,czcionki,wtyczki
Keywords[pt]=konqueror,kfm,navegador,HTML,web,WWW,tipos de letra,'plugins'
Keywords[pt_BR]=konqueror,kfm,navegador,html,web,www,fontes,plug-ins
Keywords[ro]=konqueror,kfm,navigator,html,web,www,fonturi,module
Keywords[se]=konqueror,kfm,fierpmádatlogan,html,web,www,fonttat,lassemoduvllat
Keywords[sl]=konqueror,kfm,brskalnik,html,splet,web,pisave,www,vstavki
Keywords[sr]=konqueror,kfm,прегледач,html,web,www,фонтови,додаци
Keywords[sr@Latn]=konqueror,kfm,pregledač,html,web,www,fontovi,dodaci
Keywords[sv]=konqueror,kfm,webbläsare,html,webb,www,teckensnitt,insticksprogram
Keywords[ta]=கான்கொரர், கோப்பு மேலாளர், மேலோடி, உலாவி, html, இணையம், வலையம், வலை, எழுத்துரு, www, செருகல்கள்
Keywords[tr]=konqueror,kfm,browser,html,web,www,yazıtipleri,eklentiler,tarayıcı
Keywords[uk]=konqueror,kfm,навігатор,html,тенета,www,шрифти,втулки
Keywords[uz]=konqueror,kfm,html,www,браузер,веб,шрифтлар,плагинлар
Keywords[x-test]=xxkonqueror,kfm,browser,html,web,www,fonts,pluginsxx
Keywords[xh]=konqueror,kfm,umkhangeli zincwadi,html,web, www,imigca,iplagi ezingaphakathi
Keywords[zh_TW]=konqueror,kfm,browser,html,web,www,fonts,plugins,征服家,瀏覽器,網頁,字型,外掛程式

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
