[Desktop Entry]
Name=Adblock
Icon=preferences-web-browser-adblock
Comment=Show all blockable html elements
Encoding=UTF-8
X-KDE-Library=adblock
X-KDE-PluginInfo-Author=Daniele Galdi
X-KDE-PluginInfo-Email=daniele.galdi@gmail.com
X-KDE-PluginInfo-Name=adblock
X-KDE-PluginInfo-Version=0.0.5
X-KDE-PluginInfo-Website=http://www.pigamo.com
X-KDE-PluginInfo-Category=Statusbar
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
