<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="adblock" library="adblock" version="4" translationDomain="adblock">
<MenuBar>
 <Menu name="tools"><text>&amp;Tools</text>
  <Action name="action adblock"/>
 </Menu>
</MenuBar>
<ToolBar name="extraToolBar"><text>Extra Toolbar</text>
  <Action name="action adblock"/>
</ToolBar>
</gui>
