[Desktop Entry]
Icon=preferences-web-browser-stylesheets
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcmcss
X-DocPath=kcontrol/kcmcss/index.html


X-KDE-Library=kcm_css
X-KDE-ParentApp=kcontrol

Name=Stylesheets
Comment=Configure the stylesheets used to render web pages

X-KDE-Keywords=CSS,HTML,style,stylesheet,accessibility

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
