[Desktop Entry]
Icon=preferences-web-browser-stylesheets
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcmcss
X-DocPath=kcontrol/kcmcss/index.html


X-KDE-Library=kcm_css
X-KDE-ParentApp=kcontrol

Name=Stylesheets
Comment=Configure the stylesheets used to render web pages

X-KDE-Keywords=CSS,HTML,style,stylesheet,accessibility
X-KDE-Keywords[be]=Стыль,табліца стыляў,даступнасць,CSS,HTML,style,stylesheet,accessibility
X-KDE-Keywords[bg]=Keywords=стил, стилове, страници, достъпност, CSS, HTML, style, stylesheet, accessibility
X-KDE-Keywords[br]=CSS,HTML,giz,folenn c'hiz,haezadusted
X-KDE-Keywords[ca]=CSS,HTML,estil,full d'estil,accessibilitat
X-KDE-Keywords[cs]=CSS,HTML,styl,style,stylesheet,zpřístupnění
X-KDE-Keywords[csb]=CSS,HTML,sztél,bòga sztélu,przëstãpnosc
X-KDE-Keywords[cy]=CSS,HTML,ardull,dalen arddull,hygyrchedd
X-KDE-Keywords[da]=CSS,HTML,stil,stilark,tilgængelighed
X-KDE-Keywords[de]=CSS,HTML,Stylesheet,Stilvorlagen,Zugangshilfen
X-KDE-Keywords[el]=CSS,HTML,στυλ,φύλλο στυλ,προσιτότητα
X-KDE-Keywords[eo]=CSS,HTML,stilo,stildifino,alirebleco
X-KDE-Keywords[es]=CSS,HTML,estilo,hoja de estilo,accesibilidad
X-KDE-Keywords[et]=CSS,HTML,stiil,laaditabel
X-KDE-Keywords[eu]=CSS,HTML,estiloa,estilo orria,erabilerraztasuna
X-KDE-Keywords[fa]=CSS، زنگام، سبک، صفحه سبک، دستیابی‌پذیری
X-KDE-Keywords[fi]=CSS,HTML,tyyli,tyylimäärittely,esteettömyys
X-KDE-Keywords[fr]=css,html,style,feuille de style,accessibilité
X-KDE-Keywords[fy]=CSS,HTML,styl,stylblêd,tagonklikens,stylblêden
X-KDE-Keywords[ga]=CSS,HTML,stíl,stílbhileog,inrochtaineacht
X-KDE-Keywords[gl]=CSS,HTML,estilo,follas de estilo,acesibilidade
X-KDE-Keywords[he]=CSS,HTML,סגנון,גיליון סגנון,נגישות,style,stylesheet,accessibility
X-KDE-Keywords[hr]=CSS,HTML,style,stylesheet,accessibility,stil,stilsko oblikovanje,pristupačnost
X-KDE-Keywords[hu]=CSS,HTML,stílus,stíluslap,elérhetőség
X-KDE-Keywords[is]=CSS,HTML,stíll,stílblað,aðgengi,aðgengilegheit,aðgangur
X-KDE-Keywords[it]=CSS,HTML,stile,fogli di stile,stylesheet,accessibilità
X-KDE-Keywords[ja]=CSS,HTML,スタイル,スタイルシート,アクセシビリティ
X-KDE-Keywords[km]=CSS HTML រចនាប័ទ្ម​ សន្លឹក​រចនាប័ទ្ម មធ្យោបាយ​ងាយ​ស្រួល
X-KDE-Keywords[ko]=CSS,HTML,스타일,stylesheet,accessibility,접근성,스타일시트
X-KDE-Keywords[lt]=CSS,HTML,style,stylesheet,accessibility,stilius,stiliaus aprašymas
X-KDE-Keywords[lv]=CSS,HTML,stils,stilusaraksts,pieejamība
X-KDE-Keywords[mk]=CSS,HTML,style,stylesheet,accessibility,стил,страница,дизајн,пристапност
X-KDE-Keywords[nb]=CSS,HTML,stil,stilsett,tilgjengelighet
X-KDE-Keywords[nds]=CSS,HTML,Stil,Stilvörlaag,Behinnerte
X-KDE-Keywords[ne]=सीएसएस, एचटीएमएल, शैली, शैलीपाना, पहुँचता
X-KDE-Keywords[nl]=CSS,HTML,stijl,stylesheet,toegankelijkheid,stijlbladen
X-KDE-Keywords[nn]=CSS,HTML,stilsett,tilgjenge,brukarstilsett
X-KDE-Keywords[pa]=CSS,HTML,ਸਟਾਇਲ,stylesheet,accessibility
X-KDE-Keywords[pl]=CSS,HTML,styl,arkusz stylu,dostępność
X-KDE-Keywords[pt]=CSS,HTML,estilo,stylesheet,acessibilidade
X-KDE-Keywords[pt_BR]=CSS,HTML,estilo,folha de estilo,acessibilidade
X-KDE-Keywords[ro]=CSS,HTML,stil,foi de stil,accesibilitate
X-KDE-Keywords[se]=CSS,HTML,stiila,stiilaárka
X-KDE-Keywords[sl]=CSS,HTML,slog,slogovne predloge,dostopnost
X-KDE-Keywords[sr]=CSS,HTML,style,stylesheet,accessibility,стил,опис стила,приступачност
X-KDE-Keywords[sr@latin]=CSS,HTML,style,stylesheet,accessibility,stil,opis stila,pristupačnost
X-KDE-Keywords[sv]=CSS,HTML,stil,stilmall,handikappstöd
X-KDE-Keywords[ta]=CSS,HTML,பாணிe,விரிப்பட்டியல்,அணுகல்
X-KDE-Keywords[tr]=CSS,HTML,style,stil,stylesheet,erişim,erişilebilirlik
X-KDE-Keywords[uk]=CSS,HTML,стиль,таблиця стилів,доступність
X-KDE-Keywords[uz]=CSS,HTML,услуб,stylesheet,қулайликлар
X-KDE-Keywords[vi]=CSS,HTML,kiểu dáng,kiểu dáng mẫu,khả năng truy cập
X-KDE-Keywords[wa]=CSS,HTML,stîle,pådje di stîle,accessibilité
X-KDE-Keywords[x-test]=xxCSS,HTML,style,stylesheet,accessibilityxx
X-KDE-Keywords[xh]=CSS,HTML,uhlobo,ikhasi lohlobo oluthile,unikezelo
X-KDE-Keywords[zh_CN]=CSS,HTML,style,stylesheet,accessibility,风格,样式表,辅助功能
X-KDE-Keywords[zh_TW]=CSS,HTML,style,stylesheet,accessibility,風格,風格表單,可用性

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
