[Desktop Entry]
Icon=preferences-web-browser-stylesheets
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcmcss
X-DocPath=kcontrol/kcmcss/index.html


X-KDE-Library=kcm_css
X-KDE-ParentApp=kcontrol

Name=Stylesheets
Name[af]=Stylblaaie
Name[ar]=أوراق الأسلوب
Name[as]=Stylesheets
Name[ast]=Fueyes d'estilu
Name[be]=Табліцы стыляў
Name[be@latin]=Stylnyja arkušy
Name[bg]=CSS стилове
Name[bn]=স্টাইলশিট
Name[bn_IN]=স্টাইল-শিট
Name[br]=Folennoù c'hiz
Name[bs]=Opisi stilova
Name[ca]=Fulls d'estil
Name[ca@valencia]=Fulls d'estil
Name[cs]=Soubory se styly
Name[csb]=Bôdżi sztélów
Name[cy]=Dalennau arddull
Name[da]=Stilark
Name[de]=Stilvorlagen
Name[el]=Φύλλα αισθητικής επικάλυψης
Name[en_GB]=Stylesheets
Name[eo]=Stildifinoj
Name[es]=Hojas de estilo
Name[et]=Laaditabelid
Name[eu]=Estilo orriak
Name[fa]=صفحه سبکها
Name[fi]=Tyylisivut
Name[fr]=Feuilles de style
Name[fy]=Stylblêden
Name[ga]=Stílbhileoga
Name[gl]=Follas de estilo
Name[gu]=સ્ટાઇલશીટ્સ
Name[he]=גיליונות סגנון
Name[hi]=स्टाइलशीट
Name[hne]=स्टाइलसीट
Name[hr]=Stilski predložak
Name[hsb]=Stilowe łopjena
Name[hu]=Stíluslapok
Name[ia]=Stylesheets (Folios de stilo)
Name[id]=Lembar Gaya
Name[is]=Stílblöð
Name[it]=Fogli di stile
Name[ja]=スタイルシート
Name[ka]=Stylesheets
Name[kk]=CSS стильдері
Name[km]=សន្លឹក​រចនាប័ទ្ម
Name[kn]=ವಿನ್ಯಾಸಹಾಳೆಗಳು (ಸ್ಟೈಲ್ ಶೀಟ್)
Name[ko]=스타일시트
Name[ku]=Curepelg
Name[lt]=Stiliaus aprašymai
Name[lv]=Stilu lapas
Name[mai]=स्टाइलशीट
Name[mk]=Дизајни на страница
Name[ml]=സ്റ്റൈല്‍ഷീറ്റുകള്‍
Name[mr]=स्टाइलशीट
Name[ms]=Lemabaran Gaya
Name[nb]=Stilsett
Name[nds]=Stilvörlagen
Name[ne]=शैलीपाना
Name[nl]=Stijlbladen
Name[nn]=Stilsett
Name[or]=Stylesheets
Name[pa]=Stylesheets
Name[pl]=Arkusze stylów
Name[pt]=Folhas de estilo
Name[pt_BR]=Folhas de estilo
Name[ro]=Foi de stil
Name[ru]=Стили CSS
Name[se]=Stiilaárkkat
Name[si]=හැඩපත
Name[sk]=Štýly
Name[sl]=Slogovne predloge
Name[sr]=Описи стилова
Name[sr@ijekavian]=Описи стилова
Name[sr@ijekavianlatin]=Opisi stilova
Name[sr@latin]=Opisi stilova
Name[sv]=Stilmallar
Name[ta]=அலங்காரதாட்கள்
Name[te]=స్టైల్‌షీట్స్‍
Name[tg]=Услуби саҳифа
Name[th]=สไตล์ชีต
Name[tr]=Biçim Dosyaları
Name[ug]=ئۇسلۇب جەدۋىلى
Name[uk]=Таблиці стилів
Name[uz]=Staylshitlar
Name[uz@cyrillic]=Стайлшитлар
Name[vi]=Kiểu dáng mẫu
Name[wa]=Foyes di stîle
Name[xh]=Amakhasi ohlobo oluthile
Name[x-test]=xxStylesheetsxx
Name[zh_CN]=样式表
Name[zh_TW]=樣式表單
Comment=Configure the stylesheets used to render web pages
Comment[af]=Konfigureer die stylblaaie vir vertoon van web bladsye
Comment[ar]=ضبط أوراق الأسلوب لعرض صفحات الوِب
Comment[as]=ৱেব পৃষ্ঠা দেখুৱাবলৈ stylesheets কি ধৰণে ব্যৱহাৰ হয় বিন্যাস কৰক
Comment[ast]=Configuración de les fueyes d'estilu usaes p'amosar páxines web
Comment[be]=Настаўленне табліц стыляў для малявання старонак Сеціва
Comment[be@latin]=Naładź stylnyja arkušy dla vyjaŭleńnia sieciŭnych staronak
Comment[bg]=Настройване на използваните CSS стилове в уеб страниците
Comment[bn]=ওয়েব পেজ দেখাতে ব্যবহৃত বিভিন্ন স্টাইলশিট কনফিগার করুন
Comment[bn_IN]=ওয়েব পেজ রেন্ডার করতে ব্যবহৃত স্টাইল-শিট কনফিগার করুন
Comment[br]=Kefluniañ ar folennoù c'hiz evit ar pajennoù gwiad
Comment[bs]=Podešavanje opisa stilova za renderovanje veb stranica
Comment[ca]=Configura els fulls d'estil emprats per a renderitzar les pàgines web
Comment[ca@valencia]=Configura els fulls d'estil emprats per a renderitzar les pàgines web
Comment[cs]=Zde je možné nastavit styly používané pro zobrazování HTML
Comment[csb]=Kònfigùracëjô bògów sztélów do wëskrzënianiô internetowich starnów
Comment[cy]=Ffurfweddu'r dalennau arddull sy'n trosi tudalennau gwe.
Comment[da]=Indstil stilark der bruges til at vise netsider
Comment[de]=Stilvorlagen für die Anzeige von HTML-Seiten einrichten
Comment[el]=Διαμορφώστε τα φύλλα αισθητικής επικάλυψης που χρησιμοποιούνται για την αποτύπωση των ιστοσελίδων
Comment[en_GB]=Configure the stylesheets used to render web pages
Comment[eo]=Agordi la stildifinojn por HTML-prezento
Comment[es]=Configuración de las hojas de estilo usadas para mostrar páginas web
Comment[et]=Laaditabelite seadistamine veebilehtede renderdamiseks
Comment[eu]=Konfiguratu HTML errendatzean erabilitako estilo orriak
Comment[fa]=پیکربندی صفحه سبکهای مورد استفاده پرداخت صفحات وب
Comment[fi]=Muokkaa verkkosivuilla käytettäviä tyylisivuja
Comment[fr]=Configuration des feuilles de style utilisées pour le rendu des pages Web
Comment[fy]=Hjir kinne jo de stylblêden ynstelle dy brûkt wurde foar de werjefte fan websiden
Comment[ga]=Cumraigh na stílbhileoga a úsáidtear chun leathanaigh ghréasáin a rindreáil
Comment[gl]=Configura as follas de estilo usadas para visualizar as páxinas
Comment[gu]=વેબ પાનાંઓ જોવા માટે સ્ટાઇલશીટ્સ રૂપરેખાંકિત કરો
Comment[he]=הגדרת גיליונות הסגנון המשמשים לציור דפי אינטרנט
Comment[hi]=वेब पृष्ठ प्रस्तुत करने के लिए उपयोग में आने वाले स्टाइलशीट कॉन्फ़िगर करें
Comment[hne]=वेब पेज देखाय बर उपयोग मं आए वाले स्टाइलसीट कान्फिगर करव
Comment[hr]=Konfiguriranje stilskih predložaka koji se upotrebljavaju za prikaz web-stranica
Comment[hsb]=Konfiguracija stilowych łopjenow za pokazowanje internetnych stronow
Comment[hu]=A weboldalak megjelenítéséhez használt stíluslapok beállításai
Comment[ia]=Configura le folios de stilo usate pro render paginas web
Comment[id]=Atur lembar gaya yang digunakan untuk render halaman web
Comment[is]=Stilla stílblöð sem vinna með vefsíðum
Comment[it]=Configura i fogli di stile da usare per rendere le pagine Web
Comment[ja]=ウェブページのレンダリングに使用するスタイルシートを設定
Comment[ka]=CSS კონფიგურაცია ვებ გვერდების ასახვისთვის
Comment[kk]=Веб-парақтарды көрсеткенде қолданатын CSS-стильдерді баптау
Comment[km]=កំណត់​រចនា​សម្ព័ន្ធ​សន្លឹក​រចនាប័ទ្ម​ដែល​​បាន​​ប្រើ​​ដើម្បី​បង្ហាញ​ទំព័រ​បណ្ដាញ
Comment[kn]=ಜಾಲಪುಟಗಳ ನಿರೂಪಣೆಗೆ ಬಳಸುವ ಹಾಳೆ ಶೈಲಿಗಳನ್ನು (ಸ್ಟೈಲ್ ಶೀಟ್) ಸಂರಚಿಸು
Comment[ko]=웹 페이지를 나타내는 스타일시트를 설정합니다
Comment[ku]=Curepelgên ku di rûpelên webê de kar dikin veava bike
Comment[lt]=Konfigūruoti stiliaus aprašymus naudojamus tinklalapių atvaizdavimui
Comment[lv]=Konfigurēt stilus, ko izmantot tīmekļa lapu attainošanai
Comment[mai]=वेब पृष्ठ प्रस्तुत करबाक लेल उपयोग मे आबैबला स्टाइलशीट बिन्यस्त करू
Comment[mk]=Конфигурирајте ги страниците со дизајн\nшто се користат за прикажување веб-страници
Comment[ml]=വെബിലെ താളുകള്‍ കാണിയ്ക്കാനുപയോഗിയ്ക്കുന്ന സ്റ്റൈല്‍ഷീറ്റുകള്‍ ക്രമീകരിയ്ക്കുക
Comment[mr]=वेब पान प्रस्तुत करण्या करीता उपयोगजोगी स्टाइलशीट संयोजीत करा
Comment[ms]=Konfigur lembaran gaya yang digunakan untuk merealisasikan laman web
Comment[nb]=Sett opp stilsett for visning av nettsider
Comment[nds]=De Stilvörlaag instellen, de för't Wiesen vun Nettsieden bruukt warrt
Comment[ne]=रेन्डर वेब पृष्ठहरू प्रयोग गर्ने शैलीपाना कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de stijlbladen instellen die gebruikt worden voor de weergave van webpagina's
Comment[nn]=Oppsett av stilsett for vising av nettsider
Comment[or]=ୱେବ ପୃଷ୍ଠାଗୁଡ଼ିକୁ ଚିତ୍ରଣ କରିବା ପାଇଁ ବ୍ୟବହୃତ ହେଉଥିବା stylesheet ଗୁଡ଼ିକୁ ବିନ୍ୟାସ କରନ୍ତୁ
Comment[pa]=ਰੈਂਡਰ ਵੈਬ ਸਫਿਆਂ ਵਾਸਤੇ ਸਟਾਇਲ-ਸ਼ੀਟਾਂ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja arkuszy stylów do wyświetlania stron internetowych
Comment[pt]=Configuração das folhas de estilo, usadas para mostrar as páginas Web
Comment[pt_BR]=Configura as folhas de estilo utilizadas para renderizar as páginas da Internet
Comment[ro]=Configurează foile de stil utilizate la randarea paginilor de web
Comment[ru]=Настройка стилей CSS, используемых при показа веб-страниц
Comment[se]=Heivet stiilaárkkaid mainna čájeha HTML-siidduid
Comment[si]=වෙබ් පිටු පෙන්වීම සඳහා භාවිත කරන රටාපත්‍ර සකසන්න
Comment[sk]=Nastavenie štýlov používaných pre zobrazovanie HTML
Comment[sl]=Nastavitve slogovnih predlog za izrisovanje spletnih strani
Comment[sr]=Подешавање описа стилова за рендеровање веб страница
Comment[sr@ijekavian]=Подешавање описа стилова за рендеровање веб страница
Comment[sr@ijekavianlatin]=Podešavanje opisa stilova za renderovanje veb stranica
Comment[sr@latin]=Podešavanje opisa stilova za renderovanje veb stranica
Comment[sv]=Anpassa stilmallarna som används för att visa webbsidor
Comment[ta]=இணைய பக்கங்களை தர வல்ல அலங்காரதாட்களை வடிவமைக்க
Comment[te]=వెబ్ పుటలను ప్రస్ఫుటం చేయుటకు ఉపయోగించిన స్టైల్‌షీట్‍స్  ఆకృతీకరించుము
Comment[tg]=Танзимоти услубҳо барои намоиши саҳифаҳои Интернетӣ
Comment[th]=ปรับแต่งสไตล์ชีตที่ใช้ในการแสดงผล HTML
Comment[tr]=Ağ sayfaları hazırlanırken kullanılacak biçim ayarlarını yapılandırın
Comment[ug]=تور بەتنى رەڭلەشكە ئىشلىتىدىغان ئۇسلۇب جەدۋىلىنى سەپلەيدۇ
Comment[uk]=Налаштування таблиць стилів для показу сторінок інтернету
Comment[uz]=Veb-sahifalarni koʻrsatishda ishlatiladigan CSS uslublarini moslash
Comment[uz@cyrillic]=Веб-саҳифаларни кўрсатишда ишлатиладиган CSS услубларини мослаш
Comment[vi]=Cấu hình kiểu dáng mẫu được dùng để vẽ trang mạng
Comment[wa]=Apontyî les foyes di stîle eployeyes ezès pådjes waibe
Comment[xh]=Qwalasela uhlobo lwamakhasi asebenziswa ukuchaza amaphepha e web
Comment[x-test]=xxConfigure the stylesheets used to render web pagesxx
Comment[zh_CN]=配置用来渲染网页的样式表
Comment[zh_TW]=設定用來顯示網頁的樣式表單

X-KDE-Keywords=CSS,HTML,style,stylesheet,accessibility
X-KDE-Keywords[ca]=CSS,HTML,estil,fulles d'estil,accessibilitat
X-KDE-Keywords[ca@valencia]=CSS,HTML,estil,fulles d'estil,accessibilitat
X-KDE-Keywords[da]=CSS,HTML,stil,stylesheet,stilark,tilgængelighed,accessibility
X-KDE-Keywords[de]=CSS,HTML,Stylesheet,Stilvorlagen,Zugangshilfen
X-KDE-Keywords[el]=CSS,HTML,στιλ,φύλλο αισθητικής επικάλυψης,προσβασιμότητα
X-KDE-Keywords[es]=CSS,HTML,estilo,hoja de estilo,accesibilidad
X-KDE-Keywords[et]=CSS,HTML,stiil,laaditabel,hõlbustus
X-KDE-Keywords[fi]=CSS,HTML,style,tyyli,stylesheet,tyylisivu,esteettömyys
X-KDE-Keywords[fr]=CSS,HTML,style,feuille de style,accessibilité
X-KDE-Keywords[ga]=CSS,HTML,stíl,stílbhileog,inrochtaineacht
X-KDE-Keywords[hu]=CSS,HTML,stílus,stíluslap,akadálymentesítés
X-KDE-Keywords[ia]=CSS,HTML,stilo,folio de stilo,accessibilitate
X-KDE-Keywords[it]=CSS,HTML,stile,foglio di stile,accessibilità
X-KDE-Keywords[kk]=CSS,HTML,style,stylesheet,accessibility
X-KDE-Keywords[km]=CSS HTML រចនាប័ទ្ម សន្លឹក​រចនាប័ទ្ម មធ្យោបាយ​ងាយស្រួល
X-KDE-Keywords[ko]=CSS,HTML,style,stylesheet,accessibility,스타일시트,접근성,스타일
X-KDE-Keywords[lv]=CSS,HTML,stils,stilu lapa,pieejamība
X-KDE-Keywords[nb]=CSS,HTML,stil,stilsett,tilgjengelighet
X-KDE-Keywords[nds]=CSS,HTML,Stil,Stilvörlaag,Toganghülp
X-KDE-Keywords[nl]=CSS,HTML,stijl,stijlblad,toegankelijkheid
X-KDE-Keywords[pl]=CSS,HTML,styl,arkusz stylów,dostępność
X-KDE-Keywords[pt]=CSS,HTML,estilo,stylesheet,folha de estilo,acessibilidade
X-KDE-Keywords[pt_BR]=CSS,HTML,estilo,planilha,folha de estilo,acessibilidade
X-KDE-Keywords[sk]=CSS,HTML,štýl,stylesheet,prístupnosť
X-KDE-Keywords[sr]=CSS,HTML,style,stylesheet,accessibility,ЦСС,ХТМЛ,стил,опис стила,приступачност
X-KDE-Keywords[sr@ijekavian]=CSS,HTML,style,stylesheet,accessibility,ЦСС,ХТМЛ,стил,опис стила,приступачност
X-KDE-Keywords[sr@ijekavianlatin]=CSS,HTML,style,stylesheet,accessibility,CSS,HTML,stil,opis stila,pristupačnost
X-KDE-Keywords[sr@latin]=CSS,HTML,style,stylesheet,accessibility,CSS,HTML,stil,opis stila,pristupačnost
X-KDE-Keywords[sv]=CSS,HTML,stil,stilmall,handikappstöd
X-KDE-Keywords[tr]=CSS,HTML,stil,stil dosyası,erişebilirlik
X-KDE-Keywords[uk]=CSS,HTML,style,stylesheet,accessibility,стиль,таблиця,стилів,доступність,можливості
X-KDE-Keywords[x-test]=xxCSS,HTML,style,stylesheet,accessibilityxx
X-KDE-Keywords[zh_CN]=CSS,HTML,style,stylesheet,accessibility,样式,样式表,辅助,访问性
X-KDE-Keywords[zh_TW]=CSS,HTML,style,stylesheet,accessibility

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
