[Desktop Entry]
Icon=view-history
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcmhistory

X-KDE-Library=kcm_history
X-KDE-ParentApp=kcontrol

Name=History Sidebar
Name[af]=Geskiedenis Kantbalk
Name[ar]=الشريط الجانبي للتاريخ
Name[be]=Бакавая панель гісторыі
Name[bg]=История
Name[bn]=ইতিহাস সাইডবার
Name[ca]=Barra de l'historial
Name[cs]=Panel historie
Name[csb]=Bòcznô lëstew historëji
Name[cy]=Cwpwrdd Cornel Hanes
Name[da]=Historik-sidebjælke
Name[de]=Verlaufsbereich
Name[el]=Πλευρική μπάρα ιστορικού
Name[eo]=Historia flankzono
Name[es]=Barra de historial
Name[et]=Ajaloo külgriba
Name[eu]=Historiaren alboko barra
Name[fa]=میله جانبی تاریخچه
Name[fi]=Historiasivupalkki
Name[fr]=Barre latérale d'historique
Name[fy]=Histoarje
Name[ga]=Barra Taoibh Staire
Name[gl]=Barra lateral co historial
Name[gu]=ઇતિહાસ બાજુપટ્ટી
Name[he]=סרגל היסטוריה
Name[hi]=इतिहास बाज़ूपट्टी
Name[hr]=Traka povijesti
Name[hu]=Napló-oldalsáv
Name[is]=Sögu hliðarslá
Name[it]=Barra laterale cronologia
Name[ja]=履歴サイドバー
Name[ka]=ისტორიის გვერდითი პანელი
Name[kk]=Бүйірдегі журнал панелі
Name[km]=របារ​ចំហៀង​ប្រវត្តិ
Name[ko]=과거 기록 사이드바
Name[ku]=Darikê Dîrokê ê li Kêlekê
Name[lt]=Istorijos šoninė juosta
Name[lv]=Vēstures sānjosla
Name[mk]=Лента за историја
Name[ms]=Bar Sisi Sejarah
Name[nb]=Historie-sidestolpe
Name[nds]=Vörgeschicht-Sietpaneel
Name[ne]=इतिहास किनारापट्टी
Name[nl]=Geschiedenis
Name[nn]=Historie-sidestolpe
Name[pa]=ਅਤੀਤ ਪਾਸੇ ਪੱਟੀ
Name[pl]=Pasek boczny z historią
Name[pt]=Barra Lateral do Histórico
Name[pt_BR]=Barra Lateral de Histórico
Name[ro]=Bară laterală de istoric
Name[ru]=Журнал
Name[se]=Historihkkaholga
Name[sk]=Bočný panel histórie
Name[sl]=Stranska vrstica zgodovine
Name[sr]=Бочна трака историјата
Name[sr@latin]=Bočna traka istorijata
Name[sv]=Historiksidopanel
Name[ta]=வரலாற்று பக்கப்பட்டி
Name[tg]=Паҳлӯи сафҳаи торихча
Name[th]=แถบประวัติการใช้ด้านข้าง
Name[tr]=Geçmiş Yan Çubuğu
Name[uk]=Бічна панель історії
Name[uz]=Tarix paneli
Name[uz@cyrillic]=Тарих панели
Name[vi]=Khung lề Lịch sử
Name[wa]=Bår di costé di l' istwere
Name[x-test]=xxHistory Sidebarxx
Name[xh]=Ibar esecaleni Yembali
Name[zh_CN]=历史侧栏
Name[zh_TW]=歷史紀錄邊列
Comment=Configure the history sidebar
Comment[af]=Stel die geskiedenis kantbalk op
Comment[ar]=اضبط الشريط الجانبي للتاريخ
Comment[be]=Настаўленне бакавой панелі гісторыі
Comment[bg]=Настройване на историята
Comment[bn]=ইতিহাস সাইডবার কনফিগার করুন
Comment[ca]=Configura la barra de l'historial
Comment[cs]=Nastavení panelu historie
Comment[csb]=Kònfigùracëjô bòczny lëstwë historëji
Comment[cy]=Ffurfweddu'r cwpwrdd cornel hanes
Comment[da]=Indstil historik-sidebjælken
Comment[de]=Verlaufsanzeige im Navigationsbereich einrichten
Comment[el]=Ρυθμίστε την πλευρική μπάρα ιστορικού
Comment[eo]=Agordi la historian flankobreton
Comment[es]=Configuración de la barra del historial
Comment[et]=Ajaloo külgriba seadistamine
Comment[eu]=Konfiguratu historiaren alboko barra
Comment[fa]=پیکربندی میله‌ جانبی تاریخچه
Comment[fi]=Historiasivupalkin asetukset
Comment[fr]=Configuration de l'historique de la barre latérale
Comment[fy]=Hjir kinne jo de histoarje ynstelle
Comment[ga]=Cumraigh an barra taoibh staire
Comment[gl]=Configurar a barra lateral co historial
Comment[gu]=ઇતિહાસ બાજુપટ્ટી રૂપરેખાંકિત કરો
Comment[he]=שינוי הגדרות הסרגל הצדדי של ההיסטוריה
Comment[hi]=इतिहास बाज़ूपट्टी कॉन्फ़िगर करें
Comment[hr]=Konfiguriranje trake povijesti
Comment[hu]=A napló-oldalsáv beállításai
Comment[is]=Stilla hliðardálk með flakksögu
Comment[it]=Configura la barra laterale della cronologia
Comment[ja]=履歴サイドバーの設定
Comment[ka]=ისტორიის გვერდითი პანელის კონფიგურირება
Comment[kk]=Бүйірдегі журнал панелін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​របារ​ចំហៀង​ប្រវត្តិ​
Comment[ko]=과거 기록 사이드바를 설정합니다
Comment[ku]=Darikê dîrokê  ê li kêlekê ava bike
Comment[lt]=Konfigūruoti istorijos šoninę juostą
Comment[lv]=Šeit jūs varat konfigurēt vēstures sānjoslu
Comment[mk]=Конфигурација на лентата за историја
Comment[ms]=Konfigur bar sisi sejarah
Comment[nb]=Tilpass historie-sidestolpen
Comment[nds]=Dat Vörgeschicht-Sietpaneel instellen
Comment[ne]=इतिहास किनारापट्टी कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de geschiedenis instellen
Comment[nn]=Set opp historie-sidestolpen
Comment[pa]=ਅਤੀਤ ਬਾਹੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja paska bocznego z historią
Comment[pt]=Configuração da barra lateral do histórico
Comment[pt_BR]=Configurar a barra lateral de Histórico
Comment[ro]=Configurează bara laterală cu istoric
Comment[ru]=Настройка боковой панели журнала
Comment[se]=Heivet historihkkaholgga
Comment[sk]=Nastavenie bočného panelu histórie
Comment[sl]=Nastavitve stranske vrstice zgodovine
Comment[sr]=Подешавање бочне траке историјата
Comment[sr@latin]=Podešavanje bočne trake istorijata
Comment[sv]=Anpassa historiksidopanelen
Comment[ta]=வரலாறு பக்கப்பட்டியை வடிவமை
Comment[tg]=Танзимоти паҳлӯи сафҳаи торихча
Comment[th]=ปรับแต่งแถบประวัติการใช้ด้านข้าง
Comment[tr]=Geçmiş yan çubuğunu yapılandır
Comment[uk]=Налаштування бічної панелі історії
Comment[uz]=Tarix panelini moslash
Comment[uz@cyrillic]=Тарих панелини мослаш
Comment[vi]=Cấu hình bảng nằm bên cạnh chứa lịch sử duyệt mạng
Comment[wa]=Apontyî l' istwere el bår di costé
Comment[x-test]=xxConfigure the history sidebarxx
Comment[xh]=Qwalasela imbali ye bar yasecaleni
Comment[zh_CN]=配置任务侧栏
Comment[zh_TW]=設定歷史紀錄邊列
X-KDE-Keywords=history,expire
X-KDE-Keywords[be]=Гісторыя,Састарэлая,history,expire
X-KDE-Keywords[bg]=Keywords=история, сърфиране, срок, изтичане, history, expire
X-KDE-Keywords[ca]=historial,expira
X-KDE-Keywords[cs]=historie,vypršení
X-KDE-Keywords[csb]=historëjô,wëgasëwanié
X-KDE-Keywords[cy]=hanes,daw i ben
X-KDE-Keywords[da]=historik,udløbe
X-KDE-Keywords[de]=History,Verlauf
X-KDE-Keywords[el]=ιστορικό,λήξη
X-KDE-Keywords[eo]=historio,malvalidiĝi
X-KDE-Keywords[es]=historial,expirar
X-KDE-Keywords[et]=ajalugu,aegumine
X-KDE-Keywords[eu]=historia,iraungi
X-KDE-Keywords[fa]=تاریخچه، انقضا
X-KDE-Keywords[fi]=historia,umpeenmeno
X-KDE-Keywords[fr]=historique,expiration
X-KDE-Keywords[fy]=histoarje,ferrinne
X-KDE-Keywords[ga]=stair,caite,as feidhm
X-KDE-Keywords[gl]=historial,caducar
X-KDE-Keywords[he]=היסטוריה,תפוגה,history,expire
X-KDE-Keywords[hr]=history,expire,povijest,istek
X-KDE-Keywords[hu]=napló,lejárás
X-KDE-Keywords[is]=Saga,útrunnið,history
X-KDE-Keywords[it]=cronologia,scadenza
X-KDE-Keywords[ja]=履歴,失効
X-KDE-Keywords[km]=ប្រវត្តិ ផុត​កំណត់
X-KDE-Keywords[ko]=과거 기록,만료
X-KDE-Keywords[lt]=history,expire, istorija,pasibaigti
X-KDE-Keywords[lv]=vēsture,beigties
X-KDE-Keywords[mk]=history,expire,историја,истекува
X-KDE-Keywords[ms]=sejarah, luput
X-KDE-Keywords[nb]=historie,utløper
X-KDE-Keywords[nds]=Vörgeschicht,aflopen
X-KDE-Keywords[ne]=इतिहास, म्याद समाप्त
X-KDE-Keywords[nl]=geschiedenis,verloop
X-KDE-Keywords[nn]=historie,utgår
X-KDE-Keywords[pa]=expire,ਅਤੀਤ
X-KDE-Keywords[pl]=historia,wygasanie
X-KDE-Keywords[pt]=histórico,expirar
X-KDE-Keywords[pt_BR]=histórico,expirar
X-KDE-Keywords[ro]=istoric,expirare
X-KDE-Keywords[ru]=history,expire,журнал
X-KDE-Keywords[se]=historihkka,boarásnuvvat
X-KDE-Keywords[sl]=zgodovina,potek,poteče
X-KDE-Keywords[sr]=history,expire,историјат,истицање
X-KDE-Keywords[sr@latin]=history,expire,istorijat,isticanje
X-KDE-Keywords[sv]=historik,utgå
X-KDE-Keywords[ta]=வரலாறு,முடிந்தது
X-KDE-Keywords[th]=ประวัติการใช้,หมดอายุ
X-KDE-Keywords[tr]=geçmiş
X-KDE-Keywords[uk]=історія,закінчення терміну,втрата чинності
X-KDE-Keywords[uz]=тарих,муддати ўтиш
X-KDE-Keywords[vi]=lịch sử,hết hạn
X-KDE-Keywords[wa]=istwere,espirer,espiraedje
X-KDE-Keywords[x-test]=xxhistory,expirexx
X-KDE-Keywords[xh]=imbali,ephelelwa lixesha
X-KDE-Keywords[zh_CN]=history,expire,历史,过期
X-KDE-Keywords[zh_TW]=history,expire,歷史紀錄,過期
Categories=Qt;KDE;X-KDE-settings-webbrowsing;
