[Desktop Entry]
Encoding=UTF-8
Icon=history
Type=Service
ServiceTypes=KCModule
Exec=kcmshell kcmhistory

X-KDE-Library=kcm_history
X-KDE-ParentApp=kcontrol

Name=History Sidebar
Name[af]=Geskiedenis Kantbalk
Name[ar]=الشريط الجانبي للتاريخ
Name[be]=Бакавая панель гісторыі
Name[bg]=История
Name[ca]=Barra de l'historial
Name[cs]=Panel historie
Name[csb]=Bòcznô lëstew historëji
Name[cy]=Cwpwrdd Cornel Hanes
Name[da]=Historik-sidebjælke
Name[de]=Verlaufsbereich
Name[el]=Πλευρική μπάρα ιστορικού
Name[eo]=Historia flankzono
Name[es]=Barra de historial
Name[et]=Ajaloo külgriba
Name[eu]=Historiaren alboko barra
Name[fa]=میله جانبی تاریخچه
Name[fi]=Historiasivupalkki
Name[fr]=Barre latérale d'historique
Name[fy]=Histoarje
Name[ga]=Barra Taoibh Staire
Name[gl]=Barra Lateral co Historial
Name[he]=סרגל היסטוריה
Name[hr]=Traka povijesti
Name[hu]=Napló-oldalsáv
Name[is]=Sögu hliðarslá
Name[it]=Barra laterale cronologia
Name[ja]=履歴サイドバー
Name[ka]=ისტორიის გვერდითი პანელი
Name[kk]=Бүйірдегі журнал панелі
Name[km]=របារ​ចំហៀង​ប្រវត្តិ
Name[ko]=과거 기록 사이드바
Name[lt]=Istorijos šoninė juosta
Name[lv]=Vēstures sānjosla
Name[mk]=Лента за историја
Name[ms]=Bar Sisi Sejarah
Name[nb]=Historie-sidestolpe
Name[nds]=Vörgeschicht-Sietpaneel
Name[ne]=इतिहास किनारापट्टी
Name[nl]=Geschiedenis
Name[nn]=Historie-sidestolpe
Name[pa]=ਅਤੀਤ ਪਾਸੇ ਪੱਟੀ
Name[pl]=Pasek boczny z historią
Name[pt]=Barra Lateral do Histórico
Name[pt_BR]=Barra Lateral de Histórico
Name[ro]=Bară laterală de istoric
Name[ru]=Журнал
Name[se]=Historihkkaholga
Name[sl]=Stranska vrstica zgodovine
Name[sr]=Бочни панел историјата
Name[sr@latin]=Bočni panel istorijata
Name[sv]=Historiksidopanel
Name[ta]=வரலாற்றுப் பக்கப்பட்டி
Name[tg]=Паҳлӯи сафҳаи торихча
Name[th]=แถบประวัติการใช้ด้านข้าง
Name[tr]=Geçmiş Yan Çubuğu
Name[uk]=Бічна панель історії
Name[uz]=Тарих панели
Name[vi]=Khung lề Lịch sử
Name[wa]=Bår di costé di l' istwere
Name[x-test]=xxHistory Sidebarxx
Name[xh]=Ibar esecaleni Yembali
Name[zh_CN]=历史侧栏
Name[zh_TW]=歷史紀錄邊列
Comment=Configure the history sidebar
Comment[af]=Stel die geskiedenis kantbalk op
Comment[ar]=اضبط الشريط الجانبي للتاريخ
Comment[be]=Настаўленне бакавой панелі гісторыі
Comment[bg]=Настройване на историята
Comment[ca]=Configura la barra de l'historial
Comment[cs]=Nastavení panelu historie
Comment[csb]=Kònfigùracëjô bòczny lëstwë historëji
Comment[cy]=Ffurfweddu'r cwpwrdd cornel hanes
Comment[da]=Indstil historik-sidebjælken
Comment[de]=Verlaufsanzeige im Navigationsbereich einrichten
Comment[el]=Ρυθμίστε την πλευρική μπάρα ιστορικού
Comment[eo]=Agordo de la historia flankzono
Comment[es]=Configuración de la barra del historial
Comment[et]=Ajaloo külgriba seadistamine
Comment[eu]=Konfiguratu historiaren alboko barra
Comment[fa]=پیکربندی میله‌ جانبی تاریخچه
Comment[fi]=Historiasivupalkin asetukset
Comment[fr]=Configuration de l'historique de la barre latérale
Comment[fy]=Hjir kinne jo de histoarje ynstelle
Comment[ga]=Cumraigh an barra taoibh staire
Comment[gl]=Configurar o historial da barra lateral
Comment[he]=שינוי הגדרות הסרגל הצדדי של ההיסטוריה
Comment[hr]=Konfiguriranje trake povijesti
Comment[hu]=A napló-oldalsáv beállításai
Comment[is]=Stilla hliðardálk með flakksögu
Comment[it]=Configura la barra laterale della cronologia
Comment[ja]=履歴サイドバーの設定
Comment[ka]=ისტორიის გვერდითი პანელის კონფიგურირება
Comment[kk]=Бүйірдегі журнал панелін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​របារ​ចំហៀង​ប្រវត្តិ​
Comment[ko]=과거 기록 사이드바를 설정합니다
Comment[lt]=Konfigūruoti istorijos šoninę juostą
Comment[lv]=Šeit jūs varat konfigurēt vēstures sānjoslu
Comment[mk]=Конфигурација на лентата за историја
Comment[ms]=Konfigur bar sisi sejarah
Comment[nb]=Tilpass historiesidestolpen
Comment[nds]=Dat Vörgeschicht-Sietpaneel instellen
Comment[ne]=इतिहास किनारापट्टी कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de geschiedenis instellen
Comment[nn]=Set opp historie-sidestolpen
Comment[pa]=ਅਤੀਤ ਬਾਹੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja paska bocznego z historią
Comment[pt]=Configuração da barra lateral do histórico
Comment[pt_BR]=Configurar a barra lateral de Histórico
Comment[ro]=Configurează bara laterală de URL-uri vizitate
Comment[ru]=Настройка боковой панели журнала
Comment[se]=Heivet historihkkaholgga
Comment[sl]=Nastavitve stranske vrstice zgodovine
Comment[sr]=Подешавање бочног панела историјата
Comment[sr@latin]=Podešavanje bočnog panela istorijata
Comment[sv]=Anpassa historiksidopanelen
Comment[ta]=வரலாறு பக்கப்பட்டியலை வடிவமை
Comment[tg]=Танзимоти паҳлӯи сафҳаи торихча
Comment[th]=ปรับแต่งแถบประวัติการใช้ด้านข้าง
Comment[tr]=Geçmiş yan çubuğunu yapılandır
Comment[uk]=Налаштування бічної панелі історії
Comment[uz]=Тарих панелини мослаш
Comment[vi]=Cấu hình bảng nằm bên cạnh chứa lịch sử duyệt mạng
Comment[wa]=Apontyî l' istwere el bår di costé
Comment[x-test]=xxConfigure the history sidebarxx
Comment[xh]=Qwalasela imbali ye bar yasecaleni
Comment[zh_CN]=配置任务侧栏
Comment[zh_TW]=設定歷史紀錄邊列
Keywords=history,expire
Keywords[be]=Гісторыя,Састарэлая,history,expire
Keywords[bg]=Keywords=история, сърфиране, срок, изтичане, history, expire
Keywords[ca]=historial,expira
Keywords[cs]=historie,vypršení
Keywords[csb]=historëjô,wëgasëwanié
Keywords[cy]=hanes,daw i ben
Keywords[da]=historik,udløbe
Keywords[de]=History,Verlauf
Keywords[el]=ιστορικό,λήξη
Keywords[eo]=historio,malvalidiĝi
Keywords[es]=historial,expirar
Keywords[et]=ajalugu,aegumine
Keywords[eu]=historia,iraungi
Keywords[fa]=تاریخچه، انقضا
Keywords[fi]=historia,umpeenmeno
Keywords[fr]=historique,expiration
Keywords[fy]=histoarje,ferrinne
Keywords[ga]=stair,caite,as feidhm
Keywords[gl]=historial,caducar
Keywords[he]=היסטוריה,תפוגה,history,expire
Keywords[hr]=history,expire,povijest,istek
Keywords[hu]=napló,lejárás
Keywords[is]=Saga,útrunnið,history
Keywords[it]=cronologia,scadenza
Keywords[ja]=履歴,失効
Keywords[km]=ប្រវត្តិ ផុត​កំណត់
Keywords[ko]=과거 기록,만료
Keywords[lt]=history,expire, istorija,pasibaigti
Keywords[lv]=vēsture,beigties
Keywords[mk]=history,expire,историја,истекува
Keywords[ms]=sejarah, luput
Keywords[nb]=historie,utløper
Keywords[nds]=Vörgeschicht,aflopen
Keywords[ne]=इतिहास, म्याद समाप्त
Keywords[nl]=geschiedenis,verloop
Keywords[nn]=historie,utgår
Keywords[pa]=expire,ਅਤੀਤ
Keywords[pl]=historia,wygasanie
Keywords[pt]=histórico,expirar
Keywords[pt_BR]=histórico,expirar
Keywords[ro]=istoric,expirare
Keywords[ru]=history,expire,журнал
Keywords[se]=historihkka,boarásnuvvat
Keywords[sl]=zgodovina,potek,poteče
Keywords[sr]=history,expire,историјат,истицање
Keywords[sr@latin]=history,expire,istorijat,isticanje
Keywords[sv]=historik,utgå
Keywords[ta]=வரலாறு,முடிந்தது
Keywords[th]=ประวัติการใช้,หมดอายุ
Keywords[tr]=geçmiş
Keywords[uk]=історія,закінчення терміну,втрата чинності
Keywords[uz]=тарих,муддати ўтиш
Keywords[vi]=lịch sử,hết hạn
Keywords[wa]=istwere,espirer,espiraedje
Keywords[x-test]=xxhistory,expirexx
Keywords[xh]=imbali,ephelelwa lixesha
Keywords[zh_CN]=history,expire,历史,过期
Keywords[zh_TW]=history,expire,歷史紀錄,過期
Categories=Qt;KDE;X-KDE-settings-webbrowsing;
