[Desktop Entry]
Type=Link
URL=http://www.kde.org
Name=KDE Home Page
Icon=text-html
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
