[Desktop Entry]
Name=Adblock
Name[ca]=Adblock
Name[cs]=Adblock
Name[da]=Adblock
Name[de]=Werbefilter
Name[es]=Adblock
Name[et]=Adblock
Name[fr]=Adblock
Name[ia]=Adblock (bloco de reclamos)
Name[it]=Adblock
Name[ja]=Adblock
Name[kk]=Жарнаманы бұғаттау
Name[ko]=Adblock
Name[lt]=Adblock
Name[nb]=Adblock
Name[nds]=Warvenblockeren
Name[nl]=Adblock
Name[nn]=Reklamestopp
Name[pt]=Adblock
Name[pt_BR]=Adblock
Name[ru]=Блокирование рекламы
Name[sr]=Адблок
Name[sr@ijekavian]=Адблок
Name[sr@ijekavianlatin]=AdBlock
Name[sr@latin]=AdBlock
Name[sv]=Reklamblockering
Name[uk]=Блокування реклами
Name[x-test]=xxAdblockxx
Name[zh_TW]=Adblock
Icon=preferences-web-browser-adblock
Comment=Show all blockable html elements
Comment[ca]=Mostra tots els elements html bloquejables
Comment[cs]=Zobrazit všechny blokovatelné HTML prvky
Comment[da]=Vis alle html-elementer der kan blokeres
Comment[de]=Alle blockierbaren HTML-Elemente anzeigen
Comment[es]=Mostrar todos los elementos HTML que se pueden bloquear
Comment[et]=Kõigi blokeeritavate HTML-elementide näitamine
Comment[fr]=Afficher tous les éléments HTML pouvant être bloqués
Comment[ia]=Monstra omne elementos blocabile html
Comment[it]=Mostra tutti gli elementi HTML bloccabili
Comment[ja]=ブロック可能なすべての HTML 要素を表示します
Comment[kk]=Бұғатталмақ html элементерін көрсету
Comment[ko]=차단 가능한 모든 HTML 구성 요소 보이기
Comment[lt]=Rodyti visus blokuotinus html elementus
Comment[nb]=Vis alle html-elementer som kan blokkeres
Comment[nds]=All HTML-Elementen wiesen, de sik blockeren laat
Comment[nl]=Alle blokkeerbare HTML-elementen
Comment[nn]=Vis alle blokkerbare HTML-element
Comment[pt]=Mostrar todos os elementos de HTML bloqueáveis
Comment[pt_BR]=Exibir todos os elementos HTML bloqueáveis
Comment[ru]=Показывает все блокируемые элементы HTML
Comment[sr]=Приказ свих ХТМЛ елемената који се могу блокирати
Comment[sr@ijekavian]=Приказ свих ХТМЛ елемената који се могу блокирати
Comment[sr@ijekavianlatin]=Prikaz svih HTML elemenata koji se mogu blokirati
Comment[sr@latin]=Prikaz svih HTML elemenata koji se mogu blokirati
Comment[sv]=Visa alla blockeringsbara HTML-element
Comment[uk]=Показує всі придатні для блокування елементи html
Comment[x-test]=xxShow all blockable html elementsxx
Comment[zh_TW]=顯示所有可阻擋的 html 元素
Encoding=UTF-8
X-KDE-Library=adblock
X-KDE-PluginInfo-Author=Daniele Galdi
X-KDE-PluginInfo-Email=daniele.galdi@gmail.com
X-KDE-PluginInfo-Name=adblock
X-KDE-PluginInfo-Version=0.0.5
X-KDE-PluginInfo-Website=http://www.pigamo.com
X-KDE-PluginInfo-Category=Statusbar
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
