[Desktop Entry]
Name=Adblock
Name[ca]=Adblock
Name[cs]=Adblock
Name[de]=Werbefilter
Name[ia]=Adblock (bloco de reclamos)
Name[lt]=Adblock
Name[nl]=Adblock
Name[pt]=Adblock
Name[sv]=Reklamblockering
Name[uk]=Блокування реклами
Name[x-test]=xxAdblockxx
Icon=preferences-web-browser-adblock
Comment=Show all blockable html elements
Comment[ca]=Mostra tots els elements html bloquejables
Comment[cs]=Zobrazit všechny blokovatelné HTML prvky
Comment[de]=Alle blockierbaren HTML-Elemente anzeigen
Comment[ia]=Monstra omne elementos blocabile html
Comment[lt]=Rodyti visus blokuotinus html elementus
Comment[nl]=Alle blokkeerbare HTML-elementen
Comment[pt]=Mostrar todos os elementos de HTML bloqueáveis
Comment[sv]=Visa alla blockeringsbara HTML-element
Comment[uk]=Показує всі придатні для блокування елементи html
Comment[x-test]=xxShow all blockable html elementsxx
Encoding=UTF-8
X-KDE-Library=adblock
X-KDE-PluginInfo-Author=Daniele Galdi
X-KDE-PluginInfo-Email=daniele.galdi@gmail.com
X-KDE-PluginInfo-Name=adblock
X-KDE-PluginInfo-Version=0.0.5
X-KDE-PluginInfo-Website=http://www.pigamo.com
X-KDE-PluginInfo-Category=Statusbar
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
