[Desktop Entry]
Name=Adblock
Name[ar]=مانع الإعلانات
Name[bg]=Блокиране на реклами
Name[bs]=Adblok
Name[ca]=Adblock
Name[ca@valencia]=Adblock
Name[cs]=Adblock
Name[da]=Adblock
Name[de]=Werbeblocker
Name[el]=Adblock
Name[en_GB]=Adblock
Name[eo]=Reklambloko
Name[es]=Adblock
Name[et]=Adblock
Name[eu]=Adblock
Name[fi]=Mainossuodatin
Name[fr]=Adblock
Name[ga]=Adblock
Name[gl]=Adblock
Name[he]=Adblock
Name[hr]=Adblock
Name[hu]=Adblock
Name[ia]=Adblock (bloco de reclamos)
Name[id]=Adblock
Name[is]=Adblock
Name[it]=Adblock
Name[ja]=Adblock
Name[kk]=Жарнаманы бұғаттау
Name[km]=Adblock
Name[ko]=Adblock
Name[lt]=Adblock
Name[lv]=Adblock
Name[mai]=Adblock
Name[mr]=जाहिरात प्रतिबंध
Name[nb]=Adblock
Name[nds]=Warvenblockeren
Name[nl]=Adblock
Name[nn]=Reklamestopp
Name[pa]=ਐਡਬਲਾਕ
Name[pl]=Adblock
Name[pt]=AdBlock
Name[pt_BR]=Adblock
Name[ro]=Adblock
Name[ru]=Adblock
Name[sk]=Adblock
Name[sl]=Adblock
Name[sr]=Адблок
Name[sr@ijekavian]=Адблок
Name[sr@ijekavianlatin]=AdBlock
Name[sr@latin]=AdBlock
Name[sv]=Reklamblockering
Name[tg]=Эълонҳои Adblock
Name[th]=บล็อคโฆษณา
Name[tr]=Adblock
Name[ug]=ئېلان سۈزگۈچ
Name[uk]=Блокування реклами
Name[wa]=Adblock
Name[x-test]=xxAdblockxx
Name[zh_CN]=Adblock
Name[zh_TW]=Adblock
Icon=preferences-web-browser-adblock
Comment=Show all blockable html elements
Comment[ar]=تظهر جميع عناصر html القابلة للمنع
Comment[bg]=Показване на всички блокируеми елементи на html
Comment[bs]=Prikaz svih HTML elemenata koji se mogu blokirati
Comment[ca]=Mostra tots els elements HTML bloquejables
Comment[ca@valencia]=Mostra tots els elements HTML bloquejables
Comment[cs]=Zobrazit všechny blokovatelné HTML prvky
Comment[da]=Vis alle html-elementer der kan blokeres
Comment[de]=Alle blockierbaren HTML-Elemente anzeigen
Comment[el]=Εμφάνιση όλων των στοιχείων html προς φραγή
Comment[en_GB]=Show all blockable HTML elements
Comment[es]=Muestra todos los elementos html bloqueables
Comment[et]=Kõigi blokeeritavate HTML-elementide näitamine
Comment[eu]=Erakutsi blokeatu daitezkeen html elementu guztiak
Comment[fi]=Näytä kaikki estettävissä olevat HTML-elementit
Comment[fr]=Afficher tous les éléments HTML pouvant être bloqués
Comment[ga]=Taispeáin na heilimintí HTML ar féidir cosc a chur orthu
Comment[gl]=Mostra todos os elementos html bloqueábeis
Comment[he]=הצג את כל אלמנטי ה־html הניתנים לחסימה
Comment[hne]=सब्बो ब्लाक करे जा सके एचटीएमएल अवयव मन ल देखाव
Comment[hr]=Prikaži sve html elemente koje je moguće blokirati
Comment[hu]=Az összes blokkolható HTML-elem megjelenítése
Comment[ia]=Monstra omne elementos blocabile html
Comment[id]=Tampilkan semua elemn html dapat diblok
Comment[is]=Sýna alla útilokanlega HTML-hluti
Comment[it]=Mostra tutti gli elementi HTML bloccabili
Comment[ja]=ブロック可能なすべての HTML 要素を表示します
Comment[kk]=Бұғатталмақ html элементерін көрсету
Comment[km]=បង្ហាញ​ធាតុ  html ដែល​អាចទប់ស្កាត់​​បាន​ទាំងអស់
Comment[ko]=차단 가능한 모든 HTML 구성 요소 보이기
Comment[ku]=Hemû hêmanên html yên tên asteng kirin nîşan bide
Comment[lt]=Rodyti visus blokuotinus html elementus
Comment[lv]=Rāda visus bloķējamos html elementus
Comment[mr]=सर्व प्रतिबंध करण्याजोगे html तत्व दर्शवा
Comment[nb]=Vis alle html-elementer som kan blokkeres
Comment[nds]=All HTML-Elementen wiesen, de sik blockeren laat
Comment[nl]=Alle blokkeerbare HTML-elementen
Comment[nn]=Vis alle blokkerbare HTML-element
Comment[pa]=ਸਭ ਬਲਾਕ ਕਰਨ ਯੋਗ html ਐਲੀਮੈਂਟ ਵੇਖੋ
Comment[pl]=Pokaż wszystkie blokowane elementy html
Comment[pt]=Mostrar todos os elementos de HTML possíveis de bloquear
Comment[pt_BR]=Exibir todos os elementos HTML bloqueáveis
Comment[ro]=Afișează toate elementele html blocabile
Comment[ru]=Показать все блокируемые элементы html
Comment[sk]=Zobraziť všetky blokovatelné HTML prvky
Comment[sl]=Pokaže vse predmete HTML, ki jih je mogoče onemogočiti
Comment[sr]=Приказ свих ХТМЛ елемената који се могу блокирати
Comment[sr@ijekavian]=Приказ свих ХТМЛ елемената који се могу блокирати
Comment[sr@ijekavianlatin]=Prikaz svih HTML elemenata koji se mogu blokirati
Comment[sr@latin]=Prikaz svih HTML elemenata koji se mogu blokirati
Comment[sv]=Visa alla blockeringsbara HTML-element
Comment[tg]=Намоиши ҳамаи қисмҳои басташавандаи html
Comment[th]=แสดงส่วนต่าง ๆ ของ html ที่สามารถบล็อคได้
Comment[tr]=Engellenebilir olan tüm html ögelerini göster
Comment[ug]=توسالايدىغان ھەممە ئېلېمېنتلارنى كۆرسەت
Comment[uk]=Показує всі придатні для блокування елементи html
Comment[wa]=Mostrer tos les elemints html blocåves
Comment[x-test]=xxShow all blockable html elementsxx
Comment[zh_CN]=显示所有可屏蔽的 html 元素
Comment[zh_TW]=顯示所有可阻擋的 html 元素
Encoding=UTF-8
X-KDE-Library=adblock
X-KDE-PluginInfo-Author=Daniele Galdi
X-KDE-PluginInfo-Email=daniele.galdi@gmail.com
X-KDE-PluginInfo-Name=adblock
X-KDE-PluginInfo-Version=0.0.5
X-KDE-PluginInfo-Website=http://www.pigamo.com
X-KDE-PluginInfo-Category=Statusbar
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
