[Desktop Entry]
Type=Link
URL=fonts:/
Icon=icon-fonts
Open=true
X-KDE-TreeModule=Virtual
X-KDE-RelURL=fonts
X-KDE-KonqSidebarModule=konqsidebar_tree
#X-KDE-SearchableTreeModule=true
X-KDE-Weight=16
Name=Fonts
Name[af]=Skriftipes
Name[ar]=الخطوط
Name[be]=Шрыфты
Name[be@latin]=Šryfty
Name[bg]=Шрифтове
Name[bn]=ফন্ট
Name[bn_IN]=ফন্ট
Name[br]=Fontoù
Name[csb]=Fòntë
Name[cy]=Ffontiau
Name[da]=Skrifttyper
Name[de]=Schriftarten
Name[el]=Γραμματοσειρές
Name[en_GB]=Fonts
Name[eo]=Tiparoj
Name[et]=Fondid
Name[fa]=قلمها
Name[fr]=Polices
Name[fy]=Lettertypen
Name[ga]=Clónna
Name[gu]=ફોન્ટ્સ
Name[hi]=फ़ॉन्ट्स
Name[hne]=फोंट
Name[hr]=Fontovi
Name[hsb]=Pisma
Name[hu]=Betűtípusok
Name[id]=Fonta
Name[it]=Caratteri
Name[ka]=ფონტები
Name[kk]=Қаріптер
Name[kn]=ಅಕ್ಷರಶೈಲಿಗಳು
Name[ku]=Curenivîs
Name[lv]=Fonti
Name[mai]=फान्ट
Name[mk]=Фонтови
Name[ml]=അക്ഷരസഞ്ചയങ്ങള്‍
Name[mr]=फॉन्ट
Name[ms]=Fon
Name[nds]=Schriftoorden
Name[ne]=फन्ट
Name[nl]=Lettertypen
Name[oc]=Poliças
Name[or]=ଅକ୍ଷର ରୂପ
Name[pa]=ਫੋਂਟ
Name[pl]=Czcionki
Name[ro]=Fonturi
Name[si]=අකුරු
Name[sv]=Teckensnitt
Name[ta]=எழுத்துருக்கள்
Name[te]=ఫాంట్‍స్
Name[tg]=Ҳарфҳо
Name[th]=แบบอักษรต่างๆ
Name[uz]=Shriftlar
Name[uz@cyrillic]=Шрифтлар
Name[vi]=Phông chữ
Name[wa]=Fontes
Name[xh]=Uhlobo lwamagama
Comment=Personal and System fonts list.
# NOTE: this file needs translation
