[Desktop Entry]
Type=Link
URL=fonts:/
Icon=icon-fonts
Open=true
X-KDE-TreeModule=Virtual
X-KDE-RelURL=fonts
X-KDE-KonqSidebarModule=konqsidebar_tree
#X-KDE-SearchableTreeModule=true
X-KDE-Weight=16
Name=Fonts
Comment=Personal and System fonts list.
# NOTE: this file needs translation
