[Desktop Entry]
Type=Link
URL=remote:/
Icon=folder-remote
Open=true
X-KDE-TreeModule=Virtual
X-KDE-RelURL=remote
X-KDE-KonqSidebarModule=konqsidebar_tree
X-KDE-Weight=12
# NOTE: this will include other "remote" connections, not just "network" ones, translations should be updated
Name=Remote
Name[ca]=Remot
Name[es]=Remoto
Name[et]=Võrguasukoht
Name[eu]=Urrutikoa
Name[it]=Remoto
Name[nl]=Op afstand
Name[pt]=Remotos
Name[pt_BR]=Remoto
Name[sv]=Fjärr
Name[uk]=Віддалене
Name[x-test]=xxRemotexx
