[Desktop Entry]
Type=Link
URL=remote:/
Icon=folder-remote
Open=true
X-KDE-TreeModule=Virtual
X-KDE-RelURL=remote
X-KDE-KonqSidebarModule=konqsidebar_tree
X-KDE-Weight=12
# NOTE: this will include other "remote" connections, not just "network" ones, translations should be updated
Name=Remote
Name[bg]=Отдалечено
Name[ca]=Remot
Name[ca@valencia]=Remot
Name[cs]=Vzdálené
Name[da]=Ekstern
Name[de]=Fremdgerät
Name[el]=Απομακρυσμένο
Name[en_GB]=Remote
Name[eo]=Demetebla
Name[es]=Remoto
Name[et]=Võrguasukoht
Name[eu]=Urrutikoa
Name[fi]=Etä
Name[fr]=Distant
Name[gl]=Remoto
Name[hsb]=Dalny
Name[ia]=Remote
Name[id]=Remote
Name[it]=Remoto
Name[ka]=დაშორებული
Name[ko]=원격
Name[nl]=Op afstand
Name[nn]=Nettverk
Name[pl]=Zdalne
Name[pt]=Remotos
Name[pt_BR]=Remoto
Name[ru]=Сетевые ресурсы
Name[sk]=Vzdialené
Name[sl]=Oddaljeno
Name[sv]=Fjärr
Name[tr]=Uzak
Name[uk]=Віддалене
Name[x-test]=xxRemotexx
Name[zh_CN]=远程
Name[zh_TW]=遠端
