[Desktop Entry]
Type=Link
URL=settings:/
Icon=icon-system-configuration
Open=true
X-KDE-TreeModule=Virtual
X-KDE-RelURL=settings
X-KDE-KonqSidebarModule=konqsidebar_tree
#X-KDE-SearchableTreeModule=true
X-KDE-Weight=15
Name=Settings
Comment=System settings options.
# NOTE: this file needs translation
