[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/bookmarks/index.html
Icon=bookmarks
Exec=kcmshell4 bookmarks

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=bookmarks
X-KDE-ParentApp=kcontrol

Name=Bookmarks
Comment=Configure the bookmarks home page
X-KDE-Keywords=Bookmarks
