[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/bookmarks/index.html
Icon=bookmarks
Exec=kcmshell4 bookmarks

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=bookmarks
X-KDE-ParentApp=kcontrol

Name=Bookmarks
Name[af]=Boekmerke
Name[ar]=العلامات
Name[be]=Закладкі
Name[be@latin]=Zakładki
Name[bg]=Отметки
Name[bn]=বুকমার্ক
Name[bn_IN]=বুকমার্ক
Name[br]=Sinedoù
Name[ca]=Punts
Name[cs]=Záložky
Name[csb]=Załóżczi
Name[cy]=Nodau Tudalen
Name[da]=Bogmærker
Name[de]=Lesezeichen
Name[el]=Σελιδοδείκτες
Name[eo]=Legosignoj
Name[es]=Marcadores
Name[et]=Järjehoidjad
Name[eu]=Laster-markak
Name[fa]=چوب الفها
Name[fi]=Kirjanmerkit
Name[fr]=Signets
Name[fy]=Blêdwizers
Name[ga]=Leabharmharcanna
Name[gl]=Marcadores
Name[gu]=બુકમાર્કો
Name[he]=סימניות
Name[hi]= पसंदीदा 
Name[hr]=Oznake
Name[hu]=Könyvjelzők
Name[is]=Bókamerki
Name[it]=Segnalibri
Name[ja]=ブックマーク
Name[ka]=სანიშნეები
Name[kk]=Бетбелгі
Name[km]=ចំណាំ
Name[kn]=ಅಂಕನಗಳು (ಬುಕ್ ಮಾರ್ಕ್)
Name[ko]=책갈피
Name[ku]=Bijare
Name[lt]=Žymelės
Name[lv]=Grāmatzīmes
Name[mk]=Обележувачи
Name[ml]=ഓര്‍മ്മക്കുറിപ്പുകള്‍
Name[mr]=ओळखचिन्ह
Name[ms]=Tanda Buku
Name[nb]=Bokmerker
Name[nds]=Leesteken
Name[ne]=पुस्तकचिनो
Name[nl]=Bladwijzers
Name[nn]=Bokmerke
Name[oc]=Marca-paginas
Name[pa]=ਬੁੱਕਮਾਰਕ
Name[pl]=Zakładki
Name[pt]=Favoritos
Name[pt_BR]=Favoritos
Name[ro]=Semne de carte
Name[ru]=Закладки
Name[se]=Girjemearkkat
Name[sk]=Záložky
Name[sl]=Zaznamki
Name[sr]=маркери
Name[sr@latin]=markeri
Name[sv]=Bokmärken
Name[ta]=நினைவுக்குறிகள்
Name[te]=పేజి గుర్తులు
Name[tg]=Хатчӯбмонӣ
Name[th]=ที่คั่นหน้า
Name[tr]=Yer imleri
Name[uk]=Закладки
Name[uz]=Xatchoʻplar
Name[uz@cyrillic]=Хатчўплар
Name[vi]=Dấu nhớ
Name[wa]=Rimåkes
Name[x-test]=xxBookmarksxx
Name[xh]=Amanqaku eencwadi
Name[zh_CN]=书签
Name[zh_TW]=書籤
Comment=Configure the bookmarks home page
Comment[el]=Ρύθμιση της αρχικής σελίδας των σελιδοδεικτών
Comment[gl]=Configura a páxina de inicio dos marcadores
Comment[gu]=બુકમાર્ક્સ મુખપૃષ્ઠને રૂપરેખાંકિત કરો
Comment[kk]=Бетбелгілердің мекен парағын баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​គេហទំព័រ​ចំណាំ
Comment[nds]=De Leesteken-Tohuussiet instellen
Comment[pt]=Configurar a página inicial dos favoritos
Comment[pt_BR]=Configurar a página inicial dos favoritos
Comment[uk]=Налаштування домашньої сторінки закладок
Comment[zh_TW]=設定書籤首頁
X-KDE-Keywords=Bookmarks
