[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule
DocPath=kcontrol/cache/index.html
Icon=cache
Exec=kcmshell cache

X-KDE-Library=kcm_kio
X-KDE-FactoryName=cache
X-KDE-ParentApp=kcontrol

Name=Cache
Name[el]=Λανθάνουσα μνήμη
Name[x-test]=xxCachexx

Comment=Configure web cache settings
Comment[el]=Ρυθμίστε τη λανθάνουσα μνήμη ιστοσελίδων
Comment[fr]=Configuration des réglages du cache web
Comment[x-test]=xxConfigure web cache settingsxx

Keywords=Cache,History,Browsing History,Ports,Size
Keywords[el]=Λανθάνουσα μνήμη,Ιστορικό,Ιστορικό περιήγησης,Θύρες,Μέγεθος
Keywords[fr]=Cache,historique,navigation de l'historique,ports,taille
Keywords[x-test]=xxCache,History,Browsing History,Ports,Sizexx
