[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/cache/index.html
Icon=preferences-web-browser-cache
Exec=kcmshell4 cache

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=cache
X-KDE-ParentApp=kcontrol

Name=Cache

Comment=Configure web cache settings

X-KDE-Keywords=Cache,History,Browsing History,Ports,Size
