[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/cache/index.html
Icon=preferences-web-browser-cache
Exec=kcmshell4 cache

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=cache
X-KDE-ParentApp=kcontrol

Name=Cache
Name[af]=Kas
Name[ar]=ذاكرة مخبئة
Name[be]=Кэш
Name[bg]=Временна памет
Name[bn]=ক্যাশে (Cache)
Name[br]=Krubuilh
Name[ca]=Cau
Name[de]=Zwischenspeicher
Name[el]=Λανθάνουσα μνήμη
Name[eo]=Tenejo
Name[es]=Caché
Name[et]=Puhver
Name[eu]=Katxea
Name[fa]=نهانگاه
Name[fi]=Välimuisti
Name[fy]=Lyts ûnthâld
Name[ga]=Taisce
Name[gl]=Caché
Name[gu]=કૅશ
Name[he]=מטמון
Name[hi]=कैश
Name[hr]=Pohrana
Name[hu]=Gyorstár
Name[is]=Skyndiminni
Name[ja]=キャッシュ
Name[ka]=ქეში
Name[kk]=Кэш
Name[km]=ឃ្លាំង​សម្ងាត់
Name[kn]=ಸಿದ್ಧಸ್ಮೃತಿ (ಕಾಶೆ)
Name[ko]=캐시
Name[ku]=Pêşbîr
Name[lt]=Krepšys
Name[lv]=Kešatmiņa
Name[mk]=Кеш
Name[nb]=Mellomlager
Name[nds]=Twischenspieker
Name[ne]=क्यास
Name[nn]=Mellomlager
Name[oc]=Escondedor
Name[pa]=ਕੈਸ਼
Name[pl]=Bufor
Name[ru]=Кэш
Name[se]=Gaskarájus
Name[sk]=Vyrovnávacia pamäť
Name[sl]=Prepomnilnik
Name[sr]=Кеш
Name[sr@latin]=Keš
Name[ta]=தற்காலிக
Name[tg]=Қароргоҳи пинҳонӣ
Name[th]=แคช
Name[tr]=Önbellek
Name[uk]=Кеш
Name[uz]=Kesh
Name[uz@cyrillic]=Кэш
Name[vi]=Bộ nhớ tạm
Name[wa]=Muchete
Name[x-test]=xxCachexx
Name[xh]=Indawo yokugcina efihlakeleyo
Name[zh_CN]=缓存
Name[zh_TW]=快取

Comment=Configure web cache settings
Comment[af]=Konfigureer web kas instellings
Comment[ar]=اضبط إعدادات ذاكرة الشبكة المخبئة
Comment[be]=Настаўленні сеціўнага кэша
Comment[bg]=Настройване на временната памет
Comment[bn]=ওয়েব ক্যাশে সেটিংস কনফিগার করুন
Comment[br]=Kefluniañ krubuilh ar gwiad
Comment[ca]=Configura les opcions per al cau web
Comment[cs]=Nastavení cache pro webové stránky
Comment[csb]=Kònfigùracëjô nastôwù cache
Comment[cy]=Ffurfweddu gosodiadau'r storfa w?
Comment[da]=Indstil cache-opsætning
Comment[de]=Einstellungen zum Zwischenspeicher vornehmen
Comment[el]=Ρυθμίστε τη λανθάνουσα μνήμη ιστοσελίδων
Comment[eo]=Agordi la retan tenejon
Comment[es]=Configurar las preferencias del caché de web
Comment[et]=Veebi vahemälu seadistamine
Comment[eu]=Konfiguratu web katxearen ezarpenak
Comment[fa]=پیکربندی تنظیمات نهانگاه وب
Comment[fi]=WWW-välimuistin asetuksia
Comment[fr]=Configuration des réglages du cache Web
Comment[fy]=Hjir kinne jo it lyts ûnthâld fan it web ynstelle
Comment[ga]=Cumraigh an taisce Ghréasáin
Comment[gl]=Configurar as opcións da caché web
Comment[gu]=વેબ કૅશ ગોઠવણીઓ રૂપરેખાંકિત કરો
Comment[he]=שינוי הגדרות המטמון
Comment[hi]=वेब कैश विन्यास कॉन्फ़िगर करें
Comment[hr]=Konfiguriranje postavki web-pohrane
Comment[hu]=A webböngészési gyorstár beállításai
Comment[is]=Stilla skyndiminni fyrir vefflakk
Comment[it]=Configura le impostazioni della cache del web
Comment[ja]=ウェブキャッシュの設定
Comment[ka]=ვებ კეშის პარამეტრების კონფიგურაცია
Comment[kk]=Веб кэшінің параметрлерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​កំណត់​ឃ្លាំង​សម្ងាត់​បណ្ដាញ
Comment[kn]=ಜಾಲ ಸಿದ್ಧಸ್ಮೃತಿ (ಕಾಶೆ) ಸಂಯೋಜನೆಗಳನ್ನು ಸಂರಚಿಸು
Comment[ko]=웹 캐시 설정
Comment[ku]=Mîhengên pêşbîra webê ava bike
Comment[lt]=Konfigūruokite žiniatinklio krepšio nustatymus
Comment[lv]=Šeit jūs varat konfigurēt tīmekļa kešatmiņas iestatījumus
Comment[mk]=Конфигурирајте ги поставувањата за веб-кешот
Comment[ml]=വെബിലെ അടുത്തുപയോഗിച്ച താളുകള്‍ക്കുള്ള സജ്ജീകരണങ്ങള്‍ ക്രമീകരിയ്ക്കുക
Comment[ms]=Konfigur seting cache web
Comment[nb]=Tilpass vev-mellomlageret
Comment[nds]=Den Nett-Twischenspieker instellen
Comment[ne]=वेब क्यास सेटिङ कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de webcache instellen
Comment[nn]=Oppsett av vevmellomlager
Comment[pa]=ਵੈੱਬ ਕੈਸ਼ ਸੈਟਿੰਗ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja ustawień bufora (cache'a)
Comment[pt]=Configuração das opções da 'cache' da Web
Comment[pt_BR]=Configurar as opções de cache da web
Comment[ro]=Configurează setările cache-ului web
Comment[ru]=Настройка кэша
Comment[se]=Heivet fierpmádatgaskarádjusa
Comment[sk]=Nastavenie vyrovnávacej pamäti pre WWW
Comment[sl]=Nastavitve spletnega predpomnilnika
Comment[sr]=Подеси поставке веб кеша
Comment[sr@latin]=Podesi postavke veb keša
Comment[sv]=Anpassa webbcacheinställningar
Comment[ta]=வலை தற்காலிக அமைப்புகளை வடிவமை
Comment[tg]=Танзимоти қароргоҳи пинҳонии интернет
Comment[th]=ปรับแต่งการตั้งค่าระบบแคช
Comment[tr]=Web önbellek ayarlarını buradan yapabilirsiniz
Comment[uk]=Налаштування установок кешу Тенет
Comment[uz]=Veb-kesh moslamalarini moslash
Comment[uz@cyrillic]=Веб-кэш мосламаларини мослаш
Comment[vi]=Cấu hình thiết lập bộ nhớ tạm cho duyệt mạng
Comment[wa]=Fijhoz l' apontiaedje del muchete des pådjes waibe chal
Comment[x-test]=xxConfigure web cache settingsxx
Comment[xh]=Qwalasela izicwangciso ze web yendawo yokugcina efihlakeleyo
Comment[zh_CN]=配置网页缓存设置
Comment[zh_TW]=設定網頁快取設定

X-KDE-Keywords=Cache,History,Browsing History,Ports,Size
X-KDE-Keywords[ar]=الذاكرة المخبئة,التاريخ,تاريخ التصفح,المنافذ,الحجم
X-KDE-Keywords[be]=Кэш,Гісторыя,Гісторыя вандровак,Вандраванне,Парты,Памер,Cache,History,Browsing History,Ports,Size
X-KDE-Keywords[bg]=Keywords=кеш, памет, временни, копия, страница, Cache, History, Browsing History, Ports, Size
X-KDE-Keywords[br]=Krubuilh,istor,furchal an istor,porzhioù,ment
X-KDE-Keywords[ca]=Cau,Historial,Historial de navegació,Ports,Mida
X-KDE-Keywords[cs]=Cache,Historie,Porty,Velikost
X-KDE-Keywords[csb]=cache,historëjô,historëjô przezéraniô,pòrtë,miara
X-KDE-Keywords[cy]=Storfa,Hanes,Hanes Pori,Pyrth,Maint
X-KDE-Keywords[da]=Cache,Historik,Netsøgningshistorik,Porte,Størrelse
X-KDE-Keywords[de]=Cache,Verlauf,History,Ports,Zwischenspeicher, Größe
X-KDE-Keywords[el]=Λανθάνουσα μνήμη,Ιστορικό,Ιστορικό περιήγησης,Θύρες,Μέγεθος
X-KDE-Keywords[eo]=Tenejo,Historio,TTT-umado,Pordoj,Grandeco
X-KDE-Keywords[es]=Caché,Historia,Historia de navegación,Puertos,Tamaño
X-KDE-Keywords[et]=cache,puhver,lehitsemise puhver,pordid,suurus
X-KDE-Keywords[eu]=Katxea,Historia,Arakaketa historia,Atakak,Neurria
X-KDE-Keywords[fa]=نهانگاه، تاریخچه، تاریخچۀ مرور، درگاهها، اندازه
X-KDE-Keywords[fi]=Välimuisti,Historia,Selailuhistoria,Portit,Koko
X-KDE-Keywords[fr]=Cache,historique,navigation de l'historique,ports,taille
X-KDE-Keywords[fy]=cache,lyts ûnthâld,history,Histoarje,grutte,Ynternet
X-KDE-Keywords[ga]=Taisce,Stair,Stair Brabhsála,Poirt,Méid
X-KDE-Keywords[gl]=Caché,Historial,Historial de Navegación,Portos,Tamaño
X-KDE-Keywords[he]=מטמון,היסטוריה,היסטוריית גלישה,יציאות,גודל,Cache,History,Browsing History,Ports,Size
X-KDE-Keywords[hr]=Cache,Pohrana,History,Povijest,Browsing History,Ports,Portovi,Size,Veličina,Povijest pretraživanja
X-KDE-Keywords[hu]=gyorstár,napló,böngészési napló,portok,méret
X-KDE-Keywords[is]=Skyndiminni,Saga,Vafrasaga,Port,Stærð,Cache,History,Browsing History,Ports,Size
X-KDE-Keywords[it]=cache,cronologia,navigazione,cronologia di navigazione,porte,dimensione
X-KDE-Keywords[ja]=キャッシュ,履歴,ブラウズの履歴,ポート,サイズ
X-KDE-Keywords[ka]=ქეში,ისტორია,მიმოხილვის ისტორია,პორტები,ზომა
X-KDE-Keywords[km]=ឃ្លាំង​សម្ងាត់ ប្រវត្តិ ប្រវត្តិ​រុករក ច្រក ទំហំ
X-KDE-Keywords[ko]=Cache,History,Browsing History,Ports,Size,캐시,크기,과거 기록
X-KDE-Keywords[lt]=Cache,History,Browsing History,Ports,Size, kešas,krepšys,žurnalas,istorija,naršymo žurnalas,naršymo istorija,portai,dydis
X-KDE-Keywords[mk]=Cache,History,Browsing History,Ports,Size,Кеш,Историја,Прелистување на историјата,Портови,Големина
X-KDE-Keywords[nb]=Mellomlager,Historie,Lesehistorie,Porter,Størrelse
X-KDE-Keywords[nds]=Twischenspieker,Vörgeschicht,Browsing History,Porten,Grött
X-KDE-Keywords[ne]=क्यास, इतिहास, ब्राउज इतिहास, पोर्ट, साइज
X-KDE-Keywords[nl]=cache,historie,geschiedenis,grootte,internet
X-KDE-Keywords[nn]=cache,mellomlager,historie,nettlesarhistorie,portar,storleik
X-KDE-Keywords[pa]=ਅਕਾਰ,ਅਤੀਤ,ਝਲਕਾਰਾ,ਕੈਸ਼,ਪੋਰਟ
X-KDE-Keywords[pl]=cache,bufor,historia,historia przeglądania,porty,rozmiar
X-KDE-Keywords[pt]=Cache,Histórico,Histórico de Navegação,Portos,Tamanho
X-KDE-Keywords[pt_BR]=Cache,Histórico,Histórico de Navegação,Portas,Tamanho
X-KDE-Keywords[ro]=cache,istoric,navigare în istoric,porturi,mărime
X-KDE-Keywords[se]=gaskarájus,historihkka,fierpmádatloganhistorihkka,verráhat,sturrodat
X-KDE-Keywords[sl]=predpomnilnik,zgodovina,zgodovina brskanja,vrata,velikost
X-KDE-Keywords[sr]=Cache,History,Browsing History,Ports,Size,кеш,историјат,портови,величина
X-KDE-Keywords[sr@latin]=Cache,History,Browsing History,Ports,Size,keš,istorijat,portovi,veličina
X-KDE-Keywords[sv]=Cache,Historik,Webbläsningshistorik,Portar,Storlek
X-KDE-Keywords[ta]=தற்காலிக,வரலாறு,உலாவுதலின் வரலாறு,முனையங்கள்,அளவு
X-KDE-Keywords[th]=แคช,ประวัติการใช้,ประวัติการท่องเว็บ,พอร์ต,ขนาด
X-KDE-Keywords[tr]=Arabellek,Tarihçe,Gözatma Tarihçesi,Portlar
X-KDE-Keywords[uk]=кеш,історія, історія навігації,порти,розмір
X-KDE-Keywords[uz]=Кэш,Веб-саҳифалар тариҳи,Тарих,Портлар
X-KDE-Keywords[vi]=Nhớ tạm,Lịch sử,Lịch sử duyệt,Cổng,Cỡ
X-KDE-Keywords[wa]=Muchete,Istwere,Istwere do foytaedje,Pôrts,Grandeu
X-KDE-Keywords[x-test]=xxCache,History,Browsing History,Ports,Sizexx
X-KDE-Keywords[xh]=Indawo yokugcina, Imbali, imbali Yokhangelo zincwadi, Amazibuko, Ubungakanani
X-KDE-Keywords[zh_CN]=Cache,History,Browsing History,Ports,Size,缓存,历史,浏览历史,端口,大小
X-KDE-Keywords[zh_TW]=Cache,History,Browsing History,Ports,Size,快取
