[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/cookies/index.html
Icon=preferences-web-browser-cookies
Exec=kcmshell4 cookies

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=cookie
X-KDE-ParentApp=kcontrol

Name=Cookies

Comment=Configure the way cookies work

X-KDE-Keywords=Cookies,Browsing,Internet,WWW,Network,Policy,Domains
X-KDE-Keywords[ar]=الكعكات,التصفح,الإنترنت,الشبكة العالمية,الشبكة,السياسة,أسماء المجالات
X-KDE-Keywords[be]="Печыва",Вандроўка,Вандраванне,Інтэрнэт,Сетка,Правілы,Домены,Cookies,Browsing,Internet,WWW,Network,Policy,Domains
X-KDE-Keywords[bg]=Keywords=бисквитка, бисквитки, Интернет, сърфиране, сесия, сигурност, Cookies, Browsing, Internet, WWW, Network, Policy, Domains
X-KDE-Keywords[ca]=Galetes,fullejar,Internet,WWW,Xarxa,Política,Dominis
X-KDE-Keywords[cs]=Cookie,Prohlížení,Internet,WWW,Síť,Domény
X-KDE-Keywords[csb]=kùszczi,przezéranié,Internet,WWW,séc,reglë,domenë
X-KDE-Keywords[cy]=Cwcis,Pori,Rhyngrwyd,WWW,Rhwydwaith,Polisi,Parthau
X-KDE-Keywords[da]=Cookier,Netsøgning,Internet,www,Netværk,Politik,Domæner
X-KDE-Keywords[de]=Cookies,Durchsuchen,Browsen,Surfen,Internet,WWW,Netzwerk,Regelungen,Domains
X-KDE-Keywords[el]=Cookies,Περιήγηση,Διαδίκτυο,WWW,Δίκτυο,Πολιτική,Τομείς
X-KDE-Keywords[eo]=kuketoj,TTT,Interreto,WWW,reto,konduto,retregionoj
X-KDE-Keywords[es]=Cookies,Navegación,Internet,WWW,Red,Política,Dominios
X-KDE-Keywords[et]=küpsised,lehitsemine,Internet,WWW,võrk,reeglid,domeenid
X-KDE-Keywords[eu]=Cookie-ak,Arakaketa,Internet,WWW,Sarea,Arautegia,Domeinuak
X-KDE-Keywords[fa]=کوکیها، مرور، اینترنت، WWW، شبکه، سیاست، دامنه‌ها
X-KDE-Keywords[fi]=Evästeet,Selailu,Internet,WWW,Verkko,Politiikka,Verkkoalueet
X-KDE-Keywords[fr]=Cookies,navigation,internet,WWW,Web,réseau,règle,politique,domaine
X-KDE-Keywords[fy]=Koekjes,blêdzjen,ynternet,www,netwurk,wurkwize,domeinen
X-KDE-Keywords[ga]=Fianán,Brabhsáil,Idirlíon,WWW,Líonra,Polasaí,Fearainn
X-KDE-Keywords[gl]=Cookies,Navegación,Internet,WWW,Rede,Política,Dominios
X-KDE-Keywords[he]=עוגיות,גלישה,אינטרנט,WWW,רשת,מדיניות,תחומים, Cookies,Browsing,Internet,Network,Policy,Domains
X-KDE-Keywords[hr]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains,Kolačići,Domene,Mreža,Pravila,Pregledavanje,Pretraživanje
X-KDE-Keywords[hu]=cookie-k,böngészés,internet,WWW,hálózat,házirend,tartományok
X-KDE-Keywords[is]=Smákökur,Flakk,Flakkari,Vafr,Vafri,Vefurinn,Netið,lén
X-KDE-Keywords[it]=cookie,navigazione,Internet,WWW,rete,politica,domini
X-KDE-Keywords[ja]=クッキー,ブラウス,インターネット,WWW,ネットワーク,ポリシー,ドメイン
X-KDE-Keywords[ka]=ქუქები,მიმოხილვა,ინტერნეტი,WWW,ქსელი,პოლისი,დომენები
X-KDE-Keywords[km]=ខូគី ការ​រុករក អ៊ីនធឺណិត វើលវ៉ាយវ៉េប បណ្ដាញ គោលនយោបាយ ដែន
X-KDE-Keywords[ko]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains,쿠키,브라우저,인터넷,웹,네트워크,도메인,탐색,찾아가기,탐색기
X-KDE-Keywords[lt]=Slapukai,Naršymas,Internetas,WWW,Tinklas,Taisyklės,Sritys
X-KDE-Keywords[lv]=Cepumi,Pārlūkošana,Internets,WWW,Tīkls,Politika,Domēni
X-KDE-Keywords[mk]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains,Колачиња,Прелистување,Интернет,Мрежа,Политика,Домени
X-KDE-Keywords[nb]=cookies,informasjonskapsler,surfing,internett,WWW,verdensveven,nettverk,praksis,domene
X-KDE-Keywords[nds]=Kookjes,Nettkieken,Internet,WWW,Nettwark,Regel,Domänen
X-KDE-Keywords[ne]=कुकी,ब्राउजिङ, इन्टरनेट, WWW, सञ्जाल, नीति, डोमेन
X-KDE-Keywords[nl]=cookies,browsing,internet,www,netwerk,beleid,domeinen
X-KDE-Keywords[nn]=cookies,informasjonskapslar,surfing,internett,WWW,verdsveven,nettverk,praksis,domene
X-KDE-Keywords[pa]=Cookies,Browsing,Internet,WWW,Network,ਨੀਤੀ, ਡੋਮੇਨ,ਇੰਟਰਨੈਟ
X-KDE-Keywords[pl]=ciasteczka,przeglądanie,Internet,WWW,sieć,zasady,domeny
X-KDE-Keywords[pt]=Cookies,Navegação,Internet,WWW,Rede,Política,Domínios
X-KDE-Keywords[pt_BR]=Cookies,Navegação,Internet,WWW,Rede,Política,Domínios
X-KDE-Keywords[ro]=cookies,navigare,Internet,WWW,reţea,politici,domenii
X-KDE-Keywords[se]=diehtočoahkku,bláđđen,fierpmádat,WWW,fierbmi,geavat,domeana
X-KDE-Keywords[sl]=piškotki,brskanje,internet,splet,WWW,omrežje,politika,domene
X-KDE-Keywords[sr]=Cookies,Browsing,Интернет,WWW,Network,Policy,Domains,колачићи,прегледање,мрежа,полиса,домени
X-KDE-Keywords[sr@latin]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains,kolačići,pregledanje,mreža,polisa,domeni
X-KDE-Keywords[sv]=Kakor,Surfning,Internet,WWW,Nätverk,Policy,Domäner
X-KDE-Keywords[ta]=தற்காலிக நினைவகம்,உலாவுதல்,இணையம்t,WWW,வலைப்பின்னல்,கொள்கை,வலைதளங்கள்
X-KDE-Keywords[th]=คุกกี้,การเรียกดูเว็บเพจ,อินเทอร์เน็ต,WWW,ระบบเครือข่าย,ข้อกำหนด,โดเมน
X-KDE-Keywords[tr]=Çerezler,Tarama,İnternet,WWW,Ağ,Alan
X-KDE-Keywords[uk]=куки,навігація,Internet,Інтернет,WWW,мережа,правила,домени,Тенета
X-KDE-Keywords[uz]=Кукилар,Интернет,WWW,Тармоқ,Қоида,Доменлар
X-KDE-Keywords[vi]=Cookie,Duyệt,Mạng,WWW,mạng,Chính sách,Miền
X-KDE-Keywords[wa]=Coûkes,betchteu,betchtaedje,naiviaedje,Daegntoele,WWW,waibe,rantoele,politike,dominnes
X-KDE-Keywords[x-test]=xxCookies,Browsing,Internet,WWW,Network,Policy,Domainsxx
X-KDE-Keywords[xh]=Cookies,Khangela iincwadi,Internet,WWW,Umsebenzi womnatha,Inkqubo,Ezongameleyo
X-KDE-Keywords[zh_CN]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains,浏览,互联网,万维网,网络,策略,域
X-KDE-Keywords[zh_TW]=Cookies,Browsing,Internet,WWW,Network,Policy,Domain,瀏覽,網際網路,網路,策略,域名
