[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/cookies/index.html
Icon=preferences-web-browser-cookies
Exec=kcmshell4 cookies

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=cookie
X-KDE-ParentApp=kcontrol

Name=Cookies

Comment=Configure the way cookies work

X-KDE-Keywords=Cookies,Browsing,Internet,WWW,Network,Policy,Domains
