[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule
Icon=preferences-system-network-share
Exec=kcmshell4 lanbrowser

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=lanbrowser
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=sharing

Name=Local Network Browsing
Name[af]=Plaaslike Netwerk Blaaiïng
Name[ar]=تصفح الشبكة المحلية
Name[be]=Прагляд мясцовай сеткі
Name[bg]=Локална мрежа
Name[br]=Furchal ar rouedad lec'hel
Name[ca]=Navegació per la xarxa local
Name[cs]=Prohlížení lokální sítě
Name[csb]=Przezéranié môlowégò netë
Name[cy]=Pori Rhwydwaith Lleol
Name[da]=Lokal netværkssøgning
Name[de]=Netzwerk-Browser
Name[el]=Τοπική περιήγηση δικτύου
Name[eo]=Traserĉado de la loka reto
Name[es]=Navegación por la red local
Name[et]=Kohtvõrgu lehitsemine
Name[eu]=Sare lokaleko arakaketa
Name[fa]=مرور شبکۀ محلی
Name[fi]=Paikallisverkon selaus
Name[fr]=Navigation dans le réseau local
Name[fy]=Lokaal netwurk
Name[ga]=Brabhsáil an Líonra Logánta
Name[gl]=Exploración da Rede Local
Name[he]=עיון ברשת המקומית
Name[hr]=Pregledavanje lokalne mreže
Name[hu]=Hálózatböngészés
Name[is]=Staðarnetsflakk
Name[it]=Navigazione rete locale
Name[ja]=ローカルネットワーク参照
Name[ka]=ლოკალური ქსელის მიმოხილვა
Name[kk]=Жергілікті желіні шолу
Name[km]=ការ​រុករក​បណ្ដាញ​មូលដ្ឋាន
Name[ko]=지역 네트워크 탐색
Name[lt]=Vietinio tinklo naršymas
Name[lv]=Lokālā Tīkla pārlūkošana
Name[mk]=Прелистување на локалната мрежа
Name[ms]=Pelayaran Rangkaian Setempat
Name[nb]=Lokalt nettverk
Name[nds]=Lokaal Nettwarkkieker
Name[ne]=स्थानीय सञ्जाल ब्राउजिङ
Name[nl]=Lokaal netwerk
Name[nn]=Lokalt nettverk
Name[pa]=ਲੋਕਲ ਨੈੱਟਵਰਕ ਝਲਕਾਰਾ
Name[pl]=Przeglądanie sieci lokalnej
Name[pt]=Navegação na Rede Local
Name[pt_BR]=Navegação em Rede Local
Name[ro]=Răsfoire reţea locală
Name[ru]=Обзор локальной сети
Name[se]=Báikkálaš fierbmebláđđen
Name[sl]=Brskanje po krajevnem omrežju
Name[sr]=Прегледање локалне мреже
Name[sr@latin]=Pregledanje lokalne mreže
Name[sv]=Lokal nätverksbläddring
Name[ta]=உள் வலைதல உலாவுதல்
Name[tg]=Обзори шабакаи локалӣ
Name[th]=เรียกดูเครือข่ายท้องถิ่น
Name[tr]=Yerel Ağ Tarama
Name[uk]=Перегляд локальної мережі
Name[uz]=Локал тармоқни кўриш
Name[vi]=Duyệt mạng cục bộ
Name[wa]=Foytaedje del rantoele locåle
Name[x-test]=xxLocal Network Browsingxx
Name[xh]=Ukhangelo Lomsebenzi womnatha Wobulali
Name[zh_CN]=局域网浏览
Name[zh_TW]=區域網路瀏覽

Comment=Setup lisa, reslisa and the ioslaves
Comment[af]=Stel lisa, reslisa en die ioslaves op
Comment[be]=Настаўленні lisa, reslisa і ioslaves
Comment[bg]=Настройване на lisa, reslisa и ioslaves
Comment[br]=Kefluniadur lisa, reslisa and skalvoù IO
Comment[ca]=Arranja lisa, reslisa i els ioslaves
Comment[cs]=Nastavení Lisa, ResLisa a pomocných zařízení
Comment[csb]=Ùstôw lisa, reslisa ë procedurów wé/wi
Comment[cy]=Gosodiad lisa,reslisa a'r gweision-io
Comment[da]=Opsætning af lisa, reslisa og ioslaverne
Comment[de]=Einrichtung von LISa, resLISa und Ein-/Ausgabemodulen
Comment[el]=Ρύθμιση του lisa, reslisa και των ioslaves
Comment[eo]=Agordo de Lisa, Reslisa kaj la Enel-sklavoj
Comment[es]=Configuración de lisa, reslisa y los ioslaves
Comment[et]=Lisa, reslisa ja KIO moodulite seadistamine
Comment[eu]=Konfiguratu lisa, reslisa eta ioslave-ak
Comment[fa]=برپایی lisa، reslisa و ioslaves
Comment[fi]=Lisan, Reslisan ja KIO-palveluiden asetukset
Comment[fr]=Configuration de LISa, ResLISa et des modules d'entrées-sorties
Comment[fy]=Lisa, reslisa en de ioslaves ynstelle
Comment[ga]=Socraigh lisa, reslisa agus ioslaves
Comment[gl]=Configurar lisa, reslisa e os escravos I/O
Comment[he]=שינוי הגדרות reslisa ,lisa והפרוטוקולים
Comment[hr]=Postavke za module lisa, reslisu i ioslaves
Comment[hu]=A Lisa, a ResLisa és a KDE protokollok beállításai
Comment[is]=Stilla lisa, reslisa og I/Ú-þrælana
Comment[it]=Imposta lisa, reslisa e gli ioslave
Comment[ja]=lisa, reslisa, ioslave の設定
Comment[ka]=lisa, reslisa და ioslaves -ს კონფიგურაცია
Comment[kk]=lisa, reslisa және the ioslaves дегендерді орнату
Comment[km]=រៀបចំ lisa reslisa និង ioslaves
Comment[ko]=lisa, reslisa, IO 슬레이브 설정
Comment[lt]=Lisa, reslisa ir ioslaves nustatymas
Comment[lv]=Uzstāda lisa, reslisa un iovergus
Comment[mk]=Поставете ги lisa, reslisa и ioslaves
Comment[nb]=Oppsett av lisa, reslisa og i/u-slavene
Comment[nds]=Lisa, reslisa un de In-/Utgaavdeensten instellen
Comment[ne]=लिसा, रेसलिसा र इओस्लेभ सेटअप गर्नुहोस्
Comment[nl]=Lisa, reslisa en de ioslaves instellen
Comment[nn]=Oppsett av lisa, reslisa og i/u-slavane
Comment[pa]=lisa, reslisa ਤੇ ioslaves ਸੈੱਟਅੱਪ
Comment[pl]=Ustawienie lisa, reslisa i procedur we/wy
Comment[pt]=Configurar o lisa, o reslisa e os seus ioslaves
Comment[pt_BR]=Configurar o lisa, reslisa e os ioslaves
Comment[ro]=Setează lisa, reslisa şi dispozitivele I/O
Comment[ru]=Настройка lisa, reslisa и ioslaves
Comment[se]=Heivet lisa,reslisa ja s/o-šlávaid
Comment[sl]=Nastavitve lisa, reslisa in ioslave
Comment[sr]=Подешавање lisa-e, reslisa-e, и ioslave-ова
Comment[sr@latin]=Podešavanje lisa-e, reslisa-e, i ioslave-ova
Comment[sv]=Ställ in lisa, reslisa och I/O-slavarna
Comment[ta]= லிசா, ரெஸ்லிசா மற்றும் ஐஓஸ்லேவ்ஸ் அமைப்பு
Comment[tg]=Танзимоти lisa, reslisa ва ioslaves
Comment[th]=ตั้งค่า lisa, reslisa และ ioslaves
Comment[tr]=lisa, reslisa ve ioslaves kurulumu
Comment[uk]=Встановлення lisa,reslisa та ioslaves
Comment[uz]=Lisa, reslisa ва ioslave хизматларни мослаш
Comment[vi]=Cài đặt lisa,reslisa và các ioslave
Comment[wa]=Apontyî lisa, reslisa et les vårlets d' I/R
Comment[x-test]=xxSetup lisa, reslisa and the ioslavesxx
Comment[xh]=Cwangcisa i lisa, reslisa ne ioslaves
Comment[zh_CN]=设置 lisa、reslisa 和 ioslaves

Keywords=samba,smb,windows,network
Keywords[be]=Сетка,Навакольнае асяроддзе,samba,smb,windows,network
Keywords[bg]=Keywords=самба, мрежа, локална, преглед, връзка, samba, smb, windows, network
Keywords[br]=samba,smb,prenester,rouedad
Keywords[ca]=samba,smb,windows,xarxa
Keywords[cs]=samba,smb,windows,síť
Keywords[csb]=samba,smb,windows,séc, neta
Keywords[cy]=samba,smb,windows, rhwydwaith
Keywords[da]=samba,smb,windows,netværk
Keywords[de]=samba,smb,windows,netzwerk
Keywords[el]=samba,smb,windows,δίκτυο
Keywords[eo]=samba,smb,fenestro,windows,reto
Keywords[es]=samba,smb,windows,red
Keywords[et]=samba,smb,windows,võrk
Keywords[eu]=samba,smb,windows,sarea
Keywords[fa]=samba، smb، پنجره‌ها، شبکه
Keywords[fi]=samba,smb,windows,verkko
Keywords[fr]=samba,smb,windows,réseau
Keywords[fy]=samba,smb,windows,netwurk
Keywords[ga]=samba,smb,windows,líonra
Keywords[gl]=samba,smb,windows,rede
Keywords[he]=סמבה,smb,חלונות,רשת, samba,windows,network
Keywords[hr]=samba,smb,windows,network,mreža
Keywords[hu]=Samba,smb,Windows,hálózat
Keywords[is]=samba,smb,windows,network,net
Keywords[it]=samba,smb,windows,rete
Keywords[ja]=samba,smb,ウィンドウズ,ネットワーク
Keywords[km]=samba smb វីនដូ បណ្ដាញ
Keywords[ko]=삼바,samba,smb,윈도,윈도우,윈도우즈,windows,network
Keywords[lt]=samba,smb,windows,network,tinklas
Keywords[lv]=samba,smb,windows,tīkls
Keywords[mk]=samba,smb,windows,network,мрежа,заеднички,Виндоус
Keywords[nb]=samba,smb,windows,nettverk
Keywords[nds]=samba,smb,Windows,Nettwark
Keywords[ne]=साम्बा, smb, सञ्झ्याल, सञ्जाल
Keywords[nl]=samba,smb,windows,netwerk
Keywords[nn]=samba,smb,windows,nettverk
Keywords[pa]=samba,smb,windows,network,ਨੈੱਟਵਰਕ,ਸਾਂਬਾ
Keywords[pl]=samba,smb,windows,sieć
Keywords[pt]=samba,smb,windows,rede
Keywords[pt_BR]=samba,smb,windows,rede
Keywords[ro]=samba,smb,windows,reţea
Keywords[se]=samba,smb,windows,fierpmádat
Keywords[sl]=samba,smb,windows,network,omrežje
Keywords[sr]=samba,smb,windows,network,мрежа,самба
Keywords[sr@latin]=samba,smb,windows,network,mreža,samba
Keywords[sv]=samba,smb,windows,nätverk
Keywords[ta]=சாம்ப்,smb,சாளரங்கள்,வலைதளம்
Keywords[th]=samba,smb,วินโดวส์,เครือข่าย
Keywords[tr]=samba,smb,windows,ağ
Keywords[uk]=samba,smb,windows,мережа
Keywords[uz]=samba,smb,windows,тармоқ
Keywords[vi]=samba,smb,cửa sổ,mạng
Keywords[wa]=samba,smb,windows,rantoele
Keywords[x-test]=xxsamba,smb,windows,networkxx
Keywords[zh_CN]=samba,smb,windows,network,网络
