[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
Icon=preferences-system-network-share
Exec=kcmshell4 lanbrowser

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=lanbrowser
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=sharing

Name=Local Network Browsing
Name[af]=Plaaslike Netwerk Blaaiïng
Name[ar]=تصفح الشبكة المحلية
Name[be]=Прагляд мясцовай сеткі
Name[bg]=Локална мрежа
Name[bn]=স্থানীয় নেটওয়ার্ক ব্রাউজিং
Name[br]=Furchal ar rouedad lec'hel
Name[ca]=Navegació per la xarxa local
Name[cs]=Prohlížení lokální sítě
Name[csb]=Przezéranié môlowégò netë
Name[cy]=Pori Rhwydwaith Lleol
Name[da]=Lokal netværkssøgning
Name[de]=Netzwerk-Browser
Name[el]=Τοπική περιήγηση δικτύου
Name[eo]=Foliumado de la loka reto
Name[es]=Navegación por la red local
Name[et]=Kohtvõrgu lehitsemine
Name[eu]=Sare lokaleko arakaketa
Name[fa]=مرور شبکۀ محلی
Name[fi]=Paikallisverkon selaus
Name[fr]=Navigation dans le réseau local
Name[fy]=Lokaal netwurk
Name[ga]=Brabhsáil an Líonra Logánta
Name[gl]=Navegación pola rede local
Name[gu]=સ્થાનિક નેટવર્ક બ્રાઉઝિંગ
Name[he]=עיון ברשת המקומית
Name[hi]=स्थानीय नेटवर्क ब्राउजिंग
Name[hr]=Pregledavanje lokalne mreže
Name[hu]=Hálózatböngészés
Name[is]=Staðarnetsflakk
Name[it]=Navigazione rete locale
Name[ja]=ローカルネットワーク参照
Name[ka]=ლოკალური ქსელის მიმოხილვა
Name[kk]=Жергілікті желіні шолу
Name[km]=ការ​រុករក​បណ្ដាញ​មូលដ្ឋាន
Name[kn]=ಸ್ಥಳೀಯ ಜಾಲ ವೀಕ್ಷಣೆ
Name[ko]=로컬 네트워크 탐색
Name[ku]=Gerîna Tora Herêmî
Name[lt]=Vietinio tinklo naršymas
Name[lv]=Lokālā tīkla pārlūkošana
Name[mk]=Прелистување на локалната мрежа
Name[ms]=Pelayaran Rangkaian Setempat
Name[nb]=Lokalt nettverk
Name[nds]=Lokaal Nettwarkkieker
Name[ne]=स्थानीय सञ्जाल ब्राउजिङ
Name[nl]=Lokaal netwerk
Name[nn]=Lokalt nettverk
Name[pa]=ਲੋਕਲ ਨੈੱਟਵਰਕ ਝਲਕ
Name[pl]=Przeglądanie sieci lokalnej
Name[pt]=Navegação na Rede Local
Name[pt_BR]=Navegação em Rede Local
Name[ro]=Răsfoire rețea locală
Name[ru]=Обзор локальной сети
Name[se]=Báikkálaš fierbmebláđđen
Name[sk]=Prehliadanie lokálnej siete
Name[sl]=Brskanje po krajevnem omrežju
Name[sr]=Прегледање локалне мреже
Name[sr@latin]=Pregledanje lokalne mreže
Name[sv]=Lokal nätverksbläddring
Name[ta]=உள் வலைதல உலாவுதல்
Name[tg]=Обзори шабакаи локалӣ
Name[th]=เรียกดูเครือข่ายท้องถิ่น
Name[tr]=Yerel Ağ Tarama
Name[uk]=Перегляд локальної мережі
Name[uz]=Локал тармоқни кўриш
Name[vi]=Duyệt mạng cục bộ
Name[wa]=Foytaedje del rantoele locåle
Name[x-test]=xxLocal Network Browsingxx
Name[xh]=Ukhangelo Lomsebenzi womnatha Wobulali
Name[zh_CN]=局域网浏览
Name[zh_TW]=區域網路瀏覽

Comment=Configure local network browsing for shared folders and printers

X-KDE-Keywords=samba,smb,windows,network
X-KDE-Keywords[be]=Сетка,Навакольнае асяроддзе,samba,smb,windows,network
X-KDE-Keywords[bg]=Keywords=самба, мрежа, локална, преглед, връзка, samba, smb, windows, network
X-KDE-Keywords[br]=samba,smb,prenester,rouedad
X-KDE-Keywords[ca]=samba,smb,windows,xarxa
X-KDE-Keywords[cs]=samba,smb,windows,síť
X-KDE-Keywords[csb]=samba,smb,windows,séc, neta
X-KDE-Keywords[cy]=samba,smb,windows, rhwydwaith
X-KDE-Keywords[da]=samba,smb,windows,netværk
X-KDE-Keywords[de]=samba,smb,windows,netzwerk
X-KDE-Keywords[el]=samba,smb,windows,δίκτυο
X-KDE-Keywords[eo]=samba,smb,fenestro,windows,reto
X-KDE-Keywords[es]=samba,smb,windows,red
X-KDE-Keywords[et]=samba,smb,windows,võrk
X-KDE-Keywords[eu]=samba,smb,windows,sarea
X-KDE-Keywords[fa]=samba، smb، پنجره‌ها، شبکه
X-KDE-Keywords[fi]=samba,smb,windows,verkko
X-KDE-Keywords[fr]=samba,smb,windows,réseau
X-KDE-Keywords[fy]=samba,smb,windows,netwurk
X-KDE-Keywords[ga]=samba,smb,windows,líonra
X-KDE-Keywords[gl]=samba,smb,windows,rede
X-KDE-Keywords[he]=סמבה,smb,חלונות,רשת, samba,windows,network
X-KDE-Keywords[hr]=samba,smb,windows,network,mreža
X-KDE-Keywords[hu]=Samba,smb,Windows,hálózat
X-KDE-Keywords[is]=samba,smb,windows,network,net
X-KDE-Keywords[it]=samba,smb,windows,rete
X-KDE-Keywords[ja]=samba,smb,ウィンドウズ,ネットワーク
X-KDE-Keywords[km]=samba smb វីនដូ បណ្ដាញ
X-KDE-Keywords[ko]=삼바,samba,smb,윈도,윈도우,윈도우즈,windows,network
X-KDE-Keywords[lt]=samba,smb,windows,network,tinklas
X-KDE-Keywords[lv]=samba,smb,windows,tīkls
X-KDE-Keywords[mk]=samba,smb,windows,network,мрежа,заеднички,Виндоус
X-KDE-Keywords[nb]=samba,smb,windows,nettverk
X-KDE-Keywords[nds]=samba,smb,Windows,Nettwark
X-KDE-Keywords[ne]=साम्बा, smb, सञ्झ्याल, सञ्जाल
X-KDE-Keywords[nl]=samba,smb,windows,netwerk
X-KDE-Keywords[nn]=samba,smb,windows,nettverk
X-KDE-Keywords[pa]=samba,smb,windows,network,ਨੈੱਟਵਰਕ,ਸਾਂਬਾ
X-KDE-Keywords[pl]=samba,smb,windows,sieć
X-KDE-Keywords[pt]=samba,smb,windows,rede
X-KDE-Keywords[pt_BR]=samba,smb,windows,rede
X-KDE-Keywords[ro]=samba,smb,windows,reţea
X-KDE-Keywords[se]=samba,smb,windows,fierpmádat
X-KDE-Keywords[sl]=samba,smb,windows,network,omrežje
X-KDE-Keywords[sr]=samba,smb,windows,network,мрежа,самба
X-KDE-Keywords[sr@latin]=samba,smb,windows,network,mreža,samba
X-KDE-Keywords[sv]=samba,smb,windows,nätverk
X-KDE-Keywords[ta]=சாம்ப்,smb,சாளரங்கள்,வலைதளம்
X-KDE-Keywords[th]=samba,smb,วินโดวส์,เครือข่าย
X-KDE-Keywords[tr]=samba,smb,windows,ağ
X-KDE-Keywords[uk]=samba,smb,windows,мережа
X-KDE-Keywords[uz]=samba,smb,windows,тармоқ
X-KDE-Keywords[vi]=samba,smb,cửa sổ,mạng
X-KDE-Keywords[wa]=samba,smb,windows,rantoele
X-KDE-Keywords[x-test]=xxsamba,smb,windows,networkxx
X-KDE-Keywords[zh_CN]=samba,smb,windows,network,网络
