[Desktop Entry]
Exec=kcmshell4 netpref
Icon=preferences-system-network-connection
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/netpref/index.html

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=netpref
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=network-settings
X-KDE-Weight=60

Name=Connection Preferences

Comment=Configure generic network preferences, like timeout values

X-KDE-Keywords=timeout,iopref,netpref,network preferences,ftp
X-KDE-Keywords[be]=Тэрмін чакання,Уласцівасці сеткі,timeout,iopref,netpref,network preferences,ftp
X-KDE-Keywords[bg]=Keywords=просрочка, време, времето, пауза, прекъсване, връзка, timeout, iopref, netpref, network preferences, ftp
X-KDE-Keywords[ca]=temps d'expiració,iopref,netpref,preferències de la xarxa,ftp
X-KDE-Keywords[cs]=časový limit,iopref,netpref,nastavení sítě,ftp
X-KDE-Keywords[csb]=limit czasu, sécowé nastôwë,séc,neta,nastôw wé/wi,ftp
X-KDE-Keywords[da]=timeout,udløb,ioindst,netindst,netværksindstillinger,ftp
X-KDE-Keywords[de]=Zeitlimit,Netzwerkeinstellungen,Ein-/Ausgabemodul-Einstellungen
X-KDE-Keywords[el]=χρονικό όριο,iopref,netpref,προτιμήσεις δικτύου,ftp
X-KDE-Keywords[eo]=tempolimo,enel-preferaĵoj,reto,retpreferaĵoj,ftp
X-KDE-Keywords[es]=tiempo límite,iopref,netpref,preferencias de red,ftp
X-KDE-Keywords[et]=taimaut,aegumine,võrgu seadistused,ftp
X-KDE-Keywords[eu]=denbora-muga,iopref,netpref,sareko hobespenak, ftp
X-KDE-Keywords[fa]=اتمام وقت، iopref، تنظیمات شبکه، قاپ
X-KDE-Keywords[fr]=délai,configuration du réseau,réseau,entrées/sorties,ftp
X-KDE-Keywords[fy]=timeout,iopref,netpref,netwurkfoarkar,tiidslimyt,ftp
X-KDE-Keywords[ga]=timeout,iopref,netpref,sainroghanna líonra,ftp
X-KDE-Keywords[gl]=timeout,iopref,netpref,preferéncias de rede, ftp
X-KDE-Keywords[he]=זמן מוקצב,iopref,netpref,העדפות רשת, timeout,iopref,netpref,network preferences,ftp
X-KDE-Keywords[hr]=timeout,prekoračenje vremena,iopref,netpref,network preferences,postavke mreže,ftp
X-KDE-Keywords[hu]=várakozási idő,iopref,netpref,hálózati beállítások,ftp
X-KDE-Keywords[is]=hámarkstími,iopref,netpref,netstillingar,ftp
X-KDE-Keywords[it]=tempo massimo,timeout,iopref,netpref,rete,preferenze di rete,ftp
X-KDE-Keywords[ja]=タイムアウト, iopref, netpref, ネットワーク設定, ftp
X-KDE-Keywords[km]=អស់​ពេល iopref netpref ចំណូល​ចិត្ត​បណ្ដាញ ftp
X-KDE-Keywords[ko]=timeout,iopref,netpref,network preferences,시간초과,네트워크 설정,ftp
X-KDE-Keywords[lt]=timeout,iopref,netpref,network preferences,ftp,laiko limitas, tinklo pasirinkimai
X-KDE-Keywords[mk]=timeout,iopref,netpref,network preferences,ftp,тајмаут,мрежни параметри
X-KDE-Keywords[nb]=avbruddsverdi,I/U-innstillinger,nettverk,nettverksinnstillinger,ftp
X-KDE-Keywords[nds]=timeout,iopref,netpref,Nettwarkinstellen,ftp,Tietgrenz,aflopen
X-KDE-Keywords[ne]=समय समाप्त, iopref, netpref, सञ्जाल प्राथमिकता, ftp
X-KDE-Keywords[nl]=timeout,iopref,netpref,netwerkvoorkeuren,tijdslimiet,ftp
X-KDE-Keywords[nn]=tidsgrense,IU-oppsett,nettverksinnstillingar,nettverk,nettverksoppsett,ftp
X-KDE-Keywords[pl]=limit czasu, ustawienia sieciowe,sieć,ustawienia we/wy,ftp
X-KDE-Keywords[pt]=tempo-limite,iopref,netpref,configuração da rede,ftp
X-KDE-Keywords[pt_BR]=timeout,iopref,netpref,preferências de rede,ftp
X-KDE-Keywords[ro]=temporizare,iopref,netpref,preferinţe de reţea,ftp
X-KDE-Keywords[sl]=iztek,zakasnitev,iopref,netpref,nastavitve omrežja,ftp
X-KDE-Keywords[sr]=timeout,iopref,netpref,network preferences,ftp,прековреме
X-KDE-Keywords[sr@latin]=timeout,iopref,netpref,network preferences,ftp,prekovreme
X-KDE-Keywords[sv]=tidsgräns,io-inställning,nät-inställning,nätverksinställningar,FTP
X-KDE-Keywords[ta]=நேரம் முடிந்தது,iopref,netpref,வலைதளம் சலுகைகள்,ftp
X-KDE-Keywords[th]=หมดเวลา,iopref,netpref,ปรับแต่งระบบเครือข่าย,ftp
X-KDE-Keywords[tr]=zaman aşımı,ağ tercihleri,iopref,netpref,ftp
X-KDE-Keywords[uk]=тайм-аут,iopref,netpref,параметри мережі,ftp
X-KDE-Keywords[uz]=таймаут,iopref,netpref,тармоқ параметрлари,ftp
X-KDE-Keywords[vi]=thời hạn,iopref,netpref,tuỳ chọn mạng, ftp
X-KDE-Keywords[x-test]=xxtimeout,iopref,netpref,network preferences,ftpxx
X-KDE-Keywords[zh_CN]=timeout,iopref,netpref,network preferences,ftp,超时,网络首选项
X-KDE-Keywords[zh_TW]=timeout,iopref,netpref,network preferences,ftp,作業逾時,網路喜好設定
