[Desktop Entry]
Exec=kcmshell4 netpref
Icon=preferences-system-network-connection
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/netpref/index.html

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=netpref
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=network-settings
X-KDE-Weight=60

Name=Connection Preferences

Comment=Configure generic network preferences, like timeout values

X-KDE-Keywords=timeout,iopref,netpref,network preferences,ftp
