[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell netpref
Icon=network
Type=Service
ServiceTypes=KCModule
DocPath=kcontrol/netpref/index.html

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=netpref
X-KDE-ParentApp=kcontrol

Name=Connection Preferences
Name[af]=Koppeling Voorkeure
Name[ar]=تفضيلات الإتصال
Name[be]=Настаўленні злучэння
Name[bg]=Настройване на връзката
Name[br]=Kefluniadur ar gevreadenn
Name[ca]=Preferències de connexió
Name[cs]=Nastavení připojení
Name[csb]=Kònfigùracëjô sparłãczeniów
Name[da]=Indstillinger af forbindelse
Name[de]=Verbindungseinstellungen
Name[el]=Προτιμήσεις σύνδεσης
Name[eo]=Konektaj Agordoj
Name[es]=Preferencias de conexión
Name[et]=Ühenduse seadistused
Name[eu]=Konexio hobespenak
Name[fa]=تنظیمات اتصال
Name[fi]=Asetukset
Name[fr]=Préférences de connexion
Name[fy]=Ferbiningfoarkar
Name[ga]=Sainroghanna Naisc
Name[gl]=Preferéncias da Conexón
Name[he]=העדפות חיבור
Name[hr]=Postavke povezivanja
Name[hu]=Hálózati paraméterek
Name[is]=Stillingar tenginga
Name[it]=Preferenze sulle connessioni
Name[ja]=接続設定
Name[ka]=კავშირის თვისებები
Name[kk]=Қосылым параметрлері
Name[km]=ចំណូល​ចិត្ត​ការ​តភ្ជាប់
Name[ko]=연결 설정
Name[lt]=Prisijungimo pasirinkimai
Name[lv]=Savienojumu parametri
Name[mk]=Параметри на поврзувањето
Name[ms]=Keutamaan Sambungan
Name[nb]=Forbindelsesinnstillinger
Name[nds]=Instellen för de Verbinnen
Name[ne]=जडान प्राथमिकता
Name[nl]=Verbindingsvoorkeuren
Name[nn]=Innstillingar for samband
Name[pa]=ਕੁਨੈਕਸ਼ਨ ਪਸੰਦ
Name[pl]=Konfiguracja połączeń
Name[pt]=Preferências da Ligação
Name[pt_BR]=Preferências de Conexão
Name[ro]=Preferinţe conexiune
Name[ru]=Свойства соединения
Name[se]=Oktavuohta oidimat
Name[sl]=Lastnosti povezave
Name[sr]=Подешавања повезивања
Name[sr@latin]=Podešavanja povezivanja
Name[sv]=Anslutningsinställningar
Name[ta]=இணைப்பு முன்னுரிமைகள்
Name[tg]=Хусусиятҳои алоқа
Name[th]=ตั้งค่าสำหรับการเชื่อมต่อ
Name[tr]=Bağlantı Tercihleri
Name[uk]=Параметри з'єднання
Name[uz]=Алоқа параметрлари
Name[vi]=Tùy thích kết nối
Name[x-test]=xxConnection Preferencesxx
Name[zh_TW]=連線偏好設定

Comment=Configure generic network preferences, like timeout values
Comment[af]=Konfigureer generies netwerk voorkeure, hou van tydverstreke waardes
Comment[ar]=إعداد تفضيلات الشبكة العامة، مثل قيم مهلة الانتظار
Comment[be]=Настаўленні агульных уласцівасцяў сеткі, напр., тэрмінаў чакання
Comment[bg]=Настройване на общите мрежови параметри
Comment[ca]=Configuració de les preferències genèriques de la xarxa, com ara els valors per als temps d'expiració
Comment[cs]=Nastavení obecných parametrů sítě, např. časových limitů
Comment[csb]=Kònfigùracëjô sécowëch nastôwów jakno np. limitu czasu
Comment[cy]=Ffurfweddu dewisiadau rhwydwaith generig, fel gwerthoedd goramser
Comment[da]=Indstil generelle netværksvalg såsom timeout-værdier
Comment[de]=Einfache Netzwerkeinstellungen vornehmen wie z. B. Zeitüberschreitungen
Comment[el]=Ρύθμιση γενικών προτιμήσεων δικτύου, όπως τιμές χρονικών ορίων
Comment[eo]=Ĝeneralaj retopcioj, kiel  tempolimoj ktp.
Comment[es]=Configuración de las preferencias genéricas de red, como los tiempos límite
Comment[et]=Üldised võrguseadistused
Comment[eu]=Konfiguratu sarerako hobespen orokorrak (denbora-muga balioak, besteak beste)
Comment[fa]=پیکربندی تنظیمات شبکۀ محلی، مانند مقادیر اتمام‌ وقت
Comment[fi]=Muokkaa yleisiä verkkoasetuksia kuten aikakatkaisuarvoja
Comment[fr]=Configuration générique du réseau, comme par exemple les valeurs des délais d'attente
Comment[fy]=ynstelle fan algemiene netwurkfoarkar, sa as tiidslimytwearden
Comment[gl]=Configurar as preferéncias xenéricas de rede, como os valores de agarda
Comment[he]=שינוי הגדרות רשת כלליות כגון ערכי זמנים מוקצבים
Comment[hr]=Konfiguriranje generičkih mrežnih vrijednosti, poput vremena prekoračenja
Comment[hu]=A hálózati paraméterek, például a várakozási idők beállítása
Comment[is]=Tilgreina almennar netstillingar einsog hámarkstíma o.þ.h.
Comment[it]=Configura le preferenze di rete generiche, come ad esempio i tempi massimi
Comment[ja]=タイムアウト値などの一般的なネットワーク設定
Comment[ka]=ქსელის ზოგადი პარამეტრები, ისეთი როგორიცაა ტაიმაუტი
Comment[kk]=Күту уақыты секілді желінің негізгі параметрлерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​​ចំណូល​ចិត្ត​បណ្ដាញ​ទូទៅ ដូចជា​តម្លៃ​អស់​ពេល​ជា​ដើម
Comment[ko]=제한 시간 값 같이 일반 네트워크에서 기본이 되는 값을 설정합니다 
Comment[lt]=Konfigūruoti bendrus tinklo pasirinkimus, tokius, kaip laiko limitai
Comment[lv]=Konfigurē vispārējus tīkla uzstādījumus, kā noildzes vērtības
Comment[mk]=Конфигурирајте ги општите мрежни параметри, како тајмаут вредности
Comment[ms]=Konfigur keutamaan rangkaian generik, seperti nilai waktu rehat
Comment[nb]=Angi generelle nettverksinstillinger, f.eks. verdier for tidsavbrudd
Comment[nds]=Standard-Nettwarkinstellen, as t.B. Tietgrenzen
Comment[ne]=समय समाप्ति मान जस्तै जेनेरिक सञ्जाल प्राथमिकता कन्फिगर गर्नुहोस्
Comment[nl]=Instellen van algemene netwerkvoorkeuren, zoals tijdslimietwaarden
Comment[nn]=Oppsett av generelle nettverksinnstillingar, som til dømes tidsgrenser
Comment[pa]=ਨੈੱਟਵਰਕ ਪਸੰਦ ਸੰਰਚਨਾ, ਜਿਵੇਂ ਸਮਾਂ-ਸੀਮਾ ਮੁੱਲ
Comment[pl]=Konfiguracja niskopoziomowych ustawień sieciowych np. limitu czasu
Comment[pt]=Configuração das opções gerais da rede, p.ex. tempos-limite
Comment[pt_BR]=Configurar preferências genéricas de rede, como os valores de timeout
Comment[ro]=Configurează opţiuni de reţea precum valorile temporizărilor
Comment[ru]=Общие свойства сети, такие как значения времени ожидания
Comment[se]=Oppalaš fierbmeoidimat, nugo áigemearit
Comment[sl]=Nastavljanje splošnih nastavitev omrežja kot na primer vrednosti zakasnitev
Comment[sr]=Подешавања генеричких параметара мреже, као што је прекорачење времена...
Comment[sr@latin]=Podešavanja generičkih parametara mreže, kao što je prekoračenje vremena...
Comment[sv]=Anpassa allmänna nätverksinställningar, som tidsgränser
Comment[ta]=பிறப்பு வலைதள சலுகைகள்,  நேரமுடிவு மதிப்பு ஆகியவற்றை வடிவமை
Comment[tg]= Хусусиятҳои шабакаи монанди мӯҳлати вақт, дар инҷо танзим кунед
Comment[th]=ปรับแต่งค่าระบบเครือข่ายทั่วไป เช่น ค่าหมดเวลา เป็นต้น
Comment[tr]=Genel ağ tercihlerini yapılandır, zaman aşımı değerleri gibi
Comment[uk]=Налаштування загальних параметрів мережі, таких як значення тайм-аутів
Comment[uz]=Таймаут қийматига ўхшаган тармоқ параметрларни мослаш
Comment[vi]=Cấu hình tùy thích mạng giống loài, như giá trị thời hạn
Comment[x-test]=xxConfigure generic network preferences, like timeout valuesxx
Comment[xh]=Qwalasela iinketho zomsebenzi womnatha ka wonke-wonke, njengamaxabiso ophelelo lwexesha
Comment[zh_TW]=設定一般網路喜好設定，例如逾時值

Keywords=timeout,iopref,netpref,network preferences,ftp
Keywords[be]=Тэрмін чакання,Уласцівасці сеткі,timeout,iopref,netpref,network preferences,ftp
Keywords[bg]=Keywords=просрочка, време, времето, пауза, прекъсване, връзка, timeout, iopref, netpref, network preferences, ftp
Keywords[ca]=temps d'expiració,iopref,netpref,preferències de la xarxa,ftp
Keywords[cs]=časový limit,iopref,netpref,nastavení sítě,ftp
Keywords[csb]=limit czasu, sécowé nastôwë,séc,neta,nastôw wé/wi,ftp
Keywords[da]=timeout,udløb,ioindst,netindst,netværksindstillinger,ftp
Keywords[de]=Zeitlimit,Netzwerkeinstellungen,Ein-/Ausgabemodul-Einstellungen
Keywords[el]=χρονικό όριο,iopref,netpref,προτιμήσεις δικτύου,ftp
Keywords[eo]=tempolimo,enel-preferaĵoj,reto,retpreferaĵoj,ftp
Keywords[es]=tiempo límite,iopref,netpref,preferencias de red,ftp
Keywords[et]=taimaut,aegumine,võrgu seadistused,ftp
Keywords[eu]=denbora-muga,iopref,netpref,sareko hobespenak, ftp
Keywords[fa]=اتمام وقت، iopref، تنظیمات شبکه، قاپ
Keywords[fr]=délai,configuration du réseau,réseau,entrées/sorties,ftp
Keywords[fy]=timeout,iopref,netpref,netwurkfoarkar,tiidslimyt,ftp
Keywords[ga]=timeout,iopref,netpref,sainroghanna líonra,ftp
Keywords[gl]=timeout,iopref,netpref,preferéncias de rede, ftp
Keywords[he]=זמן מוקצב,iopref,netpref,העדפות רשת, timeout,iopref,netpref,network preferences,ftp
Keywords[hr]=timeout,prekoračenje vremena,iopref,netpref,network preferences,postavke mreže,ftp
Keywords[hu]=várakozási idő,iopref,netpref,hálózati beállítások,ftp
Keywords[is]=hámarkstími,iopref,netpref,netstillingar,ftp
Keywords[it]=tempo massimo,timeout,iopref,netpref,rete,preferenze di rete,ftp
Keywords[ja]=タイムアウト, iopref, netpref, ネットワーク設定, ftp
Keywords[km]=អស់​ពេល,iopref,netpref,ចំណូល​ចិត្ត​បណ្ដាញ,ftp
Keywords[ko]=timeout,iopref,netpref,network preferences,시간초과,네트워크 설정,ftp
Keywords[lt]=timeout,iopref,netpref,network preferences,ftp,laiko limitas, tinklo pasirinkimai
Keywords[mk]=timeout,iopref,netpref,network preferences,ftp,тајмаут,мрежни параметри
Keywords[nb]=avbruddsverdi,I/U-innstillinger,nettverk,nettverksinnstillinger,ftp
Keywords[nds]=timeout,iopref,netpref,Nettwarkinstellen,ftp,Tietgrenz,aflopen
Keywords[ne]=समय समाप्त, iopref, netpref, सञ्जाल प्राथमिकता, ftp
Keywords[nl]=timeout,iopref,netpref,netwerkvoorkeuren,tijdslimiet,ftp
Keywords[nn]=tidsgrense,IU-oppsett,nettverksinnstillingar,nettverk,nettverksoppsett,ftp
Keywords[pl]=limit czasu, ustawienia sieciowe,sieć,ustawienia we/wy,ftp
Keywords[pt]=tempo-limite,iopref,netpref,configuração da rede,ftp
Keywords[pt_BR]=timeout,iopref,netpref,preferências de rede,ftp
Keywords[ro]=temporizare,iopref,netpref,preferinţe de reţea,ftp
Keywords[sl]=iztek,zakasnitev,iopref,netpref,nastavitve omrežja,ftp
Keywords[sv]=tidsgräns,io-inställning,nät-inställning,nätverksinställningar,FTP
Keywords[ta]=நேரம் முடிந்தது,iopref,netpref,வலைதளம் சலுகைகள்,ftp
Keywords[th]=หมดเวลา,iopref,netpref,ปรับแต่งระบบเครือข่าย,ftp
Keywords[tr]=zaman aşımı,ağ tercihleri,iopref,netpref,ftp
Keywords[uk]=тайм-аут,iopref,netpref,параметри мережі,ftp
Keywords[uz]=таймаут,iopref,netpref,тармоқ параметрлари,ftp
Keywords[vi]=thời hạn,iopref,netpref,tuỳ chọn mạng, ftp
Keywords[x-test]=xxtimeout,iopref,netpref,network preferences,ftpxx
Keywords[zh_TW]=timeout,iopref,netpref,network preferences,ftp,作業逾時,網路喜好設定
