[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/proxy/index.html
Icon=preferences-system-network-proxy
Exec=kcmshell4 proxy

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=proxy
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=network-settings
X-KDE-Weight=50

Name=Proxy

Comment=Configure the proxy servers used

X-KDE-Keywords=Proxy,Proxy server,Firewall,Squid

