[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule
DocPath=kcontrol/proxy/index.html
Icon=proxy
Exec=kcmshell proxy

X-KDE-Library=kcm_kio
X-KDE-FactoryName=proxy
X-KDE-ParentApp=kcontrol

Name=Proxy
Name[af]=Volmag
Name[ar]=الوكيل
Name[br]=Proksi
Name[ca]=Intermediari
Name[csb]=Pòstrzédnik (Proxy)
Name[cy]=Dirprwy
Name[el]=Διαμεσολαβητής
Name[eo]=Prokuriloj
Name[eu]=Proxya
Name[fa]=پیشکار
Name[fi]=Välityspalvelin
Name[fr]=Serveur mandataire (proxy)
Name[ga]=Seachfhreastalaí
Name[he]=מתווכים
Name[is]=Milliþjónn
Name[ja]=プロキシ
Name[ka]=პროქსი
Name[kk]=Прокси
Name[km]=ប្រូកស៊ី
Name[ko]=프록시
Name[mk]=Прокси
Name[ms]=Proksi
Name[nb]=Mellomtjener
Name[ne]=प्रोक्सी
Name[nn]=Mellomtenar
Name[pa]=ਪਰਾਕਸੀ
Name[pl]=Pośrednik (Proxy)
Name[ru]=Прокси
Name[se]=Gaskabálvá
Name[sl]=Posrednik
Name[sr]=Прокси
Name[sr@latin]=Proksi
Name[sv]=Proxyservrar
Name[ta]=பதிவாணை
Name[te]=ప్రాక్సి
Name[tg]=Прокси
Name[tr]=Vekil Sunucu
Name[uk]=Проксі
Name[uz]=Прокси
Name[x-test]=xxProxyxx
Name[xh]=Umntu onegunya lokusebenzela omnye
Name[zh_TW]=代理

Comment=Configure the proxy servers used
Comment[af]=Konfigureer die volmag bedieners gebruik word
Comment[ar]=إعداد خوادم التوكيل المستعملة
Comment[br]=Kefluniañ  ar servijeroù proksi implijet
Comment[ca]=Configura els servidors intermediaris emprats
Comment[cs]=Nastavení proxy serverů
Comment[csb]=Kònfigùracëjô pòstrzédniczącëch serwerów (proxy)
Comment[cy]=Ffurfweddu gweinyddion dirprwyol i'w defnyddio
Comment[da]=Indstil de proxyservere der bruges
Comment[de]=Proxy-Server einrichten
Comment[el]=Ρυθμίστε τους διαμεσολαβητές που χρησιμοποιούνται
Comment[eo]=Agordo de prokurilo
Comment[es]=Configuración de los servidores Proxy usados
Comment[et]=Kasutatavate proxy serverite seadistamine
Comment[eu]=Konfiguratu erabilitako proxy zerbitzariak
Comment[fa]=پیکربندی پیشکارهای استفاده‌شده
Comment[fi]=Käytettävät välityspalvelimet
Comment[fr]=Configuration des serveurs mandataires (proxy) utilisés
Comment[fy]=Hjir kinne jo de Proxy-tsjinner ynstelle
Comment[gl]=Configurar os servidores proxy empregados
Comment[he]=שינוי הגדרות השרתים המתווכים שנעשה בהם שימוש
Comment[hr]=Konfiguriranje proxy poslužitelja
Comment[hu]=A proxy kiszolgálók beállításai
Comment[is]=Stilla milliþjóna sem á að nota
Comment[it]=Configura il server proxy da usare
Comment[ja]=プロキシサーバの設定
Comment[ka]=გამოყენებული პროქსების კონფიგურაცია
Comment[kk]=Қолданатын прокси серверлерді баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ម៉ាស៊ីន​បម្រើ​ដែល​បាន​ប្រើ
Comment[ko]=쓰고있는 프록시 서버를 설정합니다
Comment[lt]=Konfigūruoti naudojamus proxy serverius
Comment[mk]=Конфигурирајте ги прокси-серверите кои се користат
Comment[ms]=Konfigur pelayan proksi yang digunakan
Comment[nb]=Oppsett av mellomtjenere
Comment[nds]=De bruukten Proxies instellen
Comment[ne]=प्रयोग गरिएको प्रोक्सी सर्भर कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de Proxy-servers instellen
Comment[nn]=Oppsett av mellomtenarar
Comment[pa]=ਵਰਤੇ ਜਾਂਦੇ ਪਰਾਕਸੀ ਸਰਵਰਾਂ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja serwerów pośredniczących (proxy)
Comment[pt]=Configurar os servidores 'proxy' usados
Comment[pt_BR]=Configura os servidores proxy usados
Comment[ro]=Configurează serverele proxy utilizate
Comment[ru]=Настройка серверов прокси
Comment[se]=Heivet gaskabálváid mat geavahuvvojit
Comment[sl]=Nastavitev uporabe posredniških strežnikov
Comment[sr]=Подешавање коришћених прокси сервера
Comment[sr@latin]=Podešavanje korišćenih proksi servera
Comment[sv]=Anpassa proxyservrar som används
Comment[ta]=பயன்படுத்தப்பட்ட பதிவாணை சேவகன்களை அமை
Comment[tg]=Танзими коргузорҳои прокси мавриди истифода
Comment[tr]=Vekil sunucularını yapılandırır
Comment[uk]=Налаштування проксі-сервера
Comment[uz]=Прокси серверларини мослаш
Comment[x-test]=xxConfigure the proxy servers usedxx
Comment[xh]=Qwalasela indlela abasebenziswa ngayo abancedisi be proxy
Comment[zh_TW]=設定使用的代理伺服器

Keywords=Proxy,Proxy server,Firewall,Squid,proxy
Keywords[ar]=الوكيل,خادم التوكيل,جدار عزل النار,Squid,الوكيل
Keywords[br]=Proksi,Server proksi,Moger-tan,Squid,proksi
Keywords[ca]=Intermediari,Servidor intermediari,Tallafocs,Squid,intermediari
Keywords[csb]=proxy,pòstrzédnik,pòstrzédniczącô serwera,ògniowô scana,Squid
Keywords[cy]=Dirprwy,Gweinydd dirprwyol,Mur gwarchod,Squid,dirprwy
Keywords[da]=Proxy,Proxyserver,Brandmur,Squid,proxy
Keywords[el]=Διαμεσολαβητής,Διαμεσολαβητής,Firewall,Squid,διαμεσολαβητής
Keywords[eo]=Prokurilo,Prokuro-servo,Fajroŝirmilo,Squid
Keywords[es]=Proxy,servidor Proxy,Cortafuegos,Squid,proxy
Keywords[et]=proxy,proxy server,tulemüür,squid
Keywords[eu]=Proxya,Proxy zerbitzaria,Firewalla,Squid,proxya
Keywords[fa]=پیشکار، پیشکاری، دیوارۀ آتش، Squid،پیشکار
Keywords[fi]=Välityspalvelin,Palomuuri,Squid
Keywords[fr]=proxy,serveur mandataire,pare-feu,squid
Keywords[fy]=proxy,proxy tsjinner,brânmourre,squid
Keywords[ga]=Seachfhreastalaí,Balla Dóiteáin,Squid
Keywords[gl]=Proxy,Servidor Proxy,Cortafogos,Squid,proxy
Keywords[he]=מתווך,שרת מתווך,Firewall,Squid, Proxy,Proxy server,Squid,proxy
Keywords[hr]=Proxy,Proxy server,Proxy poslužitelj, Firewall,Squid,proxy,Vatrozid
Keywords[hu]=proxy,proxy kiszolgáló,tűzfal,Squid,proxy
Keywords[is]=Eldveggur,Proxy,Proxy server,Firewall,Squid,proxy
Keywords[it]=proxy,server proxy,firewall,Squid
Keywords[ja]=プロキシ,プロキシサーバ,ファイアウォール,Squid,プロキシ
Keywords[ka]=პროქსი,პროქსი სერვერი,ფაირვოლი,Squid,პროქსი
Keywords[km]=ប្រូកស៊ី,ម៉ាស៊ីន​បម្រើ​ប្រូកស៊ី,ជញ្ជាំង​ភ្លើង,Squid,ប្រូកស៊ី
Keywords[ko]=Proxy,Proxy server,Firewall,Squid,proxy,프록시,프락시,프록시 서버,프락시 서버,방화벽,불벽,파이어월,스쿠이드
Keywords[lt]=Proxy,Proxy server,Firewall,Squid,proxy, proxy serveris,ugniasienė
Keywords[mk]=Proxy,Proxy server,Firewall,Squid,proxy, Прокси,Прокси сервер,Огнен Ѕид,прокси
Keywords[nb]=proxy,mellomtjener,brannmur,squid
Keywords[nds]=Proxy,Proxyserver,Nettdiek,Squid,proxy
Keywords[ne]=प्रोक्सी, प्रोक्सी सर्भर, फायरवाल, स्क्विड, प्रोक्सी
Keywords[nl]=proxy,proxy server,firewall,squid
Keywords[nn]=proxy,mellomtenar,brannmur,squid
Keywords[pa]=Proxy,Proxy server,Firewall,Squid,ਪਰਾਕਸੀ, ਪਰਾਕਸੀ ਸਰਵਰ
Keywords[pl]=proxy,pośrednik,serwer pośredniczący,zapora ogniowa,Squid
Keywords[pt]=Proxy,Servidor proxy,Firewall,Squid,proxy
Keywords[pt_BR]=Proxy,Servidor Proxy,Firewall,Squid,proxy
Keywords[ro]=proxy,server proxy,firewall,squid,zid de foc
Keywords[se]=proxy,gaskabálvá,gaskabálvá,buollinmuvra,squid
Keywords[sl]=posrednik,posredniški strežnik,požarni zid,squid,proxy
Keywords[sr]=Прокси, Прокси сервер, Firewall, Squid, прокси
Keywords[sr@latin]=Proksi, Proksi server, Firewall, Squid, proksi
Keywords[sv]=Proxy,Proxy-server,Brandvägg,Squid,proxy
Keywords[ta]=பதிவாணை,பதிவாணை சேவகன்,ஃபயர்வால்,ஸ்க்யுட்,ப்ராக்சி
Keywords[tr]=Vekil,Vekil sunucu,Güvenlik duvarı,Squid,proxy
Keywords[uk]=проксі,проксі-сервер,фаєрвол,Squid,proxy
Keywords[uz]=Squid,Прокси,Прокси сервер,Файервол,прокси
Keywords[x-test]=xxProxy,Proxy server,Firewall,Squid,proxyxx
Keywords[xh]=Umntu onegunya lokudsebenzela omnye, umncedisi womntu onegunya,udonga lomlilo,Squid,umntu onegunya lokusebenzela omnye
Keywords[zh_TW]=Proxy,Proxy server,Firewall,Squid,proxy,代理,代理伺服器,防火牆
