[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/smb/index.html
Icon=preferences-system-network-share-windows
Exec=kcmshell4 smb

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=smb
X-KDE-System-Settings-Parent-Category=sharing
X-KDE-ParentApp=kcontrol

Name=Windows Shares

Comment=Use to configure which windows (SMB) filesystems you can browse

X-KDE-Keywords=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords
