[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/smb/index.html
Icon=preferences-system-network-share-windows
Exec=kcmshell4 smb

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=smb

Name=Windows Shares
Name[af]=Vensters Gedeelde bronne
Name[ar]=مشاركات ويندوز
Name[be]=Агульныя тэчкі Windows
Name[bg]=Споделяне с Windows
Name[br]=Rannadur prenestrer
Name[ca]=Comparticions Windows
Name[cs]=Sdílené disky systému Microsoft Windows
Name[csb]=Zbiérné dostónczi Windows
Name[cy]=Rhaniadau Windows
Name[da]=Windows-shares
Name[de]=Windows-Freigaben
Name[el]=Κοινόχρηστοι πόροι των Windows
Name[eo]=Vindozaj retdosierujoj
Name[es]=Comparticiones Windows
Name[et]=Windowsi ressursid
Name[eu]=Windows konpartizioak
Name[fa]=اشتراکهای ویندوزی
Name[fi]=Windows-jaot
Name[fr]=Partages Windows
Name[fy]=Windows-netwurken
Name[ga]=Comhranna Windows
Name[gl]=Comparticións con Windows
Name[he]=שיתופי Windows
Name[hr]=Windows dijeljenja
Name[hu]=Samba kliens
Name[is]=SMB netdrif
Name[it]=Condivisioni Windows
Name[ja]=ウィンドウズ共有
Name[ka]=Windows საზიარო
Name[kk]=Windows ортақ ресурстары
Name[km]=ការ​ចែក​រំលែក​របស់​វីនដូ
Name[ko]=윈도 공유
Name[lt]=Windows bendro naudojimo diskai
Name[lv]=Windows Šāres
Name[mk]=Windows заеднички
Name[ms]=Kongsi Tetingkap
Name[nb]=Delte Windows-ressurser
Name[nds]=Windows-Freegaven
Name[ne]=विण्डोज साझेदारी
Name[nl]=Windows-netwerken
Name[nn]=Delte Windows-ressursar
Name[pa]=ਵਿੰਡੋ (windows) ਸਾਂਝ
Name[pl]=Udostępniane zasoby Windows
Name[pt]=Partilhas do Windows
Name[pt_BR]=Compartilhamentos Windows
Name[ro]=Partajări Windows
Name[ru]=Ресурсы Windows
Name[se]=Juohkojuvvon Windows-resurssat
Name[sl]=Souporabe iz Windows
Name[sr]=Виндоузова дељења
Name[sr@latin]=Windowsova deljenja
Name[sv]=Utdelade Windows-kataloger
Name[ta]=சாளரங்களின் பங்குகள்
Name[tg]=Иштирокоти Windows
Name[th]=ใช้ทรัพยากรร่วมกับวินโดวส์
Name[tr]=Windows Paylaşımları
Name[uk]=Спільні ресурси Windows
Name[vi]=Chia sẻ Windows
Name[wa]=Pårtaedjes Windows
Name[x-test]=xxWindows Sharesxx
Name[xh]=Ulwahlulelwano lwe Windows
Name[zh_CN]=Windows 共享资源
Name[zh_TW]=Windows 資源共享

Comment=Use to configure which windows (SMB) filesystems you can browse
Comment[af]=Gebruik na konfigureer wat vensters (Smb) lêerstelsels jy kan blaai
Comment[be]=Настаўленні файлавых сістэмаў SMB
Comment[bg]=Настройване споделянето на файлове с Windows
Comment[br]=Implijit evit kefluniañ pe reizhiad restroù windows (SMB) a c'hellit furchal
Comment[ca]=S'usa per a configurar en quins sistemes de fitxers windows (SMB) es podrà navegar
Comment[cs]=Použijte k nastavení systémů Windows (SMB), které chcete procházet
Comment[csb]=Kònfigùracëjô przëstãpnëch systemòwëch lopków z Windowsa (SMB)
Comment[cy]=Defnyddio i ffurfweddu pa cysodau ffeil Windows (SMB) a fedrwch eu pori
Comment[da]=Bruges til at indstille hvilke Windows-filsystemer (SMB) du kan se
Comment[de]=Hier stellen Sie ein, welche (SMB-)Dateisysteme Sie durchsuchen können
Comment[el]=Ρυθμίστε ποια συστήματα αρχείων windows (SMB) μπορείτε να επισκεφθείτε
Comment[eo]=Retdosierujoj alireblaj per SMB
Comment[es]=Úselo para configurar qué sistemas de ficheros de Windows (SMB) puede examinar
Comment[et]=Windowsi (SMB) jagatud resursside lehitsemise seadistused
Comment[eu]=Erabil ezazu zein windows fitxategi sistema (SMB) araka dezakezunkonfiguratzeko
Comment[fa]=استفاده جهت پیکربندی سیستم پرونده‌های ویندوزی(SMB) که می‌توانید مرور کنید.
Comment[fi]=Käytä asettaaksesi windowsin (SMB) tiedostojärjestelmiä, joita voit selata
Comment[fr]=Configuration des systèmes de fichiers Windows (SMB)
Comment[fy]=Hjir kinne jo fêstelle mei wat fan Windows-triemsystemen (SMB) jo fia it netwurk blêdzje wolle.
Comment[gl]=Use-o para configurar os sistemas de ficheiros windows (SMB) que pode navegar
Comment[he]=שינוי ההגדרות בנוגע למערכות הקבצים של SMB) Windows) בהן ניתן לעיין
Comment[hr]=Konfiguriranje Windows (SMB) datotečnih sustava koje smijete pregledavati
Comment[hu]=Az SMB fájlrendszerek böngészésének beállításai
Comment[is]=Stilla hvaða SMB netdiska (e. windows sameignir) þú getur skoðað
Comment[it]=Configura quali filesystem windows (SMB) si possono sfogliare
Comment[ja]=windows(SMB)ファイルシステムをブラウズするための設定
Comment[ka]=გამოიყენება windows (SMB) ფაილური სისტემების ჩვენების მისათითებლად
Comment[kk]=Windows-компьютерлердің қай файл жүйелері (SMB) қатынауға ашық екенін баптау
Comment[km]=ប្រើ​ដើម្បី​កំណត់​រចនាសម្ព័ន្ធ ថា​តើ​ប្រព័ន្ធ​ឯកសារ​វីនដូ (SMB) ណា​មួយ​ដែល​អ្នក​អាច​រុករក
Comment[ko]=윈도 (SMB) 파일 시스템 탐색 설정
Comment[lt]=Naudokite tai norėdami nustatyti kurias Windows (SMB) failų sistemas Jūs galėsite naršyti
Comment[lv]=Lietojiet, lai norādītu kuras windows (SMB) failu sistēmas Jūs varētu pārlūkot
Comment[mk]=Користете го за да конфигурирате кои windows (SMB) датотечни системи можете да ги прелистувате
Comment[ms]=Guna untuk konfigur sistem fail tetingkap (SMB) mana yang anda boleh layar
Comment[nb]=Her kan du stille inn hvilke Windows-filsystemer (SMB) du kan lese
Comment[nds]=Instellen, welke Windows- (SMB-) Dateisystemen Du bruken kannst
Comment[ne]=तपाईँले ब्राउज गर्न सक्ने विण्डोजको (SMB) फाइल प्रणालीहरूमा कन्फिगर गर्न प्रयोग गर्नुहोस्
Comment[nl]=Hier kunt u bepalen op welke Windows-bestandssytemen (SMB) u via het netwerk wilt kunnen bladeren. 
Comment[nn]=Her kan du setja opp kva for Windows-filsystem (SMB) du kan lesa
Comment[pa]=ਸੰਰਚਨਾ ਵਰਤੋਂ, ਜੋ ਕਿ ਵਿੰਡੋ (SMB) ਫਾਇਲ ਸਿਸਟਮ ਦੀ ਝਲਕ ਵੇਖਾ ਸਕਦਾ ਹੈ
Comment[pl]=Konfiguracja dostępnych systemów plików z Windows (SMB)
Comment[pt]=Configuração das partilhas de Windows (SMB) a que você pode aceder
Comment[pt_BR]=Use para configurar em quais sistemas de arquivos windows (SMB) você pode navegar
Comment[ro]=Configurează partajările Windows (SMB) pe care le puteţi răsfoi
Comment[ru]=Настройка просмотра доступных разделяемых ресурсов Windows-машин
Comment[se]=Dás sáhtát heivehit guđe Windows-fiilavuogádaid (SMB) oaččut lohkat
Comment[sl]=Uporabite za nastavitev datotečnih sistemov Windows (SMB), po katerih lahko brskate
Comment[sr]=Подесите прегледање Виндоузових (СМБ) система фајлова
Comment[sr@latin]=Podesite pregledanje Windowsovih (SMB) sistema fajlova
Comment[sv]=Använd detta för att ställa in vilka Windows-filsystem (SMB) som du kan komma åt
Comment[ta]=நீங்கள் உலாவக்கூடிய சாளர கோப்பு அமைப்புகளை (SMB) வடிவமைக்கவும்
Comment[tg]= Барои танзим кардани системаи windows, ки (SMB)-ро мехоҳед мурур кунед, қобили истифода аст
Comment[th]=ใช้ปรับแต่งว่าระบบแฟ้มของวินโดวส์ (SMB) อันไหนที่คุณสามารถเรียกดูได้บ้าง
Comment[tr]=Gözatabileceğiniz windows (SMB) dosya sistemlerini yapılandırmakta kullanılır
Comment[uk]=Налаштування файлових систем Windows (SMB), для навігації
Comment[vi]=Dùng để cấu hình hệ thống tập tin Windows (SMB) nào cho bạn duyệt
Comment[wa]=Eployîz l' po-z apontyî les sistinmes di fitchîs Windows (SMB) ki vos ploz foyter
Comment[x-test]=xxUse to configure which windows (SMB) filesystems you can browsexx
Comment[xh]=Sebenzisa ukuqwalasela eyiphi (SMB) indlela yousebenza okwaziyo ukukhangela iincwadi
Comment[zh_CN]=配置您可以浏览的 Windows (SMB) 文件系统
Comment[zh_TW]=設定您可以瀏覽的 Windows (SMB) 檔案系統

X-KDE-Keywords=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords
X-KDE-Keywords[be]=Кліент SMB,Сетка Windows,Навакольнае асяроддзе,Сетка,асяроддзе,Сервер,Публікацыя,Агульныя файлы,Уваход,Пароль,Паролі,Уліковы запіс,Сесія,SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords
X-KDE-Keywords[bg]=Keywords=самба, споделяне, файлове, принтери, печат, пароли, SMB, SAMBA, SMB client, Windows network, LAN, Network, neighborhood, Server, Broadcast, WINS, Share, Login, Passwords
X-KDE-Keywords[ca]=SMB,SAMBA,Client SMB,Xarxa Windows,LAN,Xarxa,veïnat,servidor,Broadcast,WINS,Compartició,Accés,Contrasenyes
X-KDE-Keywords[cs]=SMB,Samba,SMB klient,Síť Microsoft Windows,LAN,Síť,Okolní počítače,Server,Broadcast,WINS,Share,Login,Hesla
X-KDE-Keywords[csb]=SMB,SAMBA,klient SMB,séc Windows,LAN,môlowô séc,sécowé òkrãże,serwera,rozgłôszanié,WINS,dostónk,logòwanié,parole
X-KDE-Keywords[cy]=SMB,SAMBA,dibynnydd SMB,Rhwydwaith Windows,LAN,Rhwydwaith,cymdogaeth,Gweinydd,Darllediad,WINS,Rhanniad,Mewngofnodi,Cyfrineiriau
X-KDE-Keywords[da]=SMB,Samba,SMB-klient,Windows-netværk,Lan,Netværk,arbejdsgruppe,server,Udsend,WINS,Del,Login,kodeord
X-KDE-Keywords[de]=SMB,Samba,SMB-Client,Windows-Netzwerk,LAN,Netzwerk,Netzumgebung,Umgebung,Server,Broadcast,WINS,Freigabe,Anmeldung,Passwörter
X-KDE-Keywords[el]=SMB,SAMBA,Πελάτης SMB,Δίκτυο Windows,LAN,Δίκτυο,γειτονιά,Εξυπηρετητής,Εκπομπή,WINDS,Κοινόχρηστος πόρος,Σύνδεση,Κωδικοί πρόσβασης
X-KDE-Keywords[en_GB]=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighbourhood,Server,Broadcast,WINS,Share,Login,Passwords
X-KDE-Keywords[eo]=SMB,Sambo,kliento,Vindozo,reto,LAN,najbaraĵo,servilo,dissendo,WINS,retdosierujo,saluto,pasvorto
X-KDE-Keywords[es]=SMB,SAMBA,Cliente SMB,Red Windows,LAN,Red,entorno,Servidor,Broadcast,WINS,Compartición,Entrada,Acceso,Contraseñas
X-KDE-Keywords[et]=SMB,samba,SMB klient,Windowsi võrk,LAN,võrk,naabrus,server,broadcast,üldlevi,WINS,jagatud ressurss,kasutajanimi,paroolid
X-KDE-Keywords[eu]=SMB,SAMBA,SMB bezeroa,Windows sarea,LAN,Sarea,ingurunea,Zerbitzaria,Broadcast,WINS,Konpartizioa,Saio hasiera,Pasahitza
X-KDE-Keywords[fa]=SMB، SAMBA، کارخواه SMB، شبکۀ ویندوزی، شبکۀ داخلی، شبکه، مجاورت، کارساز، پخش، WINS، مشترک، ورود، اسم‌ رمزها
X-KDE-Keywords[fi]=SMB,SAMBA,SMB-asiakas,Windows verkko,LAN,Verkko,Naapuruus,Palvelin,Jakelu,WINS,Jako,Kirjautuminen,Salasanat
X-KDE-Keywords[fr]=smb,samba,client smb,réseau Windows,lan,réseau local,réseau,voisinage,serveur,broadcast,diffusion,wins,partage,connexion,mot de passe,windows,login
X-KDE-Keywords[fy]=SMB,SAMBA,SMB-client,Windows-netwurk,LAN,netwurk,omwrâld,neighborhood,server,broadcast,WINS,share,Oanmelde,login,wachtwurden,netwurk
X-KDE-Keywords[ga]=SMB,SAMBA,cliant SMB,líonra Windows,LAN,Líonra,comharsanacht,Freastalí,Craoladh,WINS,Comhroinn,Logáil Isteach,Focail Fhaire
X-KDE-Keywords[gl]=SMB,SAMBA,cliente SMB,rede Windows,LAN,Rede,veciñanza,Servidor,Broadcast,WINS,Compartición,Login,Inicio,Contrasinais
X-KDE-Keywords[he]=שיתוף,כניסה למערכת,סיסמאות,WINS,רשת מקומית,רשת,שכנים,שרת,שידור,רשת Windows,תוכנית SMB,SAMBA,SMB, SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords
X-KDE-Keywords[hr]=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords,SMB klijent,Windows mreža,Mreža,susjedstvo,Poslužitelj,Opća objava,Dijeljenje,Prijava,Lozinke
X-KDE-Keywords[hu]=SMB,Samba,SMB-kliens,Windows-hálózat,LAN,hálózat,környezet,kiszolgáló,broadcast,WINS,megosztás,bejelentkezés,jelszavak
X-KDE-Keywords[is]=Windows net,SMB netdrif,netdrif,net,SMB biðill,Net,nágrenni,þjónn,deild,lykilorð,innskráning
X-KDE-Keywords[it]=SMB,SAMBA,Client SMB,Rete Windows,LAN,Rete,Risorse di rete,Accesso,WINS,Login,Share,Condivisioni,Password,Broadcast,vicini,server,risorse di rete
X-KDE-Keywords[ja]=SMB,SAMBA,SMBクライアント,Windowsネットワーク,LAN,ネットワーク,neighborhood,サーバ,ブロードキャスト,WINS,共有,ログイン,パスワード
X-KDE-Keywords[km]=SMB SAMBA ម៉ាស៊ីន​ភ្ញៀវ SMB បណ្ដាញ​វីនដូ LAN បណ្ដាញ ភាព​នៅ​ក្បែ ម៉ាស៊ីន​បម្រើ ផ្សាយ WINS ការ​ចែក​រំលែក ចូល ពាក្យ​សម្ងាត់
X-KDE-Keywords[ko]=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords,삼바,윈도우즈,윈도,삼바 클라이언트,윈도우즈 네트워크,서버,공유
X-KDE-Keywords[lt]=SMB,SAMBA,SMB client,SMB klientas,Windows network,Windows tinklas,LAN,vietinis tinklas,Network,tinklas,neighborhood,kaiminystė,Server,serveris,Broadcast,transliacija,WINS,Share,bendro naudojimo,bendro naudojimo diskas,Login,Passwords
X-KDE-Keywords[lv]=SMB,SAMBA,SMB klients,Windows tīkls,LAN,Tīkls,kaimiņš,Serveris,Pārraide,WINS,Šāre,Pieteikšanās,Paroles
X-KDE-Keywords[mk]=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords,клиент,Windows мрежа,Мрежа, соседство,Сервер,Емитување,WINS,Заеднички,Најава,Лозинки
X-KDE-Keywords[nb]=SMB,SAMBA,SMB-klient,Windows-nettverk,LAN,Nettverk,nabolag,tjener,kringkasting,WINS,deling,innlogging,passord,ressurs
X-KDE-Keywords[nds]=SMB,SAMBA,SMB-Client,Windowsnettwark,LAN,Nettwark,Naverschap,Server,Broadcast,Rundroop,WINS,deelt Ressource,anmellen,Passwöör
X-KDE-Keywords[ne]=SMB, SAMBA, SMB क्लाइन्ट,सञ्झ्याल सञ्जाल, LAN, सञ्जाल, छिमेकी, सर्भर, प्रसारण, WINS, बाडँफाट, लगइन, पासवर्ड
X-KDE-Keywords[nl]=SMB,SAMBA,SMB-client,Windows-netwerk,LAN,netwerk,omgeving,neighborhood,server,broadcast,WINS,share,inloggen,login,aanmelden,wachtwoorden,netwerk
X-KDE-Keywords[nn]=SMB,SAMBA,SMB-klient,Windows-nettverk,LAN,nettverk,nabolag,grannelag,tenar,kringkasting,WINS,deling,innlogging,passord,ressurs
X-KDE-Keywords[pa]=SMB,SAMBA,SMB ਕਲਾਂਇਟ,Windows network,LAN,ਨੈਟਵਰਕ,ਗੁਆਂਢੀ, ਸਰਵਰ,Broadcast,WINS,ਸਾਂਝ, ਲਾਗਿੰਨ, ਪਾਸਵਰਡ
X-KDE-Keywords[pl]=SMB,SAMBA,klient SMB,sieć Windows,LAN,sieć lokalna,otoczenie sieciowe,serwer,rozgłoszenie,WINS,zasób,logowanie,hasła
X-KDE-Keywords[pt]=SMB,SAMBA,cliente SMB,rede Windows,Windows,LAN,rede,vizinhança de rede,servidor,difusão,WINS,partilha,login,senhas
X-KDE-Keywords[pt_BR]=SMB,SAMBA,cliente SMB,rede Windows,LAN,Rede,vizinhança,Servidor,Difusão,WINS,Compartilhamento,Login,Senhas
X-KDE-Keywords[ro]=SMB,SAMBA,client SMB,Windows,LAN,reţea,vecinătate,server,difuziune,WINS,partajare,logare,parole
X-KDE-Keywords[se]=SMB,SAMBA,SMB-klienta,Windows-fierpmádat,LAN,fierpmádat,WINS,sisačáliheapmi,beassansánit
X-KDE-Keywords[sl]=SMB,SAMBA,odjemnik SMB,omrežje Windows,LAN,omrežje,omrežna soseščina,oddajanje,WINS,prijava,gesla
X-KDE-Keywords[sr]=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Сервер,Broadcast,WINS,Share,Login,Passwords,мрежа,комшилук,дељење,пријава,лозинке
X-KDE-Keywords[sr@latin]=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords,mreža,komšiluk,deljenje,prijava,lozinke
X-KDE-Keywords[sv]=SMB,SAMBA,SMB-klient,Windowsnätverk,LAN,Nätverk,omgivning,Server,Broadcast,WINS,Utdelning,Lösenord,Inloggning
X-KDE-Keywords[ta]=SMB,SAMBA,SMB உறுப்பினர்,சாளரங்கள் வலைதளம்,LAN,வலைதளம்,பல வலைதளங்கள்,சேவகன்,ஒலிப்பரப்புதல்,WINS,பங்கு,உள்நுழை,கடவுச்சொற்கள்
X-KDE-Keywords[th]=SMB,SAMBA,ไคลเอนต์ SMB,ระบบเครือข่ายของวินโดว์ส,แลน,ระบบเครือข่าย,ที่ใกล้เคียง,เซิร์ฟเวอร์,ถ่ายทอด,WINS,ทรัพยากรใช้ร่วมกัน,ล็อกอิน,รหัสผ่าน
X-KDE-Keywords[tr]=SMB,SAMBA,SMB istemci,Windows ağı,LAN,Ağ,komşular,Giriş,Parola,Paylaşım,WINS,yayın
X-KDE-Keywords[uk]=клієнт SMB,мережа Windows,ЛОМ,LAN,мережа,оточення,SMB,SAMBA,сервер,мережа Windows,ЛОМ,LAN,мережа,оточення,SMB,SAMBA,сервер,трансляція,WINS,спільний ресурс,реєстрація,паролі
X-KDE-Keywords[uz]=SMB,SAMBA,SMB клиенти,Windows тармоғи,LAN,Тармоқ,тармоқ муҳити,Сервер,Broadcast,WINS,Share,Фойдаланувчи,Махфий сўзлар
X-KDE-Keywords[vi]=SMB,SAMBA,khách SMB,mạng Windows,LAN,mạng cục bộ,mạng,hàng xóm,Máy phục vụ,Quảng bá,WINS,Chia xẻ,Đăng nhập,Mật khẩu
X-KDE-Keywords[wa]=SMB,SAMBA,cliyint SMB,rantoele Windows,rantoele locåle,LAN,vijhnaedje rantoele,vijhnaedje,sierveu,broadcast,WINS,pårtaedje,elodjî,elodjaedje,sicret,sicrets
X-KDE-Keywords[x-test]=xxSMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwordsxx
X-KDE-Keywords[xh]=SMB,SAMBA,umxhasi we SMB,umsebenzi womnatha we Window,LAN, Umsebenzi womnatha,ubumelwane,Umncedisi,Usasazo,WINS,Yahlula,Igama elithile, Amagama agqithisiweyo
X-KDE-Keywords[zh_CN]=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords,局域网,网络,邻居,服务器,广播,共享,登录,密码
X-KDE-Keywords[zh_TW]=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords,客戶端程式,Windows 網路,區域網路,網路,網路芳鄰,伺服器,廣播,共享,登入,密碼
