[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule
Icon=agent
Exec=kcmshell useragent
DocPath=kcontrol/useragent/index.html

X-KDE-Library=kcm_kio
X-KDE-FactoryName=useragent
X-KDE-ParentApp=kcontrol

Name=Browser Identification
Name[af]=Stelsel identifisering
Name[ar]=تعريف المتصفح
Name[bg]=Идентификация
Name[br]=Anvelezh ar furcher
Name[ca]=Identificació del navegador
Name[cs]=Identifikace prohlížeče
Name[csb]=Identifikacëjô przezérnika
Name[cy]=Enw'r Porwr
Name[da]=Browser-identifikation
Name[de]=Browserkennung
Name[el]=Ταυτοποίηση περιηγητή
Name[eo]=TTT-legila identeco
Name[es]=Identificación del navegador
Name[et]=Veebilehitseja identifikaator
Name[eu]=Arakatzailearen identifikazioa
Name[fa]=شناسایی مرورگر
Name[fi]=Selaimen tunnistus
Name[fr]=Identification du navigateur
Name[fy]=Blêder identifikaasje
Name[ga]=Aitheantas Brabhsálaithe
Name[gl]=Identificación do Navegador
Name[he]=זיהוי דפדפן
Name[hr]=Identifikacija preglednika
Name[hu]=Böngészőazonosító
Name[is]=Auðkenni vafra
Name[it]=Identificazione browser
Name[ja]=ブラウザ識別情報
Name[ka]=ბრაუზერის ინდენტიფიკაცია
Name[kk]=Браузердің өз туралы хабарлауы
Name[km]=ការ​កំណត់​អត្តសញ្ញាណ​កម្មវិធី​រុករក
Name[lt]=Naršyklės identifikacija
Name[lv]=Pārlūka identifikācija
Name[mk]=Идентификација
Name[ms]=Pengenalpastian Pelayar
Name[nb]=Nettleseridentifisering
Name[nds]=Nettkieker-Identiteet
Name[ne]=ब्राउजर पहिचान
Name[nl]=Browseridentificatie
Name[nn]=Nettlesaridentifikasjon
Name[pa]=ਝਲਕਾਰਾ ਪਛਾਣ
Name[pl]=Identyfikacja przeglądarki
Name[pt]=Identificação do Navegador
Name[pt_BR]=Identificação do Navegador
Name[ro]=Identificare navigator web
Name[ru]=Идентификация браузера
Name[se]=Fierpmádatloganidentifikašuvdna
Name[sl]=Identifikacija brskalnika
Name[sr]=Идентификација прегледача
Name[sr@Latn]=Identifikacija pregledača
Name[sv]=Webbläsaridentifikation
Name[ta]=உலாவி அடையாளம்
Name[tg]=Шиносоии тафсир
Name[tr]=Web tarayıcı kimliği
Name[uk]=Ідентифікація навігатора
Name[x-test]=xxBrowser Identificationxx
Name[xh]=Uchazo Lomkhangeli zincwadi
Name[zh_TW]=瀏覽器識別

Comment=Configure the way Konqueror reports itself
Comment[af]=Stel die manier waarop Konqueror homself raporteer op
Comment[ar]=إعداد طريقة التعريف لــ Konqueror عن نفسه
Comment[bg]=Идентификация на браузъра
Comment[ca]=Configura com desitgeu que s'identifiqui el Konqueror
Comment[cs]=Zde můžete jak se bude Konqueror hlásit webovým serverům
Comment[csb]=Kònfigùracëjô ôrtu przedstôwianiô sã Konquerora
Comment[cy]=Ffurfweddu'r ffordd y mae Konqueror yn adrodd ei hun 
Comment[da]=Indstil den måde Konquerors rapporterer sigselv
Comment[de]=Kennungen für Konqueror als Web-Browser festlegen
Comment[el]=Ρυθμίστε τον τρόπο με τον οποίο αναφέρεται το Konqueror
Comment[eo]=Agordo de Konkeranto-"user agent"
Comment[es]=Configuración del modo de autoidentificación de Konqueror
Comment[et]=Viisi, kuidas Konqueror endast teada annab, seadistamine
Comment[eu]=Konfiguratu nola azaltzen duen Konquerorrek bere burua 
Comment[fa]=پیکربندی روشی که Konqueror گزارش خود را می‌دهد.
Comment[fi]=Vaihda Konquerorin esittäytymistapaa
Comment[fr]=Configuration de la manière dont Konqueror se signale
Comment[fy]=Hjir kinne jo fêststelle hoe Konqueror har by webtsjinners identifisearret
Comment[gl]=Configurar o xeito en que Konqueror informa sobre si mesmo
Comment[he]=שינוי הדרך שבה Konqueror מזדהה
Comment[hr]=Konfiguriranje načina na koji se Konqueror prijavljuje
Comment[hu]=A Konqueror webböngésző kliensazonosítójának beállítása
Comment[is]=Stilla hvernig Konqueror kynnir sig
Comment[it]=Configura il modo in cui Konqueror si identifica presso i server
Comment[ja]=Konqueror のブラウザ識別情報を設定
Comment[ka]=Konqueror-ის იდენტიფიკაციის კონფიგურირება
Comment[kk]=Konqueror өз туралы хабарлауын баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​របៀប​ដែល Konqueror រាយការណ៍​ខ្លួន​វា
Comment[lt]=Čia galite nustatyti, kaip Konqueror save identifikuoja
Comment[lv]=Norādiet kā Iekarotājs identificēs sevi
Comment[mk]=Конфигурирајте го начинот на кој Konqueror се пријавува себе си
Comment[ms]=Konfigur cara Konqueror melaporkan dirinya
Comment[nb]=Tilpass Konquerors egenrapportering
Comment[nds]=Instellen, wat Konqueror seggt, woneem he is
Comment[ne]=कन्क्वेररले प्रतिवेदन गर्ने तरिकामा कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u bepalen hoe Konqueror zich bij webservers identificeert
Comment[nn]=Vel korleis Konqueror skal presentera seg sjølv
Comment[pa]=ਕੋਨਕਿਉਰੋਰ ਦੇ ਖੁਦ ਨੂੰ ਜਾਣਕਾਰੀ ਦੇਣ ਦੇ ਢੰਗ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja sposobu przedstawiania się Konquerora
Comment[pt]=Configuração da forma como o Konqueror se apresenta
Comment[pt_BR]=Configura o modo como o Konqueror se mostra externamente
Comment[ro]=Configurează modul în care Konqueror se identifică la serverele de web
Comment[ru]=Настройка идентификации Konqueror
Comment[se]=Vállje mo Konqueror galgá iežas ovdanbuktit
Comment[sl]=Nastavitev načina predstavljanja Konquerorja
Comment[sr]=Подешавање како Konqueror представља себе
Comment[sr@Latn]=Podešavanje kako Konqueror predstavlja sebe
Comment[sv]=Anpassa hur Konqueror identifierar sig
Comment[ta]=கான்கொரர் அறிக்கைகளை வழிகளை வடிவமை
Comment[tg]=Танзими идентификатсияи Konqueror
Comment[tr]=Konqueror'ın raporlama sistemini yapılandır
Comment[uk]=Тут можна налаштувати ідентифікацію Konqueror
Comment[x-test]=xxConfigure the way Konqueror reports itselfxx
Comment[xh]=Qwalasela indlela i Konqueror ezichaza ngayo
Comment[zh_TW]=設定 Konqueror 回報自身狀況的方式

Keywords=User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login
Keywords[af]=Gebruiker Agent,Browser,Internet,WWW,Network,agent,bindings,server,login
Keywords[ar]=عميل المستخدم,المتصفح,الشبكة العالمية,الشبكة,عميل,bindings,User Agent,Browser,Internet,WWW,Network,agent,bindings, server,login,خادم,دخول
Keywords[bg]=идентификация, клиент, потребителски, браузър, Интернет, агент, сайт, представяне, User Agent, Browser, Internet, WWW, Network, agent, bindings, server, login
Keywords[ca]=Agent d'usuari,Fullejador,Internet,WWW,Xarxa,agent,lligams,servidor,accés
Keywords[cs]=Uživatelský agent,Prohlížeč,Internet,WWW,Síť,Agent,Vazby,Server,Login,Přihlášení
Keywords[csb]=User Agent,programa brëkòwnika,przezérnik,Internet,WWW,séc,agent,sparłączenia,serwera,login
Keywords[cy]=Asiant y Defnyddiwr,Porwr,Rhyngrwyd,WWW,Rhwydwaith,asiant,rhwymiadau,gweinydd,mewngofnodi
Keywords[da]=Brugeragent,Internet,WWW,Netværk,agent,bindinger,server,login
Keywords[de]=Browserkennung,Internetprogramm,Browser,Internet,WWW,Netzwerk,Server,Zuordnungen,Anmeldung
Keywords[el]=Πράκτορας χρήστη,Περιηγητής,Διαδίκτυο,WWW,Δίκτυο,πράκτορας,bindings,εξυπηρετητής,σύνδεση
Keywords[eo]=uzanto,agento,TTT,Interreto,WWW,reto,asocioj,servilo,saluto
Keywords[es]=Agente de Usuario,Navegador,Internet,WWW,Red,agente,asociaciones,servidor,entrada,acceso
Keywords[et]=kasutajaagent,identifikaator,veebilehitseja,Internet,WWW,võrk,agent,seosed,server,sisselogimine
Keywords[eu]=Erabiltzaile agentea,Arakatzailea,Internet,WWW,sarea,agentea, elkarketak,zerbitzaria,saio-hasiera
Keywords[fa]=عامل کاربر، مرورگر، اینترنت، WWW، شبکه، عامل، مقیدسازیها، کارساز، ورود
Keywords[fi]=Käyttäjäagentti,Selain,Internet,WWW,Verkko,agentti,sidokset,palvelin,kirjautuminen
Keywords[fr]=identité du navigateur,navigateur,WWW,réseau,associations,serveur,connexion,login,internet
Keywords[fy]=user agent,browser,internet,www,netwurk,brûkersagint,agint,biningen,tsjinner,oanmelding
Keywords[ga]=UserAgent,gníomhaire úsáideora,Brabhsálaí,Idirlíon,WWW,Líonra,Gréasán,gníomhaire,ceangail,freastalaí,logáil isteach
Keywords[gl]=Axente de Usuario,User Agent,Navegador,Internet,WWW,Rede,axente,atallos,servidor,login
Keywords[he]=רשת,זיהוי,קישורים,שרת,כניסה למערכת,דפדפן,זיהוי דפדפן,WWW,אינטרנט, User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login
Keywords[hr]=User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login,Korisnički agent,Preglednik,Mreža,povezivanja,poslužitelj,prijava
Keywords[hu]=böngészőtípus,böngésző,internet,WWW,hálózat,azonosító,hozzárendelések,kiszolgáló,bejelentkezés
Keywords[is]=Vafraauðkenning,Auðkennig,Auðkenning Vafra,Vafri,Net,Netið,bindingar,þjónn,innstimplun,innskráning
Keywords[it]=User agent,Navigazione,Browser,Internet,WWW,Rete,agent,collegamenti,server,login,accesso
Keywords[ja]=ユーザエージェント,ブラウザ,インターネット, WWW,ネットワーク,エージェント,バインディング,サーバ,ログイン
Keywords[km]=ភ្នាក់ងារ​អ្នក​ប្រើ,កម្មវិធី​រុករក,អ៊ិនធឺណិត,វើលវ៉ាយវិប,បណ្ដាញ,ភ្នាក់ងារ,ការ​ចង,ម៉ាស៊ីន​បម្រើ,ចូល
Keywords[ko]=User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login,사용자 에이전트,사용자 도우미,브라우저,네트워크,에이전트,도우미,바인딩,서버,로그인,로긴,인터넷
Keywords[lt]=Naudotojo agentas,User-Agent,Naršyklė,Internet,WWW,Tinklas,agentas,sietis,serveris, registracija
Keywords[lv]=Lietotāja Aģents,Pārlūks,Internets,WWW,Tīkls,aģents,sasaistes,serveris,pieteikšanās
Keywords[mk]=User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login,Кориснички агент,Прелистувач,Интернет,Мрежа,агент,поврзувања,сервер,најава
Keywords[nb]=brukaragent,nettleser,internett,WWW,verdensveven,nettverk,agent,tjener,innlogging
Keywords[nds]=User Agent,Browser,Internet,WWW,Nettwark,agent,bindings,Server,Nettkieker,anmellen
Keywords[ne]=प्रयोगकर्ता एजेन्ट, ब्राउजर, इन्टरनेट, WWW, सञ्जाल, एजेन्ट, बाइन्डिङहरू, सर्भर, लगइन
Keywords[nl]=user agent,browser,internet,www,netwerk,gebruikersagent,agent,bindingen,server,login
Keywords[nn]=brukaragent,nettlesar,internett,WWW,verdsveven,nettverk,agent,tenar,innlogging
Keywords[pa]=WWW,Network,agent,bindings,ਏਜੰਟ,ਸਰਵਰ,ਲਾਗਿੰਨ,ਇੰਟਰਨੈਟ,ਝਲਕਾਰਾ,ਉਪਭੋਗੀ ਏਜੰਟ,ਨੈਟਵਰਕ
Keywords[pl]=User Agent,program użytkownika,przeglądarka,Internet,WWW,sieć,agent,powiązania,serwer,login
Keywords[pt]=agente do utilizador,navegador,internet,WWW,rede
Keywords[pt_BR]=Agente de usuário,navegador,Internet,WWW,Rede,agente,ligações,servidor,login
Keywords[ro]=agent utilizator,User Agent,navigator,browser,Internet,WWW,reţea,agent,asocieri,server,logare
Keywords[se]=geavaheaddjiageanta,fierpmádatlogan,fierpmádat,WWW,interneahtta,fierbmi, ageanta,bálvá,sisačáliheapmi
Keywords[sl]=uporabniški agent,brskalnik,internet,WWW,splet,omrežje,strežnik,prijava
Keywords[sr]=User Агент,Browser,Интернет,WWW,Network,агент,bindings,сервер,login, Мрежа,прегледач,агент,кориснички агент
Keywords[sr@Latn]=User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login, Mreža,pregledač,agent,korisnički agent
Keywords[sv]=Användaragent,Webbläsare,Internet,WWW,Nätverk,agent,bindningar, server,inloggning
Keywords[ta]=பயன்படுத்துபவர் முகவர்,உலாவி,வலைபின்னல்,WWW,வலைதளம்,முகவர்,bindings,சேவகன்,உள்நுழை
Keywords[tr]=Kullanıcı Aracısı,Tarayıcı,İnternet,WWW,Ağ,giriş,sunucu,aracı
Keywords[uk]=агент навігатора,навігатор,Інтернет,WWW,мережа,агент,прив'язки,сервер,реєстрація
Keywords[uz]=User Agent,WWW,agent,bindings,Браузер,Интернет,Тармоқ,сервер
Keywords[x-test]=xxUser Agent,Browser,Internet,WWW,Network,agent,bindings,server,loginxx
Keywords[xh]=Ummeli womsebenzisi,Umkhangeli zincwadi,Internet,WWW,Umsebenzi womnatha,ummeli,izibophelelo,umncedisi,igama elithile
Keywords[zh_TW]=User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login,使用者代理程式,瀏覽器,網際網路,網路,代理程式,伺服器,登入
