[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-DocPath=kcontrol/kcmcss/index.html
Icon=preferences-desktop-theme

X-KDE-Library=kcm_konqhtml

Name=Cache
Name[af]=Kas
Name[ar]=ذاكرة مخبئة
Name[as]=কেছে
Name[be]=Кэш
Name[be@latin]=Padručnaja pamiać
Name[bg]=Кеш
Name[bn]=ক্যাশে (Cache)
Name[bn_IN]=ক্যাশে
Name[br]=Krubuilh
Name[bs]=Keš
Name[ca]=Memòria cau
Name[ca@valencia]=Memòria cau
Name[cs]=Mezipaměť
Name[csb]=Cache
Name[cy]=Cache
Name[da]=Cache
Name[de]=Zwischenspeicher
Name[el]=Λανθάνουσα μνήμη
Name[en_GB]=Cache
Name[es]=Caché
Name[et]=Puhver
Name[eu]=Katxea
Name[fa]=نهانگاه
Name[fi]=Välimuisti
Name[fr]=Cache
Name[fy]=Lyts ûnthâld
Name[ga]=Taisce
Name[gu]=કૅશ
Name[hi]=कैश
Name[hne]=कैस
Name[hr]=Pohrana
Name[hsb]=Temporarny pomjatk
Name[hu]=Gyorsítótár
Name[ia]=Cache
Name[is]=Skyndiminni
Name[it]=Cache
Name[ka]=კეში
Name[kk]=Кэш
Name[km]=ឃ្លាំង​សម្ងាត់
Name[kn]=ಸಿದ್ಧಸ್ಮೃತಿ (ಕ್ಯಾಶೆ)
Name[ko]=캐시
Name[ku]=Pêşbîr
Name[lt]=Krepšys
Name[lv]=Kešatmiņa
Name[mai]=कैश
Name[mk]=Кеш
Name[ml]=കാഷ്
Name[mr]=कॅशे
Name[ms]=Cache
Name[nds]=Twischenspieker
Name[ne]=क्यास
Name[nl]=Cache
Name[oc]=Escondedor
Name[or]=କ୍ୟାଶେ
Name[pa]=ਕੈਸ਼
Name[pl]=Pamięć podręczna
Name[pt]='Cache'
Name[pt_BR]=Cache
Name[ro]=Cache
Name[ru]=Кэш
Name[si]=කැච්
Name[sk]=Vyrovnávacia pamäť
Name[sl]=Medpomnilnik
Name[sv]=Cache
Name[ta]=நினைவில்
Name[te]=క్యాచి
Name[tg]=Хотира
Name[th]=แคช
Name[tr]=Önbellek
Name[ug]=غەملەك
Name[uk]=Кеш
Name[uz]=Kesh
Name[uz@cyrillic]=Кэш
Name[wa]=Muchete
Name[xh]=Indawo yokugcina efihlakeleyo
Name[x-test]=xxCachexx
Name[zh_CN]=缓存

Comment=Configure the use of Cache
Comment[bg]=Конфигуриране на използването на кеша
Comment[ca]=Configura l'ús de la memòria cau
Comment[ca@valencia]=Configura l'ús de la memòria cau
Comment[cs]=Nastavte použití mezipaměti
Comment[de]=Einstellungen zum Zwischenspeicher vornehmen
Comment[en_GB]=Configure the use of Cache
Comment[eo]=Agordi la uzon de Kaŝmemoro
Comment[es]=Configurar el uso de la caché
Comment[eu]=Konfiguratu cachearen erabilera
Comment[fi]=Aseta välimuistin käyttö
Comment[fr]=Configurer l'utilisation du cache
Comment[ia]=Configura le uso de cache
Comment[it]=Configura l'utilizzo della cache
Comment[ka]=კეშის გამოყენების მორგება
Comment[ko]=캐시 사용 설정
Comment[nl]=Het gebruik van cache configureren
Comment[pl]=Ustawienia pamięci podręcznej
Comment[pt]=Configurar a utilização da 'cache'
Comment[pt_BR]=Configura o uso do cache
Comment[sl]=Konfiguriraj uporabo medpomnilnika
Comment[tr]=Önbelleğin kullanımını yapılandır
Comment[uk]=Налаштування використання кешу
Comment[x-test]=xxConfigure the use of Cachexx
Comment[zh_CN]=配置缓存的使用方式
X-KDE-Keywords=konqueror,browser,html,web,www
X-KDE-Keywords[bg]=konqueror,browser,html,web,www
X-KDE-Keywords[ca]=konqueror,navegador,html,web,www
X-KDE-Keywords[ca@valencia]=konqueror,navegador,html,web,www
X-KDE-Keywords[cs]=konqueror,prohlížeč,html,web,www
X-KDE-Keywords[de]=Internet,webbrowser
X-KDE-Keywords[en_GB]=konqueror,browser,html,web,www
X-KDE-Keywords[es]=konqueror,navegador,html,web,www
X-KDE-Keywords[eu]=konqueror,arakatzaile,html,web,www
X-KDE-Keywords[fi]=konqueror,selain,html,web,verkko,www,internet
X-KDE-Keywords[fr]=konqueror, navigateur, html, Internet, www
X-KDE-Keywords[ia]=konqueror,browser,html,web,www
X-KDE-Keywords[it]=konqueror,browser,html,web,www
X-KDE-Keywords[ka]=konqueror,browser,html,web,www
X-KDE-Keywords[ko]=konqueror,browser,html,web,www,브라우저,웹
X-KDE-Keywords[nl]=konqueror,browser,html,web,www
X-KDE-Keywords[pl]=konqueror,przeglądarka,html,sieć,www
X-KDE-Keywords[pt]=konqueror,navegador,HTML,Web,WWW
X-KDE-Keywords[pt_BR]=konqueror,navegador,html,web,www,internet
X-KDE-Keywords[sl]=konqueror,brskalnik,html,splet,www
X-KDE-Keywords[tr]=konqueror,tarayıcı,html,web,www
X-KDE-Keywords[uk]=konqueror,browser,html,web,www,перегляд,переглядач,браузер,мережа
X-KDE-Keywords[x-test]=xxkonquerorxx,xxbrowserxx,xxhtmlxx,xxwebxx,xxwwwxx
X-KDE-Keywords[zh_CN]=konqueror,browser,html,web,www,浏览器,网络,网页,互联网,万维网,网站

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
