[Desktop Entry]
Type=Service
Name=KDED Favicon Module
Name[af]=Kded Favicon Module
Name[be]=Модуль любімай значкі KDED
Name[bn]=KDED ফ্যাভ-আইকন মডিউল
Name[br]=Mollad Favicon evit KDED
Name[ca]=Mòdul KDED per a favicones
Name[cs]=Modul KDEDu Favicon
Name[csb]=Ikònczi serwerów
Name[cy]=Modiwl KDED Favicon
Name[da]=KDED Favicon-modul
Name[de]=Webseitensymbol-Verwaltung
Name[el]=KDED άρθρωμα Favicon
Name[eo]=Modulo por interretaj preferataj piktogramoj
Name[es]=Módulo Favicon de KDED
Name[et]=KDED favicon moodul
Name[eu]=KDED Favicon modulua
Name[fa]=پیمانۀ شمایل پسندان KDED
Name[fi]=KDED-sivustokuvakemoduuli
Name[fr]=Icône préférée
Name[ga]=Modúl Favicon KDED
Name[gl]=Módulo de ícones de sitio de KDED
Name[gu]=KDED ફેવિકોન મોડ્યુલ
Name[he]=מודול סמלים מועדפים של KDED
Name[hi]=केडीईडी फेविकॉन मॉड्यूल
Name[hr]=KDED Favicon modul
Name[hu]=KDED favicon-kezelő
Name[is]=KDED Favicon íhlutur
Name[it]=Modulo Favicon di KDED
Name[ja]=KDED Favicon モジュール
Name[ka]=KDED Favicon მოდული
Name[kk]=KDED сайт жарлықтар модулі
Name[km]=ម៉ូឌុល Favicon KDED
Name[kn]=ಕೆಡಿಇಡಿ ಇಷ್ಟಚಿಹ್ನೆ (ಫಾವಿಕಾನ್) ಘಟಕ
Name[ko]=KDED 파비콘 모듈
Name[lt]=KDED favicon modulis
Name[lv]=KDED favicon modulis
Name[mk]=KDED Favicon Модул
Name[ms]=Modul KDED Favicon
Name[nb]=KDED favicon-modul
Name[nds]=KDED-Moduul för Nettsiet-Lüttbiller
Name[ne]=KDED फेभिकन मोड्युल
Name[nn]=KDED favicon-modul
Name[pa]=KDED ਫਾਵੀਕੋਨ ਮੋਡੁਲੀ
Name[pl]=Ikony serwerów
Name[pt]=Módulo Favicon do KDED
Name[pt_BR]=Módulo Favicon do KDED
Name[ro]=Module favicon KDED
Name[ru]=Служба значков
Name[se]=KDED favicon-moduvla
Name[sk]=Modul KDED Favicon
Name[sl]=Modul KDED za favicon
Name[sr]=КДЕД модул фавикона
Name[sr@latin]=KDED modul favikona
Name[sv]=KDED-favoritikonmodul
Name[ta]=KDED பெவிகான் பகுதி
Name[tg]=Бахши пиктограммаи KDED
Name[th]=โมดูลไอคอนเว็บของ KDED
Name[tr]=KDE Favicon Modülü
Name[uk]=Модуль KDED Favicon
Name[uz]=KDED Favicon модули
Name[vi]=Mô-đun biểu tượng ưa thích KDED
Name[wa]=Module imådjetes KDED
Name[x-test]=xxKDED Favicon Modulexx
Name[xh]=KDED Isichatshulwa se Favicon
Name[zh_CN]=KDED 收藏图标模块
Name[zh_TW]=KDED Favicon 測試模組
Comment=Shortcut icon support
Comment[af]=Kortpad ikoon ondersteuning
Comment[ar]=دعم أيقونات الإختصارات
Comment[be]=Падтрымка значак скаротаў
Comment[bg]=Поддръжка на препратки с икони
Comment[bn]=শর্টকাট আইকন সাপোর্ট
Comment[ca]=Permet l'ús de dreceres d'icona
Comment[cs]=Podpora ikon zkratek
Comment[csb]=Òbsłużënk ikònów serwerów
Comment[da]=Genvejsikonstøtte
Comment[de]=Unterstützung für Webseitensymbole („Favicons“) in KDE
Comment[el]=υποστήριξη εικονιδίων Συντόμευσης
Comment[eo]=Subteno por klavkombinaj piktogramoj
Comment[es]=Soporte para iconos de acceso directo
Comment[et]=Kiirkorralduse ikooni toetus
Comment[eu]=Lasterbide-laukitxoen euskarria
Comment[fa]=پشتیبانی شمایل میان‌بر
Comment[fi]=Sivustojen kuvakkeet
Comment[fr]=Gestion d'icône de raccourci
Comment[fy]=Stipe foar byldkaikes
Comment[ga]=Tacaíocht do dheilbhíní aicearra
Comment[gl]=Soporte para ícone de atallo
Comment[gu]=ટૂંકાણ ચિહ્ન આધાર
Comment[he]=תמיכה בסמלי קיצור דרך
Comment[hi]=शॉर्टकट प्रतीक आधार
Comment[hr]=Podrška za ikonske prečace
Comment[hu]=Website-ikonok támogatása
Comment[is]=Stuðningur fyrir flýtitáknmyndir
Comment[it]=Supporto icone scorciatoia
Comment[ja]=ショートカットアイコンサポート
Comment[ka]=მალმხმობი ხატულების მხარდაჭერა
Comment[kk]=Жарлықтарды қолдау
Comment[km]=ការ​​គាំទ្រ​រូប​តំណាង​ផ្លូវកាត់
Comment[kn]=ಶೀಘ್ರಮಾರ್ಗ (ಶಾರ್ಟ್ ಕಟ್) ಚಿಹ್ನೆ ಬೆಂಬಲ
Comment[ko]=단축 아이콘 지원
Comment[lt]=Nuorodų ženkliukų palaikymas
Comment[lv]=Īsceļu ikonu atbalsts
Comment[mk]=Поддршка за икони за кратенки
Comment[ms]=Sokongan ikon pintasan
Comment[nb]=Støtte for snarveisikoner
Comment[nds]=Ünnerstütten för Link-Lüttbiller
Comment[ne]=सर्टकट प्रतिमा समर्थन
Comment[nl]=Ondersteuning voor pictogrammen
Comment[nn]=Støtte for snarvegikon
Comment[pa]=ਸ਼ਾਰਟਕੱਟ ਆਈਕਾਨ ਸਹਿਯੋਗ
Comment[pl]=Obsługa ikon serwerów
Comment[pt]=Suporte de ícone de atalho
Comment[pt_BR]=Suporte ao ícone de atalho
Comment[ro]=Suport pentru iconiţe accelerator
Comment[ru]=Показ настраиваемых значков в KDE
Comment[se]=Govašlávkestagaid doarjja
Comment[sk]=Podpora ikon skratiek
Comment[sl]=Podpora ikonam za bližnjice
Comment[sr]=Подршка за иконе пречица
Comment[sr@latin]=Podrška za ikone prečica
Comment[sv]=Stöd för genvägsikon
Comment[ta]=குறுக்கு வழி சின்ன ஆதரவு
Comment[th]=สนับสนุนไอคอนทางลัด
Comment[tr]=Kısayol simge desteği
Comment[uk]=Підтримка скорочень піктограм
Comment[vi]=Hỗ trợ biểu tượng giúp truy cập nhanh
Comment[wa]=Sopoirt imådjetes rascourtis
Comment[x-test]=xxShortcut icon supportxx
Comment[zh_CN]=快捷图标支持
Comment[zh_TW]=捷徑圖示支援
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=favicons
X-KDE-DBus-ModuleName=favicons
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
