[Desktop Entry]
Type=Service
Name=Favicons
Comment=Stores website icons
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=favicons
X-KDE-DBus-ModuleName=favicons
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
