[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDED Favicon Module
Name[af]=Kded Favicon Module
Name[be]=Модуль любімай значкі KDED
Name[br]=Mollad Favicon evit KDED
Name[ca]=Mòdul KDED per a favicon
Name[cs]=Modul KDEDu Favicon
Name[csb]=Ikònczi serwerów
Name[cy]=Modiwl KDED Favicon
Name[da]=KDED Favicon-modul
Name[de]=Webseitensymbol-Verwaltung
Name[el]=KDED άρθρωμα Favicon
Name[eo]=Modulo por interretaj preferataj piktogramoj
Name[es]=Módulo Favicon de KDED
Name[et]=KDED favicon moodul
Name[eu]=KDED Favicon modulua
Name[fa]=پیمانۀ شمایل پسندان KDED
Name[fi]=KDED-sivustokuvakemoduuli
Name[fr]=Icône préférée
Name[ga]=Modúl Favicon KDED
Name[gl]=Módulo de Faviconas de KDED
Name[he]=מודול סמלים מועדפים של KDED
Name[hr]=KDED Favicon modul
Name[hu]=KDED favicon-kezelő
Name[is]=KDED Favicon íhlutur
Name[it]=Modulo Favicon di KDED
Name[ja]=KDED Favicon モジュール
Name[ka]=KDED Favicon მოდული
Name[kk]=KDED сайт белгішілер модулі
Name[km]=ម៉ូឌុល KDED Favicon
Name[ko]=KDED Favicon 모듈
Name[lt]=KDED favicon modulis
Name[lv]=KDED Favikon Modulis
Name[mk]=KDED Favicon Модул
Name[ms]=Modul KDED Favicon
Name[nb]=KDED favicon-modul
Name[nds]=KDED-Moduul för Nettsiet-Lüttbiller
Name[ne]=KDED फेभिकन मोड्युल
Name[nn]=KDED favicon-modul
Name[pa]=KDED ਫਾਵੀਕੋਨ ਮੋਡੁਲੀ
Name[pl]=Ikony serwerów
Name[pt]=Módulo Favicon do KDED
Name[pt_BR]=Módulo Favicon do KDED
Name[ro]=Module favicon KDED
Name[ru]=Служба значков
Name[se]=KDED favicon-moduvla
Name[sl]=Modul KDED za favicon
Name[sr]=Favicon модул, KDED
Name[sr@latin]=Favicon modul, KDED
Name[sv]=KDED-favoritikonmodul
Name[ta]=KDED பெவிகான் பகுதி
Name[tg]=Бахши пиктограммаи KDED
Name[th]=โมดูลไอคอนเว็บของ KDED
Name[tr]=KDE Favicon Modülü
Name[uk]=Модуль KDED Favicon
Name[uz]=KDED Favicon модули
Name[wa]=Module imådjetes KDED
Name[x-test]=xxKDED Favicon Modulexx
Name[xh]=KDED Isichatshulwa se Favicon
Name[zh_TW]=KDED Favicon 測試模組
Comment=Shortcut icon support
Comment[af]=Kortpad ikoon ondersteuning
Comment[be]=Падтрымка значак скаротаў
Comment[bg]=Поддръжка на препратки с икони
Comment[ca]=Permet l'ús de dreceres d'icona
Comment[cs]=Podpora ikon zkratek
Comment[csb]=Òbsłużënk ikònów serwerów
Comment[da]=Genvejsikonstøtte
Comment[de]=Unterstützung für Webseitensymbole ("Favicons") in KDE
Comment[el]=υποστήριξη εικονιδίων Συντόμευσης
Comment[eo]=Subteno por klavkombinaj piktogramoj
Comment[es]=Soporte para iconos de acceso directo
Comment[et]=Kiirkorralduse ikooni toetus
Comment[eu]=Lasterbide-laukitxoen euskarria
Comment[fa]=پشتیبانی شمایل میان‌بر
Comment[fi]=Sivustojen kuvakkeet
Comment[fr]=Gestion d'icône de raccourci
Comment[fy]=Stipe foar byldkaikes
Comment[gl]=Soporte para Icona de Atallo Directo
Comment[he]=תמיכה בסמלי קיצור דרך
Comment[hr]=Podrška za ikonske prečace
Comment[hu]=Website-ikonok támogatása
Comment[is]=Stuðningur fyrir flýtitáknmyndir
Comment[it]=Supporto icone scorciatoia
Comment[ja]=ショートカットアイコンサポート
Comment[ka]=მალმხმობი ხატულების მხარდაჭერა
Comment[kk]=Жарлықтарды қолдау
Comment[km]=​គាំទ្រ​រូបតំណាង​ផ្លូវកាត់
Comment[lt]=Nuorodų ženkliukų palaikymas
Comment[lv]=Īsinājumikonu atbalsts
Comment[mk]=Поддршка за икони за кратенки
Comment[ms]=Sokongan ikon pintasan
Comment[nb]=Støtte for snarveisikoner
Comment[nds]=Ünnerstütten för Link-Lüttbiller
Comment[ne]=सर्टकट प्रतिमा समर्थन
Comment[nl]=Ondersteuning voor pictogrammen
Comment[nn]=Støtte for snarvegikon
Comment[pa]=ਸ਼ਾਰਟਕੱਟ ਆਈਕਾਨ ਸਹਿਯੋਗ
Comment[pl]=Obsługa ikon serwerów
Comment[pt]=Suporte de ícone de atalho
Comment[pt_BR]=Suporte ao ícone de atalho
Comment[ro]=Suport pentru iconiţe accelerator
Comment[ru]=Показ настраиваемых значков в KDE
Comment[se]=Govašlávkestagaid doarjja
Comment[sl]=Podpora ikonam za bližnjice
Comment[sr]=Подршка за икону пречице
Comment[sr@latin]=Podrška za ikonu prečice
Comment[sv]=Stöd för genvägsikon
Comment[ta]=குறுக்கு வழி சின்ன ஆதரவு
Comment[th]=สนับสนุนไอคอนทางลัด
Comment[tr]=Kısayol simge desteği
Comment[uk]=Підтримка скорочень піктограм
Comment[wa]=Sopoirt imådjetes rascourtis
Comment[x-test]=xxShortcut icon supportxx
Comment[zh_TW]=捷徑圖示支援
ServiceTypes=KDEDModule
X-KDE-Library=favicons
X-KDE-FactoryName=favicons
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
