[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=babelfish
X-KDE-PluginInfo-Author=Kurt Granroth, Rand2342
X-KDE-PluginInfo-Email=granroth@kde.org, rand2342@yahoo.com
X-KDE-PluginInfo-Name=babelfish
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Translate
Name[ca]=Traducció
Name[cs]=Přeložit
Name[da]=Oversæt
Name[de]=Übersetzen
Name[et]=Tõlkimine
Name[ia]=Traduce
Name[it]=Traduci
Name[ja]=翻訳
Name[kk]=Аудару
Name[lt]=Išversti
Name[nb]=Oversett
Name[nds]=Översetten
Name[nl]=Vertalen
Name[nn]=Omset
Name[pt]=Traduzir
Name[ru]=Перевод
Name[sv]=Översätt
Name[uk]=Переклад
Name[x-test]=xxTranslatexx
Name[zh_TW]=翻譯
Comment=Language translation for the current page using Babelfish
Comment[ca]=Traducció d'idioma per a la pàgina actual usant el Babelfish
Comment[cs]=Překlad aktuální stránky do vybraného jazyka pomocí Babelfish
Comment[da]=Sprogoversættelse af websider med Babelfish.
Comment[de]=Übersetzt die Sprache der aktuellen Webseite mit Hilfe von Babelfish
Comment[et]=Aktiivse lehekülje tõlkimine Babelfishi abil
Comment[ia]=Traduction de linguage pro le pagina currente usante Babelfish
Comment[it]=Traduce la pagina corrente usando Babelfish
Comment[ja]=Babelfish を使って現在のページを他の言語に翻訳します
Comment[kk]=Babelfish-тың көмегімен ашылған бетті басқа тілге аудару
Comment[lt]=Versti atvertą puslapį į kitą kalbą naudojant Babelfish
Comment[nb]=Språkoversetter for gjeldende side, ved bruk av Babelfish
Comment[nds]=Översetten vun de aktuelle Nettsiet mit Babelfish
Comment[nl]=Vertaalt de huidige webpagina met behulp van Babelfish
Comment[nn]=Omsetjing av den gjeldande sida ved bruk av Babel Fish
Comment[pt]=Tradução da língua da página actual com o Babelfish
Comment[ru]=Перевод текущей страницы с помощью Babelfish
Comment[sv]=Översättning av språk för den aktuella sidan med Babelfish
Comment[uk]=Переклад поточної сторінки за допомогою Babelfish
Comment[x-test]=xxLanguage translation for the current page using Babelfishxx
Comment[zh_TW]=使用 Babelfish 翻譯目前的頁面
Icon=babelfish
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/babel/index.html
