[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=babelfish
X-KDE-PluginInfo-Author=Kurt Granroth, Rand2342
X-KDE-PluginInfo-Email=granroth@kde.org, rand2342@yahoo.com
X-KDE-PluginInfo-Name=babelfish
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Translate
Name[ar]=ترجم
Name[be]=Перакласці
Name[bg]=Превеждане
Name[bs]=Prevedi
Name[ca]=Traducció
Name[ca@valencia]=Traducció
Name[cs]=Přeložit
Name[da]=Oversættelse
Name[de]=Übersetzen
Name[el]=Μετάφραση
Name[en_GB]=Translate
Name[es]=Traducir
Name[et]=Tõlkimine
Name[eu]=Itzuli
Name[fi]=Käännä
Name[fr]=Traduire
Name[ga]=Aistrigh
Name[gl]=Traducir
Name[he]=תרגום
Name[hne]=अनुवाद
Name[hr]=Prevedi
Name[hu]=Fordítás
Name[ia]=Traduce
Name[is]=Þýða
Name[it]=Traduci
Name[ja]=翻訳
Name[kk]=Аудару
Name[km]=បកប្រែ​
Name[ko]=번역
Name[ku]=Wergerîne
Name[lt]=Išversti
Name[lv]=Tulkot
Name[mai]=अनुवाद
Name[ms]=Terjemah
Name[nb]=Oversett
Name[nds]=Översetten
Name[nl]=Vertalen
Name[nn]=Omset
Name[oc]=Revirar
Name[pa]=ਅਨੁਵਾਦ
Name[pl]=Przetłumacz
Name[pt]=Traduzir
Name[pt_BR]=Traduzir
Name[ro]=Tradu
Name[ru]=Перевести
Name[sk]=Preložiť
Name[sl]=Prevajanje
Name[sr]=Преведи
Name[sr@ijekavian]=Преведи
Name[sr@ijekavianlatin]=Prevedi
Name[sr@latin]=Prevedi
Name[sv]=Översätt
Name[tg]=Тарҷума кунед
Name[th]=แปลภาษา
Name[tr]=Çevir
Name[ug]=تەرجىمە
Name[uk]=Переклад
Name[wa]=Ratourner
Name[x-test]=xxTranslatexx
Name[zh_CN]=翻译
Name[zh_TW]=翻譯
Comment=Language translation for the current page using Babelfish
Comment[ar]=ترجمة آلية للصفحة الحالية بواسطة Babelfish
Comment[bg]=Превеждане на текущата страница с помощта на Babelfish
Comment[bs]=Prevedi trenutnu stranicu Babelfišom
Comment[ca]=Traducció d'idioma per a la pàgina actual usant el Babelfish
Comment[ca@valencia]=Traducció d'idioma per a la pàgina actual usant el Babelfish
Comment[cs]=Překlad aktuální stránky do vybraného jazyka pomocí Babelfish
Comment[da]=Sprogoversættelse af websider med Babelfish.
Comment[de]=Übersetzt die Sprache der aktuellen Webseite mit Hilfe von Babelfish
Comment[el]=Μετάφραση της τρέχουσας σελίδας με χρήση του Babelfish
Comment[en_GB]=Language translation for the current page using Babelfish
Comment[es]=Idioma de traducción para la página actual utilizando Babelfish
Comment[et]=Aktiivse lehekülje tõlkimine Babelfishi abil
Comment[eu]=Uneko orria itzultzeko hizkuntza Babelfish erabiliz
Comment[fi]=Nykyisen sivun kääntäminen toiselle kielelle Babelfish-palvelulla
Comment[fr]=Traduction de la langue de la page actuelle à l'aide de Babelfish
Comment[ga]=Aistriúchán ar an leathanach reatha le hinneall Babelfish
Comment[gl]=Traduce a páxina actual usando Babelfish
Comment[he]=תרגום שפת הדף הנוכחי באמצעות Babelfish
Comment[hne]=अभी हाल के पेज मं बेबलफिस के परयोग से भाखा अनुवाद
Comment[hr]=Prevođenje jezika trenutne stranice korištenjem Babelfisha
Comment[hu]=Az aktuális oldal fordítása a Babelfish használatával
Comment[ia]=Traduction de linguage pro le pagina currente usante Babelfish
Comment[is]=Þýða tungumál síðunnar með Babelfish
Comment[it]=Traduce la pagina corrente usando Babelfish
Comment[ja]=Babelfish を使って現在のページを他の言語に翻訳します
Comment[kk]=Babelfish-тың көмегімен ашылған бетті басқа тілге аудару
Comment[km]=ការ​បកប្រែ​ភាសា​សម្រាប់​ទំព័រ​បច្ចុប្បន្ន​ដោយ​ប្រើ Babelfish
Comment[ko]=Babelfish를 사용하여 현재 페이지의 언어를 번역하기
Comment[ku]=Wergerandina zimanekî re ji bo rûpela heyî bi Babelfish re
Comment[lt]=Versti atvertą puslapį į kitą kalbą naudojant Babelfish
Comment[lv]=Aktīvās lapas tulkošanas spraudnis, izmantojot Babelfish
Comment[nb]=Språkoversetter for gjeldende side, ved bruk av Babelfish
Comment[nds]=Översetten vun de aktuelle Nettsiet mit Babelfish
Comment[nl]=Vertaalt de huidige webpagina met behulp van Babelfish
Comment[nn]=Omsetjing av den gjeldande sida ved bruk av Babel Fish
Comment[pa]=ਮੌਜੂਦਾ ਪੇਜ਼ ਦਾ ਬੇਬਲਫਿਸ਼ ਰਾਹੀਂ ਭਾਸ਼ਾ ਅਨੁਵਾਦ
Comment[pl]=Tłumaczenie dla bieżącej strony przy użyciu Babelfish
Comment[pt]=Traduzir a língua da página actual com o Babelfish
Comment[pt_BR]=Tradução da página atual usando o Babelfish
Comment[ro]=Traducerea paginii curente folosind Babelfish
Comment[ru]=Перевод текущей страницы с помощью Babelfish
Comment[sk]=Preklad aktuálnej stránky do vybraného jazyka pomocou Babelfish
Comment[sl]=Prevedite trenutno spletno stran
Comment[sr]=Преведи тренутну страницу Бабелфишом
Comment[sr@ijekavian]=Преведи тренутну страницу Бабелфишом
Comment[sr@ijekavianlatin]=Prevedi trenutnu stranicu Babelfishom
Comment[sr@latin]=Prevedi trenutnu stranicu Babelfishom
Comment[sv]=Översättning av språk för den aktuella sidan med Babelfish
Comment[tg]=Тарҷумаҳои забонӣ барои ин саҳифа барномаи Babelfish-ро истифода меберанд
Comment[th]=แปลภาษาบนหน้าเว็บดูอยู่ โดยใช้บริการ Babelfish
Comment[tr]=Yürürlükteki sayfayı Babelfish ile çevirir.
Comment[ug]=Babelfish ئىشلىتىپ نۆۋەتتىكى بەتنى تەرجىمە قىلىدۇ
Comment[uk]=Переклад поточної сторінки за допомогою Babelfish
Comment[wa]=Ratournaedje do lingaedje pol pådje do moumint si siervant d' Babelfish
Comment[x-test]=xxLanguage translation for the current page using Babelfishxx
Comment[zh_CN]=使用 Babelfish 对当前页面进行语言翻译
Comment[zh_TW]=使用 Babelfish 對目前頁面做翻譯
Icon=babelfish
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/babel/index.html
