[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=babelfish
X-KDE-PluginInfo-Author=Kurt Granroth, Rand2342
X-KDE-PluginInfo-Email=granroth@kde.org, rand2342@yahoo.com
X-KDE-PluginInfo-Name=babelfish
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Translate
Comment=Language translation for the current page using Babelfish
Icon=babelfish
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/babel/index.html
