[Desktop Entry]
Type=Service
X-KDE-PluginInfo-Author=Alexander Neundorf
X-KDE-PluginInfo-Email=neundorf@kde.org
X-KDE-PluginInfo-Name=kshellcmdplugin
X-KDE-PluginInfo-Version=3.4
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
Icon=run
Name=Shell Command Plugin
Name[af]=Opdrag tolk inprop module
Name[ar]=ملحق أمر الصدَفة
Name[be]=Утулка выканання каманды ў абалонцы
Name[bg]=Изпълнение на команда
Name[bn]=শেল কমান্ড প্লাগ-ইন
Name[ca]=Endollable d'ordres
Name[cs]=Modul shellového příkazu
Name[csb]=Wtëkôcz pòlétu pòwłoczi
Name[da]=Plugin for skalkommando
Name[de]=Shell-Befehl-Plugin
Name[el]=Πρόσθετο εντολών κελύφους
Name[eo]=Ŝelkomanda kromaĵo
Name[es]=Complemento para ejecutar órdenes
Name[et]=Shellikäsu plugin
Name[eu]=Shell komandorako plugina
Name[fa]=وصلۀ فرمان پوسته
Name[fi]=Komentoriviliitännäinen
Name[fr]=Module de lignes de commande
Name[fy]=Flueslkommando-plugin
Name[ga]=Breiseán Ordaithe Blaoisce
Name[gl]=Extensión para execución de comandos
Name[he]=תוסף פקודות מעטפת
Name[hi]=शेल कमांड प्लगइन
Name[hr]=Dodatak za naredbe u ljuski
Name[hu]=Parancsvégrehajtó modul
Name[is]=Skeljarskipunar íforrit
Name[it]=Plugin per i comandi shell
Name[ja]=シェルコマンドプラグイン
Name[ka]=გარსისს ბრძანების მოდული
Name[kk]=Команда жолы
Name[km]=កម្មវិធី​ជំនួយ​ពាក្យ​បញ្ជា​សែល
Name[ko]=셸 명령 플러그인
Name[ku]=Pêveka Fermanên Shell
Name[lt]=Apvalkalo komandų priedas
Name[lv]=Čaulas komandas spraudnis
Name[mk]=Приклучок за команда за школка
Name[ms]=Plugin Arahan Shell
Name[nb]=Programtillegg for skallkommandoer
Name[nds]=Plugin för Konsoolbefehlen
Name[ne]=शेल आदेश प्लगइन
Name[nl]=Schellcommando-plugin
Name[nn]=Programtillegg for skalkommandoar
Name[pa]=ਸੈੱਲ ਕਮਾਂਡ ਪਲੱਗਇਨ
Name[pl]=Wtyczka polecenia powłoki
Name[pt]='Plugin' de Execução de Comandos
Name[pt_BR]=Plugin de Comandos do Shell
Name[ro]=Plugin shell pentru comenzi
Name[ru]=Выполнить команду
Name[se]=Skálžogohččunlassemodula
Name[sk]=Modul pre príkaz
Name[sl]=Vstavek Lupinski ukaz
Name[sr]=Прикључак за наредбе шкољке
Name[sr@latin]=Priključak za naredbe školjke
Name[sv]=Insticksprogram för skalkommando
Name[ta]=ஓட்டு கட்டளை சொருகுப்பொருள்
Name[th]=ปลั๊กอินสำหรับป้อนคำสั่งเชลล์
Name[tr]=Üçbirim Komut Eklentisi
Name[uk]=Втулок командної оболонки
Name[vi]=Bổ sung lệnh trình bao
Name[wa]=Tchôke-divins roye di comande
Name[x-test]=xxShell Command Pluginxx
Name[zh_CN]=Shell 命令插件
Name[zh_TW]=Shell 命令外掛程式
Comment=Shell Command Plugin for Konqueror
Comment[af]=Opdrag tolk inprop module vir Konqueror
Comment[ar]=ملحق أمر الصدَفة لـٍ كونكيورر
Comment[be]=Утулка выканання каманды ў абалонцы для Konqueror
Comment[bg]=Приставка за изпълнение на команда на браузъра
Comment[bn]=কনকরার-এর জন্য শেল কমান্ড প্লাগ-ইন
Comment[ca]=Endollable d'ordres per a Konqueror
Comment[cs]=Modul shellového příkazu pro Konqueror
Comment[csb]=Wtëkôcz pòlétu pòwłoczi dlô Konquerora
Comment[da]=Plugin for skalkommandon i Konqueror
Comment[de]=Ein Shell-Befehl-Plugin für Konqueror
Comment[el]=Πρόσθετο εντολών κελύφους για τον Konqueror
Comment[eo]=Ŝelkomanda kromaĵo por Konkeranto
Comment[es]=Complemento para ejecutar órdenes desde Konqueror
Comment[et]=Konquerori shellikäsu plugin
Comment[eu]=Shell komandorako plugina Konquerorako
Comment[fa]=وصلۀ فرمان پوسته برای Konqueror
Comment[fi]=Konquerorin komentoriviliitännäinen
Comment[fr]=Module de lignes de commande pour Konqueror
Comment[fy]=In flueskommando-plugin foar Konqueror
Comment[ga]=Breiseán Ordaithe Blaoisce le haghaidh Konqueror
Comment[gl]=Extensión para executar comandos en Konqueror
Comment[he]=תוסף פקודות מעטפת ל־Konqueror
Comment[hi]=कॉन्करर के लिए शेल कमांड प्लगइन
Comment[hr]=Dodatak za naredbe u ljuski namijenjen Konqueroru
Comment[hu]=Parancsvégrehajtó modul a Konqueror böngészőhöz
Comment[is]=Skeljarskipunar íforrit fyrir Konqueror
Comment[it]=Plugin per i comandi shell di Konqueror
Comment[ja]=Konqueror 用シェルコマンドプラグイン
Comment[ka]=გარსისს ბრძანების მოდული Konqueror-ისთვის
Comment[kk]=Команда жолы модулі
Comment[km]=កម្មវិធី​ជំនួយ​ពាក្យ​បញ្ជា​សែល​សម្រាប់ Konqueror
Comment[ko]=Konqueror 셸 명령 플러그인
Comment[ku]=Pêveka Fermanên Shell ji bo Konqueror
Comment[lt]=Apvalkalo komandų priedas Konqueror
Comment[lv]=Čaulas komandas spraudnis priekš Konqueror
Comment[mk]=Приклучок за команда за школка за Konqueror
Comment[ms]=Plugin Arahan Shell untuk Konqueror
Comment[nb]=Programtillegg for skallkommandoer i Konqueror
Comment[nds]=Konsoolbefehl-Plugin för Konqueror
Comment[ne]=कन्क्वेररका लागि शेल आदेश प्लगइन
Comment[nl]=Een shellcommando-plugin voor Konqueror
Comment[nn]=Programtillegg for skalkommandoar i Konqueror
Comment[pa]=ਕੋਨਕਿਉਰੋਰ ਲਈ ਸ਼ੈਲ ਕਮਾਂਡ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka polecenia powłoki dla Konquerora
Comment[pt]=Um 'Plugin' para Executar Comandos no Konqueror
Comment[pt_BR]=Plugin de Comandos do Shell para o Konqueror
Comment[ro]=Plugin shell pentru comenzi pentru Konqueror
Comment[ru]=Выполнить команду из Konqueror
Comment[se]=Skálžogohččunlassemodula Konquerora várás
Comment[sk]=Modul pre príkaz pre Konqueror
Comment[sl]=Vstavek Lupinski ukaz za Konqueror
Comment[sr]=Прикључак за наредбе шкољке за К‑освајач
Comment[sr@latin]=Priključak za naredbe školjke za K‑osvajač
Comment[sv]=Insticksprogram för skalkommandon i Konqueror
Comment[ta]=கான்கொரர்க்கான ஓட்டு கட்டளை சொருகுப்பொருள்
Comment[th]=ปลั้กอินป้อนคำสั่งเชลล์สำหรับของ Konqueror
Comment[tr]=Konqueror için uçbirim komut eklentisi
Comment[uk]=Втулок командної оболонки для Konqueror
Comment[vi]=Trình bổ sung khả năng dòng lệnh cho trình duyệt Konqueror
Comment[wa]=Tchôke-divins roye di comande po Konqueror
Comment[x-test]=xxShell Command Plugin for Konquerorxx
Comment[zh_CN]=Konqueror 的 Shell 命令插件
Comment[zh_TW]=Konqueror 的 Shell 指令外掛程式
