[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkhtmlkttsdplugin
X-KDE-PluginInfo-Author=Olaf Schmidt
X-KDE-PluginInfo-Email=ojschmidt@kde.org
X-KDE-PluginInfo-Name=khtmlkttsdplugin
X-KDE-PluginInfo-Version=3.4
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
Name=Text-to-Speech
Name[csb]=Czëtôrz tekstu
Name[el]=Κείμενο-σε-ομιλία
Name[zh_TW]=文字轉語音
Comment=Produces audio output for text in the current page
Comment[el]=Εκφωνεί το κείμενο της τρέχουσας σελίδας
Comment[zh_TW]=產生目前頁面中的文字的語音輸出
Icon=speaker

