[Desktop Entry]
Icon=preferences-desktop-text-to-speech
X-KDE-Library=libkhtmlkttsdplugin
X-KDE-PluginInfo-Author=Olaf Schmidt
X-KDE-PluginInfo-Email=ojschmidt@kde.org
X-KDE-PluginInfo-Name=khtmlkttsdplugin
X-KDE-PluginInfo-Version=3.4
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
Name=Text-to-Speech
Name[ar]=نص-إلى-صوت
Name[be]=Прагаворванне тэксту
Name[bg]=Приставка за синтез на глас
Name[ca]=Text a veu
Name[csb]=Czëtôrz tekstu
Name[da]=Tekst-til-tale
Name[de]=Sprachausgabe
Name[el]=Κείμενο-σε-ομιλία
Name[eo]=Teksto-al-Parolo
Name[es]=Texto-a-Voz
Name[et]=Tekst kõneks
Name[eu]=Testu-ahotsa
Name[fa]=متن به گفتار
Name[fi]=Puhesyntetisaattori
Name[fr]=Synthèse vocale
Name[fy]=Tekst-ta-spraak
Name[ga]=Téacs-go-Caint
Name[gl]=Texto-para-fala
Name[gu]=લખાણ-થી-બોલી
Name[he]=טקסט לדיבור
Name[hi]=पाठ-से-वार्ता
Name[hu]=Szövegfelolvasó
Name[is]=Texti-í-tal
Name[it]=Pronuncia del testo
Name[ja]=テキスト読み上げ
Name[kk]=Мәтінді дыбыстап оқу
Name[km]=អត្ថបទ​ទៅ​ជា​សំដី
Name[kn]=ಪಠ್ಯದಿಂದ ವಾಚನ
Name[ku]=Pêveka Ji Deqê-bo-Dengî
Name[lv]=Teksta izrunāšana
Name[ml]=പദാവലി ശബ്ദമാക്കുക
Name[nb]=Tekst til tale
Name[nds]=Vörleser
Name[ne]=पाठबाट वाक्य
Name[nl]=Tekst-tot-spraak
Name[nn]=Tekst til tale
Name[pa]=ਟੈਕਸਟ ਤੋਂ ਬੋਲੀ
Name[pl]=Odczytywanie tekstu
Name[pt]=Texto-para-Fala
Name[pt_BR]=Texto-para-Fala
Name[ro]=Text-în-vorbire
Name[ru]=Синтез речи
Name[se]=Hupmejuvvon teaksta
Name[sl]=Besedilo v govor
Name[sr]=Текст‑у‑говор
Name[sr@latin]=Tekst‑u‑govor
Name[sv]=Text till tal
Name[ta]=உரையிலிருந்து ஒலி
Name[th]=เปลี่ยนข้อความเป็นเสียงพูด
Name[uk]=Синтез мовлення з тексту
Name[vi]=Văn bản sang Tiếng nói
Name[wa]=Tecse-viè-vwès
Name[x-test]=xxText-to-Speechxx
Name[zh_CN]=文本到语音
Name[zh_TW]=文字轉語音
Comment=Produces audio output for text in the current page
Comment[af]=Produseer klankafvoer vir die teks in die huidige bladsy
Comment[be]=Робіць аўдыёвывад для тэкту на бягучай старонцы
Comment[bg]=Аудио за текст в текущата страница
Comment[ca]=Produeix una sortida àudio pel text de la pàgina actual
Comment[csb]=Przetwôrzô tekst akùratny starnë w zwãk
Comment[da]=Producerer lyd-output af tekst i aktuel side
Comment[de]=Erzeugt Sprachausgabe für Text der aktuellen Seite
Comment[el]=Εκφωνεί το κείμενο της τρέχουσας σελίδας
Comment[eo]=Generas parolaĵon el la teksto en la nuna paĝo
Comment[es]=Produce audio del texto de la página actual
Comment[et]=Aktiivse lehekülje teksti kõnelemine
Comment[eu]=Testurako audio irteera sortzen du uneko orrian
Comment[fa]=خروجی صوتی را برای متن در صفحه جاری تولید می‌کند
Comment[fi]=Muuttaa sivun sisältämän tekstin ääneksi
Comment[fr]=Produit des sorties audio pour le texte de la page courante
Comment[fy]=Produsearret audio útfier foar tekst yn de aktive side
Comment[ga]=Léigh an téacs atá ar an leathanach reatha
Comment[gl]=Fala o texto da páxina actual
Comment[gu]=હાલનાં પાનાંનાં લખાણને બોલી સંભળાવે છે
Comment[he]=הקראת הטקסט בדף הנוכחי
Comment[hi]=वर्तमान पृष्ठ पर उपलब्ध पाठ के लिए ऑडियो आउटपुट तैयार करता है.
Comment[hu]=Felolvassa az aktuális oldal tartalmát
Comment[is]=Býr til tal úr textanum á núverandi síðu
Comment[it]=Produce una riproduzione vocale del testo della pagina attuale
Comment[ja]=現在のページのテキストを音声として出力します
Comment[kk]=Назардағы беттегі мәтінді дауыстап оқып беру
Comment[km]=បង្កើត​លទ្ធផល​​អូឌីយ៉ូ​សម្រាប់​អត្ថបទ​នៅ​ក្នុង​ទំព័រ​បច្ចុប្បន្ន
Comment[kn]=ಪ್ರಸ್ತುತ ಹಾಳೆಯಲ್ಲಿನ ಪಠ್ಯಕ್ಕೆ ಧ್ವನ್ಯಾಂಶವನ್ನು ಉತ್ಪಾದಿಸುತ್ತದೆ
Comment[ko]=현재 페이지의 텍스트를 읽어줍니다
Comment[lv]=Izveido skaņas izvadu no teksta aktīvajā lapā
Comment[ml]=ഈ താളിലെ പദാവലിയുടെ ശബ്ദം പുറത്തു് തരുന്നു
Comment[nb]=Teksten på gjeldende side kommer som tale i lyd-utgangen
Comment[nds]=Leest den Text op de aktuelle Siet vör
Comment[ne]=हालको पृष्ठमा पाठका लागि अडियो निर्गत उत्पादन गर्दछ
Comment[nl]=Spreekt de tekst uit van de huidige pagina
Comment[nn]=Les opp teksten på gjeldande side
Comment[pa]=ਮੌਜੂਦਾ ਪੇਜ਼ ਵਿੱਚ ਟੈਕਸਟ ਲਈ ਆਡੀਓ ਆਉਟਪੁੱਟ ਬਣਾਉਦਾ ਹੈ
Comment[pl]=Dla tekstu na bieżącej stronie wydaje odpowiadające mu wyjście audio
Comment[pt]=Produz uma saída de áudio para o texto da página actual
Comment[pt_BR]=Produz uma saída de áudio para o texto da página atual
Comment[ro]=Produce ieșire sonoră pentru textul din pagina curentă
Comment[se]=Lohka dán siiddu teavstta
Comment[sl]=Besedilo na trenutni strani pretvori v govor
Comment[sr]=Производи аудио излаз од текста на текућој страни
Comment[sr@latin]=Proizvodi audio izlaz od teksta na tekućoj strani
Comment[sv]=Matar ut text som ljud på nuvarande sida
Comment[th]=เปลี่ยนตัวหนังสือในหน้าปัจจุบันเป็นเสียง
Comment[tr]=Geçerli sayfadaki metni okur
Comment[uk]=Створює аудіо для тексту на поточній сторінці
Comment[vi]=Trình nói văn bản trên trang hiện thời
Comment[wa]=Prodût on son pol tecse el pådje do moumint
Comment[x-test]=xxProduces audio output for text in the current pagexx
Comment[zh_CN]=将当前页面中的文本生成为语音输出
Comment[zh_TW]=產生目前頁面中的文字的語音輸出

