[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule
DocPath=kcontrol/desktop/index.html#desktop-number
Icon=desktop
Exec=kcmshell desktop

X-KDE-Library=kcm_konq
X-KDE-FactoryName=ddesktop
X-KDE-ParentApp=kcontrol

Name=Multiple Desktops
Name[el]=Πολλαπλές επιφάνειες εργασίας
Name[fr]=Bureaux multiples
Name[x-test]=xxMultiple Desktopsxx

Comment=You can configure how many virtual desktops there are.
Comment[el]=Μπορείτε να ρυθμίσετε πόσες εικονικές επιφάνειες εργασίας θα υπάρχουν.
Comment[fr]=Configuration du nombre de bureaux virtuels
Comment[x-test]=xxYou can configure how many virtual desktops there are.xx
Keywords=desktop,desktops,number,virtual desktop
Keywords[el]=επιφάνεια εργασίας,επιφάνειες εργασίας,αριθμός,εικονική επιφάνεια εργασίας
Keywords[fr]=bureau,bureaux,numéro,bureaux virtuels
Keywords[x-test]=xxdesktop,desktops,number,virtual desktopxx
