[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/desktop/index.html#desktop-desktop-path
Icon=system-file-manager
Exec=kcmshell4 desktoppath

X-KDE-Library=kcm_konq
X-KDE-PluginKeyword=dpath
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=about-me

Name=Paths
Name[af]=Soekgidse
Name[ar]=المسارات
Name[be]=Шляхі
Name[bg]=Пътища
Name[bn]=পাথ (Paths)
Name[br]=Hentoù
Name[ca]=Rutes
Name[cs]=Cesty
Name[csb]=Stegnë
Name[cy]=Llwybrau
Name[da]=Stier
Name[de]=Pfade
Name[el]=Κατάλογοι
Name[eo]=Vojoj
Name[es]=Rutas
Name[et]=Otsinguteed
Name[eu]=Bide-izenak
Name[fa]=مسیرها
Name[fi]=Polut
Name[fr]=Chemins
Name[fy]=Paden
Name[ga]=Conairí
Name[gl]=Rotas
Name[gu]=માર્ગો
Name[he]=נתיבים
Name[hi]=पथ
Name[hr]=Putanje
Name[hu]=Elérési utak
Name[is]=Slóðir
Name[it]=Percorsi
Name[ja]=パス
Name[ka]=ბილიკი
Name[kk]=Жолдар
Name[km]=ផ្លូវ
Name[ko]=경로
Name[ku]=Rêç
Name[lt]=Keliai
Name[lv]=Ceļi
Name[mk]=Патеки
Name[ms]=Laluan
Name[nb]=Stier
Name[nds]=Padden
Name[ne]=मार्ग
Name[nl]=Paden
Name[nn]=Stiar
Name[oc]=Camins
Name[pa]=ਮਾਰਗ
Name[pl]=Ścieżki
Name[pt]=Localizações
Name[pt_BR]=Caminhos
Name[ro]=Căi
Name[ru]=Пути
Name[se]=Bálgát
Name[sk]=Cesty
Name[sl]=Poti
Name[sr]=Путање
Name[sr@latin]=Putanje
Name[sv]=Sökvägar
Name[ta]=பாதைகள்
Name[te]=దారులు
Name[tg]=Роҳчаҳо
Name[th]=เส้นทาง
Name[tr]=Yollar
Name[uk]=Шляхи
Name[uz]=Йўллар
Name[vi]=Đường dẫn
Name[wa]=Tchimins
Name[x-test]=xxPathsxx
Name[xh]=Umendo
Name[zh_CN]=路径
Name[zh_TW]=路徑

Comment=Change the location important files are stored
Comment[af]=Verander die ligging belangrik lêers word gestoor
Comment[ar]=غيّر المكان المستخدم لتخزين الملفات المهمة
Comment[be]=Змена тэчак для захавання важных файлаў
Comment[bg]=Настройване местоположението на важните файлове
Comment[bn]=বিভিন্ন গুরুত্বপূর্ণ ফাইল কোন অবস্থানে থাকবে তা পরিবর্তন করুন
Comment[ca]=Canvia la localització d'on seran desats els fitxers importants
Comment[cs]=Změna umístění důležitých souborů
Comment[csb]=Môl trzëmaniô wôżnëch lopków
Comment[cy]=Newid lle mae ffeiliau pwysig yn cael eu cadw
Comment[da]=Ændr stedet hvor vigtige filer gemmes
Comment[de]=Ordner für wichtige Dateien ändern
Comment[el]=Αλλάξτε την τοποθεσία στην οποία αποθηκεύονται σημαντικά αρχεία
Comment[eo]=Ŝanĝi la lokon, kie oni konservas gravajn dosierojn
Comment[es]=Cambiar la ubicación de archivos importantes
Comment[et]=Oluliste failide asukoha muutmine
Comment[eu]=Aldatu fitxategi inportanteen kokapena
Comment[fa]=تغییر محل ذخیرۀ پرونده‌های مهم
Comment[fi]=Tässä kohdassa voit määritellä minne tärkeät tiedostot tallennetaan
Comment[fr]=Changer l'endroit où les fichiers importants sont stockés
Comment[fy]=Hjir kinne jo de lokaasje fan it bewarjen fan belangrike triemmen wizigje
Comment[ga]=Athraigh an suíomh ina stóráiltear comhaid thábhachtacha
Comment[gl]=Cambiar o lugar onde se gardan os ficheiros importantes
Comment[gu]=મહત્વની ફાઇલો સંગ્રહ થાય તે સ્થાન બદલો
Comment[he]=שינוי המיקומים בהם מאוחסנים קבצים חשובים
Comment[hi]=महत्वपूर्ण फ़ाइलों के रखने का स्थान बदलें
Comment[hr]=Promijenite lokaciju za smještaj važnih datoteka
Comment[hu]=Néhány fontosabb elérési utat lehet itt beállítani
Comment[is]=Breyta staðsetningu mikilvægra skráa
Comment[it]=Cambia la posizione in cui vengono salvati i file importanti
Comment[ja]=重要なファイルなどの保存場所を変更
Comment[ka]=მნიშვნელოვანი ფაილბის გეზის ცვლილება შენახულია
Comment[kk]=Маңызды файлдар орналасатын орындарын өзгерту
Comment[km]=ផ្លាស់ប្ដូរ​​ទីតាំង​ដែល​ត្រូវ​ទុក​ឯកសារ​សំខាន់ៗ
Comment[ko]=중요한 파일이 저장되는 곳 설정
Comment[ku]=Ciyê ku pelên girîng lê tomar dibin biguherîne
Comment[lt]=Pakeiskite svarbių failų saugojimo vietą
Comment[lv]=Mainīt nozīmīgu failu atrašanās vietas
Comment[mk]=Сменете ја локацијата каде што се чуваат важни датотеки
Comment[ms]=Ubah lokasi fail penting disimpan
Comment[nb]=Endre plasseringa av viktige filer
Comment[nds]=Den Oort för wichtige Dateien ännern
Comment[ne]=महत्वपूर्ण फाइल भण्डारण गरिएको स्थान परिवर्तन गर्नुहोस्
Comment[nl]=Hier kunt u de locatie voor het opslaan van belangrijke bestanden wijzigen
Comment[nn]=Endra plasseringa av viktige filer
Comment[pa]=ਜ਼ਰੂਰੀ ਫਾਇਲਾਂ ਸੰਭਾਲਣ ਲਈ ਟਿਕਾਣਾ ਤਬਦੀਲ
Comment[pl]=Miejsce przechowywania ważnych plików
Comment[pt]=Alterar as localizações onde os ficheiros importantes estão guardados
Comment[pt_BR]=Alterar a localização onde arquivos importantes são armazenados
Comment[ro]=Modifică locaţia de stocare a fişierelor importante
Comment[ru]=Пути к важным файлам
Comment[se]=Rievdat báikkiid gosa dehálaš fiillat bidjut
Comment[sk]=Zmena umiestnenia dôležitých súborov
Comment[sl]=Spremenite lokacije shranjenih pomembnih datotek
Comment[sr]=Промените локацију где су смештени важни фајлови
Comment[sr@latin]=Promenite lokaciju gde su smešteni važni fajlovi
Comment[sv]=Ändra plats för lagring av viktiga filer
Comment[ta]=முக்கிய கோப்புகள் சேகரிக்கப்பட்டுள்ள இடத்தை மாற்று
Comment[tg]=Тариқ барои файлҳои асосӣ
Comment[th]=เปลี่ยนตำแหน่งที่เก็บแฟ้มที่สำคัญ
Comment[tr]=Önemli dosyaların kaydedildiği yerleri düzenle
Comment[uk]=Зміна адреси зберігання важливих файлів
Comment[uz]=Муҳим файлларнинг жойлашган жойини ўзгартириш
Comment[vi]=Thay đổi đường dẫn tới các tập tin quan trọng
Comment[wa]=Candjî l' eplaeçmint ki les fitchîs impôrtants sont wårdés
Comment[x-test]=xxChange the location important files are storedxx
Comment[xh]=Tshintsha indawo apho zibekwa kona iifayile ezibalulekileyo
Comment[zh_CN]=更改重要文件存储的位置
Comment[zh_TW]=改變儲存重要檔案的位置
X-KDE-Keywords=konqueror,filemanager,paths,desktop,directories,autostart
X-KDE-Keywords[ar]=كونكيورر,مدير الملفات,المسارات,سطح المكتب,الأدلة,تلقائية بدء التشغيل
X-KDE-Keywords[be]=Кіраўнік файлаў,Шляхі,Працоўны стол,Тэчкі,Дырэкторыі,Аўтаматычны запуск,Аўтазапуск,Запуск,konqueror,filemanager,paths,desktop,directories,autostart
X-KDE-Keywords[bg]=Keywords=път, документи, работен, плот, konqueror, filemanager, paths, desktop, directories, autostart
X-KDE-Keywords[ca]=konqueror,gestor de fitxers,rutes,escriptori,directoris,autoinici
X-KDE-Keywords[cs]=Konqueror,Správce souborů,Cesty,Plocha,Adresáře,Autostart, Automatické spuštění
X-KDE-Keywords[csb]=konqueror,menadżer lopków,stegnë,biurko,pùlt,katalodżi,automatné zrëszënié
X-KDE-Keywords[da]=konqueror,filhåndtering,stier,desktop,mapper,autostart
X-KDE-Keywords[de]=Konqueror,Dateimanager,Pfade,Arbeitsfläche,Mülleimer,Verzeichnisse,Ordner,Autostart
X-KDE-Keywords[el]=konqueror,διαχειριστής αρχείων,διαδρομές,επιφάνεια εργασίας,απορρίμματα,κατάλογοι,αυτόματη εκκίνηση
X-KDE-Keywords[eo]=konqueranto,dosieradministrilo,vojoj,labortablo,dosierujoj,aŭtolanĉo
X-KDE-Keywords[es]=konqueror,gestor de ficheros,rutas,escritorio,papelera,directorios,autoinicio
X-KDE-Keywords[et]=konqueror,failihaldur,otsinguteed,töölaud,kataloogid,autostart
X-KDE-Keywords[eu]=konqueror,fitxategi kudeatzailea,bide-izenak,mahaigaina,direktorioak,autoabiatu
X-KDE-Keywords[fa]=konqueror، مدیر پرونده، مسیرها، رومیزی، فهرستهای راهنما، خودآغاز
X-KDE-Keywords[fi]=konqueror,tiedostonhallinta,polut,työpöytä,kansiot,automaattikäynnistys
X-KDE-Keywords[fr]=konqueror,gestionnaire de fichiers,explorateur,paths,chemins,bureau,dossiers,répertoires,démarrage automatique,autostart
X-KDE-Keywords[fy]=konqueror,filemanager,bestandsbeheer,triembehear,path,paden,paad,zoekpaden,sykpaden,desktop,bureaublad,buroblêd,trash,prullenbak,jiskefet,directories,triemtafels,mappen,folders,autostart,documenten,dokuminten
X-KDE-Keywords[ga]=konqueror,bainisteoir comhad,conairí,deasc,comhadlanna,tosú uathoibríoch
X-KDE-Keywords[gl]=konqueror,xestor de ficheiros,rotas,escritório,lixo,cartafoles,autoinício
X-KDE-Keywords[he]=konqueror,מנהל קבצים,נתיבים,שולחן עבודה,אשפה,ספריות,הפעלה אוטומטית, filemanager,paths,desktop,directories,autostart
X-KDE-Keywords[hr]=konqueror,filemanager,paths,desktop,directories,autostart,upravljač datotekama,putanje,radna površina,mape,automatsko pokretanje
X-KDE-Keywords[hu]=Konqueror,fájlkezelő,elérési utak,munkaasztal,könyvtárak,automatikus indítás
X-KDE-Keywords[is]=konqueror,skráastjóri,slóðir,skjáborð,möppur,sjálfræsing
X-KDE-Keywords[it]=konqueror,filemanager,percorsi,path,desktop,cestino,directory,avvio automatico,gestione file,file
X-KDE-Keywords[ja]=konqueror,ファイルマネージャ,パス,デスクトップ,ごみ箱,ディレクトリ,自動スタート
X-KDE-Keywords[km]=konqueror កម្មវិធី​គ្រប់គ្រង​ឯកសារ ផ្លូវ ផ្ទៃតុ ថត ចាប់ផ្ដើម​ដោយ​ស្វ័យ​ប្រវត្តិ
X-KDE-Keywords[ko]=konqueror,경로,데스크톱,디렉터리,자동 시작
X-KDE-Keywords[lt]=konqueror,filemanager,paths,desktop,directories,autostart, failų tvarkyklė,keliai,darbastalis,aplankai
X-KDE-Keywords[mk]=konqueror,filemanager,paths,desktop,trash,directories,autostart,менаџер на датотеки,патеки,работна површина,површина,корпа,именици,директориуми,папки,автостарт
X-KDE-Keywords[nb]=konqueror,filbehandler,paths,desktop,papirkurv,mapper,autostart,filbehandler,stier,arbeidsflate,søppel,kataloger,skrivebord
X-KDE-Keywords[nds]=Konqueror,Dateipleger,Padden,Schriefdisch,Orner,Autostart
X-KDE-Keywords[ne]=कन्क्वेरर, फाइल प्रबन्धक, मार्ग, डेस्कटप, डाइरेक्टरी, स्वत: सुरुआत
X-KDE-Keywords[nl]=konqueror,filemanager,bestandsbeheer,path,paden,zoekpaden,desktop,bureaublad,trash,prullenbak,directories,mappen,folders,autostart,documenten,
X-KDE-Keywords[nn]=Konqueror,filhandsamar,stigar,skrivebord,mapper,autostart
X-KDE-Keywords[pa]=autostart,ਕੋਨਕਿਉਰਰ,ਫਾਇਲ ਮੈਨੇਜਰ,ਮਾਰਗ,ਡੈਸਕਟਾਪ,ਡਾਇਰੈਕਟਰੀਆਂ
X-KDE-Keywords[pl]=konqueror,menedżer plików,ścieżki,biurko,pulpit,katalogi,automatyczne uruchamianie
X-KDE-Keywords[pt]=konqueror,gestor de ficheiros,localizações,ecrã,lixo,directorias,arranque,pastas
X-KDE-Keywords[pt_BR]=konqueror,gerenciador de arquivos, caminhos,área de trabalho,diretórios,inicialização automática
X-KDE-Keywords[ro]=konqueror,manager de fişiere,căi,desktop,directoare,autostart
X-KDE-Keywords[ru]=konqueror,filemanager,paths,desktop,trash,directories,autostart
X-KDE-Keywords[se]=konqueror,fiilagieđahalli,bálgát,čállinbeavdi,máhpat,autoálggaheapmi
X-KDE-Keywords[sl]=konqueror,upravitelj datotek,poti,namizje,mape,samodejni zagon
X-KDE-Keywords[sr]=konqueror,filemanager,paths,desktop,directories,autostart,путање,менаџер,радна,површина,фасцикле
X-KDE-Keywords[sr@latin]=konqueror,filemanager,paths,desktop,directories,autostart,putanje,menadžer,radna,površina,fascikle
X-KDE-Keywords[sv]=konqueror,filhanterare,sökvägar,skrivbord,kataloger,automatisk start
X-KDE-Keywords[ta]=கான்கொரர்,கோப்பு மேலாளர்,பாதைகள்,மேல்மேசை,அடைவுகள்,தானாகவே தொடங்குதல்
X-KDE-Keywords[th]=konqueror ,ตัวจัดการแฟ้ม,เส้นทาง,พื้นที่ทำงาน,ถังขยะ,ไดเร็กทอรี,เริ่มอัตโนมัติ
X-KDE-Keywords[tr]=konqueror,dosya yöneticisi,yollar,masaüstü,çöp,dizinler,otomatik başlangıç
X-KDE-Keywords[uk]=konqueror,менеджер файлів,шляхи,стільниця,смітник,каталоги,автозапуск
X-KDE-Keywords[uz]=konqueror,файл бошқарувчиси,йўллар,иш столи,директориялар,авто-бошлаш
X-KDE-Keywords[vi]=konqueror,trình quản lý tập tin,đường dẫn,màn hình nền,thư mục,tự khởi động
X-KDE-Keywords[wa]=konqueror,manaedjeu d' fitchîs,tchimins,tchmins,sicribanne,scribanne,ridants,enondaedje otomatike
X-KDE-Keywords[x-test]=xxkonqueror,filemanager,paths,desktop,directories,autostartxx
X-KDE-Keywords[zh_CN]=konqueror,filemanager,paths,desktop,directories,autostart,文件管理器,路径,桌面,目录,自动启动
X-KDE-Keywords[zh_TW]=konqueror,filemanager,paths,desktop,directories,autostart,征服家,檔案管理程式,路徑,桌面,目錄,自動啟動
