[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule
DocPath=kcontrol/desktop/index.html#desktop-desktop-path
Icon=kfm
Exec=kcmshell desktoppath

X-KDE-Library=kcm_konq
X-KDE-FactoryName=dpath
X-KDE-ParentApp=kcontrol

Name=Paths
Name[af]=Soekgidse
Name[ar]=المسارات
Name[be]=Шляхі
Name[bg]=Пътища
Name[br]=Hentoù
Name[ca]=Rutes
Name[cs]=Cesty
Name[csb]=Stegnë
Name[cy]=Llwybrau
Name[da]=Stier
Name[de]=Pfade
Name[el]=Κατάλογοι
Name[eo]=Padoj
Name[es]=Rutas
Name[et]=Otsinguteed
Name[eu]=Bide-izenak
Name[fa]=مسیرها
Name[fi]=Polut
Name[fr]=Chemins
Name[fy]=Paden
Name[ga]=Conairí
Name[gl]=Camiños
Name[he]=נתיבים
Name[hr]=Putanje
Name[hu]=Elérési utak
Name[is]=Slóðir
Name[it]=Percorsi
Name[ja]=パス
Name[ka]=ბილიკი
Name[kk]=Жолдар
Name[km]=ផ្លូវ
Name[lt]=Keliai
Name[lv]=Ceļi
Name[mk]=Патеки
Name[ms]=Laluan
Name[nb]=Stier
Name[nds]=Padden
Name[ne]=मार्ग
Name[nl]=Paden
Name[nn]=Stiar
Name[pa]=ਮਾਰਗ
Name[pl]=Ścieżki
Name[pt]=Localizações
Name[pt_BR]=Caminhos
Name[ro]=Căi
Name[ru]=Пути
Name[se]=Bálgát
Name[sl]=Poti
Name[sr]=Путање
Name[sr@Latn]=Putanje
Name[sv]=Sökvägar
Name[ta]=பாதைகள்
Name[tg]=Роҳчаҳо
Name[tr]=Yollar
Name[uk]=Шляхи
Name[uz]=Йўллар
Name[x-test]=xxPathsxx
Name[xh]=Umendo
Name[zh_TW]=路徑

Comment=Change the location important files are stored
Comment[af]=Verander die ligging belangrik lêers word gestoor
Comment[ar]=غير المكان المستعمل لحفظ الملفات المهمة
Comment[be]=Змена тэчак для захавання важных файлаў
Comment[bg]=Настройки на местоположението на важни файлове
Comment[ca]=Canvia la localització d'on seran desats els fitxers importants
Comment[cs]=Změna umístění důležitých souborů
Comment[csb]=Môl trzëmaniô wôżnëch lopków
Comment[cy]=Newid lle mae ffeiliau pwysig yn cael eu cadw
Comment[da]=Ændr stedet hvor vigtige filer gemmes
Comment[de]=Den Ordner für wichtige Dateien ändern
Comment[el]=Αλλάξτε την τοποθεσία στην οποία αποθηκεύονται σημαντικά αρχεία
Comment[eo]=Ŝanĝu la lokon, kie oni konservas gravajn dosierojn
Comment[es]=Chambiar la ubicación de archivos importantes
Comment[et]=Oluliste failide asukoha muutmine
Comment[eu]=Aldatu fitxategi inportanteen kokapena
Comment[fa]=تغییر محل ذخیرۀ پرونده‌های مهم
Comment[fi]=Tässä kohdassa voit määritellä minne tärkeät tiedostot tallennetaan
Comment[fr]=Changer l'endroit où les fichiers importants sont stockés
Comment[fy]=Hjir kinne jo de lokaasje fan it bewarjen fan belangrike triemmen wizigje
Comment[gl]=Cambiar o lugar onde se gaardan os ficheiro importantes
Comment[he]=שינוי המיקומים בהם מאוחסנים קבצים חשובים
Comment[hr]=Promijenite lokaciju za smještaj važnih datoteka
Comment[hu]=Néhány fontosabb elérési utat lehet itt beállítani
Comment[is]=Breyta staðsetningu mikilvægra skráa
Comment[it]=Cambia la posizione in cui vengono salvati i file importanti
Comment[ja]=重要なファイルなどの保存場所を変更
Comment[ka]=მნიშვნელოვანი ფაილბის გეზის ცვლილება შენახულია
Comment[kk]=Маңызды файлдар орналасатын орындарын өзгерту
Comment[km]=ប្ដូរ​ទីតាំង​ដែល​ត្រូវ​ទុក​ឯកសារ​សំខាន់ៗ
Comment[lt]=Pakeiskite svarbių bylų saugojimo vietą
Comment[lv]=Mainīt nozīmīgu failu atrašanās vietas
Comment[mk]=Сменете ја локацијата каде што се чуваат важни датотеки
Comment[ms]=Ubah lokasi fail penting disimpan
Comment[nb]=Endre plasseringa av viktige filer
Comment[nds]=Den Oort för wichtige Dateien ännern
Comment[ne]=महत्वपूर्ण फाइल भण्डारण गरिएको स्थान परिवर्तन गर्नुहोस्
Comment[nl]=Hier kunt u de locatie voor het opslaan van belangrijke bestanden wijzigen
Comment[nn]=Endra plasseringa av viktige filer
Comment[pa]=ਜ਼ਰੂਰੀ ਫਾਇਲਾਂ ਸੰਭਾਲਣ ਲਈ ਟਿਕਾਣਾ ਤਬਦੀਲ
Comment[pl]=Miejsce przechowywania ważnych plików
Comment[pt]=Alterar as localizações onde os ficheiros importantes estão guardados
Comment[pt_BR]=Modifica a localização onde importantes arquivos devem ser armazenados
Comment[ro]=Modifică locaţia de stocare a fişierelor importante
Comment[ru]=Пути к важным файлам
Comment[se]=Rievdat báikkiid gosa dehálaš fiillat bidjut
Comment[sl]=Spremenite lokacije shranjenih pomembnih datotek
Comment[sr]=Промена локације где су смештени битни фајлови
Comment[sr@Latn]=Promena lokacije gde su smešteni bitni fajlovi
Comment[sv]=Ändra plats för lagring av viktiga filer
Comment[ta]=முக்கிய கோப்புகள் சேகரிக்கப்பட்டுள்ள இடத்தை மாற்று
Comment[tg]=Тариқ барои файлҳои асосӣ
Comment[tr]=Önemli dosyaların kaydedildiği yeri düzenle
Comment[uk]=Зміна адреси зберігання важливих файлів
Comment[uz]=Муҳим файлларнинг жойлашган жойини ўзгартириш
Comment[x-test]=xxChange the location important files are storedxx
Comment[xh]=Tshintsha indawo apho zibekwa kona iifayile ezibalulekileyo
Comment[zh_TW]=改變儲存重要檔案的位置
Keywords=konqueror,filemanager,paths,desktop,directories,autostart
Keywords[ar]=konqueror,مسيير الملفات,المسارات,سطح المكتب,الأدلة,تلقائية بدء التشغيل
Keywords[be]=Кіраўнік файлаў,Шляхі,Працоўны стол,Тэчкі,Дырэкторыі,Аўтаматычны запуск,Аўтазапуск,Запуск,konqueror,filemanager,paths,desktop,directories,autostart
Keywords[bg]=път, документи, работен, плот, konqueror, filemanager, paths, desktop, directories, autostart
Keywords[ca]=konqueror,gestor de fitxers,rutes,escriptori,directoris,autoinici
Keywords[cs]=Konqueror,Správce souborů,Cesty,Plocha,Adresáře,Autostart, Automatické spuštění
Keywords[csb]=konqueror,menedżer lopków,stegnë,biurko,pùlt,katalodżi,automatné zrëszënié
Keywords[da]=konqueror,filhåndtering,stier,desktop,mapper,autostart
Keywords[de]=Konqueror,Dateimanager,Pfade,Arbeitsfläche,Mülleimer,Verzeichnisse,Ordner,Autostart
Keywords[el]=konqueror,διαχειριστής αρχείων,διαδρομές,επιφάνεια εργασίας,απορρίμματα,κατάλογοι,αυτόματη εκκίνηση
Keywords[eo]=konqueranto,dosieradministrilo,vojoj,labortablo,dosierujoj,aŭtolanĉo
Keywords[es]=konqueror,administrador de archivos,rutas,escritorio,papelera,directorios,autoinicio
Keywords[et]=konqueror,failihaldur,otsinguteed,töölaud,kataloogid,autostart
Keywords[eu]=konqueror,fitxategi kudeatzailea,bide-izenak,mahaigaina,direktorioak,autoabiatu
Keywords[fa]=konqueror، مدیر پرونده، مسیرها، رومیزی، فهرستهای راهنما، خودآغاز
Keywords[fi]=konqueror,tiedostonhallinta,polut,työpöytä,kansiot,automaattikäynnistys
Keywords[fr]=konqueror,gestionnaire de fichiers,explorateur,paths,chemins,bureau,dossiers,répertoires,démarrage automatique,autostart
Keywords[fy]=konqueror,filemanager,bestandsbeheer,triembehear,path,paden,paad,zoekpaden,sykpaden,desktop,bureaublad,buroblêd,trash,prullenbak,jiskefet,directories,triemtafels,mappen,folders,autostart,documenten,dokuminten
Keywords[ga]=konqueror,bainisteoir comhad,conairí,deasc,comhadlanna
Keywords[gl]=konqueror,xestor de ficheiros,rotas,escritório,lixo,cartafoles,autoinício
Keywords[he]=konqueror,מנהל קבצים,נתיבים,שולחן עבודה,אשפה,ספריות,הפעלה אוטומטית, filemanager,paths,desktop,directories,autostart
Keywords[hr]=konqueror,filemanager,paths,desktop,directories,autostart,upravljač datotekama,putanje,radna površina,mape,automatsko pokretanje
Keywords[hu]=Konqueror,fájlkezelő,elérési utak,munkaasztal,könyvtárak,automatikus indítás
Keywords[is]=konqueror,skráastjóri,slóðir,skjáborð,möppur,sjálfræsing
Keywords[it]=konqueror,filemanager,percorsi,path,desktop,cestino,directory,avvio automatico,gestione file,file
Keywords[ja]=konqueror,ファイルマネージャ,パス,デスクトップ,ごみ箱,ディレクトリ,自動スタート
Keywords[km]=konqueror,កម្មវិធី​គ្រប់គ្រង​ឯកសារ,ផ្លូវ,ផ្ទៃតុ,ថត,ចាប់ផ្ដើម​ស្វ័យប្រវត្តិ
Keywords[lt]=konqueror,filemanager,paths,desktop,directories,autostart, bylų tvarkyklė,keliai,darbastalis,aplankai
Keywords[mk]=konqueror,filemanager,paths,desktop,trash,directories,autostart,менаџер на датотеки,патеки,работна површина,површина,корпа,именици,директориуми,папки,автостарт
Keywords[nb]=konqueror,filbehandler,paths,desktop,papirkurv,mapper,autostart,filbehandler,stier,arbeidsflate,søppel,kataloger,skrivebord
Keywords[nds]=Konqueror,Dateipleger,Padden,Schriefdisch,Orner,Autostart
Keywords[ne]=कन्क्वेरर, फाइल प्रबन्धक, मार्गहरू, डेस्कटप, डाइरेक्टरीहरू, स्वत: सुरुआत
Keywords[nl]=konqueror,filemanager,bestandsbeheer,path,paden,zoekpaden,desktop,bureaublad,trash,prullenbak,directories,mappen,folders,autostart,documenten,
Keywords[nn]=Konqueror,filhandsamar,stigar,skrivebord,mapper,autostart
Keywords[pa]=autostart,ਕੋਨਕਿਉਰਰ,ਫਾਇਲ ਪਰਬੰਧਕ,ਮਾਰਗ,ਵੇਹੜਾ,ਡਾਇਰੈਕਟਰੀਆਂ
Keywords[pl]=konqueror,menedżer plików,ścieżki,biurko,pulpit,katalogi,automatyczne uruchamianie
Keywords[pt]=konqueror,gestor de ficheiros,localizações,ecrã,lixo,directorias,arranque,pastas
Keywords[pt_BR]=konqueror,gerenciador de arquivos, caminhos,área de trabalho,pastas,auto-início
Keywords[ro]=konqueror,manager de fişiere,căi,desktop,directoare,autostart
Keywords[ru]=konqueror,filemanager,paths,desktop,trash,directories,autostart
Keywords[se]=konqueror,fiilagieđahalli,bálgát,čállinbeavdi,máhpat,autoálggaheapmi
Keywords[sl]=konqueror,upravitelj datotek,poti,namizje,mape,samodejni zagon
Keywords[sr]=konqueror,filemanager,paths,desktop,directories,autostart,путање,менаџер,радна,површина,фасцикле
Keywords[sr@Latn]=konqueror,filemanager,paths,desktop,directories,autostart,putanje,menadžer,radna,površina,fascikle
Keywords[sv]=konqueror,filhanterare,sökvägar,skrivbord,kataloger,automatisk start
Keywords[ta]=கான்கொரர்,கோப்பு மேலாளர்,பாதைகள்,மேல்மேசை,அடைவுகள்,தானாகவே தொடங்குதல்
Keywords[tr]=konqueror,dosya yöneticisi,yollar,masaüstü,çöp,dizinler,otomatik başlangıç
Keywords[uk]=konqueror,менеджер файлів,шляхи,стільниця,смітник,каталоги,автозапуск
Keywords[uz]=konqueror,файл бошқарувчиси,йўллар,иш столи,директориялар,авто-бошлаш
Keywords[x-test]=xxkonqueror,filemanager,paths,desktop,directories,autostartxx
Keywords[zh_TW]=konqueror,filemanager,paths,desktop,directories,autostart,征服家,檔案管理程式,路徑,桌面,目錄,自動啟動
