[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/filemanager/index.html
Icon=preferences-desktop-theme
Exec=kcmshell4 fileappearance

X-KDE-Library=kcm_konq
X-KDE-PluginKeyword=appearance

Name=Appearance
Name[af]=Voorkoms
Name[ar]=المظهر
Name[as]=চেহেৰা
Name[ast]=Aspeutu
Name[be]=Вонкавы выгляд
Name[be@latin]=Vonkavaść
Name[bg]=Изглед
Name[bn]=চেহারা
Name[bn_IN]=চেহারাছবি
Name[br]=Neuziadur
Name[bs]=Izgled
Name[ca]=Aparença
Name[ca@valencia]=Aparença
Name[cs]=Vzhled
Name[csb]=Wëzdrzatk
Name[cy]=Golwg
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[el]=Εμφάνιση
Name[en_GB]=Appearance
Name[eo]=Aspekto
Name[es]=Aspecto
Name[et]=Välimus
Name[eu]=Itxura
Name[fa]=ظاهر
Name[fi]=Ulkonäkö
Name[fr]=Apparence
Name[fy]=Uterlik
Name[ga]=Cuma
Name[gl]=Aparencia
Name[gu]=દેખાવ
Name[he]=מראה
Name[hi]=रूप
Name[hne]=रूप
Name[hr]=Izgled
Name[hsb]=Napohlad
Name[hu]=Megjelenés
Name[ia]=Apparentia
Name[id]=Tampilan
Name[is]=Útlit
Name[it]=Aspetto
Name[ja]=外観
Name[ka]=გარეგნობა
Name[kk]=Көрініс
Name[km]=រូបរាង
Name[kn]=ಸ್ವರೂಪ
Name[ko]=모양
Name[ku]=Xuyanî
Name[lt]=Išvaizda
Name[lv]=Izskats
Name[mai]=प्रकटन
Name[mk]=Изглед
Name[ml]=ചമയം
Name[mr]=दर्शन
Name[ms]=Rupa
Name[nb]=Utseende
Name[nds]=Utsehn
Name[ne]=देखावट
Name[nl]=Uiterlijk
Name[nn]=Utsjånad
Name[oc]=Aparéncia
Name[or]=ଦୃଶ୍ୟ
Name[pa]=ਦਿੱਖ
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ro]=Aspect
Name[ru]=Внешний вид
Name[se]=Fárda
Name[si]=පෙනුම
Name[sk]=Vzhľad
Name[sl]=Videz
Name[sr]=Изглед
Name[sr@ijekavian]=Изглед
Name[sr@ijekavianlatin]=Izgled
Name[sr@latin]=Izgled
Name[sv]=Utseende
Name[ta]=தோற்றம்
Name[te]=కనిపించువిధం
Name[tg]=Намуди зоҳирӣ
Name[th]=รูปลักษณ์
Name[tr]=Görünüm
Name[ug]=كۆرۈنۈشى
Name[uk]=Вигляд
Name[uz]=Tashqi koʻrinish
Name[uz@cyrillic]=Ташқи кўриниш
Name[vi]=Diện mạo
Name[wa]=Rivnance
Name[xh]=Inkangeleko
Name[x-test]=xxAppearancexx
Name[zh_CN]=外观
Name[zh_TW]=外觀

Comment=You can configure how Konqueror looks as a file manager here
Comment[af]=Jy kan hier opstel hoe Konqueror as 'n lêer bestuurder lyk
Comment[ar]=يمكنك هنا ضبط مظهر كونكيورر كمدير للملفات
Comment[as]=Konqueror নথিপত্ৰৰ পৰিচালক হিচাপে কেনেদৰে দেখা দিয়ে আপুনি ইয়াত বিন্যাস কৰিব পাৰে
Comment[ast]=Equí puedes configurar l'aspeutu de Konqueror como xestor de ficheros
Comment[be]=Тут вы можаце змяніць выгляд Konqueror для кіравання файламі
Comment[be@latin]=Tut možna naładzić vonkavaść fajłavaha kiraŭnika „Konqueror”
Comment[bg]=Настройване външния вид на файловия браузър
Comment[bn]=ফাইল ম্যানেজার হিসাবে কনকরার-এর চেহারা কেমন হবে তা এখানে কনফিগার করতে পারেন
Comment[bn_IN]=ফাইল পরিচালন ব্যবস্থা হিসাবে Konqueror-র চেহারাছবি এইখানে কনফিগার করা যাবে
Comment[br]=Amañ e c'hellit kefluniañ penaos Konqueror az zo gwellet evel a merour restroù
Comment[bs]=Ovdje podešavate izgled K‑osvajača kao menadžera datoteka
Comment[ca]=Aquí podeu configurar com es mostrarà el Konqueror com a gestor de fitxers
Comment[ca@valencia]=Ací podeu configurar com es mostrarà el Konqueror com a gestor de fitxers
Comment[cs]=Zde je možné nastavit vzhled správce souborů
Comment[csb]=Kònfigùracëjô wëzdrzatkù Konquerora jakno menadżera lopków
Comment[cy]=Ffurfweddu golwg Konqueror fel rheolydd ffeiliau
Comment[da]=Her kan du indstille hvordan Konqueror ser ud som filhåndtering
Comment[de]=Hier können Sie das Erscheinungsbild von Konqueror als Dateimanager festlegen
Comment[el]=Εδώ μπορείτε να διαμορφώσετε την εμφάνιση του Konqueror ως διαχειριστή αρχείων
Comment[en_GB]=You can configure how Konqueror looks as a file manager here
Comment[eo]=Ĉi tie vi povas agordi kiel konkeranto aspektas kiel dosieradministrilo
Comment[es]=Aquí puede configurar el aspecto de Konqueror como gestor de archivos
Comment[et]=Konquerori failihalduri välimuse seadistamine
Comment[eu]=Konquerorren itxura konfigura dezakezu fitxategi-kudeatzaile gisa ari denean
Comment[fa]=می‌توانید پیکربندی کنید، که اینجا Konqueror به عنوان مدیر پرونده  چگونه به نظر می‌رسد.
Comment[fi]=Tässä kohdassa voit muokata Konquerorin tiedostonhallinnan ulkonäön asetuksia
Comment[fr]=Vous pouvez configurer ici l'apparence de Konqueror en tant que gestionnaire de fichiers
Comment[fy]=Hjir kinne jo it uterlik fan Konqueror as triembehearder ynstelle
Comment[ga]=Leis seo is féidir cuma Konqueror a chumrú mar bhainisteoir comhad
Comment[gl]=Aquí pode configurar o aspecto de Konqueror como xestor de ficheiros
Comment[gu]=તમે કોન્કરર ફાઇલ વ્યવસ્થાપક જેવું દેખાય તેવું રૂપરેખાંકન અહીં કરી શકો છો
Comment[he]=הגדרת המראה של Konqueror כמנהל קבצים
Comment[hi]=आप कॉन्फ़िगर कर सकते हैं कि कॉन्करर यहाँ फ़ाइल प्रबंधक जैसे कैसे दिखे
Comment[hne]=आप कान्फिगर कर सकथो कि कान्करर इहां फाइल प्रबंधक जइसन कइसे दिखही
Comment[hr]=Konfiguriranje izgleda Konqueror upravljača datoteka
Comment[hsb]=Tu móžeće nastajić, kak konqueror jako datajowy manager wupada.
Comment[hu]=Itt lehet beállítani a Konqueror fájlkezelő jellemzőit
Comment[ia]=Tu pote configurar como Konqueror monstra se ci como gerente de file
Comment[id]=Anda dapat mengubah bagaimana Konqueror terlihat sebagai manajer berkas di sini
Comment[is]=Hér getur þú stillt hvernig Konqueror lítur út sem skráastjóri
Comment[it]=Configura l'aspetto di Konqueror come gestore dei file
Comment[ja]=Konqueror ファイルマネージャの外観を設定
Comment[ka]=Konqueror-ის, როგორც ფაილური მენეჯერის, იერის კონფიგურირება
Comment[kk]=Konqueror файл менеджер ретінде қолданғандағы көрінісі
Comment[km]=នៅ​ទីនេះ អ្នក​អាច​កំណត់​រចនា​សម្ព័ន្ធ​របៀប​ដែល Konqueror មើល​ទៅ​ដូចជា​កម្មវិធី​គ្រប់គ្រង​ឯកសារ
Comment[kn]=ಕಾಂಕರರ್ ಕಡತ ವ್ಯವಸ್ಥಾಪಕವಾಗಿ ಕಂಡುಬರುವ ರೀತಿಯನ್ನು ಇಲ್ಲಿ ಸಂರಚಿಸಬಹುದು
Comment[ko]=Konqueror의 파일 관리자로서의 모양 설정
Comment[ku]=Ji virê xuyakirina Konquerorê a wekî rêvebera pelan ava bike
Comment[lt]=Čia galite nustatyti, kaip atrodo Konqueror kaip failų tvarkyklė
Comment[lv]=Šeit varat konfigurēt Konqueror failu pārlūkošanas režīma izskatu
Comment[mai]=अहाँ बिन्यस्त कए सकैत छी जे कान्करर एतय फाइल प्रबंधक जहिना काज करै
Comment[mk]=Конфигурирајте го изгледот на Konqueror како менаџер на датотеки
Comment[ml]=നിങ്ങള്‍ക്കു് കോണ്‍ക്വറര്‍ ഒരു ഫയലുകളുടെ നടത്തിപ്പുകാരനാകുമ്പോള്‍ എങ്ങനെ കാണാം എന്നതിവിടെ ക്രമീകരിയ്ക്കാം
Comment[mr]=कॉन्करर फाइल प्रबंधक नुरूप कसे दर्शवायचे ते संयोजीत करू शकता
Comment[ms]=Anda boleh konfigur bagaiman rupa Konqueror sebagai pengurus fail di sini
Comment[nb]=Tilpass hvordan filbehandleren Konqueror skal se ut
Comment[nds]=Hier kannst Du instellen, wodennig Konqueror as Dateipleger utsehn schall
Comment[ne]=तपाईँले यहाँ कन्क्वेररले फाइल प्रबन्धकलाई हेर्ने तरिका कन्फिगर गर्न सक्नुहुन्छ
Comment[nl]=Hier kunt u het uiterlijk van Konqueror als bestandsbeheerder instellen
Comment[nn]=Her kan du velja korleis filhandsamaren Konqueror skal sjå ut
Comment[or]=Konqueror ଏଠାରେ ଫାଇଲ ପରିଚାଳକ ପରି କେମିତି ଦେଖାଯାଉଛି ତାହାକୁ ବିନ୍ୟାସ କରନ୍ତୁ
Comment[pa]=ਤੁਸੀਂ ਇੱਥੇ ਸੰਰਚਿਤ ਕਰ ਸਕਦੇ ਹੋ ਕਿ ਕੋਨਕਿਉਰਰ ਇੱਕ ਫਾਇਲ ਮੈਨੇਜਰ ਦੇ ਰੂਪ ਵਿੱਚ ਕਿਵੇਂ ਦਿਖਾਈ ਦੇਵੇਗਾ।
Comment[pl]=Konfiguracja wyglądu Konquerora jako menedżera plików
Comment[pt]=O utilizador pode configurar aqui a forma como o Konqueror age, como um gestor de ficheiros
Comment[pt_BR]=Você pode configurar a aparência do Konqueror como gerenciador de arquivos aqui
Comment[ro]=Configurează aspectul Konqueror ca manager de fișiere
Comment[ru]=Настройка внешнего вида Konqueror как диспетчера файлов
Comment[se]=Dás heivehat Konquerora fárdda fiilagieđahallin
Comment[si]=ඔබට මෙහිදී Konqueror ගොනු කළමනාකරුවෙකු ලෙස පෙනෙන ආකාර සැකසිය හැක
Comment[sk]=Nastavenie vzhľadu Konquerora ako správcu súborov
Comment[sl]=Nastavitve videza Konquerorja kot upravljalnika datotek
Comment[sr]=Овде подешавате изглед К‑освајача као менаџера фајлова
Comment[sr@ijekavian]=Овдје подешавате изглед К‑освајача као менаџера фајлова
Comment[sr@ijekavianlatin]=Ovdje podešavate izgled K‑osvajača kao menadžera fajlova
Comment[sr@latin]=Ovde podešavate izgled K‑osvajača kao menadžera fajlova
Comment[sv]=Anpassa hur Konqueror ser ut som filhanterare
Comment[ta]=கான்கொரர் கோப்பு மேலாளராக எப்படி தெரிகிறது என்பதை இங்கே வடிவமைக்க முடியும்.
Comment[te]=ఇక్కడ దస్త్రనిర్వాహికలా Konqueror ఎలా కనిపించాలో మీరు ఆకృతీకరించవచ్చు
Comment[tg]=Танзимоти намуди зоҳирии Konqueror монанди Мудири файлҳо
Comment[th]=คุณสามารถปรับแต่งว่าจะให้ Konqueror หน้าตาเป็นอย่างไรในการเป็นเครื่องมือจัดการแฟ้มได้ที่นี่
Comment[tr]=Konqueror uygulamasının dosya yöneticisi olarak nasıl görüneceğini buradan yapılandırabilirsiniz
Comment[ug]=سىز بۇ جايدا Konqueror نىڭ ھۆججەت باشقۇرغۇچ كۆرۈنۈشىنى سەپلىيەلەيسىز
Comment[uk]=Тут можна налаштувати вигляд Konqueror, як інструмента керування файлами
Comment[uz]=Konqueror fayl boshqaruvchisi sifatida qanday koʻrinishini moslash
Comment[uz@cyrillic]=Konqueror файл бошқарувчиси сифатида қандай кўринишини мослаш
Comment[vi]=Bạn có thể cấu hình ngoại hình của Konqueror trông như nào khi quản lý tập tin ở đây
Comment[wa]=Chal vos ploz apontyî li dujhance di Konqueror cwand i fwait do manaedjeu di fitchîs
Comment[xh]=Ungaqwalasela indlela ebonakala ngoyo i Konqueror njengomphathi wefayile
Comment[x-test]=xxYou can configure how Konqueror looks as a file manager herexx
Comment[zh_CN]=您可以在这里配置 Konqueror 的文件管理器外观
Comment[zh_TW]=您可以在這裡設定 Konqueror 做為檔案管理程式的外觀

X-KDE-Keywords=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour
X-KDE-Keywords[ca]=konqueror,gestor de fitxers,ajust de paraules,ajust,subratllat,pantalla,mida de fitxer,bytes,tipus de lletra,color,color
X-KDE-Keywords[ca@valencia]=konqueror,gestor de fitxers,ajust de paraules,ajust,subratllat,pantalla,mida de fitxer,bytes,tipus de lletra,color
X-KDE-Keywords[da]=konqueror,filhåndtering,ordombrydning,ombrydning,understregning,visning,filstørrelse,bytes,font,skrifttype,farve
X-KDE-Keywords[de]=Konqueror,Dateimanager,Zeilenumbruch,Textumbruch,Unterstreichen,Darstellung,Dateigröße,Schrift,Farbe,Byte
X-KDE-Keywords[el]=konqueror,filemanager,αναδίπλωση λέξης,αναδίπλωση,υπογράμμιση,εμφάνιση,μέγεθος αρχείου,bytes,γραμματοσειρά,χρώμα,χρώμα
X-KDE-Keywords[es]=konqueror,gestor de archivos,ajuste de palabra,ajuste,subrayado,pantalla,tamaño de archivo,bytes,tipo de letra,color
X-KDE-Keywords[et]=konqueror,failihaldur,reamurdmine,allajoonimine,kuvamine,failisuurus,baidid,font,värv
X-KDE-Keywords[fi]=konqueror,tiedostonhallinta,rivitys,alleviivaus,näkymä,näyttö,tiedostokoko,tavuja,tavut,kirjasin,fontti,väri
X-KDE-Keywords[fr]=konqueror,gestionnaire de fichier,passage à la ligne,sauter,souligner,afficher,taille de fichier,octets,police,couleur,couleur
X-KDE-Keywords[ga]=konqueror,bainisteoir comhad,timfhilleadh focal,timfhilleadh,líne faoi,scáileán,méid comhaid,bearta,cló,clófhoireann,dath
X-KDE-Keywords[hu]=konqueror,fájlkezelő,szótördelés,tördelés,aláhúzás,megjelenítés,fájlméret,bájtok,betűtípus,szín,szín
X-KDE-Keywords[ia]=konqueror,gerente de file, torno de parolas, torno,sublinea,monstra,grandor de file,bytes,font,color,color
X-KDE-Keywords[it]=konqueror,gestore dei file,a capo automatico,sottolinea,mostra,dimensione dei file,byte,carattere,colore
X-KDE-Keywords[kk]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour
X-KDE-Keywords[km]=konqueror កម្មវិធី​គ្រប់គ្រង​ឯកសារ ការ​រុំ​ពាក្យ រុំ គូស​បន្ទាត់​ក្រោម ទិដ្ឋភាព ទំហំ​ឯកសារ បៃ ពុម្ពអក្សរ ពណ៌ ពណ៌
X-KDE-Keywords[ko]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,파일,파일 관리자,워드랩,밑줄,표시,크기,바이트,글꼴,색,색상
X-KDE-Keywords[lv]=konqueror,failu pārvaldnieks,vārdu aplaušana,aplaušana,pasvītrojums,displejs,failu izmērs,baiti,fonts,krāsa
X-KDE-Keywords[nb]=konqueror,filbehandler,ordbryting,bryting,understrek,visning,filstørrelse,byte,skrift,farge
X-KDE-Keywords[nds]=Konqueror,Dateipleger,Reegümbrook,Ümbrook,ümbreken,Ünnerstreek,Dorstellen,Ansicht,Dateigrött,Bytes,Schrift,Klöör
X-KDE-Keywords[nl]=konqueror,bestandsbeheerder,regelafbreken,afbreken,onderstrepen,tonen,bestandsgrootte,bytes,lettertype,kleur,kleur
X-KDE-Keywords[pl]=konqueror,menadżer plików,zawijanie słów,zawijanie,podkreślenie,wyświetlanie,rozmiar pliku, bajty,czcionka,kolor,barwa
X-KDE-Keywords[pt]=konqueror,gestor de ficheiros,mudança de linha,mudança,sublinhado,mostrar,tamanho do ficheiro,bytes,tipo de letra,cor
X-KDE-Keywords[pt_BR]=konqueror,gerenciador de arquivos,mudança de linha,mudança,sublinhado,mostrar,tamanho do arquivo,bytes,fonte,cor,cores
X-KDE-Keywords[sk]=konqueror,správca súborov,zalamovanie slov,zalamovanie,podčiarknutie,displej,veľkosť súboru,bajty,písmo,farba,farby
X-KDE-Keywords[sl]=konqueror,upravljalnik datotek,prelom vrstice,prelom,podčrtaj,prikaz,velikost datoteke,bajtov,pisava,barva
X-KDE-Keywords[sr]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,К‑освајач,менаџер фајлова,прелом речи,прелом,подвучено,приказ,величина фајла,бајтови,фонт,боја
X-KDE-Keywords[sr@ijekavian]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,К‑освајач,менаџер фајлова,прелом речи,прелом,подвучено,приказ,величина фајла,бајтови,фонт,боја
X-KDE-Keywords[sr@ijekavianlatin]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,K‑osvajač,menadžer fajlova,prelom reči,prelom,podvučeno,prikaz,veličina fajla,bajtovi,font,boja
X-KDE-Keywords[sr@latin]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,K‑osvajač,menadžer fajlova,prelom reči,prelom,podvučeno,prikaz,veličina fajla,bajtovi,font,boja
X-KDE-Keywords[sv]=konqueror,filhanterare,radbrytning,understreck,visa,filstorlek,byte,teckensnitt,färg
X-KDE-Keywords[tr]=konqueror,dosya yöneticisi,sözcük kaydır,kaydır,altını çiz,göster,dosya boyutu,bayt,yazı tipi,renk
X-KDE-Keywords[uk]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,керування,файл,файли,перенесення,рядки,підкреслення,підкреслювання,показ,розмір,байти,шрифт,колір,кольори
X-KDE-Keywords[wa]=konqueror,manaedjeu di fitchî,sorlignî,håyner,håynaedje,grandeu d' fitchî,bytes,bites,fonte,coleur,octets
X-KDE-Keywords[x-test]=xxkonqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colourxx
X-KDE-Keywords[zh_CN]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,文件管理器,文本换行,换行,下划线,显示,文件大小,字体,颜色
X-KDE-Keywords[zh_TW]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour
