[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule
DocPath=kcontrol/filemanager/index.html
Icon=kfm
Exec=kcmshell fileappearance

X-KDE-Library=kcm_konq
X-KDE-PluginKeyword=appearance

Name=Appearance
Name[af]=Voorkoms
Name[ar]=المظهر
Name[be]=Вонкавы выгляд
Name[bg]=Системен панел
Name[br]=Neuziadur
Name[ca]=Aparença
Name[cs]=Vzhled
Name[csb]=Wëzdrzatk
Name[cy]=Golwg
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[el]=Εμφάνιση
Name[eo]=Aspekto
Name[es]=Aspecto
Name[et]=Välimus
Name[eu]=Itxura
Name[fa]=ظاهر
Name[fi]=Ulkonäkö
Name[fr]=Apparence
Name[fy]=Uterlik
Name[ga]=Cuma
Name[gl]=Apariencia
Name[he]=מראה
Name[hr]=Izgled
Name[hu]=Megjelenés
Name[is]=Útlit
Name[it]=Aspetto
Name[ja]=外観
Name[ka]=გარეგნობა
Name[kk]=Көрініс
Name[km]=រូបរាង
Name[ko]=모양
Name[lt]=Išvaizda
Name[lv]=Izskats
Name[mk]=Изглед
Name[ms]=Rupa
Name[nb]=Utseende
Name[nds]=Utsehn
Name[ne]=देखावट
Name[nl]=Uiterlijk
Name[nn]=Utsjånad
Name[pa]=ਦਿੱਖ
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ro]=Aspect
Name[ru]=Внешний вид
Name[se]=Fárda
Name[sl]=Videz
Name[sr]=Изглед
Name[sr@latin]=Izgled
Name[sv]=Utseende
Name[ta]=தோற்றம்
Name[tg]=Намуди зоҳирӣ
Name[th]=รูปลักษณ์
Name[tr]=Görünüm
Name[uk]=Вигляд
Name[uz]=Ташқи кўриниш
Name[vi]=Diện mạo
Name[wa]=Rivnance
Name[x-test]=xxAppearancexx
Name[xh]=Inkangeleko
Name[zh_TW]=外觀

Comment=You can configure how Konqueror looks as a file manager here
Comment[af]=Jy kan hier opstel hoe Konqueror as 'n lêer bestuurder lyk
Comment[ar]=يمكنك هنا إعداد كيفية ظهور كونكيورر كمدير للملفات
Comment[be]=Тут вы можаце змяніць выгляд Konqueror для кіравання файламі
Comment[bg]=Настройване външния вид на файловия браузър
Comment[br]=Amañ e c'hellit kefluniañ penaos Konqueror az zo gwellet evel a merour restroù
Comment[ca]=Aquí podeu configurar com es mostrarà el Konqueror com a gestor de fitxers
Comment[cs]=Zde je možné nastavit vzhled správce souborů
Comment[csb]=Kònfigùracëjô wëzdrzatkù Konquerora jakno menadżera lopków
Comment[cy]=Ffurfweddu golwg Konqueror fel rheolydd ffeiliau
Comment[da]=Her kan du indstille hvordan Konqueror ser ud som filhåndtering
Comment[de]=Hier können Sie das Erscheinungsbild von Konqueror als Dateimanager festlegen
Comment[el]=Εδώ μπορείτε να ρυθμίσετε το πως θα εμφανίζεται το Konqueror ως διαχειριστής αρχείων
Comment[eo]=Ĉi tie vi povas agordi kiel konkeranto aspektas kiel dosieradministrilo
Comment[es]=Aquí puede configurar el aspecto de Konqueror como gestor de ficheros
Comment[et]=Konquerori failihalduri välimuse seadistamine
Comment[eu]=Hemen Konquerorren itxura konfigura dezakezu fitxategi kudeatzaile gisa ari denean
Comment[fa]=می‌توانید پیکربندی کنید، که اینجا Konqueror به عنوان مدیر پرونده  چگونه به نظر می‌رسد.
Comment[fi]=Tässä kohdassa voit määritellä Konquerorin tiedostonhallinnan ulkonäön asetuksia
Comment[fr]=Apparence de Konqueror en tant que gestionnaire de fichiers
Comment[fy]=Hjir kinne jo it uterlik fan Konqueror as triembehearder ynstelle
Comment[ga]=Leis seo is féidir cuma Konqueror a chumrú mar bhainisteoir comhad
Comment[gl]=Pode configurar aqui o xeito en que se mostra Konqueror como xestor de ficheiros
Comment[he]=שינוי הדרך שבה Konqueror נראה בתור מנהל קבצים
Comment[hr]=Konfiguriranje izgleda Konqueror upravljača datoteka
Comment[hu]=Itt lehet beállítani a Konqueror fájlkezelő jellemzőit
Comment[is]=Hér getur þú stillt hvernig Konqueror lítur út sem skráastjóri
Comment[it]=Configura l'aspetto di Konqueror come gestore dei file
Comment[ja]=Konqueror ファイルマネージャの外観を設定
Comment[ka]=Konqueror-ის, როგორც ფაილური მენეჯერის, იერის კონფიგურირება
Comment[kk]=Konqueror файл менеджер ретінде қолданғандағы көрінісі
Comment[km]=នៅ​ទីនេះ អ្នក​អាច​កំណត់​រចនា​សម្ព័ន្ធ របៀប​ដែល Konqueror មើល​ទៅ​ដូចជា​កម្មវិធី​គ្រប់គ្រង​ឯកសារ
Comment[ko]=Konqueror의 파일 관리자로서의 모양 설정
Comment[lt]=Čia galite nustatyti, kaip atrodo Konqueror-bylų tvarkyklė
Comment[lv]=Šeit jūs varat konfigurēt Iekarotāja izskatu failu pārlūkošanas laikā
Comment[mk]=Конфигурирајте го изгледот на Konqueror како менаџер на датотеки
Comment[ms]=Anda boleh konfigur bagaiman rupa Konqueror sebagai pengurus fail di sini
Comment[nb]=Tilpass hvordan filbehandleren Konqueror skal se ut
Comment[nds]=Hier kannst Du instellen, wodennig Konqueror as Dateipleger utsehn schall
Comment[ne]=तपाईँले यहाँ कन्क्वेररले फाइल प्रबन्धकलाई हेर्ने तरिका कन्फिगर गर्न सक्नुहुन्छ
Comment[nl]=Hier kunt u het uiterlijk van Konqueror als bestandsbeheerder instellen
Comment[nn]=Her kan du velja korleis filhandsamaren Konqueror skal sjå ut
Comment[pa]=ਤੁਸੀਂ ਇੱਥੇ ਸੰਰਚਿਤ ਕਰ ਸਕਦੇ ਹੋ ਕਿ ਕੋਨਕਿਉਰਰ ਇੱਕ ਫਾਇਲ ਮੈਨੇਜਰ ਦੇ ਰੂਪ ਵਿੱਚ ਕਿਵੇਂ ਦਿਖਾਈ ਦੇਵੇਗਾ।
Comment[pl]=Konfiguracja wyglądu Konquerora jako menedżera plików
Comment[pt]=O utilizador pode configurar aqui a forma como o Konqueror age, como um gestor de ficheiros
Comment[pt_BR]=Você pode configurar a aparência do Konqueror como gerenciador de arquivos aqui
Comment[ro]=Configurează aspectul Konqueror ca manager de fişiere
Comment[ru]=Настройка внешнего вида Konqueror как менеджера файлов
Comment[se]=Dás heivehat Konquerora fárdda fiilagieđahallin
Comment[sl]=Nastavitve izgleda Konquerorja kot upravitelja datotek
Comment[sr]=Овде можете подесити како ће Konqueror као менаџер фајлова да изгледа
Comment[sr@latin]=Ovde možete podesiti kako će Konqueror kao menadžer fajlova da izgleda
Comment[sv]=Anpassa hur Konqueror ser ut som filhanterare
Comment[ta]=கான்கொரர் கோப்பு மேலாளராக எப்படி தெரிகிறது என்பதை இங்கே வடிவமைக்க முடியும்.
Comment[tg]= Шумо метавонед зоҳири Konqueror-ро ба унвони мудири файл дар инҷо танзим кунед.
Comment[th]=คุณสามารถปรับแต่งว่าจะให้ Konqueror หน้าตาเป็นอย่างไรในการเป็นเครื่องมือจัดการแฟ้มได้ที่นี่
Comment[tr]=Konqueror'un dosya yöneticisi olarak nasıl görüneceğini yapılandırın
Comment[uk]=Тут можна налаштувати вигляд Konqeror, як менеджера сеансу
Comment[uz]=Konqueror файл бошқарувчиси сифатида қандай кўринишини мослаш
Comment[vi]=Bạn có thể cấu hình ngoại hình của Konqueror trông như nào khi quản lý tập tin ở đây
Comment[x-test]=xxYou can configure how Konqueror looks as a file manager herexx
Comment[xh]=Ungaqwalasela indlela ebonakala ngoyo i Konqueror njengomphathi wefayile
Comment[zh_TW]=您可以在這裡設定 Konqueror 做為檔案管理程式的外觀

Keywords=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour
Keywords[be]=Кіраўнік файлаў,Перанос словаў,Перанос,Падкрэсліванне,Падкрэслены,Паказваць,Памер,Байты,Шрыфт,Колер,konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour
Keywords[bg]=Keywords=файлове, файл, управление, браузър, мениджър, konqueror, filemanager,word wrap, wrap, underline, display, filesize, bytes, font, color, colour
Keywords[ca]=konqueror,gestor de fitxers, ajust de línia,subratllar,mostrar,mida del fitxer,octets,lletra,color,colorit
Keywords[cs]=Konqueror,Správce souborů,Zalamování,Podtrhávání,Zobrazení,Velikost souboru,Bajty,Písmo,Barva
Keywords[csb]=konqueror,menadżer lopków,zawijanié wierztów,zawijanié,podsztëchiwanié,wëzdrzatk, miara lopkù,bajtë,fòntë,farwa
Keywords[cy]=konqueror,rheolydd ffeiliau,lapio geiriau,lapio,tanlinellu,dangos,maint ffeil,beitiau,ffont,lliw
Keywords[da]=konqueror,filhåndtering,ordombrydning,ombrydning,understreg,vis,filstørrelse,byte,skrifttype,farve
Keywords[de]=Konqueror,Dateimanager,Zeilenfall,Textumbruch,Unterstreichen,Darstellung,Dateigröße,Schrift,Farbe,Byte
Keywords[el]=konqueror,διαχειριστής αρχείων,αναδίπλωση λέξεων,αναδίπλωση,υπογράμμιση,προβολή,μέγεθος αρχείου,bytes,γραμματοσειρά,χρώμα,χρώμα
Keywords[eo]=konkeranto,dosieradministrilo,vidigi,vidigo,dosiera grandeco,bajto,bitoko,okbitaro,tiparo,koloro
Keywords[es]=konqueror,gestor de ficheros, ajuste de línea,subrayar,mostrar,tamaño de fichero,bytes,tipo de letra,color
Keywords[et]=konqueror,failihaldur,sõnade murdmine,murdmine,allajoonimine,ekraan,faili suurus,baidid,font,värv
Keywords[eu]=konqueror,fitxategi kudeatzailea,itzulbiratu, egokitu,azpimarratu,pantaila,fitxategi tamaina,byteak,letra-tipoa,kolorea
Keywords[fa]=konqueror، مدیر پرونده، سطربندی واژه، سطربندی، خط زیر، نمایش، اندازه پرونده، بایتها، قلم، رنگ، رنگ
Keywords[fi]=konqueror,tiedostonhallinta,sanankatkaisu,alleviivaus,tiedostokoko,tavuja, kirjasin,väri
Keywords[fr]=konqueror,gestionnaire de fichiers,explorateur,retour à la ligne,soulignement,affichage,taille des fichiers,octets,police,couleur
Keywords[fy]=konqueror,filemanager,triembehear,word wrap,rigelôfbreking,ûnderstreakje,display,werjefte,filesize,triemgrutte,bytes,fonts,lettertypen,kleur,color
Keywords[ga]=konqueror,bainisteoir comhad,timfhilleadh focal,timfhilleadh,líne faoi,scáileán,méid comhaid,bearta,cló,clófhoireann,dath
Keywords[gl]=konqueror,xestor de ficheiros,axuste de palabras,axuste,subliñar,mostrar,tamaño de ficheiro,bites,fonte,cor
Keywords[he]=konqueror,מנהל קבצים,גלישת שורות,קו תחתון,תצוגה,גודל קובץ,בתים,גופן,צבע, konqueror,filemanager,word wrap, wrap,underline,display,filesize,bytes,font,color,colour
Keywords[hr]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,upravljač datoteka,omatanje riječi,omatanje,podvlačenje,prikaz,veličina datoteke,bajtovi,font,boja,boje
Keywords[hu]=konqueror,fájlkezelő,szótördelés,tördelés,aláhúzás,képernyő,fájlméret,bájt,betűtípus,szín,színek
Keywords[is]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour, litir,línuskipting,skjár,skjáborð,bæt,litur
Keywords[it]=konqueror,filemanager,a capo,sottolineatura,schermo,dimensione file,byte,caratteri,colori
Keywords[ja]=konqueror,ファイルマネージャ,ワードラップ,行の折り返し,下線,表示,ファイルサイズ, バイト,フォント,色,カラー
Keywords[km]=konqueror,កម្មវិធី​គ្រប់គ្រង​ឯកសារ,រុំពាក្យ,រុំ,គូស​បន្ទាត់​ក្រោម,បង្ហាញ,ទំហំ​ឯកសារ,បៃ,ពណ៌​ពុម្ពអក្សរ,ពណ៌
Keywords[ko]=konqueror,파일 관리자,밑줄,표시,파일 크기,바이트,글꼴,색
Keywords[lt]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,bylų tvarkyklė, žodžių perkėlimas, perkėlimas, pabraukimas, ekranas, bylos dydis, baitai, šriftas,spalva
Keywords[lv]=iekarotājs,failumenedžeris,vārdu apciršana,apciršana,pasvītrojums,ekrāns,failu izmērs,baiti,fonti,krāsas
Keywords[mk]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,менаџер на датотеки,прекршување на зборови,прекршување,подвлекување,екран,големина на датотека,бајти,фонт,боја
Keywords[nb]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,filbehandler,tekstbryting,understreket,skjerm,filstørrelse,byter,fonter,farger
Keywords[nds]=Konqueror,Dateipleger,word wrap,ümbreken,ünnerstreken,Dorstellen,Dateigrött,Bytes,Schriftoort, Klöör, Klören
Keywords[ne]=कन्क्वेरर, फाइल प्रबन्धक, शब्द बेर्नुहोस्, बेर्नुहोस्, अधोरेखा, प्रदर्शन गर्नुहोस्, फाइल साइज, बाइट्स, फन्ट, रङ, रङ
Keywords[nl]=konqueror,filemanager,bestandsbeheer,word wrap,regelafbreking,onderstrepen,display,weergave,filesize,bestandsgrootte,bytes,fonts,lettertypen,kleur,color
Keywords[nn]=Konqueror,filhandsamar,tekstbryting,linjebryting,bryting,understrek,vis,filstorleik,byte,skrift,farge
Keywords[pa]=ਕੋਨਕਿਉਰਰ,ਫਾਇਲ ਮੈਨੇਜਰ,ਸ਼ਬਦ ਸਮੇਟੋ,ਸਮੇਟੋ,ਹੇਠਾਂ ਰੇਖਾ,ਫਾਇਲ ਅਕਾਰ,ਬਾਈਟ,ਫੋਂਟ,ਰੰਗ ਝਲਕ
Keywords[pl]=konqueror,menedżer plików,zawijanie wierszy,zawijanie,podkreślenie,wygląd, rozmiar pliku,bajty,czcionki,kolor
Keywords[pt]=konqueror,gestor de ficheiros,mudança de linha,mudança,sublinhado,ecrã,tamanho do ficheiro,bytes,tipo de letra,cor
Keywords[pt_BR]=konqueror,gerenciador de arquivos,quebra de linha,quebra,sublinhado,monitor,tamanho de arquivo,bytes,fonte,cor,cor
Keywords[ro]=konqueror,manager de fişiere,limitare cuvînt,limitare,subliniere,afişare,mărime fişier,octeţi,font,culoare
Keywords[se]=Konqueror,fiilagieđahalli,linnjádoaddjin,doaddjin,vuolláisárgu,čájet,fiilasturrodat,stávvalat,fonta,ivdni
Keywords[sl]=konqueror,upravitelj datotek,upravljalnik,prelom vrstic,prelom,podčrta,prikaz,velikost datoteke,bajt,pisava,barva
Keywords[sr]=konqueror,filemanager,преламање текста,преламање,подвлачење,приказ,величина фајла,бајтови,фонт,боја
Keywords[sr@latin]=konqueror,filemanager,prelamanje teksta,prelamanje,podvlačenje,prikaz,veličina fajla,bajtovi,font,boja
Keywords[sv]=konqueror,filhanterare,radbrytning,understreck,visa,filstorlek,byte,teckensnitt,färg
Keywords[ta]=கான்கொரர்,கோப்பு மேலாளர்,வார்த்தை மடக்கு, மடக்கு,அடிகோடிடு,காட்டு,கோப்பு அளவு,பைட்டுகள்,எழுத்துரு,வண்ணம்,வண்ணம்
Keywords[th]=konqueror,จัดการแฟ้ม,ตัดประโยค,ตัด,ขีดเส้นใต้,แสดงผล,ขนาดแฟ้ม,ไบต์,แบบอักษร,สี
Keywords[tr]=konqueror,dosya yöneticisi,görünüm,dosya boyu,bayt,yazıtipi,renk
Keywords[uk]=konqueror,менеджер файлів, переніс файлів,переніс,підкреслення,дисплей, розмір файлів,байти,шрифт,колір
Keywords[uz]=konqueror,файл бошқарувчиси,word wrap,wrap,тагини чизиш,кўрсатиш,файнинг ҳажми,байтлар,шрифт,ранг
Keywords[vi]=konqueror,trình quản lý tập tin,ngắt dòng văn bản,ngắt dòng,gạch chân,màn hình,cỡ tập tin,số byte,phông chữ,màu,màu sắc
Keywords[x-test]=xxkonqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colourxx
Keywords[xh]=konqueror,umphathi wefayile,songela amagama,songela, yenza umgca ezantsi,bonisa, ubngakanani befayile,bytes,umgca,umbala,umbala
Keywords[zh_TW]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,征服家,檔案管理程式,文字換行,換行,底線,顯示,檔案大小,位元組,字型,顏色
