[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/filemanager/index.html
Icon=system-file-manager
Exec=kcmshell4 filebehavior

X-KDE-Library=kcm_konq
X-KDE-PluginKeyword=behavior

Name=Behavior

Comment=You can configure how Konqueror behaves as a file manager here

X-KDE-Keywords=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation
X-KDE-Keywords[be]=Кіраўнік файлаў,Парады,Падказкі,Падказкі файлаў,Асобнае акно,Паводзіны,Выкарыстанне памяці,Хатняя тэчка,Сеткавыя аперацыя,Прагэрс,Выкананне,Сметніца,Выдаленне,Выдаліць,Пацверджанне,konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation
X-KDE-Keywords[bg]=Keywords=работен, плот, поведение, място, браузър, прозорец,konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,
X-KDE-Keywords[ca]=konqueror,gestor de fitxers,kfm,consells,consells del fitxer,finestra separada,expandir finestres,comportament,ús de la memòria, URL d'inici,operacions de xarxa,diàleg de progrés,paperera,esborra,confirmacio
X-KDE-Keywords[cs]=konqueror,správce souborů,kfm,tipy,oddělené okno,chování,využití paměti,domvské URL,síťové operace,průběh,koš,potvrzení
X-KDE-Keywords[csb]=konqueror,menedżer lopków,kfm,podpòwiescë,apartné òkno,nowé òkna,zachòwanié,brëkòwanié pamiãcë,domôcy URl,kòsz,lëstëw pòkrokù,remanié,pòcwierdzenia,cécowé dzéjania
X-KDE-Keywords[da]=konqueror,filhåndtering,kfm,tip,filtip,separat vindue,flere vinduer,opførsel,hukommelsesforbrug,Hjemme-URL,netværksoperationer, fremgangsdialog,affald,slet bekræftelse
X-KDE-Keywords[de]=Konqueror,Dateimanager,kfm,Tipps,Fenster,Verhalten,Persönlicher Ordner,Speicherverwendung,URL,Adressen,Netzwerkoperationen,Fortschrittsanzeige,Mülleimer,Papierkorb,Löschen,Bestätigung
X-KDE-Keywords[el]=konqueror,διαχειριστής αρχείων,kfm,συμβουλές,συμβουλές αρχείων,ξεχωριστό παράθυρο,δημιουργία παραθύρων,συμπεριφορά,συμπεριφορά,χρήση μνήμης,Αρχική URL,λειτουργίες δικτύου,παράθυρο διαλόγου προόδου,κάδος απορριμμάτων,διαγραφή,επιβεβαίωση
X-KDE-Keywords[en_GB]=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialogue,wastebin,delete,confirmation
X-KDE-Keywords[eo]=konkeranto,dosieradministrilo,kfm,konsiloj,dosierokonsiloj,aparta fenestro,lanĉitaj fenestroj,konduto,uzata memoro,hejma URLo, retagoj,progresdialogo,rubujo,forigi,konfirmi
X-KDE-Keywords[es]=konqueror,gestor de ficheros,kfm,sugerencias,ventana separada, extender ventanas,comportamiento,uso de memoria, URL de inicio,operaciones de red, diálogo de progreso,papelera,borrar,confirmación
X-KDE-Keywords[et]=konqueror,failihaldur,kfm,vihjed,failide vihjed,eraldi aken,käitumine,mälukasutus,kodukataloog,võrguoperatsioonid,võrgutoimingud,edenemisdialoog,prügikast,kustutamine
X-KDE-Keywords[eu]=konqueror,fitxategi kudeatzailea,kfm,iradokizunak,fitxategi iradokizunak, aparteko leihoa,leihoak hedatu,portaera,memoriaren erabilera,Hasierako URLa,ezabatu, berrespena
X-KDE-Keywords[fa]=konqueror، مدیر پرونده، kfm، نکات، نکات پرونده، پنجرۀ مجزا، پنجره‌های تکثیرشده، رفتار، رفتار، کاربرد حافظه، نشانی وب آغازه، عملیات شبکه، محاورۀ پیشرفت، زباله‌دان، حذف، تأیید
X-KDE-Keywords[fi]=konqueror,tiedostonhallinta,kfm,vinkit,tiedostovinkit,erillinen ikkuna,erityisikkuna,käytös,muistinkäyttö,Koti-URL,kotiosoite,verkkotoiminnot,edistymisdialogi,roskakori,poisto,vahvistus
X-KDE-Keywords[fr]=konqueror,gestionnaire de fichiers,explorateur,kfm,astuces,fenêtre séparée,rafraîchissement des fenêtres,comportement,utilisation de la mémoire,Home URL,URL de démarrage,opérations réseau,fenêtre de progression,corbeille,poubelle,effacer,détruire,suppression,confirmation
X-KDE-Keywords[fy]=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,ûnthâld gebrûk, ynternetadres, fuortgong, netwurk hanelingen, finsters fergrutsje, triembehearder, finsterbehearder
X-KDE-Keywords[gl]=konqueror,xestor de ficheiros,kfm,información de ficheiro,fiestra separada,fiestras emerxentes,comportamento,uso da memória,URL de início,operacións en rede,diálogo de progreso,lixo
X-KDE-Keywords[he]=konqueror,מנהל קבצים,kfm,עצות,פירוט לקבצים,חלון נפרד,שימוש בזיכרון,פעולה,כתובת בית, פח זבל, אשפה, סל מחזור, סל מחזור, filemanager,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation
X-KDE-Keywords[hr]=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation,upravljač datoteka,poseban prozor,ponašanje,upotreba memorije,URL početne stranice,mrežni postupci,dijalog napredovanja,otpad,brisanje,potvrđivanje
X-KDE-Keywords[hu]=konqueror,fájlkezelő,kfm,tippek,fájltippek,külön ablak,ablakmegnyitás,viselkedés,memóriahasználat,saját URL,hálózati műveletek,állapotjelző ablak,szemétkosár,törlés,megerősítés
X-KDE-Keywords[is]=konqueror,skráastjóri,kfm,ráð,skráarráð,aðskilin gluggi,margfaldast, gluggar,hegðun,minnisnotkun,heimaslóð, netaðgerðir, framvindugluggi, ruslafata,eyða, staðfesta
X-KDE-Keywords[it]=konqueror,filemanager,kfm,trucchi,file,separa finestre,comportamento,memoria utilizzata,home,operazioni di rete,avanzamento,finestra avanzamento,cestino,elimina,cancella,conferme
X-KDE-Keywords[ja]=konqueror,ファイルマネージャ,kfm,ツールチップ,個別ウィンドウ, ポップウィンドウ,挙動,メモリ使用量,ホームURL,ネットワーク操作,進捗ダイアログ,ごみ箱,削除,確認
X-KDE-Keywords[km]=konqueror កម្មវិធី​គ្រប់គ្រង​ឯកសារ kfm ព័ត៌មាន​ជំនួយ ព័ត៌មាន​ជំនួយ​ឯកសារ បំបែក​វីនដូ ,បង្កើត​វីនដ,ឥរិយាប ,ឥរិយាប ,ការ​ប្រើ​សត ,URL ដើ ,ប្រតិបត្តិការ​បណ្ដា ,ប្រអប់វឌ្ឍនភា ,ធុង​សំរា ,លុ ,អះអាង
X-KDE-Keywords[ko]=konqueror,파일 관리자,팁,새 창,행동,메모리 사용,홈 URL,네트워크 작업,휴지통
X-KDE-Keywords[lt]=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation,failų tvarkyklė,patarimai,failų patarimai,langai,atskiri langai, elgesys, elgsena, atminties naudojimas, namų adresas,tinklo operacijos,progreso dialogas,šiukšliadėžė,trinti,patvirtinimas
X-KDE-Keywords[mk]=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation,менаџер на датотеки,совети,совети за датотеки,подели го прозорецот,однесување,користење на меморија,Домашно URL,мрежни операции,дијалог за прогрес,корпа за отпадоци,избриши,потврда
X-KDE-Keywords[nb]=konqueror,filbehandler,kfm,tips,tips om filer,eget vindu,åpne vinduer,oppførsel,minnebruk,hjemmeside på nettet,nettverksoperasjoner,framdriftsviser,papirkurv
X-KDE-Keywords[nds]=Konqueror,Dateipleger,kfm,Tipps,Dateitipps,egen Finster,Finster maken,Bedregen,behaviour,memory,Spiekerverbruuk,Home,Startsiet,Startadress,Nettwark-Akschonen,Vörankamendialoog,Affalltünn,Affall,löschen,Nafraag,nafragen,wegdoon
X-KDE-Keywords[ne]=कन्क्वेरर, फाइल प्रबन्धक, kfm, टिपहरू, फाइल टिप, फरक सञ्झ्याल, स्पवन सञ्झ्याल, व्यवहार,व्यवहार,स्मृति प्रयोग, गृह URL,सञ्जाल सञ्चालन, प्रगति संवाद, रद्दीटोकरी क्यान, मेट्नुहोस्, स्वीकृति
X-KDE-Keywords[nl]=konqueror,filemanager,bestandsbeheerder,kfm,tips,file tips,bestandstips,apart venster,gedrag,geheugengebruik,persoonlijke map,netwerkoperaties,voortgangsdialoog,prullenbak,verwijderen,bevestiging,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation
X-KDE-Keywords[nn]=konqueror,filhandterar,kfm,tips,filtips,eige vindauge,nye vindauge,åtferd,minnebruk,heime-URL,nettverksopersjonar,framdriftsindikator,papirkorg,slett,stadfesting
X-KDE-Keywords[pa]=kfm,ਕੋਨਕਿਉਰਰ,ਫਾਇਲ ਮੈਨੇਜਰ,ਸੰਕੇਤ,ਵੱਖਰਾ ਵਿੰਡੋ,ਵਿਹਾਰ,ਮੈਮੋਰੀ ਵਰਤੋਂ, ਨੈੱਟਵਰਕ ਕਾਰਵਾਈ,ਤਰੱਕੀ ਵਾਰਤਾਲਾਪ,ਰੱਦੀ,ਹਟਾਓ,ਪੁਸ਼ਟੀ,ਘਰ URL,ਸੰਕੇਤ
X-KDE-Keywords[pl]=konqueror,menedżer plików,kfm,podpowiedzi,osobne okno,nowe okna,zachowanie,zużycie pamięci,katalog domowy,kosz,pasek postępu,usuwanie,potwierdzenia,operacje sieciowe
X-KDE-Keywords[pt]=konqueror,gestor de ficheiros,kfm,dicas,dicas de ficheiros,janela separada,comportamento,utilização de memória,URL de base,operações de rede,janela de evolução,caixote do lixo,apagar,confirmação
X-KDE-Keywords[pt_BR]=konqueror,gerenciador de arquivos,kfm,dicas,arquivo de dicas,janelas separadas,janelas unidas,comportamento,comportamento,uso de memória,URL Base,operações de rede,diálogo de progresso,lata de lixo,remoção,confirmação
X-KDE-Keywords[ro]=konqueror,manager de fişiere,kfm,sfaturi,ferestre separate,comportament,utilizare memorie,URL personal,operaţii de reţea,dialog de progres,gunoi,ştergere,confirmare
X-KDE-Keywords[sl]=konqueror,upravitelj datotek,upravljalnik,kfm,namig,namigi datotek,ločeno okno,ustvari okna,obnašanje,poraba pomnilnika,domači URL, omrežne operacije,okno napredka,smeti,brisanje,potrditev
X-KDE-Keywords[sr]=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation,форе,форе за фајлове,одвојени прозор,понашање,искоришћеност меморије,савети,смеће,мрежне операције
X-KDE-Keywords[sr@latin]=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation,fore,fore za fajlove,odvojeni prozor,ponašanje,iskorišćenost memorije,saveti,smeće,mrežne operacije
X-KDE-Keywords[sv]=konqueror,filhanterare,kfm,tips,filtips,särskilt fönster,visa fönster,beteende,minnesanvändning,hemadress,nätverksåtgärder,förloppsdialogruta,papperskorg,ta bort,bekräftelse
X-KDE-Keywords[ta]=கான்கொரர்,கோப்பு மேலாளர்,kfm,குறிப்புகள்,கோப்பு குறிப்புகள்,தனி சாளரம்,நீள்வட்ட சாளரம்,நடத்தை,நினைவு பயன்பாடு,வீட்டு வலைப்பின்னல்,வலைப்பின்னல் செயல்பாடுகள், வழிமுறை உரையாடல்,குப்பைத்தொட்டி, நீக்கு,உறுதிப்படுத்தல்
X-KDE-Keywords[th]=konqueror ,ตัวจัดการแฟ้ม,kfm,เคล็ดลับ,เคล็ดลับแฟ้ม,หน้าต่างแยกต่างหาก,สร้างหน้าต่างใหม่,พฤติิกรรม,การใช้หน่วยความจำ,ตำแหน่งหลักการทำงานทางเครือข่าย,กล่องแสดงความก้าวหน้า,ถังขยะ,ลบทิ้ง,การยืนยัน
X-KDE-Keywords[tr]=konqueror,dosya yöneticisi,kfm,ipuçları,dosya ipuçları,pencere,davranış,bellek kullanımı,başlangıç,bellek kullanımı,başlangıç adresi,ağ işlemleri,ilerleme penceresi,çöp kutusu
X-KDE-Keywords[uk]=konqueror,менеджер файлів,kfm,підказки,підказки по файлах,окремі вікна,створення вікон,поведінка,використання пам'яті,домашній URL,робота з мережею,вікно поступу,смітник,
X-KDE-Keywords[uz]=konqueror,файл бошқарувчиси,kfm,эслатмалар,файл эслатмалари,алоҳида ойна,spawn windows,хусусиятлар,хотирадан фойдаланиш,Уй URL,тармоқ амаллари,чиқиндилар қутиси,ўчириш,тасдиқлаш
X-KDE-Keywords[vi]=konqueror,trình quản lý tập tin,kfm,gợi ý,tập tin tips,phân cách cửa sổ,tạo cửa sổ khác,ứng xử,cách sử dụng bộ nhớ,URL nhà,thao tác mạng,hộp thoại tiến hành,thùng rác,xoá,xác nhận
X-KDE-Keywords[x-test]=xxkonqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmationxx
X-KDE-Keywords[zh_CN]=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation,文件管理器,提示,文件提示,拆分窗口,新开窗口,行为,内存使用,家 URL,网络操作,进度对话框,回收站,删除,确认
X-KDE-Keywords[zh_TW]=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation,征服家,檔案管理程式,密訣,檔案密訣,分離視窗,產生視窗,行為,記憶體使用量,家 URL,網路操作,進度對話盒,資源回收桶,刪除,確認
