[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule
DocPath=kcontrol/filemanager/index.html
Icon=kfm
Exec=kcmshell filebrowser

X-KDE-Library=kcm_konq
X-KDE-FactoryName=browser
X-KDE-ParentApp=kcontrol

Name=File Manager
Name[af]=Lêer Bestuurder
Name[ar]=مدبّر الملفات
Name[bg]=Файлов браузър
Name[br]=Merour restroù
Name[ca]=Gestor de fitxers
Name[cs]=Správce souborů
Name[csb]=Menedżer lopków
Name[cy]=Rheolydd Ffeiliau
Name[da]=Filhåndtering
Name[de]=Dateimanager
Name[el]=Διαχειριστής αρχείων
Name[eo]=Dosieradministrilo
Name[es]=Administrador de archivos
Name[et]=Failihaldur
Name[eu]=Fitxategi kudeatzailea
Name[fa]=مدیر پرونده
Name[fi]=Tiedostonhallinta
Name[fr]=Gestionnaire de fichiers
Name[fy]=Triembehearder
Name[ga]=Bainisteoir Comhad
Name[gl]=Xestor de Ficheiros
Name[he]=מנהל הקבצים
Name[hr]=Upravitelj datotekama
Name[hu]=Fájlkezelő
Name[is]=Skráastjóri
Name[it]=File manager
Name[ja]=ファイルマネージャ
Name[ka]=ფაილთა მენჯერი
Name[kk]=Файл менеджері
Name[km]=កម្មវិធី​គ្រប់គ្រង​ឯកសារ
Name[ko]=파일 관리자
Name[lt]=Bylų tvarkytuvė
Name[lv]=Failu Menedžeris
Name[mk]=Менаџер на датотеки
Name[ms]=Pengurus Fail
Name[nb]=Filbehandler
Name[nds]=Dateipleger
Name[ne]=फाइल प्रबन्धक
Name[nl]=Bestandsbeheerder
Name[nn]=Filhandsamar
Name[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
Name[pl]=Menedżer plików
Name[pt]=Gestor de Ficheiros
Name[pt_BR]=Gerenciador de Arquivos
Name[ro]=Manager de fişiere
Name[ru]=Файловый менеджер
Name[se]=Fiilagieđahalli
Name[sl]=Upravitelj datotek
Name[sr]=Менаџер фајлова
Name[sr@Latn]=Menadžer fajlova
Name[sv]=Filhanterare
Name[ta]=கோப்பு மேலாளர்
Name[te]=దస్త్రాల అభికర్త
Name[tg]=Мудири файл
Name[tr]=Dosya Yöneticisi
Name[uk]=Менеджер файлів
Name[uz]=Файл бошқарувчиси
Name[x-test]=xxFile Managerxx
Name[xh]=Umphathi Wefayile
Name[zh_TW]=檔案管理程式

Comment=You can configure Konqueror's file manager mode here
Comment[af]=Jy kan Konqueror se lêer bestuurder gedrag hier opstel
Comment[ar]=يمكنك هنا إعداد نمط مسيير الملفات Konqueror
Comment[bg]=Настройки на файловия браузър
Comment[br]=Amañ e c'hellit kefluniañ mod merour restroù Konqueror
Comment[ca]=Aquí podeu configurar el mode del gestor de fitxers Konqueror
Comment[cs]=Zde je možné nastavit režim správce souborů Konqueror
Comment[csb]=Kònfigùracëjô Konquerora w tribie menadżera lopków
Comment[cy]=Ffurfweddu modd rheolydd ffeiliau Konqueror
Comment[da]=Her kan du indstille hvordan Konqueror ser ud som filhåndtering
Comment[de]=Hier können Sie das Erscheinungsbild von Konqueror als Dateimanager festlegen
Comment[el]=Εδώ μπορείτε να ρυθμίσετε τη λειτουργία του Konqueror ως διαχειριστή αρχείων
Comment[eo]=Ĉi tie vi povas agordi la aranĝon de la panelo
Comment[es]=Configuración de Konqueror como administrador de archivos
Comment[et]=Siin saad seadistada Konquerori failihalduri režiimi
Comment[eu]=Konquerorren fitxategi kudeaketa era konfigura dezakezu hemen
Comment[fa]=می‌توانید حالت مدیر پرونده Konqueror را در اینجا پیکربندی کنید
Comment[fi]=Tässä kohdassa voit määritellä Konquerorin tiedostonhallinnan tilan asetuksia
Comment[fr]=Configuration du mode gestionnaire de fichiers de Konqueror
Comment[fy]=Hjir kinne jo it uterlik fan Konqueror as triembehearder ynstelle
Comment[gl]=Pode configurar aqui o modo de xestión de ficheiros de Konqueror
Comment[he]=שינוי הגדרות מצב מנהל הקבצים של Konqueror
Comment[hr]=Konfiguriranje načina Konqueror upravljača datotekama
Comment[hu]=A Konqueror fájlkezelő részének működési jellemzői
Comment[is]=Hér getur þú stillt Konqueror skráarstjórahaminn
Comment[it]=Configura la modalità "gestione file" di Konqueror
Comment[ja]=Konqueror のファイルマネージャモードを設定
Comment[ka]=აქ შეგიძლიათ დააკონფიგურიროთ Konqueror ფაილური მენეჯერის რეჟიმი
Comment[kk]=Konqueror файл менеджер ретінде қолданғанды баптау
Comment[km]=នៅ​ទីនេះ អ្នក​អាច​កំណត់​រចនាសម្ព័ន្ធ​របៀប​កម្មវិធី​គ្រប់គ្រង​ឯកសារ​របស់ Konqueror
Comment[lt]=Čia galite konfigūruoti Konqueror bylų tvarkyklės veikseną
Comment[lv]=Šeit Jūs varat konfigurēt Iekarotāja failu menedžera režīmu
Comment[mk]=Тука може да го конфигурирате режимот на Konqueror за менаџирање на датотеки 
Comment[ms]=Anda boleh konfigur mod pengurus fail Konqueror di sini
Comment[nb]=Tilpass hvordan Konqueror ser ut som filbehandler
Comment[nds]=Hier kannst Du Konqueror sien Bedriefoort instellen
Comment[ne]=तपाईँले यहाँ कन्क्वेरर फाइल प्रबन्धक मोड कन्फिगर गर्नु सक्नुहुन्छ
Comment[nl]=Hier kunt u het uiterlijk van Konqueror als bestandsbeheerder instellen
Comment[nn]=Her kan du setja opp filhandsamaren Konqueror
Comment[pa]=ਤੁਸੀਂ ਇੱਥੇ ਕੋਨਕਿਉਰੋਰ ਦੇ ਫਾਇਲ ਪਰਬੰਧਕ ਰੂਪ ਨੂੰ ਸੰਰਚਿਤ ਕਰ ਸਕਦੇ ਹੋ
Comment[pl]=Konfiguracja Konquerora w trybie menedżera plików
Comment[pt]=O utilizador pode configurar aqui o modo de gestão de ficheiros do Konqueror
Comment[pt_BR]=Você pode configurar o modo de gerenciamento de arquivos do Konqueror aqui
Comment[ro]=Aici configuraţi modul de manager de fişiere al Konqueror
Comment[ru]=Настройка режима менеджера файлов 
Comment[se]=Dás heivehat Konquerora fiilagieđahallin
Comment[sl]=Nastavitve načina Konquerorja kot upravitelja datotek
Comment[sr]=Овде можете подесити Konqueror-ов режим управљања фајловима
Comment[sr@Latn]=Ovde možete podesiti Konqueror-ov režim upravljanja fajlovima
Comment[sv]=Anpassa Konquerors filhanteringsläge
Comment[ta]=இங்கே கான்கொரர் கோப்பு மேலாளர் வகையை வடிவமைக்கலாம்.
Comment[tg]=Шумо метавонед ҳолати мудири файли Konqueror-ро танзим кунед
Comment[tr]=Konqueror'un dosya yöneticisi kipini buradan ayarlayabilirsiniz
Comment[uk]=Налаштування режиму менеджера файлів Konqueror
Comment[x-test]=xxYou can configure Konqueror's file manager mode herexx
Comment[xh]=Uyakwazi ukuqwalasela apha indlela yomphathi wefayile we Konqueror
Comment[zh_TW]=您可以在這裡設定 Konqueror 的檔案管理模式

Keywords=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour
Keywords[ar]=konqueror,مسيير الملفات,word wrap,wrap,تسطير الأحرف,الشاشة,حجم الملف,البايتات,المحرف,اللون,العرض
Keywords[bg]=файлове, файл, управление, браузър, мениджър, konqueror, filemanager,word wrap, wrap, underline, display, filesize, bytes, font, color, colour
Keywords[ca]=konqueror,gestor de fitxers, ajust de línia,subratllar,mostrar,mida del fitxer,octets,font,color,colorit
Keywords[cs]=Konqueror,Správce souborů,Zalamování,Podtrhávání,Zobrazení,Velikost souboru,Bajty,Písmo,Barva
Keywords[csb]=konqueror,menedżer lopków,zawijanié wierztów,zawijanié,podsztëchiwanié,wëzdrzatk, miara lopkù,bajtë,fòntë,farwa
Keywords[cy]=konqueror,rheolydd ffeiliau,lapio geiriau,lapio,tanlinellu,dangos,maint ffeil,beitiau,ffont,lliw
Keywords[da]=konqueror,filhåndtering,ordombrydning,ombrydning,understreg,vis,filstørrelse,byte,skrifttype,farve
Keywords[de]=Konqueror,Dateimanager,Zeilenfall,Textumbruch,Unterstreichen,Darstellung,Dateigröße,Schrift,Farbe,Byte
Keywords[el]=konqueror,διαχειριστής αρχείων,αναδίπλωση λέξεων,αναδίπλωση,υπογράμμιση,προβολή,μέγεθος αρχείου,bytes,γραμματοσειρά,χρώμα,χρώμα
Keywords[eo]=konkeranto,dosieradministrilo,vidigi,vidigo,dosiera grandeco,bajto,bitoko,okbitaro,tiparo,koloro
Keywords[es]=konqueror,administrador de archivos, ajuste de línea,subrayar,mostrar,tamaño de archivo,bytes,fuente,color
Keywords[et]=konqueror,failihaldur,sõnade murdmine,murdmine,allajoonimine,ekraan,faili suurus,baidid,font,värv
Keywords[eu]=konqueror,fitxategi kudeatzailea,itzulbiratu, egokitu,azpimarratu,pantaila,fitxategi tamaina,byteak,letra-tipoa,kolorea
Keywords[fa]=konqueror، مدیر پرونده، سطربندی واژه، سطربندی، خط زیر، نمایش، اندازه پرونده، بایتها، قلم، رنگ، رنگ
Keywords[fi]=konqueror,tiedostonhallinta,sanankatkaisu,alleviivaus,tiedostokoko,tavuja, kirjasin,väri
Keywords[fr]=konqueror,gestionnaire de fichiers,explorateur,retour à la ligne,soulignement,affichage,taille des fichiers,octets,police,couleur
Keywords[fy]=konqueror,filemanager,triembehear,word wrap,rigelôfbreking,ûnderstreakje,display,werjefte,filesize,triemgrutte,bytes,fonts,lettertypen,kleur,color
Keywords[ga]=konqueror,bainisteoir comhad,timfhilleadh focal,timfhilleadh,líne faoi,scáileán,méid comhaid,bearta,cló,clófhoireann,dath
Keywords[gl]=konqueror,xestor de ficheiros,axuste de palabras,axuste,subliñar,mostrar,tamaño de ficheiro,bites,fonte,cor
Keywords[he]=konqueror,מנהל קבצים,גלישת שורות,קו תחתון,תצוגה,גודל קובץ,בתים,גופן,צבע, konqueror,filemanager,word wrap, wrap,underline,display,filesize,bytes,font,color,colour
Keywords[hr]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,upravljač datoteka,omatanje riječi,omatanje,podvlačenje,prikaz,veličina datoteke,bajtovi,font,boja,boje
Keywords[hu]=konqueror,fájlkezelő,szótördelés,tördelés,aláhúzás,képernyő,fájlméret,bájt,betűtípus,szín,színek
Keywords[is]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour, litir,línuskipting,skjár,skjáborð,bæt,litur
Keywords[it]=konqueror,filemanager,a capo,sottolineatura,schermo,dimensione file,byte,caratteri,colori
Keywords[ja]=konqueror,ファイルマネージャ,ワードラップ,行の折り返し,下線,表示,ファイルサイズ, バイト,フォント,色,カラー
Keywords[km]=konqueror,កម្មវិធី​គ្រប់គ្រង​ឯកសារ,រុំ​ពាក្យ,រុំ,គូសបន្ទាត់​ក្រោម,បង្ហាញ,ទំហំ​ឯកសារ,បៃ,ពុម្ពអក្សរ,ពណ៌
Keywords[lt]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,bylų tvarkyklė, žodžių perkėlimas, perkėlimas, pabraukimas, ekranas, bylos dydis, baitai, šriftas,spalva
Keywords[lv]=iekarotājs,failumenedžeris,vārdu apciršana,apciršana,pasvītrojums,ekrāns,failu izmērs,baiti,fonti,krāsas
Keywords[mk]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,менаџер на датотеки,прекршување на зборови,прекршување,подвлекување,екран,големина на датотека,бајти,фонт,боја
Keywords[nb]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,filbehandler,tekstbryting,understreket,skjerm,filstørrelse,byter,fonter,farger
Keywords[nds]=Konqueror,Dateipleger,word wrap,ümbreken,ünnerstreken,Dorstellen,Dateigrött,Bytes,Schriftoort, Klöör, Klören
Keywords[ne]=कन्क्वेरर, फाइल प्रबन्धक, शब्द बेर्नुहोस्, बेर्नुहोस्, कच, प्रदर्शन गर्नुहोस्, फाइल साइज, बाइट्स, फन्ट, रङ, रङ
Keywords[nl]=konqueror,filemanager,bestandsbeheer,word wrap,regelafbreking,onderstrepen,display,weergave,filesize,bestandsgrootte,bytes,fonts,lettertypen,kleur,color
Keywords[nn]=Konqueror,filhandsamar,tekstbryting,linjebryting,bryting,understrek,vis,filstorleik,byte,skrift,farge
Keywords[pa]=ਕੋਨਕਿਉਰਰ,ਫਾਇਲ ਪਰਬੰਧਕ,ਸ਼ਬਦ ਸਮੇਟੋ,ਸਮੇਟੋ,ਹੇਠਾਂ ਰੇਖਾ,ਫਾਇਲ ਅਕਾਰ,ਬਾਈਟ,ਫੋਂਟ,ਰੰਗ ਝਲਕ
Keywords[pl]=konqueror,menedżer plików,zawijanie wierszy,zawijanie,podkreślenie,wygląd, rozmiar pliku,bajty,czcionki,kolor
Keywords[pt]=konqueror,gestor de ficheiros,mudança de linha,mudança,sublinhado,ecrã,tamanho do ficheiro,bytes,tipo de letra,cor
Keywords[pt_BR]=konqueror,gerenciador de arquivos,quebra de linha, sublinhado, display,tamanho de arquivo,bytes,fonte,cor,cor
Keywords[ro]=konqueror,manager de fişiere,limitare cuvînt,limitare,subliniere,afişare,mărime fişier,octeţi,font,culoare
Keywords[se]=Konqueror,fiilagieđahalli,linnjádoaddjin,doaddjin,vuolláisárgu,čájet,fiilasturrodat,stávvalat,fonta,ivdni
Keywords[sl]=konqueror,upravitelj datotek,upravljalnik,prelom vrstic,prelom,podčrta,prikaz,velikost datoteke,bajt,pisava,barva
Keywords[sr]=konqueror,filemanager,преламање текста,преламање,подвлачење,приказ,величина фајла,бајтови,фонт,боја
Keywords[sr@Latn]=konqueror,filemanager,prelamanje teksta,prelamanje,podvlačenje,prikaz,veličina fajla,bajtovi,font,boja
Keywords[sv]=konqueror,filhanterare,radbrytning,understreck,visa,filstorlek,byte,teckensnitt,färg
Keywords[ta]=கான்கொரர்,கோப்பு மேலாளர்,வார்த்தை மடக்கு, மடக்கு,அடிகோடிடு,காட்டு,கோப்பு அளவு,பைட்டுகள்,எழுத்துரு,வண்ணம்,வண்ணம்
Keywords[tr]=konqueror,dosya yöneticisi,görünüm,dosya boyu,bayt,yazıtipi,renk
Keywords[uk]=konqueror,менеджер файлів, переніс файлів,переніс,підкреслення,дисплей, розмір файлів,байти,шрифт,колір
Keywords[uz]=konqueror,файл бошқарувчиси,word wrap,wrap,тагини чизиш,кўрсатиш,файнинг ҳажми,байтлар,шрифт,ранг
Keywords[x-test]=xxkonqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colourxx
Keywords[xh]=konqueror,umphathi wefayile,songela amagama,songela, yenza umgca ezantsi,bonisa, ubngakanani befayile,bytes,umgca,umbala,umbala
Keywords[zh_TW]=konqueror,filemanager,word wrap,wrap,underline,display,filesize,bytes,font,color,colour,征服家,檔案管理程式,文字換行,換行,底線,顯示,檔案大小,位元組,字型,顏色
