[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule
DocPath=kcontrol/filemanager/index.html
Icon=kfm
Exec=kcmshell filepreviews

X-KDE-Library=kcm_konq
X-KDE-FactoryName=previews

Name=Previews & Meta-Data
Name[af]=Voorskoue & Meta-Data
Name[be]=Перадагляд і метададзеныя
Name[bg]=Преглед и данни
Name[ca]=Vistes prèvies i meta-dades
Name[cs]=Náhledy a metadata
Name[csb]=Pòdzérczi ë pòdôwczi meta
Name[cy]=Rhagolygon & Meta-data
Name[da]=Forhåndsvisninger & Metadata
Name[de]=Vorschauen & Metadaten
Name[el]=Προεπισκοπήσεις & Μετα-δεδομένα
Name[eo]=Antaŭrigardoj kaj metadatumoj
Name[es]=Previsualizaciones & Meta-datos
Name[et]=Eelvaatlused ja metaandmed
Name[eu]=Aurrebistak eta metadatuak
Name[fa]=پیش‌نمایشها و فراداده
Name[fi]=Esikatselut ja metatiedot
Name[fr]=Aperçus & Méta-informations
Name[fy]=foarbylden en meta-data
Name[ga]=Réamhamhairc & Meiteashonraí
Name[gl]=Miniaturas e Meta Datos
Name[he]=תצוגות מקדימות ומידע־על
Name[hr]=Pregledi i meta podaci
Name[hu]=Gyorsnézetek
Name[is]=Forsýnir og metagögn
Name[it]=Anteprime e informazioni
Name[ja]=プレビュー & メタデータ
Name[ka]=წინასწარ ხედვა და მეტა მონაცემები
Name[kk]=Нобайлары мен мета-деректер
Name[km]=មើល​ជា​មុន និង​ទិន្នន័យ​មេតា
Name[lt]=Peržiūros ir meta duomenys
Name[lv]=Priekšapskate un Meta dati
Name[mk]=Прегледи и метаподатоци
Name[ms]=Prapapar & Data Meta
Name[nb]=Forhåndsvisning og metadata
Name[nds]=Vöransichten & Meta-Daten
Name[ne]=पूर्वावलोकन र मेटा-डेटा
Name[nl]=Voorbeelden en meta-data
Name[nn]=Førehandsvising og metadata
Name[pa]=ਝਲਕ ਅਤੇ ਮੈਟਾ-ਡਾਟਾ
Name[pl]=Podglądy i metadane
Name[pt]=Antevisões e Meta Dados
Name[pt_BR]=Pré-visualizações & Metadados
Name[ro]=Previzualizări şi metainformaţii
Name[ru]=Миниатюры и мета-данные
Name[se]=Ovdačájeheamit ja metadáhtat
Name[sl]=Ogledi in metapodatki
Name[sr]=Прегледи и мета подаци
Name[sr@latin]=Pregledi i meta podaci
Name[sv]=Förhandsgranskning och metadata
Name[ta]=முன்காட்சிகள் & மெடா-தகவல்
Name[tg]=Пешнамоишҳо ва Meta-Data
Name[tr]=Önizlemeler
Name[uk]=Перегляд та метадані
Name[uz]=Кўриб чиқиш\nва мета-маълумот
Name[x-test]=xxPreviews & Meta-Dataxx
Name[zh_TW]=預覽與中繼資料

Comment=You can configure how Konqueror Previews & Meta-data work here
Comment[af]=Jy kan hier opstel hoe Konqueror se Voorskoue & Meta-data werk
Comment[be]=Тут вы можаце змяніць працу перадагляду і метададзеных Konqueror
Comment[bg]=Настройване режима на преглед на файловия браузър
Comment[ca]=Aquí podeu configurar com funcionaran les vistes prèvies i les meta-dades en el Konqueror
Comment[cs]=Zde je možné nastavit chování náhledů a metadat v Konqueroru
Comment[csb]=Kònfigùracëjô pòdzéraniô zamkłoscë lopków ë pòdôwków meta w Konquerorze
Comment[cy]=Gallwch ffurfweddu sut mae Rhagolygon & Meta-data Konqueror yn gweithio yma
Comment[da]=Her kan du indstille hvordan forhåndsvisninger & metadata fungerer i Konqueror
Comment[de]=Hier können Sie das Verhalten von Vorschauen und Metadaten in Konqueror festlegen
Comment[el]=Εδώ μπορείτε να ρυθμίσετε το πως θα δουλεύουν οι Προεπισκοπήσεις & Μετα-δεδομένα του Konqueror
Comment[eo]=Ĉie tie vi povas agordi kiel konkeranto antaŭrigardoj kaj metadatumoj kondutas.
Comment[es]=Puede configurar como trabaja la previsualización y meta-datos de Konqueror
Comment[et]=Siin saad seadistada, kuidas töötab Konquerori eelvaatlus ja metaandmete esitamine
Comment[eu]=Konquerorren aurrebistak eta metadatuak nola egiten duten lan konfigura dezakezu hemen
Comment[fa]=می‌توانید طرزکار پیش‌نمایشها و فراداده Konqueror را در اینجا پیکربندی کنید
Comment[fi]=Tässä kohdassa voit määritellä, kuinka Konquerorin esikatselu ja metadata toimii
Comment[fr]=Fonctionnement des aperçus et méta-informations de Konqueror
Comment[fy]=Hjir kinne jo ynstelle hoe de foarbylden en metadata yn Konqueror wurkje
Comment[ga]=Leis seo is féidir Réamhamhairc & Meiteashonraí a chumrú i Konqueror
Comment[gl]=Pode configurar aqui as Miniaturas e os Meta Datos en Konqueror
Comment[he]=שינוי הדרך שבה פועלות תצוגות מקדימות ומידע־על ב־Konqueror
Comment[hr]=Konfiguriranje načina rada Konqueror pregleda i prikaza meta-podataka
Comment[hu]=Itt lehet beállítani a Konqueror gyorsnézeteit és a jellemzők megjelenítési módját
Comment[is]=Hér getur þú stillt hvernig Konqueror forsýnir skrár og meðhöndlar metagögn
Comment[it]=Configura il funzionamento di anteprime ed informazioni aggiuntive di Konqueror
Comment[ja]=Konqueror のプレビューとメタデータ機能を設定
Comment[ka]=წინასწარ ხედვის და მეტა მონაცემების კონფიგურირება Konqueror-ში
Comment[kk]= Konqueror нобайларды және мета-деректерді қалай көрсететінін баптау
Comment[km]=នៅ​ទីនេះ អ្នក​អាច​កំណត់​រចនាសម្ព័ន្ធ របៀប​ដែល​ការ​មើល​ជា​មុន & ទិន្នន័យ​មេតា Konqueror ដំណើរការ
Comment[lt]=Čia galite nustatyti, kaip veikia Konqueror peržiūros ir meta duomenų rodymas
Comment[lv]=Šeit Jūs varat konfigurēt Iekarotāja failu priekšapskati un metadatu rādīšanu
Comment[mk]=Конфигурирајте ја работата на прегледите и метаподатоците во Konqueror
Comment[ms]=Anda boleh konfigur  bagaimana Prapapar & Data Meta Konqueror berfungsi di sini
Comment[nb]=Tilpass hvordan forhåndsvisning og metadata skal virke i Konqueror
Comment[nds]=Hier kannst Du instellen, wodennig Vöransichten un Meta-Daten in Konqueror arbeidt
Comment[ne]=तपाईँले यहाँ कन्क्वेरर पूर्वावलोकन र मेटा-डेटाले गर्ने कार्य कन्फिगर गर्न सक्नुहुन्छ
Comment[nl]=Hier kunt u instellen hoe de voorbeelden en metadata in Konqueror werken
Comment[nn]=Her kan du velja korleis førehandsvising og metadata i Konqueror skal fungera
Comment[pa]=ਇੱਥੇ ਤੁਸੀਂ ਕੋਨਕਿਉਰੋਰ ਝਾਤੀ ਅਤੇ ਮੈਟਾ-ਡਾਟਾ ਕੰਮ ਨੂੰ ਸੰਰਚਿਤ ਕਰ ਸਕਦੇ ਹੋ।
Comment[pl]=Konfiguracja podglądów zawartości plików i metadanych w Konquerorze
Comment[pt]=O utilizador pode configurar aqui como é que as Antevisões do Konqueror e os meta-dados funcionam aqui
Comment[pt_BR]=Você pode configurar como funcionam as prévisualizações e metadados do Konqueror aqui
Comment[ro]=Configurează funcţionarea previzualizărilor şi metainformaţiilor în Konqueror
Comment[ru]=Настройка создания миниатюр и показа мета-данных в Konqueror
Comment[se]=Dás sáhtát heivehit ovdačájeheamit ja metadáhtat galget doaibmat Konqueroras
Comment[sl]=Nastavite lahko, kako delujejo Konquerorjevi ogledi in metapodatki
Comment[sr]=Овде можете подесити како Konqueror-ови прегледи и мета подаци раде
Comment[sr@latin]=Ovde možete podesiti kako Konqueror-ovi pregledi i meta podaci rade
Comment[sv]=Anpassa hur Konquerors förhandsgranskning och metadata fungerar
Comment[ta]=கான்கொரர் முன்ஓட்டங்கள் மற்றும் மெடா-தகவல் எப்படி இயங்குகிறது என்பதை வடிவமைக்க முடியும்.
Comment[tg]=Шумо метавонед чигунагии кори пешнамоиши Konqueror-ро ва Meta-data-ро дар инҷо танзим кунед.
Comment[tr]=Konqueror önizlemelerini buradan yapılandırabilirsiniz
Comment[uk]=Тут можна налаштувати роботу попереднього перегляду Konqueror та метаданих
Comment[uz]=Кўриб чиқишлар ва мета-маълумотни мослаш
Comment[x-test]=xxYou can configure how Konqueror Previews & Meta-data work herexx
Comment[zh_TW]=您可以在這裡設定 Konqueror 的預覽與中繼資料如何運作

Keywords=konqueror,filemanager,previews,file previews,maximum size
Keywords[af]=konqueror,filemanager,previews,file previews,maximum grootte
Keywords[be]=Кіраўнік файлаў,Прагляд,Перадпрагляд,Перадпрагляд файлаў,Прагляд файлаў,Найбольшы памер,konqueror,filemanager,previews,file previews,maximum size
Keywords[bg]=Keywords=данни, файл, мета, браузър, konqueror, filemanager,previews, file previews, maximum size
Keywords[ca]=konqueror,gestor de fitxers,vistes prèvies,vistes prèvies de fitxers,mida màxima
Keywords[cs]=Konqueror,Správce souborů,Náhledy,Náhledy souborů,Maximální velikost
Keywords[csb]=konqueror,menadżer lopków,pòdzerczi,pòdzerczi zamkłosców lopków, maksymalnô miara
Keywords[cy]=konqueror,rheolydd ffeiliau,rhagolygon ffeil,maint mwyaf
Keywords[da]=konqueror,filhåndtering,forhåndsvisninger,filforhåndsvisninger,maksimal størrelse
Keywords[de]=Konqueror,Dateimanager,Vorschau,Dateivorschau,Dateigrößen
Keywords[el]=konqueror,διαχειριστής αρχείων,προεπισκοπήσεις,προεπισκοπήσεις αρχείων,μέγιστο μέγεθος
Keywords[eo]=konkeranto,dieradministrilo,antaŭrigardoj
Keywords[es]=konqueror,gestor de ficheros,previsualizaciones,previsualizaciones de ficheros, tamaño máximo
Keywords[et]=konqueror,failihaldur,eelvaatlused,faili eelvaatlus,maksimaalne suurus
Keywords[eu]=konqueror,fitxategi kudeatzailea,aurrebistak,fitxategi aurrebistak, gehienezko neurria
Keywords[fa]=konqueror، مدیر پرونده، پیش‌نمایشها، پیش‌نمایشهای پرونده، بیشینۀ اندازه
Keywords[fi]=konqueror,tiedostonhallinta,eikatselu,tiedoston esikatselu,maksimikoko
Keywords[fr]=konqueror,gestionnaire de fichiers,explorateur,aperçus,taille maximale
Keywords[fy]=konqueror,filemanager,triembehearder,previews,foarbylden,foarútsjen,triemmenfoarbylden,maksimum grutte
Keywords[ga]=konqueror,bainisteoir comhad,réamhamharc,réamhamharc comhad,uasmhéid
Keywords[gl]=konqueror,xestor de ficheiros,antever,miniaturas de ficheiros,tamaño máximo
Keywords[he]=konqueror,מנהל קבצים,תצוגות מקדימות,גודל מרבי, filemanager,previews,file previews,maximum size
Keywords[hr]=konqueror,filemanager,previews,file previews,maximum size,upravljač datotekama,pregled,pregled datoteka,najveća veličina
Keywords[hu]=Konqueror,fájlkezelő,gyorsnézetek,fájl-gyorsnézetek,maximális méret
Keywords[is]=konqueror,skráastjóri,forsýna,forsýna skrár,hámarks stærð
Keywords[it]=konqueror,filemanager,anteprime,anteprime file,dimensione massima
Keywords[ja]=konqueror,ファイルマネージャ,プレビュー,ファイルのプレビュー,最大サイズ
Keywords[km]=konqueror កម្មវិធី​គ្រប់គ្រង​ឯកសារ មើល​ជា​មុន មើល​ឯកសារ​ជា​មុន ទំហំ​អតិបរមា
Keywords[lt]=konqueror,filemanager,previews,file previews,maximum size, bylų tvarkyklė, peržiūros, bylų peržiūros, didžiausias dydis
Keywords[lv]=Iekarotājs,failu menedžeris,priekšapskate,failu priekšapskate,maksimālais izmērs
Keywords[mk]=konqueror,filemanager,previews,file previews,maximum size,менаџер на датотеки, прегледи, прегледи на датотеки,максимална големина
Keywords[nb]=konqueror,forhåndsvisning,fil,filbehandler,forhåndsvisning,filvisning,største størrelse
Keywords[nds]=Konqueror,Dateipleger,Vöransichten,Dateivöransicht,maximale Grött
Keywords[ne]=कन्क्वेरर, फाइल व्वस्थापक, पूर्वावलोकन, फाइल पूर्वावलोकन, अधिकतम साइज
Keywords[nl]=konqueror,filemanager,bestandsbeheer,previews,voorbeelden,vooruitblikken,bestandsvoorbeelden,maximum grootte
Keywords[nn]=Konqueror,filhandsamar,førehandsvising,filvising,høgste storleik
Keywords[pa]=ਕੋਨਕਿਉਰਰ,ਫਾਇਲ ਮੈਨੇਜਰ,ਝਲਕ,ਫਾਇਲ ਝਲਕ,ਵੱਧ ਤੋਂ ਵੱਧ ਅਕਾਰ
Keywords[pl]=konqueror,menedżer plików,podglądy,podglądy zawartości plików, rozmiar maksymalny
Keywords[pt]=konqueror,gestor de ficheiros,antevisões,antevisões de ficheiros,tamanho máximo
Keywords[pt_BR]=konqueror,gerenciador de arquivos,visualização,pré-visualizações de arquivos,tamanho máximo,previsões
Keywords[ro]=konqueror,manager de fişiere,previzualizări,mărime maximă
Keywords[se]=konqueror,fiilagieđahalli,ovdačájeheamit,fiilaovdačájeheamit,badjerádji sturrodat
Keywords[sl]=konqueror,upravitelj datotek,upravljalnik,predogled,ogled,največja velikost
Keywords[sr]=konqueror,filemanager,прегледи,прегледи фајлова,максимална величина
Keywords[sr@latin]=konqueror,filemanager,pregledi,pregledi fajlova,maksimalna veličina
Keywords[sv]=konqueror,filhanterare,förhandsgranskning,maximal storlek
Keywords[ta]=கான்கொரர்,கோப்பு மேலாளர்,முன்காட்சிகள்,கோப்பு முன்காட்சிகள்,அதிகப்பட்ச அளவு
Keywords[tg]=konqueror,filemanager,previews,file previews,maximum size, конкурор, мудири файл, пешнамоиш, файли пешнамоиш, андозаи калонтарин
Keywords[tr]=konqueror,dosya yöneticisi,önizlemeler,azami boyut,dosya önizleme
Keywords[uk]=konqueror,менеджер файлів,перегляд,перегляд файлів,максимальний розмір
Keywords[uz]=konqueror,файл бошқарувчи,кўриб чиқишлар,файлни кўриб чиқиш
Keywords[x-test]=xxkonqueror,filemanager,previews,file previews,maximum sizexx
Keywords[xh]=konqueror,umphathi wefayile,imboniselo. iimboniselo zefayile,yandisa ubungakanani
Keywords[zh_TW]=konqueror,filemanager,previews,file previews,maximum size,征服家,檔案管理程式,預覽,檔案預覽,最大大小,
