[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/filemanager/index.html
Icon=system-file-manager
Exec=kcmshell4 filebehavior

X-KDE-Library=kcm_konq
X-KDE-PluginKeyword=behavior
X-KDE-ParentApp=kcontrol

Name=Behavior

Comment=You can configure how Konqueror behaves as a file manager here

X-KDE-Keywords=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,
