[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=UserAgentChanger
X-KDE-PluginInfo-Author=Dawit Alemayehu
X-KDE-PluginInfo-Email=adawit@kde.org
X-KDE-PluginInfo-Name=UserAgentChanger
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=UserAgent Changer
Name[ca]=Commutador d'agent d'usuari
Name[cs]=Editor uživatelského agenta
Name[da]=Skift af brugeragent
Name[de]=Browserkennung ändern
Name[es]=Cambiar agente de usuario
Name[et]=Identifikaatori muutja
Name[fr]=Modificateur d'agent utilisateur
Name[ia]=Cambiator de Agente de usator (UserAgent)
Name[it]=Modificatore di UserAgent
Name[ja]=ユーザエージェントチェンジャー
Name[kk]=UserAgent ауыстырғышы
Name[ko]=사용자 에이전트 변경 도구
Name[lt]=Vartotojo agento keitiklis
Name[nb]=Endrer brukeragent
Name[nds]=Nettkieker-Kennen ännern
Name[nl]=Gebruikersagent wijzigen
Name[nn]=Endra brukaragent-tekst
Name[pt]=Selector do Agente de Utilizador
Name[pt_BR]=Modificador do agente de usuário
Name[ru]=Строка UserAgent
Name[sr]=Измењивач корисничког агента
Name[sr@ijekavian]=Измењивач корисничког агента
Name[sr@ijekavianlatin]=Izmenjivač korisničkog agenta
Name[sr@latin]=Izmenjivač korisničkog agenta
Name[sv]=Ändring av användaragent
Name[uk]=Зміна UserAgent
Name[x-test]=xxUserAgent Changerxx
Name[zh_TW]=使用者代理字串變更器
Comment=Allows the detected UserAgent to be modified
Comment[ca]=Permet modificar l'agent d'usuari (UserAgent) detectat
Comment[cs]=Umožňuje upravení vybraného UserAgenta
Comment[da]=Muliggør at ændre hvilken brugeragent der detekteret
Comment[de]=Ermöglicht die Änderung der erkannten Browserkennung
Comment[es]=Permite modificar el agente de usuario detectado
Comment[et]=Võimaldab muuta brauseri tuvastatavat identifikaatorit
Comment[fr]=Permet à l'agent utilisateur détecté d'être modifié
Comment[ia]=Il permitte de relevar Agente de Usator que debe esser modificate
Comment[it]=Permette di modificare l'UserAgent rilevato
Comment[ja]=検出されるユーザエージェントの編集を可能にします
Comment[kk]=UserAgent-ті өзгертуге көмектесу
Comment[ko]=사용자 에이전트를 바꿀 수 있도록 하기
Comment[lt]=Leidžia keisti aptiktą NaudotojoAgentą
Comment[nb]=Gjør at brukeragentstrengen kan endres
Comment[nds]=Lett Di de Nettkieker-Kennen ännern
Comment[nl]=Maakt het mogelijk om de browseragent te wijzigen
Comment[nn]=Gjer det mogleg å endra brukaragent-teksten
Comment[pt]=Permite modificar o Agente de Utilizador detectado
Comment[pt_BR]=Permite alterar o agente de usuário detectado
Comment[ru]=Позволяет менять значение строки UserAgent
Comment[sr]=Омогућава измену одаслатог корисничког агента
Comment[sr@ijekavian]=Омогућава измену одаслатог корисничког агента
Comment[sr@ijekavianlatin]=Omogućava izmenu odaslatog korisničkog agenta
Comment[sr@latin]=Omogućava izmenu odaslatog korisničkog agenta
Comment[sv]=Gör det möjligt att ändra detekterad användaragent
Comment[uk]=Дає змогу міняти UserAgent
Comment[x-test]=xxAllows the detected UserAgent to be modifiedxx
Comment[zh_TW]=允許變更使用者代理字串
X-KDE-ParentApp=konqueror
Icon=preferences-web-browser-identification
DocPath=konq-plugins/uachanger/index.html
