[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=UserAgentChanger
X-KDE-PluginInfo-Author=Dawit Alemayehu
X-KDE-PluginInfo-Email=adawit@kde.org
X-KDE-PluginInfo-Name=UserAgentChanger
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=UserAgent Changer
Name[ar]=مغير معرف المتصفح
Name[bg]=Смяна на UserAgent
Name[bs]=Izmjenjivač korisničkog agenta
Name[ca]=Commutador d'agent d'usuari
Name[ca@valencia]=Commutador d'agent d'usuari
Name[cs]=Editor uživatelského agenta
Name[da]=Skift brugeragent
Name[de]=Browserkennung ändern
Name[el]=Αλλαγή πράκτορα χρήστη
Name[en_GB]=UserAgent Changer
Name[es]=Cambiar agente de usuario
Name[et]=Identifikaatori muutja
Name[eu]=Erabiltzaile-agente aldatzailea
Name[fi]=Käyttäjäagentin vaihtaja
Name[fr]=Modificateur d'agent utilisateur
Name[ga]=Clár Athraithe UserAgent
Name[gl]=Cambio da identificación do navegador
Name[he]=משנה מחרוזות זיהוי דפדפן
Name[hne]=यूजरएजेंट बदलइया
Name[hr]=Mijenjač UserAgenta
Name[hu]=Böngészőazonosító-váltó
Name[ia]=Cambiator de Agente de usator (UserAgent)
Name[id]=Pengubah UserAgent
Name[is]=Breyta UserAgent
Name[it]=Modificatore di UserAgent
Name[ja]=ユーザエージェントチェンジャー
Name[kk]=UserAgent ауыстырғышы
Name[km]=កម្មវិធី​ផ្លាស់ប្ដូរ​ភ្នាក់ងារ​អ្នក​ប្រើ
Name[ko]=사용자 에이전트 변경 도구
Name[ku]=Guherkerê UserAgent
Name[lt]=Naudotojo agento keitiklis
Name[lv]=Lietotāja aģenta mainītājs
Name[mr]=वापरकर्ता प्रतिनिधी बदलणारा
Name[nb]=Endrer brukeragent
Name[nds]=Nettkieker-Kennen ännern
Name[nl]=Gebruikersagent wijzigen
Name[nn]=Endra brukaragent-tekst
Name[pa]=ਯੂਜ਼ਰ-ਏਜੰਟ ਚੇਜ਼ਰ
Name[pl]=Zmieniacz UserAgenta
Name[pt]=Mudança de Agente do Utilizador
Name[pt_BR]=Modificador do agente de usuário
Name[ro]=Schimbă UserAgent
Name[ru]=Строка UserAgent
Name[sk]=Editor užívateľského agenta
Name[sl]=Uporabniški posredniki
Name[sr]=Измењивач корисничког агента
Name[sr@ijekavian]=Измјењивач корисничког агента
Name[sr@ijekavianlatin]=Izmjenjivač korisničkog agenta
Name[sr@latin]=Izmenjivač korisničkog agenta
Name[sv]=Ändring av användaragent
Name[tg]=Табдилгари корбари агентӣ
Name[th]=เครื่องมือเปลี่ยนการแสดงตัวของเบราว์เซอร์
Name[tr]=Kullanıcı Uygulaması Değiştirici
Name[ug]=ئىشلەتكۈچى ۋاكالەتچى ئۆزگەرتكۈچ
Name[uk]=Зміна UserAgent
Name[wa]=Candjeu d' idintifiaedje do betchteu (« User Agent »)
Name[x-test]=xxUserAgent Changerxx
Name[zh_CN]=用户代理变更器
Name[zh_TW]=使用者代理程式變更器
Comment=Allows the detected UserAgent to be modified
Comment[ar]=تسمح بتغير معرف المتصفح
Comment[bg]=Позволява промяната на UserAgent, с който програмата се представя пред сървърите
Comment[bs]=Omogućava izmjenu odaslatog korisničkog agenta
Comment[ca]=Permet de modificar l'agent d'usuari (UserAgent) detectat
Comment[ca@valencia]=Permet de modificar l'agent d'usuari (UserAgent) detectat
Comment[cs]=Umožňuje upravení vybraného uživatelského agenta
Comment[da]=Tillader at ændre hvilken browser Konqueror udgiver sig for at være.
Comment[de]=Ermöglicht die Änderung der erkannten Browserkennung
Comment[el]=Επιτρέπει την αλλαγή του πράκτορα χρήστη
Comment[en_GB]=Allows the detected UserAgent to be modified
Comment[es]=Permite modificar el agente de usuario detectado
Comment[et]=Võimaldab muuta brauseri tuvastatavat identifikaatorit
Comment[eu]=Detektatutako erabiltzaile-agentea aldatzeko aukera eskaintzen du
Comment[fi]=Sallii käyttäjäagentin muutoksen havaitsemisen
Comment[fr]=Permet à l'agent utilisateur détecté d'être modifié
Comment[ga]=Ceadaíonn sé seo duit an UserAgent a athrú
Comment[gl]=Permite modificar a identificación do navegador
Comment[he]=מאפשר את שינוי מחרוזת מזהה־המשתמש
Comment[hne]=यूजरएजेंट ल सुधारे बर स्वीकारथे 
Comment[hr]=Dozvoliti da otkriveni UserAgent bude promijenjen
Comment[hu]=Lehetővé teszi az észlelt böngészőazonosító módosítását
Comment[ia]=Il permitte de relevar Agente de Usator que debe esser modificate
Comment[id]=Memungkinkan UserAgent terdeteksi untuk dimodifikasi
Comment[is]=Gerir kleift að breyta þeim UserAgent streng sem fannst
Comment[it]=Permette di modificare l'UserAgent rilevato
Comment[ja]=検出されるユーザエージェントの編集を可能にします
Comment[kk]=UserAgent-ті өзгертуге көмектесу
Comment[km]=អនុញ្ញាត​ភ្នាក់ងារ​អ្នក​ប្រើ​ដែល​រក​ឃើញ​ឲ្យ​កែប្រែ
Comment[ko]=사용자 에이전트를 바꿀 수 있도록 하기
Comment[ku]=Dihêle ku UserAgent ên hatine dîtin bên guherandin
Comment[lt]=Leidžia keisti aptiktą NaudotojoAgentą
Comment[lv]=Ļauj mainīt pārlūka sūtīto lietotāja aģenta tekstu
Comment[mr]=सापडलेला वापरकर्ता प्रतिनिधी बदलण्यासाठी परवानगी देतो
Comment[nb]=Gjør at brukeragentstrengen kan endres
Comment[nds]=Lett Di de Nettkieker-Kennen ännern
Comment[nl]=Maakt het mogelijk om de browseragent te wijzigen
Comment[nn]=Gjer det mogleg å endra brukaragent-teksten
Comment[pa]=ਖੋਜੇ ਯੂਜ਼ਰ-ਏਜੰਟ ਨੂੰ ਸੋਧਣਾ ਮਨਜ਼ੂਰ ਕਰੋ
Comment[pl]=Pozwala na modyfikację rozpoznanych UserAgentów
Comment[pt]=Permite modificar o Agente de Utilizador detectado
Comment[pt_BR]=Permite alterar o agente de usuário detectado
Comment[ro]=Permite schimbare UserAgent-ului detectat
Comment[ru]=Позволяет менять значение строки UserAgent
Comment[sk]=Umožní upravovanie vybranému užívateľskému agentovi
Comment[sl]=Omogoča spremembo zaznanega uporabniškega posrednika
Comment[sr]=Омогућава измену одаслатог корисничког агента
Comment[sr@ijekavian]=Омогућава измјену одаслатог корисничког агента
Comment[sr@ijekavianlatin]=Omogućava izmjenu odaslatog korisničkog agenta
Comment[sr@latin]=Omogućava izmenu odaslatog korisničkog agenta
Comment[sv]=Gör det möjligt att ändra detekterad användaragent
Comment[tg]=Иҷозат медиҳад, ки Корбари агентии муайяншударо тағйир диҳед
Comment[th]=อนุญาตให้ทำการปรับเปลี่ยนการแสดงตัวของเบราว์เซอร์ได้
Comment[tr]=Belirlenen Kullanıcı Uygulamasının değiştirilmesini sağlar
Comment[ug]=بايقالغان ئىشلەتكۈچى ۋاكالەتچىسىنى ئۆزگەرتىشكە يول قويىدۇ
Comment[uk]=Дає змогу міняти UserAgent
Comment[wa]=Permete di candjî l' idintifiaedje do betchteu trové
Comment[x-test]=xxAllows the detected UserAgent to be modifiedxx
Comment[zh_CN]=允许用户修改被检测的用户代理
Comment[zh_TW]=允許變更自動偵測到的使用者代理程式
X-KDE-ParentApp=konqueror
Icon=preferences-web-browser-identification
DocPath=konq-plugins/uachanger/index.html
