[Desktop Entry]
Type=Service
Icon=view-sidetree
Name=Sidebar
Name[bg]=Страничен панел
Name[csb]=Bòcznô listew
Name[da]=Sidepanel
Name[de]=Seitenleiste
Name[el]=Πλευρική μπάρα
Name[en_GB]=Sidebar
Name[eo]=Flanka breto
Name[es]=Barra lateral
Name[et]=Külgriba
Name[eu]=Alboko-barra
Name[gu]=બાજુપટ્ટી
Name[he]=סרגל צד
Name[hr]=Bočna traka
Name[is]=Hliðarslá
Name[kk]=Бүйірдегі панелі
Name[lv]=Sānjosla
Name[nb]=Sidestolpe
Name[nds]=Sietpaneel
Name[pt]=Barra Lateral
Name[pt_BR]=Barra lateral
Name[ro]=Bara laterală
Name[sv]=Sidorad
Name[tr]=Yan Çubuk
Name[uk]=Бічна панель
Name[wa]=Bår di costé
Name[x-test]=xxSidebarxx
Name[zh_TW]=邊列
MimeType=inode/directory;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=konq_sidebar
X-KDE-BrowserView-AllowAsDefault=false
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-PassiveMode=true
X-KDE-BrowserView-Toggable=true
X-KDE-BrowserView-ToggableView-Orientation=vertical
X-KDE-BrowserView-HierarchicalView=true
X-KDE-BrowserView-FollowActive=true
X-KDE-BrowserView-LinkedView=false
X-KDE-BrowserView-Built-Into=konqueror
