[Desktop Entry]
Type=Service
Icon=view-sidetree
Name=Navigation Panel
Name[af]=Navigasie Paneel
Name[ar]=لوحة التصفح
Name[as]=পৰিদৰ্শনৰ পেনেল
Name[be]=Панель навігацыі
Name[be@latin]=Panel miescaŭ
Name[bg]=Навигационен панел
Name[bn]=ভ্রমণ প্যানেল
Name[bn_IN]=পরিদর্শন করতে ব্যবহৃত প্যানেল
Name[br]=Panell furchal
Name[ca]=Plafó de navegació
Name[ca@valencia]=Plafó de navegació
Name[cs]=Navigační panel
Name[csb]=Nawigacëjny panel
Name[cy]=Panel Llywio
Name[da]=Navigationspanel
Name[de]=Navigationsbereich
Name[el]=Πλαίσιο πλοήγησης
Name[en_GB]=Navigation Panel
Name[eo]=Navigila panelo
Name[es]=Panel de navegación
Name[et]=Liikumispaneel
Name[eu]=Arakaketa panela
Name[fa]=تابلوی ناوش
Name[fi]=Navigointipaneeli
Name[fr]=Panneau de navigation
Name[fy]=Navigaasjepaniel
Name[ga]=Painéal Nascleanúna
Name[gl]=Panel de navegación
Name[gu]=શોધખોળ પેનલ
Name[he]=לוח ניווט
Name[hi]=संचरण फलक
Name[hne]=नेविगेसन फलक
Name[hr]=Navigacijski panel
Name[hsb]=Nawigaciski pas
Name[hu]=Navigációs panel
Name[is]=Leiðarstýrispjald
Name[it]=Pannello di navigazione
Name[ja]=ナビゲーションパネル
Name[ka]=სანავიგაციო პანელი
Name[kk]=Шарлау панелі
Name[km]=បន្ទះ​​​រុករក
Name[kn]=ನಾವಯಾನ ಪಟ್ಟಿ
Name[ko]=탐색 패널
Name[ku]=Panela Gerînê
Name[lt]=Navigacijos pultas
Name[lv]=Navigācijas panelis
Name[mai]=नेविगेशन फलक
Name[mk]=Навигациски панел
Name[ml]=നാവിഗേഷന്‍ പാളി
Name[mr]=संचारन पटल
Name[ms]=Panel Navigasi
Name[nb]=Navigasjonspanel
Name[nds]=Navigeer-Paneel
Name[ne]=नेभिगेसन प्यानल
Name[nl]=Navigatiepaneel
Name[nn]=Navigasjonspanel
Name[oc]=Panèl de navegacion
Name[or]=ପଥପ୍ରଦର୍ଶନ ପାନେଲ
Name[pa]=ਨੇਵੀਗੇਸ਼ਨ ਪੈਨਲ
Name[pl]=Panel nawigacyjny
Name[pt]=Painel de Navegação
Name[pt_BR]=Painel de navegação
Name[ro]=Panou de navigare
Name[ru]=Панель навигации
Name[se]=Navigašuvdnapanela
Name[si]=සැරිසැරුම් පුවරු
Name[sk]=Navigačný panel
Name[sl]=Navigacijska plošča
Name[sr]=Навигациони панел
Name[sr@latin]=Navigacioni panel
Name[sv]=Navigeringspanel
Name[ta]=உலாவற் பலகை
Name[te]=నావిగేషన్ ప్యానల్
Name[tg]=Панели намоишгар
Name[th]=แถบนำทาง
Name[tr]=Gezgin Paneli
Name[uk]=Панель навігації
Name[uz]=Yoʻlchi paneli
Name[uz@cyrillic]=Йўлчи панели
Name[vi]=Bảng điều khiển duyệt qua
Name[wa]=Panea d' naiviaedje
Name[xh]=Iqela lenjongo Yolawulo
Name[x-test]=xxNavigation Panelxx
Name[zh_CN]=导航面板
Name[zh_TW]=導覽面板
MimeType=inode/directory;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=konq_sidebar
X-KDE-BrowserView-AllowAsDefault=false
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-PassiveMode=true
X-KDE-BrowserView-Toggable=true
X-KDE-BrowserView-ToggableView-Orientation=vertical
X-KDE-BrowserView-HierarchicalView=true
X-KDE-BrowserView-FollowActive=true
X-KDE-BrowserView-LinkedView=false
X-KDE-BrowserView-Built-Into=konqueror
