[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=view_sidetree
Name=Navigation Panel
Name[af]=Navigasie Paneel
Name[ar]=لوحة الملاحة
Name[be]=Панэль навігацыі
Name[br]=Panell furchal
Name[ca]=Plafó de navegació
Name[cs]=Navigační panel
Name[csb]=Nawigacëjny panel
Name[cy]=Panel Llywio
Name[da]=Navigationspanel
Name[de]=Navigationsbereich
Name[el]=Πλαίσιο πλοήγησης
Name[eo]=Navigila panelo
Name[es]=Panel de navegación
Name[et]=Liikumise paneel
Name[eu]=Arakaketa panela
Name[fa]=تابلوی ناوش
Name[fi]=Navigointipaneeli
Name[fr]=Panneau de navigation
Name[fy]=Navigaasjepaniel
Name[ga]=Painéal Loingseoireachta
Name[gl]=Painel de Navegación
Name[he]=לוח ניווט
Name[hr]=Navigacijska ploča
Name[hu]=Navigációs panel
Name[is]=Leiðarstýrispjald
Name[it]=Pannello di navigazione
Name[ja]=ナビゲーションパネル
Name[ka]=სანავიგაციო პანელი
Name[kk]=Шарлау панелі
Name[km]=បន្ទះ​ការ​រុករក
Name[lt]=Navigacijos pultas
Name[lv]=Navigācijas Panelis
Name[mk]=Навигациски панел
Name[ms]=Panel Navigasi
Name[nb]=Navigasjonspanel
Name[nds]=Navigatschoonspaneel
Name[ne]=नेभिगेसन प्यानल
Name[nl]=Navigatiepaneel
Name[nn]=Navigasjonspanel
Name[pa]=ਏਧਰ-ਓਧਰ ਪੈਨਲ
Name[pl]=Panel nawigacyjny
Name[pt]=Painel de Navegação
Name[pt_BR]=Painel de Navegação
Name[ro]=Panou de navigare
Name[ru]=Панель навигации
Name[se]=Navigašuvdnapanela
Name[sl]=Navigacijski pult
Name[sr]=Навигациони панел
Name[sr@latin]=Navigacioni panel
Name[sv]=Navigeringspanel
Name[ta]=நாவிகேஷன் பலகம்
Name[tg]=Сафҳаи контроли ҷустуҷӯ
Name[tr]=Dolaşma Paneli
Name[uk]=Панель навігації
Name[uz]=Йўлчи панели
Name[wa]=Panea d' naiviaedje
Name[x-test]=xxNavigation Panelxx
Name[xh]=Iqela lenjongo Yolawulo
Name[zh_TW]=導覽面板
MimeType=inode/directory
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=konq_sidebar
X-KDE-BrowserView-AllowAsDefault=false
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-PassiveMode=true
X-KDE-BrowserView-Toggable=true
X-KDE-BrowserView-ToggableView-Orientation=vertical
X-KDE-BrowserView-HierarchicalView=true
X-KDE-BrowserView-FollowActive=true
X-KDE-BrowserView-LinkedView=false
X-KDE-BrowserView-Built-Into=konqueror
