<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="validators" library="validatorsplugin" version="2" translationDomain="validatorsplugin">
<MenuBar>
 <Menu name="tools"><text>&amp;Tools</text>
  <Action name="validateWebpage"/>
 </Menu>
</MenuBar>
<ToolBar name="extraToolBar"><text>Extra Toolbar</text>
  <Action name="validateWebpage"/>
</ToolBar>
</gui>
