[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=webarchiver
X-KDE-PluginInfo-Author=Andreas Schlapbach
X-KDE-PluginInfo-Email=schlpbch@iam.unibe.ch
X-KDE-PluginInfo-Name=webarchiver
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Web Archiver
Name[ca]=Arxivador de webs
Name[cs]=Webový archivátor
Name[de]=Web-Archivierung
Name[et]=Veebiarhiveerija
Name[ia]=Archivator web
Name[ja]=ウェブアーカイバ
Name[kk]=Веб-архивтеуіш
Name[lt]=Žiniatinklių puslapių archyvavimo priemonė
Name[nb]=Vevarkivar
Name[nds]=Nettarchiv-Maker
Name[nl]=Webarchiveerder
Name[nn]=Nettsidearkivering
Name[pt]=Arquivo Web
Name[sv]=Webbarkiverare
Name[uk]=Веб-архіватор
Name[x-test]=xxWeb Archiverxx
Name[zh_TW]=網頁歸檔器
Comment=Creates archives of websites
Comment[ca]=Crea arxius de llocs web
Comment[cs]=Vytvoří archiv z webových stránek
Comment[de]=Erstellt ein Archiv von Webseiten
Comment[et]=Võimaldab luua veebilehekülgede arhiive
Comment[ia]=Il crea archivos de sitos web
Comment[ja]=ウェブサイトのアーカイブを作成します
Comment[kk]=Вебсайттарының архивін құру
Comment[lt]=Sukuria archyvus iš žiniatinklio puslapių
Comment[nb]=Lager arkiver av nettsteder
Comment[nds]=Stellt Archiven ut Nettsieden op
Comment[nl]=Maakt archieven van websites aan
Comment[nn]=Lag arkiv av nettsider
Comment[pt]=Cria pacotes de páginas Web
Comment[sv]=Skapar arkiv av webbplatser
Comment[uk]=Створює архіви веб-сайтів
Comment[x-test]=xxCreates archives of websitesxx
Comment[zh_TW]=建立網站的歸檔
Icon=webarchiver
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/webarchiver/index.html
