[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=webarchiver
X-KDE-PluginInfo-Author=Andreas Schlapbach
X-KDE-PluginInfo-Email=schlpbch@iam.unibe.ch
X-KDE-PluginInfo-Name=webarchiver
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Web Archiver
Comment=Creates archives of websites
Icon=webarchiver
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/webarchiver/index.html
