[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=webarchiver
X-KDE-PluginInfo-Author=Andreas Schlapbach
X-KDE-PluginInfo-Email=schlpbch@iam.unibe.ch
X-KDE-PluginInfo-Name=webarchiver
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Web Archiver
Name[ca]=Arxivador de webs
Name[ca@valencia]=Arxivador de webs
Name[cs]=Webový archivátor
Name[da]=Webarkivering
Name[de]=Web-Archivierung
Name[es]=Archivador web
Name[et]=Veebiarhiveerija
Name[fi]=Web-arkistoija
Name[fr]=Archiveur web
Name[hr]=Arhiviranje weba
Name[hu]=Webarchiváló
Name[ia]=Archivator web
Name[it]=Archiviatore web
Name[ja]=ウェブアーカイバ
Name[kk]=Веб-архивтеуіш
Name[ko]=웹 보관 도구
Name[lt]=Žiniatinklių puslapių archyvavimo priemonė
Name[nb]=Vevarkivar
Name[nds]=Nettarchiv-Maker
Name[nl]=Webarchiveerder
Name[nn]=Nettsidearkivering
Name[pt]=Arquivo Web
Name[pt_BR]=Arquivador de páginas da Internet
Name[ru]=Архиватор веб-страниц
Name[sl]=Spletni arhivator
Name[sr]=Веб архивар
Name[sr@ijekavian]=Веб архивар
Name[sr@ijekavianlatin]=Veb arhivar
Name[sr@latin]=Veb arhivar
Name[sv]=Webbarkiverare
Name[uk]=Вебархіватор
Name[x-test]=xxWeb Archiverxx
Name[zh_TW]=網頁歸檔器
Comment=Creates archives of websites
Comment[ca]=Crea arxius de llocs web
Comment[ca@valencia]=Crea arxius de llocs web
Comment[cs]=Vytvoří archiv z webových stránek
Comment[da]=Opretter arkiver af websider
Comment[de]=Erstellt ein Archiv von Webseiten
Comment[es]=Crear archivos de sitios web
Comment[et]=Võimaldab luua veebilehekülgede arhiive
Comment[fi]=Luo arkistoja verkkosivuista
Comment[fr]=Crée des archives de sites web
Comment[hr]=Stvara arhive web stranica
Comment[hu]=Weboldalak archívumának készítése
Comment[ia]=Il crea archivos de sitos web
Comment[it]=Crea archivi di siti web
Comment[ja]=ウェブサイトのアーカイブを作成します
Comment[kk]=Вебсайттарының архивін құру
Comment[ko]=웹 사이트의 보관 파일 만들기
Comment[lt]=Sukuria archyvus iš žiniatinklio puslapių
Comment[nb]=Lager arkiver av nettsteder
Comment[nds]=Stellt Archiven ut Nettsieden op
Comment[nl]=Maakt archieven van websites aan
Comment[nn]=Lag arkiv av nettsider
Comment[pt]=Cria pacotes de páginas Web
Comment[pt_BR]=Cria arquivos de páginas da Internet
Comment[ru]=Создаёт архивы с содержимым веб-сайтов
Comment[sl]=Ustvari arhive spletnih strani
Comment[sr]=Прави архиве веб сајтова
Comment[sr@ijekavian]=Прави архиве веб сајтова
Comment[sr@ijekavianlatin]=Pravi arhive veb sajtova
Comment[sr@latin]=Pravi arhive veb sajtova
Comment[sv]=Skapar arkiv av webbplatser
Comment[uk]=Створює архіви вебсайтів
Comment[x-test]=xxCreates archives of websitesxx
Comment[zh_TW]=建立網站的歸檔
Icon=webarchiver
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/webarchiver/index.html
