[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Web Archives
Name[ca]=Arxius web
Name[ca@valencia]=Arxius web
Name[cs]=Webové archivy
Name[da]=Webarkiver
Name[de]=Web-Archive
Name[es]=Archivos web
Name[et]=Veebiarhiivid
Name[fi]=Verkkosivuarkistot
Name[fr]=Archives web
Name[hr]=Web arhiva
Name[hu]=Webarchívumok
Name[ia]=Archivos Web
Name[it]=Archivi web
Name[ja]=ウェブアーカイブ
Name[kk]=Веб-архивтері
Name[ko]=웹 보관
Name[lt]=Žiniatinklio archyvai
Name[nb]=Nettarkiver
Name[nds]=Nettarchiven
Name[nl]=Webarchieven
Name[nn]=Nettsidearkiv
Name[pt]=Pacotes da Web
Name[pt_BR]=Arquivos da Internet
Name[ru]=Архивы веб-страниц
Name[sl]=Spletni arhivi
Name[sr]=Веб архиве
Name[sr@ijekavian]=Веб архиве
Name[sr@ijekavianlatin]=Veb arhive
Name[sr@latin]=Veb arhive
Name[sv]=Webbarkiv
Name[uk]=Вебархіви
Name[x-test]=xxWeb Archivesxx
Name[zh_TW]=網頁歸檔
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-webarchive;
X-KDE-Library=webarchivethumbnail
CacheThumbnail=true
