[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Web Archives
Name[ca]=Arxius web
Name[cs]=Webové archivy
Name[da]=Webarkiver
Name[de]=Web-Archive
Name[et]=Veebiarhiivid
Name[ia]=Archivos Web
Name[it]=Archivi web
Name[ja]=ウェブアーカイブ
Name[kk]=Веб-архивтері
Name[lt]=Žiniatinklio archyvai
Name[nb]=Nettarkiver
Name[nds]=Nettarchiven
Name[nl]=Webarchieven
Name[nn]=Nettsidearkiv
Name[pt]=Pacotes da Web
Name[sv]=Webbarkiv
Name[uk]=Веб-архіви
Name[x-test]=xxWeb Archivesxx
Name[zh_TW]=網頁歸檔
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-webarchive;
X-KDE-Library=webarchivethumbnail
CacheThumbnail=true
