[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=
Icon=bookmark
Name=Bookmarks
Name[af]=Boekmerke
Name[be]=Закладкі
Name[bg]=Отметки
Name[br]=Sinedoù
Name[ca]=Punts
Name[cs]=Záložky
Name[csb]=Załóżczi
Name[cy]=Nodau Tudalen
Name[da]=Bogmærker
Name[de]=Lesezeichen
Name[el]=Σελιδοδείκτες
Name[eo]=Legosignoj
Name[es]=Marcadores
Name[et]=Järjehoidjad
Name[eu]=Laster-markak
Name[fa]=چوب الفها
Name[fi]=Kirjanmerkit
Name[fr]=Signets
Name[fy]=Blêdwizers
Name[ga]=Leabharmharcanna
Name[gl]=Marcadores
Name[he]=סימניות
Name[hr]=Oznake
Name[hu]=Könyvjelzők
Name[is]=Bókamerki
Name[it]=Segnalibri
Name[ja]=ブックマーク
Name[ka]=სანიშნეები
Name[kk]=Бетбелгі
Name[km]=ចំណាំ
Name[ko]=책갈피
Name[lt]=Žymelės
Name[lv]=Grāmatzīmes
Name[mk]=Обележувачи
Name[ms]=Tanda Buku
Name[nb]=Bokmerker
Name[nds]=Leesteken
Name[ne]=पुस्तकचिनो
Name[nl]=Bladwijzers
Name[nn]=Bokmerke
Name[pa]=ਬੁੱਕਮਾਰਕ
Name[pl]=Zakładki
Name[pt]=Favoritos
Name[pt_BR]=Favoritos
Name[ro]=Semne de carte
Name[ru]=Закладки
Name[se]=Girjemearkkat
Name[sl]=Zaznamki
Name[sr]=Маркери
Name[sr@latin]=Markeri
Name[sv]=Bokmärken
Name[ta]=புத்தகக்குறிகள்
Name[te]=పేజి గుర్తులు
Name[tg]=Гузориш
Name[tr]=Yer imleri
Name[uk]=Закладки
Name[uz]=Хатчўплар
Name[wa]=Rimåkes
Name[x-test]=xxBookmarksxx
Name[xh]=Amanqaku eencwadi
Name[zh_TW]=書籤
Comment=This is the list of your bookmarks, for a faster access
Comment[af]=Hierdie is die lys van jou boekmerke, vir 'n vinniger toegang verkry
Comment[be]=Гэта спіс вашых закладак для хуткага доступу
Comment[bg]=Списък на отметки за бърз достъп
Comment[ca]=Aquesta és la llista dels vostres punts, per un accés més ràpid
Comment[cs]=Toto je seznam vašich záložek k jejich rychlejšímu nalezení
Comment[csb]=To je lësta załóżków, dlô chùtczégò przëstãpù
Comment[cy]=Dyma restr eich nodau tudalen, am gyrchiad cyflymach
Comment[da]=Dette er en liste af dine bogmærker for hurtigere adgang
Comment[de]=Dies ist eine Liste Ihrer Lesezeichen, sie dient dem schnelleren Zugriff
Comment[el]=Αυτή είναι η λίστα των σελιδοδεικτών σας, για γρηγορότερη πρόσβαση
Comment[eo]=Jen la listo de viaj legosignoj por pli rapida aliro
Comment[es]=Esta es la lista de sus marcadores, para un acceso más rápido.
Comment[et]=Sinu järjehoidjate nimekiri
Comment[eu]=Hemen duzu zure laster-marken zerrenda, atzitze bizkorragorako
Comment[fa]=این فهرست چوب الفهای شما، برای دستیابی سریع‌تر است
Comment[fi]=Tämä on lista kirjanmerkeistäsi
Comment[fr]=Voici la liste de vos signets, afin que vous y accédiez plus rapidement
Comment[fy]=Dit is de list mei jo blêdwizers, foar fluggere tagong
Comment[ga]=Seo liosta do chuid leabharmharcanna, le haghaidh rochtain níos tapúla
Comment[gl]=Ésta é a lista dos seus marcadores, para un aceso máis rápido
Comment[he]=זוהי רשימת הסימניות שלך, לגישה מהירה
Comment[hr]=Popis oznaka koje ubrzavaju pristup
Comment[hu]=A könyvjelzők listája (gyors elérhetőség)
Comment[is]=Hér eru bókamerkin þín
Comment[it]=Questa è la lista dei tuoi segnalibri, per un accesso più rapido
Comment[ja]=高速アクセスのためのブックマークのリストです
Comment[ka]=ეს არის თვენი სანიშნეების სია, რომელიც გჭირდებათ სწრაფად წვდომისთვის
Comment[kk]=Тез ақтару үшін бетбелгі тізіміңіз
Comment[km]=នេះ​ជា​បញ្ជី​​ចំណាំ​របស់​អ្នក ដែល​អាច​ចូលដំណើរការ​បាន​លឿន
Comment[ko]=빨리 찾아가도록 도와주는 책갈피 목록입니다.
Comment[lt]=Šiame aplanke yra visos Jūsų žymelės, skirtos greitesniam priėjimui
Comment[lv]=Šis ir jūsu grāmatzīmju saraksts ātrākai pieejai
Comment[mk]=Ова е листа на вашите обележувачи што служат за побрз пристап
Comment[ms]=Ini ialah senarai tanda buku anda, untuk akses terpantas
Comment[nb]=Dette er en liste over bokmerkene dine, for raskere tilgang
Comment[nds]=Dat is de List vun Dien Leesteken för gauen Togriep
Comment[ne]=छिटो पहुँचका लागि यो तपाईँको पुस्तकचिनो सूची हो
Comment[nl]=Dit is de lijst met uw bladwijzers, voor snellere toegang
Comment[nn]=Dette er ei liste over bokmerka dine, for snøggare tilgang
Comment[pa]=ਤੇਜ਼ ਖੋਲਣ ਲਈ ਇਹ ਤੁਹਾਡੇ ਬੁੱਕਮਾਰਕ ਦੀ ਸੂਚੀ ਹੈ
Comment[pl]=To jest lista zakładek, dla szybszego dostępu
Comment[pt]=Os seus favoritos, para um acesso mais rápido
Comment[pt_BR]=Esta pasta contém a sua lista dos favoritos, para o acesso mais rápido
Comment[ro]=Aceasta este lista semnelor dumneavoastră de carte
Comment[ru]=Список закладок для быстрого доступа
Comment[se]=Dát leat du girjemearkkat, álkibut gávdnat
Comment[sl]=To je seznam vaših zaznamkov, za hitrejši dostop.
Comment[sr]=Ово је листа ваших маркера, ради лакшег приступа
Comment[sr@latin]=Ovo je lista vaših markera, radi lakšeg pristupa
Comment[sv]=Det här är listan på dina bokmärken, för snabbare åtkomst
Comment[ta]=இந்த பட்டியல் உங்கள் புத்தக குறியீடுகளை விரைவாற் அணுகுவதற்கு.
Comment[tg]=Рӯйхати гузориш барои дастраси тез
Comment[tr]=Bu sizin daha hızlı erişiminiz için kısa yollarınızın bir listesidir
Comment[uk]=Це - список ваших закладок для швидкого доступу
Comment[uz]=Хатчўплар рўйхати
Comment[x-test]=xxThis is the list of your bookmarks, for a faster accessxx
Comment[xh]=Olu luluhlu lwamanqaku encwadi yakho, yonikezelo olukhawulezayo
Comment[zh_TW]=快速存取網站的書籤列表
Open=false
X-KDE-TreeModule=Bookmarks
X-KDE-SearchableTreeModule=true
X-KDE-KonqSidebarModule=konqsidebar_tree
