[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=
Icon=folder
Name=Folder
Name[af]=Gids
Name[ar]=المجلد
Name[be]=Тэчка
Name[bg]=Директория
Name[br]=Renkell
Name[ca]=Carpeta
Name[cs]=Složka
Name[csb]=Katalog
Name[cy]=Plygell
Name[da]=Mappe
Name[de]=Ordner
Name[el]=Φάκελος
Name[eo]=Dosierujo
Name[es]=Carpeta
Name[et]=Kataloog
Name[eu]=Karpeta
Name[fa]=پوشه
Name[fi]=Kansio
Name[fr]=Dossier
Name[fy]=Map
Name[ga]=Fillteán
Name[gl]=Cartafol
Name[he]=תיקייה
Name[hr]=Mapa
Name[hu]=Könyvtár
Name[is]=Mappa
Name[it]=Cartella
Name[ja]=フォルダ
Name[ka]=საქაღალდე
Name[kk]=Қапшық
Name[km]=ថត
Name[lt]=Aplankas
Name[lv]=Mape
Name[mk]=Папка
Name[nb]=Mappe
Name[nds]=Orner
Name[ne]=फोल्डर
Name[nl]=Map
Name[nn]=Mappe
Name[pa]=ਫੋਲਡਰ
Name[pl]=Katalog
Name[pt]=Pasta
Name[pt_BR]=Pasta
Name[ru]=Папка
Name[se]=Máhppa
Name[sl]=Mapa
Name[sr]=Фасцикла
Name[sr@Latn]=Fascikla
Name[sv]=Katalog
Name[ta]=அடைவு
Name[tg]=Феҳрист
Name[tr]=Dizin
Name[uk]=Тека
Name[uz]=Жилд
Name[x-test]=xxFolderxx
Name[zh_TW]=資料夾
Open=false

X-KDE-TreeModule=Directory
X-KDE-TreeModule-Lib=konq_sidebartree_dirtree
X-KDE-Default-URL=file:/
X-KDE-TreeModule-ShowHidden=false
