[Desktop Entry]
Encoding=UTF-8
Name=Network
Name[af]=Netwerk
Name[be]=Сетка
Name[br]=Rouedad
Name[ca]=Xarxa
Name[cs]=Síť
Name[csb]=Séc
Name[cy]=Rhwydwaith
Name[da]=Netværk
Name[de]=Netzwerk
Name[el]=Δίκτυο
Name[eo]=Reto
Name[es]=Red
Name[et]=Võrk
Name[eu]=Sarea
Name[fa]=شبکه
Name[fi]=Verkko
Name[fr]=Réseau
Name[fy]=Netwurk
Name[ga]=Líonra
Name[gl]=Rede
Name[he]=רשת
Name[hr]=Mreža
Name[hu]=Hálózat
Name[is]=Net
Name[it]=Rete
Name[ja]=ネットワーク
Name[ka]=ქსელი
Name[kk]=Желі
Name[km]=បណ្ដាញ
Name[ko]=네트워크
Name[lt]=Tinklas
Name[lv]=Tīkls
Name[mk]=Мрежа
Name[ms]=Rangkaian
Name[nb]=Nettverk
Name[nds]=Nettwark
Name[ne]=सञ्जाल
Name[nl]=Netwerk
Name[nn]=Nettverk
Name[pa]=ਨੈੱਟਵਰਕ
Name[pl]=Sieć
Name[pt]=Rede
Name[pt_BR]=Rede
Name[ro]=Reţea
Name[ru]=Сеть
Name[se]=Fierbmi
Name[sl]=Omrežje
Name[sr]=Мрежа
Name[sr@latin]=Mreža
Name[sv]=Nätverk
Name[ta]=வலைதளம்
Name[te]=నెట్ వర్క్
Name[tg]=Шабака
Name[tr]=Ağ
Name[uk]=Мережа
Name[uz]=Тармоқ
Name[wa]=Rantoele
Name[x-test]=xxNetworkxx
Name[xh]=Umsebenzi womnatha
Name[zh_TW]=網路
Icon=network
Open=false
X-KDE-TreeModule=Virtual
X-KDE-RelURL=remote
X-KDE-KonqSidebarModule=konqsidebar_tree
