[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=file:/
Icon=folder_red
Name=Root Folder
Name[af]=Basis Gids
Name[ar]=مجلد الجذر
Name[be]=Каранёвая тэчка
Name[bg]=Главна директория
Name[br]=Renkell gwrizienn
Name[ca]=Carpeta arrel
Name[cs]=Kořenová složka
Name[csb]=Przédny katalog (root)
Name[cy]=Plygell Gwraidd
Name[da]=Rodmappe
Name[de]=Basisordner
Name[el]=Ριζικός φάκελος
Name[eo]=Baza dosierujo
Name[es]=Directorio raiz
Name[et]=Juurkataloog
Name[eu]=Erro karpeta
Name[fa]=پوشۀ ریشه
Name[fi]=Juurikansio
Name[fr]=Dossier racine
Name[fy]=Haadmap
Name[ga]=Fréamhfhillteán
Name[gl]=Cartafol Raíz
Name[he]=תיקיית שורש
Name[hr]=Korijenska mapa
Name[hu]=Gyökérkönyvtár
Name[is]=Rótarmappa
Name[it]=Cartella radice
Name[ja]=ルートフォルダ
Name[ka]=ძირეული საქაღალდე
Name[kk]=Түбір қапшығы
Name[km]=ថត Root
Name[ko]=루트 폴더
Name[lt]=Root aplankas
Name[lv]=Saknes katalogs
Name[mk]=Коренова папка
Name[ms]=Folder Root
Name[nb]=Rotkatalog
Name[nds]=Wörtelorner
Name[ne]=मूल फोल्डर
Name[nl]=Hoofdmap
Name[nn]=Rotmappe
Name[pa]=ਰੂਟ(root) ਫੋਲਡਰ
Name[pl]=Katalog główny
Name[pt]=Pasta Raiz
Name[pt_BR]=Pasta Raiz
Name[ro]=Folder rădăcină
Name[ru]=Корневая папка
Name[se]=Ruohtasmáhppa
Name[sl]=Korenska mapa
Name[sr]=Корена фасцикла
Name[sr@latin]=Korena fascikla
Name[sv]=Rotkatalog
Name[ta]=ஆரம்ப அடைவு
Name[te]=రూట్ ఫొల్డర్
Name[tg]=Феҳристи реша
Name[th]=โฟลเดอร์ราก
Name[tr]=Kök Dizini
Name[uk]=Коренева тека
Name[uz]=Туб жилди
Name[vi]=Thư mục Gốc
Name[wa]=Ridant raecene
Name[x-test]=xxRoot Folderxx
Name[zh_TW]=Root 資料夾
Comment=This is the root of the filesystem
Comment[af]=Hierdie is die basis van die lêer stelsel
Comment[ar]=هذا هو الجذر لنظام الملفات
Comment[be]=Гэта пачатак файлавай сістэмы
Comment[bg]=Тази директория е главната директория на системата
Comment[ca]=Aquest és l'arrel del sistema de fitxers
Comment[cs]=Toto je kořenový adresář souborového systému
Comment[csb]=Je to kòrzéń systemë lopków (przédny katalog - root)
Comment[cy]=Dyma wraidd y cysawd ffeiliau
Comment[da]=Dette er roden af filsystemet
Comment[de]=Dies ist der Basisordner Ihres Dateisystems
Comment[el]=Αυτή είναι η ρίζα του συστήματος αρχείων
Comment[eo]=Jen la radiko de la dosieraro
Comment[es]=Esta es la raíz del sistema de ficheros
Comment[et]=See on failisüsteemi ülemkataloog
Comment[eu]=Hau fitxategi sistemaren erroa da
Comment[fa]=این ریشه سیستم پرونده است
Comment[fi]=Tämä on tiedostojärjestelmän juuri
Comment[fr]=Ce dossier est à la racine de votre arborescence
Comment[fy]=Dit is de haad fan it triemsysteem
Comment[ga]=Seo fréamh an comhadchórais
Comment[gl]=Ésta é a raiz do sistema de arquivos
Comment[he]=זהו השורש של מערכת הקבצים שלך
Comment[hr]=Korijenska mapa datotečnog sustava
Comment[hu]=Ez a fájlrendszer gyökere
Comment[is]=Þetta er rót skráarkerfisins
Comment[it]=Questa è la radice del filesystem
Comment[ja]=ファイルシステムのルートです
Comment[ka]=ფაილური სისტემუს ძირეული საქაღალდე
Comment[kk]=Файл жүйесінің түбірі
Comment[km]=នេះ​ជា​ Root របស់​ប្រព័ន្ធ​ឯកសារ 
Comment[ko]=파일 시스템의 루트입니다
Comment[lt]=Tai yra bylų sistemos pradžia
Comment[lv]=Šī ir failusistēmas sakne
Comment[mk]=Ова е коренот на датотечниот системот
Comment[ms]=Ini ialah root bagi sistem fail
Comment[nb]=Dette er rota til filsystemet
Comment[nds]=Dit is dat Dateisysteem sien Wörtel
Comment[ne]=यो फाइल प्रणालीको मूल हो
Comment[nl]=Dit is de root van het bestandssysteem
Comment[nn]=Dette er rota i filsystemet.
Comment[pa]=ਇਹ ਫਾਇਲ ਸਿਸਟਮ ਦਾ ਰੂਟ (root) ਹੈ
Comment[pl]=To jest korzeń systemu plików (czyli katalog główny)
Comment[pt]=Este é o topo do sistema de ficheiros
Comment[pt_BR]=Esta é a raiz do seu sistema de arquivos
Comment[ro]=Aceasta este rădăcina sistemului de fişiere
Comment[ru]=Корневая папка файловой системы
Comment[se]=Dát lea du fiilavuogádaga ruohtas
Comment[sl]=To je koren datotečnega sistema.
Comment[sr]=Ово је корен система фајлова
Comment[sr@latin]=Ovo je koren sistema fajlova
Comment[sv]=Det här är roten på filsystemet
Comment[ta]=இதுவே கோப்பு அமைப்பின் வேராகும்
Comment[tg]=Инҷо решаи системаи файл аст
Comment[th]=นี่เป็นรากของระบบแฟ้ม
Comment[tr]=Bu dosya sisteminizi kök dizinidir
Comment[uk]=Це - корінь файлової системи
Comment[uz]=Файл тизимининг туби
Comment[vi]=Đây là gốc của hệ thống tập tin
Comment[wa]=Cichal est li ridant raecene do sistinme di fitchîs
Comment[x-test]=xxThis is the root of the filesystemxx
Comment[xh]=Le yingcambu yendlela yefayile
Comment[zh_TW]=這是檔案系統的根目錄
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
