[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=file:/
Icon=folder_red
Name=Root Folder
Name[el]=Ριζικός φάκελος
Name[fr]=Dossier racine
Name[x-test]=xxRoot Folderxx
Comment=This is the root of the filesystem
Comment[el]=Αυτή είναι η ρίζα του συστήματος αρχείων
Comment[fr]=Ce dossier est à la racine de votre arborescence
Comment[x-test]=xxThis is the root of the filesystemxx
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
