[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=system:/
Icon=system
Name=System
Name[af]=Stelsel
Name[ar]=النظام
Name[be]=Сістэма
Name[bg]=Система
Name[br]=Reizhiad
Name[ca]=Sistema
Name[cs]=Systém
Name[csb]=Systema
Name[cy]=Cysawd
Name[el]=Σύστημα
Name[eo]=Sistemo
Name[es]=Sistema
Name[et]=Süsteem
Name[eu]=Sistema
Name[fa]=سیستم
Name[fi]=Järjestelmä
Name[fr]=Système
Name[fy]=Systeem
Name[ga]=Córas
Name[gl]=Sistema
Name[he]=מערכת
Name[hr]=Sustav
Name[hu]=Rendszer
Name[is]=Kerfi
Name[it]=Sistema
Name[ja]=システム
Name[ka]=სისტემა
Name[kk]=Жүйелік
Name[km]=ប្រព័ន្ធ
Name[ko]=시스템
Name[lt]=Sistema
Name[lv]=Sistēma
Name[mk]=Систем
Name[ms]=Sistem
Name[nds]=Systeem
Name[ne]=प्रणाली
Name[nl]=Systeem
Name[pa]=ਸਿਸਟਮ
Name[pt]=Sistema
Name[pt_BR]=Sistema
Name[ro]=Sistem
Name[ru]=Система
Name[se]=Vuogádat
Name[sl]=Sistem
Name[sr]=Систем
Name[sr@Latn]=Sistem
Name[ta]=அமைப்பு
Name[tg]=Система
Name[tr]=Sistem
Name[uk]=Система
Name[uz]=Тизим
Name[x-test]=xxSystemxx
Name[xh]=Indlela esestyenziswayo
Name[zh_TW]=系統
Comment=This folder allows to access common places in your computer
Comment[csb]=Nen katalog dôwô mòżnotã przistãpù do nôczãsczi brëkòwónëch placów w twòjim kòmpùtrze
Comment[el]=Αυτός ο φάκελος σας επιτρέπει την πρόσβαση σε τυπικές τοποθεσίες του συστήματός σας
Comment[nds]=Mit dissen Orner kannst Du op en Reeg faken bruukte Öörd togriepen
Comment[x-test]=xxThis folder allows to access common places in your computerxx
Open=true
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
