[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=system:/
Icon=system
Name=System
Name[af]=Stelsel
Name[ar]=النظام
Name[be]=Сістэма
Name[bg]=Система
Name[br]=Reizhiad
Name[ca]=Sistema
Name[cs]=Systém
Name[csb]=Systema
Name[cy]=Cysawd
Name[el]=Σύστημα
Name[eo]=Sistemo
Name[es]=Sistema
Name[et]=Süsteem
Name[eu]=Sistema
Name[fa]=سیستم
Name[fi]=Järjestelmä
Name[fr]=Système
Name[fy]=Systeem
Name[ga]=Córas
Name[gl]=Sistema
Name[he]=מערכת
Name[hr]=Sustav
Name[hu]=Rendszer
Name[is]=Kerfi
Name[it]=Sistema
Name[ja]=システム
Name[ka]=სისტემა
Name[kk]=Жүйелік
Name[km]=ប្រព័ន្ធ
Name[ko]=시스템
Name[lt]=Sistema
Name[lv]=Sistēma
Name[mk]=Систем
Name[ms]=Sistem
Name[nds]=Systeem
Name[ne]=प्रणाली
Name[nl]=Systeem
Name[pa]=ਸਿਸਟਮ
Name[pt]=Sistema
Name[pt_BR]=Sistema
Name[ro]=Sistem
Name[ru]=Система
Name[se]=Vuogádat
Name[sl]=Sistem
Name[sr]=Систем
Name[sr@latin]=Sistem
Name[ta]=அமைப்பு
Name[te]=వ్యవస్థ
Name[tg]=Система
Name[th]=ระบบ
Name[tr]=Sistem
Name[uk]=Система
Name[uz]=Тизим
Name[vi]=Hệ thống
Name[wa]=Sistinme
Name[x-test]=xxSystemxx
Name[xh]=Indlela esestyenziswayo
Name[zh_CN]=系统
Name[zh_TW]=系統
Comment=This folder allows to access common places in your computer
Comment[be]=Гэтая тэчка дазваляе атрымаць хуткі доступ да розных важных месцаў на вашым камп'ютэры
Comment[bg]=Директория за достъп до често използваните места в компютъра
Comment[csb]=Nen katalog dôwô mòżnotã przëstãpù do nôczãsczi brëkòwónëch placów w twòjim kòmpùtrze
Comment[de]=Dieser Ordner ermöglicht den Zugriff auf gebräuchliche Systembereiche Ihres Rechners
Comment[el]=Αυτός ο φάκελος σας επιτρέπει την πρόσβαση σε τυπικές τοποθεσίες του συστήματός σας
Comment[es]=Esta carpeta permite acceder a lugares usuales en su equipo
Comment[fa]=این پوشه اجازۀ دستیابی به جاهای مشترک در رایانۀ شما را می‌دهد
Comment[ga]=Ceadaíonn an fillteán seo duit áiteanna coitianta a rochtain ar do ríomhaire
Comment[he]=תיקייה זו מאפשרת לך לגשת למקומות נפוצים במחשב שלך
Comment[it]=Questa cartella permette di accedere ai percorsi comuni del tuo computer
Comment[ja]=このフォルダからコンピュータのよく使われる場所にアクセスできます
Comment[kk]=Бұл қапшық компьютердегі ортақ орындарға қатынауға мүмкіндік береді
Comment[km]=ថត​នេះ​អនុញ្ញាត​ឲ្យ​ចូល​ដំណើរការ​កន្លែង​​​ទូទៅ​នៅ​ក្នុង​កុំព្យូទ័រ​របស់​អ្នក
Comment[ko]=컴퓨터에서 자주 사용되는 장소에 접근하게 해 줍니다
Comment[nb]=Denne mappa gir deg tilgang til vanlige steder på din datamaskin
Comment[nds]=Mit dissen Orner kannst Du op en Reeg faken bruukte Öörd togriepen
Comment[ne]=यो फोल्डरले तपाईँलाई कम्प्युटरको साझा स्थानहरूमा पहुँच अनुमति दिन्छ
Comment[nl]=Deze map geeft toegang tot algemene plekken op uw computer
Comment[nn]=Denne mappa gir deg tilgang til nokre vanlege stader på datamaskina
Comment[pa]=ਇਹ ਫੋਲਡਰ ਤੁਹਾਡੇ ਕੰਪਿਊਟਰ 'ਚ ਆਮ ਥਾਵਾਂ ਦੀ ਵਰਤੋਂ ਕਰਨ ਲਈ ਸਹਾਇਕ ਹੈ
Comment[pt]=Esta pasta permite aceder a alguns locais comuns no seu computador
Comment[pt_BR]=Esta pasta permite acessar lugares comuns em seu computador
Comment[sv]=Den här katalogen gör det möjligt att komma åt vanliga platser på din dator
Comment[th]=โฟลเดอร์นี้อนุญาตให้คุณเข้าถึงสถานที่ทั่วๆ ไปในเครื่องคอมพิวเตอร์ของคุณ
Comment[vi]=Thư mục này cho bạn có khả năng truy cập vào các nơi thông dụng của máy tính
Comment[wa]=Ci ridant chal dene èn accès a sacwantès cmonès plaeces di vosse copiutrece
Comment[x-test]=xxThis folder allows to access common places in your computerxx
Comment[zh_CN]=这个文件夹允许您访问计算机中的公共位置
Comment[zh_TW]=這個資料夾允許存取您電腦上的共同空間
Open=true
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
