[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule

DocPath=kcontrol/khtml/index.html#kbrowse-appearance
Icon=fonts
Exec=kcmshell khtml_fonts
X-KDE-ParentApp=kcontrol


X-KDE-Library=kcm_konqhtml
X-KDE-FactoryName=khtml_fonts

Name=Fonts
Name[af]=Skriftipes
Name[be]=Шрыфты
Name[bg]=Шрифтове
Name[br]=Fontoù
Name[ca]=Lletres
Name[cs]=Písma
Name[csb]=Fòntë
Name[cy]=Ffontiau
Name[da]=Skrifttyper
Name[de]=Schriftarten
Name[el]=Γραμματοσειρές
Name[eo]=Tiparoj
Name[es]=Tipos de letra
Name[et]=Fondid
Name[eu]=Letra-tipoak
Name[fa]=قلمها
Name[fi]=Kirjasimet
Name[fr]=Polices
Name[fy]=Lettertypen
Name[ga]=Clónna
Name[gl]=Fontes
Name[he]=גופנים
Name[hr]=Fontovi
Name[hu]=Betűtípusok
Name[is]=Letur
Name[it]=Tipi di carattere
Name[ja]=フォント
Name[ka]=ფონტები
Name[kk]=Қаріптер
Name[km]=ពុម្ពអក្សរ
Name[ko]=글꼴
Name[lt]=Šriftai
Name[lv]=Fonti
Name[mk]=Фонтови
Name[ms]=Fon
Name[nb]=Skrifttype
Name[nds]=Schriftoorden
Name[ne]=फन्ट
Name[nl]=Lettertypen
Name[nn]=Skrifttypar
Name[pa]=ਫੋਂਟ
Name[pl]=Czcionki
Name[pt]=Tipos de Letra
Name[pt_BR]=Fontes
Name[ro]=Fonturi
Name[ru]=Шрифты
Name[se]=Fonttat
Name[sl]=Pisave
Name[sr]=Фонтови
Name[sr@latin]=Fontovi
Name[sv]=Teckensnitt
Name[ta]=எழுத்துருக்கள்
Name[tg]=Ҳарфҳо
Name[th]=แบบอักษร
Name[tr]=Yazıtipleri
Name[uk]=Шрифти
Name[uz]=Шрифтлар
Name[wa]=Fontes
Name[x-test]=xxFontsxx
Name[xh]=Uhlobo lwamagama
Name[zh_TW]=字型
Comment=Configure the fonts used on web pages
Comment[af]=Konfigureer die skriftipes gebruik word op web bladsye
Comment[be]=Настаўленні шрыфтоў для выкарыстання на старонках Сеціва
Comment[bg]=Настройване на шрифтовете за уеб страниците
Comment[br]=Kefluniañ an nodrezhoù evit ar pajennoù gwiad
Comment[ca]=Configura les lletres emprades a les pàgines web
Comment[cs]=Nastavení písem pro webové stránky
Comment[csb]=Kònfigùracëjô fòntów na internetowëch starnach
Comment[cy]=Ffurfweddu'r ffontiau sy'n cael eu defnyddio ar dudalennau gwe
Comment[da]=Indstil de skrifttyper der bruges på netsider
Comment[de]=Schriften für die Darstellung von Webseiten festlegen
Comment[el]=Ρυθμίστε τις γραμματοσειρές που χρησιμοποιούνται στις ιστοσελίδες
Comment[eo]=Agordas la tiparoj kiuj estas uzata sur TTT-paĝoj
Comment[es]=Configuración de los tipos de letra usados en páginas web
Comment[et]=Veebilehtedel kasutatavate fontide seadistamine
Comment[eu]=Konfiguratu web orrietan erabiliko diren letra-tipoak
Comment[fa]=پیکربندی قلمهای استفاده‌شده در صفحات وب
Comment[fi]=WWW-sivujen kirjasimet
Comment[fr]=Configuration des polices utilisées sur les pages web
Comment[fy]=Hjir kinne jo de lettertypen die brûkt wurde op de websiden ynstelle
Comment[ga]=Cumraigh na clófhoirne a úsáidtear ar leathanaigh Ghréasáin
Comment[gl]=Configurar as fontes empregadas nas páxinas web
Comment[he]=שינוי הגדרות הגופנים שנעשה בהם שימוש בדפי אינטרנט
Comment[hr]=Konfiguriranje fontova upotrijebljenih na web-stranicama
Comment[hu]=A Konqueror webböngésző betűtípusainak beállítása
Comment[is]=Stillta letur sem notað er á vefsíðum
Comment[it]=Configura i caratteri da usare nelle pagine web
Comment[ja]=ウェブページで使用するフォントを設定
Comment[ka]=ვებ გვერდების შრიფტების კონფიგურაცია
Comment[kk]=Веб парақтарда қолданатын қаріптер
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ពុម្ពអក្សរ ដែល​ប្រើ​លើ​ទំព័រ​បណ្ដាញ
Comment[lt]=Čia galite konfigūruoti šriftus, naudojamus tinklalapiuose
Comment[lv]=Šeit Jūs varat konfigurēt tīmekļa lapās lietotos fontus
Comment[mk]=Конфигурирајте ги фонтовите што се користат за веб-страници
Comment[ms]=Konfigur fon yang digunakan dalam halaman web
Comment[nb]=Tilpass hvilke skrifttyper som brukes på nettsider
Comment[nds]=De Schriftoorden för Nettsieden instellen
Comment[ne]=वेब पृष्ठहरूमा प्रयोग गरिने फन्ट कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de lettertypen die op webpagina's gebruikt worden instellen
Comment[nn]=Oppsett av skrifter for nettsider
Comment[pa]=ਵੈੱਬ ਸਫੇ 'ਤੇ ਫੋਂਟ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja czcionek na stronach internetowych
Comment[pt]=Configurar os tipos de letra usados nas páginas Web
Comment[pt_BR]=Configurar as fontes usadas nas páginas da web
Comment[ro]=Configurează fonturile utilizate în paginile web
Comment[ru]=Настройка шрифтов веб-страниц
Comment[se]=Heivet makkár fonttat geavahuvvojit fierpmádatsiidduin
Comment[sl]=Nastavitve pisav, prikazanih na spletnih straneh
Comment[sr]=Подешавање фонтова који се користе на веб страницама
Comment[sr@latin]=Podešavanje fontova koji se koriste na veb stranicama
Comment[sv]=Anpassa teckensnitt som används på webbsidor
Comment[ta]=வலைபக்கங்களில் பயன்படுத்தப்படும் எழுத்துருக்களை வடிவமை
Comment[tg]=Танзими ҳарфҳои лозимӣ барои намоиши сафҳоти Вэб
Comment[th]=ปรับแต่งแบบอักษรที่จะใช้กับหน้าเว็บ
Comment[tr]=Web sayfalarında kullanılan yazıtipini buradan yapılandırın
Comment[uk]=Налаштування шрифтів для сторінок Тенет
Comment[uz]=Веб-саҳифаларида ишлатиладиган шрифтларни мослаш
Comment[wa]=Apontyî les fontes eployeyes ezès pådjes waibe
Comment[x-test]=xxConfigure the fonts used on web pagesxx
Comment[xh]=Qwlasela uhlobo lwamagama asebenziswe kumaphepha e web
Comment[zh_TW]=設定使用於網頁的字型
Keywords=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding
Keywords[be]=Вандроўнік,Сеціва,Шрыфт,Знаказборы,Знаказбор,konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding
Keywords[bg]=Keywords=уеб, шрифтове, страници, браузър, Интернет, konqueror, kfm, browser, html, web, www, fonts, charsets, character sets, encoding
Keywords[ca]=konqueror,kfm,navegador,html,web,www,lletres,caràcters.jocs de caràcters,codificació
Keywords[cs]=Konqueror,Kfm,Prohlížeč,HTML,Web,WWW,Písma,Znakové sady,Kódování
Keywords[csb]=konqueror,kfm,przezérnik,html,séc www,zestôw merków,kòdowanié
Keywords[cy]=konqueror,kfm,porydd,html,gwe,www,ffontiau,setiau nodau,amgodiad
Keywords[da]=konqueror,kfm,browser,HTML,net,www,skrifttyper,tegnsæt,indkodning
Keywords[de]=Konqueror,kfm,Browser,HTML,Web,WWW,Schriften,Zeichensätze,Kodierung
Keywords[el]=konqueror,kfm,περιηγητής,html,ιστός,www,γραμματοσειρές,σύνολα χαρακτήρων,σύνολα χαρακτήρων,κωδικοποίηση
Keywords[eo]=Konkeranto,Kfm,TTT,HTML,WWW,tiparo,koloro,Javo,Javoskripto,kursoro,kursilo,ligo,referenco,bildo,signaro,kodo
Keywords[es]=konqueror,kfm,navegador,html,web,www,tipos de letra,mapas de caracteres,codificación
Keywords[et]=konqueror,kfm,veebilehitseja,html,veeb,www,fondid,kooditabel,kodeering
Keywords[eu]=konqueror,kfm,arakatzailea,html,web,www,letra-tipoak,karaktere-multzoak, karaktere hobespenak,kodeketa
Keywords[fa]=konqueror،kfm، مرورگر، زنگام، وب، www،قلمها، نویسه‌گان، نویسه‌گان،کدبندی
Keywords[fi]=konqueror,kfm,selain,html,web,www,kirjasimet,merkistöt,koodaus
Keywords[fr]=konqueror,kfm,navigateur,html,web,www,polices,couleurs,java,javascript,curseur,liens,images,jeu de caractères,caractères,codage,encodage
Keywords[fy]=konqueror,kfm,browser,blêder,html,web,www,fonts,lettertypen,tekensets,karaktersamling,kodearring,ynternet
Keywords[ga]=konqueror,kfm,brabhsálaí,html,gréasán,www,clónna,clófhoirne,tacair charachtair,ionchódú
Keywords[gl]=konqueror,kfm,navegador,html,web,www,fontes,carácteres,conxunto de carácteres,codificación
Keywords[he]=konqueror,kfm,דפדפן,html,web,www,אינטרנט,browser,web,fonts,charsets,character sets,encoding, גופנים,מערכי תווים,קידוד
Keywords[hr]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding,preglednik,fontovi,kodiranje,kodiranje zakova
Keywords[hu]=Konqueror,kfm,böngésző,HTML,web,WWW,betűtípusok,karakterkészletek,betűkészletek,kódolás
Keywords[is]=vafri,vefur,vefurinn,vefsíður,letur,litir,kóðun,stafatafla, bendill,myndir,www,html,stafir
Keywords[it]=konqueror,kfm,browser,html,web,www,caratteri,colori,set di caratteri,charset,codifica
Keywords[ja]=konqueror,kfm,ブラウザ,html,web,ウェブ,www,フォント,文字,文字セット,色,カラー,エンコーディング
Keywords[km]=konqueror kfm កម្មវិធី​រុករក html បណ្ដាញ www វិប,ពុម្ពអ អ៊ិនកូដឌីង​ក្សរ
Keywords[lt]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,charsets,character sets,encodingsets,encoding,narašymas,html,tinklalapis,tinklapis,www,šriftai,spalvos,simbolių rinkiniai,koduotė
Keywords[lv]=iekarotājs,kfm,pārlūks,html,web,www,fonti,krāsojums,krāsas,java,javaskripts,kursors,saites,attēli,simbolukomplekti,simbolu komplekti,kodējums
Keywords[mk]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding,прелистувач,веб,фонтови,знаковни множества,кодирање
Keywords[nb]=konqueror,kfm,nettleser,html,nettet,www,veven,verdensveven,Internett,skriftyper,skrifter,koding,tegnsett,tegnkoding
Keywords[nds]=Konqueror,kfm,Nettkieker,browser,HTML,web,www,Schriftoorden,Tekensetten,Koderen
Keywords[ne]=कन्क्वेरर,kfm, ब्राउजर,html, वेब,www, फन्टहरू, चारसेटहरू, क्यारेक्टर सेट, सङ्केतन
Keywords[nl]=konqueror,kfm,browser,html,web,www,fonts,lettertypen,tekensets,karakterverzamelingen,codering,encoding,internet
Keywords[nn]=Konqueror,KFM,nettlesar,HTML,verdsveven,WWW,skrifter,teiknsett,koding,teiknkoding
Keywords[pa]=ਕੋਨਕਿਉਰਰ,kfm,ਝਲਕਾਰਾ,html,web,www,ਫੋਂਟ, ਅੱਖਰ-ਸੈਟ, ਅੱਖਰ ਸੈਟ, ਇੰਕੋਡਿੰਗ
Keywords[pl]=konqueror,kfm,przeglądarka,html,sieć www,zestawy znaków,kodowanie
Keywords[pt]=konqueror,kfm,navegador,html,web,www,tipos de letra,fontes,cores,java,javascript,cursor,ligações,imagens,charsets,mapas de caracteres,codificação
Keywords[pt_BR]=konqueror,kfm,navegador,html,web,www,fontes,charsets,conjuntos de caracteres,codificação
Keywords[ro]=konqueror,kfm,navigator,browser,html,web,www,fonturi,culori,java,javascript,cursor,legături,imagini,set de caractere,codare
Keywords[se]=Konqueror,kfm,fierpmádatlogan,html,web,www,fonttat,mearkarájut,koden
Keywords[sl]=konqueror,kfm,brskalnik,html,splet,www,pisave,nabori znakov,znakovni nabori,kodiranje
Keywords[sr]=konqueror,kfm,прегледач,html,web,www,фонтови,боје,java,јавасцрипт,показивач,везе,слике,кодни распоред,скуп знакова,кодирање
Keywords[sr@latin]=konqueror,kfm,pregledač,html,web,www,fontovi,boje,java,javascript,pokazivač,veze,slike,kodni raspored,skup znakova,kodiranje
Keywords[sv]=konqueror,kfm,webbläsare,html,webb,www,teckensnitt,färger,java,javaskript,länkar,bilder,kodning,teckenuppsättningar
Keywords[ta]=கான்கொரர், கோப்பு மேலாளர், html,வலை, www,எழுத்துரு, எழுத்தமைப்பு முறை,எழுத்தமைப்பு முறை, குறியீடு முறை
Keywords[th]=konqueror ,kfm,เบราว์เซอร์,html,เว็บ,www,แบบอักษร,อักขระ,ชุดอักขระ,การเข้ารหัส
Keywords[tr]=konqueror,kfm,tarayıcı,html,web,www,yazı tipleri,kodlama
Keywords[uk]=konqueror,kfm,навігатор,html,шрифти,Тенета,www,набори символів,кодування
Keywords[uz]=konqueror,kfm,html,www,браузер,веб,шрифтлар,белгилар тўплами,кодлаш усули
Keywords[wa]=konqueror,kfm,betchteu,html,waibe,www,fontes,ecôdaedjes,ecôdaedje
Keywords[x-test]=xxkonqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encodingxx
Keywords[xh]=konqueror,kfm,umkhangeli zincwadi,html,web,www,imigca, amaqela abasebenzisi,encoding
Keywords[zh_TW]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,征服家,字元,字元集,編碼,瀏覽器,字型,網頁

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
