[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule
DocPath=kcontrol/khtml/index.html#kbrowse-html
Icon=konqueror
Exec=kcmshell khtml_general
X-KDE-ParentApp=kcontrol


X-KDE-Library=konqhtml
X-KDE-FactoryName=khtml_general

Name=General
Name[zh_TW]=一般
Comment=Configure general konqueror behavior
Comment[zh_TW]=設定 Konqueror 一般行為
Keywords=konqueror,tabs
Keywords[zh_TW]=Konqueror,tabs,分頁

Categories=Qt;KDE;
