[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/khtml-java-js/index.html
Icon=java
Exec=kcmshell4 khtml_java_js
X-KDE-ParentApp=kcontrol

X-KDE-Library=kcm_konqhtml
X-KDE-PluginKeyword=khtml_java_js

Name=Java & JavaScript
Comment=Configure the behavior of Java and JavaScript
X-KDE-Keywords=konqueror,kfm,browser,html,web,www,java,javascript

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
