[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-DocPath=kcontrol/khtml/index.html#kbrowse-appearance
Icon=preferences-desktop-font
Exec=kcmshell4 khtml_fonts
X-KDE-ParentApp=kcontrol

X-KDE-Library=kcm_konqhtml
X-KDE-PluginKeyword=khtml_fonts

Name=Fonts
Name[af]=Skriftipes
Name[ar]=الخطوط
Name[be]=Шрыфты
Name[bg]=Шрифтове
Name[bn]=ফন্ট
Name[br]=Fontoù
Name[ca]=Tipus de lletra
Name[cs]=Písma
Name[csb]=Fòntë
Name[cy]=Ffontiau
Name[da]=Skrifttyper
Name[de]=Schriftarten
Name[el]=Γραμματοσειρές
Name[eo]=Tiparoj
Name[es]=Tipos de letra
Name[et]=Fondid
Name[eu]=Letra-tipoak
Name[fa]=قلمها
Name[fi]=Kirjasimet
Name[fr]=Polices
Name[fy]=Lettertypen
Name[ga]=Clónna
Name[gl]=Fontes tipográficas
Name[gu]=ફોન્ટ્સ
Name[he]=גופנים
Name[hi]=फ़ॉन्ट्स
Name[hr]=Fontovi
Name[hu]=Betűtípusok
Name[is]=Letur
Name[it]=Tipi di carattere
Name[ja]=フォント
Name[ka]=ფონტები
Name[kk]=Қаріптер
Name[km]=ពុម្ព​អក្សរ
Name[kn]=ಅಕ್ಷರಶೈಲಿಗಳು
Name[ko]=글꼴
Name[ku]=Curenivîs
Name[lt]=Šriftai
Name[lv]=Fonti
Name[mk]=Фонтови
Name[ml]=അക്ഷരരൂപങ്ങള്‍
Name[ms]=Fon
Name[nb]=Skrifttype
Name[nds]=Schriftoorden
Name[ne]=फन्ट
Name[nl]=Lettertypen
Name[nn]=Skrifttypar
Name[oc]=Poliças
Name[pa]=ਫੋਂਟ
Name[pl]=Czcionki
Name[pt]=Tipos de Letra
Name[pt_BR]=Fontes
Name[ro]=Fonturi
Name[ru]=Шрифты
Name[se]=Fonttat
Name[sk]=Písma
Name[sl]=Pisave
Name[sr]=Фонтови
Name[sr@latin]=Fontovi
Name[sv]=Teckensnitt
Name[ta]=எழுத்துருக்கள்
Name[tg]=Ҳарфҳо
Name[th]=แบบอักษร
Name[tr]=Yazı Tipleri
Name[uk]=Шрифти
Name[uz]=Shriftlar
Name[uz@cyrillic]=Шрифтлар
Name[vi]=Phông chữ
Name[wa]=Fontes
Name[x-test]=xxFontsxx
Name[xh]=Uhlobo lwamagama
Name[zh_CN]=字体
Name[zh_TW]=字型
Comment=Configure the fonts used on web pages
Comment[af]=Konfigureer die skriftipes gebruik word op web bladsye
Comment[ar]=اضبط الخطوط المستخدمة على صفحات الشبكة
Comment[be]=Настаўленні шрыфтоў для выкарыстання на старонках Сеціва
Comment[bg]=Настройване на шрифтовете за уеб страниците
Comment[bn]=ওয়েব পেজ-এ ব্যবহৃত ফন্ট কনফিগার করুন
Comment[br]=Kefluniañ an nodrezhoù evit ar pajennoù gwiad
Comment[ca]=Configura els tipus de lletra emprats a les pàgines web
Comment[cs]=Nastavení písem pro webové stránky
Comment[csb]=Kònfigùracëjô fòntów na internetowëch starnach
Comment[cy]=Ffurfweddu'r ffontiau sy'n cael eu defnyddio ar dudalennau gwe
Comment[da]=Indstil de skrifttyper der bruges på netsider
Comment[de]=Schriften für die Darstellung von Webseiten festlegen
Comment[el]=Ρυθμίστε τις γραμματοσειρές που χρησιμοποιούνται στις ιστοσελίδες
Comment[eo]=Agordi la tiparojn kiuj estas uzataj sur TTT-paĝoj
Comment[es]=Configuración de los tipos de letra usados en páginas web
Comment[et]=Veebilehtedel kasutatavate fontide seadistamine
Comment[eu]=Konfiguratu web orrietan erabiliko diren letra-tipoak
Comment[fa]=پیکربندی قلمهای استفاده‌شده در صفحات وب
Comment[fi]=Verkkosivujen kirjasimet
Comment[fr]=Configuration des polices utilisées sur les pages Web
Comment[fy]=Hjir kinne jo de lettertypen die brûkt wurde op de websiden ynstelle
Comment[ga]=Cumraigh na clónna a úsáidtear ar leathanaigh Ghréasáin
Comment[gl]=Configurar as fontes tipográficas empregadas nas páxinas web
Comment[gu]=વેબ પાનાંઓ પર વાપરવાનાં ફોન્ટ રૂપરેખાંકિત કરો
Comment[he]=שינוי הגדרות הגופנים שנעשה בהם שימוש בדפי אינטרנט
Comment[hi]=वेब पृष्ठ पर उपयोग में आने वाले फ़ॉन्ट्स कॉन्फ़िगर करें
Comment[hr]=Konfiguriranje fontova upotrijebljenih na web-stranicama
Comment[hu]=A Konqueror webböngésző betűtípusainak beállítása
Comment[is]=Stillta letur sem notað er á vefsíðum
Comment[it]=Configura i caratteri da usare nelle pagine web
Comment[ja]=ウェブページで使用するフォントを設定
Comment[ka]=ვებ გვერდების შრიფტების კონფიგურაცია
Comment[kk]=Веб парақтарда қолданатын қаріптер
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ពុម្ព​អក្សរ​ដែល​បាន​​ប្រើ​លើ​ទំព័រ​បណ្ដាញ
Comment[ko]=웹 페이지의 글꼴 설정
Comment[ku]=Curenivîsên malperan ava bike
Comment[lt]=Čia galite konfigūruoti šriftus, naudojamus tinklalapiuose
Comment[lv]=Šeit jūs varat konfigurēt tīmekļa lapās lietotos fontus
Comment[mk]=Конфигурирајте ги фонтовите што се користат за веб-страници
Comment[ml]=വെബ്ബിലെ താളുകളിലുപയോഗിയ്ക്കുന്ന അക്ഷരരൂപങ്ങള്‍ ക്രമീകരിയ്ക്കുക
Comment[ms]=Konfigur fon yang digunakan dalam halaman web
Comment[nb]=Tilpass hvilke skrifttyper som brukes på nettsider
Comment[nds]=De Schriftoorden för Nettsieden instellen
Comment[ne]=वेब पृष्ठहरूमा प्रयोग गरिने फन्ट कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de lettertypen die op webpagina's gebruikt worden instellen
Comment[nn]=Oppsett av skrifter for nettsider
Comment[pa]=ਵੈੱਬ ਸਫੇ 'ਤੇ ਫੋਂਟ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja czcionek na stronach internetowych
Comment[pt]=Configurar os tipos de letra usados nas páginas Web
Comment[pt_BR]=Configurar as fontes usadas nas páginas da web
Comment[ro]=Configurează fonturile utilizate în paginile web
Comment[ru]=Настройка шрифтов веб-страниц
Comment[se]=Heivet makkár fonttat geavahuvvojit fierpmádatsiidduin
Comment[sk]=Nastavenie písiem pre webové stránky
Comment[sl]=Nastavitve pisav, prikazanih na spletnih straneh
Comment[sr]=Подешавање фонтова који се користе на веб странама
Comment[sr@latin]=Podešavanje fontova koji se koriste na veb stranama
Comment[sv]=Anpassa teckensnitt som används på webbsidor
Comment[ta]=வலைபக்கங்களில் பயன்படுத்தப்படும் எழுத்துருக்களை வடிவமை
Comment[tg]=Танзими ҳарфҳои лозимӣ барои намоиши сафҳоти Вэб
Comment[th]=ปรับแต่งแบบอักษรที่จะใช้กับหน้าเว็บ
Comment[tr]=Web sayfalarında kullanılan yazı tiplerini yapılandır
Comment[uk]=Налаштування шрифтів для сторінок Тенет
Comment[uz]=Veb-sahifalarida ishlatiladigan shriftlarni moslash
Comment[uz@cyrillic]=Веб-саҳифаларида ишлатиладиган шрифтларни мослаш
Comment[vi]=Cấu hình phông chữ sử dụng trên các trang mạng
Comment[wa]=Apontyî les fontes eployeyes ezès pådjes waibe
Comment[x-test]=xxConfigure the fonts used on web pagesxx
Comment[xh]=Qwlasela uhlobo lwamagama asebenziswe kumaphepha e web
Comment[zh_CN]=配置网页所使用的字体
Comment[zh_TW]=設定使用於網頁的字型
X-KDE-Keywords=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding
X-KDE-Keywords[be]=Вандроўнік,Сеціва,Шрыфт,Знаказборы,Знаказбор,konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding
X-KDE-Keywords[bg]=Keywords=уеб, шрифтове, страници, браузър, Интернет, konqueror, kfm, browser, html, web, www, fonts, charsets, character sets, encoding
X-KDE-Keywords[ca]=konqueror,kfm,navegador,html,web,www,tipus de lletra,caràcters.jocs de caràcters,codificació
X-KDE-Keywords[cs]=Konqueror,Kfm,Prohlížeč,HTML,Web,WWW,Písma,Znakové sady,Kódování
X-KDE-Keywords[csb]=konqueror,kfm,przezérnik,html,séc www,zestôw merków,kòdowanié
X-KDE-Keywords[cy]=konqueror,kfm,porydd,html,gwe,www,ffontiau,setiau nodau,amgodiad
X-KDE-Keywords[da]=konqueror,kfm,browser,HTML,net,www,skrifttyper,tegnsæt,indkodning
X-KDE-Keywords[de]=Konqueror,kfm,Browser,HTML,Web,WWW,Schriften,Zeichensätze,Kodierung
X-KDE-Keywords[el]=konqueror,kfm,περιηγητής,html,ιστός,www,γραμματοσειρές,σύνολα χαρακτήρων,σύνολα χαρακτήρων,κωδικοποίηση
X-KDE-Keywords[eo]=Konkeranto,Kfm,TTT,HTML,WWW,tiparo,koloro,Javo,Javoskripto,kursoro,kursilo,ligo,referenco,bildo,signaro,kodo
X-KDE-Keywords[es]=konqueror,kfm,navegador,html,web,www,tipos de letra,mapas de caracteres,codificación
X-KDE-Keywords[et]=konqueror,kfm,veebilehitseja,html,veeb,www,fondid,kooditabel,kodeering
X-KDE-Keywords[eu]=konqueror,kfm,arakatzailea,html,web,www,letra-tipoak,karaktere-multzoak, karaktere hobespenak,kodeketa
X-KDE-Keywords[fa]=konqueror،kfm، مرورگر، زنگام، وب، www،قلمها، نویسه‌گان، نویسه‌گان،کدبندی
X-KDE-Keywords[fi]=konqueror,kfm,selain,html,web,www,kirjasimet,merkistöt,koodaus
X-KDE-Keywords[fr]=konqueror,kfm,navigateur,html,web,www,polices,couleurs,java,javascript,curseur,liens,images,jeu de caractères,caractères,codage,encodage
X-KDE-Keywords[fy]=konqueror,kfm,browser,blêder,html,web,www,fonts,lettertypen,tekensets,karaktersamling,kodearring,ynternet
X-KDE-Keywords[ga]=konqueror,kfm,brabhsálaí,html,gréasán,www,clónna,clófhoirne,tacair charachtair,ionchódú
X-KDE-Keywords[gl]=konqueror,kfm,navegador,html,web,www,fontes,carácteres,conxunto de carácteres,codificación
X-KDE-Keywords[he]=konqueror,kfm,דפדפן,html,web,www,אינטרנט,browser,web,fonts,charsets,character sets,encoding, גופנים,מערכי תווים,קידוד
X-KDE-Keywords[hr]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding,preglednik,fontovi,kodiranje,kodiranje zakova
X-KDE-Keywords[hu]=Konqueror,kfm,böngésző,HTML,web,WWW,betűtípusok,karakterkészletek,betűkészletek,kódolás
X-KDE-Keywords[is]=vafri,vefur,vefurinn,vefsíður,letur,litir,kóðun,stafatafla, bendill,myndir,www,html,stafir
X-KDE-Keywords[it]=konqueror,kfm,browser,html,web,www,caratteri,colori,set di caratteri,charset,codifica
X-KDE-Keywords[ja]=konqueror,kfm,ブラウザ,html,web,ウェブ,www,フォント,文字,文字セット,色,カラー,エンコーディング
X-KDE-Keywords[km]=konqueror kfm កម្មវិធី​រុករក​បណ្ដាញ html បណ្ដាញ វើលវ៉ាយវ៉េប ពុម្ព​អក្សរ សំណុំ​តួ​អក្សរ សំណុំ​តួ​អក្សរការអ៊ិនកូដ
X-KDE-Keywords[ko]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding,브라우저,웹,글꼴,색,색깔,자바,자바 스크립트,연결,그림,글자셋,문자셋,인코딩
X-KDE-Keywords[lt]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,charsets,character sets,encodingsets,encoding,narašymas,html,tinklalapis,tinklapis,www,šriftai,spalvos,simbolių rinkiniai,koduotė
X-KDE-Keywords[lv]=iekarotājs,kfm,pārlūks,html,web,www,fonti,krāsojums,krāsas,java,javaskripts,kursors,saites,attēli,simbolukomplekti,simbolu komplekti,kodējums
X-KDE-Keywords[mk]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding,прелистувач,веб,фонтови,знаковни множества,кодирање
X-KDE-Keywords[nb]=konqueror,kfm,nettleser,html,nettet,www,veven,verdensveven,Internett,skriftyper,skrifter,koding,tegnsett,tegnkoding
X-KDE-Keywords[nds]=Konqueror,kfm,Nettkieker,browser,HTML,web,www,Schriftoorden,Tekensetten,Koderen
X-KDE-Keywords[ne]=कन्क्वेरर,kfm, ब्राउजर,html, वेब,www, फन्टहरू, चारसेटहरू, क्यारेक्टर सेट, सङ्केतन
X-KDE-Keywords[nl]=konqueror,kfm,browser,html,web,www,fonts,lettertypen,tekensets,karakterverzamelingen,codering,encoding,internet
X-KDE-Keywords[nn]=Konqueror,KFM,nettlesar,HTML,verdsveven,WWW,skrifter,teiknsett,koding,teiknkoding
X-KDE-Keywords[pa]=ਕੋਨਕਿਉਰਰ,kfm,ਝਲਕਾਰਾ,html,web,www,ਫੋਂਟ, ਅੱਖਰ-ਸੈਟ, ਅੱਖਰ ਸੈਟ, ਇੰਕੋਡਿੰਗ
X-KDE-Keywords[pl]=konqueror,kfm,przeglądarka,html,sieć www,zestawy znaków,kodowanie
X-KDE-Keywords[pt]=konqueror,kfm,navegador,html,web,www,tipos de letra,fontes,cores,java,javascript,cursor,ligações,imagens,charsets,mapas de caracteres,codificação
X-KDE-Keywords[pt_BR]=konqueror,kfm,navegador,html,web,www,fontes,charsets,conjuntos de caracteres,codificação
X-KDE-Keywords[ro]=konqueror,kfm,navigator,browser,html,web,www,fonturi,culori,java,javascript,cursor,legături,imagini,set de caractere,codare
X-KDE-Keywords[se]=Konqueror,kfm,fierpmádatlogan,html,web,www,fonttat,mearkarájut,koden
X-KDE-Keywords[sl]=konqueror,kfm,brskalnik,html,splet,www,pisave,nabori znakov,znakovni nabori,kodiranje
X-KDE-Keywords[sr]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding,К-освајач,прегледач,ХТМЛ,фонтови,скупови знакова,кодирање
X-KDE-Keywords[sr@latin]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding,K-osvajač,pregledač,HTML,fontovi,skupovi znakova,kodiranje
X-KDE-Keywords[sv]=konqueror,kfm,webbläsare,html,webb,www,teckensnitt,färger,java,javaskript,länkar,bilder,kodning,teckenuppsättningar
X-KDE-Keywords[ta]=கான்கொரர், கோப்பு மேலாளர், html,வலை, www,எழுத்துரு, எழுத்தமைப்பு முறை,எழுத்தமைப்பு முறை, குறியீடு முறை
X-KDE-Keywords[th]=konqueror ,kfm,เบราว์เซอร์,html,เว็บ,www,แบบอักษร,อักขระ,ชุดอักขระ,การเข้ารหัส
X-KDE-Keywords[tr]=konqueror,kfm,tarayıcı,html,web,www,yazı tipleri,kodlama
X-KDE-Keywords[uk]=konqueror,kfm,навігатор,html,шрифти,Тенета,www,набори символів,кодування
X-KDE-Keywords[uz]=konqueror,kfm,html,www,браузер,веб,шрифтлар,белгилар тўплами,кодлаш усули
X-KDE-Keywords[vi]=konqueror,kfm,trình duyệt,html,Mạng,www,phông chữ,bộ ký tự,bảng ký tự,mã ký tự
X-KDE-Keywords[wa]=konqueror,kfm,betchteu,html,waibe,www,fontes,ecôdaedjes,ecôdaedje
X-KDE-Keywords[x-test]=xxkonqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encodingxx
X-KDE-Keywords[xh]=konqueror,kfm,umkhangeli zincwadi,html,web,www,imigca, amaqela abasebenzisi,encoding
X-KDE-Keywords[zh_CN]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding,浏览器,网页,字体,字符集,编码
X-KDE-Keywords[zh_TW]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,征服家,字元,字元集,編碼,瀏覽器,字型,網頁

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
