[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KCModule
DocPath=kcontrol/khtml/index.html#kbrowse-html
Icon=konqueror
Exec=kcmshell khtml_behavior
X-KDE-ParentApp=kcontrol


X-KDE-Library=konqhtml
X-KDE-FactoryName=khtml_behavior

Name=Web Behavior
Name[af]=Web Gedrag
Name[ar]=سلوك الشبكة
Name[be]=Паводзіны ў Сеціве
Name[bg]=Уеб браузър
Name[br]=Emzalc'h ar gwiad
Name[ca]=Comportament web
Name[cs]=Chování na webu
Name[csb]=Przezéranié WWW
Name[cy]=Ymddygiad Gwê
Name[da]=WWW-Opførsel
Name[de]=Webverhalten
Name[el]=Συμπεριφορά ιστού
Name[en_GB]=Web Behaviour
Name[eo]=TTT-Konduto
Name[es]=Comportamiento
Name[et]=Veebilehitseja käitumine
Name[eu]=Web portaera
Name[fa]=رفتار وب
Name[fi]=Verkkokäyttäytyminen
Name[fr]=Comportement web
Name[fy]=Webgedrach
Name[ga]=Oibriú Lín
Name[gl]=Comportamento Web
Name[he]=התנהגות רשת
Name[hr]=Web ponašanje
Name[hu]=Webes működés
Name[is]=Vefhegðun
Name[it]=Comportamento Web
Name[ja]=ウェブでの挙動
Name[ka]=წევ ქცევა
Name[kk]=Веб қасиеттері
Name[km]=ឥរិយាបថ​បណ្ដាញ
Name[lt]=Žiniatinklio elgsena
Name[lv]=Tīmekļa izturēšanās
Name[mk]=Веб-однесување
Name[ms]=Kelakuan Web
Name[nb]=Nettoppførsel
Name[nds]=Bedregen in't Nett
Name[ne]=वेभ व्यवहार
Name[nl]=Webgedrag
Name[nn]=Vevåtferd
Name[pa]=ਵੈਬ ਵਿਹਾਰ
Name[pl]=Przeglądanie WWW
Name[pt]=Comportamento na Web
Name[pt_BR]=Comportamento Web
Name[ro]=Comportament web
Name[ru]=Поведение Веб
Name[se]=Webláhtten
Name[sl]=Spletno obnašanje
Name[sr]=Веб понашање
Name[sr@Latn]=Veb ponašanje
Name[sv]=Nätbeteende
Name[ta]=வலைப் பண்புகள்
Name[tg]=Рафтори Вэб
Name[tr]=Web Davranışı
Name[uk]=Поведінка Навігатора
Name[uz]=Веб хусусиятлари
Name[x-test]=xxWeb Behaviorxx
Name[zh_TW]=網頁行為
Comment=Configure the browser behavior
Comment[af]=Konfigureer die blaaier gedrag
Comment[ar]=إعداد سلوك المتصفح
Comment[be]=Настаўленні паводзінаў вандроўніка
Comment[bg]=Настройки на уеб браузъра
Comment[br]=Kefluniañ emzalc'h ar furcher
Comment[ca]=Configura el comportament del navegador
Comment[cs]=Nastavení chování prohlížeče
Comment[csb]=Kònfigùracëjô zachòwaniô przezérnika
Comment[cy]=Ffurfweddu ymddygiad y porydd
Comment[da]=Indstil browserens opførsel
Comment[de]=Verhalten des Web-Browsers festlegen
Comment[el]=Ρυθμίστε τη συμπεριφορά του περιηγητή
Comment[en_GB]=Configure the browser behaviour
Comment[eo]=Agordas la konduton de la TTT-legilo
Comment[es]=Configuración del comportamiento del navegador
Comment[et]=Konquerori veebilehitseja käitumine
Comment[eu]=Konfiguratu arakatzailearen portaera
Comment[fa]=پیکربندی رفتار مرورگر
Comment[fi]=Selaimen asetukset
Comment[fr]=Configuration du comportement du navigateur
Comment[fy]=Hjir kinne jo it gedrach fan de webblêder ynstelle
Comment[ga]=Cumraigh oibriú an bhrabhsálaí
Comment[gl]=Configurar o comportamento do navegador
Comment[he]=שינוי הגדרות פעולת הדפדפן
Comment[hr]=Konfiguriranje ponašanja preglednika
Comment[hu]=A Konqueror webböngésző részének működési jellemzői
Comment[is]=Stilla hegðan vafrara
Comment[it]=Configura il comportamento del browser
Comment[ja]=ウェブブラウザの挙動を設定
Comment[ka]=ბრაუზერის ქცევის კონფიგურაცია
Comment[kk]=Браузер қасиеттерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ឥរិយាបថ​កម្មវិធី​រុករក​បណ្ដាញ
Comment[lt]=Konfigūruoti naršyklės elgesį
Comment[lv]=Konfigurēt pārlūka izturešanos
Comment[mk]=Конфигурирајте го однесувањето на прелистувачот
Comment[ms]=Konfigur kalakuan pelayar
Comment[nb]=Tilpass nettleserens oppførsel
Comment[nds]=Dat Bedregen vun den Nettkieker instellen
Comment[ne]=ब्राउजरको व्यवहार कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u het gedrag van de webbrowser instellen
Comment[nn]=Oppsett av nettlesaråtferda
Comment[pa]=ਝਲਕਾਰਾ ਵਿਹਾਰ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja zachowania przeglądarki
Comment[pt]=Configurar o comportamento do navegador
Comment[pt_BR]=Configura o comportamento do navegador
Comment[ro]=Configurează comportamentul de navigator de web
Comment[ru]=Настройка поведения браузера
Comment[se]=Heivet mo fierpmádatlogan láhtte
Comment[sl]=Nastavitve obnašanja brskalnika
Comment[sr]=Подешавање понашања прегледача
Comment[sr@Latn]=Podešavanje ponašanja pregledača
Comment[sv]=Anpassa webbläsarens beteende
Comment[ta]=உலாவியின் இயக்கத்தை வடிவமை
Comment[tg]=Танзими рафтори тафсир
Comment[tr]=Web tarayıcı davranışlarını yapılandır
Comment[uk]=Налаштування поведінки навігатора
Comment[uz]=Браузернинг хусусиятларини мослаш
Comment[x-test]=xxConfigure the browser behaviorxx
Comment[xh]=Qwalasela indlela umkhangeli zincwadi aziphatha ngayo
Comment[zh_TW]=設定瀏覽器行為
Keywords=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding
Keywords[be]=Вандроўнік,Сеціва,Шрыфты,Колеры,Сцэнар,Курсор,Спасылкі,Відарысы,Малюнкі,Знаказбор,Знаказборы,konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding
Keywords[bg]=браузър, страници, Интернет, уеб, konqueror,kfm, browser, html, web, www, fonts, colours, colors, java, javascript, cursor, links, images, charsets, character sets, encoding
Keywords[ca]=konqueror,kfm,navegador,html,web,www,fonts,colorits,colors,java,javascript,cursor,enllaços,imatges,caràcters,joc de caràcters,codificació
Keywords[cs]=Konqueror,Kfm,Prohlížeč,HTML,Web,WWW,Písma,Barvy,Java,JavaScript, Kurzor,Odkazy,Obrázky,Znakové sady,Kódování
Keywords[csb]=konqueror,kfm,przezérnik,html,séc www,fòntë,farwë,java,javascript,kùrsor,lënczi,òbrôzczi,zestôw merków,kòdowanié
Keywords[cy]=konqueror,kfm,porydd,html,gw?,www,ffontiau,lliwiau,java,javascript,cyrchydd,cysylltiadau,delweddau,setiau nodau,nod,amgodiad
Keywords[da]=konqueror,kfm,browser,HTML,net,skrifttyper,farver,java,javascript,markør,henvisninger,billeder,tegnsæt,indkodning
Keywords[de]=Konqueror,Kfm,Browser,HTML,Web,WWW,Schriften,Farben,Java,JavaScript,Cursor,Links,Verknüpfungen,Bilder,Zeichensätze,Encoding
Keywords[el]=konqueror,kfm,περιηγητής,html,ιστός,www,γραμματοσειρές,χρώματα,χρώματα,java,javascript,δρομέας,δεσμοί,εικόνες,σύνολα χαρακτήρων,σύνολα χαρακτήρων,κωδικοποίηση
Keywords[en_GB]=konqueror,kfm,browser,html,web,www,fonts,colours,java,javascript,cursor,links,images,charsets,character sets,encoding
Keywords[eo]=Konkeranto,Kfm,TTT,HTML,WWW,tiparo,koloro,Javo,Javoskripto,kursoro,kursilo,ligo,referenco,bildo,signaro,kodo
Keywords[es]=konqueror,kfm,navegador,html,web,www,fuentes,colores,java,javascript,cursor,enlaces,imágenes,mapas de caracteres,codificación
Keywords[et]=konqueror,kfm,veebilehitseja,html,veeb,www,fondid,värvid,java,javascript,kursor,viidad,lingid,pildid,kooditabel,kodeering
Keywords[eu]=konqueror,kfm,arakatzailea,html,web,www,letra-tipoak,koloreak,java,javascript,kurtsorea,linkak,irudiak,karaktere-multzoak,karaktereen hobespenak,kodeketa
Keywords[fa]=konqueror، kfm، مرورگر، زنگام، وب، www، قلمها، رنگها، رنگها، جاوا، جاوااسکریپت، مکان‌نما، پیوندها، تصاویر، نوسه‌گان، نویسه‌گان، کدبندی
Keywords[fi]=konqueror,kfm,selain,html,web,www,kirjasimet,värit,java,javascript,osoitin,linkit,kuvat,merkistöt,koodaus
Keywords[fr]=konqueror,kfm,navigateur,html,web,www,polices,couleurs,java,javascript,curseur,liens,images,jeu de caractères,caractères,codage,encodage
Keywords[fy]=konqueror,kfm,browser,blêder,html,web,www,fonts,lettertypen,kleuren,java,javascript,javaskript,cursor,links,rinnerke,skeakels,ôfbyldingen,charsets,tekensets,karaktersamling,kodearring,ynternet
Keywords[ga]=konqueror,kfm,brabhsálaí,html,gréasán,www,clófhoirne,clónna,dathanna,java,javascript,cúrsóir,naisc,nascanna,íomhánna,tacair charachtair,ionchódú
Keywords[gl]=konqueror,kfm,navegador,html,web,www,fontes,cores,java,javascript,ponteiro,ligazóns,imaxes,carácteres,conxunto de carácteres,codificación
Keywords[he]=גופנים,צבעים,Java,ג'אווה,מצביע,קישורים,תמונות,מערכי תווים,קידוד,WWW,רשת, HTML,דפדפן,KFM,Konqueror, kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links, images,charsets,character sets,encoding
Keywords[hr]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding,preglednik,fontovi,boja,boje,pokazivač,veze,slike,znakovi,kodiranje,kodiranje zakova
Keywords[hu]=Konqueror,KFM,böngésző,HTML,web,WWW,betűtípusok,színek,Java,JavaScript,egérmutató,linkek,képek,karakterkészletek,kódolás
Keywords[is]=vafri,vefur,vefurinn,vefsíður,letur,litir,kóðun,stafatafla,bendill,myndir,www,html,stafir
Keywords[it]=konqueror,kfm,browser,html,web,www,caratteri,colori,java,javascript,cursore,collegamenti,link,immagini,set di caratteri,charset,codifica
Keywords[ja]=konqueror,kfm,ブラウザ,html,web,ウェブ,www,フォント,色,色,java,javascript,カーソル,リンク,画像,文字セット,文字セット,エンコーディング
Keywords[km]=konqueror,kfm,កម្មវិធី​រុករក,html,បណ្ដាញ,វើលវ៉ាយវិប,ពុម្ពអក្សរ,ពណ៌,java,javascript,ទស្សន៍ទ្រនិច,តំណ,រូបភាព,សំណុំ​តួអក្សរ,
Keywords[ko]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding,컹커,컹커러,브라우저,웹,글꼴,색,색깔,빛깔,빛,자바,자바 스크립트,연결,그림,글자셋,문자셋,인코딩
Keywords[lt]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding,narašymas,html,tinklalapis,tinklapis,www,šriftai,koloritai,spalvos,,java,java scebarijus,žymeklis,nuorodos,paveikslai,simboliai,koduotė,simbolių rinkinys
Keywords[lv]=iekarotājs,kfm,pārlūks,html,web,www,fonti,krāsojums,krāsas,java,javaskripts,kursors,saites,attēli,simbolukomplekti,simbolu komplekti,kodējums
Keywords[mk]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding,прелистувач,веб,фонтови,бои,курсор,врски,слики,знаковни множества,кодирање
Keywords[nb]=konqueror,kfm,nettleser,html,nettet,www,veven,verdensveven,skriftyper,farger,java,javaskript,markør,tegnsett,koding,bilde,skriptspråk,Internett
Keywords[nds]=Konqueror,kfm,Browser,Nettkieker,HTML,web,www,Schriftoorden,Klören,Klöör,Java,JavaScript,Cursor,Links,Biller,Tekensett,Tekensetten,Koderen
Keywords[ne]=कन्क्वेरर, kfm, ब्राउजर,html, वेब,www, फन्ट, रङ, रङहरू, जाभा, जाभास्क्रिप्ट, कर्सर, लिङ्क, छवि, चारसेट, क्यारेक्टर सेट, सङ्केतन
Keywords[nl]=konqueror,kfm,browser,html,web,www,fonts,lettertypen,kleuren,,java,,javascript,cursor,links,koppelingen,afbeeldingen,charsets,tekensets,tekenverzamelingen,codering,internet
Keywords[nn]=Konqueror,KFM,nettlesar,HTML,verdsveven,WWW,skrifter,fargar,Java,JavaScript,skriptspråk,Internett,peikar,lenkjer,bilete,teiknsett,koding,teiknkoding
Keywords[pa]=ਕੋਨਕਿਉਰਰ,kfm,ਝਲਕਾਰਾ,html,web,www,ਫੋਂਟ, ਰੰਗ, ਜਾਵਾ, ਜਾਵਾ ਸਕ੍ਰਿਪਟ, ਕਰਸਰ, ਸਬੰਧ, ਚਿੱਤਰ, ਅੱਖਰ-ਸੈਟ, ਇੰਕੋਡਿੰਗ
Keywords[pl]=konqueror,kfm,przeglądarka,html,sieć www,czcionki,kolory,java,javascript,kursor,linki,odnośniki,obrazki,zestawy znaków,kodowanie
Keywords[pt]=konqueror,kfm,navegador,html,web,www,tipos de letra,fontes,cores,java,javascript,cursor,ligações,imagens,charsets,mapas de caracteres,codificação
Keywords[pt_BR]=Konqueror,kfm,navegador,html,web,WWW,fontes,cores,java,javascript, cursor,ligações,imagens,conjuntos de caracteres,codificação
Keywords[ro]=konqueror,kfm,navigator,browser,html,web,www,font,culori,java,javascript,cursor,legături,imagini,set de caractere,codare
Keywords[se]=konqueror,kfm,fierpmádatlogan,html,web,WWW,fonttat,ivnnit,java,javascript,seaván,liŋkkat,govat,mearkarájut,koden
Keywords[sl]=konqueror,kfm,brskalnik,html,splet,www,pisave,barve,java,javascript,kurzor,povezave,slike,nabori znakov,znakovni nabori,kodiranje
Keywords[sr]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding,прегледач,веб,фонтови,боје,показивач,везе,слике,скупови знакова,кодирање
Keywords[sr@Latn]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding,pregledač,veb,fontovi,boje,pokazivač,veze,slike,skupovi znakova,kodiranje
Keywords[sv]=konqueror,kfm,webbläsare,html,webb,www,teckensnitt,färger,java,javaskript,länkar,bilder,kodning,teckenuppsättningar
Keywords[ta]=கான்கொரர்,kfm,உலாவி,html,வலை,www,எழுத்துருக்கள்,வண்ணங்கள்,வண்ணங்கள்,ஜாவா,ஜாவா எழுத்துரு,நிலைக்காட்டி,இணைப்புகள்,பிம்பங்கள்,charsets,சொல் அமைப்புகள்,குறியீடு
Keywords[tr]=konqueror,kfm,tarayıcı,html,web,www,yazı tipleri,renkler,java,javascript,karakter,karakter seti,kodlama,bağlantılar,resimler,imleç
Keywords[uk]=konqueror,kfm,навігатор,html,шрифти,web,Тенета,кольори,java,javascript,курсор,www,посилання,зображення,набори символів,кодування
Keywords[uz]=konqueror,kfm,html,www,браузер,веб,шрифтлар,белгилар тўплами,кодлаш усули,java,javascript,боғлар,курсор,ранглар
Keywords[x-test]=xxkonqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encodingxx
Keywords[xh]=konqueror,kfm,umkhangeli zincwadi,html,web,www,imigca,imibala,imibala,java,okushicilelwe phantsi kwe java,isalatisi,amakhonkco,imifanekiso,icharsets,amaqela abasebenzi, encoding
Keywords[zh_TW]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding,瀏覽,字型,色彩,顏色,游標,連結,影像,字元,字集,編碼

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
