[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/khtml-behavior/index.html
Icon=konqueror
Exec=kcmshell4 khtml_behavior
X-KDE-ParentApp=kcontrol

X-KDE-Library=kcm_konqhtml
X-KDE-PluginKeyword=khtml_behavior

Name=Web Behavior
Comment=Configure the browser behavior
X-KDE-Keywords=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
