[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-DocPath=kcontrol/kcmcss/index.html
Icon=preferences-desktop-theme
Exec=kcmshell4 khtml_appearance
X-KDE-ParentApp=kcontrol

X-KDE-Library=kcm_konqhtml
X-KDE-PluginKeyword=khtml_appearance

Name=Appearance


Comment=Configure how to display web pages
X-KDE-Keywords=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
