[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-DocPath=kcontrol/khtml-adblock/index.html
Icon=preferences-web-browser-adblock
Exec=kcmshell4 khtml_filter

X-KDE-Library=kcm_konqhtml
X-KDE-PluginKeyword=khtml_filter
X-KDE-ParentApp=kcontrol

Name=AdBlocK Filters

Comment=Configure Konqueror AdBlocK filters

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
