[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/khtml-general/index.html
Icon=konqueror
Exec=kcmshell4 khtml_general
X-KDE-ParentApp=kcontrol

X-KDE-Library=kcm_konqhtml
X-KDE-PluginKeyword=khtml_general

# ctxt: Konqeuror settings relevant to both web browsing and file management.
Name=General
Comment=Configure general Konqueror behavior
X-KDE-Keywords=konqueror,tabs

Categories=Qt;KDE;
