[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/khtml/index.html#kbrowse-html
Icon=konqueror
Exec=kcmshell4 khtml_general
X-KDE-ParentApp=kcontrol

X-KDE-Library=kcm_konqhtml
X-KDE-PluginKeyword=khtml_general

Name=General
Name[af]=Algemeen
Name[ar]=عام
Name[be]=Агульныя
Name[bg]=Основно
Name[br]=Pennañ
Name[cs]=Obecné
Name[csb]=Spòdlowé
Name[da]=Generelt
Name[de]=Allgemein
Name[el]=Γενικά
Name[eo]=Ĝenerale
Name[et]=Üldine
Name[eu]=Orokorra
Name[fa]=عمومی
Name[fi]=Yleiset asetukset
Name[fr]=Général
Name[fy]=Algemien
Name[ga]=Ginearálta
Name[gl]=Xeral
Name[gu]=સામાન્ય
Name[he]=כללי
Name[hi]=सामान्य
Name[hu]=Általános
Name[is]=Almennt
Name[it]=Generale
Name[ja]=全般
Name[kk]=Жалпы
Name[km]=ទូទៅ
Name[kn]=ಸಾಮಾನ್ಯ
Name[ko]=일반
Name[ku]=Giştî
Name[lv]=Vispārēji
Name[ml]=സാധാരണ
Name[nb]=Generelt
Name[nds]=Allgemeen
Name[ne]=सामन्य
Name[nl]=Algemeen
Name[nn]=Generelt
Name[pa]=ਆਮ
Name[pl]=Ogólne
Name[pt]=Geral
Name[pt_BR]=Geral
Name[ru]=Общие
Name[se]=Oppalaš
Name[sl]=Splošno
Name[sr]=Опште
Name[sr@latin]=Opšte
Name[sv]=Allmänt
Name[ta]=பொது
Name[te]=సాధారణ
Name[tg]=Танзимоти умумӣ
Name[th]=ทั่วไป
Name[tr]=Genel
Name[uk]=Загальне
Name[uz]=Umumiy
Name[uz@cyrillic]=Умумий
Name[vi]=Chung
Name[wa]=Djenerå
Name[x-test]=xxGeneralxx
Name[zh_CN]=常规
Name[zh_TW]=一般
Comment=Configure general Konqueror behavior
Comment[af]=Konfigureer die algemene knoquerorgedrag
Comment[ca]=Configura el comportament general del Konqueror
Comment[cs]=Nastavení obecného chování Konqueroru
Comment[de]=Allgemeines Verhalten von Konqueror festlegen
Comment[el]=Ρύθμιση της γενικής συμπεριφοράς του Konqueror
Comment[en_GB]=Configure general Konqueror behaviour
Comment[eo]=Agordi la ĝeneralan konduton de Konkeranto
Comment[et]=Konquerori üldise käitumise seadistamine
Comment[fi]=Muokkaa Konquerorin yleistä käyttäytymistä
Comment[fr]=Configuration du comportement général de konqueror
Comment[ga]=Cumraigh oibriú ginearálta Konqueror
Comment[gl]=Configura o comportamento xeral de konqueror
Comment[gu]=સામાન્ય કોન્કરર વર્તણૂક રૂપરેખાંકિત કરો
Comment[ja]=Konqueror の全般的な挙動を設定
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ឥរិយាបថ​ទូទៅ​របស់ Konqueror
Comment[ko]=일반 Konqueror 행동 설정
Comment[lv]=Konfigurē Konqueror vispārējo uzvedību
Comment[nds]=Dat allgemeen Bedregen vun Konqueror instellen
Comment[pa]=ਆਮ ਕੋਨਕਿਊਰੋਰ ਰਵੱਈਆ ਸੰਰਚਨਾ
Comment[pt]=Configurar o comportamento geral do Konqueror
Comment[pt_BR]=Configurar o comportamento geral do Konqueror
Comment[ro]=Configurează comportamentul general al lui Konqueror
Comment[sl]=Nastavitve splošnega obnašanja Konquerorja
Comment[sr]=Подешавање општег понашања К‑освајача
Comment[sr@latin]=Podešavanje opšteg ponašanja K‑osvajača
Comment[sv]=Anpassa Konquerors allmänna beteende
Comment[ta]=கான்கொயரரின் பொதுப் செயற்பாட்டை வடிவமைக்க
Comment[th]=ปรับแต่งพฤติกรรมทั่วไปของ Konqueror
Comment[tr]=Genel Konqueror davranışlarını yapılandır
Comment[uk]=Налаштувати загальну поведінку Konqueror
Comment[x-test]=xxConfigure general Konqueror behaviorxx
Comment[zh_CN]=配置 Konqueror 的常规行为
Comment[zh_TW]=設定 Konqueror 一般行為
X-KDE-Keywords=konqueror,tabs
X-KDE-Keywords[ar]=الألسنة,كونكيورر
X-KDE-Keywords[bg]=konqueror,tabs,подпрозорци
X-KDE-Keywords[ca]=konqueror,pestanyes
X-KDE-Keywords[csb]=konqueror,załóżczi
X-KDE-Keywords[de]=konqueror,unterfenster
X-KDE-Keywords[el]=Konqueror,καρτέλες
X-KDE-Keywords[eo]=konkeranto,langetoj
X-KDE-Keywords[es]=konqueror,solapas
X-KDE-Keywords[et]=konqueror,kaardid
X-KDE-Keywords[fa]=konqueror، تبها
X-KDE-Keywords[ga]=Konqueror,cluaisíní
X-KDE-Keywords[he]=konqueror,לשוניות
X-KDE-Keywords[hu]=Konqueror,tabulátorok
X-KDE-Keywords[it]=konqueror,tab,schede
X-KDE-Keywords[ja]=konqueror,タブ
X-KDE-Keywords[km]=konqueror ផ្ទាំង
X-KDE-Keywords[ko]=konqueror,탭
X-KDE-Keywords[nb]=Konqueror,faner
X-KDE-Keywords[nds]=Konqueror,Paneels
X-KDE-Keywords[ne]=कन्क्वेरर, ट्याब
X-KDE-Keywords[nl]=konqueror,tabbladen
X-KDE-Keywords[nn]=konqueror,faner
X-KDE-Keywords[pa]=ਕੋਨਕਿਉਰੋਰ,ਟੈਬਾਂ
X-KDE-Keywords[pt]=Konqueror,páginas
X-KDE-Keywords[pt_BR]=konqueror,abas
X-KDE-Keywords[sl]=konqueror,zavihki
X-KDE-Keywords[sr]=Konqueror,tabs,језичак,језичци
X-KDE-Keywords[sr@latin]=Konqueror,tabs,jezičak,jezičci
X-KDE-Keywords[sv]=Konqueror, flikar
X-KDE-Keywords[th]=konqueror,แท็บ
X-KDE-Keywords[vi]=konqueror,thẻ
X-KDE-Keywords[wa]=konqueror,linwetes
X-KDE-Keywords[x-test]=xxkonqueror,tabsxx
X-KDE-Keywords[zh_CN]=konqueror,tabs,标签页
X-KDE-Keywords[zh_TW]=Konqueror,tabs,分頁

Categories=Qt;KDE;
