[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-DocPath=kcontrol/khtml/index.html#kbrowse-appearance
Icon=preferences-desktop-font
Exec=kcmshell4 khtml_appearance
X-KDE-ParentApp=kcontrol

X-KDE-Library=kcm_konqhtml
X-KDE-PluginKeyword=khtml_appearance

Name=Appearance
Name[af]=Voorkoms
Name[ar]=المظهر
Name[as]=চেহেৰা
Name[be]=Вонкавы выгляд
Name[be@latin]=Vonkavaść
Name[bg]=Системен панел
Name[bn]=চেহারা
Name[bn_IN]=চেহারাছবি
Name[br]=Neuziadur
Name[ca]=Aparença
Name[ca@valencia]=Aparença
Name[cs]=Vzhled
Name[csb]=Wëzdrzatk
Name[cy]=Golwg
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[el]=Εμφάνιση
Name[en_GB]=Appearance
Name[eo]=Aspekto
Name[es]=Aspecto
Name[et]=Välimus
Name[eu]=Itxura
Name[fa]=ظاهر
Name[fi]=Ulkonäkö
Name[fr]=Apparence
Name[fy]=Uterlik
Name[ga]=Cuma
Name[gl]=Aparencia
Name[gu]=દેખાવ
Name[he]=מראה
Name[hi]=रूप
Name[hne]=रूप
Name[hr]=Izgled
Name[hsb]=Napohlad
Name[hu]=Megjelenés
Name[is]=Útlit
Name[it]=Aspetto
Name[ja]=外観
Name[ka]=გარეგნობა
Name[kk]=Көрініс
Name[km]=រូបរាង
Name[kn]=ಸ್ವರೂಪ
Name[ko]=모양
Name[ku]=Xuyanî
Name[lt]=Išvaizda
Name[lv]=Izskats
Name[mai]=प्रकटन
Name[mk]=Изглед
Name[ml]=ചമയം
Name[mr]=दर्शन
Name[ms]=Rupa
Name[nb]=Utseende
Name[nds]=Utsehn
Name[ne]=देखावट
Name[nl]=Uiterlijk
Name[nn]=Utsjånad
Name[oc]=Aparéncia
Name[or]=ଦୃଶ୍ୟ
Name[pa]=ਦਿੱਖ
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ro]=Aspect
Name[ru]=Внешний вид
Name[se]=Fárda
Name[si]=පෙනුම
Name[sk]=Vzhľad
Name[sl]=Videz
Name[sr]=Изглед
Name[sr@latin]=Izgled
Name[sv]=Utseende
Name[ta]=தோற்றம்
Name[te]=కనిపించువిధం
Name[tg]=Намуди зоҳирӣ
Name[th]=รูปลักษณ์
Name[tr]=Görünüm
Name[uk]=Вигляд
Name[uz]=Tashqi koʻrinish
Name[uz@cyrillic]=Ташқи кўриниш
Name[vi]=Diện mạo
Name[wa]=Rivnance
Name[xh]=Inkangeleko
Name[x-test]=xxAppearancexx
Name[zh_CN]=外观
Name[zh_TW]=外觀


Comment=Configure how to display web pages
Comment[ar]=اضبط كيفية عرض صفحات الويب
Comment[bg]=Настройване показването на уеб страниците
Comment[bn_IN]=ওয়েব পেজ প্রদর্শনের প্রক্রিয়া কনফিগার করুন
Comment[ca]=Configura com visualitzar les pàgines web
Comment[ca@valencia]=Configura com visualitzar les pàgines web
Comment[cs]=Nastavit zobrazení webových stránek
Comment[csb]=Kònfigùracëjô wëskrzënianiô internetowich starnów
Comment[da]=Indstil hvordan netsider skal vises
Comment[de]=Einstellungen für die Darstellung von Webseiten
Comment[el]=Ρύθμιση της εμφάνισης των ιστοσελίδων
Comment[en_GB]=Configure how to display web pages
Comment[es]=Configuración de los tipos de letra usados en páginas web
Comment[et]=Veebilehtede väljanägemise seadistamine
Comment[eu]=Konfiguratu web orriak nola bistaratu
Comment[fi]=Muokkaa sitä kuinka verkkosivut näytetään
Comment[fr]=Configure la manière d'afficher les pages Web
Comment[fy]=Ynstelle, hoe jo de websiden werjaan wolle
Comment[ga]=Cumraigh conas a thaispeánfar leathanaigh Ghréasáin
Comment[gl]=Configura como se mostran as páxinas web
Comment[gu]=કઇ રીતે વેબ પાનાંઓ જોવા તે રૂપરેખાંકિત કરો
Comment[hi]=विन्यस्त करें कि वेब पृष्ठ कैसे दिखाना है
Comment[hr]=Konfiguriranje prikaza  web-stranica
Comment[hu]=A weboldalak megjelenítési jellemzőinek beállítása
Comment[is]=Stillta hvernig vefsíður eru birtar
Comment[it]=Configura la modalità di visualizzazione delle pagine web
Comment[ja]=ウェブページをどのように表示するかを設定
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​វិធី​ត្រូវ​បង្ហាញ​ទំព័រ​បណ្ដាញ
Comment[kn]=ಜಾಲ ಪುಟಗಳು ಹೇಗೆ ಕಾಣಿಸಬೇಕು ಎಂದು ಸಂರಚಿಸಿ
Comment[ko]=웹 페이지 표시 방법 설정
Comment[lt]=Konfigūruoti žiniatinklio puslapių rodymą
Comment[lv]=Šeit varat konfigurēt kā attēlot tīmekļa lapas
Comment[mai]=वेब पृष्ठ पर उपयोग मे आबैबला फान्ट्स बिन्यस्त करू
Comment[mk]=Конфигурирајте како да се прикажуваат веб-страниците
Comment[ml]=വെബ്താളുകള്‍ പ്രദര്‍ശിപ്പിയ്ക്കേണ്ടതെങ്ങനെയന്നു് ക്രമീകരിയ്ക്കുക
Comment[mr]=वेब पाने कसे दाखवायचे ते संयोजीत करा
Comment[nb]=Tilpass hvordan nettsider vises
Comment[nds]=Instellen, wodennig Nettsieden wiest warrt
Comment[nl]=Hier kunt u instellen hoe webpagina's te tonen
Comment[nn]=Oppsett av nettsidevising
Comment[pa]=ਵੈੱਬ ਪੇਜ਼ ਕਿੰਝ ਵੇਖਣੇ ਹਨ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja sposobu wyświetlania stron WWW
Comment[pt]=Configurar a apresentação das páginas Web
Comment[pt_BR]=Configurar como exibir as páginas da Web
Comment[ro]=Configurează cum să fie afișate paginile web
Comment[ru]=Настройка шрифтов веб-страниц
Comment[se]=Heivet man láhkai fierpmádatsiiddut čájehuvvot
Comment[si]=Configure how to display web pages
Comment[sk]=Nastavenie zobrazenia webových stránok
Comment[sl]=Nastavitve načina prikazovanja spletnih strani
Comment[sr]=Подешавање приказа веб страница
Comment[sr@latin]=Podešavanje prikaza veb stranica
Comment[sv]=Anpassa hur webbsidor ska visas
Comment[tg]=Танзимоти ҳарфҳои саҳифаҳои Интернетӣ
Comment[tr]=Web sayfalarının nasıl gösterileceğini yapılandır
Comment[uk]=Налаштування способу показу веб-сторінок
Comment[wa]=Apontyî comint håyner les pådjes waibe
Comment[x-test]=xxConfigure how to display web pagesxx
Comment[zh_CN]=配置如何显示网页
Comment[zh_TW]=設定如何顯示網頁
X-KDE-Keywords=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding
X-KDE-Keywords[be]=Вандроўнік,Сеціва,Шрыфт,Знаказборы,Знаказбор,konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding
X-KDE-Keywords[bg]=Keywords=уеб, шрифтове, страници, браузър, Интернет, konqueror, kfm, browser, html, web, www, fonts, charsets, character sets, encoding
X-KDE-Keywords[ca]=konqueror,kfm,navegador,html,web,www,tipus de lletra,caràcters.jocs de caràcters,codificació
X-KDE-Keywords[cs]=Konqueror,Kfm,Prohlížeč,HTML,Web,WWW,Písma,Znakové sady,Kódování
X-KDE-Keywords[csb]=konqueror,kfm,przezérnik,html,séc www,zestôw merków,kòdowanié
X-KDE-Keywords[cy]=konqueror,kfm,porydd,html,gwe,www,ffontiau,setiau nodau,amgodiad
X-KDE-Keywords[da]=konqueror,kfm,browser,HTML,net,www,skrifttyper,tegnsæt,indkodning
X-KDE-Keywords[de]=Konqueror,kfm,Browser,HTML,Web,WWW,Schriften,Zeichensätze,Kodierung
X-KDE-Keywords[el]=konqueror,kfm,περιηγητής,html,ιστός,www,γραμματοσειρές,σύνολα χαρακτήρων,σύνολα χαρακτήρων,κωδικοποίηση
X-KDE-Keywords[eo]=Konkeranto,Kfm,TTT,HTML,WWW,tiparo,koloro,Javo,Javoskripto,kursoro,kursilo,ligo,referenco,bildo,signaro,kodo
X-KDE-Keywords[es]=konqueror,kfm,navegador,html,web,www,tipos de letra,mapas de caracteres,codificación
X-KDE-Keywords[et]=konqueror,kfm,veebilehitseja,html,veeb,www,fondid,kooditabel,kodeering
X-KDE-Keywords[eu]=konqueror,kfm,arakatzailea,html,web,www,letra-tipoak,karaktere-multzoak, karaktere hobespenak,kodeketa
X-KDE-Keywords[fa]=konqueror،kfm، مرورگر، زنگام، وب، www،قلمها، نویسه‌گان، نویسه‌گان،کدبندی
X-KDE-Keywords[fi]=konqueror,kfm,selain,html,web,www,kirjasimet,merkistöt,koodaus
X-KDE-Keywords[fr]=konqueror,kfm,navigateur,html,web,www,polices,couleurs,java,javascript,curseur,liens,images,jeu de caractères,caractères,codage,encodage
X-KDE-Keywords[fy]=konqueror,kfm,browser,blêder,html,web,www,fonts,lettertypen,tekensets,karaktersamling,kodearring,ynternet
X-KDE-Keywords[ga]=konqueror,kfm,brabhsálaí,html,gréasán,www,clónna,clófhoirne,tacair charachtair,ionchódú
X-KDE-Keywords[gl]=konqueror,kfm,navegador,html,web,www,fontes,carácteres,conxunto de carácteres,codificación
X-KDE-Keywords[he]=konqueror,kfm,דפדפן,html,web,www,אינטרנט,browser,web,fonts,charsets,character sets,encoding, גופנים,מערכי תווים,קידוד
X-KDE-Keywords[hr]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding,preglednik,fontovi,kodiranje,kodiranje zakova
X-KDE-Keywords[hu]=Konqueror,kfm,böngésző,HTML,web,WWW,betűtípusok,karakterkészletek,betűkészletek,kódolás
X-KDE-Keywords[is]=vafri,vefur,vefurinn,vefsíður,letur,litir,kóðun,stafatafla, bendill,myndir,www,html,stafir
X-KDE-Keywords[it]=konqueror,kfm,browser,html,web,www,caratteri,colori,set di caratteri,charset,codifica
X-KDE-Keywords[ja]=konqueror,kfm,ブラウザ,html,web,ウェブ,www,フォント,文字,文字セット,色,カラー,エンコーディング
X-KDE-Keywords[km]=konqueror kfm កម្មវិធី​រុករក​បណ្ដាញ html បណ្ដាញ វើលវ៉ាយវ៉េប ពុម្ព​អក្សរ សំណុំ​តួ​អក្សរ សំណុំ​តួ​អក្សរការអ៊ិនកូដ
X-KDE-Keywords[ko]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,java,javascript,cursor,links,images,charsets,character sets,encoding,브라우저,웹,글꼴,색,색깔,자바,자바 스크립트,연결,그림,글자셋,문자셋,인코딩
X-KDE-Keywords[lt]=konqueror,kfm,browser,html,web,www,fonts,colours,colors,charsets,character sets,encodingsets,encoding,narašymas,html,tinklalapis,tinklapis,www,šriftai,spalvos,simbolių rinkiniai,koduotė
X-KDE-Keywords[lv]=iekarotājs,kfm,pārlūks,html,web,www,fonti,krāsojums,krāsas,java,javaskripts,kursors,saites,attēli,simbolukomplekti,simbolu komplekti,kodējums
X-KDE-Keywords[mk]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding,прелистувач,веб,фонтови,знаковни множества,кодирање
X-KDE-Keywords[nb]=konqueror,kfm,nettleser,html,nettet,www,veven,verdensveven,Internett,skriftyper,skrifter,koding,tegnsett,tegnkoding
X-KDE-Keywords[nds]=Konqueror,kfm,Nettkieker,browser,HTML,web,www,Schriftoorden,Tekensetten,Koderen
X-KDE-Keywords[ne]=कन्क्वेरर,kfm, ब्राउजर,html, वेब,www, फन्टहरू, चारसेटहरू, क्यारेक्टर सेट, सङ्केतन
X-KDE-Keywords[nl]=konqueror,kfm,browser,html,web,www,fonts,lettertypen,tekensets,karakterverzamelingen,codering,encoding,internet
X-KDE-Keywords[nn]=Konqueror,KFM,nettlesar,HTML,verdsveven,WWW,skrifter,teiknsett,koding,teiknkoding
X-KDE-Keywords[pa]=ਕੋਨਕਿਉਰਰ,kfm,ਝਲਕਾਰਾ,html,web,www,ਫੋਂਟ, ਅੱਖਰ-ਸੈਟ, ਅੱਖਰ ਸੈਟ, ਇੰਕੋਡਿੰਗ
X-KDE-Keywords[pl]=konqueror,kfm,przeglądarka,html,sieć www,zestawy znaków,kodowanie
X-KDE-Keywords[pt]=konqueror,kfm,navegador,html,web,www,tipos de letra,fontes,cores,java,javascript,cursor,ligações,imagens,charsets,mapas de caracteres,codificação
X-KDE-Keywords[pt_BR]=konqueror,kfm,navegador,html,web,www,fontes,charsets,conjuntos de caracteres,codificação
X-KDE-Keywords[ro]=konqueror,kfm,navigator,browser,html,web,www,fonturi,culori,java,javascript,cursor,legături,imagini,set de caractere,codare
X-KDE-Keywords[se]=Konqueror,kfm,fierpmádatlogan,html,web,www,fonttat,mearkarájut,koden
X-KDE-Keywords[sl]=konqueror,kfm,brskalnik,html,splet,www,pisave,nabori znakov,znakovni nabori,kodiranje
X-KDE-Keywords[sr]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding,К-освајач,прегледач,ХТМЛ,фонтови,скупови знакова,кодирање
X-KDE-Keywords[sr@latin]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding,K-osvajač,pregledač,HTML,fontovi,skupovi znakova,kodiranje
X-KDE-Keywords[sv]=konqueror,kfm,webbläsare,html,webb,www,teckensnitt,färger,java,javaskript,länkar,bilder,kodning,teckenuppsättningar
X-KDE-Keywords[ta]=கான்கொரர், கோப்பு மேலாளர், html,வலை, www,எழுத்துரு, எழுத்தமைப்பு முறை,எழுத்தமைப்பு முறை, குறியீடு முறை
X-KDE-Keywords[th]=konqueror ,kfm,เบราว์เซอร์,html,เว็บ,www,แบบอักษร,อักขระ,ชุดอักขระ,การเข้ารหัส
X-KDE-Keywords[tr]=konqueror,kfm,tarayıcı,html,web,www,yazı tipleri,kodlama
X-KDE-Keywords[uk]=konqueror,kfm,навігатор,html,шрифти,Тенета,www,набори символів,кодування
X-KDE-Keywords[uz]=konqueror,kfm,html,www,браузер,веб,шрифтлар,белгилар тўплами,кодлаш усули
X-KDE-Keywords[vi]=konqueror,kfm,trình duyệt,html,Mạng,www,phông chữ,bộ ký tự,bảng ký tự,mã ký tự
X-KDE-Keywords[wa]=konqueror,kfm,betchteu,html,waibe,www,fontes,ecôdaedjes,ecôdaedje
X-KDE-Keywords[x-test]=xxkonqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encodingxx
X-KDE-Keywords[xh]=konqueror,kfm,umkhangeli zincwadi,html,web,www,imigca, amaqela abasebenzisi,encoding
X-KDE-Keywords[zh_CN]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding,浏览器,网页,字体,字符集,编码
X-KDE-Keywords[zh_TW]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,征服家,字元,字元集,編碼,瀏覽器,字型,網頁

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
