[Desktop Entry]
Encoding=UTF-8
Icon=bookmark_toolbar
Name=Bookmark Toolbar
Name[el]=Γραμμή εργαλείων Σελιδοδεικτών
Name[fr]=Barre de signets
Name[x-test]=xxBookmark Toolbarxx
