[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KonqDndPopupMenu/Plugin
Comment=Drag-and-drop plugin for the Konqueror Popup Menu.
Comment[el]=Πρόσθετο συρσίματος και ελευθέρωσης για το αναδυόμενο μενού του Konqueror.
Comment[pt]='Plugin' de 'drag-and-drop' para o Menu de Contexto do Konqueror.
Comment[pt_BR]='Plugin' de 'drag-and-drop' para o Menu de Contexto do Konqueror.
Comment[sv]=Insticksprogram med drag och släpp för Konquerors popupmeny.
Comment[tr]=Konqueror Açılabilir Menüsü için sürükle bırak eklentisi.
Comment[uk]=Втулок перетягування зі скиданням для контекстного меню Konqueror.
Comment[x-test]=xxDrag-and-drop plugin for the Konqueror Popup Menu.xx
Comment[zh_TW]=Konqueror 彈出式選單的拖曳外掛程式。
