[Desktop Entry]
Type=Link
URL=ftp://ftp.kde.org/pub/kde
Icon=folder-remote
Name=KDE Official FTP
Name[af]=Kde Amptelike Ftp
Name[ar]=البروتوكول الرسمي لنقل ملفات كدي
Name[as]=KDE Official FTP
Name[be]=Афіцыйны FTP KDE
Name[be@latin]=Aficyjny FTP-server KDE
Name[bg]=Официален FTP сървър на KDE
Name[bn]=মূল কে.ডি.ই. এফ.টি.পি.
Name[br]=FTP ofisiel KDE
Name[ca]=FTP oficial del KDE
Name[ca@valencia]=FTP oficial del KDE
Name[cs]=Oficiální FTP projektu KDE
Name[csb]=Òficjalnô serwera FTP dlô KDE
Name[cy]=FTP Swyddogol KDE
Name[da]=KDE's officielle FTP
Name[de]=FTP-Bereich von KDE
Name[el]=Επίσημο FTP του KDE
Name[en_GB]=KDE Official FTP
Name[eo]=Oficiala FTP-arkivo de KDE
Name[es]=FTP oficial de KDE
Name[et]=KDE ametlik FTP sait
Name[eu]=KDEren FTP ofiziala
Name[fa]=قاپ رسمی KDE
Name[fi]=KDE:n virallinen FTP
Name[fr]=Site FTP officiel de KDE
Name[fy]=KDE's Offisjele FTP
Name[ga]=FTP Oifigiúil KDE
Name[gl]=FTP oficial de KDE
Name[gu]=KDE મુખ્ય FTP
Name[he]=ה־FTP הרשמי של KDE
Name[hi]=केडीई आधिकारिक एफटीपी
Name[hne]=केडीई आधिकारिक एफटीपी
Name[hr]=KDE službeni FTP
Name[hsb]=Oficielny FTP-serwer za KDE
Name[hu]=Hivatalos KDE FTP
Name[id]=FTP Resmi KDE
Name[is]=FTP gagnabanki KDE
Name[it]=FTP ufficiale di KDE
Name[ja]=KDE 公式 FTP
Name[ka]=KDE-ს ძირითადი FTP სერვერი
Name[kk]=Негізгі KDE FTP сервері
Name[km]=FTP ជា​ផ្លូវការ​របស់ KDE
Name[kn]=ಕೆಡಿಇ ಯ ಅಧಿಕೃತ FTP
Name[ko]=KDE 공식 FTP
Name[ku]=FTP ya fermî ya KDE
Name[lt]=KDE oficialus FTP
Name[lv]=KDE oficiālais FTP
Name[mai]=केडीई आधिकारिक एफटीपी
Name[mk]=Официјален FTP на KDE
Name[ml]=കെഡിഇ ഔദ്യോഗിക എഫ്‌ടിപി
Name[mr]=KDE आधिकारिक FTP
Name[ms]=FTP Rasmi KDE
Name[nb]=KDEs offisielle FTP
Name[nds]=Dat offizielle KDE-FTP
Name[ne]=केडीई आधिकारिक एफटीपी
Name[nl]=KDE's Officiële FTP
Name[nn]=Offisiell KDE-FTP
Name[or]=KDE ସରକାରୀ FTP
Name[pa]=KDE ਔਫਿਸ਼ਲ FTP
Name[pl]=Oficjalny serwer FTP dla KDE
Name[pt]=FTP Oficial do KDE
Name[pt_BR]=FTP oficial do KDE
Name[ro]=FTP KDE oficial
Name[ru]=Основной FTP-сервер KDE
Name[se]=Almmolaš KDE-FTP
Name[si]=KDE නිළ FTP
Name[sk]=Oficiálne FTP KDE
Name[sl]=Uradni FTP za KDE
Name[sr]=Званични ФТП КДЕ‑а
Name[sr@ijekavian]=Званични ФТП КДЕ‑а
Name[sr@ijekavianlatin]=Zvanični FTP KDE‑a
Name[sr@latin]=Zvanični FTP KDE‑a
Name[sv]=KDE:s officiella FTP-server
Name[ta]=கேபசூ அலுவலக எப்டிபி
Name[te]=కెడిఈ అధికారిక ఎఫ్ టి పి
Name[tg]=Хидматгоҳи FTP барои KDE
Name[th]=บริการ FTP อย่างเป็นทางการของ KDE
Name[tr]=KDE Resmi FTP Sunucusu
Name[uk]=Офіційний FTP KDE
Name[uz]=Rasmiy KDE FTP
Name[uz@cyrillic]=Расмий KDE FTP
Name[vi]=FTP chính thức của KDE
Name[wa]=Site FTP oficir di KDE
Name[xh]=KDE Osemthethweni FTP
Name[x-test]=xxKDE Official FTPxx
Name[zh_CN]=KDE 官方 FTP
Name[zh_TW]=KDE 官方 FTP 站
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
