[Desktop Entry]
Type=Link
URL=ftp://ftp.kde.org/pub/kde
Icon=folder-remote
Name=KDE Official FTP
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
