[Desktop Entry]
Icon=preferences-desktop-user-account
Categories=QT;KDE;X-KDE-settings-security;
X-KDE-ParentApp=kcontrol
X-KDE-Library=kcm_useraccount
X-KDE-System-Settings-Parent-Category=account-details
X-KDE-Weight=50
X-DocPath=kdepasswd/index.html

Type=Service
X-KDE-ServiceTypes=KCModule

Exec=kcmshell4 kcm_useraccount
Name=Password & User Account
X-KDE-Keywords=password;email;name;organization;realname;login image;face; echo mode;
X-KDE-Keywords[ar]=كلمة السر,البريد الإلكتروني,الاسم,المنظمة/الشركة,الاسم الحقيقي,صورة  الولوج,الوجه,نمط الصدى
X-KDE-Keywords[be]=Пароль,Электроннай пошта,Імя,Назва,Арганізацыя,Сапраўднае імя,Твар,Малюнак уваходу,password,email,name,organization,realname,login image,face,echo mode
X-KDE-Keywords[bg]=Keywords=парола, е-поща, организация, сметка, потребител, вход, включване, password, email, name, organization, realname, login image, face, echo mode
X-KDE-Keywords[ca]=contrasenya;correu;nom;organització;nom real;imatge de connexió;aspecte;mode d'eco;
X-KDE-Keywords[csb]=parola,e-maila,miono,nôzwëskò,òrganizacëjô,logòwanié,brëkòwnik,miono brëkòwnika,òbrôzk,skarń,gwiôzdczi,wëskrzëniwanié parolów
X-KDE-Keywords[de]=Passwort,E-Mail,Name,Organisation,Tatsächlicher Name,Login,Anmeldebild,Bild,Echomodus
X-KDE-Keywords[el]=κωδικός πρόσβασης;email;όνομα;οργανισμός;πραγματικό όνομα;εικόνα σύνδεσης;πρόσωπο; τρόπος εμφάνισης
X-KDE-Keywords[eo]=pasvorto;retpoŝto;nomo;organizaĵo;realnomo;salutbildo;vizaĝo;eĥo moduso;
X-KDE-Keywords[es]=contraseña;correo electrónico;nombre;organización;nombre real;imagen de acceso;cara;modo de eco;
X-KDE-Keywords[et]=parool;email;e-kiri;nimi;organisatsioon;pärisnimi;kasutaja pilt;nägu; echo režiim;
X-KDE-Keywords[fa]=اسم رمز؛ رایانامه؛ نام؛ سازمان؛ نام واقعی؛ تصویر ورود؛ چهره؛ حالت پژواک؛
X-KDE-Keywords[ga]=focal faire;ríomhphost;ainm;eagras;fíorainm;íomhá logála isteach;aghaidh;mód macalla;
X-KDE-Keywords[he]=סיסמה;דוא"ל;שם;אירגון;שם משתמש;תמונה;פרצוף;password;email;name;organization;realname;login image;face; echo mode;
X-KDE-Keywords[hu]=jelszó;e-mail;név;szervezet;valódi név;bejelentkezési kép;arc;kiírási mód;
X-KDE-Keywords[it]=password,email,nome,organizzazione,nome vero,immagine login,icona login,face,faccia,modo echo,accesso
X-KDE-Keywords[ja]=パスワード;メールアドレス;メール;Eメール;名前;組織;本名;ログイン画像;顔;エコーモード;
X-KDE-Keywords[ko]=비밀번호;암호;이름;조직;로그인 그림
X-KDE-Keywords[nb]=passord;e-post:navn;organisasjon;fullt navn;innloggingsbilde;ansikt;ekkomodus;
X-KDE-Keywords[nds]=Passwoort;EMail;Nettpost;Naam;Organisatschoon;Reaalnaam;echt Naam;Anmellbild;Loginbild;Gesicht;Echometood;
X-KDE-Keywords[ne]=पासवर्ड;इमेल;नाम;सङ्गठन;वास्तविक नाम;लगइन छवि;मोहडा; प्रतिध्वनि मोड;
X-KDE-Keywords[nl]=wachtwoord,e-mail,organisatie,naam,login,aanmelden,afbeelding,gezicht,echo,asterisk
X-KDE-Keywords[nn]=passord;e-post;namn;organisasjon;fullt namn;innloggingsbilete;ansikt;ekkomodus;
X-KDE-Keywords[pa]=ਪਾਸਵਰਡ,ਈ-ਮੇਲ,ਨਾਂ,ਸੰਗਠਨ,ਅਸਲੀ ਨਾਂ,login image,face,echo mode
X-KDE-Keywords[pt]=senha,e-mail,nome,organização,nome real,imagem de ligação,cara,modo de eco
X-KDE-Keywords[pt_BR]=senha;e-mail;nome;organização;nome real;imagem de login;aparência;modo de eco;
X-KDE-Keywords[sl]=geslo;e-pošta;ime;organizacija;pravo ime;prijavna slika:obraz;način odmeva
X-KDE-Keywords[sr]=password;email;name;organization;realname;login image;face;echo mode;лозинка;е-пошта;име;организација;ехо;режим;лице
X-KDE-Keywords[sr@latin]=password;email;name;organization;realname;login image;face;echo mode;lozinka;e-pošta;ime;organizacija;eho;režim;lice
X-KDE-Keywords[sv]=lösenord;e-post;namn;organisation;verkligt namn;inloggningsbild;bild;ekoläge
X-KDE-Keywords[th]=รหัสผ่าน, อีเมล,ชื่อ,องค์กร,ชื่อจริง,ภาพสำหรับล็อกอิน,ใบหน้า,โหมดแสดงอักษร
X-KDE-Keywords[vi]=mật khẩu,email,tên,tổ chức,tên thật,ảnh đăng nhập,mặt cười,chế độ báo lại
X-KDE-Keywords[wa]=sicret;emile;no;organizåcion;vraiy no;imådje d' elodjaedje;môde esco;
X-KDE-Keywords[x-test]=xxpassword;email;name;organization;realname;login image;face; echo mode;xx
X-KDE-Keywords[zh_CN]=password;email;name;organization;realname;login image;face;echo mode;密码;电子邮件;姓名;组织;真实姓名;登陆图像;头像;回显模式
X-KDE-Keywords[zh_TW]=password;email;name;organization;realname;login image;face;echo mode;密碼;電子郵件;組織;真名;登入圖片;面貌;回音模式
Comment=User information such as password, name and email

