[Desktop Entry]
Encoding=UTF-8
Icon=personal
Categories=QT;KDE;X-KDE-settings-security;
X-KDE-ParentApp=kcontrol
X-KDE-Library=kcm_useraccount
X-KDE-System-Settings-Parent-Category=about-me

Type=Service
ServiceTypes=KCModule

Exec=kcmshell kcm_useraccount
Name=Password & User Account
Name[af]=Gebruiker rekening en Wagwoord
Name[ar]=كلمة السر و حساب المستخدم
Name[be]=Пароль і рахунак карыстальніка
Name[bg]=Потребител
Name[br]=Tremenger ha gont an arveriad
Name[ca]=Contrasenya i compte d'usuari
Name[cs]=Heslo a uživatelský účet
Name[csb]=Parola ë kònto brëkòwnika
Name[cy]=Cyfrinair a Chyfrif Defnyddiwr
Name[da]=Kodeord og brugerkonto
Name[de]=Passwort & Benutzerzugang
Name[el]=Κωδικός πρόσβασης & Πληροφορίες χρήστη
Name[eo]=Pasvorto kaj uzanta konto
Name[es]=Contraseña y cuenta de usuario
Name[et]=Parool ja kasutaja konto
Name[eu]=Pasahitza eta erabiltzaile kontua
Name[fa]=اسم رمز و حساب کاربری
Name[fi]=Salasanat ja käyttäjätilit
Name[fr]=Compte utilisateur et mot de passe
Name[fy]=Wachtwurd en brûkersbehear
Name[ga]=Focal Faire & Cuntas Úsáideora
Name[gl]=Contrasinal e Conta de Usuario
Name[he]=סיסמה וחשבון משתמש
Name[hr]=Lozinka i korisnički nalozi
Name[hu]=Név és jelszó
Name[is]=Lykilorð og notandaaðgangur
Name[it]=Password e account utente
Name[ja]=パスワード & ユーザアカウント
Name[ka]=მომხმარებლის ანგარიშები და პაროლები
Name[kk]=Пароль мен тіркелгі
Name[km]=ពាក្យ​សម្ងាត់ និង​គណនី​អ្នក​ប្រើ
Name[ko]=비밀번호와 사용자 계정
Name[lt]=Slaptažodis ir naudotojo paskyra
Name[lv]=Paroles un lietotāju konti
Name[mk]=Лозинка и корисничка сметка
Name[ms]=Kata Laluan & Akaun Pengguna
Name[nb]=Passord og brukerkonto
Name[nds]=Passwoort & Brukerkonto
Name[ne]=पासवर्ड र प्रयोगकर्ता खाता
Name[nl]=Wachtwoord en gebruikerbeheer
Name[nn]=Passord og brukarkonto
Name[pa]=ਯੂਜ਼ਰ ਖਾਤਾ ਅਤੇ ਪਾਸਵਰਡ
Name[pl]=Hasło i konto użytkownika
Name[pt]=Senha e Conta do Utilizador
Name[pt_BR]=Senha & Conta de Usuário
Name[ro]=Parolă şi cont utilizator
Name[ru]=Профиль пользователя
Name[se]=Beassansánit ja geavaheaddjekontut
Name[sl]=Geslo in uporabniški račun
Name[sr]=Лозинка и кориснички налог
Name[sr@latin]=Lozinka i korisnički nalog
Name[sv]=Lösenord och användarkonto
Name[ta]=கடவுச்சொல் & பயனர் கணக்கு
Name[te]=పాస్ వర్డ్ & యూజర్ ఖాతా
Name[tg]=Гузарвожа ва номи истифодакунанда
Name[th]=รหัสผ่านและบัญชีผู้ใช้
Name[tr]=Parola ve Kullanıcı Hesabı
Name[uk]=Пароль і рахунок користувача
Name[uz]=Махфий сўз ва фойдаланувчи ҳисоби
Name[vi]=Mật khẩu và Tài khoản Người dùng
Name[wa]=Sicret & conte uzeu
Name[x-test]=xxPassword & User Accountxx
Name[zh_TW]=密碼與帳號資訊
Keywords=password;email;name;organization;realname;login image;face; echo mode;
Keywords[ar]=كلمة السر,البريد الإلكتروني,الاسم,المنظمة/الشركة,الاسم الحقيقي,صورة  الولوج,الوجه,نمط الصدى
Keywords[be]=Пароль,Электроннай пошта,Імя,Назва,Арганізацыя,Сапраўднае імя,Твар,Малюнак уваходу,password,email,name,organization,realname,login image,face,echo mode
Keywords[bg]=Keywords=парола, е-поща, организация, сметка, потребител, вход, включване, password, email, name, organization, realname, login image, face, echo mode
Keywords[csb]=parola,e-maila,miono,nôzwëskò,òrganizacëjô,logòwanié,brëkòwnik,miono brëkòwnika,òbrôzk,skarń,gwiôzdczi,wëskrzëniwanié parolów
Keywords[de]=Passwort,E-Mail,Name,Organisation,Tatsächlicher Name,Login,Anmeldebild,Bild,Echomodus
Keywords[el]=κωδικός πρόσβασης;email;όνομα;οργανισμός;πραγματικό όνομα;εικόνα σύνδεσης;πρόσωπο; τρόπος εμφάνισης
Keywords[es]=contraseña;correo electrónico;nombre;organización;nombre real;imagen de acceso;cara;modo de eco;
Keywords[fa]=اسم رمز؛ رایانامه؛ نام؛ سازمان؛ نام واقعی؛ تصویر ورود؛ چهره؛ حالت پژواک؛
Keywords[ga]=focal faire;ríomhphost;ainm;eagras;fíorainm;íomhá logála isteach;aghaidh;mód macalla;
Keywords[he]=סיסמה;דוא"ל;שם;אירגון;שם משתמש;תמונה;פרצוף;password;email;name;organization;realname;login image;face; echo mode;
Keywords[ja]=パスワード;Eメール;名前;組織;本名;ログイン画像;顔;エコーモード;
Keywords[ko]=비밀번호;암호;이름;조직;로그인 그림
Keywords[nb]=passord;e-post:navn;organisasjon;fullt navn;innloggingsbilde;ansikt;ekkomodus;
Keywords[nds]=Passwoort;EMail;Nettpost;Naam;Organisatschoon;Reaalnaam;echt Naam;Anmellbild;Loginbild;Gesicht;Echometood;
Keywords[ne]=पासवर्ड;इमेल;नाम;सङ्गठन;वास्तविक नाम;लगइन छवि;मोहडा; प्रतिध्वनि मोड;
Keywords[nl]=wachtwoord,e-mail,organisatie,naam,login,aanmelden,afbeelding,gezicht,echo,asterisk
Keywords[pa]=ਪਾਸਵਰਡ,ਈ-ਮੇਲ,ਨਾਂ,ਸੰਗਠਨ,ਅਸਲੀ ਨਾਂ,login image,face,echo mode
Keywords[pt]=senha,e-mail,nome,organização,nome real,imagem de ligação,cara,modo de eco
Keywords[pt_BR]=senha;e-mail;nome;organização;nome real;imagem de login;aparência;modo de eco;
Keywords[sl]=geslo;e-pošta;ime;organizacija;pravo ime;prijavna slika:obraz;način odmeva
Keywords[sv]=lösenord;e-post;namn;organisation;verkligt namn;inloggningsbild;bild;ekoläge
Keywords[th]=รหัสผ่าน, อีเมล,ชื่อ,องค์กร,ชื่อจริง,ภาพสำหรับล็อกอิน,ใบหน้า,โหมดแสดงอักษร
Keywords[vi]=mật khẩu,email,tên,tổ chức,tên thật,ảnh đăng nhập,mặt cười,chế độ báo lại
Keywords[wa]=sicret;emile;no;organizåcion;vraiy no;imådje d' elodjaedje;môde esco;
Keywords[x-test]=xxpassword;email;name;organization;realname;login image;face; echo mode;xx
Keywords[zh_TW]=password;email;name;organization;realname;login image;face;echo mode;密碼;電子郵件;組織;真名;登入圖片;面貌;回音模式
Comment=User information such as password, name and email
Comment[af]=Gebruiker informasie, soos naam, wagwoord en e-pos
Comment[ar]=معلومات عن المستخدم مثل كلمة السر ، الاسم والبريد الإلكتروني
Comment[be]=Звесткі аб карыстальніку, напр. пароль, імя і электронны адрас
Comment[bg]=Настройване на потребителската сметка, паролата, името и е-пощата
Comment[br]=Titouroù diwar-benn an arveriad (tremenger, anv, chomlec'h postel)
Comment[ca]=Informació de l'usuari com ara contrasenya, nom i correu
Comment[cs]=Informace o uživateli, jako heslo, jméno nebo email
Comment[csb]=Wëdowiédzô ò kònce brëkòwnika: parola, miono ë nôzwëskò, e-maila ëtd.
Comment[cy]=Gwybodaeth ddefnyddiwr fel cyfrinair, enw ac ebost
Comment[da]=Brugerinformation såsom kodeord, navn og e-mail
Comment[de]=Benutzerinformation wie Passwort, Name, E-Mail-Adresse
Comment[el]=Πληροφορίες χρήστη όπως ο κωδικός πρόσβασης, το όνομα και το email
Comment[eo]=Uzantaj informoj kiel pasvorto, nomo kaj retpoŝto
Comment[es]=Información del usuario como la contraseña, el nombre o el correo electrónico
Comment[et]=Kasutajainfo, nt. parool, nimi ja e-posti aadress
Comment[eu]=Erabiltzaileari buruzko informazioa; pasahitza, izena eta posta-helbidea, adibidez.
Comment[fa]=استفاده از اطلاعاتی نظیر اسم رمز، نام و رایانامه
Comment[fi]=Käyttäjien tiedot, kuten salasanat, nimet ja sähköpostiosoite
Comment[fr]=Informations sur l'utilisateur, comme le mot de passe, le nom, et l'adresse électronique
Comment[fy]=Brûkersynformaasje sa as wachtwurd, namme en e-adres
Comment[ga]=Eolas pearsanta ar nós focal faire, ainm agus seoladh ríomhphoist
Comment[gl]=Información do usuario como contrasinal, nome e correo-e
Comment[he]=מידע על המשתמש כגון סיסמה, שם וכתובת דוא"ל
Comment[hr]=Korisnički podaci poput lozinke, imena i e-pošte
Comment[hu]=A felhasználójellemzők, például az e-mail cím vagy a jelszó beállítása
Comment[is]=Upplýsingar um notandann eins og til dæmis póstfang, lykilorð og nafn
Comment[it]=Informazioni utente come password, nome ed email
Comment[ja]=パスワード、名前、Eメールなどのユーザ情報
Comment[ka]=ცნობები მომხმარებლების შესახებ, როგორიცაა პაროლი, სახელი და ელ-ფოსტა
Comment[kk]=Паролі, аты және эл.пошта адресі секілді пайдаланушының мәліметі
Comment[km]=ព័ត៌មាន​អ្នក​ប្រើ​ដូចជា ពាក្យ​សម្ងាត់ ឈ្មោះ និង​អ៊ីមែល
Comment[ko]=비밀번호, 이름, 전자우편 주소 같은 개인 정보
Comment[lt]=Naudotojo informacija, tokia, kaip slaptažodis, vardas ir e. pašto adresas
Comment[lv]=Lietotāja informācija kā parole, vārds un e-pasts
Comment[mk]=Кориснички информации како лозинка, име и е-пошта
Comment[ms]=Maklumat pengguna seperti kata laluan, nama dan e-mel
Comment[nb]=Brukerinformasjon som passord, navn og e-postadresse
Comment[nds]=Brukerinformatschonen, as t.B. Passwoort, Naam un Nettpostadress
Comment[ne]=पासवर्ड, नाम, र इमेल जस्तो प्रयोगकर्ता सूचना
Comment[nl]=Gebruikerinformatie zoals wachtwoord, naam en e-mailadres
Comment[nn]=Brukarinformasjon som passord, namn og e-postadresse
Comment[pa]=ਯੂਜ਼ਰ ਜਾਣਕਾਰੀ ਜਿਵੇਂ ਕਿ ਪਾਸਵਰਡ, ਨਾਂ ਅਤੇ ਈ-ਮੇਲ
Comment[pl]=Informacje o koncie użytkownika: hasło, imię i nazwisko, e-mail itd.
Comment[pt]=Informações do utilizador, como a senha, o nome e o e-mail
Comment[pt_BR]=Informações do usuário tais como senha, nome e e-mail
Comment[ro]=Informaţii despre utilizator, precum parola, numele şi adresa de e-mail
Comment[ru]=Сведения о пользователе, такие как пароль, имя и e-mail
Comment[se]=Geavaheaddjedieđut nugo beassansátni, namma ja e-boasta
Comment[sl]=Uporabniške informacije, kot so geslo, ime in e-pošta
Comment[sr]=Информације о кориснику као што је лозинка, име и е-пошта
Comment[sr@latin]=Informacije o korisniku kao što je lozinka, ime i e-pošta
Comment[sv]=Användarinformation som lösenord, namn och e-post
Comment[ta]=பயனர் தகவல் கடவுச்சொல்லைப் போல, பெயர் மற்றும் மிண்ணஞ்சல்
Comment[th]=ข้อมูลของผู้ใช้ เช่น รหัสผ่าน, ชื่อ และอีเมล
Comment[tr]=Parola, isim ve e-posta gibi kullanıcı bilgisi
Comment[uk]=Інформація про користувача така як: пароль, ім'я та адреса електронної пошти
Comment[uz]=Фойдаланувчининг исми, махфий сўзи ва электрон почтаси каби маълумот
Comment[vi]=Thông tin về người dùng như mật khẩu, tên và địa chỉ thư
Comment[wa]=Infôrmåcions d' l' uzeu come si scret, no et emile
Comment[x-test]=xxUser information such as password, name and emailxx
Comment[zh_TW]=使用者資訊如密碼、名稱和電子郵件
