[Desktop Entry]
Icon=preferences-system-performance
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcmkonqyperformance

X-KDE-Library=kcm_performance
X-KDE-PluginKeyword=konqueror
#X-KDE-ParentApp=kcontrol

Name=Performance
Name[af]=Werkverrigting
Name[ar]=الأداء
Name[be]=Хуткасць працы
Name[bg]=Производителност
Name[bn]=কার্যকারীতা
Name[ca]=Rendiment
Name[cs]=Výkon
Name[csb]=Spòrosc
Name[cy]=Perfformiad 
Name[da]=Ydelse
Name[de]=Leistung
Name[el]=Απόδοση
Name[eo]=Rendimento
Name[es]=Rendimiento
Name[et]=Jõudlus
Name[eu]=Performantzia 
Name[fa]=کارایی
Name[fi]=Suorituskyky
Name[fy]=Prestaasje
Name[ga]=Feidhmiúchán
Name[gl]=Rendemento
Name[gu]=કાર્યક્ષમતા
Name[he]=ביצועים
Name[hi]=परफार्मेंस
Name[hr]=Performanse
Name[hu]=Teljesítmény
Name[is]=Afköst
Name[it]=Prestazioni
Name[ja]=パフォーマンス
Name[ka]=წარმადობა
Name[kk]=Жылдамдылығы
Name[km]=ដំណើរការ​
Name[ko]=성능
Name[ku]=Performans
Name[lt]=Veikimo sparta
Name[lv]=Veiktspēja
Name[mk]=Перформанси
Name[ms]=Prestasi
Name[nb]=Ytelse
Name[nds]=Leisten
Name[ne]=सम्पादन
Name[nl]=Prestatie
Name[nn]=Yting
Name[pa]=ਕਾਰਗੁਜ਼ਾਰੀ
Name[pl]=Wydajność
Name[pt_BR]=Perfomance
Name[ro]=Performanță
Name[ru]=Быстродействие
Name[se]=Buktu
Name[sk]=Výkon
Name[sl]=Zmogljivost
Name[sr]=Перформансе
Name[sr@latin]=Performanse
Name[sv]=Prestanda
Name[ta]=செயல்திறன்
Name[tg]=Амалкард
Name[th]=ประสิทธิภาพ
Name[tr]=Performans
Name[uk]=Швидкодія
Name[uz]=Унумдорлик
Name[vi]=Hiệu năng
Name[wa]=Performances
Name[x-test]=xxPerformancexx
Name[zh_CN]=性能
Name[zh_TW]=偏好設定

Comment=Configure settings that can improve Konqueror performance
Comment[af]=Stel instellings op wat Konqueror se werkverrigting kan verhoog
Comment[ar]=اضبط إعدادات تحسين أداء كونكيورر
Comment[be]=Настаўленне параметраў, якія могуць павялічыць хуткасць працы Konqueror
Comment[bg]=Настройване производителността на браузъра
Comment[bn]=কনকরার-এর কার্যকারীতা বর্ধন করতে পারে এমন সব সেটিংস কনফিগার করুন
Comment[ca]=Configura les opcions per a millorar el rendiment del Konqueror
Comment[cs]=Zde můžete vylepšit výkon aplikace Konqueror
Comment[csb]=Kònfigùracëjô nastôwów Konquerora jaczé nają cësk na spòrosc
Comment[cy]=Ffurfweddu gosodiadau sy'n gallu gwella perfformiad Konqueror
Comment[da]=Indstil opsætning for at forbedre Konquerors ydelse
Comment[de]=Einstellungen vornehmen, die Konquerors Leistungsfähigkeit erhöhen können
Comment[el]=Αλλάξτε ρυθμίσεις που μπορεί να βελτιώσουν την απόδοση του Konqueror
Comment[eo]=Agordi Konkeranton por plibonigi la rendimenton
Comment[es]=Configurar las preferencias que pueden mejorar el rendimiento de Konqueror
Comment[et]=Siin saab seadistada, kuidas Konqueror kõigega paremini toime tuleks
Comment[eu]=Konfiguratu Konquerorren performantzia hobe dezaketen ezarpenak
Comment[fa]=پیکربندی تنظیماتی که کارایی Konqueror را بهبود می‌بخشد.
Comment[fi]=Muokkaa Konquerorin suorituskykyyn liittyviä asetuksia
Comment[fr]=Amélioration des performances de Konqueror
Comment[fy]=Hjir kinne jo ynstellings kieze die de prestaasje fan Konqueror ferbetterje
Comment[ga]=Cumraigh socruithe a chuirfidh feabhas ar fheidhmiúchán Konqueror
Comment[gl]=Configurar as opcións que poden mellorar o rendemento de Konqueror
Comment[gu]=ગોઠવણીઓ રૂપરેખાંકિત કરો કે જે કોન્કરરની કાર્યક્ષમતા વધારી શકે
Comment[he]=שינוי הגדרות העשויות לשפר את ביצועי Konqueror
Comment[hi]=विन्यास कॉन्फ़िगर करें ताकि कॉन्करर का कार्य बेहतर हो सके
Comment[hr]=Konfiguriranje postavki koje mogu poboljšati performanse Konquerora
Comment[hu]=A Konqueror böngésző teljesítményét befolyásoló paraméterek beállítása
Comment[is]=Stillingar Konqueror er varða afköst
Comment[it]=Configura le impostazioni che possono migliorare le prestazioni di Konqueror
Comment[ja]=Konqueror のパフォーマンスを改善
Comment[ka]=Konqueror-ის სისწრაფეზე მოქმედი პარამეტრების კონფიგურაცია
Comment[kk]=Konqueror жылдамдығын арттыратын параметрлерді баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​កំណត់ ដែល​អាច​បង្កើន​​ដំណើរការ​របស់​ Konqueror
Comment[ko]=Konqueror 성능 향상 설정
Comment[ku]=Mîhengên ji bo zêdekirina performansa Konquerorê ava bike
Comment[lt]=Konfigūruokite nustatymus, kurie gali įtakoti Konqueror veikimo spartą
Comment[lv]=Šeit jūs varat konfigurēt Konqueror parametrus, kas ietekmē tā veiktspēju
Comment[mk]=Конфигурирајте ги поставувањата што може да ги\nподобрат перформансите на Konqueror
Comment[ms]=Konfigur seting yang meningkatkan prestasi Konqueror
Comment[nb]=Tilpass innstillinger som kan forbedre Konquerors ytelse
Comment[nds]=Mit disse Instellen kannst Du de Leisten vun Konqueror verbetern
Comment[ne]=कन्क्वेरर सम्पादन सुधार गर्न सक्ने सेटिङ कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u instellingen kiezen die de prestaties van Konqueror verbeteren
Comment[nn]=Innstillingar som kan forbetra ytinga til Konqueror
Comment[pa]=ਸੰਰਚਨਾ ਸੈਟਿੰਗ, ਜਿਸ ਨਾਲ ਕੋਨਕਿਉਰਰ ਦੀ ਕਾਰਗੁਜ਼ਾਰੀ ਸੁਧਾਰੀ ਜਾ ਸਕਦੀ ਹੈ
Comment[pl]=Konfiguracja ustawień Konquerora mających wpływ na wydajność
Comment[pt]=Configuração das opções que podem aumentar a performance do Konqueror
Comment[pt_BR]=Configurações que podem aumentar a performance do Konqueror
Comment[ro]=Configurează setări care pot îmbunătăți performanța Konqueror
Comment[ru]=Настройка параметров, которые влияют на быстродействие Konqueror
Comment[se]=Heivet Konqueror:a vai das šaddá buoret buvttu
Comment[sk]=Nastavenie, ktoré môže vylepšiť výkon prehliadača Konqueror
Comment[sl]=Nastavitve, ki izboljšajo delovanje Konquerorja
Comment[sr]=Подешавање поставки које утичу на перформансе К‑освајача
Comment[sr@latin]=Podešavanje postavki koje utiču na performanse K‑osvajača
Comment[sv]=Anpassa inställningar som kan förbättra Konquerors prestanda
Comment[ta]=கான்கொரர் செயல்திறனை அதிகப்படுத்த அமைப்புகளை வடிவமை
Comment[tg]= Танзимоте ки метавонанд амалкарди Konqueror-ро беҳбуд бахшанд, танзим кунед
Comment[th]=ปรับแต่งตั้งค่าที่จะช่วยให้ Konqueror มีประสิทธิภาพดีขึ้น
Comment[tr]=Konqueror uygulamasının performansını artıracak ayarlamaları yap
Comment[uk]=Тут можна налаштувати швидкодію Konqueror
Comment[uz]=Konqueror унумдорлигини ошириши мумкин бўлган мосламаларни мослаш
Comment[vi]=Cấu hình thiết lập nâng cao khả năng của Konqueror
Comment[wa]=Apontiaedjes ki polèt amidrer les performances da Konqueror
Comment[x-test]=xxConfigure settings that can improve Konqueror performancexx
Comment[zh_CN]=配置提高 Konqueror 性能的设置
Comment[zh_TW]=可增進 Konqueror 效能的設定

X-KDE-Keywords=konqueror,reuse,preloading
X-KDE-Keywords[be]=Папярэдняя загрузка,konqueror,reuse,preloading
X-KDE-Keywords[bg]=Keywords=предварително, зареждане, използване, повторно, konqueror, reuse, preloading
X-KDE-Keywords[ca]=konqueror,torna a emprar,carrega prèviament
X-KDE-Keywords[cs]=konqueror,využití,preload
X-KDE-Keywords[csb]=konqueror,brëkòwanié znowa,wstãpné wczëtanié
X-KDE-Keywords[cy]=konqueror,ailddefnyddio,cynlwytho
X-KDE-Keywords[da]=konqueror,genbrug,forudindlæsning
X-KDE-Keywords[de]=konqueror,wiederverwenden
X-KDE-Keywords[el]=konqueror,επαναχρησιμοποίηση,προφόρτωση
X-KDE-Keywords[eo]=konkeranto,antaŭŝarĝi
X-KDE-Keywords[et]=konqueror,taaskasutamine,eellaadimine
X-KDE-Keywords[eu]=konqueror,berrerabili,prekargatu
X-KDE-Keywords[fa]=konqueror، استفادۀ مجدد، پیش‌بارگذاری
X-KDE-Keywords[fi]=konqueror,reuse,esilataus
X-KDE-Keywords[fr]=konqueror,réutilisation,préchargement
X-KDE-Keywords[fy]=konqueror,hergebûk,foarútlade
X-KDE-Keywords[ga]=konqueror,athúsáid,réamhluchtú
X-KDE-Keywords[gl]=konqueror,reuso,precarga
X-KDE-Keywords[he]=konqueror,שימוש חוזר,טעינה מקדימה,reuse,preloading
X-KDE-Keywords[hr]=konqueror,reuse,preloading,ponovna upotreba,prethodno učitavanje
X-KDE-Keywords[hu]=konqueror,ujrafelhasználás,előtöltés
X-KDE-Keywords[it]=konqueror,riutilizzo,precaricamento,prestazioni,preloading
X-KDE-Keywords[ja]=konqueror,再使用,事前読み込み
X-KDE-Keywords[km]=konqueror ប្រើ​ម្ដង​ទៀត ផ្ទុក​ជាមុន
X-KDE-Keywords[ko]=konqueror,재사용,미리 읽기
X-KDE-Keywords[lv]=iekarotājs,reuse,priekšielāde
X-KDE-Keywords[mk]=konqueror,reuse,preloading,користи,повторно користи,предвчитување
X-KDE-Keywords[nb]=konqueror,gjenbruk,forhåndslasting
X-KDE-Keywords[nds]=Konqueror,wedder bruken,vörladen
X-KDE-Keywords[ne]=विजय/प्राप्ति, पुन: प्रयोग, पूर्व-लोडिङ
X-KDE-Keywords[nl]=konqueror,hergebruik,preloading
X-KDE-Keywords[nn]=Konqueror,gjenbruk,førehandslasting
X-KDE-Keywords[pa]=konqueror,reuse,preloading, ਕੋਨਕਿਉਰਰ, ਮੁੜ ਲੋਡ
X-KDE-Keywords[pl]=konqueror,ponowne użycie,wstępne wczytywanie
X-KDE-Keywords[pt]=konqueror,reutilização,pré-carregamento
X-KDE-Keywords[pt_BR]=konqueror,reuso,pré-carregamento
X-KDE-Keywords[ro]=konqueror,reutilizare,preîncărcare
X-KDE-Keywords[sl]=konqueror,recikliranje,prednalaganje
X-KDE-Keywords[sr]=konqueror,reuse,preloading,К-освајач,поновно коришћење,предучитавање
X-KDE-Keywords[sr@latin]=konqueror,reuse,preloading,K-osvajač,ponovno korišćenje,predučitavanje
X-KDE-Keywords[sv]=konqueror,återanvändning,förladdning
X-KDE-Keywords[ta]=கான்கொரர்,திரும்ப பயன்படுத்து,முன்ஏற்றுதல்
X-KDE-Keywords[th]=konqueror ,นำมาใช้ใหม่,เตรียมโหลดไว้ก่อน
X-KDE-Keywords[tr]=konqueror,yeniden kullanım,ön yükleme
X-KDE-Keywords[uk]=konqueror,повторне використання,попереднє завантаження
X-KDE-Keywords[vi]=konqueror,tái sử dụng,tải về sẵn
X-KDE-Keywords[x-test]=xxkonqueror,reuse,preloadingxx
X-KDE-Keywords[zh_CN]=konqueror,reuse,preloading,重用,预加载
X-KDE-Keywords[zh_TW]=konqueror,reuse,preloading,重用,預先載入
