[Desktop Entry]
Icon=preferences-system-performance
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcmkonqyperformance

X-KDE-Library=kcm_performance
X-KDE-PluginKeyword=konqueror
#X-KDE-ParentApp=kcontrol
X-DocPath=kcontrol/performance/index.html

Name=Performance

Comment=Configure settings that can improve Konqueror performance

X-KDE-Keywords=konqueror,reuse,preloading
X-KDE-Keywords[be]=Папярэдняя загрузка,konqueror,reuse,preloading
X-KDE-Keywords[bg]=Keywords=предварително, зареждане, използване, повторно, konqueror, reuse, preloading
X-KDE-Keywords[ca]=konqueror,torna a emprar,carrega prèviament
X-KDE-Keywords[cs]=konqueror,využití,preload
X-KDE-Keywords[csb]=konqueror,brëkòwanié znowa,wstãpné wczëtanié
X-KDE-Keywords[cy]=konqueror,ailddefnyddio,cynlwytho
X-KDE-Keywords[da]=konqueror,genbrug,forudindlæsning
X-KDE-Keywords[de]=konqueror,wiederverwenden
X-KDE-Keywords[el]=konqueror,επαναχρησιμοποίηση,προφόρτωση
X-KDE-Keywords[eo]=konkeranto,antaŭŝarĝi
X-KDE-Keywords[et]=konqueror,taaskasutamine,eellaadimine
X-KDE-Keywords[eu]=konqueror,berrerabili,prekargatu
X-KDE-Keywords[fa]=konqueror، استفادۀ مجدد، پیش‌بارگذاری
X-KDE-Keywords[fi]=konqueror,reuse,esilataus
X-KDE-Keywords[fr]=konqueror,réutilisation,préchargement
X-KDE-Keywords[fy]=konqueror,hergebûk,foarútlade
X-KDE-Keywords[ga]=konqueror,athúsáid,réamhluchtú
X-KDE-Keywords[gl]=konqueror,reuso,precarga
X-KDE-Keywords[he]=konqueror,שימוש חוזר,טעינה מקדימה,reuse,preloading
X-KDE-Keywords[hr]=konqueror,reuse,preloading,ponovna upotreba,prethodno učitavanje
X-KDE-Keywords[hu]=konqueror,ujrafelhasználás,előtöltés
X-KDE-Keywords[it]=konqueror,riutilizzo,precaricamento,prestazioni,preloading
X-KDE-Keywords[ja]=konqueror,再使用,事前読み込み
X-KDE-Keywords[km]=konqueror ប្រើ​ម្ដង​ទៀត ផ្ទុក​ជាមុន
X-KDE-Keywords[ko]=konqueror,재사용,미리 읽기
X-KDE-Keywords[lv]=iekarotājs,reuse,priekšielāde
X-KDE-Keywords[mk]=konqueror,reuse,preloading,користи,повторно користи,предвчитување
X-KDE-Keywords[nb]=konqueror,gjenbruk,forhåndslasting
X-KDE-Keywords[nds]=Konqueror,wedder bruken,vörladen
X-KDE-Keywords[ne]=विजय/प्राप्ति, पुन: प्रयोग, पूर्व-लोडिङ
X-KDE-Keywords[nl]=konqueror,hergebruik,preloading
X-KDE-Keywords[nn]=Konqueror,gjenbruk,førehandslasting
X-KDE-Keywords[pa]=konqueror,reuse,preloading, ਕੋਨਕਿਉਰਰ, ਮੁੜ ਲੋਡ
X-KDE-Keywords[pl]=konqueror,ponowne użycie,wstępne wczytywanie
X-KDE-Keywords[pt]=konqueror,reutilização,pré-carregamento
X-KDE-Keywords[pt_BR]=konqueror,reuso,pré-carregamento
X-KDE-Keywords[ro]=konqueror,reutilizare,preîncărcare
X-KDE-Keywords[sl]=konqueror,recikliranje,prednalaganje
X-KDE-Keywords[sr]=konqueror,reuse,preloading,К-освајач,поновно коришћење,предучитавање
X-KDE-Keywords[sr@latin]=konqueror,reuse,preloading,K-osvajač,ponovno korišćenje,predučitavanje
X-KDE-Keywords[sv]=konqueror,återanvändning,förladdning
X-KDE-Keywords[ta]=கான்கொரர்,திரும்ப பயன்படுத்து,முன்ஏற்றுதல்
X-KDE-Keywords[th]=konqueror ,นำมาใช้ใหม่,เตรียมโหลดไว้ก่อน
X-KDE-Keywords[tr]=konqueror,yeniden kullanım,ön yükleme
X-KDE-Keywords[uk]=konqueror,повторне використання,попереднє завантаження
X-KDE-Keywords[vi]=konqueror,tái sử dụng,tải về sẵn
X-KDE-Keywords[x-test]=xxkonqueror,reuse,preloadingxx
X-KDE-Keywords[zh_CN]=konqueror,reuse,preloading,重用,预加载
X-KDE-Keywords[zh_TW]=konqueror,reuse,preloading,重用,預先載入
