[Desktop Entry]
Icon=preferences-system-performance
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcmkonqyperformance

X-KDE-Library=kcm_performance
X-KDE-PluginKeyword=konqueror
#X-KDE-ParentApp=kcontrol
X-DocPath=kcontrol/performance/index.html

Name=Performance

Comment=Configure settings that can improve Konqueror performance

X-KDE-Keywords=konqueror,reuse,preloading
