[Desktop Entry]
Icon=preferences-system-performance
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcmperformance

X-KDE-Library=kcm_performance
X-KDE-PluginKeyword=performance
X-KDE-ParentApp=kcontrol

Name=KDE Performance
Name[af]=KDE Werkverrigting
Name[ar]=أداء كدي
Name[be]=Хуткасць працы KDE
Name[bg]=Производителност
Name[bn]=কে.ডি.ই. কার্যকারীতা
Name[ca]=Rendiment del KDE
Name[cs]=Výkon KDE
Name[csb]=Spòrosc KDE
Name[cy]=Perfformiad KDE
Name[da]=KDE's ydelse
Name[de]=KDE-Leistung
Name[el]=Απόδοση του KDE
Name[eo]=KDE rendimento
Name[es]=Rendimiento de KDE
Name[et]=KDE jõudlus
Name[eu]=KDEren performantzia
Name[fa]=کارایی KDE
Name[fi]=Suorituskyky
Name[fr]=Performance de KDE
Name[fy]=KDE-prestaasjes
Name[ga]=Feidhmiúchán KDE
Name[gl]=Rendemento de KDE
Name[gu]=KDE કાર્યક્ષમતા
Name[he]=ביצועי KDE
Name[hi]=केडीई परफार्मेंस
Name[hr]=KDE performanse
Name[hu]=Teljesítményhangolás
Name[is]=Afkastastillingar KDE
Name[it]=Prestazioni di KDE
Name[ja]=KDE パフォーマンス
Name[ka]=KDE-ს წარმადობა
Name[kk]=KDE жылдамдығы
Name[km]=ដំណើរ​ការ​របស់ KDE
Name[ko]=KDE 성능
Name[ku]=Performansa KDE'yê
Name[lt]=KDE našumas
Name[lv]=KDE veiktspēja
Name[mk]=Перформанси на KDE
Name[ml]=കെഡിഇയുടെ പ്രകടനം
Name[ms]=Prestasi KDE
Name[nb]=KDE-ytelse
Name[nds]=KDE-Leisten
Name[ne]=केडीई कार्यसम्पादन
Name[nl]=KDE-prestaties
Name[nn]=KDE-yting
Name[pa]=KDE ਕਾਰਗੁਜ਼ਾਰੀ
Name[pl]=Wydajność KDE
Name[pt]=Performance do KDE
Name[pt_BR]=Performance do KDE
Name[ro]=Performanță KDE
Name[ru]=Быстродействие KDE
Name[se]=KDE-buktu
Name[sk]=Výkon KDE
Name[sl]=Zmogljivost KDE
Name[sr]=Перформансе КДЕ‑а
Name[sr@latin]=Performanse KDE‑a
Name[sv]=KDE-prestanda
Name[ta]=KDE செயல்திறன்
Name[tg]=Амалкарди KDE
Name[th]=ประสิทธิภาพของ KDE
Name[tr]=KDE Performansı
Name[uk]=Швидкодія KDE
Name[uz]=KDE unumdorligi
Name[uz@cyrillic]=KDE унумдорлиги
Name[vi]=Hiệu năng KDE
Name[wa]=Performances di KDE
Name[x-test]=xxKDE Performancexx
Name[zh_CN]=KDE 性能
Name[zh_TW]=KDE 效能

Comment=Configure settings that can improve KDE performance
Comment[af]=Stel instellings op wat KDE se werkverrigting kan verhoog
Comment[ar]=اضبط إعدادات تحسين أداء كدي
Comment[be]=Настаўленне параметраў, якія могуць павялічыць хуткасць працы KDE
Comment[bg]=Настройване производителността на системата
Comment[bn]=কে.ডি.ই-এর কার্যকারীতা বর্ধন করতে পারে এমন সব সেটিংস কনফিগার করুন
Comment[ca]=Configura les opcions per a millorar el rendiment del KDE
Comment[cs]=Nastavení vylepšující výkon KDE
Comment[csb]=Kònfigùracëjô nastôwów Konquerora jaczé nają cësk na spòrosc KDE
Comment[cy]=Ffurfweddu gosodiadau sy'n gallu gwella perfformiad KDE
Comment[da]=Indstil opsætning for at forbedre KDE's ydelse
Comment[de]=Einstellungen vornehmen, die die Leistungsfähigkeit von KDE erhöhen können
Comment[el]=Αλλάξτε ρυθμίσεις που μπορεί να βελτιώσουν την απόδοση του KDE
Comment[eo]=Agordi la plibonigon de la KDE rendimento
Comment[es]=Configurar las preferencias que pueden mejorar el rendimiento de KDE
Comment[et]=Siin saab seadistada, kuidas KDE kõigega paremini toime tuleks
Comment[eu]=Konfiguratu Konquerorren performantzia hobe dezaketen ezarpenak
Comment[fa]=پیکربندی تنظیماتی که کارایی KDE را بهبود می‌بخشد
Comment[fi]=Muokkaa KDE:n suorituskykyyn liittyviä asetuksia
Comment[fr]=Configuration de paramètres qui peuvent améliorer les performances de KDE
Comment[fy]=Hjir kinne jo ynstellings kiezen die de prestaasje fan KDE kinne ferbetterje
Comment[ga]=Cumraigh socruithe a chuirfidh feabhas ar fheidhmiúchán KDE
Comment[gl]=Configuración das opcións que poden mellorar o rendemento de KDE
Comment[gu]=ગોઠવણીઓ રૂપરેખાંકિત કરો કે જે KDEની કાર્યક્ષમતા વધારી શકે
Comment[he]=שינוי הגדרות העשויות לשפר את ביצועי KDE
Comment[hi]=विन्यास कॉन्फ़िगर करें ताकि केडीई का कार्य बेहतर हो सके
Comment[hr]=Konfiguriranje postavi koje mogu poboljšati performanse KDE-a
Comment[hu]=A KDE teljesítményét befolyásoló paraméterek beállítása
Comment[is]=Stillingar sem varða afköst KDE
Comment[it]=Configura le impostazioni che possono migliorare le prestazioni di KDE
Comment[ja]=KDE のパフォーマンスを改善
Comment[ka]=KDE-ს სისწრაფეზე მოქმედი პარამეტრების კონფიგურაცია
Comment[kk]=KDE жылдамдығын арттыратын параметрлерді баптау
Comment[km]=កំណត់​រចនា​សម្ព័ន្ធ​ការ​កំណត់​ដែល​អាច​បង្កើន​ដំណើរការ​របស់ KDE
Comment[ko]=KDE 성능 향상 설정
Comment[ku]=Mîhengên ji bo zêdekirina performansa KDE'yê ava bike
Comment[lt]=Konfigūruoti nustatymus, kurie gali pagerinti KDE veikimo spartą
Comment[lv]=Konfigurē parametrus, kas ietekmē Konqueror veiktspēju
Comment[mk]=Конфигурирајте ги поставувањата што може да ги подобрат перформансите на KDE
Comment[ml]=കെഡിഇയുടെ പ്രകടനം മെച്ചപ്പെടുത്താവുന്ന സജ്ജീകരണങ്ങള്‍ ക്രമീകരിയ്ക്കുക
Comment[ms]=Konfigur seting yang boleh meningkatkan prestasi KDE
Comment[nb]=Tilpass instillinger som kan forbedre KDEs ytelse
Comment[nds]=Mit disse Instellen kannst Du de Leisten vun KDE verbetern
Comment[ne]=केडीई कार्यसम्पादन सुधार गर्न सक्ने सेटिङ कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u instellingen kiezen die de prestaties van KDE kunnen verbeteren
Comment[nn]=Innstillingar som kan forbetra ytinga til KDE
Comment[pa]=ਸੰਰਚਨਾ ਸੈਟਿੰਗ, ਜਿਸ ਨਾਲ KDE ਦੀ ਕਾਰਗੁਜ਼ਾਰੀ ਸੁਧਰ ਸਕਦੀ ਹੈ।
Comment[pl]=Konfiguracja ustawień, które mogą mieć wpływ na wydajność KDE
Comment[pt]=Configura as opções que podem aumentar a performance do KDE
Comment[pt_BR]=Configurações que podem aumentar a performance do KDE
Comment[ro]=Configurează setări care pot îmbunătăți performanța Konqueror
Comment[ru]=Настройка параметров, которые могут повлиять на быстродействие KDE
Comment[se]=Heivehusat mat buoridit KDE:a buvttu
Comment[sk]=Nastavenie, ktoré môže vylepšiť výkon KDE
Comment[sl]=Nastavite možnosti za pohitritev KDE
Comment[sr]=Подешавање поставки које утичу на перформансе КДЕ‑а
Comment[sr@latin]=Podešavanje postavki koje utiču na performanse KDE‑a
Comment[sv]=Anpassa inställningar som kan förbättra KDE:s prestanda
Comment[ta]=KDE செயல்திறனை அதிகப்படுத்தும் அமைப்புகளை அமை
Comment[tg]= Танзимоте ки метавонанд амалкарди KDE-ро беҳбуд бахшанд, танзим кунед
Comment[th]=ปรับแต่งค่าที่จะช่วยปรับประสิทธิภาพของ KDE ให้ดีขึ้น
Comment[tr]=KDE performansını artıracak ayarlamaları yap
Comment[uk]=Налаштування параметрів для покращання швидкодії KDE
Comment[uz]=KDE unumdorligini oshirishi mumkin boʻlgan moslamalarni moslash
Comment[uz@cyrillic]=KDE унумдорлигини ошириши мумкин бўлган мосламаларни мослаш
Comment[vi]=Cấu hình thiết lập nâng cao khả năng của KDE
Comment[wa]=Apontiaedjes ki polèt amidrer les performances da KDE
Comment[x-test]=xxConfigure settings that can improve KDE performancexx
Comment[zh_CN]=配置提高 KDE 性能的设置
Comment[zh_TW]=可增進 KDE 效能的設定

X-KDE-Keywords=performance,speed,memory,improve
X-KDE-Keywords[be]=Хуткасць працы,Прадукцыйнасць,Хуткасць,Памяць,Палепшыць,Паляпшэнне,performance,speed,memory,improve
X-KDE-Keywords[bg]=Keywords=производителност, памет, скорост, подобряване, подобрение, performance, speed, memory, improve
X-KDE-Keywords[ca]=rendiment,velocitat,memòria,millora
X-KDE-Keywords[cs]=výkon,rychlost,paměť,zlepšení
X-KDE-Keywords[csb]=spòrosc, chùtkòsc, pamiãc,zlepszenié
X-KDE-Keywords[cy]=perfformiad,cyflymder,cof,gwella
X-KDE-Keywords[da]=ydelse,hastighed,hukommelse,forbedre
X-KDE-Keywords[de]=leistung,geschwindigkeit,speichern,optimieren
X-KDE-Keywords[el]=απόδοση,ταχύτητα,μνήμη,βελτίωση
X-KDE-Keywords[eo]=potenco,rapideco,memoro,plibonigo,plibonigi
X-KDE-Keywords[es]=rendimiento,velocidad,memoria,mejora
X-KDE-Keywords[et]=jõudlus,kiirus,mälu,parandamine
X-KDE-Keywords[eu]=performantzia,abiadura,memoria,hobetu
X-KDE-Keywords[fa]=کارایی، سرعت، حافظه، بهبود
X-KDE-Keywords[fi]=suorituskyky, nopeus, muisti, parannus
X-KDE-Keywords[fr]=performances,vitesse,mémoire,améliorer
X-KDE-Keywords[fy]=fluggens,prestaasjes,ûnthâld,ferbetterje
X-KDE-Keywords[ga]=oibriú,luas,cuimhne,feabhsaigh,feabhsú
X-KDE-Keywords[gl]=rendemento,velocidade,memoria,mellora
X-KDE-Keywords[he]=ביצועים,מהירות,זיכרון,שיפור, performance,speed,memory,improve
X-KDE-Keywords[hr]=performance,speed,memory,improve,performanse,brzina,memorija,unaprijediti
X-KDE-Keywords[hu]=teljesítmény,sebesség,memória,hangolás
X-KDE-Keywords[it]=prestazioni,velocità,memoria,migliora
X-KDE-Keywords[ja]=パフォーマンス,速度,メモリ,改善
X-KDE-Keywords[km]=ដំណើរ​ការ ល្បឿន សតិ បង្កើន
X-KDE-Keywords[ko]=성능,속도,메모리,향상
X-KDE-Keywords[lt]=performance,speed,memory,improve,veikimas,greitis,atmintis,pagerinti
X-KDE-Keywords[lv]=veiktspēja,ātrums,atmiņa,uzlabot
X-KDE-Keywords[mk]=performance,speed,memory,improve,перформанси,брзина,меморија,подобри
X-KDE-Keywords[nb]=ytelse,hastighet,minne,forbedre
X-KDE-Keywords[nds]=Leisten,performance,Gauheit,Spieker,verbetern
X-KDE-Keywords[ne]=कार्यसम्पादन,गति, स्मृति, सुधार
X-KDE-Keywords[nl]=snelheid,prestaties,geheugen,verbeteren
X-KDE-Keywords[nn]=yting,fart,minne,forbetra
X-KDE-Keywords[pa]=performance,speed,memory,improve, ਪਰਦਰਸ਼ਨ, ਗਤੀ, ਮੈਮੋਰੀ, ਸੁਧਾਰ
X-KDE-Keywords[pl]=wydajność,szybkość,pamięć,polepszenie
X-KDE-Keywords[pt]=performance,velocidade,memória,melhorar
X-KDE-Keywords[pt_BR]=performance,velocidade,memória,aumento
X-KDE-Keywords[ro]=performanţă,viteză,memorie,îmbunătăţire
X-KDE-Keywords[se]=buktu,leahttu,muitu,buoridit
X-KDE-Keywords[sl]=zmogljivost,hitrost,pomnilnik,izboljšanje
X-KDE-Keywords[sr]=performance,speed,memory,improve,перформансе,брзина,меморија,побољшање
X-KDE-Keywords[sr@latin]=performance,speed,memory,improve,performanse,brzina,memorija,poboljšanje
X-KDE-Keywords[sv]=prestanda,hastighet,minne,förbättra
X-KDE-Keywords[ta]=செயல்திறன்,வேகம்,நினைவகம்,முன்னேற்றம்
X-KDE-Keywords[th]=ประสิทธิภาพ,ความเร็ว,หน่วยความจำ,ปรับปรุง
X-KDE-Keywords[tr]=performans,hız,bellek,geliştirme
X-KDE-Keywords[uk]=швидкодія,швидкість,пам'ять,покращення
X-KDE-Keywords[uz]=унумдорлик,тезлик,хотира,ошириш
X-KDE-Keywords[vi]=hiệu năng,tốc độ,bộ nhớ,nâng cao
X-KDE-Keywords[wa]=performance,performances,roedeu,radisté,rade,abeye,memwere,amidrer
X-KDE-Keywords[x-test]=xxperformance,speed,memory,improvexx
X-KDE-Keywords[zh_CN]=performance,speed,memory,improve,性能,速度,内存,提高
X-KDE-Keywords[zh_TW]=performance,speed,memory,improve,效能,速度,記憶體,增進
