[Desktop Entry]
Icon=preferences-system-performance
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcmperformance

X-KDE-Library=kcm_performance
X-KDE-PluginKeyword=performance
X-KDE-ParentApp=kcontrol

Name=KDE Performance

Comment=Configure settings that can improve KDE performance

X-KDE-Keywords=performance,speed,memory,improve
