[Desktop Entry]
Icon=preferences-system-performance
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcmperformance

X-KDE-Library=kcm_performance
X-KDE-PluginKeyword=performance
X-KDE-ParentApp=kcontrol

Name=KDE Performance

Comment=Configure settings that can improve KDE performance

X-KDE-Keywords=performance,speed,memory,improve
X-KDE-Keywords[be]=Хуткасць працы,Прадукцыйнасць,Хуткасць,Памяць,Палепшыць,Паляпшэнне,performance,speed,memory,improve
X-KDE-Keywords[bg]=Keywords=производителност, памет, скорост, подобряване, подобрение, performance, speed, memory, improve
X-KDE-Keywords[ca]=rendiment,velocitat,memòria,millora
X-KDE-Keywords[cs]=výkon,rychlost,paměť,zlepšení
X-KDE-Keywords[csb]=spòrosc, chùtkòsc, pamiãc,zlepszenié
X-KDE-Keywords[cy]=perfformiad,cyflymder,cof,gwella
X-KDE-Keywords[da]=ydelse,hastighed,hukommelse,forbedre
X-KDE-Keywords[de]=leistung,geschwindigkeit,speichern,optimieren
X-KDE-Keywords[el]=απόδοση,ταχύτητα,μνήμη,βελτίωση
X-KDE-Keywords[eo]=potenco,rapideco,memoro,plibonigo,plibonigi
X-KDE-Keywords[es]=rendimiento,velocidad,memoria,mejora
X-KDE-Keywords[et]=jõudlus,kiirus,mälu,parandamine
X-KDE-Keywords[eu]=performantzia,abiadura,memoria,hobetu
X-KDE-Keywords[fa]=کارایی، سرعت، حافظه، بهبود
X-KDE-Keywords[fi]=suorituskyky, nopeus, muisti, parannus
X-KDE-Keywords[fr]=performances,vitesse,mémoire,améliorer
X-KDE-Keywords[fy]=fluggens,prestaasjes,ûnthâld,ferbetterje
X-KDE-Keywords[ga]=oibriú,luas,cuimhne,feabhsaigh,feabhsú
X-KDE-Keywords[gl]=rendemento,velocidade,memoria,mellora
X-KDE-Keywords[he]=ביצועים,מהירות,זיכרון,שיפור, performance,speed,memory,improve
X-KDE-Keywords[hr]=performance,speed,memory,improve,performanse,brzina,memorija,unaprijediti
X-KDE-Keywords[hu]=teljesítmény,sebesség,memória,hangolás
X-KDE-Keywords[it]=prestazioni,velocità,memoria,migliora
X-KDE-Keywords[ja]=パフォーマンス,速度,メモリ,改善
X-KDE-Keywords[km]=ដំណើរ​ការ ល្បឿន សតិ បង្កើន
X-KDE-Keywords[ko]=성능,속도,메모리,향상
X-KDE-Keywords[lt]=performance,speed,memory,improve,veikimas,greitis,atmintis,pagerinti
X-KDE-Keywords[lv]=veiktspēja,ātrums,atmiņa,uzlabot
X-KDE-Keywords[mk]=performance,speed,memory,improve,перформанси,брзина,меморија,подобри
X-KDE-Keywords[nb]=ytelse,hastighet,minne,forbedre
X-KDE-Keywords[nds]=Leisten,performance,Gauheit,Spieker,verbetern
X-KDE-Keywords[ne]=कार्यसम्पादन,गति, स्मृति, सुधार
X-KDE-Keywords[nl]=snelheid,prestaties,geheugen,verbeteren
X-KDE-Keywords[nn]=yting,fart,minne,forbetra
X-KDE-Keywords[pa]=performance,speed,memory,improve, ਪਰਦਰਸ਼ਨ, ਗਤੀ, ਮੈਮੋਰੀ, ਸੁਧਾਰ
X-KDE-Keywords[pl]=wydajność,szybkość,pamięć,polepszenie
X-KDE-Keywords[pt]=performance,velocidade,memória,melhorar
X-KDE-Keywords[pt_BR]=performance,velocidade,memória,aumento
X-KDE-Keywords[ro]=performanţă,viteză,memorie,îmbunătăţire
X-KDE-Keywords[se]=buktu,leahttu,muitu,buoridit
X-KDE-Keywords[sl]=zmogljivost,hitrost,pomnilnik,izboljšanje
X-KDE-Keywords[sr]=performance,speed,memory,improve,перформансе,брзина,меморија,побољшање
X-KDE-Keywords[sr@latin]=performance,speed,memory,improve,performanse,brzina,memorija,poboljšanje
X-KDE-Keywords[sv]=prestanda,hastighet,minne,förbättra
X-KDE-Keywords[ta]=செயல்திறன்,வேகம்,நினைவகம்,முன்னேற்றம்
X-KDE-Keywords[th]=ประสิทธิภาพ,ความเร็ว,หน่วยความจำ,ปรับปรุง
X-KDE-Keywords[tr]=performans,hız,bellek,geliştirme
X-KDE-Keywords[uk]=швидкодія,швидкість,пам'ять,покращення
X-KDE-Keywords[uz]=унумдорлик,тезлик,хотира,ошириш
X-KDE-Keywords[vi]=hiệu năng,tốc độ,bộ nhớ,nâng cao
X-KDE-Keywords[wa]=performance,performances,roedeu,radisté,rade,abeye,memwere,amidrer
X-KDE-Keywords[x-test]=xxperformance,speed,memory,improvexx
X-KDE-Keywords[zh_CN]=performance,speed,memory,improve,性能,速度,内存,提高
X-KDE-Keywords[zh_TW]=performance,speed,memory,improve,效能,速度,記憶體,增進
