[Desktop Entry]
Type=Service
Name=About-Page for Konqueror
Name[af]=About-Page vir Konqueror
Name[ar]=صفحة حول كونكيورر
Name[be]=Інфармацыйная старонка Konqueror
Name[bg]=Страница с информация за Konqueror
Name[br]=Pajenn diwar-benn Konqueror
Name[ca]=Pàgina quant al Konqueror
Name[cs]=O aplikaci Konqueror
Name[csb]=Starna "Ò programie" Konquerora
Name[cy]=Tudalen Ynghylch i Konqueror
Name[da]='Om'-side for Konqueror
Name[de]=Über Konqueror
Name[el]=Σελίδα πληροφοριών για τον Konqueror
Name[eo]=Informpaĝo por Konkeranto
Name[es]=Página 'Acerca de' para Konqueror
Name[et]=Konquerori info
Name[eu]='Honi buruzko orria' Konquerorrerako
Name[fa]=صفحۀ درباره برای Konqueror
Name[fi]=Konquerorin tietoja-sivu
Name[fr]=À propos de Konqueror
Name[fy]=Ynformaasjeside foar Konqueror
Name[ga]=Leathanach Eolais le haghaidh Konqueror
Name[gl]=Páxina Acerca de Konqueror
Name[he]=דף אודות Konqueror
Name[hr]=O programu Konqueror
Name[hu]=A Konqueror névjegye
Name[is]=Upplýsingasíða Konqueror
Name[it]=Pagina di informazioni di Konqueror
Name[ja]=Konqueror のバージョン情報ページ
Name[ka]=Konqueror-ის ცნობათა ფურცელი
Name[kk]=Konqueror туралы парақ
Name[km]=អំពី​ទំព័រ​សម្រាប់ Konqueror
Name[ko]=Konqueror 정보 페이지
Name[lt]=Apie Konqueror
Name[lv]=Konqueror par-lapa
Name[mk]=Страница за Konqueror
Name[ms]=Tentang Halaman untuk Konqueror
Name[nb]=Om-side for Konqueror
Name[nds]=Infosiet över Konqueror
Name[ne]=कन्क्वेररका लागि पृष्ठका बारेमा
Name[nl]=Informatiepagina voor Konqueror
Name[nn]=Om-side Konqueror
Name[pa]=ਕੋਨਕਿਉਰੋਰ ਬਾਰੇ ਸਫਾ
Name[pl]=Strona "O programie" Konquerora
Name[pt]=Página Acerca do Konqueror
Name[pt_BR]=Página "Sobre" do Konqueror
Name[ro]=Pagină informaţii pentru Konqueror
Name[ru]=Страница сведений о Konqueror
Name[se]=Diehtusiidu Konqueror várás
Name[sl]=Stran o Konquerorju
Name[sr]=Подаци о К-освајачу
Name[sr@latin]=Podaci o K-osvajaču
Name[sv]=Om-sida för Konqueror
Name[ta]=கான்கொரர்க்கான பக்கம்-பற்றி
Name[te]=కాంకెరర్ కొరకు గురించి పుట
Name[tg]=Саҳифаи маълумот дар бораи Konqueror
Name[th]=หน้าเกี่ยวกับ Konqueror 
Name[tr]=Konqueror Hakkında Sayfası
Name[uk]=Сторінка "Про" для Konqueror
Name[uz]=Konqueror ҳақида саҳифа
Name[vi]=Trang giới thiệu về Konqueror
Name[x-test]=xxAbout-Page for Konquerorxx
Name[xh]=Malunga-Nephepha le Konqueror
Name[zh_CN]=Konqueror 的关于页面
Name[zh_TW]=Konqueror 相關資訊
X-KDE-ServiceTypes=KonqAboutPage,KParts/ReadOnlyPart
X-KDE-Library=konq_aboutpage
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Built-Into=konqueror
