[Desktop Entry]
Type=Service
Name=About-Page for Konqueror
X-KDE-ServiceTypes=KonqAboutPage,KParts/ReadOnlyPart
X-KDE-Library=konq_aboutpage
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Built-Into=konqueror
