[Desktop Entry]
Icon=view-history
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcmhistory

X-KDE-Library=kcm_history
X-KDE-ParentApp=kcontrol
X-DocPath=kcontrol/history/index.html

Name=History
Comment=Configure the history sidebar
X-KDE-Keywords=history,expire
Categories=Qt;KDE;X-KDE-settings-webbrowsing;
