[Desktop Entry]
Type=Service
Icon=view-history
Name=History SideBar Module
Name[ca]=Mòdul de barra lateral d'historial
Name[csb]=Mòduł historëji bòczny listwë
Name[da]=Historik-modul til sidepanel
Name[de]=Module für Verlaufsbereich
Name[el]=Πλευρική μπάρα ιστορικού
Name[en_GB]=History SideBar Module
Name[eo]=Historia flankzona Modulo
Name[et]=Ajaloo külgriba moodul
Name[eu]=Historiaren alboko-barra modulua
Name[he]=מודל סרגל היסטוריה
Name[hr]=Modul povijesti za bočnu traku
Name[is]=Söguhliðarsláreining
Name[kk]=Бүйірдегі журнал панелінің модулі
Name[lv]=Vēstures sānjoslas modulis
Name[nb]=Modul for historie-sidestolpe
Name[nds]=Vörgeschicht-Sietpaneelmoduul
Name[nl]=Geschiedeniszijbalkmodule
Name[pt]=Módulo de Barra Lateral do Histórico
Name[pt_BR]=Módulo da barra lateral de histórico
Name[ro]=Modul Bară laterală de istoric
Name[sl]=Stranska vrstica zgodovine
Name[sv]=Historiksidomodul
Name[tr]=Geçmiş Yan Çubuğu Modülü
Name[uk]=Модуль бічної панелі журналу
Name[wa]=Module bår di costé di l' istwere
Name[x-test]=xxHistory SideBar Modulexx
Name[zh_TW]=歷史紀錄邊列模組
X-KDE-Library=konqsidebar_history
