[Desktop Entry]
Type=Service
Icon=view-history
Name=History SideBar Module
Name[sv]=Historiksidomodul
Name[tr]=Geçmiş Yan Çubuğu Modülü
Name[uk]=Модуль бічної панелі журналу
Name[x-test]=xxHistory SideBar Modulexx
X-KDE-Library=konqsidebar_history
