[Desktop Entry]
Type=Service
Icon=view-history
Name=History SideBar Module
Name[en_GB]=History SideBar Module
Name[et]=Ajaloo külgriba moodul
Name[hr]=Modul povijesti za bočnu traku
Name[nds]=Vörgeschicht-Sietpaneelmoduul
Name[nl]=Geschiedeniszijbalkmodule
Name[pt]=Módulo de Barra Lateral do Histórico
Name[pt_BR]=Módulo da barra lateral de histórico
Name[sv]=Historiksidomodul
Name[tr]=Geçmiş Yan Çubuğu Modülü
Name[uk]=Модуль бічної панелі журналу
Name[x-test]=xxHistory SideBar Modulexx
X-KDE-Library=konqsidebar_history
