[Desktop Entry]
Name=UADescription (Android Phone 1.0)
Name[gl]=UADescription (Teléfono Android 1.0)
Name[tr]=Kullanıcı Uygulaması Tanımı (Android Phone 1.0)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=SAF
X-KDE-UA-FULL=Mozilla/5.0 (Linux; U; Android 1.0; appLanguage; dream) AppleWebKit/525.10+ (KHTML, like Gecko) Version/3.0.4 Mobile Safari/523.12.2
X-KDE-UA-NAME=Android
X-KDE-UA-VERSION=1.0
X-KDE-UA-SYSNAME=Android
X-KDE-UA-SYSRELEASE=1.0
