[Desktop Entry]
Name=UADescription (Google Chrome 23.0)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=CHR
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appMachineType appSysName; appLanguage) AppleWebKit/537.11 (KHTML, like Gecko) Chrome/23.0.1271.6 Safari/537.11
X-KDE-UA-NAME=Chrome
X-KDE-UA-VERSION=23.0.1271.26
X-KDE-UA-DYNAMIC-ENTRY=1
