[Desktop Entry]
Name=UADescription (Google Chrome 5.0)
Name[de]=Browserkennung (Google Chrome 5.0)
Name[en_GB]=UADescription (Google Chrome 5.0)
Name[es]=UADescription (Google Chrome 5.0)
Name[is]=UADescription (Google Chrome 5.0)
Name[kk]=UADescription (Google Chrome 5.0)
Name[nb]=Brukeragent (Google Chrome 5.0)
Name[nds]=UA-Beschrieven (Google Chrome 5.0)
Name[nl]=GA-beschrijving (Google Chrome 5.0)
Name[pt]=UADescription (Google Chrome 5.0)
Name[pt_BR]=UADescription (Google Chrome 5.0)
Name[sv]=AA-beskrivning (Google Chrome 5.0)
Name[tg]=UADescription (Google Chrome 5.0)
Name[uk]=UADescription (Google Chrome 5.0)
Name[x-test]=xxUADescription (Google Chrome 5.0)xx
Name[zh_TW]=使用者代理描述 (Google Chrome 5.0)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=CHR
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appMachineType appSysName; appLanguage) AppleWebKit/533.3 (KHTML, like Gecko) Chrome/5.0.358.0 Safari/533.3
X-KDE-UA-NAME=Chrome
X-KDE-UA-VERSION=5.0.358.0
X-KDE-UA-DYNAMIC-ENTRY=1
