[Desktop Entry]
Name=UADescription (Google Chrome 5.0)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=CHR
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appMachineType appSysName; appLanguage) AppleWebKit/533.3 (KHTML, like Gecko) Chrome/5.0.358.0 Safari/533.3
X-KDE-UA-NAME=Chrome
X-KDE-UA-VERSION=5.0.358.0
X-KDE-UA-DYNAMIC-ENTRY=1
