[Desktop Entry]
Name=UADescription (Google Chrome 23.0)
Name[cs]=Popis agenta (Google Chrome 23.0)
Name[de]=Browserkennung (Google Chrome 23.0)
Name[el]=Περιγραφή UA (Google Chrome 23.0)
Name[ga]=UADescription (Google Chrome 23.0)
Name[hu]=Böngészőtípus (Google Chrome 23.0)
Name[nl]=GA-beschrijving (Google Chrome 23.0)
Name[pt]=UADescription (Google Chrome 23.0)
Name[pt_BR]=UADescription (Google Chrome 23.0)
Name[ro]=UADescription (Google Chrome 23.0)
Name[sk]=Popis agenta (Google Chrome 23.0)
Name[sv]=AA-beskrivning (Google Chrome 23.0)
Name[uk]=UADescription (Google Chrome 23.0)
Name[x-test]=xxUADescription (Google Chrome 23.0)xx
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=CHR
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appMachineType appSysName; appLanguage) AppleWebKit/537.11 (KHTML, like Gecko) Chrome/23.0.1271.6 Safari/537.11
X-KDE-UA-NAME=Chrome
X-KDE-UA-VERSION=23.0.1271.26
X-KDE-UA-DYNAMIC-ENTRY=1
