[Desktop Entry]
Name=UADescription (Google Chrome 1.0 on Windows XP)
Name[ca]=Descripció AU (Google Chrome 1.0 a Windows XP)
Name[ca@valencia]=Descripció AU (Google Chrome 1.0 a Windows XP)
Name[el]=Περιγραφή UA (Google Chrome 1.0 σε Windows XP)
Name[et]=UADescription (Google Chrome 1.0 Windows XP platvormil)
Name[eu]=UADescription (Google Chrome 1.0 Windows XPn)
Name[ga]=UADescription (Google Chrome 1.0 ar Windows XP)
Name[gl]=UADescription (Google Chrome 1.0 en Windows XP)
Name[gu]=UADescription (ગુગલ ક્રોમ ૧.૦ વિન્ડોઝ XP પર)
Name[nds]=UA-Beschrieven (Google Chrome 1.0 op Windows XP)
Name[pt]=UADescription (Google Chrome no Windows XP)
Name[pt_BR]=UADescription (Google Chrome 1.0 no Windows XP)
Name[sv]=AA-beskrivning (Google Chrome 1.0 på Windows XP)
Name[tr]=Kullanıcı Uygulaması Tanımı (Windows XP üzerinde Google Chrome 1.0)
Name[uk]=UADescription (Google Chrome 1.0 у Windows XP)
Name[x-test]=xxUADescription (Google Chrome 1.0 on Windows XP)xx
Name[zh_TW]=使用者代理描述 (Google Chrome on Windows XP)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=CHR
X-KDE-UA-FULL=Mozilla/5.0 (Windows; U; Windows NT 5.1; appLanguage) AppleWebKit/525.19 (KHTML, like Gecko) Chrome/1.0.154.39 Safari/525.19
X-KDE-UA-NAME=Chrome
X-KDE-UA-VERSION=1.0.154.39
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=XP
