[Desktop Entry]
Name=UADescription (Firefox 3.6 on current)
Name[bn]=UADescription (Firefox 3.6 on current)
Name[cs]=Popis agenta (Firefox 3.6 na aktuálním)
Name[da]=Brugeragentbeskrivelse (Firefox 3.6 på nuværende)
Name[de]=Browserkennung (Firefox 3.6 auf aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (Firefox 3.6 στο τρέχον σύστημα)
Name[en_GB]=UADescription (Firefox 3.6 on current)
Name[es]=UADescription (Firefox 3.6 en actual)
Name[et]=UADescription (Selles masinas töötav Firefox 3.6)
Name[he]=UADescription (Firefox 3.6 on current)
Name[hr]=UADescription (Firefox 3.6 on current)
Name[ia]=UADescription (Firefox 3.6 super le currente)
Name[id]=UADescription (Firefox 3.6 pada saat ini)
Name[is]=UADescription (Firefox 3.6 á núverandi)
Name[ja]=UADescription (Firefox 3.6 on current)
Name[kk]=UADescription (Firefox 3.6 осында)
Name[km]=UADescription (Firefox 3.6 បច្ចុប្បន្ន)
Name[lt]=UADescription (Firefox 3.6 šioje sistemoje)
Name[nb]=Brukeragent (Firefox 3.6 herifra)
Name[nds]=UA-Beschrieven (Firefox 3.6 op dit Systeem)
Name[nl]=UADescription (Firefox 3.6 op huidige)
Name[pt]=UADescription (Firefox 3.6 no sistema actual)
Name[pt_BR]=UADescription (Firefox 3.6 no sistema atual)
Name[ru]=UADescription (Firefox 3.6 на текущей системе)
Name[sk]=Popis agenta (Firefox 3.6 na aktuálnom)
Name[sv]=AA-beskrivning (Firefox 3.6 på aktuell)
Name[tg]=UADescription (Firefox 3.6 версияи ҷорӣ)
Name[th]=UADescription (ไฟร์ฟอกซ์ 3.6 บนระบบปัจจุบัน)
Name[tr]=UADescription (Firefox 3.6 on current)
Name[uk]=UADescription (Firefox 3.6 на поточній)
Name[x-test]=xxUADescription (Firefox 3.6 on current)xx
Name[zh_CN]=用户代理描述(运行于本机的 Firefox 3.6)
Name[zh_TW]=使用者代理描述 (Firefox 3.6 on current)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=FF
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appMachineType appSysName; appLanguage; rv:1.9.2) Gecko/20100115 Firefox/3.6
X-KDE-UA-NAME=Firefox
X-KDE-UA-VERSION=3.6.0
X-KDE-UA-DYNAMIC-ENTRY=1
