[Desktop Entry]
Name=UADescription (Firefox 16 on current)
Name[cs]=Popis agenta (Firefox 16 na aktuálním)
Name[de]=Browserkennung (Firefox 16 auf aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (Firefox 16 στο τρέχον σύστημα)
Name[ga]=UADescription (Firefox 16 ar an gcóras reatha)
Name[hu]=Böngészőtípus (Firefox 16.0)
Name[nl]=UADescription (Firefox 16 op huidige)
Name[pt]=UADescription (Firefox 16 no sistema actual)
Name[pt_BR]=UADescription (Firefox 16 no sistema atual)
Name[sk]=Popis agenta (Firefox 16 na aktuálnom)
Name[sv]=AA-beskrivning (Firefox 16 på aktuell)
Name[uk]=UADescription (Firefox 16 на поточній)
Name[x-test]=xxUADescription (Firefox 16 on current)xx
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=FF
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appMachineType appSysName; appLanguage; rv:16.0.1) Gecko/20121011 Firefox/16.0.1
X-KDE-UA-NAME=Firefox
X-KDE-UA-VERSION=16.0.1
X-KDE-UA-DYNAMIC-ENTRY=1
