[Desktop Entry]
Name=UADescription (Firefox 15 on current)
Name[bg]=UADescription (Firefox 15 на текущата система)
Name[bs]=UADescription (Firefox 15 tekući)
Name[ca]=Descripció AU (Firefox 15 a l'actual)
Name[ca@valencia]=Descripció AU (Firefox 15 a l'actual)
Name[cs]=Popis agenta (Firefox 15 na aktuálním)
Name[da]=Brugeragentbeskrivelse (Firefox 15.0 på nuværende)
Name[de]=Browserkennung (Firefox 15 unter aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (Firefox 15 στο τρέχον σύστημα)
Name[en_GB]=UADescription (Firefox 15 on current)
Name[eo]=UA-Priskribo (Fajrovulpo 15 sub nuna)
Name[es]=UADescription (Firefox 15 en la actualidad)
Name[et]=UADescription (Selles masinas töötav Firefox 15)
Name[fi]=Käyttäjäagenttikuvaus (Firefox 15 nykyisellä)
Name[fr]=UADescription (Firefox 15 sous le système actuel)
Name[ga]=UADescription (Firefox 15 ar an gcóras reatha)
Name[gl]=UADescription (Firefox 15 no actual)
Name[he]=UADescription (Firefox 15 on current)
Name[hu]=Böngészőtípus (Firefox 15.0)
Name[ia]=UADescription (Firefox 15 super le currente)
Name[id]=UADescription (Firefox 15 pada saat ini)
Name[is]=UADescription (Firefox 15 á núverandi)
Name[it]=Descrizione UA (Firefox 15 sul sistema attuale)
Name[kk]=UADescription (Firefox 15 осында)
Name[ko]=UADescription (현재 플랫폼의 Firefox 15)
Name[lt]=NA Aprašymas (Firefox 15 iki naujausios)
Name[mr]=UAडिस्क्रिप्शन (वर्तमान फायरफॉक्स 15 वर)
Name[nb]=Brukeragent (Firefox 15 herifra)
Name[nds]=UA-Beschrieven (Firefox 15 op dit Systeem)
Name[nl]=GA-beschrijving (Firefox 15 op huidige)
Name[nn]=Brukaragent (Firefox 15 herifrå)
Name[pa]=UADescription (ਮੌਜੂਦਾ ਉੱਤੇ ਫਾਇਰਫਾਕਸ 15)
Name[pl]=Opis przeglądarki użytkownika (Firefox 15, na bieżącym systemie)
Name[pt]=UADescription (Firefox 15 no sistema actual)
Name[pt_BR]=UADescription (Firefox 15 no sistema atual)
Name[ro]=Descriere AU (Firefox 15 pe sistemul curent)
Name[ru]=UADescription (Firefox 15 на текущей системе)
Name[sk]=Popis agenta (Firefox 15 na aktuálnom)
Name[sl]=Opis UP (Firefox 15 na trenutnem)
Name[sr]=УА‑опис (Фајерфокс 15 на текућем)
Name[sr@ijekavian]=УА‑опис (Фајерфокс 15 на текућем)
Name[sr@ijekavianlatin]=UA-opis (Firefox 15 na tekućem)
Name[sr@latin]=UA-opis (Firefox 15 na tekućem)
Name[sv]=AA-beskrivning (Firefox 15 på aktuell)
Name[tr]=UADescription (geçerli işletim sistemi üzerinde Firefox 15)
Name[uk]=UADescription (Firefox 15 на поточній)
Name[x-test]=xxUADescription (Firefox 15 on current)xx
Name[zh_CN]=客户端描述(运行于本机的 Firefox 15)
Name[zh_TW]=使用者代理描述 (Firefox 15 on current)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=FF
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appMachineType appSysName; appLanguage; rv:15.0.2) Gecko/20120910 Firefox/15.0.2
X-KDE-UA-NAME=Firefox
X-KDE-UA-VERSION=15.0.2
X-KDE-UA-DYNAMIC-ENTRY=1
