[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Firefox 2.0 on current)
Name[el]=Περιγραφή UA (Firefox 2.0 στο τρέχον σύστημα)
Name[et]=UADescription (Selles masinas töötav Firefox 2.0)
Name[ga]=UADescription (Firefox 2.0 ar an gcóras reatha)
Name[pt]=UADescription (Firefox 2.0 no sistema actual)
Name[pt_BR]=UADescription (Firefox 2.0 no sistema atual)
Name[sv]=AA-beskrivning (Firefox 2.0 på aktuell)
Name[x-test]=xxUADescription (Firefox 2.0 on current)xx
Name[zh_TW]=使用者代理描述 (Firefox 2.0 on current)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=FF
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appMachineType appSysName; appLanguage; rv:1.8.16) Gecko/20071015 Firefox/2.0.0.8
X-KDE-UA-NAME=Firefox
X-KDE-UA-VERSION=2.0.0.8
X-KDE-UA-DYNAMIC-ENTRY=1
