[Desktop Entry]
Name=UADescription (Firefox 3.6 on current)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=FF
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appMachineType appSysName; appLanguage; rv:1.9.2) Gecko/20100115 Firefox/3.6
X-KDE-UA-NAME=Firefox
X-KDE-UA-VERSION=3.6.0
X-KDE-UA-DYNAMIC-ENTRY=1
