[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Firefox 2.0 on current)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=FF
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appMachineType appSysName; appLanguage; rv:1.8.16) Gecko/20071015 Firefox/2.0.0.8
X-KDE-UA-NAME=Firefox
X-KDE-UA-VERSION=2.0.0.8
X-KDE-UA-DYNAMIC-ENTRY=1
