[Desktop Entry]
Name=UADescription (Firefox 16 on current)
Name[bg]=UADescription (Firefox 16 на текущата система)
Name[bs]=UADescription (Firefox 16 tekući)
Name[ca]=Descripció AU (Firefox 16 a l'actual)
Name[ca@valencia]=Descripció AU (Firefox 16 a l'actual)
Name[cs]=Popis agenta (Firefox 16 na aktuálním)
Name[da]=Brugeragentbeskrivelse (Firefox 16 på nuværende)
Name[de]=Browserkennung (Firefox 16 auf aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (Firefox 16 στο τρέχον σύστημα)
Name[en_GB]=UADescription (Firefox 16 on current)
Name[eo]=UA-Priskribo (Fajrovulpo 16 sub nuna)
Name[es]=UADescription (Firefox 16 en la actualidad)
Name[et]=UADescription (Selles masinas töötav Firefox 16)
Name[fi]=Käyttäjäagenttikuvaus (Firefox 16 nykyisellä)
Name[fr]=UADescription (Firefox 16 sous le système actuel)
Name[ga]=UADescription (Firefox 16 ar an gcóras reatha)
Name[gl]=UADescription (Firefox 16 no actual)
Name[he]=UADescription (Firefox 16 on current)
Name[hu]=Böngészőtípus (Firefox 16.0)
Name[ia]=UADescription (Firefox 16 super le currente)
Name[id]=UADescription (Firefox 16 pada saat ini)
Name[is]=UADescription (Firefox 16 á núverandi)
Name[it]=Descrizione UA (Firefox 16 sul sistema attuale)
Name[kk]=UADescription (Firefox 16 осында)
Name[ko]=UADescription (현재 플랫폼의 Firefox 16)
Name[lt]=NA Aprašymas (Firefox 16 iki naujausios)
Name[mr]=UAडिस्क्रिप्शन (वर्तमान फायरफॉक्स 16 वर)
Name[nb]=Brukeragent (Firefox 16 herifra)
Name[nds]=UA-Beschrieven (Firefox 16 op dit Systeem)
Name[nl]=UADescription (Firefox 16 op huidige)
Name[nn]=Brukaragent (Firefox 16 herifrå)
Name[pa]=UADescription (ਮੌਜੂਦਾ ਉੱਤੇ ਫਾਇਰਫਾਕਸ 16)
Name[pl]=Opis przeglądarki użytkownika (Firefox 16, na bieżącym systemie)
Name[pt]=UADescription (Firefox 16 no sistema actual)
Name[pt_BR]=UADescription (Firefox 16 no sistema atual)
Name[ro]=Descriere AU (Firefox 16 pe sistemul curent)
Name[ru]=UADescription (Firefox 16 на текущей системе)
Name[sk]=Popis agenta (Firefox 16 na aktuálnom)
Name[sl]=Opis UP (Firefox 16 na trenutnem)
Name[sr]=УА‑опис (Фајерфокс 16 на текућем)
Name[sr@ijekavian]=УА‑опис (Фајерфокс 16 на текућем)
Name[sr@ijekavianlatin]=UA-opis (Firefox 16 na tekućem)
Name[sr@latin]=UA-opis (Firefox 16 na tekućem)
Name[sv]=AA-beskrivning (Firefox 16 på aktuell)
Name[tr]=UADescription (geçerli işletim sistemi üzerinde Firefox 16)
Name[uk]=UADescription (Firefox 16 на поточній)
Name[x-test]=xxUADescription (Firefox 16 on current)xx
Name[zh_CN]=客户端描述(运行于本机的 Firefox 16)
Name[zh_TW]=使用者代理描述 (Firefox 16 on current)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=FF
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appMachineType appSysName; appLanguage; rv:16.0.1) Gecko/20121011 Firefox/16.0.1
X-KDE-UA-NAME=Firefox
X-KDE-UA-VERSION=16.0.1
X-KDE-UA-DYNAMIC-ENTRY=1
