[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Firefox 1.5 on current)
Name[be]=UADescription (Firefox 1.5 на гэтай сістэме)
Name[bg]=UADescription (текущо Firefox 1.5)
Name[ca]=Descripció UA (Firefox 1.5 a l'actual)
Name[cs]=Popis UA (Firefox 1.5 na aktuálním)
Name[csb]=Òpis programë brëkòwnika (FireFox 1.5)
Name[da]=Brugeragentbeskrivelse (Firefox 1.5 på denne)
Name[de]=Browserkennung (Firefox 1.5 unter aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (Firefox 1.5 στο τρέχον σύστημα)
Name[eo]=UA-Priskribo (Fajrovulpo 1.5 sub nuna)
Name[es]=UADescription (Firefox 1.5 en actual)
Name[et]=UADescription (Selles masinas töötav Firefox 1.5)
Name[fa]=UADescription (Firefox 1.5 در حال حاضر)
Name[fi]=Käyttäjäagenttikuvaus (Firefox 1.5)
Name[fr]=Identité du navigateur (Firefox 1.5 sous le système actuel)
Name[fy]=GA-omskriuwing (Firefox 1.5 op aktive)
Name[ga]=UADescription (Firefox 1.5 ar an gcóras reatha)
Name[gl]=UADescription (Firefox 1.5 na actual)
Name[he]=UADescription (‏Firefox 1.5 על המחשב הנוכחי)
Name[hr]=UADescription (Firefox 1.5 na trenutnom)
Name[hu]=Böngészőtípus (Firefox 1.5)
Name[is]=UAD strengur (Firefox 1.5 á núverandi)
Name[it]=DescrizioneUA (Firefox 1.5 su sistema attuale)
Name[km]=UADescription (Firefox 1.5 បច្ចុប្បន្ន)
Name[nb]=Brukeragent (Firefox 1.5 på denne)
Name[nds]=UA-Beschrieven (Firefox 1.5 op dit Systeem)
Name[ne]=यूए वर्णन (हाल फायरफक्स १.०)
Name[nl]=GA-beschrijving (Firefox 1.0 op huidige machine/besturingssysteem)
Name[nn]=Brukaragent (Firefox 1.5 herifrå)
Name[pa]=UADescription (ਮੌਜੂਦਾ ਉੱਤੇ 1.5)
Name[pl]=Opis przeglądarki użytkownika (Firefox 1.5 na bieżącym systemie)
Name[pt]=UADescription (Firefox 1.5 no sistema actual)
Name[pt_BR]=UADescription (Firefox 1.5 no sistema atual)
Name[ro]=Descriere UA (Firefox 1.5 pe curent)
Name[ru]=UADescription (Firefox 1.5 на текущей системе)
Name[sl]=UAOpis (Firefox 1.5 na trenutnem)
Name[sr]=UADescription (Firefox 1.5 на тренутном)
Name[sr@latin]=UADescription (Firefox 1.5 na trenutnom)
Name[sv]=AA-beskrivning (Firefox 1.5 på aktuell)
Name[th]=UADescription (ไฟร์ฟอกซ์ 1.5 บนระบบปัจจุบัน)
Name[uk]=UADescription (Firefox 1.5 на поточній)
Name[uz]=UADescription (жорий билан Firefox 1.5)
Name[x-test]=xxUADescription (Firefox 1.5 on current)xx
Name[zh_TW]=使用者代理描述 (Firefox 1.5 on current)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=FF
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appMachineType appSysName; appLanguage; rv:1.8.0.4) Gecko/20060508 Firefox/1.5.0.4
X-KDE-UA-NAME=Firefox
X-KDE-UA-VERSION=1.5.0.4
X-KDE-UA-DYNAMIC-ENTRY=1
