[Desktop Entry]
Name=UADescription (Firefox 2.0 on current)
Name[af]=UA-beskrywing (Firefox 2.0 op huidige bedryfstelsel)
Name[be]=UADescription (Firefox 2.0 на гэтай сістэме)
Name[bg]=UADescription (текущо Firefox 2.0)
Name[ca]=Descripció AU (Firefox 2.0 a l'actual)
Name[cs]=Popis agenta (Firefox 2.0 na aktuálním)
Name[csb]=Òpis programë brëkòwnika (FireFox 2.0)
Name[da]=Brugeragentbeskrivelse (Firefox 2.0 på denne)
Name[de]=Browserkennung (Firefox 2.0 unter aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (Firefox 2.0 στο τρέχον σύστημα)
Name[eo]=UA-Priskribo (Fajrovulpo 2.0 sub nuna)
Name[es]=UADescription (Firefox 2.0 en actual)
Name[et]=UADescription (Selles masinas töötav Firefox 2.0)
Name[eu]=UA azalpena (Firefox 2.0 unekoan)
Name[fi]=Käyttäjäagenttikuvaus (Firefox 2.0)
Name[fr]=Identité du navigateur (Firefox 2.0 sous le système actuel)
Name[fy]=GA-omskriuwing (Firefox 2.0 op aktive)
Name[ga]=UADescription (Firefox 2.0 ar an gcóras reatha)
Name[gl]=UADescription (Firefox 2.0 no actual)
Name[gu]=UAવર્ણન (હાલમાં ફાયરફોક્સ ૨.૦)
Name[he]=UADescription (‏Firefox 2.0 על המחשב הנוכחי)
Name[hu]=Böngészőtípus (Firefox 2.0)
Name[is]=UA strengur (Firefox 2.0 á núverandi)
Name[it]=DescrizioneUA (Firefox 2.0 su sistema attuale)
Name[km]=UADescription (Firefox 2.0 បច្ចុប្បន្ន)
Name[ko]=UADescription (현재 플랫폼의 Firefox 2.0)
Name[ku]=Pênasa UA (Firefox 2.0 derbasdar e)
Name[lv]=UAApraksts (Firefox 2.0 uz tekošā)
Name[nb]=Brukeragent (Firefox 2.0 herifra)
Name[nds]=UA-Beschrieven (Firefox 2.0 op dit Systeem)
Name[ne]=UA वर्णन (हालमा फायरफक्स २.0)
Name[nl]=GA-beschrijving (Firefox 2.0 op huidige)
Name[nn]=Brukaragent (Firefox 2.0 herifrå)
Name[pa]=UADescription (ਮੌਜੂਦਾ ਉੱਤੇ ਫਾਇਰਫਾਕਸ 2.0)
Name[pl]=Opis przeglądarki użytkownika (Firefox 2.0 w bieżącym systemie)
Name[pt]=UADescription (Firefox 2.0 no sistema actual)
Name[pt_BR]=UADescription (Firefox 2.0 no sistema atual)
Name[ro]=Descriere AU (Firefox 2.0 pe sistemul curent)
Name[ru]=UADescription (Firefox 2.0 на текущей системе)
Name[se]=UA-čilgehus (Firefox 2.0 dán mašiinnas)
Name[sl]=UAOpis (Firefox 2.0 na trenutnem)
Name[sr]=УА‑опис (Фајерфокс 2.0 на текућем)
Name[sr@latin]=UA-opis (Firefox 2.0 na tekućem)
Name[sv]=AA-beskrivning (Firefox 2.0 på aktuell)
Name[ta]=UADescription (தற்போதையதில் பயர்பாக்ஸ் 2.0)
Name[th]=UADescription (ไฟร์ฟอกซ์ 2.0 บนระบบปัจจุบัน)
Name[tr]=Kullanıcı Uygulaması Tanımı (geçerli işletim sistemi üzerinde Firefox 2.0)
Name[uk]=UADescription (Firefox 2.0 на поточній)
Name[wa]=Idintifiaedje do betchteu (Firefox 2.0 sol sistinme do moumint)
Name[x-test]=xxUADescription (Firefox 2.0 on current)xx
Name[zh_CN]=用户代理描述(运行于本机的 Firefox 2.0)
Name[zh_TW]=使用者代理描述 (Firefox 2.0 on current)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=FF
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appMachineType appSysName; appLanguage; rv:1.8.16) Gecko/20071015 Firefox/2.0.0.8
X-KDE-UA-NAME=Firefox
X-KDE-UA-VERSION=2.0.0.8
X-KDE-UA-DYNAMIC-ENTRY=1
