[Desktop Entry]
Name=UADescription (Firefox 3.6 on current)
Name[de]=Browserkennung (Firefox 3.6 unter aktuellem Betriebssystem)
Name[en_GB]=UADescription (Firefox 3.6 on current)
Name[nb]=Brukeragent (Firefox 3.6 herifra)
Name[nds]=UA-Beschrieven (Firefox 3.6 op dit Systeem)
Name[nl]=UADescription (Firefox 3.6 op huidige)
Name[pt]=UADescription (Firefox 3.6 no sistema actual)
Name[pt_BR]=UADescription (Firefox 3.6 no sistema atual)
Name[sv]=AA-beskrivning (Firefox 3.6 på aktuell)
Name[uk]=UADescription (Firefox 3.6 на поточній)
Name[x-test]=xxUADescription (Firefox 3.6 on current)xx
Name[zh_TW]=使用者代理描述 (Firefox 3.6 on current)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=FF
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appMachineType appSysName; appLanguage; rv:1.9.2) Gecko/20100115 Firefox/3.6
X-KDE-UA-NAME=Firefox
X-KDE-UA-VERSION=3.6.0
X-KDE-UA-DYNAMIC-ENTRY=1
