[Desktop Entry]
Name=UADescription (Googlebot/2.1)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MISC
X-KDE-UA-FULL=Googlebot/2.1 (+http://www.googlebot.com/bot.html)
X-KDE-UA-NAME=Googlebot
X-KDE-UA-VERSION=2.1
