[Desktop Entry]
Name=UADescription (IE 6.0 on current)
Name[af]=UA-beskrywing (IE 6.0 op huidige bedryfstelsel)
Name[be]=UADescription (IE 6.0 на гэтай сістэме)
Name[ca]=Descripció AU (IE 6.0 a l'actual)
Name[cs]=Popis agenta (IE 6.0 na aktuálním)
Name[csb]=Òpis programë brëkòwnika (IE 6.0)
Name[da]=Brugeragentbeskrivelse (IE 6.0 på denne)
Name[de]=Browserkennung (IE 6.0 unter aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (IE 6.01 στο τρέχον σύστημα)
Name[eo]=UA-Priskribo (IE 6.0 sub nuna)
Name[es]=UADescription (IE 6.0 en actual)
Name[et]=UADescription (Selles masinas töötav IE 6.0)
Name[eu]=UA azalpena (IE 6.0 unekoan)
Name[fa]=UADescription (IE 6.0 در حال حاضر)
Name[fr]=Identité du navigateur (IE 6.0 sous le système actuel)
Name[fy]=GA-omskriuwing (IE 6.0 op aktive)
Name[ga]=UADescription (IE 6.0 ar an gcóras reatha)
Name[gl]=UADescription (IE 6.0 no actual)
Name[he]=UADescription (‏IE 6.0 על המחשב הנוכחי)
Name[hr]=UADescription (IE 6.0 na trenutnom)
Name[hu]=Böngészőtípus (IE 6.0)
Name[is]=UAD strengur (IE 6.0 á núverandi)
Name[it]=DescrizioneUA (IE 6.0 su sistema attuale)
Name[ka]=UADescription (IE 6.0 მიმდინარე სისტემაში)
Name[kk]=UADescription (IE 6.0 осы орында)
Name[km]=UADescription (IE 6.0 បច្ចុប្បន្ន)
Name[ko]=UADescription (현재 플랫폼의 IE 6.0)
Name[lt]=Naudotojo agento aprašymas (IE 6.0 ir esama)
Name[lv]=UAApraksts (IE 6.0 uz tekošā)
Name[mk]=UADescription (IE 6.0 на тековно)
Name[nb]=Brukeragent (IE 6.0 herifra)
Name[nds]=UA-Beschrieven (IE 6.0 op dit Systeem)
Name[ne]=UA वर्णन (हाल IE 6.0 मा)
Name[nl]=GA-beschrijving (IE 6.0 op huidige)
Name[nn]=Brukaragent (IE 6.0 herifrå)
Name[pa]=UADescription (ਮੌਜੂਦਾ IE 6.0)
Name[pl]=Opis przeglądarki użytkownika (IE 6.0 na bieżącym systemie)
Name[pt]=UADescription (IE 6.0 no sistema actual)
Name[pt_BR]=UADescription (IE 6.0 no sistema atual)
Name[ro]=Descriere UA (IE 6.0 pentru sistemul de operare curent)
Name[ru]=UADescription (IE 6.0 на текущей системе)
Name[se]=UA-čilgehus (IE 6.0 dán mašiinnas)
Name[sl]=UAOpis (IE 6.0 na trenutnem)
Name[sr]=УА-опис (ИЕ 6.0 на текућем)
Name[sr@latin]=UA-opis (IE 6.0 na tekućem)
Name[sv]=AA-beskrivning (IE 6.0 på aktuell)
Name[ta]=UAவிவரம் (IE 6.0 on current)
Name[th]=UADescription (IE 6.0 บนระบบปัจจุบัน)
Name[tr]=UA Tanımı (bulunulanda IE 6.0)
Name[uk]=UADescription (IE 6.0 на поточній)
Name[uz]=UADescription (жорий билан IE 6.0)
Name[vi]=Mô tả UA (IE 6.0 trên hệ thống hiện thời)
Name[wa]=Idintifiaedje do betchteu (MSIE 6.0 so Windows 2000)
Name[x-test]=xxUADescription (IE 6.0 on current)xx
Name[zh_CN]=用户代理描述(运行于本机的 IE 6.0)
Name[zh_TW]=使用者代理描述 (IE 6.0 on current)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=IE
X-KDE-UA-FULL=Mozilla/4.0 (compatible; MSIE 6.0; appPlatform; appSysName appMachineType) Konqueror/3.4 (KHTML, like Gecko)
X-KDE-UA-NAME=Internet Explorer
X-KDE-UA-VERSION=6.0
X-KDE-UA-DYNAMIC-ENTRY=1
