[Desktop Entry]
Name=UADescription (IE 7.0 on Win XP)
Name[ca]=Descripció AU (IE 7.0 en Win XP)
Name[ca@valencia]=Descripció AU (IE 7.0 en Win XP)
Name[cs]=Popis agenta (IE 7.0 na Win XP)
Name[el]=Περιγραφή UA (IE 7.0 σε Win XP)
Name[et]=UADescription (IE 7.0 Win XP platvormil)
Name[eu]=UADescription (IE 7.0 Win XP-n)
Name[ga]=UADescription (IE 7.0 ar Win XP)
Name[gl]=UADescription (IE 7.0 en Win XP)
Name[gu]=UADescription (આઇ.ઇ. ૭.૦ વિન્ડોઝ XP પર)
Name[nb]=Brukeragent (IE 7.0 på Win XP)
Name[nds]=UA-Beschrieven (IE 7.0 op Win XP)
Name[pt]=UADescription (IE 7.0 no Win XP)
Name[pt_BR]=UADescription (IE 7.0 no Windows XP)
Name[si]=UADescription (Win XP මත IE 7.0)
Name[sv]=AA-beskrivning (IE 7.0 på Win XP)
Name[tr]=Kullanıcı Uygulaması Tanımı (Win XP üzerinde IE 7.0)
Name[uk]=UADescription (IE 7.0 у Win XP)
Name[x-test]=xxUADescription (IE 7.0 on Win XP)xx
Name[zh_TW]=使用者代理描述 (IE 7.0 on Win XP)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=IE
X-KDE-UA-FULL=Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1)
X-KDE-UA-NAME=Internet Explorer
X-KDE-UA-VERSION=7.0
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=XP
