[Desktop Entry]
Name=UADescription (IE 8.0 on Windows Vista)
Name[cs]=Popis agenta (IE 8.0 na Windows Vista)
Name[de]=Browserkennung (IE 8.0 unter Windows Vista)
Name[el]=Περιγραφή UA (IE 8.0 σε Windows Vista)
Name[ga]=UADescription (IE 8.0 ar Windows Vista)
Name[hu]=Böngészőtípus (IE 8.0, Windows Vista)
Name[nl]=GA-beschrijving (IE 8.0 op Windows Vista)
Name[pt]=UADescription (IE 8.0 no Windows Vista)
Name[pt_BR]=UADescription (IE 8.0 no Windows Vista)
Name[ro]=UADescription (IE 8.0 pe Windows Vista)
Name[sk]=Popis agenta (IE 8.0 na Windows Vista)
Name[sl]=Opis UP (IE 8.0 na Windows Vista)
Name[sv]=AA-beskrivning (IE 8.0 på Windows Vista)
Name[uk]=UADescription (IE 8.0 у Windows Vista)
Name[x-test]=xxUADescription (IE 8.0 on Windows Vista)xx
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=IE
X-KDE-UA-FULL=Mozilla/5.0 (compatible; MSIE 8.0; Windows NT 6.0)
X-KDE-UA-NAME=Internet Explorer
X-KDE-UA-VERSION=8.0
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=Vista
