[Desktop Entry]
Name=UADescription (IE 8.0 on Windows Vista)
Name[bg]=UADescription (IE 8.0 на Windows Vista)
Name[bs]=UADescription (IE 8.0 na Windows Vista)
Name[ca]=Descripció AU (IE 8.0 a Windows Vista)
Name[ca@valencia]=Descripció AU (IE 8.0 a Windows Vista)
Name[cs]=Popis agenta (IE 8.0 na Windows Vista)
Name[da]=Brugeragentbeskrivelse (IE 8.0 på Windows Vista)
Name[de]=Browserkennung (IE 8.0 unter Windows Vista)
Name[el]=Περιγραφή UA (IE 8.0 σε Windows Vista)
Name[en_GB]=UADescription (IE 8.0 on Windows Vista)
Name[es]=UADescription (IE 8.0 en Windows Vista)
Name[et]=UADescription (IE 8.0 Windows Vista platvormil)
Name[fi]=Käyttäjäagenttikuvaus (IE 8.0 Windows Vistalla)
Name[fr]=UADescription (IE 8.0 sous Windows Vista)
Name[ga]=UADescription (IE 8.0 ar Windows Vista)
Name[gl]=UADescription (IE 8.0 en Windows Vista)
Name[he]=UADescription (IE 8.0 on Windows Vista)
Name[hu]=Böngészőtípus (IE 8.0, Windows Vista)
Name[ia]=UADescription (IE 8.0  super Windows Vista )
Name[id]=UADescription (IE 8.0 di Windows Vista)
Name[is]=UADescription (IE 8.0 á Windows Vista)
Name[it]=Descrizione UA (IE 8.0 su Windows Vista)
Name[kk]=UADescription (IE 8.0 / Windows Vista)
Name[ko]=UADescription (Windows Vista의 IE 8.0)
Name[lt]=NA Aprašymas (IE 8.0, Windows Vista)
Name[mr]=UAडिस्क्रिप्शन (IE 8.0 विंडोज व्हिस्टा वर)
Name[nb]=Brukeragent (IE 8.0 på Windows Vista)
Name[nds]=UA-Beschrieven (IE 8.0 op Windows Vista)
Name[nl]=GA-beschrijving (IE 8.0 op Windows Vista)
Name[nn]=Brukaragent (IE 8.0 på Windows Vista)
Name[pa]=UADescription (ਵਿੰਡੋ XP ਉੱਤੇ IE 8.0)
Name[pl]=Opis przeglądarki użytkownika (IE 8.0 na Windows Vista)
Name[pt]=UADescription (IE 8.0 no Windows Vista)
Name[pt_BR]=UADescription (IE 8.0 no Windows Vista)
Name[ro]=UADescription (IE 8.0 pe Windows Vista)
Name[ru]=UADescription (IE 8.0 на Windows Vista)
Name[sk]=Popis agenta (IE 8.0 na Windows Vista)
Name[sl]=Opis UP (IE 8.0 na Windows Vista)
Name[sr]=УА‑опис (ИЕ 8.0 на Виндоузу Висти)
Name[sr@ijekavian]=УА‑опис (ИЕ 8.0 на Виндоузу Висти)
Name[sr@ijekavianlatin]=UA-opis (IE 8.0 na Windowsu Visti)
Name[sr@latin]=UA-opis (IE 8.0 na Windowsu Visti)
Name[sv]=AA-beskrivning (IE 8.0 på Windows Vista)
Name[tr]=UADescription (Windows Yedi'de IE 8.0)
Name[uk]=UADescription (IE 8.0 у Windows Vista)
Name[x-test]=xxUADescription (IE 8.0 on Windows Vista)xx
Name[zh_CN]=客户端描述(运行于 Win Vista 的 IE 8.0)
Name[zh_TW]=使用者代理描述 (IE8.0 on Windows Vista)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=IE
X-KDE-UA-FULL=Mozilla/5.0 (compatible; MSIE 8.0; Windows NT 6.0)
X-KDE-UA-NAME=Internet Explorer
X-KDE-UA-VERSION=8.0
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=Vista
