[Desktop Entry]
Name=UADescription (IE 9.0 on Windows Seven)
Name[ar]=وصف وكيل-مستخدم (IE 9.0 على Windows Seven)
Name[ast]=UADescription (IE 9.0 en Windows Seven)
Name[bg]=UADescription (IE 9.0 на Windows Seven)
Name[bn]=UADescription (IE 9.0 on Windows Seven)
Name[bs]=UA‑opis (IE 9.0 na Vindouzu IksP)
Name[ca]=Descripció AU (IE 9.0 en Windows Seven)
Name[ca@valencia]=Descripció AU (IE 9.0 en Windows Seven)
Name[cs]=Popis agenta (IE 9.0 on Windows Seven)
Name[csb]=Òpisënk programë brëkòwnika (IE 9.0 na Windows Seven)
Name[da]=Brugeragentbeskrivelse (IE 9.0 på Windows Seven)
Name[de]=Browserkennung (IE 9.0 unter Windows Seven)
Name[el]=Περιγραφή UA (IE 9.0 σε Windows Seven)
Name[en_GB]=UADescription (IE 9.0 on Windows Seven)
Name[eo]=UA-Priskribo (IE 9.0 sub Vindozo Seven)
Name[es]=UADescription (IE 9.0 en Windows Seven)
Name[et]=UADescription (IE 9.0 Windows Seven platvormil)
Name[eu]=UA azalpena (IE 9.0 Windows Seven-n)
Name[fi]=Käyttäjäagenttikuvaus (IE 9.0 Windows Seven:llä)
Name[fr]=UADescription (IE 9.0 sous Windows Seven)
Name[fy]=UA-beskriuwing (IE 9.0 op Windows Seven)
Name[ga]=UADescription (IE 9.0 ar Windows Seven)
Name[gl]=UADescription (IE 9.0 en Windows Seven)
Name[gu]=UADescription (આઇ.ઇ. ૭.૦ વિન્ડોઝ Seven પર)
Name[he]=UADescription (IE 9.0 on Windows Seven)
Name[hi]=यूए-डिस्क्रिप्शन (आईई 9.0 विन एक्सपी पर)
Name[hr]=UADescription (IE 9.0 on Windows Seven)
Name[hu]=Böngészőtípus (IE 9.0, Windows Seven)
Name[ia]=UADescription (IE 9.0 super Windows Seven)
Name[id]=UADescription (IE 9.0 di Windows Seven)
Name[is]=UADescription (IE 9.0 á Windows Seven)
Name[it]=Descrizione UA (IE 9.0 su Windows Seven)
Name[ja]=UADescription (IE 9.0 on Windows Seven)
Name[kk]=UADescription (IE 9.0 / Windows Seven)
Name[km]=UADescription (IE 9.0 នៅ​លើ Windows Seven)
Name[kn]=UAವಿವರಣೆ (Windows Seven ಯಲ್ಲಿನ IE ೭.೦)
Name[ko]=UADescription (윈도 Seven의 IE 9.0)
Name[lt]=UADescription (IE 9.0 on Windows Seven)
Name[lv]=UA Apraksts (IE 9.0 uz Windows Seven)
Name[mai]=यूए-डिस्क्रिप्शन (आईई 9.0 विन एक्सपी पर)
Name[mk]=UADescription (IE 9.0 на Windows Seven)
Name[ml]=യുഎവിവരണം (വിന്‍ എക്സ്പിയിലെ ഐഇ 9.0)
Name[nb]=Brukeragent (IE 9.0 på Windows Seven)
Name[nds]=UA-Beschrieven (IE 9.0 op Windows Seven)
Name[nl]=GA-beschrijving (IE 6.0 op Windows Seven)
Name[nn]=Brukaragent (IE 9.0 på Windows Seven)
Name[pa]=UADescription (ਵਿੰਡੋ Seven ਉੱਤੇ IE 9.0)
Name[pl]=Opis przeglądarki użytkownika (IE 9.0 na Windows Seven)
Name[pt]=UADescription (IE 9.0 no Windows Seven)
Name[pt_BR]=UADescription (IE 9.0 no Windows Seven)
Name[ro]=Descriere AU (IE 9.0 pe Windows Seven)
Name[ru]=UADescription (IE 9.0 на Windows Seven)
Name[se]=UA-čilgehus (IE 9.0 Windows Seven:s)
Name[si]=UADescription (Windows Seven මත IE 9.0)
Name[sk]=Popis agenta (IE 9.0 na Windows Seven)
Name[sl]=Opis UP (IE 9.0 na Windows Seven)
Name[sr]=УА‑опис (ИЕ 9.0 на Виндоузу ИксП)
Name[sr@ijekavian]=УА‑опис (ИЕ 9.0 на Виндоузу ИксП)
Name[sr@ijekavianlatin]=UA-opis (IE 9.0 na Windowsu Seven)
Name[sr@latin]=UA-opis (IE 9.0 na Windowsu Seven)
Name[sv]=AA-beskrivning (IE 9.0 på Windows Seven)
Name[tg]=UADescription (IE 9.0 дар Windows Seven)
Name[th]=UADescription (IE 9.0 บน Windows Seven)
Name[tr]=Kullanıcı Uygulaması Tanımı (Windows Seven üzerinde IE 9.0)
Name[ug]=خېرىدار تەرەپ چۈشەندۈرۈشى(Windows Seven دا ئىجرا قىلىنىدىغان IE 9.0)
Name[uk]=UADescription (IE 9.0 у Windows Seven)
Name[wa]=Idintifiaedje do betchteu (IE 9.0 so Windows Seven)
Name[x-test]=xxUADescription (IE 9.0 on Windows Seven)xx
Name[zh_CN]=客户端描述(运行于 Windows Seven 的 IE 9.0)
Name[zh_TW]=使用者代理描述 (IE 9.0 on Windows Seven)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=IE
X-KDE-UA-FULL=Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 7.1)
X-KDE-UA-NAME=Internet Explorer
X-KDE-UA-VERSION=9.0
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=Seven
