[Desktop Entry]
Name=UADescription (IE 9.0 on Windows Seven)
Name[bg]=UADescription (IE 9.0 на Windows Seven)
Name[bs]=UADescription (IE 8.0 na Windows 7)
Name[ca]=Descripció AU (IE 9.0 a Windows 7)
Name[ca@valencia]=Descripció AU (IE 9.0 a Windows 7)
Name[cs]=Popis agenta (IE 9.0 na Windows 7)
Name[da]=Brugeragentbeskrivelse (IE 9.0 på Windows 7)
Name[de]=Browserkennung (IE 9.0 unter Windows 7)
Name[el]=Περιγραφή UA (IE 9.0 σε Windows Vista)
Name[en_GB]=UADescription (IE 9.0 on Windows Seven)
Name[es]=UADescription (IE 9.0 en Windows Seven)
Name[et]=UADescription (IE 9.0 Windows 7 platvormil)
Name[fi]=Käyttäjäagenttikuvaus (IE 9.0 Windows 7:llä)
Name[fr]=UADescription (IE 9.0 sous Windows 7)
Name[ga]=UADescription (IE 9.0 ar Windows 7)
Name[gl]=UADescription (IE 9.0 en Windows Vista)
Name[he]=UADescription (IE 9.0 on Windows Seven)
Name[hu]=Böngészőtípus (IE 9.0, Windows 7)
Name[ia]=UADescription (IE 9.0  super Windows Seven)
Name[id]=UADescription (IE 9.0 di Windows Seven)
Name[is]=UADescription (IE 9.0 á Windows 7)
Name[it]=Descrizione UA (IE 9.0 su Windows 7)
Name[kk]=UADescription (IE 9.0 / Windows 7)
Name[ko]=UADescription (Windows 7의 IE 9.0)
Name[lt]=NA Aprašymas (IE 9.0, Windows 7)
Name[mr]=UAडिस्क्रिप्शन (IE 9.0 विंडोज सेव्हन वर)
Name[nb]=Brukeragent (IE 9.0 på Windows Seven)
Name[nds]=UA-Beschrieven (IE 9.0 op Windows Seven)
Name[nl]=GA-beschrijving (IE 9.0 op Windows 7)
Name[nn]=Brukaragent (IE 9.0 på Windows Seven)
Name[pa]=UADescription (ਵਿੰਡੋ XP ਉੱਤੇ IE 9.0)
Name[pl]=Opis przeglądarki użytkownika (IE 9.0 na Windows Vista)
Name[pt]=UADescription (IE 9.0 no Windows 7)
Name[pt_BR]=UADescription (IE 9.0 no Windows 7)
Name[ro]=UADescription (IE 9.0 pe Windows Seven)
Name[ru]=UADescription (IE 9.0 на Windows Seven)
Name[sk]=Popis agenta (IE 9.0 na Windows 7)
Name[sl]=Opis UP (IE 9.0 na Windows Seven)
Name[sr]=УА‑опис (ИЕ 9.0 на Виндоузу 7)
Name[sr@ijekavian]=УА‑опис (ИЕ 9.0 на Виндоузу 7)
Name[sr@ijekavianlatin]=UA-opis (IE 9.0 na Windowsu 7)
Name[sr@latin]=UA-opis (IE 9.0 na Windowsu 7)
Name[sv]=AA-beskrivning (IE 9.0 på Windows 7)
Name[tr]=UADescription (Windows Yedi'de IE 9.0)
Name[uk]=UADescription (IE 9.0 у Windows 7)
Name[x-test]=xxUADescription (IE 9.0 on Windows Seven)xx
Name[zh_CN]=客户端描述(运行于 Win 7 的 IE 9.0)
Name[zh_TW]=使用者代理描述 (IE 9.0 on Windows Seven)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=IE
X-KDE-UA-FULL=Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 7.1)
X-KDE-UA-NAME=Internet Explorer
X-KDE-UA-VERSION=9.0
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=Seven
