[Desktop Entry]
Name=UADescription (IE 9.0 on Windows Seven)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=IE
X-KDE-UA-FULL=Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 7.1)
X-KDE-UA-NAME=Internet Explorer
X-KDE-UA-VERSION=9.0
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=Seven
