[Desktop Entry]
Name=UADescription (Lynx 2.8.3)
Name[af]=UA-beskrywing (Lynx 2.8.3)
Name[ca]=Descripció AU (Lynx 2.8.3)
Name[cs]=Popis agenta (Lynx 2.8.3)
Name[csb]=Òpis programë brëkòwnika (Lynx 2.8.3)
Name[cy]=UADisgrifiad (Lynx 2.8.3)
Name[da]=Brugeragentbeskrivelse (Lynx 2.8.3)
Name[de]=Browserkennung (Lynx 2.8.3)
Name[el]=Περιγραφή UA (Lynx 2.8.3)
Name[eo]=UA-Priskribo (Lynx 2.8.3)
Name[es]=Descripción de AU (Lynx 2.8.3)
Name[eu]=UA azalpena (Lynx 2.8.3)
Name[fi]=Käyttäjäagenttikuvaus (Lynx 2.8.3)
Name[fr]=Identité du navigateur (Lynx 2.8.3)
Name[fy]=GA-omskriuwing (Lynx 2.8.3)
Name[gu]=UAવર્ણન (લાયન્ક્સ ૨.૮.૩)
Name[hi]=यूए-डिस्क्रिप्शन (लायनक्स 2.8.3)
Name[hu]=Böngészőtípus (Lynx 2.8.3)
Name[is]=UA strengur (Lynx 2.8.3)
Name[it]=DescrizioneUA (Lynx 2.8.3)
Name[kn]=UAವಿವರಣೆ (ಲಿಂಕ್ಸ್ ೨.೮.೩)
Name[ku]=Pênasa UA (Lynx 2.8.3)
Name[lt]=Naudotojo agento aprašymas (Lynx 2.8.3)
Name[lv]=UAApraksts (Lynx 2.8.3)
Name[nb]=Brukeragent (Lynx 2.8.3)
Name[nds]=UA-Beschrieven (Lynx 2.8.3)
Name[ne]=UA वर्णन (Lynx 2.8.3)
Name[nl]=GA-beschrijving (Lynx 2.8.3)
Name[nn]=Brukaragent (Lynx 2.8.3)
Name[pa]=UADescription(ਲੇਨਕਸ2.8.30)
Name[pl]=Opis przeglądarki użytkownika (Lynx 2.8.3)
Name[ro]=Descriere AU (Lynx 2.8.3)
Name[se]=UA-čilgehus (Lynx 2.8.3)
Name[sk]=Popis agenta (Lynx 2.8.3)
Name[sl]=UAOpis (Lynx 2.8.3)
Name[sr]=УА‑опис (Линкс 2.8.3)
Name[sr@latin]=UA-opis (Lynx 2.8.3)
Name[sv]=AA-beskrivning (Lynx 2.8.3)
Name[tr]=Kullanıcı Uygulaması Tanımı (Lynx 2.8.3)
Name[vi]=Mô tả UA (Lynx 2.8.3)
Name[wa]=Idintifiaedje do betchteu (Lynx 2.8.3)
Name[x-test]=xxUADescription (Lynx 2.8.3)xx
Name[zh_CN]=用户代理描述(Lynx 2.8.3)
Name[zh_TW]=使用者代理描述 (Lynx 2.8.3)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MISC
X-KDE-UA-FULL=Lynx/2.8.3dev.6 libwww-FM/2.14
X-KDE-UA-NAME=Lynx
X-KDE-UA-VERSION=2.8.3dev.6
