[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Mozilla 1.6 on current)
Name[af]=UA-beskrywing (Mozilla 1.6 op huidige bedryfstelsel)
Name[be]=UADescription (Mozilla 1.6 на гэтай сістэме)
Name[ca]=UADescription (Mozilla 1.6 a l'actual)
Name[cs]=Popis agenta (Mozilla 1.6 na aktuálním)
Name[csb]=Òpis programë brëkòwnika (Mozilla 1.6)
Name[cy]=DisgrifiadUA (Mozilla 1.6 ar hyn o bryd)
Name[da]=Brugeragentbeskrivelse (Mozilla 1.6 på denne)
Name[de]=Browserkennung (Mozilla 1.6 unter aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (Mozilla 1.6 στο τρέχον σύστημα)
Name[eo]=UA-Priskribo (Mozilo 1.6 sub nuna)
Name[es]=Descripción de AU (Mozilla 1.6 en actual)
Name[et]=UADescription (Selles masinas töötav Mozilla 1.6)
Name[eu]=UA deskriptioa (Mozilla 1.6 unekoan)
Name[fa]=UADescription (Mozilla 1.6 در حال حاضر)
Name[fi]=Käyttäjäagenttikuvaus (Mozilla 1.6 nykyisellä)
Name[fr]=Identité du navigateur (Mozilla 1.6 sous le système actuel)
Name[fy]=GA-omskriuwing (Mozilla 1.6 op aktive)
Name[ga]=UADescription (Mozilla 1.6 ar an gcóras reatha)
Name[gl]=UADescription (Mozilla 1.6 no actual)
Name[he]=UADescription (‏Mozilla 1.6 על המחשב הנוכחי)
Name[hr]=UADescription (Mozilla 1.6 na trenutnom)
Name[hu]=Böngészőtípus (Mozilla 1.6)
Name[is]=UAD strengur (Mozilla 1.6 on current)
Name[it]=DescrizioneUA(Mozilla 1.6 su sistema attuale)
Name[ka]=UADescription (Mozilla 1.6 მიმდინარე სისტემაში)
Name[kk]=UADescription (Mozilla 1.6 осы орында)
Name[km]=UADescription (Mozilla 1.6 បច្ចុប្បន្ន)
Name[lt]=Naudotojo agento aprašymas (Mozilla 1.6 ir esama)
Name[lv]=UAApraksts (Mozilla 1.6 uz tekošā)
Name[mk]=UADescription (Mozilla 1.6 на тековниот)
Name[nb]=Brukeragent (Mozilla 1.6 herifra)
Name[nds]=UA-Beschrieven (Mozilla 1.6 op dit Systeem)
Name[ne]=UA वर्णन (हाल मोजिला १.६)
Name[nl]=GA-beschrijving (Mozilla 1.6 op current)
Name[nn]=Brukaragent (Mozilla 1.6 herifrå)
Name[pa]=UADescription (ਮੌਜੂਦਾ 'ਤੇ ਮੌਜੀਲਾ ੧.੬)
Name[pl]=Opis przeglądarki użytkownika (Mozilla 1.6 na bieżącym systemie)
Name[pt]=UADescription (Mozilla 1.6 no sistema actual)
Name[pt_BR]=UADescription (Mozilla 1.6 no sistema atual)
Name[ro]=Descriere UA (Mozilla 1.6 pentru sistemul de operare curent)
Name[ru]=UADescription (Mozilla 1.6 на текущей системе)
Name[se]=UA-čilgehus (Mozilla 1.6 dan mašiinas)
Name[sl]=UAOpis (Mozilla 1.6 na trenutnem)
Name[sr]=UADescription (Mozilla 1.6 на тренутном)
Name[sr@latin]=UADescription (Mozilla 1.6 na trenutnom)
Name[sv]=AA-beskrivning (Mozilla 1.6 på aktuell)
Name[ta]=UADescription (Mozilla 1.6 தற்ப்போதில்)
Name[th]=UADescription (มอซิลล่า 1.6 บนระบบปัจจุบัน)
Name[tr]=UATanımı (güncel üzerinde Mozilla 1.6)
Name[uk]=UADescription (Mozilla 1.6 на поточній ОС)
Name[uz]=UADescription (жорий билан Mozilla 1.6)
Name[x-test]=xxUADescription (Mozilla 1.6 on current)xx
Name[zh_TW]=使用者代理描述 (Mozilla 1.6 on current)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MOZ
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appSysName appMachineType; appLanguage; rv:1.6) Gecko/20040113
X-KDE-UA-NAME=Mozilla
X-KDE-UA-VERSION=1.6
X-KDE-UA-DYNAMIC-ENTRY=1
