[Desktop Entry]
Name=UADescription (Opera 11.62 on current)
Name[ca]=Descripció AU (Opera 11.62 a l'actual)
Name[cs]=Popis agenta (Opera 11.62 na aktuálním)
Name[de]=Browserkennung (Opera 11.62 auf aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (Opera 11.62 στο τρέχον σύστημα)
Name[es]=UADescription (Opera 11.62 en la actualidad)
Name[et]=UADescription (Selles masinas töötav Opera 11.62)
Name[fi]=Käyttäjäagenttikuvaus (Opera 11.62 nykyisellä)
Name[fr]=UADescription (Opera 11.62 sous le système actuel)
Name[ga]=UADescription (Opera 11.62 ar an gcóras reatha)
Name[hu]=Böngészőtípus (Opera 11.62)
Name[ia]=UADescription (Opera 11.62  super le currente)
Name[kk]=UADescription (Opera 11.62 осында)
Name[lt]=NA Aprašymas (Opera 11.62 iki naujausios)
Name[mr]=UAडिस्क्रिप्शन (वर्तमानातील ऑपेरा 11.62 वर)
Name[nb]=Brukeragent (Opera 11.62 herifra)
Name[nl]=GA-beschrijving (Opera 11.62 op huidige)
Name[pa]=UADescription (ਮੌਜੂਦਾ ਉੱਤੇ ਓਪੇਰਾ 11.62)
Name[pl]=Opis przeglądarki użytkownika (Opera 11.62 na bieżącym systemie)
Name[pt]=UADescription (Opera 11.62 no sistema actual)
Name[pt_BR]=UADescription (Opera 11.62 no sistema atual)
Name[ru]=UADescription (Opera 11.62 на текущей системе)
Name[sk]=Popis agenta (Opera 11.62 na aktuálnom)
Name[sl]=Opis UP (Opera 11.62 na trenutnem)
Name[sr]=УА‑опис (Опера 11.62 на текућем)
Name[sr@ijekavian]=УА‑опис (Опера 11.62 на текућем)
Name[sr@ijekavianlatin]=UA-opis (Opera 11.62 na tekućem)
Name[sr@latin]=UA-opis (Opera 11.62 na tekućem)
Name[sv]=AA-beskrivning (Opera 11.62 på aktuell)
Name[tr]=UADescription (geçerli sistemde Opera 11.62)
Name[uk]=UADescription (Opera 11.62 на поточній)
Name[x-test]=xxUADescription (Opera 11.62 on current)xx
Name[zh_CN]=客户端描述(运行于本机的 Opera 11.62)
Name[zh_TW]=使用者代理描述 (Opera 11.62 on current)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=OPR
X-KDE-UA-FULL=Opera/11.62 (appPlatform; appSysName appMachineType; U; appLanguage) Presto/2.10.229 Version/11.62
X-KDE-UA-NAME=Opera
X-KDE-UA-VERSION=11.62
X-KDE-UA-DYNAMIC-ENTRY=1
