[Desktop Entry]
Name=UADescription (Opera 11.62 on current)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=OPR
X-KDE-UA-FULL=Opera/11.62 (appPlatform; appSysName appMachineType; U; appLanguage) Presto/2.10.229 Version/11.62
X-KDE-UA-NAME=Opera
X-KDE-UA-VERSION=11.62
X-KDE-UA-DYNAMIC-ENTRY=1
