[Desktop Entry]
Name=UADescription (Opera 12.02 on current)
Name[cs]=Popis agenta (Opera 12.02 na aktuálním)
Name[de]=Browserkennung (Opera 12.02 auf aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (Opera 12.02 στο τρέχον σύστημα)
Name[ga]=UADescription (Opera 12.02 ar an gcóras reatha)
Name[hu]=Böngészőtípus (Opera 12.02)
Name[nl]=GA-beschrijving (Opera 12.02 op huidige)
Name[pt]=UADescription (Opera 12.02 no sistema actual)
Name[pt_BR]=UADescription (Opera 12.02 no sistema atual)
Name[sk]=Popis agenta (Opera 12.02 na aktuálnom)
Name[sl]=Opis UP (Opera 12.02 na trenutnem)
Name[sr]=УА‑опис (Опера 12.02 на текућем)
Name[sr@ijekavian]=УА‑опис (Опера 12.02 на текућем)
Name[sr@ijekavianlatin]=UA-opis (Opera 12.02 na tekućem)
Name[sr@latin]=UA-opis (Opera 12.02 na tekućem)
Name[sv]=AA-beskrivning (Opera 12.02 på aktuell)
Name[uk]=UADescription (Opera 12.02 на поточній)
Name[x-test]=xxUADescription (Opera 12.02 on current)xx
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=OPR
X-KDE-UA-FULL=Opera/12.02 (appPlatform; appSysName appMachineType; U; appLanguage) Presto/2.10.289 Version/12.02
X-KDE-UA-NAME=Opera
X-KDE-UA-VERSION=12.02
X-KDE-UA-DYNAMIC-ENTRY=1
