[Desktop Entry]
Name=UADescription (Opera 12.02 on current)
Name[bg]=UADescription (Opera 12.02 на текущата система)
Name[bs]=UADescription (Opera 12.02 na tekućem)
Name[ca]=Descripció AU (Opera 12.02 a l'actual)
Name[ca@valencia]=Descripció AU (Opera 12.02 a l'actual)
Name[cs]=Popis agenta (Opera 12.02 na aktuálním)
Name[da]=Brugeragentbeskrivelse (Opera 12.02 på nuværende)
Name[de]=Browserkennung (Opera 12.02 auf aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (Opera 12.02 στο τρέχον σύστημα)
Name[en_GB]=UADescription (Opera 12.02 on current)
Name[es]=UADescription (Opera 12.02 en la actualidad)
Name[et]=UADescription (Selles masinas töötav Opera 12.02)
Name[fi]=Käyttäjäagenttikuvaus (Opera 12.02 nykyisellä)
Name[fr]=UADescription (Opera 12.02 sous le système actuel)
Name[ga]=UADescription (Opera 12.02 ar an gcóras reatha)
Name[gl]=UADescription (Opera 12.02 no actual)
Name[he]=UADescription (Opera 12.02 on current)
Name[hu]=Böngészőtípus (Opera 12.02)
Name[ia]=UADescription (Opera 12.02  super le currente)
Name[id]=UADescription (Opera 12.02 di saat ini)
Name[is]=UADescription (Opera 12.02 á núverandi)
Name[it]=Descrizione UA (Opera 12.02 sul sistema attuale)
Name[kk]=UADescription (Opera 12.02 осында)
Name[ko]=UADescription (현재 플랫폼의 Opera 12.02)
Name[lt]=NA Aprašymas (Opera 12.02 iki naujausios)
Name[mr]=UAडिस्क्रिप्शन (वर्तमानातील ऑपेरा 12.02 वर)
Name[nb]=Brukeragent (Opera 12.02 herifra)
Name[nds]=UA-Beschrieven (Opera 12.02 op dit Systeem)
Name[nl]=GA-beschrijving (Opera 12.02 op huidige)
Name[nn]=Brukaragent (Opera 12.02 herifrå)
Name[pa]=UADescription (ਮੌਜੂਦਾ ਉੱਤੇ ਓਪੇਰਾ 12.02)
Name[pl]=Opis przeglądarki użytkownika (Opera 12.02 na bieżącym systemie)
Name[pt]=UADescription (Opera 12.02 no sistema actual)
Name[pt_BR]=UADescription (Opera 12.02 no sistema atual)
Name[ro]=Descriere AU (Opera 12.02 pe sistemul curent)
Name[ru]=UADescription (Opera 12.02 на текущей системе)
Name[sk]=Popis agenta (Opera 12.02 na aktuálnom)
Name[sl]=Opis UP (Opera 12.02 na trenutnem)
Name[sr]=УА‑опис (Опера 12.02 на текућем)
Name[sr@ijekavian]=УА‑опис (Опера 12.02 на текућем)
Name[sr@ijekavianlatin]=UA-opis (Opera 12.02 na tekućem)
Name[sr@latin]=UA-opis (Opera 12.02 na tekućem)
Name[sv]=AA-beskrivning (Opera 12.02 på aktuell)
Name[tr]=UADescription (geçerli sistemde Opera 12.02)
Name[uk]=UADescription (Opera 12.02 на поточній)
Name[x-test]=xxUADescription (Opera 12.02 on current)xx
Name[zh_CN]=客户端描述(运行于本机的 Opera 12.02)
Name[zh_TW]=使用者代理描述 (Opera 12.02 on current)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=OPR
X-KDE-UA-FULL=Opera/12.02 (appPlatform; appSysName appMachineType; U; appLanguage) Presto/2.10.289 Version/12.02
X-KDE-UA-NAME=Opera
X-KDE-UA-VERSION=12.02
X-KDE-UA-DYNAMIC-ENTRY=1
