[Desktop Entry]
Name=UADescription (Opera 12.02 on current)
Name[ar]=وصف وكيل-مستخدم (Opera 9.00 على الحالي)
Name[ast]=UADescription (Opera 12.02 n'actual)
Name[bg]=UADescription (Opera 12.02 на текущата система)
Name[bn]=UADescription (Opera 12.02 on current)
Name[bs]=UA‑opis (Opera 12.02 na tekućem)
Name[ca]=Descripció AU (Opera 12.02 a l'actual)
Name[ca@valencia]=Descripció AU (Opera 12.02 a l'actual)
Name[cs]=Popis agenta (Opera 12.02 na aktuálním)
Name[csb]=Òpisënk programë brëkòwnika (Opera 12.02)
Name[da]=Brugeragentbeskrivelse (Opera 12.02 på nuværende)
Name[de]=Browserkennung (Opera 12.02 auf aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (Opera 12.02 στο τρέχον σύστημα)
Name[en_GB]=UADescription (Opera 12.02 on current)
Name[eo]=UA-Priskribo (Opera 12.02 sub nuna)
Name[es]=UADescription (Opera 12.02 en actual)
Name[et]=UADescription (Selles masinas töötav Opera 12.02)
Name[eu]=UA azalpena (Opera 12.02 unekoan)
Name[fi]=Käyttäjäagenttikuvaus (Opera 12.02 nykyisellä)
Name[fr]=UADescription (Opera 12.02 sous le système actuel)
Name[fy]=UA-beskriuwing (Opera 12.02 op aktive)
Name[ga]=UADescription (Opera 12.02 ar an gcóras reatha)
Name[gl]=UADescription (Opera 12.02 no actual)
Name[gu]=UADescription (ઓપેરા ૯.૬૨ હાલ પર)
Name[he]=UADescription (Opera 12.02 on current)
Name[hi]=यूए-डिस्क्रिप्शन (मौजूदा में ऑपेरा 12.02)
Name[hr]=UADescription (Opera 12.02 na trenutnom)
Name[hu]=Böngészőtípus (Opera 12.02)
Name[ia]=UADescription (Opera 12.02 super le currente)
Name[id]=UADescription (Opera 12.02 di saat ini)
Name[is]=UADescription (Opera 12.02 á núverandi)
Name[it]=Descrizione UA (Opera 12.02 sul sistema attuale)
Name[ja]=UADescription (Opera 12.02 on current)
Name[ka]=UADescription (Opera 12.02 მიმდინარეზე)
Name[kk]=UADescription (Opera 12.02 осында)
Name[km]=UADescription (Opera 12.02 បច្ចុប្បន្ន)
Name[kn]=UAವಿವರಣೆ (ಪ್ರಸ್ತುತದ ಮೇಲಿನ ಓಪರಾ ೯.೦೦)
Name[ko]=UADescription (현재 플랫폼의 Opera 12.02)
Name[lt]=UADescription (Opera 12.02 on current)
Name[lv]=UA Apraksts (Opera 12.02 uz pašreizējā)
Name[mai]=यूए-डिस्क्रिप्शन (मोजुदा मे आपेरा 12.02)
Name[mk]=UADescription (Opera 12.02 на тековно)
Name[ml]=യുഎവിവരണം (ഇപ്പോഴത്തേതില്‍ ഓപെറ 12.02)
Name[nb]=Brukeragent (Opera 12.02 herifra)
Name[nds]=UA-Beschrieven (Opera 12.02 op dit Systeem)
Name[nl]=GA-beschrijving (Opera 12.02 op huidige)
Name[nn]=Brukaragent (Opera 12.02 herifrå)
Name[pa]=UADescription (ਮੌਜੂਦਾ ਉੱਤੇ ਓਪੇਰਾ 12.02)
Name[pl]=Opis przeglądarki użytkownika (Opera 12.02 w bieżącym systemie)
Name[pt]=UADescription (Opera 12.02 no sistema actual)
Name[pt_BR]=UADescription (Opera 12.02 no sistema atual)
Name[ro]=Descriere AU (Opera 12.02 pe sistemul curent)
Name[ru]=UADescription (Opera 12.02 на текущей системе)
Name[se]=UA-čilgehus (Opera 12.02 dán mašiinnas)
Name[si]=UADescription (වත්මන මත Opera 12.02)
Name[sk]=Popis agenta (Opera 12.02 na aktuálnom)
Name[sl]=Opis UP (Opera 12.02 na trenutnem)
Name[sr]=УА‑опис (Опера 12.02 на текућем)
Name[sr@ijekavian]=УА‑опис (Опера 12.02 на текућем)
Name[sr@ijekavianlatin]=UA-opis (Opera 12.02 na tekućem)
Name[sr@latin]=UA-opis (Opera 12.02 na tekućem)
Name[sv]=AA-beskrivning (Opera 12.02 på aktuell)
Name[tg]=UADescription (Opera 12.02 дар версияи ҷорӣ)
Name[th]=UADescription (โอเปร่า 12.02 บนระบบปัจจุบัน)
Name[tr]=Kullanıcı Uygulaması Tanımı (geçerli işletim sistemi üzerinde Opera 12.02)
Name[ug]=خېرىدار تەرەپ چۈشەندۈرۈشى (يەرلىك كومپيۇتېردا ئىجرا قىلىنىدىغان Opera 12.02)
Name[uk]=UADescription (Opera 12.02 на поточній)
Name[wa]=Idintifiaedje do betchteu (Opera 12.02 sol sistinme do moumint)
Name[x-test]=xxUADescription (Opera 12.02 on current)xx
Name[zh_CN]=客户端描述(运行于本机的 Opera 12.02)
Name[zh_TW]=使用者代理描述 (Opera 12.02 on current)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=OPR
X-KDE-UA-FULL=Opera/12.02 (appPlatform; appSysName appMachineType; U; appLanguage) Presto/2.10.289 Version/12.02
X-KDE-UA-NAME=Opera
X-KDE-UA-VERSION=12.02
X-KDE-UA-DYNAMIC-ENTRY=1
