[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Opera 7.53 on current)
Name[af]=UA-beskrywing (Opera 7.53 op huidige bedryfstelsel)
Name[be]=UADescription (Opera 7.53 на гэтай сістэме)
Name[ca]=Descripció UA (Opera 7.53 a l'actual)
Name[cs]=Popis agenta (Opera 7.53 na aktuálním)
Name[csb]=Òpis programë brëkòwnika (Opera 7.53)
Name[da]=UADescription (Opera 7.53 på denne)
Name[de]=Browserkennung (Opera 7.53 unter aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (Opera 7.53 στο τρέχον σύστημα)
Name[eo]=UA-Priskribo (Opera 7.53 sub nuna)
Name[es]=UADescription (Opera 7.53 en actual)
Name[et]=UADescription (Selles masinas töötav Opera 7.53)
Name[eu]=UA azalpena (Opera 7.53 unekoan)
Name[fa]=UADescription (Opera 7.53 در حال حاضر)
Name[fi]=Käyttäjäagenttikuvaus (Opera 7.53 nykyisellä)
Name[fr]=Identité du navigateur (Opera 7.53 sous le système actuel)
Name[fy]=GA-omskriuwing (Opera 7.53 op aktive)
Name[ga]=UADescription (Opera 7.53 ar an gcóras reatha)
Name[gl]=UADescription (Opera 7.53 no actual)
Name[he]=UADescription (‏Opera 4.03 על המחשב הנוכחי)
Name[hr]=UADescription (Opera 7.53 na trenutnom)
Name[hu]=Böngészőtípus (Opera 7.53)
Name[is]=UAD strengur (Opera 7.53 á núverandi)
Name[it]=DescrizioneUA (Opera 7.53 su sistema attuale)
Name[ka]=UADescription (Opera 7.53 მიმდინარე სისტემაში)
Name[kk]=UADescription (Opera 7.53 осы орында)
Name[km]=UADescription (Opera 7.53 បច្ចុប្បន្ន)
Name[lt]=Naudotojo agento aprašymas (Opera 7.53 ir esama)
Name[lv]=UAApraksts (Opera 7.53 uz tekošā)
Name[mk]=UADescription (Opera 7.53 на тековно)
Name[nb]=Brukeragent (Opera 7.53 herifra)
Name[nds]=UA-Beschrieven (Opera 7.53 op dit Systeem)
Name[ne]=UA वर्णन (हाल Opera 7.53)
Name[nl]=GA-beschrijving (Opera 7.53 op huidige)
Name[nn]=Brukaragent (Opera 7.53 herifrå)
Name[pa]=UADescription (ਮੌਜੂਦਾ 'ਤੇ ਓਪੇਰਾ 7.53)
Name[pl]=Opis przeglądarki użytkownika (Opera 7.53 na bieżącym systemie)
Name[pt]=UADescription (Opera 7.53 no sistema actual)
Name[pt_BR]=UADescription (Opera 7.53 no sistema atual)
Name[ro]=Descriere UA (Opera 7.53 pentru sistemul de operare curent)
Name[ru]=UADescription (Opera 7.53 на текущей системе)
Name[se]=UA-čilgehus (Opera 7.53 dán mašiinnas)
Name[sl]=UAOpis (Opera 7.53 na trenutnem)
Name[sr]=UADescription (Opera 7.53 на тренутном)
Name[sr@latin]=UADescription (Opera 7.53 na trenutnom)
Name[sv]=AA-beskrivning (Opera 7.53 på aktuell)
Name[ta]=UAவிவரம் (நடப்பில் 7.53 ஓபெரா)
Name[th]=UADescription (โอเปร่า 7.53 บนระบบปัจจุบัน)
Name[tr]=UA Tanımı (bulunulanda Opera 7.53)
Name[uk]=UADescription (Opera 7.53 на поточній)
Name[uz]=UADescription (жорий билан Opera 7.53)
Name[vi]=Mô tả UA (Opera 7.53 trên hệ thống hiện thời)
Name[x-test]=xxUADescription (Opera 7.53 on current)xx
Name[zh_TW]=使用者代理描述 (Opera 7.53 on current)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=OPR
X-KDE-UA-FULL=Opera/7.53 (appPlatform; appSysName appMachineType; U) [appLanguage]
X-KDE-UA-NAME=Opera
X-KDE-UA-VERSION=7.53
X-KDE-UA-DYNAMIC-ENTRY=1
