[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Opera 8.5 on current)
Name[be]=UADescription (Opera 7.53 на гэтай сістэме)
Name[bg]=UADescription (Opera 7.53 on current)
Name[csb]=Òpis programë brëkòwnika (Opera 8.5)
Name[de]=Browserkennung (Opera 8.5 unter aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (Opera 8.5 στο τρέχον σύστημα)
Name[es]=UADescription (Opera 8.5 en actual)
Name[fa]=UADescription (Opera ۸.۵ در حال حاضر)
Name[ga]=UADescription (Opera 8.5 ar an gcóras reatha)
Name[km]=UADescription (Opera 8.5 បច្ចុប្បន្ន)
Name[nds]=UA-Beschrieven (Opera 8.5 op dit Systeem)
Name[nl]=GA-beschrijving (Opera 8.5 op huidige)
Name[pa]=UADescription (ਮੌਜੂਦਾ 'ਤੇ ਓਪੇਰਾ 8.5)
Name[pt]=UADescription (Opera 7.53 no sistema actual)
Name[pt_BR]=UADescription (Opera 8.5 no sistema atual)
Name[sv]=AA-beskrivning (Opera 8.5 på aktuell)
Name[x-test]=xxUADescription (Opera 8.5 on current)xx
Name[zh_TW]=使用者代理描述 (Opera 8.5 on current)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=OPR
X-KDE-UA-FULL=Opera/8.5 (appPlatform; appMachineType appSysName; U; appLanguage)
X-KDE-UA-NAME=Opera
X-KDE-UA-VERSION=8.5
X-KDE-UA-DYNAMIC-ENTRY=1
