[Desktop Entry]
Name=UADescription (Opera 8.5 on current)
Name[be]=UADescription (Opera 7.53 на гэтай сістэме)
Name[bg]=UADescription (Opera 7.53 on current)
Name[ca]=Descripció AU (Opera 8.5 a l'actual)
Name[csb]=Òpis programë brëkòwnika (Opera 8.5)
Name[de]=Browserkennung (Opera 8.5 unter aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (Opera 8.5 στο τρέχον σύστημα)
Name[eo]=UA-Priskribo (Opera 8.5 sub nuna)
Name[es]=UADescription (Opera 8.5 en actual)
Name[et]=UADescription (Selles masinas töötav Opera 8.5)
Name[eu]=UA azalpena (Opera 8.5 unekoan)
Name[fa]=UADescription (Opera ۸.۵ در حال حاضر)
Name[fi]=Käyttäjäagenttikuvaus (Opera 8.5 nykyisellä)
Name[fy]=GA-omskriuwing (Opera 8.5 op aktive)
Name[ga]=UADescription (Opera 8.5 ar an gcóras reatha)
Name[gl]=UADescription (Opera 8.5 no actual)
Name[he]=UADescription (‏Opera 8.05 על המחשב הנוכחי)
Name[hi]=यूए-डिस्क्रिप्शन (मौजूदा में ऑपेरा 8.5)
Name[hu]=Böngészőtípus (Opera 8.5)
Name[kk]=UADescription (Opera 8.5 осында)
Name[km]=UADescription (Opera 8.5 បច្ចុប្បន្ន)
Name[ko]=UADescription (현재 플랫폼의 Opera 8.5)
Name[lv]=UAApraksts (Opera 8.5 uz tekošā)
Name[nb]=Brukeragent (Opera 8.5 herifra)
Name[nds]=UA-Beschrieven (Opera 8.5 op dit Systeem)
Name[ne]=UA वर्णन (हाल ओपेरा ८.५)
Name[nl]=GA-beschrijving (Opera 8.5 op huidige)
Name[nn]=Brukaragent (Opera 8.5 herifrå)
Name[pa]=UADescription (ਮੌਜੂਦਾ ਉੱਤੇ ਓਪੇਰਾ 8.5)
Name[pl]=Opis przeglądarki użytkownika (Opera 8.5 w bieżącym systemie)
Name[pt]=UADescription (Opera 7.53 no sistema actual)
Name[pt_BR]=UADescription (Opera 8.5 no sistema atual)
Name[ru]=UADescription (Opera 8.5 на текущей системе)
Name[se]=UA-čilgehus (Opera 8.5 dán mašiinnas)
Name[sl]=UAOpis (Opera 8.5 na trenutnem)
Name[sr]=УА-опис (Опера 8.5 на текућем)
Name[sr@latin]=UA-opis (Opera 8.5 na tekućem)
Name[sv]=AA-beskrivning (Opera 8.5 på aktuell)
Name[th]=UADescription (โอเปร่า 7.53 บนระบบปัจจุบัน)
Name[uk]=UADescription (Opera 8.5 на поточній)
Name[vi]=Mô tả UA (Opera 8.5 trên hệ thống hiện thời)
Name[wa]=Idintifiaedje do betchteu (Opera 8.5 sol sistinme do moumint)
Name[x-test]=xxUADescription (Opera 8.5 on current)xx
Name[zh_CN]=用户代理描述(运行于本机的 Opera 8.5)
Name[zh_TW]=使用者代理描述 (Opera 8.5 on current)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=OPR
X-KDE-UA-FULL=Opera/8.5 (appPlatform; appMachineType appSysName; U; appLanguage)
X-KDE-UA-NAME=Opera
X-KDE-UA-VERSION=8.5
X-KDE-UA-DYNAMIC-ENTRY=1
