[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Opera 8.5 on current)
Name[csb]=Òpis programë brëkòwnika (Opera 7.53)
Name[de]=Browserkennung (Opera 8.5 unter aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (Opera 8.5 στο τρέχον σύστημα)
Name[nds]=UA-Beschrieven (Opera 8.5 op dit Systeem)
Name[sv]=AA-beskrivning (Opera 8.5 på aktuell)
Name[x-test]=xxUADescription (Opera 8.5 on current)xx
Name[zh_TW]=使用者代理描述 (Opera 8.5 on current)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=OPR
X-KDE-UA-FULL=Opera/8.5 (appPlatform; appMachineType appSysName; U; appLanguage)
X-KDE-UA-NAME=Opera
X-KDE-UA-VERSION=8.5
X-KDE-UA-DYNAMIC-ENTRY=1
