[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Opera 9.00 on current)
Name[el]=Περιγραφή UA (Opera 9.0 στο τρέχον σύστημα)
Name[et]=UADescription (Selles masinas töötav Opera 9.00)
Name[ga]=UADescription (Opera 9.00 ar an gcóras reatha)
Name[nds]=UA-Beschrieven (Opera 9.00 op dit Systeem)
Name[pt]=UADescription (Opera 9.00 no sistema actual)
Name[pt_BR]=UADescription (Opera 9.00 no sistema atual)
Name[sv]=AA-beskrivning (Opera 9.00 på aktuell)
Name[zh_CN]=用户代理描述 (运行于本机的 Opera 9.00)
Name[zh_TW]=使用者代理描述 (Opera 9.00 on current)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=OPR
X-KDE-UA-FULL=Opera/9.00 (appPlatform; appSysName appMachineType; U; appLanguage)
X-KDE-UA-NAME=Opera
X-KDE-UA-VERSION=9.00
X-KDE-UA-DYNAMIC-ENTRY=1
