[Desktop Entry]
Encoding=UTF-8
Name=UADescription (Opera 9.00 on current)
Type=Service
ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=OPR
X-KDE-UA-FULL=Opera/9.00 (appPlatform; appSysName appMachineType; U; appLanguage)
X-KDE-UA-NAME=Opera
X-KDE-UA-VERSION=9.00
X-KDE-UA-DYNAMIC-ENTRY=1
