[Desktop Entry]
Name=UADescription (Opera 9.00 on current)
Name[be]=UADescription (Opera 9.00 на гэтай сістэме)
Name[ca]=Descripció AU (Opera 9.00 a l'actual)
Name[de]=Browserkennung (Opera 9.00 unter aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (Opera 9.0 στο τρέχον σύστημα)
Name[eo]=UA-Priskribo (Opera 9.00 sub nuna)
Name[es]=UADescription (Opera 9.00 en actual)
Name[et]=UADescription (Selles masinas töötav Opera 9.00)
Name[eu]=UA azalpena (Opera 9.00 unekoan)
Name[ga]=UADescription (Opera 9.00 ar an gcóras reatha)
Name[hu]=Böngészőtípus (Opera 9.00)
Name[km]=UADescription (Opera 9.00 បច្ចុប្បន្ន)
Name[ko]=UADescription (현재 플랫폼의 Opera 9.00)
Name[lv]=UAApraksts (Opera 9.00 uz tekošā)
Name[nb]=Brukeragent (Opera 9.00 herifra)
Name[nds]=UA-Beschrieven (Opera 9.00 op dit Systeem)
Name[ne]=UA वर्णन (हालमा ओपेरा ९.००)
Name[nl]=GA-beschrijving (Opera 9.00 op huidige)
Name[nn]=Brukaragent (Opera 9.00 herifrå)
Name[pa]=UADescription (ਮੌਜੂਦਾ 'ਤੇ ਓਪੇਰਾ 9.00)
Name[pl]=Opis przeglądarki użytkownika (Opera 9.00 w bieżącym systemie)
Name[pt]=UADescription (Opera 9.00 no sistema actual)
Name[pt_BR]=UADescription (Opera 9.00 no sistema atual)
Name[ru]=UADescription (Opera 9.00 на текущей системе)
Name[sr]=УА-опис (Опера 9.00 на текућем)
Name[sr@latin]=UA-opis (Opera 9.00 na tekućem)
Name[sv]=AA-beskrivning (Opera 9.00 på aktuell)
Name[th]=UADescription (โอเปร่า 9.00 บนระบบปัจจุบัน)
Name[uk]=UADescription (Opera 9.00 на поточній)
Name[wa]=Idintifiaedje do betchteu (Opera 9.00 sol sistinme do moumint)
Name[x-test]=xxUADescription (Opera 9.00 on current)xx
Name[zh_CN]=用户代理描述(运行于本机的 Opera 9.00)
Name[zh_TW]=使用者代理描述 (Opera 9.00 on current)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=OPR
X-KDE-UA-FULL=Opera/9.00 (appPlatform; appSysName appMachineType; U; appLanguage)
X-KDE-UA-NAME=Opera
X-KDE-UA-VERSION=9.00
X-KDE-UA-DYNAMIC-ENTRY=1
