[Desktop Entry]
Name=UADescription (Opera 9.62 on current)
Name[ga]=UADescription (Opera 9.62 ar an gcóras reatha)
Name[gl]=UADescription (Opera 9.62 no actual)
Name[tr]=Kullanıcı Uygulaması Tanımı (geçerli işletim sistemi üzerinde Opera 9.62)
Name[uk]=UADescription (Opera 9.62 на поточній)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=OPR
X-KDE-UA-FULL=Opera/9.62 (appPlatform; appSysName appMachineType; U; appLanguage) Presto/2.1.1
X-KDE-UA-NAME=Opera
X-KDE-UA-VERSION=9.62
X-KDE-UA-DYNAMIC-ENTRY=1
