[Desktop Entry]
Name=UADescription (Safari 3.0 on iPhone)
Name[ca]=Descripció AU (Safari 3.0 a iPhone)
Name[ca@valencia]=Descripció AU (Safari 3.0 a iPhone)
Name[cs]=Popis agenta (Safari 3.0 na MacOS X)
Name[el]=Περιγραφή UA (Safari 3.0 σε iPhone)
Name[et]=UADescription (Safari 3.0 iPhone platvormil)
Name[eu]=UADescription (Safari 3.0 iPhonen)
Name[ga]=UADescription (Safari 3.0 ar iPhone)
Name[gl]=UADescription (Safari 3.0 nun iPhone)
Name[gu]=UADescription (સફારી ૩.૦ આઇફોન પર)
Name[nds]=UA-Beschrieven (Safari 3.0 op iPhone)
Name[nl]=GA-beschrijving (Safari 3.0 op iPhone)
Name[pt]=UADescription (Safari 3.0 no iPhone)
Name[pt_BR]=UADescription (Safari 3.0 no iPhone)
Name[ro]=Descriere AU (Safari 3.0 pe iPhone)
Name[si]=UADescription (iPhone මත Safari 3.0)
Name[sv]=AA-beskrivning (Safari 3.0 på iPhone)
Name[tr]=Kullanıcı Uygulaması Tanımı (Safari 3.0 on MacOS X)
Name[uk]=UADescription (Safari 3.0 на iPhone)
Name[x-test]=xxUADescription (Safari 3.0 on iPhone)xx
Name[zh_TW]=使用者代理描述 (Safari 3.0 on iPhone)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=SAF
X-KDE-UA-FULL=Mozilla/5.0 (iPhone; U; CPU like Mac OS X; appLanguage) AppleWebKit/420+ (KHTML, like Gecko) Version/3.0 Mobile/1A543a Safari/419.3
X-KDE-UA-NAME=Safari
X-KDE-UA-VERSION=3.0
X-KDE-UA-SYSNAME=(iPhone) Mac OS
X-KDE-UA-SYSRELEASE=X
