[Desktop Entry]
Name=UADescription (Safari 5.1.7 on MacOS X)
Name[bg]=UADescription (Safari 5.1.7 на MacOS X)
Name[bs]=UADescription (Safari 5.1.7 na MacOS‑u X)
Name[ca]=Descripció AU (Safari 5.1.7 a MacOS X)
Name[ca@valencia]=Descripció AU (Safari 5.1.7 a MacOS X)
Name[cs]=Popis agenta (Safari 5.1.7 na MacOS X)
Name[da]=Brugeragentbeskrivelse (Safari 5.1.7 på MacOS X)
Name[de]=Browserkennung (Safari 5.1.7 unter MacOS X)
Name[el]=Περιγραφή UA (Safari 5.1.7 σε MacOS X)
Name[en_GB]=UADescription (Safari 5.1.7 on MacOS X)
Name[eo]=UA-Priskribo (Safari 5.1.7 sub MacOS X)
Name[es]=UADescription (Safari 5.1.7 en MacOS X)
Name[et]=UADescription (Safari 5.1.7 MacOS X platvormil)
Name[fi]=Käyttäjäagenttikuvaus (Safari 5.1.7 MacOS X:llä)
Name[fr]=UADescription (Safari 5.1.7 sous MacOS X)
Name[ga]=UADescription (Safari 5.1.7 ar MacOS X)
Name[gl]=UADescription (Safari 5.1.7 en MacOS X)
Name[he]=UADescription (Safari 5.1.7 on MacOS X)
Name[hu]=Böngészőtípus (Safari 5.1.7, Mac OS X)
Name[ia]=UADescription (Safari 5.1.7 super MacOS X)
Name[id]=UADescription (Safari 5.1.7 di MacOS X)
Name[is]=UADescription (Safari 5.1.7 á MacOS X)
Name[it]=Descrizione UA (Safari 5.1.7 su MacOS X)
Name[kk]=UADescription (Safari 5.1.7 / MacOS X)
Name[ko]=UADescription (Mac OS X의 Safari 5.1.7)
Name[lt]=NA Aprašymas (Safari 5.1.7, MacOS X)
Name[mr]=UAडिस्क्रिप्शन (मॅक-ओएस X वरील सफारी 5.1.7)
Name[nb]=Brukeragent (Safari 5.1.7 på MacOS X)
Name[nds]=UA-Beschrieven (Safari 5.1.7 op MacOS X)
Name[nl]=GA-beschrijving (Safari 5.1.7 op MacOS X)
Name[nn]=Brukaragent (Safari 5.1.7 på MacOS X)
Name[pa]=UADescription (MacOS X ਉੱਤੇ ਸਫ਼ਾਰੀ 5.1.7)
Name[pl]=Opis przeglądarki użytkownika (Safari 5.1.7 na MacOS X)
Name[pt]=UADescription (Safari 5.1.7 no MacOS X)
Name[pt_BR]=UADescription (Safari 5.1.7 no MacOS X)
Name[ro]=Descriere AU (Safari 5.1.7 pe MacOS X)
Name[ru]=UADescription (Safari 5.1.7 на Mac OS X)
Name[sk]=Popis agenta (Safari 5.1.7 na MacOS X)
Name[sl]=Opis UP (Safari 5.1.7 na MacOS X)
Name[sr]=УА‑опис (Сафари 5.1.7 на МекОС‑у X)
Name[sr@ijekavian]=УА‑опис (Сафари 5.1.7 на МекОС‑у X)
Name[sr@ijekavianlatin]=UA-opis (Safari 5.1.7 na MacOS‑u X)
Name[sr@latin]=UA-opis (Safari 5.1.7 na MacOS‑u X)
Name[sv]=AA-beskrivning (Safari 5.1.7 på MacOS X)
Name[tr]=UADescription (MacOS X üzerinde Safari 5.1.7)
Name[uk]=UADescription (Safari 5.1.7 на MacOS X)
Name[x-test]=xxUADescription (Safari 5.1.7 on MacOS X)xx
Name[zh_CN]=客户端描述(运行于 MacOS X 的 Safari 5.1.7)
Name[zh_TW]=使用者代理描述 (Safari 5.1.7 on MacOS X)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=SAF
X-KDE-UA-FULL=Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7_3; appLanguage) AppleWebKit/537.13+ (KHTML, like Gecko) Version/5.1.7 Safari/534.57.2
X-KDE-UA-NAME=Safari
X-KDE-UA-VERSION=5.1.7
X-KDE-UA-SYSNAME=Mac OS
X-KDE-UA-SYSRELEASE=X
X-KDE-UA-DYNAMIC-ENTRY=1
