[Desktop Entry]
Name=UADescription (Safari 3.2 on MacOS X)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=SAF
X-KDE-UA-FULL=Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_5_5; appLanguage) AppleWebKit/525.26.2 (KHTML, like Gecko) Version/3.2 Safari/525.26.12
X-KDE-UA-NAME=Safari
X-KDE-UA-VERSION=3.2
X-KDE-UA-SYSNAME=Mac OS
X-KDE-UA-SYSRELEASE=X
