[Desktop Entry]
Name=UADescription (Safari 3.0 on iPhone)
Name[ar]=وصف وكيل-مستخدم (Safari 2.0 على MacOS X)
Name[bg]=UADescription (Safari 3.0 на iPhone)
Name[bn_IN]=UADescription (iPhone-র মধ্যে Safari 3.0)
Name[ca]=Descripció AU (Safari 3.0 a iPhone)
Name[cs]=Popis agenta (Safari 3.0 na iPhone)
Name[csb]=Òpisënk programë brëkòwnika (Safari 3.0 na iPhone)
Name[da]=Brugeragentbeskrivelse (Safari 3.0 på iPhone)
Name[de]=Browserkennung (Safari 3.0 auf dem iPhone)
Name[el]=Περιγραφή UA (Safari 3.0 σε iPhone)
Name[en_GB]=UADescription (Safari 3.0 on iPhone)
Name[es]=UADescription (Safari 3.0 en iPhone)
Name[et]=UADescription (Safari 3.0 iPhone platvormil)
Name[eu]=UADescription (Safari 3.0 iPhonen)
Name[fi]=Käyttäjäagenttikuvaus (Safari 3.0 iPhonella)
Name[fr]=UADescription (Safari 3.0 sur iPhone)
Name[fy]=UA-beskriuwing (Safari 3.0 op iPhone)
Name[ga]=UADescription (Safari 3.0 ar iPhone)
Name[gl]=UADescription (Safari 3.0 nun iPhone)
Name[gu]=UADescription (સફારી ૩.૦ આઇફોન પર)
Name[hi]=यूए-डिस्क्रिप्शन (आईफोन पर सफारी 3.0)
Name[hr]=UADescription (Safari 3.0 on iPhone)
Name[hu]=Böngészőtípus (Safari 3.0, iPhone)
Name[is]=UADescription (Safari 3.0 á iPhone)
Name[it]=DescrizioneUA (Safari 3.0 su iPhone)
Name[ja]=UADescription (Safari 3.0 on iPhone)
Name[km]=UADescription (Safari 3.0 នៅ​លើ iPhone)
Name[kn]=UAವಿವರಣೆ (iPhone ನಲ್ಲಿನ ಸಫಾರಿ ೩.೦)
Name[ko]=UADescription (iPhone의 Safari 3.0)
Name[lv]=UAApraksts (Safari 3.0 uz iPhone)
Name[mai]=यूए-डिस्क्रिप्शन (आइफोन पर सफारी 3.0)
Name[mk]=UADescription (Safari 3.0 на iPhone)
Name[ml]=യുഎവിവരണം (ഐഫോണിലെ സഫാരി 3.0)
Name[mr]=UADescription (MacOS X वरील Safari 2.0)
Name[nb]=Brukeragent (Safari 3.0 på iPhone)
Name[nds]=UA-Beschrieven (Safari 3.0 op iPhone)
Name[nl]=GA-beschrijving (Safari 3.0 op iPhone)
Name[nn]=Brukaragent (Safari 3.0 på iPhone)
Name[pa]=UADescription (MacOS X ਉੱਤੇ ਸਫ਼ਾਰੀ ੩.੦)
Name[pl]=Opis przeglądarki użytkownika (Safari 3.0 na iPhone)
Name[pt]=UADescription (Safari 3.0 no iPhone)
Name[pt_BR]=UADescription (Safari 3.0 no iPhone)
Name[ro]=Descriere AU (Safari 3.0 pe iPhone)
Name[ru]=UADescription (Safari 3.0 на iPhone)
Name[se]=UA-čilgehus (Safari 3.0 iPhones)
Name[si]=UADescription (iPhone මත Safari 3.0)
Name[sk]=Popis agenta (Safari 3.0 na iPhone)
Name[sl]=UAOpis (Safari 3.0 na iPhone)
Name[sr]=УА‑опис (Сафари 3.0 на и‑фону)
Name[sr@latin]=UA-opis (Safari 3.0 na iPhoneu)
Name[sv]=AA-beskrivning (Safari 3.0 på iPhone)
Name[tg]=UADescription (Safari 3.0 дар iPhone)
Name[tr]=Kullanıcı Uygulaması Tanımı (Safari 3.0 on MacOS X)
Name[uk]=UADescription (Safari 3.0 на iPhone)
Name[wa]=Idintifiaedje do betchteu (Safari 3.0 so iPhone)
Name[x-test]=xxUADescription (Safari 3.0 on iPhone)xx
Name[zh_CN]=用户代理描述(运行于 iPhone 的 Safari 3.0)
Name[zh_TW]=使用者代理描述 (Safari 3.0 on iPhone)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=SAF
X-KDE-UA-FULL=Mozilla/5.0 (iPhone; U; CPU like Mac OS X; appLanguage) AppleWebKit/420+ (KHTML, like Gecko) Version/3.0 Mobile/1A543a Safari/419.3
X-KDE-UA-NAME=Safari
X-KDE-UA-VERSION=3.0
X-KDE-UA-SYSNAME=(iPhone) Mac OS
X-KDE-UA-SYSRELEASE=X
