[Desktop Entry]
Name=UADescription (Safari 2.0 on MacOS X)
Name[be]=UADescription (Safari 1.2 на MacOS X)
Name[bg]=UADescription (Safari 2.0 на MacOS X)
Name[ca]=Descripció AU (Safari 2.0 a MacOS X)
Name[cs]=Popis UA (Safari 2.0 na MacOS X)
Name[csb]=Òpis programë brëkòwnika (Safari 2.0 na MacOS X)
Name[da]=UADescription (Safari 2.0 på MacOS X)
Name[de]=Browserkennung (Safari 2.0 unter MacOS X)
Name[el]=Περιγραφή UA (Safari 2 σε MacOS X)
Name[eo]=UA-Priskribo (Safari 2.0 sub MacOS X)
Name[es]=UADescription (Safari 2.0 en MacOS X)
Name[et]=UADescription (Safari 2.0 MacOS X platvormil)
Name[eu]=UA azalpena (Safari 2.0 MacOS Xn)
Name[fi]=Käyttäjäagenttikuvaus (Safari 2.0 MacOS X:llä)
Name[fr]=Identité du navigateur (Safari 2.0 sous MacOS X)
Name[fy]=GA-omskriuwing (Safari 2.0 op MacOS X)
Name[ga]=UADescription (Safari 2.0 ar MacOS X)
Name[gl]=UADescription (Safari 2.0 en MacOS X)
Name[he]=UADescription (‏Safari 2.0 על MacOS X)
Name[hi]=यूए-डिस्क्रिप्शन (मॅक-ओएस X में सफारी 2.0)
Name[hr]=UADescription (Safari 2.0 na MacOS X)
Name[hu]=Böngészőtípus (Safari 2.0, MacOS X)
Name[is]=UA strengur (Safari 2.0 á MacOS X)
Name[it]=DescrizioneUA (Safari 2.0 su MacOS X)
Name[kk]=UADescription (Safari 2.0 / MacOS X)
Name[km]=UADescription (Safari 2.0 នៅ​លើ MacOS X)
Name[ko]=UADescription (Mac OS X의 Safari 2.0)
Name[ku]=Pênasa UA (Safari 2.0 ji bo MacOS X)
Name[lt]=Naudotojo agento aprašymas (Safari 2.0 ir MacOS X)
Name[lv]=UAApraksts (Safari 2.0 uz MacOS X)
Name[nb]=Brukeragent (Safari 2.0 på MacOS X)
Name[nds]=UA-Beschrieven (Safari 2.0 op MacOS X)
Name[ne]=UA वर्णन (MacOS X मा Safari 1.2)
Name[nl]=GA-beschrijving (Safari 2.0 op MacOS X)
Name[nn]=Brukaragent (Safari 2.0 på MacOS X)
Name[pa]=UADescription (MacOS X ਉੱਤੇ ਸਫ਼ਾਰੀ 2.0)
Name[pl]=Opis przeglądarki użytkownika (Safari 2.0 na MacOS X)
Name[pt]=UADescription (Safari 2.0 no MacOS X)
Name[pt_BR]=UADescription (Safari 2.0 no MacOS X)
Name[ro]=Descriere UA (Safari 2.0 pentru MacOS X)
Name[ru]=UADescription (Safari 2.0 на Mac MacOS X)
Name[se]=UA-čilgehus (Safari 2.0 ja MacOS X)
Name[sl]=UAOpis (Safari 2.0 na MacOS X)
Name[sr]=УА‑опис (Сафари 2.0 на МекОС‑у X)
Name[sr@latin]=UA-opis (Safari 2.0 na MacOS‑u X)
Name[sv]=AA-beskrivning (Safari 2.0 på MacOS X)
Name[th]=UADescription (ซาฟารี 2.0 บน MacOS X)
Name[uk]=UADescription (Safari 2.0 на MacOS X)
Name[uz]=UADescription (MacOS X билан Safari 2.0)
Name[vi]=Mô tả UA (Safari 2.0 trên MacOS X)
Name[wa]=Idintifiaedje do betchteu (Safari 2.0 so MacOS X)
Name[x-test]=xxUADescription (Safari 2.0 on MacOS X)xx
Name[zh_CN]=用户代理描述(运行于 MacOS X 的 Safari 2.0)
Name[zh_TW]=使用者代理描述 (Safari 2.0 on MacOS X)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=SAF
X-KDE-UA-FULL=Mozilla/5.0 (Macintosh; U; PPC Mac OS X; appLanguage) AppleWebKit/412 (KHTML, like Gecko) Safari/412
X-KDE-UA-NAME=Safari
X-KDE-UA-VERSION=2.0
X-KDE-UA-SYSNAME=Mac OS
X-KDE-UA-SYSRELEASE=X
