[Desktop Entry]
Name=UADescription (Wget 1.11.4)
Name[gu]=UADescription (Wget ૧.૧૧.૪)
Name[nds]=UA-Beschrieven (Wget 1.11.4)
Name[sv]=AA-beskrivning (Wget 1.11.4)
Name[tr]=Kullanıcı Uygulaması Tanımı (Wget 1.11.4)
Name[zh_TW]=使用者代理描述 (Wget 1.11.4)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MISC
X-KDE-UA-FULL=Wget/1.11.4
X-KDE-UA-NAME=Wget
X-KDE-UA-VERSION=1.11.4
