[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=khtmlsettingsplugin
X-KDE-PluginInfo-Author=Carsten Pfeiffer
X-KDE-PluginInfo-Email=pfeiffer@kde.org
X-KDE-PluginInfo-Name=khtmlsettingsplugin
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=KHTML Settings
Name[ca]=Arranjament del KHTML
Name[cs]=Nastavení KHTML
Name[da]=KHTML-indstillinger
Name[de]=KHTML-Einstellungen
Name[es]=Preferencias de KHTML
Name[et]=KHTML-i seadistused
Name[ia]=Preferentias KHTML
Name[it]=Impostazioni KHTML
Name[ja]=KHTML 設定
Name[kk]=KHTML параметрлері
Name[lt]=KHTML nustatymai
Name[nb]=KHTML-innstillinger
Name[nds]=KHTML-Instellen
Name[nl]=KHTML-instellingen
Name[nn]=KHTML-innstillingar
Name[pt]=Configuração do KHTML
Name[pt_BR]=Configurações do KHTML
Name[ru]=Параметры KHTML
Name[sr]=Поставке КХТМЛ‑а
Name[sr@ijekavian]=Поставке КХТМЛ‑а
Name[sr@ijekavianlatin]=Postavke KHTML‑a
Name[sr@latin]=Postavke KHTML‑a
Name[sv]=KHTML-inställningar
Name[uk]=Параметри KHTML
Name[x-test]=xxKHTML Settingsxx
Name[zh_TW]=KHTML 設定
Comment=A fast way to change the KHTML settings
Comment[ca]=Una manera ràpida de canviar els paràmetres del KHTML
Comment[cs]=Rychlý způsob jak změnit nastavení KHTML
Comment[da]=En hurtig måde at ændre KHTML's indstillinger
Comment[de]=Schnelle Möglichkeit zur Änderung der KHTML-Einstellungen
Comment[es]=Una manera rápida de cambiar las preferencias de KHTML
Comment[et]=Võimalus kiiresti muuta KHTML-i seadistusi
Comment[ia]=Un modo rapide de cambiar le preferentias de KHTML
Comment[it]=Un modo veloce di cambiare le impostazioni di KHTML
Comment[ja]=KHTML 設定を素早く変更できます
Comment[kk]=KHTML параметрлерін өзгертудің оңай жолы
Comment[lt]=Greitas KHTML nustatymų keitimo būdas
Comment[nb]=En rask måte å endre innstillinger for KHTML
Comment[nds]=De KHTML-Instellen gau ännern
Comment[nl]=Een snelle manier om de KHTML-instellingen te wijzigen
Comment[nn]=Ein rask måte å endra KHTML-innstillingane på
Comment[pt]=Uma forma rápida de mudar a configuração do KHTML
Comment[pt_BR]=Uma forma rápida de alterar as configurações do KHTML
Comment[ru]=Быстрый способ поменять параметры KHTML
Comment[sr]=Брз начин да измените поставке КХТМЛ‑а
Comment[sr@ijekavian]=Брз начин да измените поставке КХТМЛ‑а
Comment[sr@ijekavianlatin]=Brz način da izmenite postavke KHTML‑a
Comment[sr@latin]=Brz način da izmenite postavke KHTML‑a
Comment[sv]=Ett snabbt sätt att ändra KHTML-inställningarna
Comment[uk]=Швидкий шлях зміни параметрів KHTML
Comment[x-test]=xxA fast way to change the KHTML settingsxx
Comment[zh_TW]=快速變更 KHTML 設定的方式
X-KDE-ParentApp=konqueror
Icon=configure
DocPath=konq-plugins/khtmlsettings/index.html
