[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=khtmlsettingsplugin
X-KDE-PluginInfo-Author=Carsten Pfeiffer
X-KDE-PluginInfo-Email=pfeiffer@kde.org
X-KDE-PluginInfo-Name=khtmlsettingsplugin
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=KHTML Settings
Name[ca]=Arranjament del KHTML
Name[cs]=Nastavení KHTML
Name[de]=KHTML-Einstellungen
Name[ia]=Preferentias KHTML
Name[lt]=KHTML nustatymai
Name[nl]=KHTML-instellingen
Name[pt]=Configuração do KHTML
Name[sv]=KHTML-inställningar
Name[uk]=Параметри KHTML
Name[x-test]=xxKHTML Settingsxx
Comment=A fast way to change the KHTML settings
Comment[ca]=Una manera ràpida de canviar els paràmetres del KHTML
Comment[cs]=Rychlý způsob jak změnit nastavení KHTML
Comment[de]=Schnelle Möglichkeit zur Änderung der KHTML-Einstellungen
Comment[ia]=Un modo rapide de cambiar le preferentias de KHTML
Comment[lt]=Greitas KHTML nustatymų keitimo būdas
Comment[nl]=Een snelle manier om de KHTML-instellingen te wijzigen
Comment[pt]=Uma forma rápida de mudar a configuração do KHTML
Comment[sv]=Ett snabbt sätt att ändra KHTML-inställningarna
Comment[uk]=Швидкий шлях зміни параметрів KHTML
Comment[x-test]=xxA fast way to change the KHTML settingsxx
X-KDE-ParentApp=konqueror
Icon=configure
DocPath=konq-plugins/khtmlsettings/index.html
