[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,text/x-java
Actions=Print;

[Desktop Action Print]
Name=Print...
Exec=kprinter -t %n --caption %n %i %U
Icon=filequickprint
