[Desktop Entry]
Type=Service
Name=Web Archives and HTML files
Name[ca]=Arxius web i fitxers HTML
Name[ca@valencia]=Arxius web i fitxers HTML
Name[el]=Αρχειοθήκες ιστού και HTML αρχεία
Name[en_GB]=Web Archives and HTML files
Name[es]=Archivos web y HTML
Name[it]=Archivi web e file HTML
Name[ko]=웹 보관 파일과 HTML 파일
Name[nl]=Webarchieven en HTML-bestanden
Name[pt]=Arquivos Web e ficheiros HTML
Name[pt_BR]=Arquivos da Internet e arquivos HTML
Name[sl]=Spletni arhivi in datoteke HTML
Name[sv]=Webbarkiv och HTML-filer
Name[uk]=Вебархіви та файли HTML
Name[x-test]=xxWeb Archives and HTML filesxx
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-webarchive;text/html;application/xhtml+xml;
X-KDE-Library=webarchivethumbnail
CacheThumbnail=true
