[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=autorefresh
X-KDE-PluginInfo-Author=Richard J. Moore
X-KDE-PluginInfo-Email=rich@kde.org
X-KDE-PluginInfo-Name=autorefresh
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Auto Refresh
Name[ar]=محلق التحديث التلقائي
Name[bg]=Автоматично обновяване
Name[bs]=Autoosvežavanje
Name[ca]=Refresc automàtic
Name[ca@valencia]=Refresc automàtic
Name[cs]=Automaticky obnovit
Name[da]=Genopfrisk automatisk
Name[de]=Automatische Aktualisierung
Name[el]=Αυτόματη ανανέωση
Name[en_GB]=Auto Refresh
Name[es]=Refresco automático
Name[et]=Automaatne uuendamine
Name[eu]=Freskatu automatikoki
Name[fi]=Automaattinen päivitys
Name[fr]=Rafraîchir automatiquement
Name[ga]=Athnuachan Uathoibríoch
Name[gl]=Refrescar automaticamente
Name[he]=רענון אוטומטי
Name[hr]=Automatsko osvježavanje
Name[hu]=Automatikus frissítés
Name[ia]=Refrescamento automatic
Name[id]=Segarkan Otomatis
Name[is]=Uppfæra sjálfkrafa
Name[it]=Aggiornamento automatico
Name[ja]=自動更新
Name[kk]=Автожаңарту
Name[km]=ធ្វើ​ឲ្យ​ស្រស់​ដោយ​ស្វ័យប្រវត្តិ
Name[ko]=자동 새로 고침
Name[lt]=Automatiškai atnaujinti
Name[lv]=Autoatjaunošana
Name[mr]=स्वयंचलित ताजे करा
Name[nb]=Automatisk oppfriskning
Name[nds]=Automaatsch Opfrischen
Name[nl]=Autoverversen
Name[nn]=Automatisk oppdatering
Name[pa]=ਆਟੋ ਤਾਜ਼ਾ
Name[pl]=Auto-odświeżanie
Name[pt]=Actualização Automática
Name[pt_BR]=Atualizar automaticamente
Name[ro]=Reîmprospătare automată
Name[ru]=Автообновление
Name[sk]=&Automatická obnova
Name[sl]=Samodejno osveževanje
Name[sr]=Аутоматско освежавање
Name[sr@ijekavian]=Аутоматско освјежавање
Name[sr@ijekavianlatin]=Automatsko osvježavanje
Name[sr@latin]=Automatsko osvežavanje
Name[sv]=Automatisk uppdatering
Name[tg]=Худнавсозӣ
Name[th]=เรียกปรับปรุงอัตโนมัติ
Name[tr]=Otomatik Tazele
Name[ug]=ئۆزلۈكىدىن يېڭىلا
Name[uk]=Автоматичне оновлення
Name[wa]=Oto-rafristaedje 
Name[x-test]=xxAuto Refreshxx
Name[zh_CN]=自动刷新
Name[zh_TW]=自動刷新
Comment=Auto Refresh plugin
Comment[ar]=محلق  الإنعاش التلقائي
Comment[bg]=Приставка за автоматично обновяване
Comment[bs]=Priključak autoosvežavanja
Comment[ca]=Connector de refresc automàtic
Comment[ca@valencia]=Connector de refresc automàtic
Comment[cs]=Automaticky obnovit modul
Comment[da]=Automatisk genindlæsning af sider
Comment[de]=Modul für automatische Aktualisierung
Comment[el]=Πρόσθετο αυτόματης ανανέωσης
Comment[en_GB]=Auto Refresh plugin
Comment[es]=Complemento de refresco automático
Comment[et]=Automaatse uuendamise plugin
Comment[eu]=Automatikoki freskatzeko plugina
Comment[fi]=Automaattinen päivitys
Comment[fr]=Module externe de rafraîchissement automatique
Comment[ga]=Breiseán Athnuachana Uathoibríche
Comment[gl]=Complemento de actualización automática
Comment[he]=תוסף רענון אוטומטי
Comment[hne]=अपने अपन ताजा करे के प्लगइन
Comment[hr]=Priključak za automatsko osvježavanje
Comment[hu]=Automatikusfrissítés-bővítmény
Comment[ia]=Plug-in de refrescamento automatic
Comment[id]=Plugin Segarkan Otomatis
Comment[is]=Íforrit fyrir sjálfvirka endurhleðslu
Comment[it]=Estensione di aggiornamento automatico
Comment[ja]=自動更新プラグイン
Comment[kk]=Автожаңарту плагині
Comment[km]=កម្មវិធី​ជំនួយ​ធ្វើ​ឲ្យ​ស្រស់​ស្វ័យ​ប្រវត្តិ​
Comment[ko]=자동 새로 고침 플러그인
Comment[ku]=Pêveka Nûkirina Bixweber
Comment[lt]=Automatinio atnaujinimo priedas
Comment[lv]=Automātiskās atjaunošanas spraudnis
Comment[mr]=स्वयंचलित ताजे करणारे प्लगइन
Comment[nb]=Programtillegg for automatisk oppfriskning
Comment[nds]=Moduul för't automaatsche Opfrischen
Comment[nl]=Autoverversplugin
Comment[nn]=Tillegg for automatisk oppdatering
Comment[oc]=Ajuston d'actualizacion automatica
Comment[pa]=ਆਟੋ ਤਾਜ਼ਾ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka auto-odświeżenia
Comment[pt]='Plugin' de Actualização Automática
Comment[pt_BR]=Plugin de atualização automática
Comment[ro]=Modul de actualizare automată
Comment[ru]=Модуль автообновления
Comment[sk]=Samočinne obnoviť modul
Comment[sl]=Vstavek za samodejno osveževanje
Comment[sr]=Прикључак аутоматског освежавања
Comment[sr@ijekavian]=Прикључак аутоматског освјежавања
Comment[sr@ijekavianlatin]=Priključak automatskog osvježavanja
Comment[sr@latin]=Priključak automatskog osvežavanja
Comment[sv]=Insticksprogram för automatisk uppdatering
Comment[tg]=Плагини худнавсозӣ
Comment[th]=ส่วนเสริมเรียกปรับปรุงอัตโนมัติ
Comment[tr]=Otomatik Yenileme eklentisi
Comment[ug]=ئۆزلۈكىدىن يېڭىلاش قىستۇرمىسى
Comment[uk]=Додаток автоматичного оновлення
Comment[wa]=Tchôke-divins d' oto-rafristaedje
Comment[x-test]=xxAuto Refresh pluginxx
Comment[zh_CN]=自动刷新插件
Comment[zh_TW]=自動刷新外掛程式
Icon=view-refresh
X-KDE-ParentApp=konqueror

