[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/ebrowsing/index.html
Icon=preferences-web-browser-shortcuts
Exec=kcmshell4 ebrowsing

X-KDE-Library=kcm_kurifilt
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=account-details

Name=Web Shortcuts

Comment=Configure enhanced browsing

X-KDE-Keywords=Enhanced Browsing,Browsing,WWW,Internet,Internet Filters,Network,Search Engines,Shortcuts

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
