[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/ebrowsing/index.html
Icon=preferences-web-browser-shortcuts
Exec=kcmshell4 ebrowsing

X-KDE-Library=kcm_kurifilt
X-KDE-ParentApp=kcontrol

Name=Web Shortcuts
Name[af]=Web Kortpaaie
Name[ar]=إختصارات الشبكة
Name[be]=Скароты Сеціва
Name[bg]=Уеб съкращения
Name[bn]=ওয়েব শর্টকাট
Name[br]=Berradennoù ar gwiad
Name[ca]=Dreceres web
Name[cs]=Webové zkratky
Name[csb]=Sécowé skrodzënë
Name[cy]=Byr-lwybrau Gwe
Name[da]=Net-genveje
Name[de]=Webkürzel
Name[el]=Συντομεύσεις ιστού
Name[eo]=TTT klavokombinoj
Name[es]=Accesos rápidos para web
Name[et]=Veebi kiirkorraldused
Name[eu]=Web lasterbideak
Name[fa]=میان‌برهای وب
Name[fi]=WWW-pikavalinnat
Name[fr]=Raccourcis Web
Name[fy]=Webskeakels
Name[ga]=Aicearraí Gréasáin
Name[gl]=Atallos web
Name[he]=קיצורי דרך אינטרנטיים
Name[hi]=वेब शॉर्टकट
Name[hr]=Internetski prečaci
Name[hu]=Keresési azonosítók
Name[is]=Vefskammstafanir
Name[it]=Scorciatoie del web
Name[ja]=ウェブショートカット
Name[ka]=ვებგვერდების მალსახმობი 
Name[kk]=Веб қысқартулары
Name[km]=ផ្លូវកាត់​បណ្ដាញ
Name[ko]=웹 바로 가기
Name[ku]=Kurteriyên Webê
Name[lt]=Žiniatinklio trumpės
Name[lv]=Ātrās meklēšanas īsceļi
Name[mk]=Интернет-кратенки
Name[ms]=Jalan Pintas Web
Name[nb]=Nettsnarveier
Name[nds]=Söökafkörten
Name[ne]=वेब सर्टकट
Name[nl]=Webkoppelingen
Name[nn]=Vevsnarvegar
Name[pa]=ਵੈਬ ਸ਼ਾਰਟਕੱਟ
Name[pl]=Skróty sieciowe
Name[pt]=Atalhos Web
Name[pt_BR]=Atalhos da Web
Name[ro]=Acceleratori de web
Name[ru]=Сокращения Веб
Name[se]=Fierpmádatlávkestagat
Name[sk]=Internetové skratky
Name[sl]=Spletne bližnjice
Name[sr]=Веб пречице
Name[sr@latin]=Veb prečice
Name[sv]=Webbgenvägar
Name[ta]=வலை குறுக்கு வழிகள்
Name[tg]=Мухтасаркунии Вэб
Name[th]=ทางลัดเว็บ
Name[tr]=Web Kısayolları
Name[uk]=Скорочення Тенет
Name[uz]=Веб-қисқартмалари
Name[vi]=Lối tắt Mạng
Name[wa]=Rascourtis waibe
Name[x-test]=xxWeb Shortcutsxx
Name[xh]=Ezimfutshane ze Web
Name[zh_CN]=网页快捷方式
Name[zh_TW]=網頁捷徑

Comment=Configure enhanced browsing
Comment[af]=Konfigureer verbeterde blaaiïng
Comment[ar]=اضبط التصفح المحسّن
Comment[be]=Настаўленні прасунутага вандравання
Comment[bg]=Настройване на уеб съкращения и бързи препратки
Comment[bn]=বর্ধিত ব্রাউজিং কনফিগার করুন
Comment[br]=Kefluniañ ar furchal gwellaet
Comment[ca]=Aquí podeu configurar la navegació millorada
Comment[cs]=Nastavení rozšířeného prohledávání
Comment[csb]=Kònfigùracëjô rozszérzonëch cechów przezéraniô
Comment[cy]=Ffurfweddu pori uchel
Comment[da]=Indstil udvidet netsøgning
Comment[de]=Die Verwendung von Webkürzeln einrichten
Comment[el]=Ρυθμίστε την εμπλουτισμένη περιήγηση
Comment[eo]=Agordi la plibonigitan foliumadon
Comment[es]=Configuración de la navegación mejorada
Comment[et]=Täiustatud lehitsemise konfigureerimine
Comment[eu]=Konfiguratu arakatze hobetua
Comment[fa]=پیکربندی مرور بهبودیافته
Comment[fi]=Muokkaa selaimen lisäasetuksia
Comment[fr]=Configuration de la navigation avancée
Comment[fy]=Hjir kinne jo it avansearre blêdzjen ynstelle
Comment[ga]=Cumraigh brabhsáil fheabhsaithe
Comment[gl]=Configurar a navegación mellorada
Comment[he]=שינוי הגדרות הגלישה המשופרת
Comment[hi]=एनहेंस्ड ब्राउज़िंग कॉन्फ़िगर करें
Comment[hr]=Konfiguriranje poboljšanog pregledavanja
Comment[hu]=A keresési beállításokat lehet módosítani
Comment[is]=Hér getur þú stillt endurbætur á vefskoðara
Comment[it]=Configurazione della navigazione avanzata
Comment[ja]=拡張ブラウズの設定
Comment[kk]=Вебті шарлағанда қолданатын қысқартулар
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​រុករក​ឲ្យ​កាន់​តែ​ប្រសើរ
Comment[ko]=확장 브라우징 설정
Comment[ku]=Avakirina Gerîna Pêşkeftî
Comment[lt]=Konfigūruoti išplėstinį naršymą
Comment[lv]=Šeit jūs varat konfigurēt pārkūkošanas uzlabojumus
Comment[mk]=Конфигурирајте го напредното прелистување
Comment[ms]=Konfigur pelayaran lanjutan
Comment[nb]=Tilpass utvidet surfing
Comment[nds]=Söökafkörten för't gaue Söken in't Nett inrichten
Comment[ne]=बढाइएको ब्राउजिङ कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u het geavanceerd browsen instellen
Comment[nn]=Oppsett av utvida surfing
Comment[pa]=ਸਹਾਇਕ ਝਲਕਾਰਾ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja rozszerzonych cech przeglądania
Comment[pt]=Configuração da navegação melhorada
Comment[pt_BR]=Configurar a navegação melhorada
Comment[ro]=Configurează navigarea de web avansată
Comment[ru]=Сокращения, используемые при просмотре Веб
Comment[se]=Heivet viiddiduvvon fierbmegolgama
Comment[sk]=Nastaenie rozšíreného prehliadača
Comment[sl]=Nastavite izboljšano brskanje
Comment[sr]=Подеси побољшано прегледање
Comment[sr@latin]=Podesi poboljšano pregledanje
Comment[sv]=Anpassa utökad webbläsning
Comment[ta]= மேம்படுத்தப்பட்ட தேடுதலை அமை
Comment[tg]=Мухтасаркунӣ, дар вақти тасвири Вэб истифода мешаванд
Comment[th]=ปรับแต่งการเรียกดูแบบเพิ่มความสามารถ
Comment[tr]=Gelişmiş taramayı yapılandır
Comment[uk]=Налаштування спецфункцій навігації
Comment[uz]=Тезлаштирилган веб-кўришни мослаш
Comment[vi]=Cấu hình khả năng duyệt tăng cường
Comment[wa]=Apontyî li naiviaedje waibe avancî
Comment[x-test]=xxConfigure enhanced browsingxx
Comment[xh]=Qwalasela ukhangelo lwencwadi olongezelelweyo
Comment[zh_CN]=配置增强浏览特性
Comment[zh_TW]=設定增強式瀏覽

X-KDE-Keywords=Enhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts
X-KDE-Keywords[af]=Verbeterde Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts
X-KDE-Keywords[be]=Палепшанае вандраванне,вандраванне,прагляд,Інэтрнэт,ключавыя словы,фільтры,сетка,рухавікі пошуку,машыны пошуку,скароты,Enhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts
X-KDE-Keywords[bg]=Keywords=съкращения, сърфиране, разширено, уеб, препратка, връзка, хипервръзка, Enhanced Browsing, Browsing, WWW, Internet, Internet Keywords, Internet Filters, Network, Search Engines, Shortcuts
X-KDE-Keywords[ca]=Navegació millorada,Navegació,WWW,Internet,Paraules clau d'Internet,Filtres d'Internet,Xarxa,Motors de recerca,Dreceres
X-KDE-Keywords[cs]=Rozšířené procházení,Procházení,WWW,Internet,Klíčová slova internetu,Internetové filtry,Síť,Zkratky,Vyhledávací stroje
X-KDE-Keywords[csb]=Rozszérzoné przezéranié,przezéranié,WWW,Internet,kluczowé słowa w Internece,filtrë w Internece,séc,szëkôrze,skrodzënë
X-KDE-Keywords[cy]=Pori Uchel,Pori,WWW,Rhyngrwyd,Allweddair Rhyngrwyd,Hidl Rhyngrwyd,Rhwydwaith,Peiriannau Chwilio,Llwybrau Byr
X-KDE-Keywords[da]=Udvidet netsøgning,Netsøgning,www,Internet,Internet-nøgleord,Internet-filtre,Søgemaskiner,Genveje
X-KDE-Keywords[de]=Browsen,Erweitertes Browsen,WWW,Internet,Stichwörter,Filter,Netz,Internetfilter,Suchmaschinen,Kurzbefehle,Netzwerk
X-KDE-Keywords[el]=Εμπλουτισμένη περιήγηση,Περιήγηση,WWW,Διαδίκτυο,Λέξεις κλειδιά διαδικτύου,Φίλτρα διαδικτύου,Δίκτυο,Μηχανές αναζήτησης,Συντομεύσεις
X-KDE-Keywords[eo]=progresintoj,TTT,krozado,WWW,Interreto,filtrilo,reto,serĉiloj,mallongigoj
X-KDE-Keywords[es]=Navegación Mejorada,Navegación,WWW,Internet,Palabras clave de Internet,Filtros de Internet,Red,Motores de búsqueda,Accesos directos
X-KDE-Keywords[et]=Täiustatud lehitsemine,lehitsemine,WWW,internet,interneti võtmesõnad,interneti filtrid,võrk,otsingumootorid,kiirkorraldused
X-KDE-Keywords[eu]=Arakatze hobetua,Arakatzea,WWW,Internet,Interneteko hitz gakoak, Interneteko irakazkiak,Sarea,Bilaketa motorea,Lasterbideak
X-KDE-Keywords[fa]=مرور بهبودیافته، مرور، WWW، اینترنت، کلیدواژه‌های اینترنت، پالایه‌های اینترنت، شبکه، موتورهای جستجو، میان‌برها
X-KDE-Keywords[fi]=Edistynyt selailu,selailu,WWW,Internet,Internet-hakusanat,Internet suodattimet,Verkko,Hakukoneet,Pikavalinnat
X-KDE-Keywords[fr]=navigation avancée,navigation,www,web,internet,mots-clés internet,filtres internet,réseau,moteurs de recherche,raccourcis
X-KDE-Keywords[fy]=avansearre browsen,browsing,blêdzje,blêdzjen,www,ynternet,ynternet kaaiwurden,surfen,ynternetsykwurden,sykmasines,sykmotors, snelskeakels,ynternetfilters,Netwurk,blêdzje avensearre
X-KDE-Keywords[ga]=Brabhsáil Fheabhsaithe,Brabhsáil,WWW,Idirlíon,Eochairfhocail Idirlín,Scagairí Idirlín,Líonra,Innill Chuardaigh,Aicearraí
X-KDE-Keywords[gl]=Navegación Mellorada,Navegación,WWW,Internet,Palabras chave de Internet,Filtros de Internet,Rede,Ferramentas de Procura,Atallos
X-KDE-Keywords[he]=מילות מפתח אינטרנטיות,מסננים אינטרנטיים,רשת,מנועי חיפוש,קיצורי דרך,WWW,גלישה משופרת,גלישה,רשת,אינטרנט,Enhanced Browsing,Browsing,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts
X-KDE-Keywords[hr]=Enhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts,poboljšano pregledavanje,pregledavanje,ključne riječi,filtri,mreža,tražilice,prečaci
X-KDE-Keywords[hu]=böngészéskönnyítés,böngészés,WWW,internet,internetes kulcsszavak,internetes szűrők,hálózat,keresőszolgáltatók,keresési azonosítók
X-KDE-Keywords[is]=endurbætur,vefskoðun,vafri,flakka,WWW,Internet,Internet leitarorð,net,tenglar,tengill,hlekkur,hlekkir,leitarvél,internet
X-KDE-Keywords[it]=navigazione avanzata,navigazione,WWW,Internet,parole chiave Internet,filtri Internet,rete,scorciatoie,motori di ricerca
X-KDE-Keywords[ja]=拡張ブラウズ,ブラウズ,WWW,インターネット,インターネットキーワード,インターネットフィルタ,ネットワーク,検索エンジン,ショートカット
X-KDE-Keywords[km]=ការ​រុករក​ឲ្យ​កាន់​តែ​ប្រសើរការ​រុករក វើលវ៉ាយវ៉េប អ៊ីនធឺណិត ពាក្យ​គន្លឹះ​អ៊ីនធឺណិត តម្រង​អ៊ីនធឺណិត បណ្ដាញ ម៉ាស៊ីន​ស្វែងរក ផ្លូវ​កាត់
X-KDE-Keywords[ko]=Enhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts,확장 브라우징,인터넷 키워드,검색 엔진,바로 가기
X-KDE-Keywords[lt]=Enhanced Browsing,Išplėstinis naršymas,WWW,voratinklis,Internet,Internetas,Internet Keywords,Interneto raktažodžiai,Internet Filters,Interneto filtrai,Network,tinklas,Search Engines,paieškos stotys,Shortcuts,nuorodos
X-KDE-Keywords[lv]=Uzlabota Pārlūkošana,Pārlūkošana,WWW,Internets,Interneta Atslēgas vārdi,Interneta Filtri,Tīkls,Meklēšanas dzinēji,ĪsinājumIkonas
X-KDE-Keywords[mk]=Enhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts,унапредено прелистување,Прелистување,Интернет,Клучни Интернет зборови,Интернет филтри,Мрежа,Пребарувачки сервиси,Кратенки
X-KDE-Keywords[nb]=utvidet surfing,surfing,WWW,internett,internettnøkkelord,internettfilter,nettverk,verdensveven,søkemotorer,søking,snarveier
X-KDE-Keywords[nds]=Verbetert Nettkieken,Nettkieken,WWW,Internet,Internet-Slötelwöör,Internet-Filtern,Nettwark,Söökmaschinen,Tastkombinatschonen,Söökafkörten
X-KDE-Keywords[ne]=बढाइएको ब्राउजिङ, ब्राउजिङ, WWW, इन्टरनेट, इन्टरनेट शब्दकुञ्जीहरू, इन्टरनेट फिल्टरहरू, सञ्जाल, खोजी इन्जीनहरू, सर्टकट
X-KDE-Keywords[nl]=geavanceerd browsen,browsing,www,internet,internet keywords,surfen,internetzoektermen,zoekmachines,search engines,snelkoppelingen,internetfilters,Netwerk,verbeterd browsen
X-KDE-Keywords[nn]=utvida surfing,surfing,WWW,internett,internettnøkkelord,internettfilter,nettverk,verdsveven,søkjemotorar,søkjing,snarvegar
X-KDE-Keywords[pa]=Enhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts,ਇੰਟਰਨੈਟ,ਇੰਟਰਨੈਟ ਸ਼ਬਦ,ਇੰਟਰਨੈਟ ਫਿਲਟਰ, ਨੈਟਵਰਕ
X-KDE-Keywords[pl]=Rozszerzone przeglądanie,przeglądanie,WWW,Internet,słowa kluczowe w Internecie,filtry w Internecie,sieć,przeszukiwarki,skróty
X-KDE-Keywords[pt]=Navegação Melhorada,Navegação,WWW,Internet,Palavras-Chave da Internet,Filtros Internet,Rede,Motores de Busca,Atalhos
X-KDE-Keywords[pt_BR]=Navegação Melhorada,Navegação,WWW,Internet,Palavras-chave Internet, Filtros Internet,Rede,Mecanismos de Busca,Atalhos
X-KDE-Keywords[ro]=navigare avansată,răsfoire,WWW,Internet,cuvinte cheie Internet,filtre Internet,reţea,motoare de căutare,acceleratori
X-KDE-Keywords[sl]=izboljšano brskanje,brskanje,WWW,splet,internet,ključne besede interneta,filtri interneta,omrežje,iskalni stroji,bližnjice
X-KDE-Keywords[sr]=Enhanced Browsing,Browsing,WWW,Интернет,Интернет Keywords,Интернет Filters,Network,Search Engines,Shortcuts,прегледање,мрежа,пречице
X-KDE-Keywords[sr@latin]=Enhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts,pregledanje,mreža,prečice
X-KDE-Keywords[sv]=Utökad webbläsning,Surfning,WWW,Internet,Internetsökord,Nätverk,Sökmotorer,Internetfilter,Genvägar
X-KDE-Keywords[ta]= அதிகப்படுத்தப்பட்ட உலாவுதல்,உலாவுதல்,WWW,இணைதளம்,இணைய முக்கிய வார்த்தைகள்,இணையதள வடிகட்டிகள்,வலைப்பின்னல்,தேடு இயந்திரங்கள்,குறுக்கு வழிகள்
X-KDE-Keywords[th]=การเรียกดูแบบเพิ่มความสามารถ,การเรียกดู,WWW,อินเทอร์เน็ต,คำค้นทางอินเทอร์เน็ต,ตัวกรองทางอินเทอร์เน็ต,Network,เครื่องมือค้นหา,ทางลัด
X-KDE-Keywords[tr]=Gelişkin Tarama,Tarama,WWW,İnternet,İnternet Anahtar Kelimeleri,İnternet Süzgeçleri,Ağ,Kısayollar,Kısayol tuşları
X-KDE-Keywords[uk]=додаткова навігація,навігація,Browsing,WWW,Інтернет,Тенета,Internet,Мережа,машини пошуку,фільтри Інтернет,посилання
X-KDE-Keywords[uz]=Тезлаштирилган веб-кўриш,Қисқартмалар,WWW,Интернет,Интернет калит сўзлари,Интернет филтерлари,Тармоқ,Қидириш воситаси,Қисқартмалар
X-KDE-Keywords[vi]=Duyệt tăng cường,Duyệt,WWW,Mạng,Internet,Từ khoá Mạng,Bộ lọc Mạng,mạng,Tìm kiếm,Lối tắt
X-KDE-Keywords[wa]=Naiviaedje waibe avancî,naivyî,naiviaedje,betchteu,waibe,WWW,internet,daegntoele,rascourtis waibe,passetes waibe,rantoele,ricwerreces,rascourtis
X-KDE-Keywords[x-test]=xxEnhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcutsxx
X-KDE-Keywords[xh]=Ukhangelo zincwadi olomeleziweyo,Khangela iincwadi,WWW,Amagama angundoqo e Internet,Amacebo okucoca ulwelo e Internet,Umsebenzi womnatha,Iinjini Zophendlo,Iindlela ezimfutshane
X-KDE-Keywords[zh_CN]=Enhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts,增强浏览,浏览,万维网,互联网,Internet 关键字,Internet 过滤,网络,搜索引擎,快捷方式,快捷方式
X-KDE-Keywords[zh_TW]=Enhanced Browsing,Browsing,WWW,Internet,Internet Keywords,Internet Filters,Network,Search Engines,Shortcuts,增強瀏覽,瀏覽,網際網路,網路,搜尋引擎,捷徑

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
