[Desktop Entry]
Exec=kfind %u
Icon=kfind
X-DocPath=kfind/index.html
Type=Application
Terminal=false
Name=Find Files/Folders
X-KDE-StartupNotify=true
OnlyShowIn=KDE;
Categories=Qt;KDE;Core;
