[Desktop Entry]
Type=Link
URL=applications:/
Icon=start-here-kde
Name=Applications
Name[af]=Programme
Name[ar]=التطبيقات
Name[be]=Праграмы
Name[bg]=Програми
Name[bn]=অ্যাপলিকেশন
Name[bn_IN]=অ্যাপ্লিকেশন তালিকা
Name[br]=Arloadoù
Name[ca]=Aplicacions
Name[cs]=Aplikace
Name[csb]=Programë
Name[cy]=Cymhwysiadau
Name[da]=Programmer
Name[de]=Programme
Name[el]=Εφαρμογές
Name[eo]=Aplikaĵoj
Name[es]=Aplicaciones
Name[et]=Rakendused
Name[eu]=Aplikazioak
Name[fa]=کاربردها
Name[fi]=Sovellukset
Name[fy]=Programma's
Name[ga]=Feidhmchláir
Name[gl]=Programas
Name[gu]=કાર્યક્રમો
Name[he]=תוכניות
Name[hi]=अनुप्रयोग
Name[hr]=Aplikacije
Name[hu]=Alkalmazások
Name[is]=Forrit
Name[it]=Applicazioni
Name[ja]=アプリケーション
Name[ka]=პროგრამები
Name[kk]=Қолданбалар
Name[km]=កម្មវិធី
Name[kn]=ಅನ್ವಯಗಳು
Name[ko]=응용 프로그램
Name[ku]=Sepan
Name[lt]=Programos
Name[lv]=Programmas
Name[mk]=Апликации
Name[ml]=പ്രയോഗങ്ങള്‍
Name[ms]=Aplikasi
Name[nb]=Programmer
Name[nds]=Programmen
Name[ne]=अनुप्रयोग
Name[nl]=Programma's
Name[nn]=Program
Name[oc]=Aplicacions
Name[pa]=ਐਪਲੀਕੇਸ਼ਨ
Name[pl]=Programy
Name[pt]=Aplicações
Name[pt_BR]=Aplicativos
Name[ro]=Aplicații
Name[ru]=Приложения
Name[se]=Prográmmat
Name[sk]=Aplikácie
Name[sl]=Programi
Name[sr]=програми
Name[sr@latin]=programi
Name[sv]=Program
Name[ta]=பயன்பாடுகள்
Name[te]=కార్యక్రమాలు
Name[tg]=Барномаҳо
Name[th]=โปรแกรม
Name[tr]=Uygulamalar
Name[uk]=Програми
Name[uz]=Dasturlar
Name[uz@cyrillic]=Дастурлар
Name[vi]=Ứng dụng
Name[wa]=Programes
Name[x-test]=xxApplicationsxx
Name[zh_CN]=应用程序
Name[zh_TW]=應用程式
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
