[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=media:/
Icon=system
Name=Storage Media
Name[af]=Stoor Media
Name[be]=Носьбіт
Name[bg]=Съхраняващи устройства
Name[ca]=Suports d'emmagatzematge
Name[cs]=Úložná zařízení
Name[csb]=Zôpisowné media
Name[da]=Opbevaringsmedie
Name[de]=Speichermedien
Name[el]=Συσκευές αποθήκευσης
Name[eo]=Konservejo
Name[es]=Dispositivos de almacenamiento
Name[et]=Andmekandjad
Name[eu]=Biltegiratze-euskarria
Name[fa]=رسانۀ ذخیره‌گاه
Name[fi]=Tallennusmedia
Name[fr]=Support de stockage
Name[fy]=Opslachapparaten
Name[ga]=Meán Stórais
Name[gl]=Medios de armacenaxe
Name[he]=התקני אחסון
Name[hr]=Mediji za pohranjivanje
Name[hu]=Tárolóeszközök
Name[is]=Geymslumiðlar
Name[it]=Dispositivi di archiviazione
Name[ja]=記憶メディア
Name[ka]=მონაცემთა შენახვის მოწყობილობები
Name[kk]=Жинақтаушы құрылғылар
Name[km]=ឧបករណ៍​ផ្ទុក
Name[lt]=Saugojimo įrenginiai
Name[lv]=Datu nesējs
Name[mk]=Медиуми за податоци
Name[ms]=Media Storan
Name[nb]=Lagringsenheter
Name[nds]=Spiekermedien
Name[ne]=भण्डारण मिडिया
Name[nl]=Opslagapparaten
Name[nn]=Lagringsmedium
Name[pa]=ਸਟੋਰੇਜ਼ ਮੀਡਿਆ
Name[pl]=Urządzenia przechowywania danych
Name[pt]=Dispositivos de Armazenamento
Name[pt_BR]=Mídia de Armazenamento
Name[ro]=Mediu de stocare
Name[ru]=Устройства хранения данных
Name[se]=Vurkenmedia
Name[sl]=Nosilci za shranjevanje
Name[sr]=Складишни медијуми
Name[sr@latin]=Skladišni medijumi
Name[sv]=Lagringsmedia
Name[ta]=சேகரிப்பு ஊடகம்
Name[th]=สื่อเก็บข้อมูล
Name[tr]=Depolama Ortamı
Name[uk]=Пристрої зберігання інформації
Name[uz]=Сақлаш ускуналари
Name[x-test]=xxStorage Mediaxx
Name[zh_TW]=儲存媒體
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
