[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=print:/
Icon=fileprint
Name=Print System Browser
Name[af]=Drukker Stelsel Blaaier
Name[ar]=متصفح نظام  الطباعة
Name[bg]=Система за печат
Name[ca]=Navegador del sistema d'impressió
Name[cs]=Prohlížeč tiskového systému
Name[csb]=Przezérnik systemë drëkù
Name[cy]=Porydd y Cysawd Argraffu
Name[da]=Udskriftssystemsøger
Name[de]=Drucksystem-Browser
Name[el]=Προβολέας συστήματος εκτύπωσης
Name[eo]=Rigardilo por presosistemo
Name[es]=Navegador del sistema de impresión
Name[et]=Trükkimissüsteemi sirvija
Name[eu]=Inprimaketa sistemaren arakatzailea
Name[fa]=مرورگر سیستم چاپ
Name[fi]=Tulostusjärjestelmä
Name[fr]=Navigateur dans le système d'impression
Name[fy]=Printsysteemblêder
Name[ga]=Brabhsálaí an Chóras Priontála
Name[gl]=Navegador do Sistema de Impresión
Name[he]=דפדפן מערכות הדפסה
Name[hr]=Preglednik sustava ispisivanja
Name[hu]=A nyomtatók böngészése
Name[is]=Prentaraflakk
Name[it]=Navigazione del sistema di stampa
Name[ja]=印刷システムブラウザ
Name[ka]=ბეჭდვის სისტემის დათვალიერება
Name[kk]=Басып шығару жүйесін шолғышы
Name[km]=កម្មវិធី​រុករក​ប្រព័ន្ធ​បោះពុម្ព
Name[lt]=Spausdinimo sistemos naršyklė
Name[lv]=Drukas Sistēmas Pārlūks
Name[mk]=Прелистувач на печатарскиот систем
Name[ms]=Pelayar Sistem Cetak
Name[nb]=Visning av utskriftssystem
Name[nds]=Drucksysteem bekieken
Name[ne]=मुद्रण प्रणाली ब्राउजर
Name[nl]=Afdruksysteembrowser
Name[nn]=Vising av utskriftssystem
Name[pa]=ਪਰਿੰਟ ਸਿਸਟਮ ਝਲਕਾਰਾ
Name[pl]=Przeglądarka systemu drukowania
Name[pt]=Navegador do Sistema de Impressão
Name[pt_BR]=Sistema de Impressão
Name[ro]=Navigator sistem tipărire
Name[ru]=Просмотр системы печати
Name[se]=Čájet čálihanvuogádaga
Name[sl]=Brskalnik po tiskalniškem sistemu
Name[sr]=Прегледач система за штампу
Name[sr@Latn]=Pregledač sistema za štampu
Name[sv]=Bläddrare för utskriftssystem
Name[ta]=அச்சு அமைப்பு உலாவி
Name[tg]=Чопи тафсири система
Name[tr]=Yazdırma Sistemi Tarayıcı
Name[uk]=Навігація системи друку
Name[uz]=Босиб чиқариш тизим браузери
Name[x-test]=xxPrint System Browserxx
Name[xh]=Shicilela Umkhangeli zincwadi Wendlela
Name[zh_TW]=列印系統瀏覽器
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
