[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=settings:/
Icon=kcontrol
Name=Settings
Name[af]=Instellings
Name[ar]=التعيينات
Name[be]=Настаўленні
Name[br]=Dibarzhoù
Name[ca]=Preferències
Name[cs]=Nastavení
Name[csb]=Ùstôw
Name[cy]=Gosodiadau
Name[da]=Opsætning
Name[de]=Einstellungen
Name[el]=Ρυθμίσεις
Name[eo]=Agordo
Name[es]=Preferencias
Name[et]=Seadistused
Name[eu]=Ezarpenak
Name[fa]=تنظیمات
Name[fi]=Asetukset
Name[fr]=Configuration
Name[fy]=Ynstellings
Name[ga]=Socruithe
Name[gl]=Opcións
Name[he]=הגדרות
Name[hr]=Postavke
Name[hu]=Beállítások
Name[is]=Stillingar
Name[it]=Impostazioni
Name[ja]=設定
Name[ka]=პარამეტრები
Name[kk]=Параметрлері
Name[km]=ការ​កំណត់
Name[ko]=설정
Name[lt]=Parinktys
Name[lv]=Parametri
Name[mk]=Поставувања
Name[ms]=Tempatan
Name[nb]=Innstillinger
Name[nds]=Instellen
Name[ne]=सेटिङ
Name[nl]=Instellingen
Name[nn]=Innstillingar
Name[pa]=ਸੈਟਿੰਗ
Name[pl]=Ustawienia
Name[pt_BR]=Configurações
Name[ro]=Setări
Name[ru]=Настройка
Name[se]=Heivehusat
Name[sl]=Nastavitve
Name[sr]=Поставке
Name[sr@latin]=Postavke
Name[sv]=Inställningar
Name[ta]=அமைப்புகள்
Name[te]=అమరికలు
Name[tg]=Танзимот
Name[tr]=Ayarlar
Name[uk]=Установки
Name[uz]=Мосламалар
Name[wa]=Apontiaedjes
Name[x-test]=xxSettingsxx
Name[zh_TW]=設定
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
