# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=fsview -caption "%c" %u
MimeType=inode/directory;
Icon=fsview
DocPath=konq-plugins/fsview/index.html
Terminal=false
Name=File Size Viewer
Name[ar]=عارض حجم الملف
Name[bg]=Преглед на файлов размер
Name[bs]=Prikazivač veličine datoteka
Name[ca]=Visor de mida de fitxers
Name[ca@valencia]=Visor de mida de fitxers
Name[cs]=Prohlížeč velikosti souborů
Name[da]=Filstørrelsesvisning
Name[de]=Dateigrößenbetrachter
Name[el]=Προβολέας μεγέθους αρχείων
Name[en_GB]=File Size Viewer
Name[es]=Visor de tamaño de archivo
Name[et]=Failisuuruse näitaja
Name[eu]=Fitxategi-tamainaren ikustailea
Name[fi]=Tiedostokokonäkymä
Name[fr]=Afficheur de taille de fichiers
Name[ga]=Amharcán Méid Chomhaid
Name[gl]=Visor do tamaño dos ficheiros
Name[he]=מציג גדלי קבצים
Name[hne]=फाइल आकार प्रदर्सक
Name[hr]=Preglednik veličine datoteka
Name[hu]=Fájlméret-megjelenítő
Name[ia]=Visor de dimension de file
Name[is]=Skráastærðarskoðun
Name[it]=Visore dimensione file
Name[ja]=ファイルサイズビューア
Name[kk]=Файл өлшемін қарау
Name[km]=កម្មវិធី​មើល​ទំហំ​ឯកសារ
Name[ko]=파일 크기 뷰어
Name[ku]=Nîşanderê Mezinahiya Pelê
Name[lt]=Failų dydžio stebėjimo priemonė
Name[lv]=Failu izmēra rādītajs
Name[mr]=फाईल आकार प्रदर्शक
Name[nb]=Filstørrelsesviser
Name[nds]=Dateigrött-Kieker
Name[nl]=Bestandsgrootteweergave
Name[nn]=Filstorleiksvisar
Name[pa]=ਫਾਇਲ ਸਾਈਜ਼ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka rozmiaru plików
Name[pt]=Visualizador do Tamanho de Ficheiros
Name[pt_BR]=Visualizador do tamanho dos arquivos
Name[ro]=Vizualizor dimensiune fișier
Name[ru]=Просмотр размеров файлов
Name[sk]=Prehliadač veľkosti súborov
Name[sl]=Pregledovalnik velikosti datotek
Name[sr]=Приказивач величине фајлова
Name[sr@ijekavian]=Приказивач величине фајлова
Name[sr@ijekavianlatin]=Prikazivač veličine fajlova
Name[sr@latin]=Prikazivač veličine fajlova
Name[sv]=Filstorleksvisning
Name[tg]=Намоишгари андозаи файл
Name[th]=เครื่องมือดูขนาดแฟ้ม
Name[tr]=Dosya Boyutu Gösterici
Name[ug]=ھۆججەت چوڭلۇقى كۆرگۈچ
Name[uk]=Перегляд розміру файлів
Name[wa]=Håyneu del grandeu des fitchîs
Name[x-test]=xxFile Size Viewerxx
Name[zh_CN]=文件大小查看器
Name[zh_TW]=檔案大小檢視器
Comment=View your filesystem as a TreeMap
Comment[ar]=اعرض نظام ملفاتك كخريطة شجرة
Comment[bg]=Показване на файловата система като дървовидна схема
Comment[bs]=Prikazuje datotečni sistem kao razgranatu mapu
Comment[ca]=Mostra el sistema de fitxers com un mapa en forma d'arbre
Comment[ca@valencia]=Mostra el sistema de fitxers com un mapa en forma d'arbre
Comment[cs]=Zobrazení souborového systému jako stromu
Comment[da]=Se dit filsystem som et TreeMap.
Comment[de]=Dateisystem als Hierarchiestruktur anzeigen
Comment[el]=Προβολή του συστήματος αρχείων σας σαν δενδρική δομή
Comment[en_GB]=View your filesystem as a TreeMap
Comment[es]=Visualiza su sistema de archivos como un mapa de árbol
Comment[et]=Näitab failisüsteemi puukujulise kaardina
Comment[eu]=Ikusi fitxategi-sistema zuhaitz-mapa gisa
Comment[fi]=Näe tiedostojärjestelmä puukarttana
Comment[fr]=Affiche votre système de fichiers sous forme d'une arborescence
Comment[ga]=Amharc ar do chóras comhad mar Mhapa Crainn
Comment[gl]=Mostra o sistema de ficheiros como unha árbore-mapa
Comment[he]=הצג את מערכת הקבצים שלך כ־TreeMap
Comment[hne]=अपन फाइल-सिसटम ल एक ट्री-मैप मं देखव
Comment[hr]=Prikažite vaš datotečni sustav kao TreeMap
Comment[hu]=A fájlrendszerének megjelenítése fastruktúra-térképként
Comment[ia]=Vide tu systema de file como Mappa a Arbore
Comment[is]=Skoða skráakerfið í greinasýn
Comment[it]=Visualizza il tuo filesystem come un albero
Comment[ja]=ツリーマップでファイルシステムを表示します
Comment[kk]=Файлдар жүйесін бұтақ түрінде көрсету
Comment[km]=មើល​ប្រព័ន្ធ​ឯកសារ​របស់​អ្នក​ជា TreeMap
Comment[ko]=현재 파일 시스템을 트리 지도로 보기
Comment[ku]=Pergala-pelê wekî TreeMap bibîne
Comment[lt]=Peržiūrėti failų sistemą kaip medžio tipo žemėlapį
Comment[lv]=Parāda jūsu failu sistēmu koka kartes veidā
Comment[nb]=Se på filsystemet som et tre-kart
Comment[nds]=Dien Dateisysteem as Boomkoort
Comment[nl]=Bekijk uw bestandssysteem als een boomstructuurkaart
Comment[nn]=Vis filsystemet som eit trekart
Comment[pa]=ਆਪਣਾ ਫਾਇਲ-ਸਿਸਟਮ ਇੱਕ ਲੜੀ ਢੰਗ ਨਾਲ ਵੇਖੋ
Comment[pl]=Zobacz swój system plików jako mapę drzewa
Comment[pt]=Ver o sistema de ficheiros como uma árvore-mapa
Comment[pt_BR]=Visualiza o seu sistema de arquivos em árvore
Comment[ro]=Visualizați sistemul dvs. de fișiere ca un TreeMap (hartă-arbore)
Comment[ru]=Просмотр файловой системы в виде иерархической карты
Comment[sk]=Zobrazenie súborového systému ako stromu
Comment[sl]=Prikaže datotečni sistem z gnezdenimi pravokotniki
Comment[sr]=Приказује фајл систем као разгранату мапу
Comment[sr@ijekavian]=Приказује фајл систем као разгранату мапу
Comment[sr@ijekavianlatin]=Prikazuje fajl sistem kao razgranatu mapu
Comment[sr@latin]=Prikazuje fajl sistem kao razgranatu mapu
Comment[sv]=Visa filsystemet som en trädkarta
Comment[tg]=Намоиши системаи файлҳо ҳамчун дарахти харита
Comment[th]=แสดงระบบแฟ้มของคุณแบบผังต้นไม้
Comment[tr]=Dosya sisteminizi bir Ağaç Haritası olarak gösterir
Comment[ug]=ھۆججەت سىستېمىڭىزنى شاخسىمان خەرىتىدە كۆرسىتىدۇ
Comment[uk]=Перегляд вашої файлової системи як дерева
Comment[wa]=Veyoz vosse sistinme di fitchîs come on coxhlaedje d' åbe
Comment[x-test]=xxView your filesystem as a TreeMapxx
Comment[zh_CN]=按树形图查看您的文件系统
Comment[zh_TW]=用樹狀圖來檢視您的檔案系統
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;
X-KDE-ParentApp=konqueror
