[Desktop Entry]
Encoding=UTF-8
Name=File Size View
Name[ca]=Vista de mida de fitxers
Name[cs]=Prohlížení velikosti souboru
Name[de]=Dateigrößen-Ansicht
Name[et]=Failisuuruse vaade
Name[ia]=Vista de dimension de file
Name[ja]=ファイルサイズ表示
Name[kk]=Файл өлшемінің көрінісі
Name[lt]=Failų dydžio vaizdas
Name[nl]=Bestandsgrootte tonen
Name[nn]=Filstorleiksvising
Name[pt]=Vista do Tamanho dos Ficheiros
Name[sv]=Filstorleksvy
Name[uk]=Перегляд розміру файлів
Name[x-test]=xxFile Size Viewxx
Name[zh_TW]=檔案大小檢視
Comment=Enables a proportional view of directories and files based on file size
Comment[ca]=Habilita una vista proporcional dels directoris i fitxers basada en la mida dels fitxers
Comment[cs]=Umožňuje proporcionální zobrazení adresářů podle velikosti
Comment[de]=Zeigt Ordner und Dateien in einer Proportionalansicht basierend auf der Dateigröße an
Comment[et]=Lülitab sisse kataloogide ja failide proportsionaalse vaate nende failisuuruse põhjal
Comment[ia]=Habilita un vista proportional de directorios e files basate sur le grandor de file
Comment[ja]=ディレクトリとファイルをそのサイズに比例した大きさで表示します
Comment[kk]=Қапшықтар мен файлдарды өлшеміне сәйекесті қылып көрсету
Comment[lt]=Įjungti katalogų ir rinkmenų peržiūrą vaizduojant objektus proporcingai jų dydžiui
Comment[nl]=Biedt een proportionele weergave van mappen en bestanden gebaseerd op hun grootte
Comment[nn]=Gjev ei proporsjonal vising av mapper og filer basert på filstorleiken
Comment[pt]=Activa uma área proporcional e pastas e ficheiros com base no tamanho do ficheiro
Comment[sv]=Möjliggör proportionell visning av kataloger och filer baserat på filstorlek
Comment[uk]=Пропорційний показ тек і файлів залежно від їхнього розміру
Comment[x-test]=xxEnables a proportional view of directories and files based on file sizexx
Comment[zh_TW]=依據檔案大小繪出一個目錄與檔案的比例圖
MimeType=inode/directory;
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=fsviewpart
Type=Service
Icon=fsview
DocPath=konq-plugins/fsview/index.html
