# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=fsview -caption "%c" %u
MimeType=inode/directory;
Icon=fsview
DocPath=konq-plugins/fsview/index.html
Terminal=false
Name=File Size Viewer
Comment=View your filesystem as a TreeMap
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;
X-KDE-ParentApp=konqueror
