# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=fsview -caption "%c" %u
MimeType=inode/directory;
Icon=fsview
DocPath=konq-plugins/fsview/index.html
Terminal=false
Name=File Size Viewer
Name[ca]=Visor de mida de fitxers
Name[ca@valencia]=Visor de mida de fitxers
Name[cs]=Prohlížeč velikosti souborů
Name[da]=Filstørrelsesvisning
Name[de]=Dateigrößenbetrachter
Name[es]=Visor de tamaño de archivo
Name[et]=Failisuuruse näitaja
Name[fi]=Tiedostokokonäkymä
Name[fr]=Afficheur de taille de fichiers
Name[hr]=Preglednik veličine datoteka
Name[hu]=Fájlméret-megjelenítő
Name[ia]=Visor de dimension de file
Name[it]=Visore dimensione file
Name[ja]=ファイルサイズビューア
Name[kk]=Файл өлшемін қарау
Name[ko]=파일 크기 뷰어
Name[lt]=Failų dydžio stebėjimo priemonė
Name[nb]=Filstørrelsesviser
Name[nds]=Dateigrött-Kieker
Name[nl]=Bestandsgrootteweergave
Name[nn]=Filstorleiksvisar
Name[pt]=Visualizador do Tamanho dos Ficheiros
Name[pt_BR]=Visualizador do tamanho dos arquivos
Name[ru]=Просмотр размеров файлов
Name[sl]=Pregledovalnik velikosti datotek
Name[sr]=Приказивач величине фајлова
Name[sr@ijekavian]=Приказивач величине фајлова
Name[sr@ijekavianlatin]=Prikazivač veličine fajlova
Name[sr@latin]=Prikazivač veličine fajlova
Name[sv]=Filstorleksvisning
Name[uk]=Перегляд розміру файлів
Name[x-test]=xxFile Size Viewerxx
Name[zh_TW]=檔案大小檢視器
Comment=View your filesystem as a TreeMap
Comment[ca]=Mostra el sistema de fitxers com un mapa en forma d'arbre
Comment[ca@valencia]=Mostra el sistema de fitxers com un mapa en forma d'arbre
Comment[cs]=Zobrazení souborového systému jako stromu
Comment[da]=Se dit filsystem som et TreeMap.
Comment[de]=Dateisystem als Hierarchiestruktur anzeigen
Comment[es]=Visualiza su sistema de archivos como un mapa de árbol
Comment[et]=Näitab failisüsteemi puukujulise kaardina
Comment[fi]=Näe tiedostojärjestelmä puukarttana
Comment[fr]=Affiche votre système de fichiers sous forme d'une arborescence
Comment[hr]=Prikažite vaš datotečni sustav kao TreeMap
Comment[hu]=A fájlrendszerének megjelenítése fastruktúra-térképként
Comment[ia]=Vide tu systema de file como Mappa a Arbore
Comment[it]=Visualizza il tuo filesystem come un albero
Comment[ja]=ツリーマップでファイルシステムを表示します
Comment[kk]=Файлдар жүйесін бұтақ түрінде көрсету
Comment[ko]=현재 파일 시스템을 트리 지도로 보기
Comment[lt]=Peržiūrėti failų sistemą kaip medžio tipo žemėlapį
Comment[nb]=Se på filsystemet som et tre-kart
Comment[nds]=Dien Dateisysteem as Boomkoort
Comment[nl]=Bekijk uw bestandssysteem als een boomstructuurkaart
Comment[nn]=Vis filsystemet som eit trekart
Comment[pt]=Ver o seu sistema de ficheiros como uma árvore
Comment[pt_BR]=Visualiza o seu sistema de arquivos em árvore
Comment[ru]=Просмотр файловой системы в виде иерархической карты
Comment[sl]=Prikaže datotečni sistem kot gnezdene pravokotnike
Comment[sr]=Приказује фајл систем као разгранату мапу
Comment[sr@ijekavian]=Приказује фајл систем као разгранату мапу
Comment[sr@ijekavianlatin]=Prikazuje fajl sistem kao razgranatu mapu
Comment[sr@latin]=Prikazuje fajl sistem kao razgranatu mapu
Comment[sv]=Visa filsystemet som en trädkarta
Comment[uk]=Перегляд вашої файлової системи як дерева
Comment[x-test]=xxView your filesystem as a TreeMapxx
Comment[zh_TW]=使用樹狀圖檢視您的檔案系統
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;
X-KDE-ParentApp=konqueror
