[Desktop Entry]
Encoding=UTF-8
Name=File Size View
Comment=Enables a proportional view of directories and files based on file size
MimeType=inode/directory;
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=fsviewpart
Type=Service
Icon=fsview
DocPath=konq-plugins/fsview/index.html
