[Desktop Entry]
Encoding=UTF-8
Name=File Size View
Name[lt]=Failų dydžio vaizdas
Comment=Enables a proportional view of directories and files based on file size
Comment[lt]=Įjungti katalogų ir rinkmenų peržiūrą vaizduojant objektus proporcingai jų dydžiui
MimeType=inode/directory;
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=fsviewpart
Type=Service
Icon=fsview
DocPath=konq-plugins/fsview/index.html
