[Desktop Entry]
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin,image/*
TryExec=convert
Type=Service
Actions=convToJPEG;convToPNG;convToGIF;convToTIF;
X-KDE-Submenu=Convert To
TryExec=convert

[Desktop Action convToJPEG]
Name=JPEG
Icon=image-jpeg
Exec=convert %f "`echo %f | perl -pe 's/\\.[^.]+$//'`.jpg"

[Desktop Action convToPNG]
Name=PNG
Icon=image-png
Exec=convert %f "`echo %f | perl -pe 's/\\.[^.]+$//'`.png"

[Desktop Action convToTIF]
Name=TIFF
Icon=image-tiff
Exec=convert %f "`echo %f | perl -pe 's/\\.[^.]+$//'`.tif"

[Desktop Action convToGIF]
Name=GIF
Icon=image-gif
Exec=convert %f "`echo %f | perl -pe 's/\\.[^.]+$//'`.gif"

