[Desktop Entry]
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin,image/*
TryExec=convert
Type=Service
Actions=convToJPEG;convToPNG;convToGIF;convToTIF;
X-KDE-Submenu=Convert To
X-KDE-Submenu[be]=Канвертаваць у
X-KDE-Submenu[de]=Umwandeln in
X-KDE-Submenu[fa]=تبدیل به
X-KDE-Submenu[ga]=Tiontaigh Go
X-KDE-Submenu[kn]=ಇದಕ್ಕೆ ಪರಿವರ್ತಿಸು
X-KDE-Submenu[lt]=Konvertuoti į
X-KDE-Submenu[vi]=Chuyển đổi sang
TryExec=convert

[Desktop Action convToJPEG]
Name=JPEG
Name[be]=JPEG
Name[de]=JPEG
Name[ga]=JPEG
Name[kn]=JPEG
Name[lt]=JPEG
Name[vi]=JPEG
Icon=image-jpeg
Exec=convert %f "`echo %f | perl -pe 's/\\.[^.]+$//'`.jpg"

[Desktop Action convToPNG]
Name=PNG
Name[be]=PNG
Name[de]=PNG
Name[ga]=PNG
Name[kn]=PNG
Name[lt]=PNG
Name[vi]=PNG
Icon=image-png
Exec=convert %f "`echo %f | perl -pe 's/\\.[^.]+$//'`.png"

[Desktop Action convToTIF]
Name=TIFF
Name[lt]=TIFF
Icon=image-tiff
Exec=convert %f "`echo %f | perl -pe 's/\\.[^.]+$//'`.tif"

[Desktop Action convToGIF]
Name=GIF
Name[be]=GIF
Name[de]=GIF
Name[ga]=GIF
Name[kn]=GIF
Name[lt]=GIF
Name[vi]=GIF
Icon=image-gif
Exec=convert %f "`echo %f | perl -pe 's/\\.[^.]+$//'`.gif"

