[Desktop Entry]
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin,image/*
TryExec=convert
Type=Service
Actions=convToJPEG;convToPNG;convToGIF;convToTIF;
X-KDE-Submenu=Convert To
X-KDE-Submenu[be]=Канвертаваць у
X-KDE-Submenu[ca]=Converteix a
X-KDE-Submenu[cs]=Převést do
X-KDE-Submenu[da]=Konvertér til
X-KDE-Submenu[de]=Umwandeln in
X-KDE-Submenu[et]=Teisendamine
X-KDE-Submenu[fa]=تبدیل به
X-KDE-Submenu[ga]=Tiontaigh Go
X-KDE-Submenu[ia]=Converte a
X-KDE-Submenu[it]=Converti in
X-KDE-Submenu[ja]=変換
X-KDE-Submenu[kk]=Келесіге аудару:
X-KDE-Submenu[kn]=ಇದಕ್ಕೆ ಪರಿವರ್ತಿಸು
X-KDE-Submenu[lt]=Konvertuoti į
X-KDE-Submenu[nb]=Konverter til
X-KDE-Submenu[nds]=Ümwanneln na
X-KDE-Submenu[nl]=Converteren naar
X-KDE-Submenu[nn]=Gjer om til
X-KDE-Submenu[pt]=Converter Para
X-KDE-Submenu[sv]=Konvertera till
X-KDE-Submenu[uk]=Перетворити на
X-KDE-Submenu[vi]=Chuyển đổi sang
X-KDE-Submenu[x-test]=xxConvert Toxx
X-KDE-Submenu[zh_TW]=轉換為
TryExec=convert

[Desktop Action convToJPEG]
Name=JPEG
Name[be]=JPEG
Name[ca]=JPEG
Name[cs]=JPEG
Name[da]=JPEG
Name[de]=JPEG
Name[et]=JPEG
Name[ga]=JPEG
Name[ia]=JPEG
Name[it]=JPEG
Name[ja]=JPEG
Name[kk]=JPEG
Name[kn]=JPEG
Name[lt]=JPEG
Name[nb]=JPEG
Name[nds]=JPEG
Name[nl]=JPEG
Name[nn]=JPEG
Name[pt]=JPEG
Name[sv]=JPEG
Name[uk]=JPEG
Name[vi]=JPEG
Name[x-test]=xxJPEGxx
Name[zh_TW]=JPEG
Icon=image-jpeg
Exec=convert %f "`echo %f | perl -pe 's/\\.[^.]+$//'`.jpg"

[Desktop Action convToPNG]
Name=PNG
Name[be]=PNG
Name[ca]=PNG
Name[cs]=PNG
Name[da]=PNG
Name[de]=PNG
Name[et]=PNG
Name[ga]=PNG
Name[ia]=PNG
Name[it]=PNG
Name[ja]=PNG
Name[kk]=PNG
Name[kn]=PNG
Name[lt]=PNG
Name[nb]=PNG
Name[nds]=PNG
Name[nl]=PNG
Name[nn]=PNG
Name[pt]=PNG
Name[sv]=PNG
Name[uk]=PNG
Name[vi]=PNG
Name[x-test]=xxPNGxx
Name[zh_TW]=PNG
Icon=image-png
Exec=convert %f "`echo %f | perl -pe 's/\\.[^.]+$//'`.png"

[Desktop Action convToTIF]
Name=TIFF
Name[ca]=TIFF
Name[cs]=TIF
Name[da]=TIFF
Name[de]=TIFF
Name[et]=TIFF
Name[ia]=TIFF
Name[it]=TIFF
Name[ja]=TIFF
Name[kk]=TIFF
Name[lt]=TIFF
Name[nb]=TIFF
Name[nds]=TIFF
Name[nl]=TIFF
Name[nn]=TIFF
Name[pt]=TIFF
Name[sv]=TIFF
Name[uk]=TIFF
Name[x-test]=xxTIFFxx
Name[zh_TW]=TIFF
Icon=image-tiff
Exec=convert %f "`echo %f | perl -pe 's/\\.[^.]+$//'`.tif"

[Desktop Action convToGIF]
Name=GIF
Name[be]=GIF
Name[ca]=GIF
Name[cs]=GIF
Name[da]=GIF
Name[de]=GIF
Name[et]=GIF
Name[ga]=GIF
Name[ia]=GIF
Name[it]=GIF
Name[ja]=GIF
Name[kk]=GIF
Name[kn]=GIF
Name[lt]=GIF
Name[nb]=GIF
Name[nds]=GIF
Name[nl]=GIF
Name[nn]=GIF
Name[pt]=GIF
Name[sv]=GIF
Name[uk]=GIF
Name[vi]=GIF
Name[x-test]=xxGIFxx
Name[zh_TW]=GIF
Icon=image-gif
Exec=convert %f "`echo %f | perl -pe 's/\\.[^.]+$//'`.gif"

