[Desktop Entry]
Encoding=UTF-8
TryExec=jpegorient
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,image/jpeg
Actions=jpegRot90;jpegRot270;jpegFlipV;jpegFlipH;
X-KDE-Submenu=Transform Image
X-KDE-Submenu[ar]=انقل الصورة إلىر
X-KDE-Submenu[be]=Змяніць відарыс
X-KDE-Submenu[bg]=Преобразуване на изображение
X-KDE-Submenu[bs]=Preoblikuj sliku
X-KDE-Submenu[ca]=Transforma imatge
X-KDE-Submenu[ca@valencia]=Transforma imatge
X-KDE-Submenu[cs]=Transformovat obrázek
X-KDE-Submenu[da]=Transformér billede
X-KDE-Submenu[de]=Bild umwandeln
X-KDE-Submenu[el]=Μετασχηματισμός εικόνας
X-KDE-Submenu[en_GB]=Transform Image
X-KDE-Submenu[es]=Transformar imagen
X-KDE-Submenu[et]=Pildi teisendamine
X-KDE-Submenu[eu]=Eraldatu irudia
X-KDE-Submenu[fa]=تصویر تبدیل
X-KDE-Submenu[fi]=Muokkaa kuvaa
X-KDE-Submenu[fr]=Transformer l'image
X-KDE-Submenu[ga]=Trasfhoirmigh Íomhá
X-KDE-Submenu[gl]=Transformar a imaxe
X-KDE-Submenu[he]=הפוך תמונה
X-KDE-Submenu[hne]=फोटू बदलव
X-KDE-Submenu[hr]=Transformiranje slike
X-KDE-Submenu[hu]=Kép átalakítása
X-KDE-Submenu[ia]=Imagine de tranformar
X-KDE-Submenu[is]=Breyta mynd
X-KDE-Submenu[it]=Trasforma immagine
X-KDE-Submenu[ja]=画像を変換
X-KDE-Submenu[kk]=Кескінді түрлендіру
X-KDE-Submenu[km]=ប្លែង​រូបភាព
X-KDE-Submenu[kn]=ಬಿಂಬವನ್ನು (ಇಮೇಜ್) ರೂಪಾಂತರಗೊಳಿಸು
X-KDE-Submenu[ko]=그림 변형하기
X-KDE-Submenu[ku]=Wêne Veguherînê
X-KDE-Submenu[lt]=Transformuoti paveikslėlį
X-KDE-Submenu[lv]=Pārveidot attēlu
X-KDE-Submenu[mr]=प्रतिमा रूपांतरीत करा
X-KDE-Submenu[nb]=Transformer bilde
X-KDE-Submenu[nds]=Bild wanneln
X-KDE-Submenu[nl]=Afbeelding transformeren
X-KDE-Submenu[nn]=Omform biletet
X-KDE-Submenu[oc]=Transformar l'imatge
X-KDE-Submenu[pa]=ਚਿੱਤਰ ਬਦਲੋ
X-KDE-Submenu[pl]=Przekształć obraz
X-KDE-Submenu[pt]=Transformar a Imagem
X-KDE-Submenu[pt_BR]=Transformar a imagem
X-KDE-Submenu[ro]=Transformă imaginea
X-KDE-Submenu[ru]=Преобразовать изображение
X-KDE-Submenu[sk]=Transformovať obrázok
X-KDE-Submenu[sl]=Preoblikuj sliko
X-KDE-Submenu[sr]=Преобликуј слику
X-KDE-Submenu[sr@ijekavian]=Преобликуј слику
X-KDE-Submenu[sr@ijekavianlatin]=Preoblikuj sliku
X-KDE-Submenu[sr@latin]=Preoblikuj sliku
X-KDE-Submenu[sv]=Omvandla bild
X-KDE-Submenu[tg]=Тағйири тасвир
X-KDE-Submenu[th]=แปลงรูปภาพ
X-KDE-Submenu[tr]=Resmi Dönüştür
X-KDE-Submenu[ug]=سۈرەت ئايلاندۇرۇش
X-KDE-Submenu[uk]=Перетворити зображення
X-KDE-Submenu[vi]=Chuyển đổi ảnh
X-KDE-Submenu[wa]=Candjî imådje
X-KDE-Submenu[x-test]=xxTransform Imagexx
X-KDE-Submenu[zh_CN]=图形变换
X-KDE-Submenu[zh_TW]=轉換影像
X-KDE-Require=Write

[Desktop Action jpegRot90]
Name=Rotate Clockwise
Name[ar]=أدر باتجاه عقارب الساعة
Name[be]=Павярнуць па гадзіннай стрэлцы
Name[bg]=Завъртане по посока на часовниковата стрелка
Name[bs]=Rotiraj u smjeru kazaljke
Name[ca]=Gira en sentit horari
Name[ca@valencia]=Gira en sentit horari
Name[cs]=Rotovat po směru hodin
Name[da]=Rotér med uret
Name[de]=Rechts drehen
Name[el]=Περιστροφή με τη Φορά του Ρολογιού
Name[en_GB]=Rotate Clockwise
Name[es]=Girar en el sentido de las agujas del reloj
Name[et]=Pööra päripäeva
Name[eu]=Biratu ordulariaren norantzan
Name[fa]=چرخش در جهت عقربه‌های ساعت
Name[fi]=Käännä myötäpäivään
Name[fr]=Tourner dans le sens horaire
Name[ga]=Rothlaigh go Deisealach
Name[gl]=Xirar no sentido horario
Name[he]=סובב בכיוון השעון
Name[hne]=घड़ी के दिसा मं घुमाव
Name[hr]=Rotiraj u smjeru kazaljke na satu
Name[hu]=Forgatás jobbra
Name[ia]=Rota in senso horari
Name[is]=Snúa réttsælis
Name[it]=Ruota in senso orario
Name[ja]=時計回りに回転
Name[kk]=Сағат тілі бойынша бұру
Name[km]=បង្វិល​ស្រប​ទ្រិចនាឡិកា​
Name[kn]=ಪ್ರದಕ್ಷಿಣಾಕಾರದಲ್ಲಿ ತಿರುಗಿಸು
Name[ko]=시계 방향으로 회전하기
Name[ku]=Aliyê Gera Saetê Bizivirîne
Name[lt]=Sukti pagal laikrodžio rodyklę
Name[lv]=Pagriezt pulksteņrādītāja virzienā
Name[mr]=घड्याळाच्या काट्याच्या दिशेने फिरवा
Name[nb]=Roter med urviseren
Name[nds]=Na rechts dreihen
Name[nl]=Rechtsom draaien
Name[nn]=Roter med klokka
Name[pa]=ਸੱਜੇ ਦਾਅ ਘੁੰਮਾਓ
Name[pl]=Obróć w prawo
Name[pt]=Rodar no Sentido Horário
Name[pt_BR]=Girar no sentido horário
Name[ro]=Rotește în sensul acelor de ceasornic
Name[ru]=Повернуть по часовой стрелке
Name[sk]=Otočiť v smere hodin
Name[sl]=Zavrti v smeri urinega kazalca
Name[sr]=Окрени у смеру казаљке сата
Name[sr@ijekavian]=Окрени у смјеру казаљке сата
Name[sr@ijekavianlatin]=Okreni u smjeru kazaljke sata
Name[sr@latin]=Okreni u smeru kazaljke sata
Name[sv]=Rotera medurs
Name[tg]=Баргардондани соатӣ
Name[th]=หมุนตามเข็มนาฬิกา
Name[tr]=Saat Yönünde Çevir
Name[ug]=سائەت ئىسترېلكىسى يۆنىلىشىدە چۆرگىلىتىش
Name[uk]=Обернути за годинниковою стрілкою
Name[vi]=Xoay xuôi chiều
Name[wa]=Tourner dins l' sins des aweyes
Name[x-test]=xxRotate Clockwisexx
Name[zh_CN]=顺时针旋转
Name[zh_TW]=順時針旋轉
Icon=object-rotate-right
Exec=jpegorient +90 %F

[Desktop Action jpegRot270]
Name=Rotate Counter-Clockwise
Name[ar]=أدر بعكس اتجاه عقارب الساعة
Name[be]=Павярнуць супаць гадзіннай стрэлкі
Name[bg]=Завъртане обратно на посоката на часовниковата стрелка
Name[bs]=Rotiraj suprotno smjeru kazaljke
Name[ca]=Gira en sentit antihorari
Name[ca@valencia]=Gira en sentit antihorari
Name[cs]=Rotovat proti směru hodin
Name[da]=Rotér mod uret
Name[de]=Links drehen
Name[el]=Περιστροφή αριστερόστροφα
Name[en_GB]=Rotate Anti-Clockwise
Name[es]=Girar en sentido contrario a las agujas del reloj
Name[et]=Pööra vastupäeva
Name[eu]=Biratu ordulariaren aurkako norantzan
Name[fa]=چرخش در خلاف جهت عقربه‌های ساعت
Name[fi]=Käännä vastapäivään
Name[fr]=Tourner dans le sens antihoraire
Name[ga]=Rothlaigh go Tuathalach
Name[gl]=Xirar no sentido antihorario
Name[he]=סובב נגד כיוון השעון
Name[hne]=घड़ी के उलटा दिसा मं घुमाव
Name[hr]=Rotiraj obrnutno od smjera kazaljke na satu
Name[hu]=Forgatás balra
Name[ia]=Rota in senso anti-horari
Name[is]=Snúa rangsælis
Name[it]=Ruota in senso antiorario
Name[ja]=反時計回りに回転
Name[kk]=Сағат жүрісіне қарсы бұру
Name[km]=បង្វិល​ច្រាស​ទ្រិចនាឡិកា​
Name[kn]=ಅಪ್ರದಕ್ಷಿಣಾಕಾರದಲ್ಲಿ ತಿರುಗಿಸು
Name[ko]=반시계 방향으로 회전하기
Name[ku]=Aliyê Dijê Gera Saetê Bizivirîne
Name[lt]=Sukti prieš laikrodžio rodyklę
Name[lv]=Pagriezt pretēji pulksteņrādītājam
Name[mr]=घड्याळाच्या काट्याच्या उलट दिशेने फिरवा
Name[nb]=Roter mot urviseren
Name[nds]=Na links dreihen
Name[nl]=Linksom draaien
Name[nn]=Roter mot klokka
Name[pa]=ਖੱਬੇ ਦਾਅ ਘੁੰਮਾਓ
Name[pl]=Obróć w lewo
Name[pt]=Rodar no Sentido Anti-Horário
Name[pt_BR]=Girar no sentido anti-horário
Name[ro]=Rotește în sensul invers al acelor de ceasornic
Name[ru]=Повернуть против часовой стрелки
Name[sk]=Otočiť proti smeru hodin
Name[sl]=Zavrti v nasprotni smeri urinega kazalca
Name[sr]=Окрени супротно смеру казаљке сата
Name[sr@ijekavian]=Окрени супротно смјеру казаљке сата
Name[sr@ijekavianlatin]=Okreni suprotno smjeru kazaljke sata
Name[sr@latin]=Okreni suprotno smeru kazaljke sata
Name[sv]=Rotera moturs
Name[tg]=Баргардондани ғайри соатӣ
Name[th]=หมุนทวนเข็มนาฬิกา
Name[tr]=Saat Yönünün Tersine Çevir
Name[ug]=سائەت ئىسترېلكىسىغا قارشى يۆنىلىشتە ئايلاندۇرىدۇ
Name[uk]=Обернути проти годинникової стрілки
Name[vi]=Xoay ngược chiều
Name[wa]=Tourner dins l' sins contraire des aweyes
Name[x-test]=xxRotate Counter-Clockwisexx
Name[zh_CN]=逆时针旋转
Name[zh_TW]=逆時針旋轉
Icon=object-rotate-left
Exec=jpegorient +270 %F

#[Desktop Action jpegRot180]
#Name=Rotate 180
#Icon=misc
#Exec=jpegorient +180 %F

[Desktop Action jpegFlipV]
Name=Flip Vertically
Name[ar]=اقلب رأسيا
Name[be]=Адбіць па вертыкалі
Name[bg]=Вертикално обръщане
Name[bs]=Prevrni uspravno
Name[ca]=Inverteix verticalment
Name[ca@valencia]=Inverteix verticalment
Name[cs]=Převrátit svisle
Name[da]=Spejl lodret
Name[de]=Vertikal spiegeln
Name[el]=Αναστροφή κατακόρυφα
Name[en_GB]=Flip Vertically
Name[es]=Reflejar verticalmente
Name[et]=Peegelda vertikaalselt
Name[eu]=Irauli bertikalki
Name[fa]=قرینه عمودی
Name[fi]=Käännä pystysuunnassa
Name[fr]=Miroir vertical
Name[ga]=Smeach go hIngearach
Name[gl]=Inverter verticalmente
Name[he]=הפוך אנכית
Name[hne]=खड़ा पलटव
Name[hr]=Prebaci vertikalno
Name[hu]=Tükrözés függőlegesen
Name[ia]=Colpa verticalmente
Name[is]=Spegla lóðrétt
Name[it]=Ribalta verticalmente
Name[ja]=上下反転
Name[kk]=Төңкеріп аудару
Name[km]=ត្រឡប់​បញ្ឈរ
Name[kn]=ತಲೆಕೆಳಗಾಗಿ ಮಗುಚು
Name[ko]=수직으로 뒤집기
Name[ku]=Tîkane Bizivirîne
Name[lt]=Versti vertikaliai
Name[lv]=Apmest vertikāli
Name[mai]=ठाड़ उनटू
Name[mr]=उभे पलटी करा
Name[ms]=Balikkan Menegak
Name[nb]=Speilvend loddrett
Name[nds]=Pielrecht spegeln
Name[nl]=Verticaal spiegelen
Name[nn]=Vend loddrett
Name[oc]=Coalevar verticalament
Name[pa]=ਵਰਟੀਕਲ ਝਟਕੋ
Name[pl]=Odbij pionowo
Name[pt]=Inverter Verticalmente
Name[pt_BR]=Inverter verticalmente
Name[ro]=Reflectă vertical
Name[ru]=Отразить по вертикали
Name[sk]=Preklopiť zvisle
Name[sl]=Zrcali navpično
Name[sr]=Преврни усправно
Name[sr@ijekavian]=Преврни усправно
Name[sr@ijekavianlatin]=Prevrni uspravno
Name[sr@latin]=Prevrni uspravno
Name[sv]=Vänd vertikalt
Name[tg]=Гардонидани амудӣ
Name[th]=พลิกกลับทางแนวตั้ง
Name[tr]=Dikey Olarak Çevir
Name[ug]=تىك يۆنىلىشتە چۆرگىلىتىش
Name[uk]=Віддзеркалити вертикально
Name[vi]=Lật dọc
Name[wa]=Ratourner d' astampé
Name[x-test]=xxFlip Verticallyxx
Name[zh_CN]=垂直翻转
Name[zh_TW]=垂直翻轉
Icon=2uparrow
Exec=jpegorient v %F

[Desktop Action jpegFlipH]
Name=Flip Horizontally
Name[ar]=اقلب أفقيا
Name[be]=Адбіць па гарызанталі
Name[bg]=Хоризонтално обръщане
Name[bs]=Prevrni vodoravno
Name[ca]=Inverteix horitzontalment
Name[ca@valencia]=Inverteix horitzontalment
Name[cs]=Převrátit vodorovně
Name[da]=Spejl vandret
Name[de]=Horizontal spiegeln
Name[el]=Αναστροφή οριζόντια
Name[en_GB]=Flip Horizontally
Name[es]=Reflejar horizontalmente
Name[et]=Peegelda horisontaalselt
Name[eu]=Irauli horizontalki
Name[fa]=قرینه افقی
Name[fi]=Käännä vaakasuunnassa
Name[fr]=Miroir horizontal
Name[ga]=Smeach go Cothrománach
Name[gl]=Inverter horizontalmente
Name[he]=הפוך אופקית
Name[hne]=आड़ा पलटव
Name[hr]=Prebaci horizontalno
Name[hu]=Tükrözés vízszintesen
Name[ia]=Colpa horizontalmente
Name[is]=Spegla lárétt
Name[it]=Ribalta orizzontalmente
Name[ja]=左右反転
Name[kk]=Аунатып аудару
Name[km]=ត្រឡប់​​ផ្ដេក
Name[kn]=ಅಡ್ಡಲಾಗಿ ಮಗುಚು
Name[ko]=수평으로 뒤집기
Name[ku]=Berwar Bizivirîne
Name[lt]=Versti horizontaliai
Name[lv]=Apmest horizontāli
Name[mai]=आड़ा उनटू
Name[mr]=आडवे पलटी करा
Name[ms]=Balikkan Mengufuk
Name[nb]=Speilvend vannrett
Name[nds]=Kimmrecht spegeln
Name[nl]=Horizontaal spiegelen
Name[nn]=Vend vassrett
Name[oc]=Coalevar orizontalament
Name[pa]=ਹਰੀਜ਼ੱਟਲ ਝਟਕੋ
Name[pl]=Odbij poziomo
Name[pt]=Inverter Horizontalmente
Name[pt_BR]=Inverter horizontalmente
Name[ro]=Reflectă orizontal
Name[ru]=Отразить по горизонтали
Name[sk]=Preklopiť vodorovne
Name[sl]=Zrcali vodoravno
Name[sr]=Преврни водоравно
Name[sr@ijekavian]=Преврни водоравно
Name[sr@ijekavianlatin]=Prevrni vodoravno
Name[sr@latin]=Prevrni vodoravno
Name[sv]=Vänd horisontellt
Name[tg]=Гардонидани уфуқӣ
Name[th]=พลิกกลับทางแนวนอน
Name[tr]=Yatay Olarak Çevir
Name[ug]=توغرىسىغا چۆرگىلىتىش
Name[uk]=Віддзеркалити горизонтально
Name[vi]=Lật ngang
Name[wa]=Ratourner di coutchî
Name[x-test]=xxFlip Horizontallyxx
Name[zh_CN]=水平翻转
Name[zh_TW]=水平翻轉
Icon=2rightarrow
Exec=jpegorient h %F
