[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=Minitools
X-KDE-PluginInfo-Author=Alexander Kellett
X-KDE-PluginInfo-Email=lypanov@kde.org
X-KDE-PluginInfo-Name=Minitools
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=preferences-plugin
Name=Bookmarklets
Name[ar]=العلامات المصغرة
Name[bg]=Бързи отметки
Name[bs]=Obeleživačići
Name[ca]=Bookmarklets
Name[ca@valencia]=Bookmarklets
Name[cs]=Záložky
Name[da]=Bookmarklets
Name[de]=Lesezeichenskripte
Name[el]=Bookmarklets
Name[en_GB]=Bookmarklets
Name[es]=Marcadores de JavaScript
Name[et]=Järjehoidja-apletid
Name[eu]=JS-Laster-markak
Name[fi]=Toimintokirjanmerkki
Name[fr]=Signets avec scripts
Name[ga]=Leabharmhaircíní
Name[gl]=Marcadores
Name[he]=סימניות
Name[hne]=बुकमार्कलेट्स
Name[hu]=Könyvjelzők
Name[ia]=Bookmarklets
Name[id]=Penanda
Name[is]=Bókamerkjaskriftur
Name[it]=Bookmarklet
Name[ja]=ブックマークレット
Name[kk]=Бетбелгішелері
Name[km]=Bookmarklet
Name[ko]=북마클릿
Name[ku]=Cih-Nîşanker
Name[lt]=Išmanios žymelės
Name[lv]=Grāmatzīmju sīkrīki
Name[mr]=ओळखचिन्ह
Name[nb]=Småbokmerker
Name[nds]=Skript-Leestekens
Name[nl]=Bladwijzers
Name[nn]=Bokmerkeprogram
Name[pa]=ਬੁੱਕਮਾਰਕਲਿਟਸ
Name[pl]=Zakładki
Name[pt]=Mini-favoritos
Name[pt_BR]=Minifavoritos
Name[ro]=Bookmarklet-uri
Name[ru]=Закладки
Name[sk]=Bookmarklets (favelet)
Name[sl]=Skripti v zaznamkih
Name[sr]=Обележивачићи
Name[sr@ijekavian]=Обиљеживачићи
Name[sr@ijekavianlatin]=Obilježivačići
Name[sr@latin]=Obeleživačići
Name[sv]=Småbokmärken
Name[tg]=Хатчӯбҳо
Name[th]=คั่นหน้าต่าง ๆ
Name[tr]=Yer İmleyicileri
Name[ug]=خەتكۈچلەر
Name[uk]=Дієзакладки
Name[wa]=Pititès rmarkes
Name[x-test]=xxBookmarkletsxx
Name[zh_CN]=书签
Name[zh_TW]=書籤
Comment=Enables the use of bookmarklets
Comment[ar]=تمكن استعمال العلامات المصغرة
Comment[bg]=Използване на бързи отметки (bookmarklets)
Comment[bs]=Uključuje obeleživačiće
Comment[ca]=Habilita l'ús de «bookmarklets»
Comment[ca@valencia]=Habilita l'ús de «bookmarklets»
Comment[cs]=Povolení záložek
Comment[da]=Aktiverer brugen af bookmarklets.
Comment[de]=Ermöglicht die Verwendung von Lesezeichenskripten
Comment[el]=Ενεργοποιεί τη χρήση bookmarklets
Comment[en_GB]=Enables the use of bookmarklets
Comment[es]=Activa el uso de marcadores de JavaScript
Comment[et]=Lülitab sisse järjehoidja-aplettide kasutamise
Comment[eu]=JS-laster-marken erabiltzea gaitzen du
Comment[fi]=Ottaa toimintokirjanmerkit käyttöön
Comment[fr]=Active l'utilisation de signets avec scripts
Comment[ga]=Cumasaigh leabharmhaircíní
Comment[gl]=Activa o uso de marcadores
Comment[he]=אפשר שימוש בסימניות
Comment[hne]=बुकमार्कलेट मन के उपयोग सक्छम करथे 
Comment[hu]=Könyvjelzők használatának engedélyezése
Comment[ia]=Habilita le uso de bookmarklets
Comment[id]=Aktifkan penggunaan penanda
Comment[is]=Virkjar notkun bókamerkjaskrifta (bookmarklets)
Comment[it]=Permette l'uso dei bookmarklet
Comment[ja]=ブックマークレットを使えるようにします
Comment[kk]=Бетбелгішелерін рұқсат етеді
Comment[km]=អនុញ្ញាត​ការ​ប្រើ bookmarklet
Comment[ko]=북마클릿 활성화시키기
Comment[ku]=Bikaranîna cih-nîşankeran çalak dike
Comment[lt]=Įjungia išmanių žymelių naudojimą
Comment[lv]=Lauj jums izmantot grāmatzīmju sīkrīkus
Comment[mr]=ओळखचिन्हाचा वापर कार्यान्वित करतो
Comment[nb]=Slår på bruk av småbokmerker
Comment[nds]=Verlöövt dat Bruken vun Skript-Leestekens
Comment[nl]=Activeert het gebruik van bladwijzers
Comment[nn]=Slår på bruk av bokmerkeprogram
Comment[pa]=ਬੁੱਕਮਾਰਕਲਿਟਸ ਦੀ ਵਰਤੋਂ ਯੋਗ ਕਰੋ
Comment[pl]=Umożliwia użycie zakładek
Comment[pt]=Activa o uso de mini-favoritos
Comment[pt_BR]=Habilita o uso de minifavoritos
Comment[ro]=Activează folosirea de bookmarklet-uri
Comment[ru]=Включает использование закладок
Comment[sk]=Umožňuje použitie bookmarklets (favelet)
Comment[sl]=Omogoči uporabo skriptov v zaznamkih
Comment[sr]=Укључује обележивачиће
Comment[sr@ijekavian]=Укључује обиљеживачиће
Comment[sr@ijekavianlatin]=Uključuje obilježivačiće
Comment[sr@latin]=Uključuje obeleživačiće
Comment[sv]=Aktiverar användning av småbokmärken
Comment[tg]=Истифодабарии хатчӯбҳоро фаъол мекунад
Comment[th]=เปิดให้ใช้งานคั่นหน้าต่าง ๆ
Comment[tr]=Yer imleyicilerin kullanımını sağlar
Comment[ug]=خەتكۈچلەرنى ئىشلىتىشنى قوزغىتىدۇ
Comment[uk]=Вмикає використання дієзакладок
Comment[wa]=Permete l' eployaedje di ptitès rmarkes
Comment[x-test]=xxEnables the use of bookmarkletsxx
Comment[zh_CN]=启用书签的使用
Comment[zh_TW]=開啟使用書籤
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/minitools/index.html
