[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=Minitools
X-KDE-PluginInfo-Author=Alexander Kellett
X-KDE-PluginInfo-Email=lypanov@kde.org
X-KDE-PluginInfo-Name=Minitools
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=preferences-plugin
Name=Bookmarklets
Name[ca]=Bookmarklets
Name[cs]=Záložky
Name[de]=Lesezeichenskripte
Name[ia]=Bookmarklets
Name[ja]=ブックマークレット
Name[kk]=Бетбелгішелері
Name[nl]=Bladwijzers
Name[nn]=Bokmerkeprogram
Name[pt]=Módulos de Favoritos
Name[sv]=Småbokmärken
Name[uk]=Дієзакладки
Name[x-test]=xxBookmarkletsxx
Name[zh_TW]=小書籤
Comment=Enables the use of bookmarklets
Comment[ca]=Habilita l'ús de «bookmarklets»
Comment[cs]=Povolení záložek
Comment[de]=Ermöglicht die Verwendung von Lesezeichenskripten
Comment[ia]=Habilita le uso de bookmarklets
Comment[ja]=ブックマークレットを使えるようにします
Comment[kk]=Бетбелгішелерін рұқсат етеді
Comment[nl]=Activeert het gebruik van bladwijzers
Comment[nn]=Slår på bruk av bokmerkeprogram
Comment[pt]=Activar o uso de módulos de favoritos
Comment[sv]=Aktiverar användning av småbokmärken
Comment[uk]=Вмикає використання дієзакладок
Comment[x-test]=xxEnables the use of bookmarkletsxx
Comment[zh_TW]=開啟使用小書籤
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/minitools/index.html
