[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=Minitools
X-KDE-PluginInfo-Author=Alexander Kellett
X-KDE-PluginInfo-Email=lypanov@kde.org
X-KDE-PluginInfo-Name=Minitools
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=preferences-plugin
Name=Bookmarklets
Name[ca]=Bookmarklets
Name[cs]=Záložky
Name[da]=Bookmarklets
Name[de]=Lesezeichenskripte
Name[es]=Marcadores de JavaScript
Name[et]=Järjehoidja-apletid
Name[fr]=Signets scripté
Name[hu]=Könyvjelzők
Name[ia]=Bookmarklets
Name[it]=Bookmarklet
Name[ja]=ブックマークレット
Name[kk]=Бетбелгішелері
Name[ko]=북마클릿
Name[nb]=Småbokmerker
Name[nds]=Skript-Leestekens
Name[nl]=Bladwijzers
Name[nn]=Bokmerkeprogram
Name[pt]=Módulos de Favoritos
Name[pt_BR]=Minifavoritos
Name[ru]=Букмарклеты
Name[sr]=Обележивачићи
Name[sr@ijekavian]=Обележивачићи
Name[sr@ijekavianlatin]=Obeleživačići
Name[sr@latin]=Obeleživačići
Name[sv]=Småbokmärken
Name[uk]=Дієзакладки
Name[x-test]=xxBookmarkletsxx
Name[zh_TW]=小書籤
Comment=Enables the use of bookmarklets
Comment[ca]=Habilita l'ús de «bookmarklets»
Comment[cs]=Povolení záložek
Comment[da]=Aktiverer brugen af bookmarklets
Comment[de]=Ermöglicht die Verwendung von Lesezeichenskripten
Comment[es]=Activa el uso de marcadores de JavaScript
Comment[et]=Lülitab sisse järjehoidja-aplettide kasutamise
Comment[fr]=Active l'utilisation de signets avec des scripts
Comment[hu]=Könyvjelzők használatának engedélyezése
Comment[ia]=Habilita le uso de bookmarklets
Comment[it]=Permette l'uso dei bookmarklet
Comment[ja]=ブックマークレットを使えるようにします
Comment[kk]=Бетбелгішелерін рұқсат етеді
Comment[ko]=북마클릿 활성화시키기
Comment[nb]=Slår på bruk av småbokmerker
Comment[nds]=Verlöövt dat Bruken vun Skript-Leestekens
Comment[nl]=Activeert het gebruik van bladwijzers
Comment[nn]=Slår på bruk av bokmerkeprogram
Comment[pt]=Activar o uso de módulos de favoritos
Comment[pt_BR]=Habilita o uso de minifavoritos
Comment[ru]=Позволяет использовать закладки на процедуры JavaScript
Comment[sr]=Укључује обележивачиће
Comment[sr@ijekavian]=Укључује обележивачиће
Comment[sr@ijekavianlatin]=Uključuje obeleživačiće
Comment[sr@latin]=Uključuje obeleživačiće
Comment[sv]=Aktiverar användning av småbokmärken
Comment[uk]=Вмикає використання дієзакладок
Comment[x-test]=xxEnables the use of bookmarkletsxx
Comment[zh_TW]=開啟使用小書籤
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/minitools/index.html
