[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=Minitools
X-KDE-PluginInfo-Author=Alexander Kellett
X-KDE-PluginInfo-Email=lypanov@kde.org
X-KDE-PluginInfo-Name=Minitools
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=preferences-plugin
Name=Bookmarklets
Comment=Enables the use of bookmarklets
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/minitools/index.html
