[Desktop Entry]
Type=Service
Comment=Embeddable HTML component
Comment[bg]=Компонент HTML за вграждане
Comment[ca]=Component HTML incrustable
Comment[ca@valencia]=Component HTML incrustable
Comment[cs]=Zapouzdřitelná HTML komponenta
Comment[da]=HTML-komponent som kan indlejres
Comment[de]=Einbettungsfähige HTML-Komponente
Comment[el]=Ενσωματώσιμο συστατικό HTML
Comment[en_GB]=Embeddable HTML component
Comment[es]=Componente HTML empotrable
Comment[et]=Põimitav HTML-komponent
Comment[eu]=HTML osagai txertagarria
Comment[fi]=Upotettava HTML-osa
Comment[fr]=Composant HTML pouvant être embarqué
Comment[gl]=Compoñente HTML incrustábel.
Comment[hu]=Beágyazható HTML komponens
Comment[ia]=Componente de HTML insertabile
Comment[id]=Komponen HTML Dapat Ditanamkan
Comment[is]=Innfellanleg HTML eining
Comment[it]=Componente HTML incorporabile
Comment[ka]=ჩადგმადი HTML კომპონენტი
Comment[ko]=임베드 가능 HTML 구성 요소
Comment[nb]=Innebyggbar HTML-komponent
Comment[nl]=In te bedden HTML-component
Comment[nn]=Innebyggbar HTML-komponent
Comment[pl]=Osadzalny składnik HTML
Comment[pt]=Componente incorporada de HTML
Comment[pt_BR]=Componente HTML embutido
Comment[ru]=Встраиваемый компонент HTML
Comment[sk]=Vložiteľný HTML komponent
Comment[sl]=Vgradljiv sestavni del HTML
Comment[sr]=Угнездива ХТМЛ компонента
Comment[sr@ijekavian]=Угњездива ХТМЛ компонента
Comment[sr@ijekavianlatin]=Ugnjezdiva HTML komponenta
Comment[sr@latin]=Ugnezdiva HTML komponenta
Comment[sv]=Inbäddningsbar HTML-komponent
Comment[tr]=Gömülebilir HTML bileşeni
Comment[uk]=Придатний до вбудовування компонент HTML
Comment[x-test]=xxEmbeddable HTML componentxx
Comment[zh_CN]=可嵌入的 HTML 组件
Comment[zh_TW]=可內嵌的 HTML 元件
Icon=webengine
MimeType=text/html;application/xml;application/xhtml+xml;audio/flac;audio/mpeg;audio/ogg;audio/x-vorbis+ogg
Name=WebEngine
Name[bg]=Ядро за уеб
Name[ca]=WebEngine
Name[ca@valencia]=WebEngine
Name[cs]=WebEngine
Name[da]=WebEngine
Name[de]=Webengine
Name[el]=WebEngine
Name[en_GB]=WebEngine
Name[eo]=WebEngine (TTT-motoro)
Name[es]=Motor Web
Name[et]=WebEngine
Name[eu]=WebEngine
Name[fi]=WebEngine
Name[fr]=WebEngine
Name[gl]=WebEngine
Name[hsb]=WebEngine
Name[hu]=WebEngine
Name[ia]=WebEngine
Name[id]=WebEngine
Name[is]=VefVél
Name[it]=WebEngine
Name[ka]=WebEngine
Name[ko]=WebEngine
Name[nl]=WebEngine
Name[nn]=Vevmotor
Name[pl]=SilnikSieciowy
Name[pt]=Motor Web
Name[pt_BR]=WebEngine
Name[ru]=WebEngine
Name[sk]=WebEngine
Name[sl]=Spletni pogon
Name[sr]=КуТ‑вебенџин
Name[sr@ijekavian]=КуТ‑вебенџин
Name[sr@ijekavianlatin]=QtWebEngine
Name[sr@latin]=QtWebEngine
Name[sv]=Webbgränssnitt
Name[tr]=WebEngine
Name[uk]=Вебрушій
Name[x-test]=xxWebEnginexx
Name[zh_CN]=WebEngine
Name[zh_TW]=WebEngine
X-KDE-Default-UserAgent=Mozilla/5.0 (%PLATFORM%; %SECURITY%; %OSNAME% %OSVERSION% %SYSTYPE%; %LANGUAGE%) AppleWebKit/534.34 (KHTML, like Gecko) %APPVERSION% Safari/534.34
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=kf5/parts/webenginepart
InitialPreference=12

X-KDE-PluginInfo-Name=webenginepart
X-KDE-PluginInfo-Version=1.3.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-Copyright=Copyright 2009-2010 Dawit Alemayehu, 2008-2010 Urs Wolfer, 2007 Trolltech ASA
X-KDE-PluginInfo-Authors=Sune Vuorela,Dawit Alemayehu,Urs Wolfer,Michael Howell,Laurent Montel,Dirk Mueller
X-KDE-PluginInfo-Emails=sune@kde.org,adawit@kde.org,uwolfer@kde.org,mhowell123@gmail.com,montel@kde.org,mueller@kde.org
X-KDE-PluginInfo-Website=
