[Desktop Entry]
Type=Service
Comment=Embeddable HTML component
Comment[ca]=Component HTML incrustable
Comment[ca@valencia]=Component HTML incrustable
Comment[cs]=Zapouzdřitelná HTML komponenta
Comment[nl]=In te bedden HTML-component
Comment[pt]=Componente incorporada de HTML
Comment[sv]=Inbäddningsbar HTML-komponent
Comment[uk]=Придатний до вбудовування компонент HTML
Comment[x-test]=xxEmbeddable HTML componentxx
Icon=webengine
MimeType=text/html;application/xml;application/xhtml+xml;
Name=WebEngine
Name[ca]=WebEngine
Name[ca@valencia]=WebEngine
Name[nl]=WebEngine
Name[pt]=Motor Web
Name[sv]=Webbgränssnitt
Name[uk]=Вебрушій
Name[x-test]=xxWebEnginexx
X-KDE-Default-UserAgent=Mozilla/5.0 (%PLATFORM%; %SECURITY%; %OSNAME% %OSVERSION% %SYSTYPE%; %LANGUAGE%) AppleWebKit/534.34 (KHTML, like Gecko) %APPVERSION% Safari/534.34
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=kf5/parts/webenginepart
InitialPreference=12
