[Desktop Entry]
Type=Service
Comment=Embeddable HTML component
Comment[ca]=Component HTML incrustable
Comment[ca@valencia]=Component HTML incrustable
Comment[cs]=Zapouzdřitelná HTML komponenta
Comment[de]=Einbettungsfähige HTML-Komponente
Comment[en_GB]=Embeddable HTML component
Comment[es]=Componente HTML empotrable
Comment[nb]=Innebyggbar HTML-komponent
Comment[nl]=In te bedden HTML-component
Comment[pl]=Osadzalny składnik HTML
Comment[pt]=Componente incorporada de HTML
Comment[sv]=Inbäddningsbar HTML-komponent
Comment[uk]=Придатний до вбудовування компонент HTML
Comment[x-test]=xxEmbeddable HTML componentxx
Comment[zh_TW]=可內嵌的 HTML 元件
Icon=webengine
MimeType=text/html;application/xml;application/xhtml+xml;
Name=WebEngine
Name[ca]=WebEngine
Name[ca@valencia]=WebEngine
Name[de]=Webengine
Name[en_GB]=WebEngine
Name[es]=Motor Web
Name[nl]=WebEngine
Name[pl]=SilnikSieciowy
Name[pt]=Motor Web
Name[sv]=Webbgränssnitt
Name[uk]=Вебрушій
Name[x-test]=xxWebEnginexx
Name[zh_TW]=WebEngine
X-KDE-Default-UserAgent=Mozilla/5.0 (%PLATFORM%; %SECURITY%; %OSNAME% %OSVERSION% %SYSTYPE%; %LANGUAGE%) AppleWebKit/534.34 (KHTML, like Gecko) %APPVERSION% Safari/534.34
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=kf5/parts/webenginepart
InitialPreference=12
