[Desktop Entry]
Icon=preferences-desktop-filetype-association
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 filetypes
X-DocPath=kcontrol/filetypes/index.html

X-KDE-Library=kcm_filetypes
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=advanced-user-settings

Name=File Associations
Name[af]=Lêer Assosiasies
Name[ar]=ارتباطات الملفات
Name[be]=Асацыяцыі файлаў
Name[bg]=Файлови асоциации
Name[bn]=ফাইল অ্যাসোসিয়েশন
Name[br]=Kevreañ restroù
Name[ca]=Associacions de fitxers
Name[cs]=Asociace souborů
Name[csb]=Pòwiązania lopków
Name[cy]=Cysylltiadau Ffeiliau
Name[da]=Filassociationer
Name[de]=Dateizuordnungen
Name[el]=Συσχετίσεις αρχείων
Name[eo]=Dosiera kunligaro
Name[es]=Asociaciones de archivo
Name[et]=Failide seosed
Name[eu]=Fitxategi elkarketak
Name[fa]=انجمنهای پرونده
Name[fi]=Tiedostosidokset
Name[fr]=Associations de fichiers
Name[fy]=Triemassosjaasjes
Name[ga]=Comhcheangail Chomhaid
Name[gl]=Asociacións de ficheiros
Name[gu]=ફાઇલ જોડાણો
Name[he]=שיוכי קבצים
Name[hi]=फ़ाइल असोसिएशन
Name[hr]=Pridruživanja datoteka
Name[hu]=Fájltársítások
Name[is]=Skráavensl
Name[it]=Associazioni file
Name[ja]=ファイルの関連付け
Name[ka]=ფაილთა მიბმა
Name[kk]=Файл сәйкестіктері
Name[km]=​ទំនាក់​ទំនង​ឯកសារ
Name[kn]=ಕಡತ ಸಾಹಚರ್ಯಗಳು
Name[ko]=파일 연결
Name[ku]=Têkiliyên Pelan
Name[lt]=Failų sąsajos
Name[lv]=Failu asociācijas
Name[mk]=Асоцијации на датотеки
Name[nb]=Filtilknytninger
Name[nds]=Datei-Toornen
Name[ne]=फाइल संयोजन
Name[nl]=Bestandsassociaties
Name[nn]=Filtilknytingar
Name[oc]=Associacions de fichièrs
Name[pa]=ਫਾਇਲ ਸਬੰਧ
Name[pl]=Skojarzenia plików
Name[pt]=Associação de Ficheiros
Name[pt_BR]=Associações de Arquivos
Name[ro]=Asociere fișiere
Name[ru]=Привязки файлов
Name[se]=Fiilačatnagasat
Name[sk]=Asociácie súborov
Name[sl]=Datotečne povezave
Name[sr]=Придружења фајловима
Name[sr@latin]=Pridruženja fajlovima
Name[sv]=Filbindningar
Name[ta]=கோப்பு ஒருங்கமைப்புகள்
Name[tg]=Вобастагонии Файл
Name[th]=กำหนดการใช้แฟ้ม
Name[tr]=Dosya İlişkileri
Name[uk]=Асоціації файлів
Name[uz]=Файл тури билан\nбоғлиқлар
Name[vi]=Tập tin tương ứng
Name[wa]=Assoçnaedje di fitchîs
Name[x-test]=xxFile Associationsxx
Name[xh]=Uyelemaniso Lwefayile
Name[zh_CN]=文件关联
Name[zh_TW]=檔案關聯

Comment=Configure file associations
Comment[af]=Konfigureer lêer assosiasies
Comment[ar]=اضبط ارتباطات الملفات
Comment[be]=Настаўленні асацыяцыяў файлаў
Comment[bg]=Настройване и асоцииране на файлови типове с програми
Comment[bn]=ফাইল অ্যাসোসিয়েশন কনফিগার করুন
Comment[br]=Kefluniañ kevreañ restroù
Comment[ca]=Configura les associacions de fitxers
Comment[cs]=Nastavení asociací souborů
Comment[csb]=Konfigùracëjô pòwiązaniów lopków
Comment[cy]=Ffurfweddu cysylltiadau ffeiliau
Comment[da]=Indstil filassociationer
Comment[de]=Dateizuordnungen vornehmen
Comment[el]=Ρύθμιση των συσχετίσεων αρχείων
Comment[eo]=Agordi la ligojn de programoj al dosiertipoj
Comment[es]=Configuración de asociaciones de archivos
Comment[et]=Failide seoste seadistamine
Comment[eu]=Fitxategi elkarketak konfiguratzen ditu
Comment[fa]=پیکربندی انجمنهای پرونده
Comment[fi]=Tiedostosidokset
Comment[fr]=Configuration des associations de fichiers
Comment[fy]=Hjir kinne jo de triemassosjaasjes ynstelle
Comment[ga]=Cumraigh comhcheangail chomhaid
Comment[gl]=Configurar as asociacións de ficheiros
Comment[gu]=ફાઇલ જોડાણો રૂપરેખાંકિત કરો
Comment[he]=שינוי הגדרות שיוכי הקבצים
Comment[hi]=फ़ाइल असोसिएशन कॉन्फ़िगर करें
Comment[hr]=Konfiguriranje pridruživanja datoteka
Comment[hu]=A fájlhozzárendelések módosítása
Comment[is]=Stilla skráavensl
Comment[it]=Configura associazioni dei file
Comment[ja]=ファイルの関連付けを設定
Comment[ka]=ფაილთა მიბმის კონფიგურირება
Comment[kk]=Файл сәйкестіктерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​​ទំនាក់ទំនង​ឯកសារ
Comment[kn]=ಕಡತ ಸಾಹಚರ್ಯಗಳನ್ನು ಸಂರಚಿಸು
Comment[ko]=파일 연결 설정
Comment[ku]=Têkiliyên pelan ava bike
Comment[lt]=Konfigūruoti failų sąsajas
Comment[lv]=Konfigurēt failu asociācijas
Comment[mk]=Конфигурирајте ги асоцијациите на датотеките
Comment[nb]=Sette opp filtilknytninger
Comment[nds]=Instellen, welk Dateitypen welk Programmen tohöört
Comment[ne]=फाइल संयोजन कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de bestandsassociaties instellen
Comment[nn]=Set opp filassosiasjonar
Comment[pa]=ਫਾਇਲ ਸਬੰਧ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja skojarzeń plików
Comment[pt]=Configuração das associações de ficheiros
Comment[pt_BR]=Configurar associações de arquivos
Comment[ro]=Configurează asocierea fișierelor cu aplicații
Comment[ru]=Настройка привязки файлов
Comment[se]=Heivet fiilačatnagasaid
Comment[sk]=Nastavenie asociácií súborov
Comment[sl]=Nastavi datotečne povezave
Comment[sr]=Подеси придружења фајловима
Comment[sr@latin]=Podesi pridruženja fajlovima
Comment[sv]=Anpassa filbindningar
Comment[ta]=ஒருங்கிணைப்புகளை வடிவமை
Comment[tg]=Танзими вобастагони Файл
Comment[th]=ปรับแต่งการเรียกใช้งานแฟ้ม
Comment[tr]=Dosya ilişkilerini yapılandır
Comment[uk]=Налаштування асоціацій файлів
Comment[uz]=Файл тури билан боғлиқларни мослаш
Comment[vi]=Cấu hình tập tin tương ứng
Comment[wa]=Apontyî les assoçnaedjes di fitchîs
Comment[x-test]=xxConfigure file associationsxx
Comment[xh]=Qwalasela uloyamiso lwefayile
Comment[zh_CN]=配置文件关联
Comment[zh_TW]=設定檔案關聯

X-KDE-Keywords=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern
X-KDE-Keywords[be]=Тыпы файлаў,асацыяцыі файлаў,сувязі файлаў,тыпы MIME,шаблоны файлаў,файлы,шаблон,Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern
X-KDE-Keywords[bg]=Keywords=файл, файлове, асоциация, асоциации, връзки, изпълнение, връзка, програма, тип на файл, тип, Filetypes, File Associations, Mime Types, File Patterns, Files, Pattern
X-KDE-Keywords[ca]=Tipus de fitxer,Associacions de fitxers,Tipus Mime,Patrons de fitxer,Fitxers,Patró
X-KDE-Keywords[cs]=Typy souborů,Asociace souborů,MIME typy,Vzory souborů,Soubory,Vzor
X-KDE-Keywords[csb]=ôrt lopków,pòwiązania lopków,ôrtë MIME,mùster lopków,lopczi,mùster
X-KDE-Keywords[cy]=Mathau o Ffeiliau,Cysylltiadau Ffeil,Mathau o Mime,Patrymau Ffeil,Ffeiliau,Patrwm
X-KDE-Keywords[da]=Filtyper,Filassociationer,Mimetyper,Filmønstre,Filer,mønstre
X-KDE-Keywords[de]=Dateitypen,Dateizuordnungen,MIME-Typen,Dateimuster,Filter,Muster,Dateien
X-KDE-Keywords[el]=Τύποι αρχείων,Συσχετίσεις αρχείων,Τύποι mime,Μοτίβα αρχείων,Αρχεία,Μοτίβο
X-KDE-Keywords[eo]=dosiertipoj,asocioj,MIME,dosieroj,ŝablonoj,dosieroj,MIME-tipoj
X-KDE-Keywords[es]=Tipos de fichero,Asociaciones de fichero,Tipos MIME,Patrones de fichero,Ficheros,Patrón
X-KDE-Keywords[et]=Failitüübid,Failide seosed,MIME tüübid,failimustrid,failid,mustrid
X-KDE-Keywords[eu]=Fitxategi motak,Fitxategi elkarketak,Mime motak, Fitxategi ereduak,Fitxategiak,Eredua
X-KDE-Keywords[fa]=انواع پرونده، انجمنهای پرونده، انواع مایم، الگوهای پرونده، پرونده‌ها، الگو
X-KDE-Keywords[fi]=Tiedostotyypit,Tiedostosidokset,Mimetyypit,Tiedostokuviot,Tiedostot,Kuvio
X-KDE-Keywords[fr]=types de fichiers,associations de fichiers,types MIME,motifs de fichier,fichiers,motif,extension,extensions de fichiers,applications
X-KDE-Keywords[fy]=Triemtypen,Triemtaheaksels,Triemassosjaasjes,mime types,Triempatroanen,Taheaksels,Triemmen
X-KDE-Keywords[gl]=Tipos de ficheiro, Asociacións de ficheiro,Tipos Mime,Patróns de ficheiro,Ficheiros,Patrón
X-KDE-Keywords[he]=תבניות קבצים,קבצים,תבנית,סוגי קבצים,שיוכי קבצים,טיפוסי,Mime,Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern
X-KDE-Keywords[hr]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,Vrste datoteka,Pridruživanje datoteka,MIME vrste,Uzorci datoteka,datoteke,uzorci
X-KDE-Keywords[hu]=fájltípusok,fájlhozzárendelések,MIME-típusok,fájlminták,fájlok,minta
X-KDE-Keywords[is]=Skráartegund,Skráavensl,Samhengi skráa,skráarbindingar,Mime-tög,síur,skrár,mynstur
X-KDE-Keywords[it]=tipi di file,associazioni file,tipi MIME,MIME,pattern dei file,file,motivi dei file,schemi
X-KDE-Keywords[ja]=ファイルタイプ,ファイルの関連付け,マイムタイプ,ファイルパターン,ファイル,パターン
X-KDE-Keywords[km]=ប្រភេទ​ឯកសារ ទំនាក់ទំនង​ឯកសារ ប្រភេទ Mime លំនាំ​ឯកសារ ឯកសារ លំនាំ
X-KDE-Keywords[ko]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,파일 형식,파일 연결,파일 패턴
X-KDE-Keywords[lt]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,Failų tipai,Failų sąsajos,Mime Tipai,Failų modeliai,Failo,Modeliai, failų sietys
X-KDE-Keywords[lv]=Failutipi,Failu Asociācijas,Maime Tipi,Failu Maskas,Faili,Maskas
X-KDE-Keywords[mk]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,Типови на датотеки,Асоцијации на датотеки,типови,Датотеки
X-KDE-Keywords[nb]=Filtyper,Filtilknytninger,Mime-typer,Filmønster,filer
X-KDE-Keywords[nds]=Dateitypen,Datei-Tohören,Mime Typen,Dateimuster,Datei,Muster
X-KDE-Keywords[ne]=फाइल प्रकार, फाइल संयोजन, माइम प्रकार, फाइल बाँन्की, फाइलहरू, बाँन्की
X-KDE-Keywords[nl]=bestandstypen,bestandsextensies,bestandsassociaties,mime types,bestandspatronen,extensies,bestanden
X-KDE-Keywords[nn]=filtypar,filtilknytingar,MIME-typar,filmønster,filer,mønster
X-KDE-Keywords[pa]=Filetypes,File Associations,Mime Types,File Patterns,ਫਾਇਲਾਂ,Pattern,ਫਾਇਲ ਕਿਸਮ,ਫਾਇਲ ਸਬੰਧ
X-KDE-Keywords[pl]=Typy plików,skojarzenia plików,typy MIME,wzorce plików,pliki,wzorzec
X-KDE-Keywords[pt]=Tipos de Ficheiros,Associações a Ficheiros,Tipos MIME,Padrões de Ficheiros,Ficheiros,Padrão
X-KDE-Keywords[pt_BR]=Tipos de Arquivo,Associações de Arquivo,Tipos MIME,Padrões de Arquivo,Arquivos,Padrão
X-KDE-Keywords[ro]=tipuri de fişiere,asocieri fişiere,tipuri MIME,modele de fişiere,fişiere
X-KDE-Keywords[se]=Fiilašlájat,Fiilačatnagasat,Mime-šlájat,Fiilaminsttar, fiillat,minsttar
X-KDE-Keywords[sl]=vrste datotek,vezi datotek,vzorci datotek,datoteke,vzorec
X-KDE-Keywords[sr]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,врсте фајлова,узорци фајлова,узорак,придружење,MIME типови
X-KDE-Keywords[sr@latin]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,vrste fajlova,uzorci fajlova,uzorak,pridruženje,MIME tipovi
X-KDE-Keywords[sv]=Filtyper,Filbindningar,Mime-typer,Filmönster,Filer,Mönster
X-KDE-Keywords[ta]=கோப்பு வகைகள்,கோப்பு சேர்ப்புகள், மைம் வகைகள், கோப்பு மாதிரிகள்,கோப்புகள்,மாதிரிகள்
X-KDE-Keywords[th]=ประเภทแฟ้ม,กำหนดการใช้แฟ้ม,ประเภท Mime,รูปแบบแฟ้ม,แฟ้ม,รูปแบบ
X-KDE-Keywords[tr]=Dosya Türleri,Dosya İlişkileri,Mime Türleri,Dosya Kalıpları,Dosyalar
X-KDE-Keywords[uk]=типи файлів,асоціації файлів,типи MIME,MIME,шаблони файлів,файли,взірці,файли
X-KDE-Keywords[uz]=Файл турлари,Файл билан боғланган дастурлар,MIME турлари,Файл намуналари,Файллар,Намуна
X-KDE-Keywords[vi]=Kiểu tập tin,Tập tin tương ứng,Kiểu MIME,Mẫu tập tin,Tập tin, Mẫu
X-KDE-Keywords[wa]=Sôres di fitchîs,assoçnaedjes di fitchîs,sôres MIME,patrons d' fitchîs,fitchîs,patrons
X-KDE-Keywords[x-test]=xxFiletypes,File Associations,Mime Types,File Patterns,Files,Patternxx
X-KDE-Keywords[xh]=Iindidi zefayile,Unxubelelaniso lwefayile,Iindidi zeMime,Imilinganiselo yefayile,Iifayile,Umlinganiselo
X-KDE-Keywords[zh_CN]=Filetypes,File Associations,Mime Types,File Patterns,Files,文件类型,文件关联,Mime 类型,文件模式,文件,模式
X-KDE-Keywords[zh_TW]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,檔案類型,檔案關聯,MIME 類型,檔案樣式,檔案,樣式
