[Desktop Entry]
Encoding=UTF-8
Icon=filetypes
Type=Service
ServiceTypes=KCModule
Exec=kcmshell filetypes
DocPath=kcontrol/filetypes/index.html

X-KDE-Library=kcm_filetypes
X-KDE-ParentApp=kcontrol

Name=File Associations
Name[af]=Lêer Assosiasies
Name[ar]=ارتباطات الملفات
Name[be]=Асацыяцыі файлаў
Name[br]=Kevreañ restroù
Name[ca]=Associacions de fitxers
Name[cs]=Asociace souborů
Name[csb]=Pòwiązania lopków
Name[cy]=Cysylltiadau Ffeiliau
Name[da]=Filassociationer
Name[de]=Dateizuordnungen
Name[el]=Συσχετίσεις αρχείων
Name[eo]=Dosiertipoj
Name[es]=Asociaciones de fichero
Name[et]=Failide seosed
Name[eu]=Fitxategi elkarketak
Name[fa]=انجمنهای پرونده
Name[fi]=Tiedostosidokset
Name[fr]=Associations de fichiers
Name[fy]=Triemassosjaasjes
Name[gl]=Asociacións de Ficheiros
Name[he]=שיוכי קבצים
Name[hr]=Pridruživanja datoteka
Name[hu]=Fájltársítások
Name[is]=Skráavensl
Name[it]=Associazioni file
Name[ja]=ファイルの関連付け
Name[ka]=ფაილთა მიბმა
Name[kk]=Файл сәйкестіктері
Name[km]=ទំនាក់​ទំនង​ឯកសារ
Name[ko]=파일 접근 권한
Name[lt]=Bylų asociacijos
Name[lv]=Failu Asociācijas
Name[mk]=Асоцијации на датотеки
Name[nb]=Filtilknytninger
Name[nds]=Datei-Toornen
Name[ne]=फाइल संयोजन
Name[nl]=Bestandsassociaties
Name[nn]=Filtilknytingar
Name[pa]=ਫਾਇਲ ਸਬੰਧ
Name[pl]=Skojarzenia plików
Name[pt]=Associação de Ficheiros
Name[pt_BR]=Associações de arquivos
Name[ro]=Asociere fişiere
Name[ru]=Привязки файлов
Name[se]=Fiilačatnagasat
Name[sl]=Datotečne povezave
Name[sr]=Придружења фајловима
Name[sr@latin]=Pridruženja fajlovima
Name[sv]=Filbindningar
Name[ta]=கோப்பு ஒருங்கமைப்புகள்
Name[tg]=Вобастагонии Файл
Name[tr]=Dosya İlişkileri
Name[uk]=Асоціації файлів
Name[uz]=Файл тури билан\nбоғлиқлар
Name[x-test]=xxFile Associationsxx
Name[xh]=Uyelemaniso Lwefayile
Name[zh_TW]=檔案關聯

Comment=Configure file associations
Comment[af]=Konfigureer lêer assosiasies
Comment[ar]=إعداد إرتباطات الملفات
Comment[be]=Настаўленні асацыяцыяў файлаў
Comment[br]=Kefluniañ kevreañ restroù
Comment[ca]=Configura les associacions de fitxers
Comment[cs]=Nastavení asociací souborů
Comment[csb]=Konfigùracëjô pòwiązaniów lopków
Comment[cy]=Ffurfweddu cysylltiadau ffeiliau
Comment[da]=Indstil filassociationer
Comment[de]=Dateizuordnungen vornehmen
Comment[el]=Ρύθμιση των συσχετίσεων αρχείων
Comment[eo]=Agordu de ligo de programoj al dosiertipoj
Comment[es]=Configuración de asociaciones de ficheros
Comment[et]=Failide seoste seadistamine
Comment[eu]=Fitxategi elkarketak konfiguratzen ditu
Comment[fa]=پیکربندی انجمنهای پرونده
Comment[fi]=Tiedostosidokset
Comment[fr]=Configuration des associations de fichiers
Comment[fy]=Hjir kinne jo de triemassosjaasjes ynstelle
Comment[gl]=Configurar as asociacións de ficheiros
Comment[he]=שינוי הגדרות שיוכי הקבצים
Comment[hr]=Konfiguriranje pridruživanja datoteka
Comment[hu]=A fájlhozzárendelések módosítása
Comment[is]=Stilla skráavensl
Comment[it]=Configura associazioni dei file
Comment[ja]=ファイルの関連付けを設定
Comment[ka]=ფაილთა მიბმის კონფიგურირება
Comment[kk]=Файл сәйкестіктерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ទំនាក់​ទំនង​ឯកសារ
Comment[lt]=Konfigūruoti bylų sietis
Comment[lv]=Konfigurēt failu asociācijas
Comment[mk]=Конфигурирајте ги асоцијациите на датотеките
Comment[nb]=Sette opp filtilknytninger
Comment[nds]=Instellen, welk Dateitypen welk Programmen tohöört
Comment[ne]=फाइल संयोजन कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de bestandsassociaties instellen
Comment[nn]=Set opp filassosiasjonar
Comment[pa]=ਫਾਇਲ ਸਬੰਧ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja skojarzeń plików
Comment[pt]=Configuração das associações de ficheiros
Comment[pt_BR]=Configura associações de arquivos
Comment[ro]=Configurează asocierea fişierelor cu aplicaţii
Comment[ru]=Настройка привязки файлов
Comment[se]=Heivet fiilačatnagasaid
Comment[sl]=Nastavi datotečne povezave
Comment[sr]=Подешавање придружења фајловима
Comment[sr@latin]=Podešavanje pridruženja fajlovima
Comment[sv]=Anpassa filbindningar
Comment[ta]=ஒருங்கிணைப்புகளை வடிவமை
Comment[tg]=Танзими вобастагони Файл
Comment[tr]=Dosya bağıntılarını yapılandır
Comment[uk]=Налаштування асоціацій файлів
Comment[uz]=Файл тури билан боғлиқларни мослаш
Comment[x-test]=xxConfigure file associationsxx
Comment[xh]=Qwalasela uloyamiso lwefayile
Comment[zh_TW]=設定檔案關聯

Keywords=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern
Keywords[ar]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,ملفات,أنواع الملفات, أنواع Mime,ارتباطات الملفات,ملفات,الملفات,نسق,الأنساق,النسق.
Keywords[be]=Тыпы файлаў,асацыяцыі файлаў,сувязі файлаў,тыпы MIME,шаблоны файлаў,файлы,шаблон,Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern
Keywords[ca]=Tipus de fitxer,Associacions de fitxers,Tipus Mime,Patrons de fitxer,Fitxers,Patró
Keywords[cs]=Typy souborů,Asociace souborů,MIME typy,Vzory souborů,Soubory,Vzor
Keywords[csb]=ôrt lopków,pòwiązania lopków,ôrtë MIME,mùster lopków,lopczi,mùster
Keywords[cy]=Mathau o Ffeiliau,Cysylltiadau Ffeil,Mathau o Mime,Patrymau Ffeil,Ffeiliau,Patrwm
Keywords[da]=Filtyper,Filassociationer,Mimetyper,Filmønstre,Filer,mønstre
Keywords[de]=Dateitypen,Dateizuordnungen,MIME-Typen,Dateimuster,Filter,Muster,Dateien
Keywords[el]=Τύποι αρχείων,Συσχετίσεις αρχείων,Τύποι mime,Μοτίβα αρχείων,Αρχεία,Μοτίβο
Keywords[eo]=dosiertipoj,asocioj,MIME,dosieroj,ŝablonoj,dosieroj,MIME-tipoj
Keywords[es]=Tipos de fichero,Asociaciones de fichero,Tipos MIME,Patrones de fichero,Ficheros,Patrón
Keywords[et]=Failitüübid,Failide seosed,MIME tüübid,failimustrid,failid,mustrid
Keywords[eu]=Fitxategi motak,Fitxategi elkarketak,Mime motak, Fitxategi ereduak,Fitxategiak,Eredua
Keywords[fa]=انواع پرونده، انجمنهای پرونده، انواع مایم، الگوهای پرونده، پرونده‌ها، الگو
Keywords[fi]=Tiedostotyypit,Tiedostosidokset,Mimetyypit,Tiedostokuviot,Tiedostot,Kuvio
Keywords[fr]=types de fichiers,associations de fichiers,types MIME,motifs de fichier,fichiers,motif,extension,extensions de fichiers,applications
Keywords[fy]=Triemtypen,Triemtaheaksels,Triemassosjaasjes,mime types,Triempatroanen,Taheaksels,Triemmen
Keywords[gl]=Tipos de ficheiro, Asociacións de ficheiro,Tipos Mime,Patróns de ficheiro,Ficheiros,Patrón
Keywords[he]=תבניות קבצים,קבצים,תבנית,סוגי קבצים,שיוכי קבצים,טיפוסי,Mime,Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern
Keywords[hr]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,Vrste datoteka,Pridruživanje datoteka,MIME vrste,Uzorci datoteka,datoteke,uzorci
Keywords[hu]=fájltípusok,fájlhozzárendelések,MIME-típusok,fájlminták,fájlok,minta
Keywords[is]=Skráartegund,Skráavensl,Samhengi skráa,skráarbindingar,Mime-tög,síur,skrár,mynstur
Keywords[it]=tipi di file,associazioni file,tipi MIME,MIME,pattern dei file,file,motivi dei file,schemi
Keywords[ja]=ファイルタイプ,ファイルの関連付け,マイムタイプ,ファイルパターン,ファイル,パターン
Keywords[km]=ប្រភេទ​ឯកសារ,ទំនាក់​ទំនង​ឯកសារ,ប្រភេទ Mime,លំនាំ​ឯកសារ,ឯកសារ,លំនាំ
Keywords[ko]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,파일 타입,파일 꼴,파일 모음,마임,마임 타입,파일 패턴,파일,패턴,꼴,모음
Keywords[lt]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,Bylų tipai,Bylų Asociacijos,Mime Tipai,Bylų modeliai,Bylos,Modeliai, bylų sietys
Keywords[lv]=Failutipi,Failu Asociācijas,Maime Tipi,Failu Maskas,Faili,Maskas
Keywords[mk]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,Типови на датотеки,Асоцијации на датотеки,типови,Датотеки
Keywords[nb]=Filtyper,Filtilknytninger,Mime-typer,Filmønster,filer
Keywords[nds]=Dateitypen,Datei-Tohören,Mime Typen,Dateimuster,Datei,Muster
Keywords[ne]=फाइल प्रकार, फाइल संयोजन, माइम प्रकार, फाइल बान्की, फाइलहरू, बान्की
Keywords[nl]=bestandstypen,bestandsextensies,bestandsassociaties,mime types,bestandspatronen,extensies,bestanden
Keywords[nn]=filtypar,filtilknytingar,mime-typar,filmønster,filer,mønster
Keywords[pa]=Filetypes,File Associations,Mime Types,File Patterns,ਫਾਇਲਾਂ,Pattern,ਫਾਇਲ ਕਿਸਮ,ਫਾਇਲ ਸਬੰਧ
Keywords[pl]=Typy plików,skojarzenia plików,typy MIME,wzorce plików,pliki,wzorzec
Keywords[pt]=Tipos de Ficheiros,Associações a Ficheiros,Tipos MIME,Padrões de Ficheiros,Ficheiros,Padrão
Keywords[pt_BR]=tipos de arquivo,associações de arquivo,tipos MIME,padrões de arquivo,arquivos,MIME,padrão
Keywords[ro]=tipuri de fişiere,asocieri fişiere,tipuri MIME,modele de fişiere,fişiere
Keywords[se]=Fiilašlájat,Fiilačatnagasat,Mime-šlájat,Fiilaminsttar, fiillat,minsttar
Keywords[sl]=vrste datotek,vezi datotek,vzorci datotek,datoteke,vzorec
Keywords[sr]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,врсте фајлова,узорци фајлова,узорак,придружење,MIME типови
Keywords[sr@latin]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,vrste fajlova,uzorci fajlova,uzorak,pridruženje,MIME tipovi
Keywords[sv]=Filtyper,Filbindningar,Mime-typer,Filmönster,Filer,Mönster
Keywords[ta]=கோப்பு வகைகள்,கோப்பு சேர்ப்புகள், மைம் வகைகள், கோப்பு மாதிரிகள்,கோப்புகள்,மாதிரிகள்
Keywords[tr]=Dosya Türleri,Dosya İlişkileri,Mime Türleri,Dosya Kalıpları,Dosyalar
Keywords[uk]=типи файлів,асоціації файлів,типи MIME,MIME,шаблони файлів,файли,взірці,файли
Keywords[uz]=Файл турлари,Файл билан боғланган дастурлар,MIME турлари,Файл намуналари,Файллар,Намуна
Keywords[x-test]=xxFiletypes,File Associations,Mime Types,File Patterns,Files,Patternxx
Keywords[xh]=Iindidi zefayile,Unxubelelaniso lwefayile,Iindidi zeMime,Imilinganiselo yefayile,Iifayile,Umlinganiselo
Keywords[zh_TW]=Filetypes,File Associations,Mime Types,File Patterns,Files,Pattern,檔案類型,檔案關聯,MIME 類型,檔案樣式,檔案,樣式
