<!DOCTYPE gui>
<gui name="kshellcmdplugin" translationDomain="kshellcmdplugin">
<MenuBar>
 <Menu name="tools"><text>&amp;Tools</text>
  <Action name="executeshellcommand"/>
 </Menu>
</MenuBar>
</gui>
