[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Add Feed to Akregator
icon=akregator
Comment=Adds selected feed to Akregator
X-KDE-Library=akregatorkonqplugin
ServiceTypes=KonqPopupMenu/Plugin,all/all
