[Desktop Entry]
Name=Konqueror Feed Icon
Name[ar]=أيقونة تغذية الكونكيور 
Name[bg]=Икона за емисия в Konqueror
Name[bs]=Ikona dovoda K‑osvajača
Name[ca]=Icona d'enllaç del Konqueror
Name[ca@valencia]=Icona d'enllaç del Konqueror
Name[cs]=Ikona kanálu v Konqueroru
Name[da]=Feed-ikon til Konqueror
Name[de]=Symbol für RSS-Quellen in Konqueror
Name[el]=Εικονίδιο ροής του Konqueror
Name[en_GB]=Konqueror Feed Icon
Name[es]=Icono de fuentes de Konqueror
Name[eu]=Konqueror jario ikonoa
Name[fi]=Konquerorin syötekuvake
Name[fr]=Icône de flux Konqueror
Name[ga]=Deilbhín Fotha Konqueror
Name[gl]=Icona de RSS de Konqueror
Name[he]=אייקון הזנה של Konqueror
Name[hne]=कान्करर फीड चिनहा
Name[hr]=Konquerorova ikona za kanale
Name[hu]=Konqueror hírforrás-ikon
Name[ia]=Icone de syndication de Konqueror
Name[id]=Ikon Umpan Konqueror
Name[is]=Fréttastraumstáknmynd fyrir Konqueror
Name[it]=Icona fonti di Konqueror
Name[ja]=Konqueror フィードアイコン
Name[kk]=Konqueror ақпарының таңбашасы
Name[km]=រូប​តំណាង​មតិ​ព័ត៌មាន Konqueror
Name[ko]=Konqueror 피드 아이콘
Name[ku]=Îkona Çavkanî ya Konqueror
Name[lt]=Konqueror kanalo piktograma
Name[lv]=Konqueror barotņu ikona
Name[mr]=कॉन्करर फीड चिन्ह
Name[nb]=Konqueror kildeikon
Name[nds]=Stroomlüttbild för Konqueror
Name[nl]=Konqueror Feed-pictogram
Name[nn]=Konqueror-kjeldeikon
Name[oc]=Icòna de flus de Konqueror
Name[pa]=ਕੋਨਕਿਊਰੋਰ ਫੀਡ ਆਈਕਾਨ
Name[pl]=Ikona kanału Konquerora
Name[pt]=Ícone de Fonte do Konqueror
Name[pt_BR]=Ícone de fontes do Konqueror
Name[ro]=Pictogramă flux Konqueror
Name[ru]=Значок ленты новостей в Konqueror
Name[sk]=Ikona kanálu v Konqueroru
Name[sl]=Ikona vira novic za Konqueror
Name[sr]=Икона довода К‑освајача
Name[sr@ijekavian]=Икона довода К‑освајача
Name[sr@ijekavianlatin]=Ikona dovoda K‑osvajača
Name[sr@latin]=Ikona dovoda K‑osvajača
Name[sv]=Konqueror-kanalikon
Name[tg]=Нишонаи ахбороти Konqueror
Name[th]=ภาพไอคอนแหล่งป้อนของ Konqueror
Name[tr]=Konqueror Haber Kaynağı Simgesi
Name[ug]=Konqueror خەۋەر مەنبە سىنبەلگىسى
Name[uk]=Піктограма подач для Konqueoror
Name[wa]=Imådjete di floû po Konqueror
Name[x-test]=xxKonqueror Feed Iconxx
Name[zh_CN]=Konqueror 种子图标
Name[zh_TW]=Konqueror Feed 圖示
Icon=akregator
Comment=Displays an icon in the status bar if the page contains a feed
Comment[ar]=تعرض أيقونة في شريط الحالة إذا كانت الصفحة  تحوي تغذية
Comment[bg]=Показване на икона в лентата за състояние, когато страницата съдържа емисия
Comment[bs]=Ako stranica sadrži dovod, ikona se prikazuje u traci stanja
Comment[ca]=Mostra una icona a la barra d'estat si la pàgina conté una font d'informació
Comment[ca@valencia]=Mostra una icona a la barra d'estat si la pàgina conté una font d'informació
Comment[cs]=Pokud stránka obsahuje kanál, zobrazí ikonu ve stavové liště
Comment[da]=Viser et ikon i statuslinjen hvis siden indeholder et feed
Comment[de]=Zeigt das RSS-Symbol in der Statusleiste, wenn die Seite eine RSS-Quelle enthält
Comment[el]=Εμφανίζει ένα εικονίδιο στη γραμμή κατάστασης όταν η σελίδα περιέχει μια ροή
Comment[en_GB]=Displays an icon in the status bar if the page contains a feed
Comment[es]=Muestra un icono en la barra de estado si la página contiene una fuente RSS
Comment[eu]=Egoera-barran ikono bat bistaratzen du orriak jario bat daukanean
Comment[fi]=Näyttää kuvakkeen tilarivillä, jos sivulle on olemassa syöte
Comment[fr]=Affiche une icône dans la barre d'état quand la page contient un flux
Comment[ga]=Taispeáin deilbhín sa bharra stádais nuair atá fotha ar an leathanach
Comment[gl]=Mostra unha icona na barra de estado se a páxina contén unha fonte
Comment[he]=הצג אייקון בשורת המצב אם הדף מכיל הזנה
Comment[hr]=Prikaži ikonu u statusnoj traci ako stranica sadrži kanal
Comment[hu]=Megjelenít egy ikont az állapotsorban, ha az oldal tartalmaz hírforrást
Comment[ia]=Monstra un icone in le barra de stato si le pagina contine un syndication
Comment[id]=Tampilkan ikon di batang status jika halaman berisi umpan
Comment[is]=Birtir táknmynd í stöðuslá ef síðan innigeldur fréttastraum (feed)
Comment[it]=Mostra un'icona nella barra di stato se la pagina contiene una fonte
Comment[ja]=フィードを含むページでステータスバーにフィードアイコンを表示します
Comment[kk]=Бетте ақпар бар болса, күй-жай жолағында таңбашасы көрсетіледі
Comment[km]=បង្ហាញ​រូប​តំណាង​ក្នុង​របារ​ស្ថានភាព ប្រសិន​បើ​​ទំព័រ​មាន​មតិ​ព័ត៌មាន
Comment[ko]=페이지가 RSS 피드를 포함할 때 상태 표시줄에 아이콘 보이기
Comment[lt]=Rodo kanalo piktogramą statuso eilutėje, jei puslapyje yra naujienų kanalas.
Comment[lv]=Parāda ikonu statusa joslā, ja lapa satur barotni
Comment[mr]=जर पाना फीड समाविष्ट असेल तर स्थितीपट्टीत चिन्ह दर्शवितो
Comment[nb]=Viser et ikon i statuslinja hvis det er en kilde på siden
Comment[nds]=Wiest en Lüttbild op den Statusbalken, wenn de Siet en Narichtenstroom bargt.
Comment[nl]=Toont een pictogram in de statusbalk als de pagina een feed bevat
Comment[nn]=Viser eit ikon i statuslinja dersom det finst ei tilhøyrande kjelde
Comment[pa]=ਜੇ ਪੇਜ਼ ਲਈ ਫੀਡ ਹੋਵੇ ਤਾਂ ਹਾਲਤ-ਪੱਟੀ ਵਿੱਚ ਇੱਕ ਆਈਕਾਨ ਵੇਖਾਓ
Comment[pl]=Wyświetla ikonę na pasku stanu, jeżeli strona zawiera kanał
Comment[pt]=Mostra um ícone na barra de estado se a página tiver uma fonte
Comment[pt_BR]=Exibe um ícone na barra de status se a página possui uma fonte de notícias
Comment[ro]=Afișează o pictogramă în bara de stare dacă pagina conține un flux
Comment[ru]=Отображает значок в строке состояния если текущая страница содержит ленту новостей
Comment[sk]=Pokiaľ stránka obsahuje kanál, zobrazí ikonu v stavovej lište
Comment[sl]=V vrstici stanja prikaže ikono, če stran vsebuje vir novic
Comment[sr]=Ако страница садржи довод, икона се приказује у траци стања
Comment[sr@ijekavian]=Ако страница садржи довод, икона се приказује у траци стања
Comment[sr@ijekavianlatin]=Ako stranica sadrži dovod, ikona se prikazuje u traci stanja
Comment[sr@latin]=Ako stranica sadrži dovod, ikona se prikazuje u traci stanja
Comment[sv]=Visar en ikon i statusraden om sidan innehåller en kanal
Comment[tg]=Агар ахборот дорад, ин нишона дар панели ҳолат пайдо мешавад
Comment[th]=แสดงภาพไอคอนไว้ในแถบสถานะ หากหน้าเว็บมีส่วนป้อนหัวข้อบทความ
Comment[tr]=Sayfa bir RSS haber kaynağı içeriyorsa durum çubuğunda bir simge gösterir
Comment[ug]=ئەگەر بەتتە خەۋەر مەنبەسى بولسا ھالەت بالداقتا بىر سىنبەلگە كۆرسىتىدۇ
Comment[uk]=Показує піктограму у рядку стану, якщо сторінка містить подачу
Comment[wa]=Håyene ene imådjete el bår ås messaedjes s' i gn a on floû el pådje
Comment[x-test]=xxDisplays an icon in the status bar if the page contains a feedxx
Comment[zh_CN]=如果页面上包含种子，就在状态栏上显示一个图标
Comment[zh_TW]=如果頁面中有 RSS feed，則在狀態列中顯示圖示
Encoding=UTF-8
Type=Service
X-KDE-Library=akregatorkonqfeedicon
X-KDE-PluginInfo-Author=Teemu Rytilahti
X-KDE-PluginInfo-Email=tpr@d5k.net
X-KDE-PluginInfo-Name=konqfeedicon
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=http://akregator.sourceforge.net
X-KDE-PluginInfo-Category=Statusbar
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
