[Desktop Entry]
Name=Konqueror Feed Icon
Name[ca]=Icona d'enllaç del Konqueror
Name[cs]=Ikona kanálu v Konqueroru
Name[da]=Feed-ikon til Konqueror
Name[de]=Symbol für RSS-Quellen in Konqueror
Name[et]=Konquerori uudistevoo ikoon
Name[ia]=Icone de syndication de Konqueror
Name[it]=Icona fonti di Konqueror
Name[ja]=Konqueror フィードアイコン
Name[kk]=Konqueror ақпарының таңбашасы
Name[lt]=Konqueror kanalo piktograma
Name[nb]=Konqueror kildeikon
Name[nds]=Stroomlüttbild för Konqueror
Name[nl]=Konqueror Feed-pictogram
Name[nn]=Konqueror-kjeldeikon
Name[pt]=Ícone de Fonte do Konqueror
Name[pt_BR]=Ícone de fontes do Konqueror
Name[ru]=Значок ленты новостей
Name[sv]=Konqueror-kanalikon
Name[uk]=Піктограма подач для Konqueoror
Name[x-test]=xxKonqueror Feed Iconxx
Name[zh_TW]=Konqueror Feed 圖示
Icon=akregator
Comment=Displays an icon in the status bar if the page contains a feed
Comment[ca]=Mostra una icona a la barra d'estat si la pàgina conté una font d'informació
Comment[cs]=Pokud stránka obsahuje kanál, zobrazí ikonu ve stavové liště
Comment[da]=Viser et ikon i statuslinjen hvis siden indeholder et feed
Comment[de]=Zeigt das RSS-Symbol in der Statusleiste, wenn die Seite eine RSS-Quelle enthält
Comment[et]=Näitab olekuribal ikooni, kui lehekülg sisaldab uudistevoogu
Comment[ia]=Monstra un icone in le barra de stato si le pagina contine un syndication
Comment[it]=Mostra un'icona nella barra di stato se la pagina contiene una fonte
Comment[ja]=フィードを含むページでステータスバーにフィードアイコンを表示します
Comment[kk]=Бетте ақпар бар болса, күй-жай жолағында таңбашасы көрсетіледі
Comment[lt]=Rodo kanalo piktogramą statuso eilutėje, jei puslapyje yra naujienų kanalas.
Comment[nb]=Viser et ikon i statuslinja hvis det er en kilde på siden
Comment[nds]=Wiest en Lüttbild op den Statusbalken, wenn de Siet en Narichtenstroom bargt.
Comment[nl]=Toont een pictogram in de statusbalk als de pagina een feed bevat
Comment[nn]=Viser eit ikon i statuslinja dersom det finst ei tilhøyrande kjelde
Comment[pt]=Mostra um ícone na barra de estado se a página tiver uma fonte
Comment[pt_BR]=Exibe um ícone na barra de status se a página possui uma fonte de notícias
Comment[ru]=Показывает значок в строке состояния если текущая страница содержит ленту новостей
Comment[sv]=Visar en ikon i statusraden om sidan innehåller en kanal
Comment[uk]=Показує піктограму у рядку стану, якщо сторінка містить подачу
Comment[x-test]=xxDisplays an icon in the status bar if the page contains a feedxx
Comment[zh_TW]=若網頁包含一個 Feed 則在狀態列中顯示圖示
Encoding=UTF-8
Type=Service
X-KDE-Library=akregatorkonqfeedicon
X-KDE-PluginInfo-Author=Teemu Rytilahti
X-KDE-PluginInfo-Email=tpr@d5k.net
X-KDE-PluginInfo-Name=konqfeedicon
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=http://akregator.sourceforge.net
X-KDE-PluginInfo-Category=Statusbar
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
