[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Add Feed to Akregator
Name[lt]=Įdėti kanalą į Akregator
icon=akregator
Comment=Adds selected feed to Akregator
Comment[lt]=Įdėti pasirinktą kanalą į Akregator
X-KDE-Library=akregatorkonqplugin
ServiceTypes=KonqPopupMenu/Plugin,all/all
