[Desktop Entry]
Name=Konqueror Feed Icon
Name[ca]=Icona d'enllaç del Konqueror
Name[cs]=Ikona kanálu v Konqueroru
Name[de]=Symbol für RSS-Quellen in Konqueror
Name[ia]=Icone de syndication de Konqueror
Name[ja]=Konqueror フィードアイコン
Name[kk]=Konqueror ақпарының таңбашасы
Name[lt]=Konqueror kanalo piktograma
Name[nl]=Konqueror Feed-pictogram
Name[nn]=Konqueror-kjeldeikon
Name[pt]=Ícone de Fonte do Konqueror
Name[sv]=Konqueror-kanalikon
Name[uk]=Піктограма подач для Konqueoror
Name[x-test]=xxKonqueror Feed Iconxx
Name[zh_TW]=Konqueror Feed 圖示
Icon=akregator
Comment=Displays an icon in the status bar if the page contains a feed
Comment[ca]=Mostra una icona a la barra d'estat si la pàgina conté una font d'informació
Comment[cs]=Pokud stránka obsahuje kanál, zobrazí ikonu ve stavové liště
Comment[de]=Zeigt das RSS-Symbol in der Statusleiste, wenn die Seite eine RSS-Quelle enthält
Comment[ia]=Monstra un icone in le barra de stato si le pagina contine un syndication
Comment[ja]=フィードを含むページでステータスバーにフィードアイコンを表示します
Comment[kk]=Бетте ақпар бар болса, күй-жай жолағында таңбашасы көрсетіледі
Comment[lt]=Rodo kanalo piktogramą statuso eilutėje, jei puslapyje yra naujienų kanalas.
Comment[nl]=Toont een pictogram in de statusbalk als de pagina een feed bevat
Comment[nn]=Viser eit ikon i statuslinja dersom det finst ei tilhøyrande kjelde
Comment[pt]=Mostra um ícone na barra de estado se a página tiver uma fonte
Comment[sv]=Visar en ikon i statusraden om sidan innehåller en kanal
Comment[uk]=Показує піктограму у рядку стану, якщо сторінка містить подачу
Comment[x-test]=xxDisplays an icon in the status bar if the page contains a feedxx
Comment[zh_TW]=若網頁包含一個 Feed 則在狀態列中顯示圖示
Encoding=UTF-8
Type=Service
X-KDE-Library=akregatorkonqfeedicon
X-KDE-PluginInfo-Author=Teemu Rytilahti
X-KDE-PluginInfo-Email=tpr@d5k.net
X-KDE-PluginInfo-Name=konqfeedicon
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=http://akregator.sourceforge.net
X-KDE-PluginInfo-Category=Statusbar
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=konqueror
