[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Add Feed to Akregator
Name[ca]=Afegeix la font a l'Akregator
Name[cs]=Přidat kanál do Akregatoru
Name[de]=Nachrichtenquelle zu Akregator hinzufügen
Name[et]=Lisa uudistevoog Akregatorile
Name[ia]=Adde syndication a Akregator
Name[ja]=Akregator にフィードを追加
Name[kk]=Akregator-ға ақпарды қосу
Name[lt]=Įdėti kanalą į Akregator
Name[nb]=Legg til kilde i Akregator
Name[nds]=Stroom na Akregator tofögen
Name[nl]=Feed aan Akregator toevoegen
Name[nn]=Legg til kjelda i Akregator
Name[pt]=Adicionar a Fonte ao Akregator
Name[sv]=Lägg till kanal i Akregator
Name[uk]=Додати подачу в Akregator
Name[x-test]=xxAdd Feed to Akregatorxx
Name[zh_TW]=將 Feed 新增到 Akregator
icon=akregator
Comment=Adds selected feed to Akregator
Comment[ca]=Afegeix la font seleccionada a l'Akregator
Comment[cs]=Přidá vybraný kanál do Akregatoru
Comment[de]=Fügt die ausgewählte Nachrichtenquelle zu Akregator hinzu
Comment[et]=Lisab valitud uudistevoo Akregatorile
Comment[ia]=Adde syndication seligite a Akregator
Comment[ja]=選択したフィードを Akregator に追加します
Comment[kk]=Akregator-ға таңдалған ақпарды қосу
Comment[lt]=Įdėti pasirinktą kanalą į Akregator
Comment[nb]=Legger til den valgte kilden til Akregator
Comment[nds]=Föögt den utsöchten Narichtenstroom na Akregator to
Comment[nl]=Voegt geselecteerde feeds toe aan aKregator
Comment[nn]=Legg til den valde kjelda i Akregator
Comment[pt]=Adiciona a fonte seleccionada ao Akregator
Comment[sv]=Lägger till vald kanal i Akregator
Comment[uk]=Додає вибрану подачу у Akregator
Comment[x-test]=xxAdds selected feed to Akregatorxx
Comment[zh_TW]=將選取的 Feed 新增到 Akregator
X-KDE-Library=akregatorkonqplugin
ServiceTypes=KonqPopupMenu/Plugin,all/all
