[Desktop Entry]
Type=Link
URL=http://www.kde-apps.org/
Name=KDE Applications
Name[af]=Kde Programme
Name[ar]=تطبيقات كدي
Name[as]=KDE Applications
Name[be]=Праграмы KDE
Name[be@latin]=Aplikacyi KDE
Name[bg]=Програми за KDE
Name[bn]=কে.ডি.ই অ্যাপলিকেশন
Name[bn_IN]=KDE অ্যাপ্লিকেশন তালিকা
Name[br]=Arloadoù KDE
Name[ca]=Aplicacions KDE
Name[ca@valencia]=Aplicacions KDE
Name[cs]=KDE aplikace
Name[csb]=Programë KDE
Name[cy]=Cymhwysiadau KDE
Name[da]=KDE-programmer
Name[de]=KDE-Programme
Name[el]=Εφαρμογές KDE
Name[en_GB]=KDE Applications
Name[eo]=KDE aplikaĵoj
Name[es]=Aplicaciones de KDE
Name[et]=KDE rakendused
Name[eu]=KDEren aplikazioak
Name[fa]=کاربردهای KDE
Name[fi]=KDE:n sovellukset
Name[fr]=Applications KDE
Name[fy]=KDE Programma's
Name[ga]=Feidhmchláir KDE
Name[gl]=Programas de KDE
Name[gu]=KDE કાર્યક્રમો
Name[he]=תוכנות ל־KDE
Name[hi]=केडीई अनुप्रयोग
Name[hne]=केडीई अनुपरयोग
Name[hr]=KDE-ove aplikacije
Name[hsb]=KDE-aplikacije
Name[hu]=KDE-alkalmazások
Name[id]=Aplikasi KDE
Name[is]=KDE Forrit
Name[it]=Applicazioni di KDE
Name[ja]=KDE アプリケーション
Name[ka]=KDE-ს პროგრამები
Name[kk]=KDE қолданбалары
Name[km]=កម្មវិធី​របស់ KDE
Name[kn]=ಕೆಡಿಇ ಅನ್ವಯಗಳು
Name[ko]=KDE 응용 프로그램
Name[ku]=Sepanên KDE'yê
Name[lt]=KDE programos
Name[lv]=KDE programmas
Name[mai]=केडीई अनुप्रयोग
Name[mk]=KDE-апликации
Name[ml]=കെഡിഇ പ്രയോഗങ്ങള്‍
Name[mr]=KDE अनुप्रयोग
Name[ms]=Aplikasi KDE
Name[nb]=KDE-programmer
Name[nds]=KDE-Programmen
Name[ne]=केडीई अनुप्रयोग
Name[nl]=KDE Programma's
Name[nn]=KDE-program
Name[oc]=Aplicacions KDE
Name[or]=KDE ପ୍ରୟୋଗଗୁଡ଼ିକ
Name[pa]=KDE ਐਪਲੀਕੇਸ਼ਨ
Name[pl]=Programy KDE
Name[pt]=Aplicações do KDE
Name[pt_BR]=Aplicativos KDE
Name[ro]=Aplicații KDE
Name[ru]=Приложения KDE
Name[se]=KDE-prográmmat
Name[si]=KDE යෙදුම්
Name[sk]=Aplikácie KDE
Name[sl]=Uporabniški programi
Name[sr]=Програми за КДЕ
Name[sr@ijekavian]=Програми за КДЕ
Name[sr@ijekavianlatin]=Programi za KDE
Name[sr@latin]=Programi za KDE
Name[sv]=KDE-program
Name[ta]=கேபசூ பயன்பாடுகள்
Name[te]=కెడిఈ కార్యక్రమాలు
Name[tg]=Барномаҳои KDE
Name[th]=โปรแกรมต่าง ๆ ของ KDE
Name[tr]=KDE Uygulamaları
Name[uk]=Програми KDE
Name[uz]=KDE dasturlar
Name[uz@cyrillic]=KDE дастурлар
Name[vi]=Ứng dụng KDE
Name[wa]=Programes KDE
Name[xh]=Izicelo ze KDE
Name[x-test]=xxKDE Applicationsxx
Name[zh_CN]=KDE 应用程序
Name[zh_TW]=KDE 應用程式
Icon=text-html
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
