[Desktop Entry]
Type=Link
URL=http://dot.kde.org/
Name=KDE News
Name[af]=Kde Nuus
Name[ar]=أخبار كدي
Name[as]=KDE News
Name[be]=Навіны KDE
Name[be@latin]=Naviny KDE
Name[bg]=Новини за KDE
Name[bn]=কে.ডি.ই. সংবাদ
Name[bn_IN]=KDE-র খবরাখবর
Name[br]=Keleier KDE
Name[ca]=Notícies KDE
Name[ca@valencia]=Notícies KDE
Name[cs]=Novinky KDE
Name[csb]=Nowinë KDE
Name[cy]=Newyddion KDE
Name[da]=KDE-nyheder
Name[de]=KDE-Nachrichten
Name[el]=Νέα KDE
Name[en_GB]=KDE News
Name[eo]=KDE novaĵoj
Name[es]=Noticias de KDE
Name[et]=KDE uudised
Name[eu]=KDEren albisteak
Name[fa]=اخبار KDE
Name[fi]=KDE:n uutiset
Name[fr]=Les nouvelles sur KDE
Name[fy]=KDE Nijs
Name[ga]=Nuacht KDE
Name[gl]=Novas de KDE
Name[gu]=KDE સમાચારો
Name[he]=חדשות KDE
Name[hi]=केडीई समाचार
Name[hne]=केडीई समाचार
Name[hr]=KDE novosti
Name[hsb]=KDE-nowostki
Name[hu]=KDE hírek
Name[id]=Berita KDE
Name[is]=KDE fréttir
Name[it]=Notizie di KDE
Name[ja]=KDE ニュース
Name[ka]=KDE-ს სიახლეები
Name[kk]=KDE жаңалықтары
Name[km]=ព័ត៌មាន KDE
Name[kn]=ಕೆಡಿಇ ವಾರ್ತೆಗಳು
Name[ko]=KDE 뉴스
Name[ku]=Nûçeyên KDE'yê
Name[lt]=KDE naujienos
Name[lv]=KDE ziņas
Name[mai]=केडीई समाचार
Name[mk]=KDE-вести
Name[ml]=കെഡിഇ വാര്‍ത്തകള്‍
Name[mr]=KDE समाचार
Name[ms]=Berita KDE
Name[nb]=KDE-nyheter
Name[nds]=KDE-Narichten
Name[ne]=केडीई समाचार
Name[nl]=KDE Nieuws
Name[nn]=KDE-nytt
Name[oc]=Novèla KDE
Name[or]=KDE ଖବରଗୁଡ଼ିକ
Name[pa]=KDE ਖ਼ਬਰਾਂ
Name[pl]=Wiadomości KDE
Name[pt]=Notícias do KDE
Name[pt_BR]=Notícias do KDE
Name[ro]=Știri KDE
Name[ru]=Новости KDE
Name[se]=KDE-ođđasat
Name[si]=KDE ප්‍රවෘති
Name[sk]=Novinky KDE
Name[sl]=Novice o KDE
Name[sr]=Вести о КДЕ‑у
Name[sr@ijekavian]=Вијести о КДЕ‑у
Name[sr@ijekavianlatin]=Vijesti o KDE‑u
Name[sr@latin]=Vesti o KDE‑u
Name[sv]=KDE-nyheter
Name[ta]=கேபசூ செய்திகள்
Name[te]=కెడిఈ వార్తలు
Name[tg]=Ахбороти KDE
Name[th]=ข่าวของ KDE
Name[tr]=KDE Haberleri
Name[uk]=Новини KDE
Name[uz]=KDE yangiliklar
Name[uz@cyrillic]=KDE янгиликлар
Name[vi]=Tin tức KDE
Name[wa]=Noveles di KDE
Name[xh]=Iindaba ze KDE
Name[x-test]=xxKDE Newsxx
Name[zh_CN]=KDE 新闻
Name[zh_TW]=KDE 新聞
Icon=text-html
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
