[Desktop Entry]
Type=Link
URL=http://dot.kde.org/
Name=KDE News
Name[af]=Kde Nuus
Name[ar]=أخبار كدي
Name[be]=Навіны KDE
Name[bg]=Новини за KDE
Name[bn]=কে.ডি.ই. সংবাদ
Name[br]=Keleier KDE
Name[ca]=Notícies KDE
Name[cs]=Novinky KDE
Name[csb]=Nowinë KDE
Name[cy]=Newyddion KDE
Name[da]=KDE-nyheder
Name[de]=KDE-Nachrichten
Name[el]=Νέα KDE
Name[eo]=KDE novaĵoj
Name[es]=Noticias de KDE
Name[et]=KDE uudised
Name[eu]=KDEren albisteak
Name[fa]=اخبار KDE
Name[fi]=KDE:n uutiset
Name[fr]=Les nouvelles sur KDE
Name[fy]=KDE Nijs
Name[ga]=Nuacht KDE
Name[gl]=Novas de KDE
Name[gu]=KDE સમાચારો
Name[he]=חדשות KDE
Name[hi]=केडीई समाचार
Name[hr]=KDE novosti
Name[hu]=KDE hírek
Name[is]=KDE fréttir
Name[it]=Notizie di KDE
Name[ja]=KDE ニュース
Name[ka]=KDE-ს სიახლეები
Name[kk]=KDE жаңалықтары
Name[km]=ព័ត៌មាន KDE
Name[ko]=KDE 뉴스
Name[ku]=Nûçeyên KDE'yê
Name[lt]=KDE naujienos
Name[lv]=KDE ziņas
Name[mk]=KDE-вести
Name[ms]=Berita KDE
Name[nb]=KDE-nyheter
Name[nds]=KDE-Narichten
Name[ne]=केडीई समाचार
Name[nl]=KDE Nieuws
Name[nn]=KDE-nyhende
Name[oc]=Novèla KDE
Name[pa]=KDE ਖ਼ਬਰਾਂ
Name[pl]=Wiadomości KDE
Name[pt]=Notícias do KDE
Name[ro]=Ştiri KDE
Name[ru]=Новости KDE
Name[se]=KDE-ođđasat
Name[sk]=Novinky KDE
Name[sl]=Novice o KDE
Name[sr]=Вести о КДЕ‑у
Name[sr@latin]=Vesti o KDE‑u
Name[sv]=KDE-nyheter
Name[ta]=KDE செய்திகள்
Name[te]=కెడిఈ వార్తలు
Name[tg]=Иттилоотҳои KDE
Name[th]=ข่าวของ KDE
Name[tr]=KDE Haberleri
Name[uk]=Новини KDE
Name[uz]=KDE янгиликлар
Name[vi]=Tin tức KDE
Name[wa]=Noveles di KDE
Name[x-test]=xxKDE Newsxx
Name[xh]=Iindaba ze KDE
Name[zh_CN]=KDE 新闻
Name[zh_TW]=KDE 新聞
Icon=text-html
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
