[Desktop Entry]
Type=Link
URL=http://dot.kde.org/
Name=KDE News
Icon=text-html
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
