[Desktop Entry]
Type=Link
URL=http://www.kde.org
Name=KDE Home Page
Name[af]=KDE Tuisblad
Name[ar]=صفحة كدي الرئيسية
Name[as]=KDE Home Page
Name[be]=Хатняя старонка KDE
Name[be@latin]=Chatniaja staronka KDE
Name[bg]=Домашна страница на KDE
Name[bn]=কে.ডি.ই. হোম পেজ
Name[bn_IN]=KDE-র প্রধান পেজ
Name[br]=Pajenn Er-Gêr KDE
Name[ca]=Pàgina inici de KDE
Name[ca@valencia]=Pàgina inici de KDE
Name[cs]=Domovská stránka KDE
Name[csb]=Domôcô starna KDE
Name[cy]=Hafan KDE
Name[da]=KDE-hjemmeside
Name[de]=KDE-Startseite
Name[el]=Ιστοσελίδα του KDE
Name[en_GB]=KDE Home Page
Name[eo]=KDE hejmpaĝo
Name[es]=Página Web de KDE
Name[et]=KDE kodulehekülg
Name[eu]=KDEren hasierako orria
Name[fa]=صفحه آغازۀ KDE
Name[fi]=KDE:n kotisivu
Name[fr]=Page d'accueil de KDE
Name[fy]=KDE's Thússide
Name[ga]=Leathanach Baile KDE
Name[gl]=Páxina web de KDE
Name[gu]=KDE ઘર પાનું
Name[he]=אתר הבית של KDE
Name[hi]=केडीई मुख पृष्ठ
Name[hne]=केडीई मुख पेज
Name[hr]=KDE glavna stranica
Name[hsb]=Domjaca strona KDE
Name[hu]=KDE honlap
Name[id]=Laman KDE
Name[is]=Heimasíða KDE
Name[it]=Pagina Web di KDE
Name[ja]=KDE ホームページ
Name[ka]=KDE-ს ვებ გვერდი
Name[kk]=KDE веб-сайты
Name[km]=គេហ​ទំព័រ​របស់ KDE
Name[kn]=ಕೆಡಿಇ ನೆಲೆ  (ಹೋಮ್) ಪುಟ
Name[ko]=KDE 홈페이지
Name[ku]=Malpera KDE'yê
Name[lt]=KDE namų puslapis
Name[lv]=KDE mājas lapa
Name[mai]=केडीई मुख पृष्ठ
Name[mk]=Домашната страница на KDE
Name[ml]=കെഡിഇ പൂമുഖം.
Name[mr]=KDE मुख पान
Name[ms]=Laman Utama KDE
Name[nb]=KDEs hjemmeside
Name[nds]=KDE-Nettsiet
Name[ne]=केडीई गृह पृष्ठ
Name[nl]=KDE's startpagina
Name[nn]=KDE-heimesida
Name[or]=KDE ମୂଳସ୍ଥାନ ପୃଷ୍ଠା
Name[pa]=KDE ਮੇਨ ਪੇਜ਼
Name[pl]=Strona domowa KDE
Name[pt]=Página do KDE
Name[pt_BR]=Página principal do KDE
Name[ro]=Saitul KDE
Name[ru]=Веб-сайт KDE
Name[se]=KDE-ruoktosiidu
Name[si]=KDE මුල් පිටුව
Name[sk]=Domovská stránka KDE
Name[sl]=Domača stran KDE
Name[sr]=Домаћа страница КДЕ‑а
Name[sr@ijekavian]=Домаћа страница КДЕ‑а
Name[sr@ijekavianlatin]=Domaća stranica KDE‑a
Name[sr@latin]=Domaća stranica KDE‑a
Name[sv]=KDE:s webbplats
Name[ta]=கேபசூ இணையகம்
Name[te]=కెడిఈ ఇంటి పుట
Name[tg]=Саҳифаҳои KDE дар Интернет
Name[th]=หน้าเว็บโครงการ KDE
Name[tr]=KDE Ana Sayfası
Name[uk]=Домашня сторінка KDE
Name[uz]=KDE veb-sayti
Name[uz@cyrillic]=KDE веб-сайти
Name[vi]=Trang nhà của KDE
Name[wa]=Pådje måjhon di KDE
Name[xh]=Iphepha Lasekhaya le KDE
Name[x-test]=xxKDE Home Pagexx
Name[zh_CN]=KDE 主页
Name[zh_TW]=KDE 首頁
Icon=text-html
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
