[Desktop Entry]
Type=Link
URL=http://themes.kde.org/
Name=KDE Eye Candy
Name[af]=KDE Oog genot
Name[ar]=عيون حلوى كدي
Name[as]=KDE Eye Candy
Name[be]=KDE Eye Candy
Name[be@latin]=Pryhožy KDE
Name[bg]=KDE Eye Candy
Name[bn]=কে.ডি.ই. আই ক্যান্ডি
Name[ca]=Decoració KDE
Name[ca@valencia]=Decoració KDE
Name[cs]=Pastva pro oči
Name[csb]=Ùsnôżnienia dlô KDE
Name[da]=KDE øjenfryd
Name[de]=KDE-Optik
Name[el]=KDE Εμφάνιση
Name[en_GB]=KDE Eye Candy
Name[eo]=KDE Okul' Dolĉaĵo
Name[es]=Embellecimiento de KDE
Name[et]=KDE silmailu
Name[eu]=KDE Eye Candy
Name[fi]=KDE:n silmän iloa
Name[fr]=Agrément visuel KDE
Name[fy]=Eachstrieljende KDE
Name[ga]=KDE Eye Candy
Name[gl]=Embelecemento de KDE
Name[gu]=KDE આય કેન્ડી
Name[he]=צעצועים חזותיים ל־KDE
Name[hi]=केडीई आई कैण्डी
Name[hne]=केडीई आई कैन्डी
Name[hr]=KDE mamac za oko
Name[hsb]=KDE Eye Candy
Name[hu]=KDE grafikai kiegészítők
Name[id]=Pernak Pernik KDE
Name[is]=KDE augnayndi
Name[it]=Cose carine di KDE
Name[ja]=KDE アイキャンディ
Name[ka]=KDE Eye Candy
Name[kk]=KDE Eye Candy
Name[km]=ទិដ្ឋភាព​ស្រស់​ស្អាត​របស់ KDE
Name[kn]=ಕೆಡಿಇ ಐ ಕ್ಯಾಂಡಿ
Name[ko]=KDE 눈깔사탕
Name[ku]=KDE Eye Candy
Name[lt]=KDE Eye Candy
Name[lv]=KDE smukumi
Name[mai]=केडीई आई कैण्डी
Name[mk]=Убавина за очи во KDE
Name[ml]=കെഡിഇ കണ്‍കുളിര്‍മ
Name[mr]=KDE आई कैण्डी
Name[nb]=KDE-pynt
Name[nds]=Wat för de Ogen vun KDE
Name[ne]=केडीई आइ क्यान्डी
Name[nl]=Oogstrelend KDE
Name[nn]=KDE-pynt
Name[or]=KDE Eye Candy
Name[pa]=KDE ਆਈ ਕੈਂਡੀ
Name[pl]=Upiększenia dla KDE
Name[pt]=Gráficos Bonitos do KDE
Name[pt_BR]=Eye Candy do KDE
Name[ro]=Tematici KDE
Name[ru]=KDE Eye Candy
Name[se]=KDE-čalbmenjálgát
Name[sk]=KDE Eye Candy
Name[sl]=Bombončki KDE
Name[sr]=Графичке посластице за КДЕ
Name[sr@ijekavian]=Графичке посластице за КДЕ
Name[sr@ijekavianlatin]=Grafičke poslastice za KDE
Name[sr@latin]=Grafičke poslastice za KDE
Name[sv]=KDE-ögongodis
Name[ta]=கேபசூ ஐ காண்டி
Name[te]=KDE ఐ కాండి
Name[tg]=Веб сайти KDE Eye Candy
Name[th]=ตกแต่งลูกเล่นของ KDE
Name[tr]=KDE Görünüm ve Temaları
Name[uk]=Прикраси для KDE
Name[vi]=Kẹo ngọt Thị giác KDE
Name[wa]=Tot djoli KDE
Name[x-test]=xxKDE Eye Candyxx
Name[zh_CN]=KDE Eye Candy
Name[zh_TW]=KDE Eye Candy
Icon=text-html
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
