[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=http://themes.kde.org/
Name=KDE Eye Candy
Name[af]=KDE Oog genot
Name[ca]=Decoració KDE
Name[cs]=Pastva pro oči
Name[csb]=Ùsnôżnienia dlô KDE
Name[da]=KDE øjenfryd
Name[de]=KDE Optik
Name[el]=KDE Εμφάνιση
Name[eo]=KDE Okul' Dolĉaĵo
Name[es]=Embellecimiento KDE
Name[et]=KDE silmailu
Name[fi]=KDE:n silmän iloa
Name[fr]=Agrément visuel KDE
Name[fy]=Eachstrieljende KDE
Name[gl]=Embelecemento de KDE
Name[he]=צעצועים חזותיים של KDE
Name[hr]=KDE mamac za oko
Name[hu]=KDE grafikai kiegészítők
Name[is]=KDE augnayndi
Name[it]=Bellezza di KDE
Name[ja]=KDE アイキャンディ
Name[km]=ទិដ្ឋភាព​ស្រស់​ស្អាត​របស់ KDE
Name[mk]=Убавина за очи во KDE
Name[nb]=KDE-pynt
Name[nds]=Wat för de Ogen vun KDE
Name[ne]=KDE आइ क्यान्डी
Name[nl]=Oogstrelend KDE
Name[nn]=KDE-pynt
Name[pa]=KDE ਆਈ ਕੈਂਡੀ
Name[pl]=Upiększenia dla KDE
Name[pt]=Gráficos Bonitos do KDE
Name[pt_BR]=Candy Eye do KDE
Name[ro]=Tematici KDE
Name[se]=KDE-čalbmenjálgát
Name[sl]=Bombončki KDE
Name[sr]=KDE слаткиши
Name[sr@Latn]=KDE slatkiši
Name[sv]=KDE-ögongodis
Name[ta]=கேடியி ஐ காண்டி
Name[x-test]=xxKDE Eye Candyxx
Icon=www
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
