[Desktop Entry]
Type=Link
URL=http://themes.kde.org/
Name=KDE Eye Candy
Icon=text-html
Open=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
