[Desktop Entry]
Encoding=UTF-8
Icon=kget
TryExec=kget
X-KDE-Library=konqueror_kget_browser_integration
X-KDE-PluginInfo-Author=KGet Maintainers
X-KDE-PluginInfo-Email=kget@kde.org
X-KDE-PluginInfo-Name=konqueror_kget_browser_integration
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Download Manager
Name[bg]=Изтегляне на файлове
Name[bs]=Upravnik preuzimanjima datoteka
Name[ca]=Gestor de baixades
Name[ca@valencia]=Gestor de baixades
Name[cs]=Správce stahování
Name[da]=Downloadhåndtering
Name[de]=Download-Verwaltung
Name[el]=Διαχειριστής λήψεων
Name[en_GB]=Download Manager
Name[eo]=Elŝuta administrilo
Name[es]=Gestor de descargas
Name[et]=Allalaadimiste haldur
Name[eu]=Deskarga-kudeatzailea
Name[fi]=Tiedostonlataaja
Name[fr]=Gestionnaire de téléchargements
Name[ga]=Bainisteoir Íosluchtaithe
Name[gl]=Xestor de descargas
Name[hu]=Letöltéskezelő
Name[ia]=Gerente de discargamento
Name[id]=Unduh Manager
Name[it]=Gestore degli scaricamenti
Name[ja]=ダウンロードマネージャ
Name[kk]=Жүктеп алу менеджері
Name[km]=កម្មវិធី​គ្រប់គ្រង​ការ​ទាញយក
Name[ko]=다운로드 관리자
Name[lt]=Siuntimų valdymas
Name[mr]=डाउनलोड व्यवस्थापक
Name[nb]=Nedlastingsbehandler
Name[nds]=Daalladenpleger
Name[nl]=Downloadbeheerder
Name[nn]=Nedlastingshandsamar
Name[pa]=ਡਾਊਨਲੋਡ ਮੈਨੇਜਰ
Name[pl]=Zarządzanie pobieraniem
Name[pt]=Gestor de Transferências
Name[pt_BR]=Gerenciador de downloads
Name[ro]=Administrator descărcări
Name[ru]=Диспетчер загрузок
Name[si]=බාගත කළමනාකරු
Name[sk]=Správca preberaní
Name[sl]=Upravljalnik prejemov
Name[sr]=Менаџер преузимања
Name[sr@ijekavian]=Менаџер преузимања
Name[sr@ijekavianlatin]=Menadžer preuzimanja
Name[sr@latin]=Menadžer preuzimanja
Name[sv]=Nerladdningshanterare
Name[tr]=İndirme Yöneticisi
Name[ug]=چۈشۈرۈش باشقۇرغۇسى
Name[uk]=Керування отриманнями
Name[x-test]=xxDownload Managerxx
Name[zh_CN]=下载管理器
Name[zh_TW]=下載管理員
Comment=A versatile and easy to use file download manager
Comment[bg]=Удобна и лесна за използване програма за изтегляния
Comment[bs]=Svestran i jednostavan za korištenje upravljač preuzimanjem datoteka
Comment[ca]=Un gestor de baixades de fitxers versàtil i fàcil d'emprar
Comment[ca@valencia]=Un gestor de baixades de fitxers versàtil i fàcil d'emprar
Comment[cs]=Všestranný a jednoduše použitelný správce souborů
Comment[da]=En alsidig og brugervenlig downloadhåndtering
Comment[de]=Ein vielseitiges und einfach zu benutzendes Download-Verwaltungsprogramm
Comment[el]=Ένας ευέλικτος και εύκολος στη χρήση διαχειριστής λήψεων αρχείων
Comment[en_GB]=A versatile and easy to use file download manager
Comment[es]=Una manera sencilla y versátil de usar el gestor de descarga de archivos
Comment[et]=Tubli ja lihtne failide allalaadimise haldur
Comment[eu]=Erabilera askotako eta errazeko fitxategiak deskargatzeko kudeatzailea
Comment[fi]=Monipuolinen ja helppokäyttöinen latauksenhallinta
Comment[fr]=Un gestionnaire de téléchargements facile et polyvalent
Comment[gl]=Un xestor de descargas de ficheiros versátil e fácil de usar.
Comment[hu]=Egy sokoldalú és egyszerűen használható letöltéskezelő
Comment[ia]=Un gestor de discargamento versatile e facile de usar se
Comment[id]=Sebuah unduh manager file yang serbaguna dan mudah digunakan
Comment[is]=Fjölhæfur en einfaldur skráaniðurhalsstjóri
Comment[it]=Un gestore di scaricamenti versatile e facile da usare
Comment[kk]=Әмбебап және ыңғайлы жүктеп алу менеджері
Comment[km]=អាច​ផ្លាស់ប្ដូរ និង​ងាយស្រួល​ប្រើ​កម្មវិធី​គ្រប់គ្រង​ការ​ទាញយក
Comment[ko]=다운로드 관리자
Comment[lt]=Lanksti ir paprasta failų atsiuntimo tvarkyklė
Comment[mr]=एक बहुमुखी व वापरायला सोपा फाईल डाउनलोड व्यवस्थापक
Comment[nb]=En fleksibel nedlastingsbehandler som er lett å bruke
Comment[nds]=En ansleegsch un eenfach to bruken Daalladenpleger
Comment[nl]=Een veelzijdige en gemakkelijk te gebruiken downloadbeheerder
Comment[nn]=Ein allsidig og brukarvenleg nedlastingshandsamar
Comment[pl]=Wszechstronny i łatwy w użyciu program zarządzający pobieraniem plików
Comment[pt]=Um gestor de transferências de ficheiros simples e versátil de usar
Comment[pt_BR]=Um gerenciador de downloads de arquivos simples e fácil de usar
Comment[ru]=Гибкий и простой в использовании диспетчер файлов
Comment[si]=භාවිතයට පහසු හුරුබුහුටි  ගොනු බාගත කළමනාකරු
Comment[sk]=Univerzálny správca preberaní s ľahkým používaním
Comment[sl]=Vsestranski in preprost upravljalnik prejemov
Comment[sr]=Свестран и предусретљив менаџер преузимања фајлова
Comment[sr@ijekavian]=Свестран и предусретљив менаџер преузимања фајлова
Comment[sr@ijekavianlatin]=Svestran i predusretljiv menadžer preuzimanja fajlova
Comment[sr@latin]=Svestran i predusretljiv menadžer preuzimanja fajlova
Comment[sv]=En mångsidig och lättanvänd nerladdningshanterare av filer
Comment[tr]=Çok yetenekli ve kolay kullanımlı bir indirme yöneticisi
Comment[ug]=كۆپ ئىقتىدارلىق، ئىشلىتىش قۇلاي ھۆججەت چۈشۈرۈشنى باشقۇرغۇچ
Comment[uk]=Гнучка і проста у користуванні програма для керування отриманнями
Comment[x-test]=xxA versatile and easy to use file download managerxx
Comment[zh_CN]=简单易用的多功能文件下载管理器
Comment[zh_TW]=一個多功能且容易使用的檔案下載管理員
X-KDE-ParentApp=konqueror
