[Desktop Entry]
Encoding=UTF-8
Icon=kget
TryExec=kget
X-KDE-Library=konqueror_kget_browser_integration
X-KDE-PluginInfo-Author=KGet Maintainers
X-KDE-PluginInfo-Email=kget@kde.org
X-KDE-PluginInfo-Name=konqueror_kget_browser_integration
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Download Manager
Name[bg]=Управление на изтегляния
Name[ca]=Gestor de baixades
Name[ca@valencia]=Gestor de baixades
Name[cs]=Správce stahování
Name[de]=Download-Verwaltung
Name[en_GB]=Download Manager
Name[eo]=Elŝutadministrilo
Name[es]=Gestor de descargas
Name[eu]=Zama-jaiste kudeatzailea
Name[fi]=Lataustenhallinta
Name[fr]=Gestionnaire de téléchargements
Name[ia]=Gerente de discargamento
Name[id]=Pengelola Unduhan
Name[it]=Gestore degli scaricamenti
Name[ka]=გადმოწერების მმართველი
Name[ko]=다운로드 관리자
Name[nl]=Downloadbeheerder
Name[pl]=Zarządzanie pobieraniem
Name[pt]=Gestor de Transferências
Name[pt_BR]=Gerenciador de download
Name[ru]=Диспетчер загрузки
Name[sk]=Správca preberaní
Name[sl]=Upravljalnik prenosov
Name[sv]=Nerladdningshanterare
Name[tr]=İndirme Yöneticisi
Name[uk]=Керування отриманнями
Name[x-test]=xxDownload Managerxx
Name[zh_CN]=下载管理器
Comment=A versatile and easy to use file download manager
Comment[bg]=Гъвкава и потребителска ориентирана програма за управления на изтегляния на файлове
Comment[ca]=Un gestor de baixades de fitxers versàtil i fàcil d'emprar
Comment[ca@valencia]=Un gestor de baixades de fitxers versàtil i fàcil d'emprar
Comment[cs]=Všestranný a jednoduše použitelný správce souborů
Comment[de]=Ein vielseitiges und einfach zu benutzendes Download-Verwaltungsprogramm
Comment[en_GB]=A versatile and easy to use file download manager
Comment[es]=Un gestor de descargas de archivos versátil y fácil de usar
Comment[eu]=Erabilera askotako eta errazeko zama-jaisteko kudeatzailea
Comment[fi]=Monipuolinen ja helppokäyttöinen lataustenhallinta
Comment[fr]=Un gestionnaire de téléchargement de fichiers polyvalent et facile à utiliser.
Comment[ia]=Un gestor de discargamento versatile e facile de usar se
Comment[id]=Sebuah pengelola unduhan yang serbaguna dan mudah digunakan
Comment[it]=Un gestore di scaricamenti versatile e facile da usare
Comment[ko]=기능이 다양하고 사용하기 편리한 다운로드 관리자
Comment[nl]=Een veelzijdige en gemakkelijk te gebruiken downloadbeheerder
Comment[pl]=Wszechstronny i łatwy w użyciu program zarządzający pobieraniem plików
Comment[pt]=Um gestor de transferências de ficheiros versátil e simples de usar
Comment[pt_BR]=Um gerenciador de downloads versátil e fácil de usar
Comment[ru]=Гибкий и простой в использовании диспетчер загрузки
Comment[sk]=Univerzálny správca preberaní s ľahkým používaním
Comment[sl]=Vsestranski in preprost za uporabo upravljalnik prenosov
Comment[sv]=En mångsidig och lättanvänd nerladdningshanterare av filer
Comment[tr]=Çok yönlü ve kullanımı kolay bir indirme yöneticisi
Comment[uk]=Гнучка і проста у користуванні програма для керування отриманнями
Comment[x-test]=xxA versatile and easy to use file download managerxx
Comment[zh_CN]=简单易用的多功能文件下载管理器
X-KDE-ParentApp=konqueror
