[Desktop Entry]
Encoding=UTF-8
Icon=kget
TryExec=kget
X-KDE-Library=konqueror_kget_browser_integration
X-KDE-PluginInfo-Author=KGet Maintainers
X-KDE-PluginInfo-Email=kget@kde.org
X-KDE-PluginInfo-Name=konqueror_kget_browser_integration
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Download Manager
Comment=A versatile and easy to use file download manager
X-KDE-ParentApp=konqueror
