[Desktop Entry]
Encoding=UTF-8
Type=Service
X-KDE-PluginInfo-Author=Dawit Alemayehu,Martin Koller
X-KDE-PluginInfo-Email=adawit@kde.org,m.koller@surfeu.at
X-KDE-PluginInfo-Name=DirFilter
X-KDE-PluginInfo-Version=3.4
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Directory Filter
Comment=Filter directory view using an attribute filter
Icon=view-filter
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/dirfilter/index.html
