[Desktop Entry]
Type=Link
URL=
Icon=bookmarks
Name=Bookmarks
Comment=This is the list of your bookmarks, for a faster access
Open=false
X-KDE-TreeModule=Bookmarks
X-KDE-SearchableTreeModule=true
X-KDE-TreeModule-Lib=konq_sidebartree_bookmarks
X-KDE-Default-URL=
