[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Tree View
Name[af]=Boom Besigtig
Name[ar]=عرض شجري
Name[bg]=Дървовиден преглед
Name[br]=Gwel gwezenn
Name[ca]=Vista d'arbre
Name[cs]=Stromový pohled
Name[csb]=Wëzdrzatk drzéwiã
Name[cy]=Golwg Coeden
Name[da]=Trævisning
Name[de]=Baumansicht
Name[el]=Προβολή δέντρου
Name[eo]=Arba rigardo
Name[es]=Vista en árbol
Name[et]=Vaade puuna
Name[eu]=Zuhaitz erako ikuspegia
Name[fa]=درخت‌نما
Name[fi]=Puunäkymä
Name[fr]=Affichage en arborescence
Name[fy]=Beamstruktuerwerjefte
Name[ga]=Amharc Crainn
Name[gl]=Vista de Árbore
Name[he]=תצוגת עץ
Name[hr]=Prikaz stabla
Name[hu]=Fastruktúra
Name[is]=Trjáasýn
Name[it]=Vista ad albero
Name[ja]=ツリービュー
Name[ka]=ხის სახით
Name[kk]=Бұтақ түрінде
Name[km]=ទិដ្ឋភាព​មែកធាង
Name[ko]=나무꼴로 보기
Name[lt]=Rodyti medį
Name[lv]=Koka Skatījums
Name[mk]=Преглед со стебло
Name[ms]=Paparan Pepohon
Name[nb]=Trevisning
Name[nds]=Boomansicht
Name[ne]=ट्रि दृश्य
Name[nl]=Boomstructuurweergave
Name[nn]=Trevising
Name[pa]=ਲੜੀ ਝਲਕ
Name[pl]=Widok drzewa
Name[pt]=Vista em Árvore
Name[pt_BR]=Visão em Árvore
Name[ro]=Vizualizare arborescentă
Name[ru]=В виде дерева
Name[se]=Muorračájeheapmi
Name[sl]=Drevesni pogled
Name[sr]=Приказ стабла
Name[sr@Latn]=Prikaz stabla
Name[sv]=Trädvy
Name[ta]=மரக் காட்சி
Name[tg]=Ба намуди дарахт
Name[tr]=Ağaç Görünümü
Name[uk]=Вигляд структури каталогів
Name[uz]=Дарахт кўринишида
Name[x-test]=xxTree Viewxx
Name[xh]=Imboniselo Yomthi
Name[zh_TW]=樹狀瀏覽
MimeType=inode/directory
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=konq_listview
X-KDE-BrowserView-Args=MixedTree
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-HierarchicalView=true
X-KDE-BrowserView-Built-Into=konqueror
Icon=view_tree
InitialPreference=8
