[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Text View
Name[af]=Teks Besigtig
Name[ar]=عرض نصي
Name[br]=Gwel skrid
Name[ca]=Vista de text
Name[cs]=Textový pohled
Name[csb]=Tekstowi wëzdrzatk
Name[cy]=Golwg Testun
Name[da]=Tekstvisning
Name[de]=Textansicht
Name[el]=Προβολή κειμένου
Name[eo]=Tekstrigardo
Name[es]=Vista de texto
Name[et]=Vaade tekstina
Name[eu]=Testu ikuspegia
Name[fa]=متن‌نما
Name[fi]=Tekstinäkymä
Name[fr]=Affichage de Texte
Name[fy]=Tekstwerjefte
Name[ga]=Amharc Téacs
Name[gl]=Vista de Texto
Name[he]=תצוגת טקסט
Name[hr]=Tekstualni prikaz
Name[hu]=Szöveges
Name[is]=Textasýn
Name[it]=Vista testuale
Name[ja]=テキストビュー
Name[ka]=ტექსტის სახით
Name[kk]=Жай мәтін тізім
Name[km]=ទិដ្ឋភាព​អត្ថបទ
Name[ko]=글자로 보기
Name[lt]=Rodyti tekstą
Name[lv]=Teksta Skatījums
Name[mk]=Текстуален преглед
Name[ms]=Paparan Teks
Name[nb]=Tekstvisning
Name[nds]=Textansicht
Name[ne]=पाठ दृश्य
Name[nl]=Tekstweergave
Name[nn]=Tekstvising
Name[pa]=ਪਾਠ ਝਲਕ
Name[pl]=Widok tekstowy
Name[pt]=Vista em Texto
Name[pt_BR]=Visão Texto
Name[ro]=Vizualizare text
Name[ru]=В виде текста
Name[se]=Teakstačájeheapmi
Name[sl]=Besedilni pogled
Name[sr]=Текстуални приказ
Name[sr@latin]=Tekstualni prikaz
Name[sv]=Textvy
Name[ta]=உரை காட்சி
Name[te]=వచన వీక్షణం
Name[tg]=Ба намуди матн
Name[tr]=Metin Görünümü
Name[uk]=Текстовий вигляд
Name[uz]=Матн кўринишида
Name[wa]=Vey e môde tecse
Name[x-test]=xxText Viewxx
Name[xh]=Imboniselo Yombhalo
Name[zh_TW]=文字檢視
MimeType=inode/directory
ServiceTypes=Browser/View
X-KDE-Library=konq_listview
X-KDE-BrowserView-Args=TextView
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Built-Into=konqueror
Icon=view_text
InitialPreference=6
