[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=domtreeviewer
X-KDE-PluginInfo-Author=The Kafka Team, Andreas Schlapbach
X-KDE-PluginInfo-Email=kde-kafka@master.kde.org, schlpbch@iam.unibe.ch
X-KDE-PluginInfo-Name=domtreeviewer
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=DOM Tree Viewer
Name[ar]=عارض شجرة DOM
Name[bg]=Преглед на дървото на DOM
Name[bs]=Prikazivač DOM stabla
Name[ca]=Visor d'arbres DOM
Name[ca@valencia]=Visor d'arbres DOM
Name[cs]=Prohlížeč DOM stromu
Name[da]=DOM-træviser
Name[de]=Ansicht für DOM-Baum
Name[el]=Προβολέας δέντρου DOM
Name[en_GB]=DOM Tree Viewer
Name[es]=Visor del árbol DOM
Name[et]=DOM-puu näitaja
Name[eu]=DOM zuhaitz-ikustailea
Name[fi]=DOM-puunäkymä
Name[fr]=Afficheur d'arborescence « DOM »
Name[ga]=Amharcán Crainn DOM
Name[gl]=Visor da árbore DOM
Name[he]=מציג עץ DOM
Name[hne]=डाम ट्री प्रदर्सक
Name[hr]=Preglednik DOM stabla
Name[hu]=DOM-fa-megjelenítő
Name[ia]=Visor de arbore DOM
Name[id]=Penampil Pohon DOM
Name[is]=DOM greinaskoðari
Name[it]=Visore albero DOM
Name[ja]=DOM ツリービューア
Name[kk]=DOM бұтағының көрнісі
Name[km]=កម្មវិធី​មើល​មែកធាង​ DOM
Name[ko]=DOM 트리 뷰어
Name[ku]=DOM Nîşanderê Wekî Dar
Name[lt]=DOM medžio žiūryklė
Name[lv]=DOM koka rādītājs
Name[mr]=DOM ट्री प्रदर्शक
Name[ms]=Pemapar Pepohon DOM
Name[nb]=DOM trevisning
Name[nds]=DOM-Boom-Kieker
Name[nl]=DOM-boomstructuurweergave
Name[nn]=DOM-trevising
Name[pa]=DOM ਲੜੀ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka drzewa DOM
Name[pt]=Visualizador da Árvore DOM
Name[pt_BR]=Visualizador de árvore DOM
Name[ro]=Vizualizor arbore DOM
Name[ru]=Просмотр дерева DOM
Name[sk]=Prehliadač DOM stromu
Name[sl]=Pregledovalnik dreves DOM
Name[sr]=Приказивач ДОМ стабла
Name[sr@ijekavian]=Приказивач ДОМ стабла
Name[sr@ijekavianlatin]=Prikazivač DOM stabla
Name[sr@latin]=Prikazivač DOM stabla
Name[sv]=DOM-trädvisning
Name[tg]=Нишонгари дарахти DOM
Name[th]=เครื่องมือดูโมเดล DOM ในแบบผังต้นไม้
Name[tr]=DOM Ağacı Görüntüleyicisi
Name[ug]=DOM شاخسىمان كۆرگۈچ
Name[uk]=Перегляд дерева DOM
Name[wa]=Håyneu d' coxhlaedje DOM
Name[x-test]=xxDOM Tree Viewerxx
Name[zh_CN]=DOM 树查看器
Name[zh_TW]=DOM 樹狀檢視器
Comment=View the DOM tree of the current page
Comment[ar]=يعرض شجرة DOM للصفحة الحالية
Comment[bg]=Преглед на дървото на DOM за текущата страница
Comment[bs]=Prikazuje DOM stablo trenutne stranice
Comment[ca]=Visualitza l'arbre DOM de la pàgina actual
Comment[ca@valencia]=Visualitza l'arbre DOM de la pàgina actual
Comment[cs]=Prohlédne DOM strom současné stránky
Comment[da]=Vis DOM-træ af den aktuelle side.
Comment[de]=DOM-Baum der aktuellen Webseite anzeigen
Comment[el]=Εμφάνιση του δέντρου DOM της τρέχουσας σελίδας
Comment[en_GB]=View the DOM tree of the current page
Comment[es]=Ver el árbol DOM de la página actual
Comment[et]=Näitab aktiivse lehekülje DOM-puud
Comment[eu]=Ikusi uneko orriaren DOM zuhaitza
Comment[fi]=Katso sivun DOM-puuta
Comment[fr]=Affiche l'arborescence « DOM » de la page actuelle
Comment[ga]=Féach ar chrann DOM an leathanaigh reatha
Comment[gl]=Mostra a árbore DOM da páxina actual
Comment[he]=הצג את עץ ה־DOM של הדף הנוכחי
Comment[hne]=अभी हाल के पेज के डाम ट्री देखव
Comment[hr]=Pogledaj DOM stablo trenutne stranice
Comment[hu]=Az aktuális oldal DOM–fájának megjelenítése
Comment[ia]=Vide le arbore DOM del pagina currente
Comment[id]=Tampilkan pohon DOM halaman saat ini
Comment[is]=Skoða DOM uppbyggingu síðunnar
Comment[it]=Visualizza l'albero DOM della pagina corrente
Comment[ja]=現在のページの DOM ツリーを表示します
Comment[kk]=Назардағы беттегі DOM бұтағының көрінісі
Comment[km]=មើល​មែកធាង DOM នៃ​ទំព័រ​បច្ចុប្បន្ន
Comment[ko]=현재 페이지의 DOM 트리 보기
Comment[ku]=Rûpela heyî bi DOM dîtina wekî dar bibîne
Comment[lt]=Parodyti dabartinio puslapio DOM medį
Comment[lv]=Parāda aktīvās lapas DOM koku
Comment[mr]=वर्तमान पानाचे DOM ट्री बघा
Comment[nb]=Vis DOM-treet til gjeldende side
Comment[nds]=Den DOM-Boom vun de aktuelle Siet ankieken
Comment[nl]=Bekijk de DOM-structuur van de huidige pagina
Comment[nn]=Vis DOM-treet til den gjeldande sida
Comment[pa]=ਮੌਜੂਦਾ ਪੇਜ਼ ਦੀ DOM ਲੜੀ ਵੇਖੋ
Comment[pl]=Zobacz drzewo DOM dla bieżącej strony
Comment[pt]=Vê a árvore DOM da página actual
Comment[pt_BR]=Visualizar a árvore DOM da página atual
Comment[ro]=Vizualizează arborele DOM al paginii curente
Comment[ru]=Смотреть дерево DOM текущей страницы
Comment[sk]=Prezrie DOM strom súčasnej stránky
Comment[sl]=Oglejte si drevo DOM trenutne spletne strani
Comment[sr]=Приказује ДОМ стабло тренутне странице
Comment[sr@ijekavian]=Приказује ДОМ стабло тренутне странице
Comment[sr@ijekavianlatin]=Prikazuje DOM stablo trenutne stranice
Comment[sr@latin]=Prikazuje DOM stablo trenutne stranice
Comment[sv]=Visar DOM-trädet för den aktuella sidan
Comment[tg]=Намоиши дарахти DOM дар саҳифаи ҷорӣ
Comment[th]=ดูผังต้นไม้โมเดล DOM ของหน้าเว็บปัจจุบัน
Comment[tr]=Yürürlükteki sayfanın DOM ağacını göster
Comment[ug]=نۆۋەتتىكى بەتنىڭ DOM ساخسىمان كۆرۈنۈشى
Comment[uk]=Переглянути дерево DOM поточної сторінки
Comment[wa]=Vey li coxhlaedje DOM del pådje do moumint
Comment[x-test]=xxView the DOM tree of the current pagexx
Comment[zh_CN]=查看当前页面的 DOM 树
Comment[zh_TW]=檢視目前頁面的 DOM 樹狀圖
Icon=view-web-browser-dom-tree
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/domtreeviewer/index.html
