[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=domtreeviewer
X-KDE-PluginInfo-Author=The Kafka Team, Andreas Schlapbach
X-KDE-PluginInfo-Email=kde-kafka@master.kde.org, schlpbch@iam.unibe.ch
X-KDE-PluginInfo-Name=domtreeviewer
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=DOM Tree Viewer
Comment=View the DOM tree of the current page
Icon=view-web-browser-dom-tree
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/domtreeviewer/index.html
