[Desktop Entry]
Type=Service
Comment=Embeddable HTML component
Comment[uk]=Вмонтований HTML-компонент
Icon=webkit
MimeType=text/html;application/xml;application/xhtml+xml;
Name=WebKit
Name[uk]=WebKit
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=kwebkitpart
InitialPreference=9
