[Desktop Entry]
Type=Service
Comment=Embeddable HTML component
Comment[da]=HTML-komponent som kan indlejres
Comment[de]=Einbettungsfähige HTML-Komponente
Comment[es]=Componente HTML empotrable
Comment[et]=Põimitav HTML-komponent
Comment[fr]=Composant HTML intégrable
Comment[hu]=Beágyazható HTML komponens
Comment[it]=Componente HTML integrabile
Comment[nb]=Innebyggbar HTML-komponent
Comment[nds]=Inbettbor HTML-Komponent
Comment[nl]=Inbedbaar HTML-component
Comment[pt]=Componente de HTML incorporada
Comment[pt_BR]=Componente HTML que pode ser embutido
Comment[sk]=Vložiteľný HTML komponent
Comment[sr]=Угнездива ХТМЛ компонента
Comment[sr@ijekavian]=Угњездива ХТМЛ компонента
Comment[sr@ijekavianlatin]=Ugnjezdiva HTML komponenta
Comment[sr@latin]=Ugnezdiva HTML komponenta
Comment[sv]=Inbäddningsbar HTML-komponent
Comment[th]=ส่วนประกอบ HTML แบบฝังแนบได้
Comment[uk]=Вмонтований HTML-компонент
Comment[x-test]=xxEmbeddable HTML componentxx
Icon=webkit
MimeType=text/html;application/xml;application/xhtml+xml;
Name=WebKit
Name[da]=WebKit
Name[de]=WebKit
Name[es]=WebKit
Name[et]=WebKit
Name[fr]=WebKit
Name[hu]=WebKit
Name[it]=WebKit
Name[nb]=WebKit
Name[nds]=WebKit
Name[nl]=WebKit
Name[pt]=WebKit
Name[pt_BR]=WebKit
Name[sk]=WebKit
Name[sr]=Вебкит
Name[sr@ijekavian]=Вебкит
Name[sr@ijekavianlatin]=WebKit
Name[sr@latin]=WebKit
Name[sv]=Webkit
Name[th]=แบบ WebKit
Name[uk]=WebKit
Name[x-test]=xxWebKitxx
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=kwebkitpart
InitialPreference=9
