[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Icon Part
Name[be]=Частка значкі
Name[de]=Symbol-Komponente
Name[el]=Part εικονιδίων
Name[es]=Parte de icono
Name[fa]=جزء شمایل
Name[ja]=アイコンパート
Name[nds]=Lüttbild-Komponent
Name[nl]=Pictogramgedeelte
Name[sv]=Ikondel
Name[x-test]=xxIcon Partxx
Name[zh_TW]=圖示部件
MimeType=inode/directory
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=konq_part
X-KDE-BrowserView-Args=Icon
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Built-Into=konqueror
Icon=view_icon
InitialPreference=7
