[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=List Part
Name[be]=Частка спісу
Name[csb]=Mòduł lëstë
Name[de]=Listen-Komponente
Name[el]=Part εμφάνισης
Name[es]=Parte de lista
Name[fa]=جزء فهرست
Name[ga]=Comhpháirt Liosta
Name[he]=רכיב תצוגת רשימה
Name[ja]=リストパート
Name[kk]=Тізім бөлімі
Name[km]=ផ្នែក​បញ្ជី​
Name[ko]=목록 부분
Name[nds]=List-Komponent
Name[ne]=भाग सूचीबद्ध गर्नुहोस्
Name[nl]=Lijstgedeelte
Name[pa]=ਲਿਸਟ ਭਾਗ
Name[pt]=Componente de Lista
Name[pt_BR]=Componente de Lista
Name[sv]=Listdel
Name[vi]=Phần liệt kê
Name[x-test]=xxList Partxx
Name[zh_TW]=列出部件
MimeType=inode/directory
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=konq_part
X-KDE-BrowserView-Args=DetailedList
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Built-Into=konqueror
Icon=view_detailed
InitialPreference=7
