[Desktop Entry]
Encoding=UTF-8
Type=Service
X-KDE-PluginInfo-Author=Dawit Alemayehu,Martin Koller
X-KDE-PluginInfo-Email=adawit@kde.org,m.koller@surfeu.at
X-KDE-PluginInfo-Name=DirFilter
X-KDE-PluginInfo-Version=3.4
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Directory Filter
Name[ca]=Filtre de directoris
Name[cs]=Filtr adresářů
Name[de]=Ordnerfilter-Modul
Name[et]=Kataloogifilter
Name[ia]=Filtro de Directorio
Name[ja]=ディレクトリフィルタ
Name[kk]=Каталог сүзгісі
Name[lt]=Katalogų filtras
Name[nb]=Mappefilter
Name[nds]=Ornerfilter
Name[nl]=Mappenfilter
Name[nn]=Mappefilter
Name[pt]=Filtro de Pastas
Name[sv]=Katalogfilter
Name[uk]=Фільтр каталогів
Name[x-test]=xxDirectory Filterxx
Name[zh_TW]=目錄過濾器
Comment=Filter directory view using an attribute filter
Comment[ca]=Filtra la vista de directoris usant un filtre d'atributs
Comment[cs]=Podle atributů filtruje zobrazení adresářů
Comment[de]=Filtert die Ordneransicht anhand von Attributen
Comment[et]=Kataloogivaate filtreerimine omaduste filtri abil
Comment[ia]=Filtra vista de directorio usante un filtro de attributo
Comment[ja]=属性フィルタを使ってディレクトリビューを絞り込みます
Comment[kk]=Атрибуттар сүзгісінің көмегімен каталогтың көрінісін сүзгілеу
Comment[lt]=Filtruoti aplanką naudojant atributų filtrą
Comment[nb]=Filtrer mappevisning ved å bruke et attributtfilter
Comment[nds]=Orneransicht över Attributen filtern
Comment[nl]=Filter de mapinhoud
Comment[nn]=Filtrer mappevising ved bruk av attributtfilter
Comment[pt]=Filtrar a área de pastas com um filtro de atributos
Comment[sv]=Filtrerar katalogvyn med användning av ett egenskapsfilter
Comment[uk]=Фільтрування перегляду каталогів за допомогою фільтра атрибутів
Comment[x-test]=xxFilter directory view using an attribute filterxx
Comment[zh_TW]=使用屬性過濾器來過濾目錄檢視
Icon=view-filter
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/dirfilter/index.html
