[Desktop Entry]
Encoding=UTF-8
Type=Service
X-KDE-PluginInfo-Author=Dawit Alemayehu,Martin Koller
X-KDE-PluginInfo-Email=adawit@kde.org,m.koller@surfeu.at
X-KDE-PluginInfo-Name=DirFilter
X-KDE-PluginInfo-Version=3.4
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Directory Filter
Name[ca]=Filtre de directoris
Name[cs]=Filtr adresářů
Name[de]=Ordnerfilter-Modul
Name[ia]=Filtro de Directorio
Name[lt]=Katalogų filtras
Name[nl]=Mappenfilter
Name[pt]=Filtro de Pastas
Name[sv]=Katalogfilter
Name[uk]=Фільтр каталогів
Name[x-test]=xxDirectory Filterxx
Comment=Filter directory view using an attribute filter
Comment[ca]=Filtra la vista de directoris usant un filtre d'atributs
Comment[cs]=Podle atributů filtruje zobrazení adresářů
Comment[de]=Filtert die Ordneransicht anhand von Attributen
Comment[ia]=Filtra vista de directorio usante un filtro de attributo
Comment[lt]=Filtruoti aplanką naudojant atributų filtrą
Comment[nl]=Filter de mapinhoud
Comment[pt]=Filtrar a área de pastas com um filtro de atributos
Comment[sv]=Filtrerar katalogvyn med användning av ett egenskapsfilter
Comment[uk]=Фільтрування перегляду каталогів за допомогою фільтра атрибутів
Comment[x-test]=xxFilter directory view using an attribute filterxx
Icon=view-filter
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/dirfilter/index.html
