<!DOCTYPE gui>
<gui name="DirFilter" library="dirfilterplugin" version="4">
<MenuBar>
 <Menu name="tools"><Text>&amp;Tools</Text>
  <Action name="filterdir"/>
 </Menu>
</MenuBar>
<ToolBar name="extraToolBar"><text>Extra Toolbar</text>
  <Action name="filterdir"/>
</ToolBar>
</gui>
