[Desktop Entry]
Encoding=UTF-8
X-KDE-PluginInfo-Author=Lukas Tinkl,Andreas Schlapbach
X-KDE-PluginInfo-Email=lukas@kde.org,schlpbch@iam.unibe.ch
X-KDE-PluginInfo-Name=ImgGalleryPlugin
X-KDE-PluginInfo-Version=3.4
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Image Gallery
Name[ca]=Galeria d'imatges
Name[ca@valencia]=Galeria d'imatges
Name[cs]=Galerie obrázků
Name[da]=Billedgalleri
Name[de]=Bildergalerie
Name[es]=Galería de imágenes
Name[et]=Pildigalerii
Name[fi]=Kuvagalleria
Name[fr]=Galerie d'images
Name[hr]=Galerija slika
Name[hu]=Képtár
Name[ia]=Galeria de imagine
Name[it]=Galleria immagini
Name[ja]=イメージギャラリー
Name[kk]=Кескін галереясы
Name[ko]=그림 갤러리
Name[lt]=Paveikslėlių galerija
Name[nb]=Bildegalleri
Name[nds]=Bildgalerie
Name[nl]=Afbeeldingengalerij
Name[nn]=Biletgalleri
Name[pt]=Galeria de Imagens
Name[pt_BR]=Galeria de imagens
Name[ru]=Галерея изображений
Name[sl]=Galerija slik
Name[sr]=Галерија слика
Name[sr@ijekavian]=Галерија слика
Name[sr@ijekavianlatin]=Galerija slika
Name[sr@latin]=Galerija slika
Name[sv]=Bildgalleri
Name[uk]=Галерея зображень
Name[x-test]=xxImage Galleryxx
Name[zh_TW]=影像集
Comment=An easy way to generate an HTML image gallery
Comment[ca]=Una manera senzilla de generar una galeria d'imatges HTML
Comment[ca@valencia]=Una manera senzilla de generar una galeria d'imatges HTML
Comment[cs]=Jednoduchý způsob jak vygenerovat galerii obrázků HTML galerii obrázků
Comment[da]=En let måde at skabe et billedgalleri i HTML-format på
Comment[de]=Eine einfache Möglichkeit, eine Bildergalerie als Webseite zu erstellen
Comment[es]=Una forma sencilla de generar una galería de imágenes HTML
Comment[et]=Võimalus kiiresti luua HTML-pildigalerii
Comment[fi]=Helppo tapa tuottaa HTML-kuvagalleria
Comment[fr]=Un moyen simple de générer une galerie d'images HTML
Comment[hr]=Lagan način kako generirati galeriju slika u HTML-u
Comment[hu]=Egy egyszerű módszer HTML-képtárak előállítására
Comment[ia]=Un modo facile de generar un galeria de imagines HTML
Comment[it]=Un modo facile per generare una galleria d'immagini in HTML
Comment[ja]=HTML イメージギャラリーを簡単に作成できます
Comment[kk]=HTML Кескін галереясын құрудың оңай жолы
Comment[ko]=HTML 그림 갤러리를 만들 수 있는 쉬운 방법
Comment[lt]=Paprastas HTML nuotraukų galerijos sukūrimo būdas
Comment[nb]=En enkel måte å lage et HTML bildegalleri
Comment[nds]=En HTML-Bildgalerie eenfach opstellen
Comment[nl]=Een eenvoudige manier om een HTML-afbeeldingengalerij aan te maken
Comment[nn]=Ein enkel måte å laga eit HTML-biletgalleri på
Comment[pt]=Uma forma rápida de gerar uma galeria de imagens em HTML
Comment[pt_BR]=Uma forma fácil de gerar uma galeria de imagens em HTML
Comment[ru]=Простой способ создать галерею изображений в HTML
Comment[sl]=Preprost način za ustvaritev galerije slik v obliki HTML
Comment[sr]=Лак начин да направите ХТМЛ галерију слика
Comment[sr@ijekavian]=Лак начин да направите ХТМЛ галерију слика
Comment[sr@ijekavianlatin]=Lak način da napravite HTML galeriju slika
Comment[sr@latin]=Lak način da napravite HTML galeriju slika
Comment[sv]=Ett enkelt sätt att skapa ett HTML-bildgalleri
Comment[uk]=Простий спосіб створити галерею зображень в HTML
Comment[x-test]=xxAn easy way to generate an HTML image galleryxx
Comment[zh_TW]=產生 HTML 影像集的簡易方式
Icon=imagegallery
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/imgallery/index.html
