[Desktop Entry]
Encoding=UTF-8
X-KDE-PluginInfo-Author=Lukas Tinkl,Andreas Schlapbach
X-KDE-PluginInfo-Email=lukas@kde.org,schlpbch@iam.unibe.ch
X-KDE-PluginInfo-Name=ImgGalleryPlugin
X-KDE-PluginInfo-Version=3.4
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Image Gallery
Comment=An easy way to generate an HTML image gallery
Icon=imagegallery
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/imgallery/index.html
