[Desktop Entry]
Encoding=UTF-8
X-KDE-PluginInfo-Author=Lukas Tinkl,Andreas Schlapbach
X-KDE-PluginInfo-Email=lukas@kde.org,schlpbch@iam.unibe.ch
X-KDE-PluginInfo-Name=ImgGalleryPlugin
X-KDE-PluginInfo-Version=3.4
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Image Gallery
Name[ar]=معرض الصور
Name[bg]=Галерия с изображения
Name[bs]=Galerija slika
Name[ca]=Galeria d'imatges
Name[ca@valencia]=Galeria d'imatges
Name[cs]=Galerie obrázků
Name[da]=Billedgalleri
Name[de]=Bildergalerie
Name[el]=Συλλογή εικόνων
Name[en_GB]=Image Gallery
Name[es]=Galería de imágenes
Name[et]=Pildigalerii
Name[eu]=Irudien galeria
Name[fi]=Kuvagalleria
Name[fr]=Galerie d'images
Name[ga]=Gailearaí Íomhánna
Name[gl]=Galería de imaxes
Name[he]=גלריית תמונות
Name[hne]=फोटू ओसारी
Name[hr]=Galerija slika
Name[hu]=Képtár
Name[ia]=Galeria de imagine
Name[id]=Galeri Gambar
Name[is]=Myndasafn
Name[it]=Galleria immagini
Name[ja]=イメージギャラリー
Name[kk]=Кескін галереясы
Name[km]=វិចិត្រសាល​រូបភាព
Name[ko]=그림 갤러리
Name[ku]=Pêşengeha Wêneyan
Name[lt]=Paveikslėlių galerija
Name[lv]=Attēlu galerija
Name[mr]=प्रतिमा प्रदर्शन
Name[nb]=Bildegalleri
Name[nds]=Bildgalerie
Name[nl]=Afbeeldingsgalerij
Name[nn]=Biletgalleri
Name[pa]=ਚਿੱਤਰ ਗੈਲਰੀ
Name[pl]=Galeria obrazów
Name[pt]=Galeria de Imagens
Name[pt_BR]=Galeria de imagens
Name[ro]=Galerie de imagini
Name[ru]=Галерея изображений
Name[sk]=Galéria obrázkov
Name[sl]=Galerija slik
Name[sr]=Галерија слика
Name[sr@ijekavian]=Галерија слика
Name[sr@ijekavianlatin]=Galerija slika
Name[sr@latin]=Galerija slika
Name[sv]=Bildgalleri
Name[tg]=Галереяи тасвирҳо
Name[th]=คลังภาพ
Name[tr]=Resim Galerisi
Name[ug]=سۈرەت يىغقۇچ
Name[uk]=Галерея зображень
Name[wa]=Galreye d' imådje
Name[x-test]=xxImage Galleryxx
Name[zh_CN]=图片集
Name[zh_TW]=影像收藏本
Comment=An easy way to generate an HTML image gallery
Comment[ar]=طريقة سريعة لإنشاء معرض صور HTML
Comment[bg]=Лесен начин за създаване на галерия с изображения в HTML
Comment[bs]=Lak način da napravite HTML galeriju slika
Comment[ca]=Una manera senzilla de generar una galeria d'imatges HTML
Comment[ca@valencia]=Una manera senzilla de generar una galeria d'imatges HTML
Comment[cs]=Jednoduchý způsob jak vygenerovat galerii obrázků HTML galerii obrázků
Comment[da]=En let måde at skabe et billedgalleri i HTML-format på
Comment[de]=Eine einfache Möglichkeit, eine Bildergalerie als Webseite zu erstellen
Comment[el]=Εύκολος τρόπος δημιουργίας μιας συλλογής εικόνων σε HTML
Comment[en_GB]=An easy way to generate a HTML image gallery
Comment[es]=Una forma sencilla de generar una galería de imágenes HTML
Comment[et]=Võimalus kiiresti luua HTML-pildigalerii
Comment[eu]=Modu erraz bat HTMLko irudien galeria sortzeko
Comment[fi]=Helppo tapa tuottaa HTML-kuvagalleria
Comment[fr]=Un moyen simple pour générer une galerie d'images HTML
Comment[ga]=Modh éasca chun gailearaí íomhá HTML a chruthú
Comment[gl]=Unha forma fácil de xerar unha galería HTML de imaxes
Comment[he]=דרך קלה לחולל גלריית תמונות HTML
Comment[hr]=Lagan način kako generirati galeriju slika u HTML-u
Comment[hu]=Egy egyszerű módszer HTML-képtárak előállítására
Comment[ia]=Un modo facile de generar un galeria de imagines HTML
Comment[id]=Sebuah cara cepat untuk menghasilkan galeri gambar HTML
Comment[is]=Búa til HTML-myndasafn á fljótvirkan hátt
Comment[it]=Un modo facile per generare una galleria d'immagini in HTML
Comment[ja]=HTML イメージギャラリーを簡単に作成できます
Comment[kk]=HTML Кескін галереясын құрудың оңай жолы
Comment[km]=វិធីសាស្ត្រ​ងាយស្រួល​ក្នុងការ​បង្កើត​វិចិត្រសាល​រូបភាព HTML
Comment[ko]=HTML 그림 갤러리를 만들 수 있는 쉬운 방법
Comment[lt]=Paprastas HTML nuotraukų galerijos sukūrimo būdas
Comment[lv]=Viegls veids, kā izveidot HTML attēlu galeriju
Comment[mr]=HTML प्रतिमा प्रदर्शन करण्याकरिता सोपा मार्ग
Comment[nb]=En enkel måte å lage et HTML bildegalleri
Comment[nds]=En HTML-Bildgalerie eenfach opstellen
Comment[nl]=Een eenvoudige manier om een HTML-afbeeldingengalerij aan te maken
Comment[nn]=Ein enkel måte å laga eit HTML-biletgalleri på
Comment[pa]=ਇੱਕ HTML ਚਿੱਤਰ ਗੈਲਰੀ ਬਣਾਉਣ ਦਾ ਸੌਖਾ ਢੰਗ
Comment[pl]=Łatwy sposób na wygenerowanie galerii obrazów HTML
Comment[pt]=Uma forma fácil de gerar uma galeria de imagens em HTML
Comment[pt_BR]=Uma forma fácil de gerar uma galeria de imagens em HTML
Comment[ro]=O cale rapidă de a genera o galerie de imagini HTML
Comment[ru]=Легкий способ создать галерею изображений в HTML
Comment[sk]=Jednoduchý spôsob ako vytvoriť HTML galériu obrázkov
Comment[sl]=Preprost način za ustvaritev galerije slik HTML
Comment[sr]=Лак начин да направите ХТМЛ галерију слика
Comment[sr@ijekavian]=Лак начин да направите ХТМЛ галерију слика
Comment[sr@ijekavianlatin]=Lak način da napravite HTML galeriju slika
Comment[sr@latin]=Lak način da napravite HTML galeriju slika
Comment[sv]=Ett enkelt sätt att skapa ett HTML-bildgalleri
Comment[tg]=Роҳи осон барои эҷоди галереяи тасвирҳои HTML
Comment[th]=หนทางในการสร้างคลังภาพรูปแบบ HTML อย่างง่าย ๆ
Comment[tr]=HTML resim galerisi oluşturmanın kolay bir yolu
Comment[ug]=HTML سۈرەت يىغقۇچ ھاسىل قىلىدىغان ئاددىي ئۇسۇل
Comment[uk]=Простий спосіб створити галерею зображень в HTML
Comment[wa]=Ene åjheye façon d' askepyî ene galreye d' imådje HTML
Comment[x-test]=xxAn easy way to generate an HTML image galleryxx
Comment[zh_CN]=一种生成 HTML 图片集的便捷方式
Comment[zh_TW]=產生 HTML 影像收藏的簡易方式
Icon=imagegallery
X-KDE-ParentApp=konqueror
DocPath=konq-plugins/imgallery/index.html
