[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=rellinks
X-KDE-PluginInfo-Author=Anders Lund, Franck Quélain, Kevin Krammer, Olivier Goffart
X-KDE-PluginInfo-Email=anders@alweb.dk, shift@free.fr, kevin.krammer@gmx.at, ogoffart@kde.org
X-KDE-PluginInfo-Name=rellinks
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=view-choose
Name=Document Relations
Name[ar]=علاقات المستند
Name[bg]=Отношения между документи
Name[bs]=Odnosi dokumenta
Name[ca]=Relacions del document
Name[ca@valencia]=Relacions del document
Name[cs]=Vztahy v dokumentu
Name[da]=Dokumentrelationer
Name[de]=Dokumentenbeziehungen
Name[el]=Σχέσεις εγγράφου
Name[en_GB]=Document Relations
Name[es]=Relaciones de documento
Name[et]=Dokumendi relatsioonid
Name[eu]=Dokumentu-erlazioak
Name[fi]=Asiakirjasuhteet
Name[fr]=Relations entre documents
Name[ga]=Gaolta Cáipéise
Name[gl]=Relacións do documento
Name[he]=ייחוסים של מסמך
Name[hne]=कागद सम्बन्ध
Name[hr]=Relacije dokumenta
Name[hu]=Dokumentumkapcsolatok
Name[ia]=Relationes de documento 
Name[id]=Hubungan Dokumentasi
Name[is]=Tengsl skjala
Name[it]=Relazioni del documento
Name[ja]=文書の関係
Name[kk]=Құжаттың байланыстары
Name[km]=ទំនាក់ទំនង​ឯកសារ
Name[ko]=문서 관계
Name[ku]=Têkiliyên Belgeyê
Name[lt]=Dokumentų sąryšiai
Name[lv]=Dokumentu saistības
Name[mr]=दस्तऐवजातील संबंध
Name[ms]=Hubungan Dokumen
Name[nb]=Dokumentrelasjoner
Name[nds]=Dokmentbetöög
Name[nl]=Documentrelaties
Name[nn]=Dokumentforhold
Name[pa]=ਡੌਕੂਮੈਂਟ ਸਬੰਧ
Name[pl]=Związki dokumentu
Name[pt]=Relações do Documento
Name[pt_BR]=Relações do documento
Name[ro]=Relații document
Name[ru]=Связи между документами
Name[sk]=Vzťahy dokumentu
Name[sl]=Povezave med dokumenti
Name[sr]=Релације документа
Name[sr@ijekavian]=Релације документа
Name[sr@ijekavianlatin]=Relacije dokumenta
Name[sr@latin]=Relacije dokumenta
Name[sv]=Dokumentförhållanden
Name[tg]=Муносибатҳои ҳуҷҷат
Name[th]=ความสัมพันธ์ของเอกสาร
Name[tr]=Belge İlişkileri
Name[ug]=پۈتۈك مۇناسىۋىتى
Name[uk]=Зв'язок між документами
Name[wa]=Aloyaedjes di documints
Name[x-test]=xxDocument Relationsxx
Name[zh_CN]=文档关系
Name[zh_TW]=文件關聯
Comment=Displays the document relations of a document
Comment[ar]=تعرض علاقات المستند لمستند
Comment[bg]=Показване на отношението на документ към друг документ
Comment[bs]=Prikazuje odnose dokumenta
Comment[ca]=Mostra les relacions de document d'un document
Comment[ca@valencia]=Mostra les relacions de document d'un document
Comment[cs]=Zobrazí vztahy dokumentu
Comment[da]=Viser dokumentrelationer for et dokument
Comment[de]=Zeigt die Dokumentbeziehungen des Dokuments an
Comment[el]=Εμφανίζει τις σχέσεις εγγράφου ενός εγγράφου
Comment[en_GB]=Displays the document relations of a document
Comment[es]=Muestra las relaciones de documento de un documento
Comment[et]=Näitab dokumendi relatsioone
Comment[eu]=Dokumentuaren dokumentu-erlazioak bistaratzen ditu
Comment[fi]=Näyttää asiakirjan asiakirjasuhteet
Comment[fr]=Affiche les relations d'un document avec d'autres documents
Comment[ga]=Taispeáin gaolta na cáipéise
Comment[gl]=Mostra as relacións que ten este documento con outros
Comment[he]=מציג את הייחוסים של המסמך
Comment[hne]=कागद के कागद सम्बन्ध प्रदर्सित करथे 
Comment[hr]=Prikazuje odnos dokumenta s drugim dokumentima
Comment[hu]=Egy dokumentum dokumentumkapcsolatainak megjelenítése
Comment[ia]=Monstra le relationes de documento de un documento
Comment[id]=Menampilkan hubungan dokumen pada dokumen
Comment[is]=Birtir vensl í skjali
Comment[it]=Mostra le relazioni del documento
Comment[ja]=一連の文書の中の文書の関係を表示します
Comment[kk]=Құжаттың байланыстарын көрсетеді
Comment[km]=បង្ហាញ​ឯកសារ​មាន​ទំនាក់ទំនង​ឯកសារ
Comment[ko]=문서 사이의 관계 표시하기
Comment[ku]=Têkiliyên belgeyê nîşan dide
Comment[lt]=Rodo dokumento sąryšius
Comment[lv]=Pārāda dokumenta saistības ar citiem dokumentiem
Comment[mr]=दस्तऐवजातील संबंध दर्शवितो
Comment[nb]=Viser dokumentrelasjonene til et dokument
Comment[nds]=Wiest de Dokmentbetöög vun en Dokment
Comment[nl]=Toont de documentrelaties van een document
Comment[nn]=Viser dokumentforholda til eit dokument
Comment[pa]=ਇੱਕ ਡੌਕੂਮੈਂਟ ਦਾ ਡੌਕੂਮੈਂਟ ਸਬੰਧ ਵੇਖੋ
Comment[pl]=Wyświetla związki w dokumencie
Comment[pt]=Mostra as relações entre os documentos de um dado documento
Comment[pt_BR]=Exibe as relações de um documento com outros documentos
Comment[ro]=Afișează relațiile unui document
Comment[ru]=Отображает связи документа
Comment[sk]=Zobrazí dokument, vzťahy dokumentu
Comment[sl]=Prikaže povezave med dokumenti
Comment[sr]=Приказује релације документа
Comment[sr@ijekavian]=Приказује релације документа
Comment[sr@ijekavianlatin]=Prikazuje relacije dokumenta
Comment[sr@latin]=Prikazuje relacije dokumenta
Comment[sv]=Visar dokumentförhållanden för ett dokument
Comment[tg]=Муносибатҳои ҳуҷҷат нишон медиҳад
Comment[th]=แสดงความสัมพันธ์ระหว่างเอกสารกับเอกสาร
Comment[tr]=Bir belgenin belge ilişkilerini gösterir
Comment[ug]=بىر پۈتۈك بىلەن مۇناسىۋەتلىك پۈتۈكنى كۆرسىتىدۇ
Comment[uk]=Показ взаємозв’язку частин документа
Comment[wa]=Håyene les aloyaedjes di documint d' on documint
Comment[x-test]=xxDisplays the document relations of a documentxx
Comment[zh_CN]=显示和一个文档有关系的文档
Comment[zh_TW]=顯示某文件的文件關聯
X-KDE-ParentApp=konqueror
