[Desktop Entry]
Type=Service
Icon=folder-favorites
Name=Places SideBar Module
Name[cs]=Modul postranního panelu míst
Name[en_GB]=Places SideBar Module
Name[es]=Módulo de la barra lateral de lugares
Name[et]=Asukohtade külgriba moodul
Name[he]=מודול סרגל צד מקומות
Name[ia]=Modulo de Barra Lateral de Placias
Name[id]=Tempat Modul Batang Sisi
Name[is]=Staðahliðarsláreining
Name[ja]=場所のサイドバーモジュール
Name[kk]=Бүйір панель орындар модулі
Name[km]=ម៉ូឌុល​របារ​ចំហៀង​​ទីកន្លែង​
Name[lt]=Šoninės vietų juostos modulis
Name[nb]=Modul for steder-sidestolpe
Name[nds]=Steden-Sietpaneelmoduul
Name[nl]=Plaatst module voor zijbalk
Name[pt]=Módulo da Barra Lateral dos Locais
Name[pt_BR]=Módulo de locais da barra lateral
Name[sl]=Modul stranskega pasu z mesti
Name[sv]=Sidoradsmodul med platser
Name[tg]=Модули панели маконҳо
Name[th]=มอดูลแถบข้างที่หลัก ๆ
Name[tr]=Yerler Yan Çubuk Modülü
Name[uk]=Модуль місць бічної панелі
Name[x-test]=xxPlaces SideBar Modulexx
Name[zh_TW]=地方邊列模組
X-KDE-Library=konqsidebar_places
