[Desktop Entry]
Type=Service
Icon=folder-favorites
Name=Places SideBar Module
Name[pt]=Módulo da Barra Lateral dos Locais
Name[sv]=Sidoradsmodul med platser
Name[uk]=Модуль місць бічної панелі
X-KDE-Library=konqsidebar_places
