[Desktop Entry]
X-KDE-Library=khtmlsettingsplugin
X-KDE-PluginInfo-Author=Carsten Pfeiffer
X-KDE-PluginInfo-Email=pfeiffer@kde.org
X-KDE-PluginInfo-Name=khtmlsettingsplugin
X-KDE-PluginInfo-Version=@khtmlsetting_VERSION@
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Name=HTML Settings
Name[ca]=Arranjament HTML
Name[es]=Preferencias de HTML
Name[nl]=HTML-instellingen
Name[sv]=HTML-inställningar
Name[uk]=Параметри HTML
Name[x-test]=xxHTML Settingsxx
Comment=A fast way to change the HTML settings
Comment[ca]=Una manera ràpida de canviar la configuració de l'HTML
Comment[es]=Una forma rápida de cambiar las preferencias de HTML
Comment[nl]=Een snelle manier om de HTML-instellingen te wijzigen
Comment[sv]=Ett snabbt sätt att ändra HTML-inställningarna
Comment[uk]=Швидкий шлях зміни параметрів HTML
Comment[x-test]=xxA fast way to change the HTML settingsxx
X-KDE-ParentApp=konqueror
Icon=configure
DocPath=konq-plugins/khtmlsettings/index.html
