[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=khtmlsettingsplugin
X-KDE-PluginInfo-Author=Carsten Pfeiffer
X-KDE-PluginInfo-Email=pfeiffer@kde.org
X-KDE-PluginInfo-Name=khtmlsettingsplugin
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=KHTML Settings
Name[ar]=إعدادات KHTML
Name[bg]=Настройки на KHTML
Name[bs]=Postavke KHTML‑a
Name[ca]=Arranjament KHTML
Name[ca@valencia]=Arranjament KHTML
Name[cs]=Nastavení KHTML
Name[da]=Indstilling af KHTML
Name[de]=KHTML-Einstellungen
Name[el]=Ρυθμίσεις KHTML
Name[en_GB]=KHTML Settings
Name[es]=Preferencias de KHTML
Name[et]=KHTML-i seadistused
Name[eu]=KHTML ezarpenak
Name[fi]=KHTML-asetukset
Name[fr]=Paramètres de KHTML
Name[ga]=Socruithe KHTML
Name[gl]=Configuración de KHTML
Name[he]=הגדרות KHTML
Name[hne]=के-एचटीएमएल सेटिंग
Name[hr]=Postavke KHTML-a
Name[hu]=KHTML-beállítások
Name[ia]=Preferentias  de KHTML
Name[id]=Pengaturan KHTML
Name[is]=Stillingar KHTML
Name[it]=Impostazioni KHTML
Name[ja]=KHTML 設定
Name[kk]=KHTML параметрлері
Name[km]=ការ​កំណត់ KHTML
Name[ko]=KHTML 설정
Name[ku]=Mîhengên KHTML
Name[lt]=KHTML nustatymai
Name[lv]=KHTML iestatījumi
Name[mr]=KHTML संयोजना
Name[nb]=KHTML-innstillinger
Name[nds]=KHTML-Instellen
Name[nl]=KHTML-instellingen
Name[nn]=KHTML-innstillingar
Name[oc]=Paramètres de KHTML
Name[pa]=KHTML ਸੈਟਿੰਗ
Name[pl]=Ustawienia KHTML
Name[pt]=Configuração do KHTML
Name[pt_BR]=Configurações do KHTML
Name[ro]=Preferințe KHTML
Name[ru]=Параметры KHTML
Name[sk]=Nastavenie KHTML
Name[sl]=Nastavitve KHTML
Name[sr]=Поставке КХТМЛ‑а
Name[sr@ijekavian]=Поставке КХТМЛ‑а
Name[sr@ijekavianlatin]=Postavke KHTML‑a
Name[sr@latin]=Postavke KHTML‑a
Name[sv]=KHTML-inställningar
Name[tg]=Танзимотҳои KHTML
Name[th]=ตั้งค่าต่าง ๆ ของ KHTML
Name[tr]=KHTML Ayarları
Name[ug]=KHTML تەڭشەكلىرى
Name[uk]=Параметри KHTML
Name[wa]=Apontiaedjes KHTML
Name[x-test]=xxKHTML Settingsxx
Name[zh_CN]=KHTML 设置
Name[zh_TW]=KHTML 設定
Comment=A fast way to change the KHTML settings
Comment[ar]=طريقة سريعة لتغير إعدادات KHTML
Comment[bg]=Бърз начин за промяна настройките на KHTML
Comment[bs]=Brz način da izmijenite postavke KHTML‑a
Comment[ca]=Una manera ràpida de canviar els paràmetres del KHTML
Comment[ca@valencia]=Una manera ràpida de canviar els paràmetres del KHTML
Comment[cs]=Rychlý způsob jak změnit nastavení KHTML
Comment[da]=En hurtig måde at ændre KHTML's indstillinger.
Comment[de]=Schnelle Möglichkeit zur Änderung der KHTML-Einstellungen
Comment[el]=Γρήγορος τρόπος αλλαγής των ρυθμίσεων του KHTML
Comment[en_GB]=A fast way to change the KHTML settings
Comment[es]=Una forma rápida de cambiar las preferencias de KHTML
Comment[et]=Võimalus kiiresti muuta KHTML-i seadistusi
Comment[eu]=KHTML ezarpenak era azkarrean aldatzeko modua
Comment[fi]=Nopea tapa vaihtaa KHTML-asetuksia
Comment[fr]=Un moyen rapide pour modifier les paramètres de KHTML
Comment[ga]=Modh tapa chun socruithe KHTML a athrú
Comment[gl]=Unha forma rápida de alterar a configuración de KHTML
Comment[he]=דרך מהירה לשנות את הגדרות ה־KHTML
Comment[hne]=के-एचटीएमएल सेटिंग बदले के तेज तरीका
Comment[hr]=Brzi način kako promijeniti KHTML postavke
Comment[hu]=Egy gyors módszer a KHTML beállításainak megváltoztatására
Comment[ia]=Un modo rapide de cambiar le preferentias de KHTML
Comment[id]=Sebuah cara cepat untuk mengubah pengaturan KHTML
Comment[is]=Breyta stillingum KHTML á fljótvirkan hátt
Comment[it]=Un modo veloce di cambiare le impostazioni di KHTML
Comment[ja]=KHTML 設定を素早く変更できます
Comment[kk]=KHTML параметрлерін өзгертудің оңай жолы
Comment[km]=វិធី​លឿន​បំផុត​ដើម្បី​ផ្លាស់ប្ដូរ​ការ​កំណត់ KHTML
Comment[ko]=KHTML 설정을 바꿀 수 있는 빠른 방법
Comment[ku]=Riya lez ji bo guherandina mîhengên KHTML
Comment[lt]=Greitas KHTML nustatymų keitimo būdas
Comment[lv]=Ātrs veids, kā mainīt KHTML iestatījumus
Comment[mr]=KHTML संयोजना बदलण्यासाठी वेगवान मार्ग
Comment[nb]=En rask måte å endre innstillinger for KHTML
Comment[nds]=De KHTML-Instellen gau ännern
Comment[nl]=Een snelle manier om de KHTML-instellingen te wijzigen
Comment[nn]=Ein rask måte å endra KHTML-innstillingane på
Comment[pa]=KHTML ਸੈਟਿੰਗ ਬਦਲਣ ਦਾ ਤੇਜ਼ ਢੰਗ
Comment[pl]=Szybki sposób na zmianę ustawień KHTML
Comment[pt]=Uma forma rápida de alterar a configuração do KHTML
Comment[pt_BR]=Uma forma rápida de alterar as configurações do KHTML
Comment[ro]=O cale rapidă de schimbare a preferințelor KHTML
Comment[ru]=Быстрый способ поменять параметры KHTML
Comment[sk]=Rýchly spôsob ako zmeniť nastavenie KHTML
Comment[sl]=Hiter način za spreminjanje nastavitev KHTML
Comment[sr]=Брз начин да измените поставке КХТМЛ‑а
Comment[sr@ijekavian]=Брз начин да измијените поставке КХТМЛ‑а
Comment[sr@ijekavianlatin]=Brz način da izmijenite postavke KHTML‑a
Comment[sr@latin]=Brz način da izmenite postavke KHTML‑a
Comment[sv]=Ett snabbt sätt att ändra KHTML-inställningarna
Comment[tg]=Роҳи тезтарин барои иваз кардани танзимоти KHTML
Comment[th]=หนทางในการตั้งค่าต่าง ๆ ของ KHTML อย่างรวดเร็ว
Comment[tr]=KHTML ayarlarını değiştirmenin hızlı bir yolu
Comment[ug]=KHTML تەڭشىكىنى تېز سۈرئەتتە ئۆزگەرتىدىغان ئۇسۇل
Comment[uk]=Швидкий шлях зміни параметрів KHTML
Comment[wa]=Ene roede façon d' candjî les apontiaedjes di KHTML
Comment[x-test]=xxA fast way to change the KHTML settingsxx
Comment[zh_CN]=一种快速改变 KHTML 设置的方法
Comment[zh_TW]=快速變更 KHTML 設定的方法
X-KDE-ParentApp=konqueror
Icon=configure
DocPath=konq-plugins/khtmlsettings/index.html
