[Desktop Entry]
X-KDE-Library=khtmlsettingsplugin
X-KDE-PluginInfo-Author=Carsten Pfeiffer
X-KDE-PluginInfo-Email=pfeiffer@kde.org
X-KDE-PluginInfo-Name=khtmlsettingsplugin
X-KDE-PluginInfo-Version=@khtmlsetting_VERSION@
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Name=HTML Settings
Comment=A fast way to change the HTML settings
X-KDE-ParentApp=konqueror
Icon=configure
DocPath=konq-plugins/khtmlsettings/index.html
