<!DOCTYPE kpartgui> 
	<kpartgui library="autorefresh" name="autorefresh" version="2" > 
	<MenuBar> 
		<Menu name="tools">
			<text>&amp;Tools</text> 
			<Action name="autorefresh"/> 
		</Menu> 
	</MenuBar> 
</kpartgui>

