[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=autorefresh
X-KDE-PluginInfo-Author=Richard J. Moore
X-KDE-PluginInfo-Email=rich@kde.org
X-KDE-PluginInfo-Name=autorefresh
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Auto Refresh
Name[ca]=Refresc automàtic
Name[cs]=Automaticky obnovit
Name[da]=Genopfrisk automatisk
Name[de]=Automatische Aktualisierung
Name[es]=Refresco automático
Name[et]=Automaatne uuendamine
Name[fr]=Rafraîchir automatiquement
Name[ia]=Refrescamento automatic
Name[it]=Autoaggiornamento
Name[ja]=自動更新
Name[kk]=Автожаңарту
Name[ko]=자동 새로 고침
Name[lt]=Automatiškai atnaujinti
Name[nb]=Automatisk oppfriskning
Name[nds]=Automaatsch Opfrischen
Name[nl]=Autoverversen
Name[nn]=Automatisk oppdatering
Name[pt]=Auto-Actualização
Name[pt_BR]=Atualizar automaticamente
Name[ru]=Автообновление
Name[sr]=Аутоосвежавање
Name[sr@ijekavian]=Аутоосвежавање
Name[sr@ijekavianlatin]=Autoosvežavanje
Name[sr@latin]=Autoosvežavanje
Name[sv]=Automatisk uppdatering
Name[uk]=Автоматичне оновлення
Name[x-test]=xxAuto Refreshxx
Name[zh_TW]=自動更新
Comment=Auto Refresh plugin
Comment[ca]=Connector de refresc automàtic
Comment[cs]=Automaticky obnovit modul
Comment[da]=Plugin til automatisk genopfriskning
Comment[de]=Aktualisierungsmodul
Comment[es]=Complemento de refresco automático
Comment[et]=Automaatse uuendamise plugin
Comment[fr]=Module externe de rafraîchissement automatique
Comment[ia]=Plug-in de refrescamento automatic
Comment[it]=Estensione di autoaggiornamento
Comment[ja]=自動更新プラグイン
Comment[kk]=Автожаңарту плагині
Comment[ko]=자동 새로 고침 플러그인
Comment[lt]=Automatinio atnaujinimo priedas
Comment[nb]=Programtillegg for auto-oppfrisking
Comment[nds]=Moduul för't automaatsche Opfrischen
Comment[nl]=Autoverversplugin
Comment[nn]=Programtillegg for automatisk oppdatering
Comment[pt]='Plugin' de Auto-Actualização
Comment[pt_BR]=Plug-in de atualização automática
Comment[ru]=Модуль автообновления
Comment[sr]=Прикључак аутоосвежавања
Comment[sr@ijekavian]=Прикључак аутоосвежавања
Comment[sr@ijekavianlatin]=Priključak autoosvežavanja
Comment[sr@latin]=Priključak autoosvežavanja
Comment[sv]=Insticksprogram för automatisk uppdatering
Comment[uk]=Додаток автоматичного оновлення
Comment[x-test]=xxAuto Refresh pluginxx
Comment[zh_TW]=自動更新外掛程式
Icon=view-refresh
X-KDE-ParentApp=konqueror

