[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=autorefresh
X-KDE-PluginInfo-Author=Richard J. Moore
X-KDE-PluginInfo-Email=rich@kde.org
X-KDE-PluginInfo-Name=autorefresh
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Auto Refresh
Comment=Auto Refresh plugin
Icon=view-refresh
X-KDE-ParentApp=konqueror

