[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=UserAgentChanger
X-KDE-PluginInfo-Author=Dawit Alemayehu
X-KDE-PluginInfo-Email=adawit@kde.org
X-KDE-PluginInfo-Name=UserAgentChanger
X-KDE-PluginInfo-Version=3.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Tools
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=UserAgent Changer
Comment=Allows the detected UserAgent to be modified
X-KDE-ParentApp=konqueror
Icon=preferences-web-browser-identification
DocPath=konq-plugins/uachanger/index.html
